[Desktop Entry]
Encoding=UTF-8
Exec=assistant
Name=Qt Assistant
Name[af]=Qt Assistent
Name[ar]=Qt مساعد
Name[br]=Skoazeller Qt
Name[ca]=Assistent Qt
Name[cs]=Qt asistent
Name[cy]=Cymhorthwr Qt
Name[de]=Qt-Assistent
Name[el]=Βοηθός Qt
Name[eo]=Qt-Asistilo
Name[es]=Asistente Qt
Name[eu]=Qt laguntzailea
Name[fa]=دستیار Qt
Name[fy]=Qt-assistent
Name[hr]=Qt Asistent
Name[ja]=Qt アシスタント
Name[ka]=Qt დამხმარე
Name[kk]=Qt көмекшісі
Name[km]=អ្នក​ជំនួយការ Qt
Name[lv]=Qt Asistents
Name[mk]=Qt-Асистент
Name[ms]=Pembantu Qt
Name[nds]=Qt-Hölper
Name[ne]=Qt सहायक
Name[nl]=Qt Assistent
Name[pa]=Qt ਸਹਾਇਕ
Name[pt]=Assistente do Qt
Name[pt_BR]=Assistente Qt
Name[ro]=Asistent Qt
Name[ru]=Помощник Qt
Name[sl]=Pomočnik za Qt
Name[sr]=Qt Помоћник
Name[ta]=Qt துணைவன்
Name[te]=క్యుట్ సహాయకుడు
Name[tg]=Дастёри Qt
Name[uk]=Qt-асистент
Name[uz]=Qt3 ёрдамчи
Name[vi]=Trợ lý Qt
Name[wa]=Macrea Qt
Name[x-test]=xxQt Assistantxx
Name[xh]=Qt Umncedi
Name[zh_CN]=Qt 助手
Name[zh_TW]=Qt 助理
GenericName=Document Browser
GenericName[af]=Dokument Blaaier
GenericName[ar]=متصفح المستندات
GenericName[be]=Праглядальнік дакументаў
GenericName[bg]=Преглед на документи
GenericName[br]=Furcher Teulioù
GenericName[ca]=Navegador de documents
GenericName[cs]=Prohlížeč dokumentace
GenericName[csb]=Przezérnik dokùmentów
GenericName[cy]=Porydd Dogfen
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[eo]=Dokumentorigardilo
GenericName[es]=Navegador de documentos
GenericName[et]=Dokumentatsiooni brauser
GenericName[eu]=Dokumentu arakatzailea
GenericName[fa]=مرورگر سند
GenericName[fi]=Asiakirjaselain
GenericName[fr]=Explorateur de documentation Qt
GenericName[fy]=Dokumintblêder
GenericName[ga]=Brabhsálaí Cáipéise
GenericName[gl]=Navegador de Documentos
GenericName[he]=דפדפן מסמכים
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentumböngésző
GenericName[is]=Skjalavafri
GenericName[it]=Visualizzatore di documenti
GenericName[ja]=ドキュメントブラウザ
GenericName[ka]=დოკუმენტის ბრაუზერი
GenericName[kk]=Құжат шолғыш
GenericName[km]=កម្មវិធី​រុករក​ឯកសារ
GenericName[ko]=문서 탐색기
GenericName[lt]=Dokumentų naršyklė
GenericName[lv]=Dokumentu Pārlūks
GenericName[mk]=Прелистувач на документи
GenericName[ms]=Pelungsur Dokumen
GenericName[nb]=Dokumentleser
GenericName[nds]=Dokmentkieker
GenericName[ne]=कागजात ब्राउजर
GenericName[nl]=Documentbrowser
GenericName[nn]=Dokumentlesar
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ro]=Navigator de documente
GenericName[ru]=Программа просмотра документов
GenericName[se]=Dokumeantalogan
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sr]=Прегледач докумената
GenericName[sr@latin]=Pregledač dokumenata
GenericName[sv]=Dokumentbläddrare
GenericName[ta]=ஆவண உலாவி
GenericName[te]=పత్ర బ్రౌజర్
GenericName[tg]=Тафсири ҳуҷҷат
GenericName[th]=เครื่องมือเลือกดูแฟ้มเอกสาร
GenericName[tr]=Belge Tarayıcısı
GenericName[uk]=Навігатор документів
GenericName[uz]=Ҳужжат браузери
GenericName[vi]=Bộ duyệt tài liệu
GenericName[wa]=Foyteu di documints
GenericName[x-test]=xxDocument Browserxx
GenericName[xh]=Umkhangeli Wencwadi Zoxwebhu
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
X-KDE-StartupNotify=true
Icon=assistant
Terminal=false
Type=Application
