[Desktop Entry]
Exec=assistant
Name=Qt Assistant
Name[af]=Qt Assistent
Name[ar]=مساعد Qt
Name[as]=Qt Assistant
Name[be]=Qt Assistant
Name[be@latin]=Qt Assistant
Name[bg]=Qt Assistant
Name[bn]=কিউ-টি সহায়ক
Name[bn_IN]=Qt Assistant
Name[br]=Skoazeller Qt
Name[ca]=Assistent Qt
Name[ca@valencia]=Assistent Qt
Name[cs]=Qt asistent
Name[csb]=Qt Assistant
Name[cy]=Cymhorthwr Qt
Name[da]=Qt Assistant
Name[de]=Qt Assistant
Name[el]=Βοηθός Qt
Name[en_GB]=Qt Assistant
Name[eo]=Qt-Asistilo
Name[es]=Asistente Qt
Name[et]=Qt Assistant
Name[eu]=Qt laguntzailea
Name[fa]=دستیار Qt
Name[fi]=Qt Assistant
Name[fr]=Qt Assistant
Name[fy]=Qt-assistent
Name[ga]=Qt Assistant
Name[gl]=Qt Assistant
Name[gu]=Qt મદદકર્તા
Name[he]=Qt Assistant
Name[hi]=क्यूटी सहायक
Name[hne]=क्यूटी सहायक
Name[hr]=Qt Assistant
Name[hsb]=Qt Asistent
Name[hu]=Qt Assistant
Name[is]=Qt Assistant
Name[it]=Qt Assistant
Name[ja]=Qt アシスタント
Name[ka]=Qt დამხმარე
Name[kk]=Qt көмекшісі
Name[km]=អ្នក​ជំនួយការ Qt
Name[kn]=ಕ್ಯೂಟಿ ನೆರವಿಗ
Name[ko]=Qt Assistant
Name[ku]=Alîkarê Qt
Name[lt]=Qt Asistentas
Name[lv]=Qt palīgs
Name[mai]=क्यूटी सहायक
Name[mk]=Qt-Асистент
Name[ml]=ക്യൂട്ടി സഹായി
Name[mr]=Qt सहायक
Name[ms]=Pembantu Qt
Name[nb]=Qt Assistant
Name[nds]=Qt-Hölper
Name[ne]=Qt सहायक
Name[nl]=Qt Assistent
Name[nn]=Qt Assistant
Name[or]=Qt ସହାୟକ
Name[pa]=Qt ਸਹਾਇਕ
Name[pl]=Qt Assistant
Name[pt]=Assistente do Qt
Name[pt_BR]=Assistente Qt
Name[ro]=Asistent Qt
Name[ru]=Справка Qt
Name[se]=Qt Assistant
Name[si]=Qt සහායක
Name[sk]=Qt Assistant
Name[sl]=Qt Assistant
Name[sr]=КуТ‑асистент
Name[sr@latin]=QtAssistant
Name[sv]=Qt Assistant
Name[ta]=க்யூடி துணைவன்
Name[te]=క్యూటి సహాయకుడు
Name[tg]=Qt Assistant
Name[th]=Qt Assistant
Name[tr]=Qt Assistant
Name[uk]=Qt-асистент
Name[uz]=Qt3 yordamchi
Name[uz@cyrillic]=Qt3 ёрдамчи
Name[vi]=Trợ lý Qt
Name[wa]=Macrea Qt
Name[xh]=Qt Umncedi
Name[x-test]=xxQt Assistantxx
Name[zh_CN]=Qt 助手
Name[zh_TW]=Qt 助理
GenericName=Document Browser
GenericName[af]=Dokument Blaaier
GenericName[ar]=متصفح المستندات
GenericName[as]=আলেখ্যনৰ চৰক
GenericName[be]=Праглядальнік дакументаў
GenericName[be@latin]=Hartač dakumentacyi
GenericName[bg]=Преглед на документи
GenericName[bn]=নথী ব্রাউজার
GenericName[bn_IN]=ডকুমেন্ট ব্রাউজার
GenericName[br]=Furcher Teulioù
GenericName[ca]=Navegador de documents
GenericName[ca@valencia]=Navegador de documents
GenericName[cs]=Prohlížeč dokumentace
GenericName[csb]=Przezérnik dokùmentów
GenericName[cy]=Porydd Dogfen
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[en_GB]=Document Browser
GenericName[eo]=Dokumenta foliumilo
GenericName[es]=Navegador de documentos
GenericName[et]=Dokumentatsiooni brauser
GenericName[eu]=Dokumentu arakatzailea
GenericName[fa]=مرورگر سند
GenericName[fi]=Asiakirjaselain
GenericName[fr]=Explorateur de documents
GenericName[fy]=Dokumintblêder
GenericName[ga]=Brabhsálaí Cáipéise
GenericName[gl]=Navegador de documentos
GenericName[gu]=દસ્તાવેજ શોધખોળ
GenericName[he]=דפדפן מסמכים
GenericName[hi]=दस्तावेज़ ब्राउज़रज़र
GenericName[hne]=कागद ब्राउजर
GenericName[hr]=Preglednik dokumenata
GenericName[hsb]=Přelistowar za tekstowe dokumenty
GenericName[hu]=Dokumentumböngésző
GenericName[is]=Skjalavafri
GenericName[it]=Visore di documenti
GenericName[ja]=ドキュメントブラウザ
GenericName[ka]=დოკუმენტის ბრაუზერი
GenericName[kk]=Құжат шолғыш
GenericName[km]=កម្មវិធី​រុករក​ឯកសារ
GenericName[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
GenericName[ko]=문서 탐색기
GenericName[ku]=Geroka Belgeyan
GenericName[lt]=Dokumentų naršyklė
GenericName[lv]=Dokumentu pārlūks
GenericName[mai]=दस्ताबेज ब्राउजर
GenericName[mk]=Прелистувач на документи
GenericName[ml]=രചനാ ബ്രൌസര്‍
GenericName[mr]=दस्तऐवज ब्राउजर
GenericName[ms]=Pelungsur Dokumen
GenericName[nb]=Dokumentleser
GenericName[nds]=Dokmentkieker
GenericName[ne]=कागजात ब्राउजर
GenericName[nl]=Documentbrowser
GenericName[nn]=Dokumentlesar
GenericName[or]=ଦଲିଲ ବ୍ରାଉଜର
GenericName[pa]=ਡੌਕੂਮੈਂਟ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de documentos
GenericName[ro]=Navigator de documente
GenericName[ru]=Программа просмотра документов
GenericName[se]=Dokumeantalogan
GenericName[si]=ලේඛන ගවේශකය
GenericName[sk]=Prehliadač dokumentácie
GenericName[sl]=Pregledovalnik dokumentacije
GenericName[sr]=Прегледач докумената
GenericName[sr@latin]=Pregledač dokumenata
GenericName[sv]=Dokumentbläddrare
GenericName[ta]=ஆவண உலாவி
GenericName[te]=పత్ర బ్రౌజర్
GenericName[tg]=Намоишгари ҳуҷҷатҳо
GenericName[th]=โปรแกรมดูเอกสาร
GenericName[tr]=Belge Tarayıcı
GenericName[uk]=Навігатор документів
GenericName[uz]=Hujjat brauzeri
GenericName[uz@cyrillic]=Ҳужжат браузери
GenericName[vi]=Bộ duyệt tài liệu
GenericName[wa]=Foyteu di documints
GenericName[xh]=Umkhangeli Wencwadi Zoxwebhu
GenericName[x-test]=xxDocument Browserxx
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
X-KDE-StartupNotify=true
Icon=assistant
Terminal=false
Type=Application
