[Desktop Entry]
Exec=ddd
Type=Application
GenericName=Data Display Debugger
GenericName[af]=Data Vertoon Ontfouter
GenericName[ar]=منقّح عرض البيانات
GenericName[be]=Адладчык дадзеных манітора
GenericName[bg]=Програма за отстраняване на грешки на екрана
GenericName[bn]=ডেটা ডিসপ্লে ডিবাগার
GenericName[br]=Dizraener Diskwel Roadoù
GenericName[ca]=Depurador de dades en pantalla
GenericName[csb]=Debuger pòdôwków
GenericName[cy]=Dadnamydd Dangosydd Data
GenericName[da]=Fejlsøger med datavisning
GenericName[de]=DD-Debugger
GenericName[el]=Αποσφαλματωτής εμφάνισης δεδομένων
GenericName[eo]=Datuma montra sencimigilo
GenericName[es]=Depurador visual de datos ('Data Display Debugger')
GenericName[et]=DDD silur
GenericName[fa]=اشکال‌زدای نمایش داده
GenericName[fi]=DDD-vianjäljitysohjelma
GenericName[fr]=Débogueur DDD
GenericName[fy]=Data-display-debugger
GenericName[ga]=Dífhabhtóir Taispeána Sonraí
GenericName[gl]=Depurador da saída de datos
GenericName[hi]=डाटा डिस्प्ले डिबगर
GenericName[hr]=Uklanjanje nedostataka u prikazu podataka
GenericName[hu]=Nyomkövető
GenericName[is]=DD-villugreiningartól
GenericName[ka]=ეკრანის მონაცემთა შემსწორებელი
GenericName[kk]=DDD экрандық дерек жөндеуші
GenericName[km]=កម្មវិធី​បំបាត់​កំហុស​បង្ហាញ​ទិន្នន័យ
GenericName[ko]=자료 표시 디버거
GenericName[ku]=Niqandina Çewtiyan a Nîşandana Daneyan
GenericName[lt]=Duomenų vaizdavimo debugeris
GenericName[lv]=Datu attēlošanas atkļūdotājs
GenericName[ms]=Penyahralat Data Paparan
GenericName[nb]=Dataskjerm avluser
GenericName[ne]=डेटा प्रदर्शन त्रुटि मोचक
GenericName[nl]=Data-display-debugger
GenericName[pa]=ਡਾਟਾ ਡਿਸਪਲੇਅ ਡੀਬੱਗਰ
GenericName[pl]=Debugger danych
GenericName[pt_BR]=Depurador de Dados
GenericName[ro]=Depanatorul DDD
GenericName[ru]=Экранный отладчик DDD
GenericName[sk]=Debugger zobrazujúci dáta
GenericName[sr]=Исправљач с приказом података
GenericName[sr@latin]=Ispravljač s prikazom podataka
GenericName[sv]=Datavisande felsökningsprogram
GenericName[ta]=தரவுக் காட்சிப் பிழைநீக்கி
GenericName[te]=దత్తాంశ విక్శణ డిబగ్గర్
GenericName[tg]=Дурустгари намоиши додаҳо
GenericName[th]=เครื่องมือดีบักการแสดงข้อมูล
GenericName[tr]=Veri Gösterim Hata Ayıklayıcısı
GenericName[uk]=Зневадник "Data Display Debugger"
GenericName[vi]=Bộ gỡ lỗi hiển thị dữ liệu
GenericName[wa]=Disbugueu DDD
GenericName[x-test]=xxData Display Debuggerxx
GenericName[xh]=Umbonisi we Data ye Debugger
GenericName[zh_CN]=数据显示调试器
GenericName[zh_TW]=資料顯示除錯器
Name=DDD
Name[af]=Ddd
Name[de]=DDD (Debugger)
Name[hi]=डीडीडी
Name[lv]=DAA
Name[sr]=ДДД
Name[te]=డిడిడి
Name[x-test]=xxDDDxx
X-KDE-StartupNotify=true
Icon=xapp
