[Desktop Entry]
Exec=ddd
Type=Application
GenericName=Data Display Debugger
GenericName[af]=Data Vertoon Ontfouter
GenericName[ar]=منقّح عرض البيانات
GenericName[as]=তথ্য প্ৰদৰ্শন ব্যৱস্থাৰ ডিবাগাৰ
GenericName[be]=Адладчык дадзеных манітора
GenericName[be@latin]=Adładžvańnik prahramaŭ
GenericName[bg]=Програма за отстраняване на грешки на екрана
GenericName[bn]=ডেটা ডিসপ্লে ডিবাগার
GenericName[bn_IN]=ডাটা প্রদর্শন ব্যবস্থার ডিবাগার
GenericName[br]=Dizraener Diskwel Roadoù
GenericName[ca]=Depurador de dades en pantalla
GenericName[ca@valencia]=Depurador de dades en pantalla
GenericName[cs]=Data Display Debugger
GenericName[csb]=Debuger pòdôwków
GenericName[cy]=Dadnamydd Dangosydd Data
GenericName[da]=Fejlsøger med datavisning
GenericName[de]=DD-Debugger
GenericName[el]=Αποσφαλματωτής εμφάνισης δεδομένων
GenericName[en_GB]=Data Display Debugger
GenericName[eo]=Datuma montra sencimigilo
GenericName[es]=Depurador visual de datos ('Data Display Debugger')
GenericName[et]=DDD silur
GenericName[eu]=Data Display Debugger
GenericName[fa]=اشکال‌زدای نمایش داده
GenericName[fi]=DDD-vianjäljitysohjelma
GenericName[fr]=Débogueur DDD
GenericName[fy]=Data-display-debugger
GenericName[ga]=Dífhabhtóir Taispeána Sonraí
GenericName[gl]=Depurador da saída de datos
GenericName[gu]=માહિતી દર્શક ડિબગર
GenericName[he]=Data Display Debugger
GenericName[hi]=डाटा डिस्प्ले डिबगर
GenericName[hne]=डाटा डिस्प्ले डिबगर
GenericName[hr]=Uklanjanje nedostataka u prikazu podataka
GenericName[hsb]=Data Display Debugger
GenericName[hu]=Nyomkövető
GenericName[is]=DD-villugreiningartól
GenericName[it]=Data Display Debugger
GenericName[ja]=Data Display Debugger
GenericName[ka]=ეკრანის მონაცემთა შემსწორებელი
GenericName[kk]=DDD экрандық дерек жөндеуші
GenericName[km]=កម្មវិធី​បំបាត់​កំហុស​បង្ហាញ​ទិន្នន័យ
GenericName[kn]=ದತ್ತ ಪ್ರದರ್ಶನ ದೋಷನಿವಾರಕ
GenericName[ko]=자료 표시 디버거
GenericName[ku]=Niqandina Çewtiyan a Nîşandana Daneyan
GenericName[lt]=Duomenų vaizdavimo debugeris
GenericName[lv]=Datu attēlošanas atkļūdotājs
GenericName[mai]=डाटा डिस्प्ले डिबगर
GenericName[mk]=Data Display Debugger
GenericName[ml]=ഡാറ്റാ ഡിസ്പ്ലേ ഡിബഗ്ഗര്‍
GenericName[mr]=डाटा डिस्प्ले डिबगर
GenericName[ms]=Penyahralat Data Paparan
GenericName[nb]=Dataskjerm feilsøking
GenericName[nds]=Data Display Debugger
GenericName[ne]=डेटा प्रदर्शन त्रुटि मोचक
GenericName[nl]=Data-display-debugger
GenericName[nn]=Data Display Debugger
GenericName[or]=ତଥ୍ୟ ପ୍ରଦର୍ଶନ ତ୍ରୁଟିନିବାରକ
GenericName[pa]=ਡਾਟਾ ਡਿਸਪਲੇਅ ਡੀਬੱਗਰ
GenericName[pl]=Debugger danych
GenericName[pt]=Data Display Debugger
GenericName[pt_BR]=Depurador de dados
GenericName[ro]=Depanatorul DDD
GenericName[ru]=Экранный отладчик DDD
GenericName[se]=Data Display Debugger
GenericName[si]=Data Display Debugger
GenericName[sk]=Debugger zobrazujúci dáta
GenericName[sl]=Data Display Debugger
GenericName[sr]=Исправљач с приказом података
GenericName[sr@latin]=Ispravljač s prikazom podataka
GenericName[sv]=Datavisande felsökningsprogram
GenericName[ta]=தரவுக் காட்சியின் வழுச்சுட்டி
GenericName[te]=దత్తాంశ విక్శణ డిబగ్గర్
GenericName[tg]=Рӯйхати маълумоти ислоҳгар
GenericName[th]=เครื่องมือดีบักการแสดงข้อมูล
GenericName[tr]=Veri Gösterim Hata Ayıklayıcısı
GenericName[uk]=Зневадник "Data Display Debugger"
GenericName[vi]=Bộ gỡ lỗi hiển thị dữ liệu
GenericName[wa]=Disbugueu DDD
GenericName[xh]=Umbonisi we Data ye Debugger
GenericName[x-test]=xxData Display Debuggerxx
GenericName[zh_CN]=数据显示调试器
GenericName[zh_TW]=資料顯示除錯器
Name=DDD
Name[af]=Ddd
Name[ar]=DDD
Name[as]=DDD
Name[be]=DDD
Name[be@latin]=DDD
Name[bg]=DDD
Name[bn]=DDD
Name[bn_IN]=DDD
Name[br]=DDD
Name[ca]=DDD
Name[ca@valencia]=DDD
Name[cs]=DDD
Name[csb]=DDD
Name[cy]=DDD
Name[da]=DDD
Name[de]=DDD (Debugger)
Name[el]=DDD
Name[en_GB]=DDD
Name[eo]=DDD
Name[es]=DDD
Name[et]=DDD
Name[eu]=DDD
Name[fi]=DDD
Name[fr]=DDD
Name[fy]=DDD
Name[ga]=DDD
Name[gl]=DDD
Name[gu]=DDD
Name[he]=DDD
Name[hi]=डीडीडी
Name[hne]=डीडीडी
Name[hr]=DDD
Name[hsb]=DDD
Name[hu]=DDD
Name[is]=DDD
Name[it]=DDD
Name[ja]=DDD
Name[ka]=DDD
Name[kk]=DDD
Name[km]=DDD
Name[kn]=ಡಿಡಿಡಿ
Name[ko]=DDD
Name[ku]=DDD
Name[lt]=DDD
Name[lv]=DAA
Name[mai]=डीडीडी
Name[mk]=DDD
Name[ml]=ഡിഡിഡി
Name[mr]=DDD
Name[ms]=DDD
Name[nb]=DDD
Name[nds]=DDD
Name[ne]=DDD
Name[nl]=DDD
Name[nn]=DDD
Name[or]=DDD
Name[pa]=DDD
Name[pl]=DDD
Name[pt]=DDD
Name[pt_BR]=DDD
Name[ro]=DDD
Name[ru]=DDD
Name[se]=DDD
Name[si]=DDD
Name[sk]=DDD
Name[sl]=DDD
Name[sr]=ДДД
Name[sr@latin]=DDD
Name[sv]=DDD
Name[ta]=DDD
Name[te]=డిడిడి
Name[tg]=DDD
Name[th]=DDD
Name[tr]=DDD
Name[uk]=DDD
Name[uz]=DDD
Name[uz@cyrillic]=DDD
Name[vi]=DDD
Name[wa]=DDD
Name[xh]=DDD
Name[x-test]=xxDDDxx
Name[zh_CN]=DDD
Name[zh_TW]=DDD
X-KDE-StartupNotify=true
Icon=xapp
