[Desktop Entry]
Name=Qt DlgEdit
Name[af]=Qt Dlgedit
Name[ca]=Editor de diàlegs Qt
Name[csb]=Editora dialogòwëch òknów Qt
Name[eo]=Qt-Dialogoredaktilo
Name[lv]=Qt DlgRedaktors
Name[nds]=Qt-DlgEdit
Name[ne]=Qt डीएलजी सम्पादन
Name[pl]=Edytor okien dialogowych Qt
Name[ro]=Editor de dialoguri Qt
Name[sr]=КуТ длгедит
Name[sv]=Qt dlgedit
Name[ta]=Qt உரைதொகுப்பு
Name[te]=క్యుటి డిఎల్జి ఎడిట్
Name[x-test]=xxQt DlgEditxx
Name[zh_CN]=Qt 对话框编辑器
Name[zh_TW]=Qt 對話盒編輯器
MimeType=
GenericName=Dialog Editor
GenericName[af]=Dialoog Redigeerder
GenericName[ar]=محرر مربع حوار
GenericName[be]=Рэдактар дыялогаў
GenericName[bg]=Редактор на диалози
GenericName[br]=Aozer Formulennoù
GenericName[ca]=Editor de diàlegs
GenericName[cs]=Editor dialogů
GenericName[csb]=Editora dialogòwëch òknów
GenericName[cy]=Golygydd Ymgom
GenericName[da]=Dialog-editor
GenericName[de]=Dialog-Editor
GenericName[el]=Επεξεργαστής διαλόγων
GenericName[en_GB]=Dialogue Editor
GenericName[eo]=Dialogoredaktilo
GenericName[es]=Editor de diálogos
GenericName[et]=Dialoogide redaktor
GenericName[eu]=Elkarrizketa editorea
GenericName[fa]=ویرایشگر محاوره
GenericName[fi]=Dialogieditori
GenericName[fr]=Éditeur de boîtes de dialogue
GenericName[fy]=Dialoochbewurker
GenericName[ga]=Eagarthóir Dialóige
GenericName[gl]=Editor de Diálogos
GenericName[he]=עורך תיבות דו־שיח
GenericName[hr]=Uređivač dijaloga
GenericName[hu]=Párbeszédablak-szerkesztő
GenericName[it]=Editor delle finestre di dialogo
GenericName[ja]=ダイアログエディタ
GenericName[ka]=დიალოგის რედაქტორი
GenericName[kk]=QT диалогтар редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​ប្រអប់
GenericName[ko]=대화 상자 편집기
GenericName[lt]=Dialogų Redaktorius
GenericName[lv]=Dialogu Redaktors
GenericName[mk]=Уредувач на дијалози
GenericName[ms]=Penyunting Dialog
GenericName[nb]=Redigering av vinduer
GenericName[nds]=Dialoog-Editor
GenericName[ne]=संवाद सम्पादक
GenericName[nl]=Dialoogbewerker
GenericName[nn]=Redigering av dialogar
GenericName[pa]=ਡਾਇਲਾਗ ਸੰਪਾਦਕ
GenericName[pl]=Edytor okien dialogowych
GenericName[pt]=Editor de Janelas
GenericName[pt_BR]=Editor de Diálogos
GenericName[ro]=Editor de dialoguri
GenericName[ru]=Редактор диалогов для Qt
GenericName[se]=Lásešdoaimmaheaddji
GenericName[sl]=Urejevalnik pogovornih oken
GenericName[sr]=Уређивач дијалога
GenericName[sr@latin]=Uređivač dijaloga
GenericName[sv]=Dialogeditor
GenericName[ta]=உரையாடற் தொகுப்பாளர்
GenericName[te]=డైలాగ్ ఎడిటర్
GenericName[tg]=Муҳаррири гуфтугӯ
GenericName[th]=เครื่องมือแก้ไขกล่องโต้ตอบ
GenericName[tr]=İletişim Kutusu Düzenleyicisi
GenericName[uk]=Редактор діалогів
GenericName[uz]=Диалог таҳрирчи
GenericName[vi]=Bộ sửa hộp thoại
GenericName[wa]=Aspougneu di purneas
GenericName[x-test]=xxDialog Editorxx
GenericName[xh]=Umhleli Wencoko yababini
GenericName[zh_CN]=对话框编辑器
GenericName[zh_TW]=對話盒編輯器
Exec=dlgedit
Icon=dlgedit
Type=Application
Terminal=false
X-KDE-StartupNotify=false
