[Desktop Entry]
Encoding=UTF-8
Exec=eclipse
Name=Eclipse
Name[eo]=Eklipso
Name[fi]=Pimennys
Name[ko]=이클립스
Name[lt]=Užtemimas
Name[ne]=ग्रहण
Name[pa]=ਈਲਿਪਸ
Name[ta]=ஒருங்கிணைந்த 
Name[te]=ఎక్లిప్స్
Name[tg]=Эклипс
Name[tr]=Tutulma
Name[wa]=Eclipe
Name[x-test]=xxEclipsexx
Name[xh]=Ucimo lwelanga okanye inyanga
GenericName=Eclipse IDE
GenericName[ar]=محيط التطوير Eclipse IDE
GenericName[ca]=IDE per a Eclipse
GenericName[csb]=Òkrãżé programòwaniô Eclipse
GenericName[cy]=IDE Eclipse
GenericName[de]=Eclipse-Entwicklungsumgebung
GenericName[eo]=Programada Medio 'Eklipso'
GenericName[es]=IDE Eclipse
GenericName[fi]=Eclipse-kehitysympäristö
GenericName[fr]=Environnement de développement intégré Eclipse
GenericName[ga]=IDE Eclipse
GenericName[gl]=IDE Eclipse
GenericName[he]=סביבת פיתוח מתקדמת Eclipse
GenericName[is]=Eclipse forritunarumhverfi
GenericName[it]=IDE Eclipse
GenericName[ja]=EclipseIDE
GenericName[ko]=이클립스 통합 개발 환경
GenericName[ms]=IDE Eclipse
GenericName[nds]=Integreert Bewerkenümgeven för Eclipse
GenericName[ne]=ग्रहण IDE
GenericName[pa]=ਈਲਿਪਸ IDE
GenericName[pl]=Środowisko programowania Eclipse
GenericName[pt]=Ambiente de desenvolvimento Eclipse
GenericName[pt_BR]=IDE Eclipse
GenericName[ro]=Mediul IDE de dezvoltare "Eclipse"
GenericName[sv]=Eclipse integrerad utvecklingsmiljö
GenericName[ta]= ஒருங்கிணைந்த உருவாக்ககம்
GenericName[te]=ఎక్లిప్స్ ఐడిఈ
GenericName[tg]=Эклипси IDE
GenericName[th]=สภาพแวดล้อมสำหรับพัฒนาโปรแกรมจาวา Eclipse
GenericName[wa]=Evironmint di programaedje (IDE) «Eclipse» (eclipe)
GenericName[x-test]=xxEclipse IDExx
GenericName[zh_TW]=Eclipse 整合開發環境
X-KDE-StartupNotify=true
MimeType=application/x-designer
Icon=eclipse
Type=Application

