[Desktop Entry]
Exec=eclipse
Name=Eclipse
Name[af]=Eclipse
Name[ar]=اكلبس
Name[as]=Eclipse
Name[be]=Eclipse
Name[be@latin]=Eclipse
Name[bg]=Eclipse
Name[bn]=একলিপ্স
Name[bn_IN]=Eclipse
Name[br]=Eclipse
Name[ca]=Eclipse
Name[ca@valencia]=Eclipse
Name[cs]=Eclipse
Name[csb]=Eclipse
Name[cy]=Eclipse
Name[da]=Eclipse
Name[de]=Eclipse
Name[el]=Eclipse
Name[en_GB]=Eclipse
Name[eo]=Eclipse
Name[es]=Eclipse
Name[et]=Eclipse
Name[eu]=Eclipse
Name[fi]=Eclipse
Name[fr]=Eclipse
Name[fy]=Eclipse
Name[ga]=Eclipse
Name[gl]=Eclipse
Name[gu]=ઇક્લિપ્સ
Name[he]=Eclipse
Name[hi]=एक्लिप्स
Name[hne]=एक्लिप्स
Name[hr]=Eclipse
Name[hsb]=Eclipse
Name[hu]=Eclipse
Name[is]=Eclipse
Name[it]=Eclipse
Name[ja]=Eclipse
Name[ka]=Eclipse
Name[kk]=Eclipse
Name[km]=Eclipse
Name[kn]=ಎಕ್ಲಿಪ್ಸ್
Name[ko]=Eclipse
Name[ku]=Eclipse
Name[lt]=Užtemimas
Name[lv]=Eclipse
Name[mai]=ग्रहण
Name[mk]=Eclipse
Name[ml]=എക്ലിപ്സ്
Name[mr]=एक्लिप्स
Name[ms]=Eclipse
Name[nb]=Eclipse
Name[nds]=Eclipse
Name[ne]=दीर्घवृत्त
Name[nl]=Eclipse
Name[nn]=Eclipse
Name[oc]=Eclipsi
Name[or]=ଜ୍ୟୋତିହୀନ
Name[pa]=ਈਲਿਪਸ
Name[pl]=Eclipse
Name[pt]=Eclipse
Name[pt_BR]=Eclipse
Name[ro]=Eclipse
Name[ru]=Eclipse
Name[se]=Eclipse
Name[si]=Eclipse
Name[sk]=Eclipse
Name[sl]=Eclipse
Name[sr]=Еклипс
Name[sr@latin]=Eclipse
Name[sv]=Eclipse
Name[ta]=எக்லிப்ஸ்
Name[te]=ఎక్లిప్స్
Name[tg]=Eclipse
Name[th]=Eclipse
Name[tr]=Eclipse
Name[uk]=Eclipse
Name[uz]=Eclipse
Name[uz@cyrillic]=Eclipse
Name[vi]=Eclipse
Name[wa]=Eclipe
Name[xh]=Ucimo lwelanga okanye inyanga
Name[x-test]=xxEclipsexx
Name[zh_CN]=Eclipse
Name[zh_TW]=Eclipse
GenericName=Eclipse IDE
GenericName[af]=Eclipse IDE
GenericName[ar]=بيئة تطوير اكلبس
GenericName[as]=Eclipse IDE
GenericName[be]=Eclipse IDE
GenericName[be@latin]=Asiarodździe prahramavańnia „Eclipse”
GenericName[bg]=Eclipse IDE
GenericName[bn]=একলিপ্স IDE
GenericName[bn_IN]=Eclipse IDE
GenericName[ca]=IDE per a Eclipse
GenericName[ca@valencia]=IDE per a Eclipse
GenericName[cs]=Eclipse IDE
GenericName[csb]=Òkrãżé programòwaniô Eclipse
GenericName[cy]=IDE Eclipse
GenericName[da]=Eclipse IDE
GenericName[de]=Eclipse-Entwicklungsumgebung
GenericName[el]=Eclipse IDE
GenericName[en_GB]=Eclipse IDE
GenericName[eo]=Programada medio Eclipse
GenericName[es]=IDE Eclipse
GenericName[et]=Eclipse IDE
GenericName[eu]=Eclipse IDE
GenericName[fi]=Eclipse-kehitysympäristö
GenericName[fr]=EDI Eclipse
GenericName[fy]=Eclipse IDE
GenericName[ga]=IDE Eclipse
GenericName[gl]=IDE Eclipse
GenericName[gu]=ઇક્લિપ્સ IDE
GenericName[he]=סביבת הפיתוח המשולבת Eclipse
GenericName[hi]=एक्लिप्स आईडीई
GenericName[hne]=एक्लिप्स आईडीई
GenericName[hr]=Eclipse IDE
GenericName[hsb]=Eclipse IDE
GenericName[hu]=Eclipse IDE
GenericName[is]=Eclipse forritunarumhverfi
GenericName[it]=IDE Eclipse
GenericName[ja]=EclipseIDE
GenericName[ka]=Eclipse IDE
GenericName[kk]=Eclipse IDE
GenericName[km]=Eclipse IDE
GenericName[kn]=ಐಎಕ್ಲಿಪ್ಸ್  ಐಡಿಇ
GenericName[ko]=Eclipse 통합 개발 환경
GenericName[ku]=IDE ya Eclipse
GenericName[lt]=Eclipse IDE
GenericName[lv]=Eclipse IDE
GenericName[mai]=एक्लिप्स आईडीइ
GenericName[mk]=Eclipse IDE
GenericName[ml]=എക്ലിപ്സ് ഐഡിഇ
GenericName[mr]=एक्लिप्स IDE
GenericName[ms]=IDE Eclipse
GenericName[nb]=Eclipse IDE
GenericName[nds]=Integreert Bewerkenümgeven för Eclipse
GenericName[ne]=दीर्घवृत्त IDE
GenericName[nl]=Eclipse IDE
GenericName[nn]=Eclipse IDE
GenericName[or]=IDEକୁ ଜ୍ୟୋତିହୀନ କରନ୍ତୁ
GenericName[pa]=ਈਲਿਪਸ IDE
GenericName[pl]=Środowisko programowania Eclipse
GenericName[pt]=Ambiente de desenvolvimento Eclipse
GenericName[pt_BR]=IDE Eclipse
GenericName[ro]=Mediul de dezvoltare „Eclipse”
GenericName[ru]=Eclipse IDE
GenericName[se]=Eclipse IDE
GenericName[si]=Eclipse IDE
GenericName[sk]=Eclipse IDE
GenericName[sl]=Integrirano razvojno okolje
GenericName[sr]=Развојно окружење Еклипс
GenericName[sr@latin]=Razvojno okruženje Eclipse
GenericName[sv]=Eclipse integrerad utvecklingsmiljö
GenericName[ta]=எக்லிப்ஸ் ஐடிஇ
GenericName[te]=ఎక్లిప్స్ ఐడిఈ
GenericName[tg]=Eclipse IDE
GenericName[th]=สภาพแวดล้อมการพัฒนาโปรแกรม Eclipse
GenericName[tr]=Eclipse Tümleşik Geliştirme Ortamı
GenericName[uk]=Eclipse IDE
GenericName[uz]=Eclipse IDE
GenericName[uz@cyrillic]=Eclipse IDE
GenericName[vi]=Môi trường phát triển tích hợp Eclipse
GenericName[wa]=Evironmint di programaedje (IDE) «Eclipse» (eclipe)
GenericName[x-test]=xxEclipse IDExx
GenericName[zh_CN]=Eclipse 集成开发环境
GenericName[zh_TW]=Eclipse 整合開發環境
X-KDE-StartupNotify=true
MimeType=application/x-designer;
Icon=eclipse
Type=Application

