[Desktop Entry]
Exec=eclipse
Name=Eclipse
Name[bn]=একলিপ্স
Name[gu]=ઇક્લિપ્સ
Name[hi]=एक्लिप्स
Name[kn]=ಎಕ್ಲಿಪ್ಸ್
Name[ku]=Girtin
Name[lt]=Užtemimas
Name[ml]=എക്ലിപ്സ്
Name[ne]=दीर्घवृत्त
Name[oc]=Eclipsi
Name[pa]=ਈਲਿਪਸ
Name[sr]=Еклипс
Name[ta]=எக்லிப்ஸ்
Name[te]=ఎక్లిప్స్
Name[wa]=Eclipe
Name[x-test]=xxEclipsexx
Name[xh]=Ucimo lwelanga okanye inyanga
GenericName=Eclipse IDE
GenericName[bn]=একলিপ্স IDE
GenericName[ca]=IDE per a Eclipse
GenericName[csb]=Òkrãżé programòwaniô Eclipse
GenericName[cy]=IDE Eclipse
GenericName[de]=Eclipse-Entwicklungsumgebung
GenericName[eo]=Programada medio Eclipse
GenericName[es]=IDE Eclipse
GenericName[fi]=Eclipse-kehitysympäristö
GenericName[fr]=EDI Eclipse
GenericName[ga]=IDE Eclipse
GenericName[gl]=IDE Eclipse
GenericName[gu]=ઇક્લિપ્સ IDE
GenericName[he]=סביבת הפיתוח המשולבת Eclipse
GenericName[hi]=एक्लिप्स आईडीई
GenericName[is]=Eclipse forritunarumhverfi
GenericName[it]=IDE Eclipse
GenericName[ja]=EclipseIDE
GenericName[kn]=ಎಕ್ಲಿಪ್ಸ್ IDE
GenericName[ko]=Eclipse 통합 개발 환경
GenericName[ku]=IDE ya Eclipse
GenericName[ml]=എക്ലിപ്സ് ഐഡിഇ
GenericName[ms]=IDE Eclipse
GenericName[nds]=Integreert Bewerkenümgeven för Eclipse
GenericName[ne]=दीर्घवृत्त IDE
GenericName[pa]=ਈਲਿਪਸ IDE
GenericName[pl]=Środowisko programowania Eclipse
GenericName[pt]=Ambiente de desenvolvimento Eclipse
GenericName[pt_BR]=IDE Eclipse
GenericName[ro]=Mediul de dezvoltare „Eclipse”
GenericName[sk]=IDE Eclipse
GenericName[sr]=Развојно окружење Еклипс
GenericName[sr@latin]=Razvojno okruženje Eclipse
GenericName[sv]=Eclipse integrerad utvecklingsmiljö
GenericName[ta]=எக்லிப்ஸ் ஐடிஇ
GenericName[te]=ఎక్లిప్స్ ఐడిఈ
GenericName[th]=สภาพแวดล้อมการพัฒนาโปรแกรมจาวา Eclipse
GenericName[tr]=Eclipse Tümleşik Geliştirme Ortamı
GenericName[vi]=Môi trường phát triển tích hợp Eclipse
GenericName[wa]=Evironmint di programaedje (IDE) «Eclipse» (eclipe)
GenericName[x-test]=xxEclipse IDExx
GenericName[zh_CN]=Eclipse 集成开发环境
GenericName[zh_TW]=Eclipse 整合開發環境
X-KDE-StartupNotify=true
MimeType=application/x-designer;
Icon=eclipse
Type=Application

