[Desktop Entry]
GenericName=Java IDE
GenericName[af]=Java IDE
GenericName[ar]=بيئة تطوير جافا
GenericName[as]=Java IDE
GenericName[be]=Java IDE
GenericName[be@latin]=Asiarodździa prahramavańnia ŭ movie Java
GenericName[bg]=Java IDE
GenericName[bn]=জাভা IDE
GenericName[bn_IN]=Java IDE
GenericName[ca]=IDE per a Java
GenericName[ca@valencia]=IDE per a Java
GenericName[cs]=Java IDE
GenericName[csb]=IDE Javë
GenericName[cy]=IDE Java
GenericName[da]=Java-IDE
GenericName[de]=Java-Entwicklungsumgebung
GenericName[el]=IDE για Java
GenericName[en_GB]=Java IDE
GenericName[eo]=Java programada medio
GenericName[es]=IDE (entorno integrado de desarrollo) para Java
GenericName[et]=Java arenduskeskkond
GenericName[eu]=Java IDEa
GenericName[fa]=آی دی ای جاوا
GenericName[fi]=Java IDE
GenericName[fr]=EDI Java
GenericName[fy]=Java IDE
GenericName[ga]=IDE Java
GenericName[gl]=IDE para Java
GenericName[gu]=જાવા IDE
GenericName[he]=סביבת פיתוח משולבת עבור Java
GenericName[hi]=जावा आईडीई
GenericName[hne]=जावा आईडीई
GenericName[hr]=Java IDE
GenericName[hsb]=Java IDE
GenericName[hu]=Java IDE
GenericName[is]=Java-forritunarumhverfi
GenericName[it]=Ambiente di sviluppo integrato Java
GenericName[ja]=Java IDE
GenericName[ka]=Java IDE
GenericName[kk]=Java IDE
GenericName[km]=Java IDE
GenericName[kn]=ಜಾವಾ ಐಡಿಇ
GenericName[ko]=자바 통합 개발 환경
GenericName[ku]=IDE ya Java
GenericName[lt]=Java IDE
GenericName[lv]=Java IDE
GenericName[mai]=जावा आईडीई
GenericName[mk]=Java IDE
GenericName[ml]=ജാവ ഐഡിഇ
GenericName[mr]=जावा IDE
GenericName[ms]=IDE Java
GenericName[nb]=Java-IDE
GenericName[nds]=Integreert Bewerkenümgeven för Java
GenericName[ne]=जाभा IDE
GenericName[nl]=Java IDE
GenericName[nn]=Java-IDE
GenericName[oc]=Java IDE
GenericName[or]=Java IDE
GenericName[pa]=Java IDE
GenericName[pl]=Środowisko Javy
GenericName[pt]=IDE de Java
GenericName[pt_BR]=IDE Java
GenericName[ro]=Mediu de dezvoltare Java
GenericName[ru]=Java IDE
GenericName[se]=Java-IDE
GenericName[si]=Java IDE
GenericName[sk]=Java IDE
GenericName[sl]=Integrirano razvojno okolje za Javo
GenericName[sr]=ИДЕ за јаву
GenericName[sr@latin]=IDE za Javu
GenericName[sv]=Java-IDE
GenericName[ta]=ஜாவா ஐடிஇ
GenericName[te]=జావా ఐడిఈ
GenericName[tg]=Java IDE
GenericName[th]=สภาพแวดล้อมสำหรับพัฒนาโปรแกรมจาวา
GenericName[tr]=Java Tümleşik Geliştirme Ortamı
GenericName[uk]=Java IDE
GenericName[uz]=Java IDE
GenericName[uz@cyrillic]=Java IDE
GenericName[vi]=Môi trường phát triển tích hợp Java
GenericName[wa]=Evironmint di programaedje (IDE) po l' lingaedje Java
GenericName[xh]=IDE ye Java
GenericName[x-test]=xxJava IDExx
GenericName[zh_CN]=Java 集成开发环境
GenericName[zh_TW]=Java 整合開發環境
Exec=runide.sh
Icon=ksmiletris
Name=Forte
Name[af]=Forte
Name[ar]=فورتي
Name[as]=Forte
Name[be]=Forte
Name[be@latin]=Forte
Name[bg]=Forte
Name[bn]=ফোর্টে
Name[bn_IN]=Forte
Name[br]=Forte
Name[ca]=Forte
Name[ca@valencia]=Forte
Name[cs]=Forte
Name[csb]=Forte
Name[cy]=Forte
Name[da]=Forte
Name[de]=Forte
Name[el]=Forte
Name[en_GB]=Forte
Name[eo]=Forte
Name[es]=Forte
Name[et]=Forte
Name[eu]=Forte
Name[fi]=Forte
Name[fr]=Forte
Name[fy]=Forte
Name[ga]=Forte
Name[gl]=Forte
Name[gu]=ફોર્ટે
Name[he]=Forte
Name[hi]=फोर्ट
Name[hne]=फोर्ट
Name[hr]=Forte
Name[hsb]=Forte
Name[hu]=Forte
Name[is]=Forte
Name[it]=Forte
Name[ja]=Forte
Name[ka]=Forte
Name[kk]=Forte
Name[km]=Forte
Name[kn]=ಫೋರ್ಟೆ
Name[ko]=Forte
Name[ku]=Forte
Name[lt]=Forte
Name[lv]=Forte
Name[mai]=फोर्ट
Name[mk]=Forte
Name[ml]=ഫോര്‍ട്ടെ
Name[mr]=Forte
Name[ms]=Forte
Name[nb]=Forte
Name[nds]=Forte
Name[ne]=फर्ट
Name[nl]=Forte
Name[nn]=Forte
Name[or]=ଫର୍ଟ
Name[pa]=ਫੋਰਟੀ
Name[pl]=Forte
Name[pt]=Forte
Name[pt_BR]=Forte
Name[ro]=Forte
Name[ru]=Forte
Name[se]=Forte
Name[si]=Forte
Name[sk]=Forte
Name[sl]=Forte
Name[sr]=Форте
Name[sr@latin]=Forte
Name[sv]=Forte
Name[ta]=போர்டே
Name[te]=ఫోర్టె
Name[tg]=Forte
Name[th]=Forte
Name[tr]=Forte
Name[uk]=Forte
Name[uz]=Forte
Name[uz@cyrillic]=Forte
Name[vi]=Forte
Name[wa]=Forte
Name[xh]=Forte
Name[x-test]=xxFortexx
Name[zh_CN]=Forte
Name[zh_TW]=Forte
Terminal=false
Type=Application
