[Desktop Entry]
GenericName=Java IDE
GenericName[af]=Java Ide
GenericName[bn]=জাভা IDE
GenericName[ca]=IDE per a Java
GenericName[csb]=IDE Javë
GenericName[cy]=IDE Java
GenericName[da]=Java-IDE
GenericName[de]=Java-Entwicklungsumgebung
GenericName[el]=IDE για Java
GenericName[eo]=Java programada medio
GenericName[es]=IDE (entorno integrado de desarrollo) para Java
GenericName[et]=Java arenduskeskkond
GenericName[eu]=Java IDEa
GenericName[fa]=آی دی ای جاوا
GenericName[fr]=Environnement de développement intégré Java
GenericName[ga]=IDE Java
GenericName[gl]=IDE para Java
GenericName[gu]=જાવા IDE
GenericName[he]=סביבת פיתוח משולבת ל־Java
GenericName[hi]=जावा आईडीई
GenericName[is]=Java-forritunarumhverfi
GenericName[it]=Ambiente di sviluppo integrato Java
GenericName[kn]=ಜಾವಾ IDE
GenericName[ko]=자바 통합 개발 환경
GenericName[ku]=IDE ya Java
GenericName[ms]=IDE Java
GenericName[nb]=Java-IDE
GenericName[nds]=Integreert Bewerkenümgeven för Java
GenericName[ne]=जाभा IDE
GenericName[nn]=Java-IDE
GenericName[pl]=Środowisko Javy
GenericName[pt]=IDE de Java
GenericName[pt_BR]=IDE Java
GenericName[ro]=Mediu IDE pentru Java
GenericName[se]=Java-IDE
GenericName[sl]=Integrirano razvojno okolje za Javo
GenericName[sr]=ИДЕ за јаву
GenericName[sr@latin]=IDE za Javu
GenericName[sv]=Java-IDE
GenericName[ta]=ஜாவா ஐடிஇ
GenericName[te]=జావా ఐడిఈ
GenericName[th]=สภาพแวดล้อมสำหรับพัฒนาโปรแกรมจาวา
GenericName[tr]=Java Tümleşik Geliştirme Ortamı
GenericName[vi]=Môi trường phát triển tích hợp Java
GenericName[wa]=Evironmint di programaedje (IDE) po l' lingaedje Java
GenericName[x-test]=xxJava IDExx
GenericName[xh]=IDE ye Java
GenericName[zh_CN]=Java 集成开发环境
GenericName[zh_TW]=Java 整合開發環境
Exec=runide.sh
Icon=ksmiletris
Name=Forte
Name[bn]=ফোর্টে
Name[gu]=ફોર્ટે
Name[hi]=फोर्ट
Name[kn]=ಫೋರ್ಟೆ
Name[ne]=फर्ट
Name[pa]=ਫੋਰਟੀ
Name[sr]=Форте
Name[ta]=போர்டே
Name[te]=ఫోర్టె
Name[tg]=Форте
Name[x-test]=xxFortexx
Terminal=false
Type=Application
