[Desktop Entry]
Encoding=UTF-8
GenericName=Java IDE
GenericName[af]=Java Ide
GenericName[ca]=IDE per a Java
GenericName[csb]=IDE Javë
GenericName[cy]=IDE Java
GenericName[da]=Java-IDE
GenericName[de]=Java-Entwicklungsumgebung
GenericName[el]=IDE για Java
GenericName[eo]=Javo-programadomedio
GenericName[es]=IDE (entorno integrado de desarrollo) para Java
GenericName[et]=Java arenduskeskkond
GenericName[eu]=Java IDEa
GenericName[fa]=آی دی ای جاوا
GenericName[fr]=Environnement de développement intégré Java
GenericName[ga]=IDE Java
GenericName[gl]=IDE Java
GenericName[he]=סביבת פיתוח משולבת ל־Java
GenericName[is]=Java-forritunarumhverfi
GenericName[it]=Ambiente di sviluppo integrato Java
GenericName[ko]=자바 통합 개발 환경
GenericName[ms]=IDE Java
GenericName[nb]=Java-IDE
GenericName[nds]=Integreert Bewerkenümgeven för Java
GenericName[ne]=जाभा IDE
GenericName[nn]=Java-IDE
GenericName[pl]=Środowisko Javy
GenericName[pt]=IDE de Java
GenericName[pt_BR]=IDE Java
GenericName[ro]=Mediu IDE pentru Java
GenericName[se]=Java-IDE
GenericName[sl]=Integrirano razvojno okolje za Javo
GenericName[sv]=Java-IDE
GenericName[ta]=ஜாவா ஒருங்கிணைந்த உருவாக்ககம்
GenericName[te]=జావా ఐడిఈ
GenericName[th]=สภาพแวดล้อมสำหรับพัฒนาโปรแกรมจาวา
GenericName[tr]=Java IDE(Tümleşik Geliştirme Ortamı)
GenericName[wa]=Evironmint di programaedje (IDE) po l' lingaedje Java
GenericName[x-test]=xxJava IDExx
GenericName[xh]=IDE ye Java
GenericName[zh_TW]=Java 整合開發環境
Exec=runide.sh
Icon=ksmiletris
Name=Forte
Name[eo]=Forto
Name[ko]=포르테
Name[ne]=फर्ट
Name[pa]=ਫੋਰਟੀ
Name[ta]=ஃபோர்ட்
Name[te]=ఫోర్టె
Name[tg]=Форте
Name[x-test]=xxFortexx
Path=
Terminal=false
Type=Application
