[Desktop Entry]
GenericName=J2ME Toolkit
GenericName[af]=J2me Gereedskapstel
GenericName[ar]=طقم أدوات J2ME
GenericName[as]=J2ME Toolkit
GenericName[be]=Набор сродкаў J2ME
GenericName[be@latin]=Zbor pryładździa „J2ME”
GenericName[bg]=Инструмент J2ME
GenericName[bn]=J2ME টুলকিট
GenericName[bn_IN]=J2ME Toolkit
GenericName[ca]=Joc d'eines J2ME
GenericName[ca@valencia]=Joc d'eines J2ME
GenericName[cs]=J2ME toolkit
GenericName[csb]=Zestôw nôrzãdzów dlô J2ME
GenericName[cy]=Blwch offer J2ME
GenericName[da]=J2ME-værktøjspakke
GenericName[de]=J2ME-Dienstprogramme
GenericName[el]=J2ME σετ εργαλείων
GenericName[en_GB]=J2ME Toolkit
GenericName[eo]=J2ME-ilaro
GenericName[es]=Juego de herramientas J2ME
GenericName[et]=J2ME tööriistade komplekt
GenericName[eu]=J2ME tresnak
GenericName[fa]=مجموعه‌ ابزار J2ME
GenericName[fi]=J2ME-työkalut
GenericName[fr]=Boîte à outils J2ME
GenericName[fy]=J2ME-toolkit
GenericName[ga]=Foireann Uirlisí J2ME
GenericName[gl]=Toolkit J2ME
GenericName[gu]=J2ME ટુલકિટ
GenericName[he]=ערכת הכלים J2ME
GenericName[hi]=जे2एमई टूलकिट
GenericName[hne]=जे2एमई टूलकिट
GenericName[hr]=J2ME komplet alata
GenericName[hsb]=J2ME Toolkit
GenericName[hu]=J2ME IDE
GenericName[is]=J2ME tólasafn
GenericName[it]=Toolkit J2ME
GenericName[ja]=J2ME ツールキット
GenericName[ka]=J2ME ხელსაწყოები
GenericName[kk]=J2ME құралдары
GenericName[km]=ប្រអប់​ឧបករណ៍ J2ME
GenericName[kn]=ಜೆಟುಎಮ್ಇ ಸಲಕರಣೆಬಾನಿ (ಟೂಲ್ಕಿಟ್)
GenericName[ko]=J2ME 툴킷
GenericName[ku]=Qutika Amûran a J2ME
GenericName[lt]=J2ME Toolkit
GenericName[lv]=J2ME rīkkopa
GenericName[mai]=जे2एमई टूलकिट
GenericName[mk]=J2ME комплет алатки
GenericName[ml]=ജെ2എംഇ ടൂള്‍കിറ്റ്
GenericName[mr]=J2ME टूलकिट
GenericName[ms]=Kit alatan J2ME
GenericName[nb]=J2ME-verktøykasse
GenericName[nds]=J2ME-Warktüüchkasten
GenericName[ne]=J2ME उपकरण सेट
GenericName[nl]=J2ME-toolkit
GenericName[nn]=J2ME-verktøysett
GenericName[oc]=à outils J2ME
GenericName[or]=J2ME ଯନ୍ତ୍ରବାକ୍ସ
GenericName[pa]=J2ME ਟੂਲਕਿੱਟ
GenericName[pl]=Zbiór narzędzi dla J2ME
GenericName[pt]=Ferramentas do J2ME
GenericName[pt_BR]=Kit de ferramentas J2ME
GenericName[ro]=Trusă de unelte pentru J2ME
GenericName[ru]=Программы J2ME
GenericName[se]=J2ME reaidočoakki
GenericName[si]=J2ME මෙවලම් එකතුව
GenericName[sk]=J2ME Toolkit
GenericName[sl]=Zbirka orodij J2ME
GenericName[sr]=Прибор Ј2МЕ
GenericName[sr@latin]=Pribor J2ME
GenericName[sv]=J2ME-verktygslåda
GenericName[ta]=J2ME கருவிப்பெட்டி
GenericName[te]=జె2ఎంఈ టూల్ కిట్
GenericName[tg]=J2ME Toolkit
GenericName[th]=J2ME Toolkit
GenericName[tr]=J2ME Araç Takımı
GenericName[uk]=Комплект J2ME
GenericName[uz]=J2ME vositalar toʻplami
GenericName[uz@cyrillic]=J2ME воситалар тўплами
GenericName[vi]=Bộ công cụ J2ME
GenericName[wa]=J2ME Toolkit
GenericName[xh]=J2ME Ibhokisi yesixhobo
GenericName[x-test]=xxJ2ME Toolkitxx
GenericName[zh_CN]=J2ME 工具箱
GenericName[zh_TW]=J2ME 工具組
Exec=ktoolbar
Icon=ksmiletris
Name=J2ME
Name[af]=J2me
Name[ar]=J2ME
Name[as]=J2ME
Name[be]=J2ME
Name[be@latin]=J2ME
Name[bg]=J2ME
Name[bn]=J2ME
Name[bn_IN]=J2ME
Name[br]=J2ME
Name[ca]=J2ME
Name[ca@valencia]=J2ME
Name[cs]=J2ME
Name[csb]=J2ME
Name[cy]=J2ME
Name[da]=J2ME
Name[de]=J2ME
Name[el]=J2ME
Name[en_GB]=J2ME
Name[eo]=J2ME
Name[es]=J2ME
Name[et]=J2ME
Name[eu]=J2ME
Name[fi]=J2ME
Name[fr]=J2ME
Name[fy]=J2ME
Name[ga]=J2ME
Name[gl]=J2ME
Name[gu]=J2ME
Name[he]=J2ME
Name[hi]=जे2एमई
Name[hne]=जे2एमई
Name[hr]=J2ME
Name[hsb]=J2ME
Name[hu]=J2ME
Name[is]=J2ME
Name[it]=J2ME
Name[ja]=J2ME
Name[ka]=J2ME
Name[kk]=J2ME
Name[km]=J2ME
Name[kn]=ಜೆಟುಎಂಇ
Name[ko]=J2ME
Name[ku]=J2ME
Name[lt]=J2ME
Name[lv]=J2ME
Name[mai]=जे2एमई
Name[mk]=J2ME
Name[ml]=ജെ2എംഇ
Name[mr]=J2ME
Name[ms]=J2ME
Name[nb]=J2ME
Name[nds]=J2ME
Name[ne]=J2ME
Name[nl]=J2ME
Name[nn]=J2ME
Name[oc]=J2ME
Name[or]=J2ME
Name[pa]=J2ME
Name[pl]=J2ME
Name[pt]=J2ME
Name[pt_BR]=J2ME
Name[ro]=J2ME
Name[ru]=J2ME
Name[se]=J2ME
Name[si]=J2ME
Name[sk]=J2ME
Name[sl]=J2ME
Name[sr]=Ј2МЕ
Name[sr@latin]=J2ME
Name[sv]=J2ME
Name[ta]=J2ME
Name[te]=జె2ఎంఈ
Name[tg]=J2ME
Name[th]=J2ME
Name[tr]=J2ME
Name[uk]=J2ME
Name[uz]=J2ME
Name[uz@cyrillic]=J2ME
Name[vi]=J2ME
Name[wa]=J2ME
Name[xh]=J2ME
Name[x-test]=xxJ2MExx
Name[zh_CN]=J2ME
Name[zh_TW]=J2ME
Terminal=false
Type=Application
