[Desktop Entry]
Encoding=UTF-8
Exec=linguist
Name=Qt Linguist
Name[ar]=لغوي Qt
Name[ca]=Lingüista Qt
Name[csb]=Lingwista Qt
Name[cy]=Ieithydd Qt
Name[de]=Qt-Linguist
Name[eo]=Qt-Lingvisto
Name[es]=Lingüista Qt
Name[fa]=Qt زبان‌شناس
Name[fi]=Qt Linquist
Name[fy]=Qt Linquist
Name[gl]=Lingüista Qt
Name[hr]=Qt Lingvist
Name[ka]=Qt ლინგვისტი
Name[kk]=Qt лингвисті
Name[km]=ភាសាវិទូ Qt
Name[ko]=Qt 언어학자
Name[lv]=Qt Lingvists
Name[mk]=Qt-Јазичар
Name[ms]=Jurubahasa Qt
Name[nb]=Qt-Linguist
Name[nds]=Qt-Linguist
Name[ne]=Qt बहुभाषी
Name[nl]=Qt Linquist
Name[pa]=Qt ਲੈਂਗੂਇਸਟ
Name[pl]=Lingwista Qt
Name[ru]=Qt Лингвист
Name[sl]=Jezikoslovec Qt
Name[sv]=Qt linguist
Name[ta]=Qt மொழியறிஞர்
Name[te]=క్యుటి లింగ్విస్ట్
Name[tg]=Забони Qt
Name[uk]=Qt-лінгвіст
Name[uz]=Qt лингвист
Name[x-test]=xxQt Linguistxx
Name[xh]=Usolwimi we Qt
Name[zh_TW]=Qt 語言學家
GenericName=Translation Tool
GenericName[af]=Vertaling Program
GenericName[ar]=أداة للترجمة
GenericName[be]=Праграма перакладу
GenericName[bg]=Инструмент за превод
GenericName[br]=Ostilh troidigezh
GenericName[ca]=Eina de traducció
GenericName[cs]=Překladatelský nástroj
GenericName[csb]=Nôrzãdze dlô dolmôczów
GenericName[cy]=Erfyn Cyfieithu
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μεταφράσεων
GenericName[eo]=Tradukilo por Qt-programoj
GenericName[es]=Herramienta de traducción
GenericName[et]=Tõlkimise rakendus
GenericName[eu]=Itzulpenerako tresnak
GenericName[fa]=ابزار ترجمه
GenericName[fi]=Käännöstyökalu
GenericName[fr]=Outil de traduction
GenericName[fy]=Fertaalprogramma
GenericName[ga]=Uirlis Aistriúcháin
GenericName[gl]=Ferramenta de Tradución
GenericName[he]=כלי תרגום
GenericName[hr]=Alat za prevođenje
GenericName[hu]=Fordítássegítő
GenericName[is]=Þýðingartól
GenericName[it]=Strumento per le traduzioni
GenericName[ja]=翻訳ツール
GenericName[ka]=სათარგმნი ხელსაწყო
GenericName[kk]=Аудару құралы
GenericName[km]=កម្មវិធី​បកប្រែ
GenericName[ko]=번역 도구
GenericName[lt]=Vertimo įrankis
GenericName[lv]=Tulkošanas Rīks
GenericName[mk]=Алатка за преведување
GenericName[ms]=Perkakasan Penterjemahan
GenericName[nb]=Oversettelsesverktøy
GenericName[nds]=Warktüüch för't Översetten
GenericName[ne]=अनुवाद उपकरण
GenericName[nl]=Vertaalprogramma
GenericName[nn]=Omsetjingsverktøy
GenericName[pa]=ਅਨੁਵਾਦ ਸੰਦ
GenericName[pl]=Narzędzie dla tłumaczy
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de Tradução
GenericName[ro]=Utilitar pentru traduceri
GenericName[ru]=Переводчик для Qt
GenericName[se]=Jorgalanreaidu
GenericName[sl]=Orodje za prevajanje
GenericName[sr]=Алат за превођење
GenericName[sr@latin]=Alat za prevođenje
GenericName[sv]=Översättningsverktyg
GenericName[ta]=மொழிபெயர்ப்புக் கருவி
GenericName[te]=అనువాద పనిముట్టు
GenericName[tg]=Тарҷумагар барои QT
GenericName[th]=เครื่องมือแปลภาษา
GenericName[tr]=Çeviri Aracı
GenericName[uk]=Засіб для перекладів
GenericName[uz]=Таржима қилиш воситаси
GenericName[wa]=Usteye di ratournaedje
GenericName[x-test]=xxTranslation Toolxx
GenericName[xh]=Isixhobo Soguqulelo lomsebenzi kolunye ulwimi
GenericName[zh_TW]=翻譯工具
X-KDE-StartupNotify=true
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=linguist

