[Desktop Entry]
Exec=linguist
Name=Qt Linguist
Name[af]=Qt Linguist
Name[ar]= لسانيات Qt
Name[as]=Qt Linguist
Name[be]=Qt Linguist
Name[be@latin]=Qt Linguist
Name[bg]=Qt Linguist
Name[bn]=কিউ-টি লিঙ্গুইস্ট
Name[bn_IN]=Qt Linguist
Name[br]=Qt Linguist
Name[ca]=Lingüista Qt
Name[ca@valencia]=Lingüista Qt
Name[cs]=Qt Linguist
Name[csb]=Lingwista Qt
Name[cy]=Ieithydd Qt
Name[da]=Qt Linguist
Name[de]=Qt Linguist
Name[el]=Qt Linguist
Name[en_GB]=Qt Linguist
Name[eo]=Qt-Lingvisto
Name[es]=Lingüista Qt
Name[et]=Qt Linguist
Name[eu]=Qt Linguist
Name[fa]=Qt زبان‌شناس
Name[fi]=Qt Linquist
Name[fr]=Qt Linguist
Name[fy]=Qt Linquist
Name[ga]=Qt Linguist
Name[gl]=Qt Linguist
Name[gu]=Qt લિંગ્વિસ્ટિક
Name[he]=Qt Linguist
Name[hi]=क्यूटी लिंग्विस्ट
Name[hne]=क्यूटी लिंग्विस्ट
Name[hr]=Qt Linguist
Name[hsb]=Qt Linguist
Name[hu]=Qt Linguist
Name[is]=Qt Linguist
Name[it]=Qt Linguist
Name[ja]=Qt Linguist
Name[ka]=Qt ლინგვისტი
Name[kk]=Qt лингвисті
Name[km]=ភាសា​វិទូ Qt
Name[kn]=ಕ್ಯೂಟಿ ಲಿಂಗ್ವಿಸ್ಟ್
Name[ko]=Qt Linguist
Name[ku]=Qt Linguist
Name[lt]=Qt Linguist
Name[lv]=Qt lingvists
Name[mai]=क्यूटी लिंग्विस्ट
Name[mk]=Qt-Јазичар
Name[ml]=ക്യൂട്ടി ലിംഗ്വിസ്റ്റ്
Name[mr]=Qt लिंग्विस्ट
Name[ms]=Jurubahasa Qt
Name[nb]=Qt-Linguist
Name[nds]=Qt-Linguist
Name[ne]=Qt बहुभाषी
Name[nl]=Qt Linquist
Name[nn]=Qt Linguist
Name[or]=Qt ଭାଷା ପ୍ରବୀଣ
Name[pa]=Qt ਲੈਂਗੂਇਸਟ
Name[pl]=Lingwista Qt
Name[pt]=Qt Linguist
Name[pt_BR]=Qt Linguist
Name[ro]=Lingvist Qt
Name[ru]=Лингвист Qt
Name[se]=Qt Linguist
Name[si]=Qt Linguist
Name[sk]=Qt Linguist
Name[sl]=Qt Linguist
Name[sr]=КуТ‑лингвист
Name[sr@latin]=QtLinguist
Name[sv]=Qt linguist
Name[ta]=க்யுடி மொழியாளர்
Name[te]=క్యుటి లింగ్విస్ట్
Name[tg]=Qt Linguist
Name[th]=Qt Linguist
Name[tr]=Qt Linguist
Name[uk]=Qt-лінгвіст
Name[uz]=Qt lingvist
Name[uz@cyrillic]=Qt лингвист
Name[vi]=Qt Linguist
Name[wa]=Qt Linguist
Name[xh]=Usolwimi we Qt
Name[x-test]=xxQt Linguistxx
Name[zh_CN]=Qt 语言家
Name[zh_TW]=Qt 語言學家
GenericName=Translation Tool
GenericName[af]=Vertaling Program
GenericName[ar]=أداة للترجمة
GenericName[as]=অনুবাদৰ সৰঞ্জাম
GenericName[be]=Праграма перакладу
GenericName[be@latin]=Pryłada dla pierakładčyka
GenericName[bg]=Инструмент за превод
GenericName[bn]=অনুবাদ টুল
GenericName[bn_IN]=অনুবাদ ব্যবস্থা
GenericName[br]=Ostilh troidigezh
GenericName[ca]=Eina de traducció
GenericName[ca@valencia]=Eina de traducció
GenericName[cs]=Překladatelský nástroj
GenericName[csb]=Nôrzãdze dlô dolmôczów
GenericName[cy]=Erfyn Cyfieithu
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μεταφράσεων
GenericName[en_GB]=Translation Tool
GenericName[eo]=Tradukilo
GenericName[es]=Herramienta de traducción
GenericName[et]=Tõlkimise rakendus
GenericName[eu]=Itzulpenerako tresnak
GenericName[fa]=ابزار ترجمه
GenericName[fi]=Käännöstyökalu
GenericName[fr]=Outil de traduction
GenericName[fy]=Oersetark
GenericName[ga]=Uirlis Aistriúcháin
GenericName[gl]=Ferramenta de tradución
GenericName[gu]=ભાષાંતર સાધન
GenericName[he]=כלי תרגום
GenericName[hi]=अनुवाद औज़ार
GenericName[hne]=अनुवाद औजार
GenericName[hr]=Alat za prevođenje
GenericName[hsb]=Grat za přełožowanje
GenericName[hu]=Fordítássegítő
GenericName[is]=Þýðingartól
GenericName[it]=Strumento per le traduzioni
GenericName[ja]=翻訳ツール
GenericName[ka]=სათარგმნი ხელსაწყო
GenericName[kk]=Аудару құралы
GenericName[km]=កម្មវិធី​បកប្រែ
GenericName[kn]=ಭಾಷಾಂತರ ಸಲಕರಣೆ
GenericName[ko]=번역 도구
GenericName[ku]=Amûra Wergerandinê
GenericName[lt]=Vertimo įrankis
GenericName[lv]=Tulkošanas rīks
GenericName[mai]=अनुवाद अओजार
GenericName[mk]=Алатка за преведување
GenericName[ml]=പരിഭാഷാസഹായി
GenericName[mr]=अनुवाद साधन
GenericName[ms]=Perkakasan Penterjemahan
GenericName[nb]=Oversettelsesverktøy
GenericName[nds]=Warktüüch för't Översetten
GenericName[ne]=अनुवाद उपकरण
GenericName[nl]=Vertaalprogramma
GenericName[nn]=Omsetjingsverktøy
GenericName[oc]=Esplech de revirada
GenericName[or]=ଅନୁବାଦ ଉପକରଣ
GenericName[pa]=ਟਰਾਂਸਲੇਸ਼ਨ ਟੂਲ
GenericName[pl]=Narzędzie dla tłumaczy
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de tradução
GenericName[ro]=Utilitar pentru traduceri
GenericName[ru]=Программа локализации Qt
GenericName[se]=Jorgalanreaidu
GenericName[si]=පරිවර්තන මෙවලම
GenericName[sk]=Prekladací nástroj
GenericName[sl]=Orodje za prevajanje
GenericName[sr]=Алатка за превођење
GenericName[sr@latin]=Alatka za prevođenje
GenericName[sv]=Översättningsverktyg
GenericName[ta]=மொழிபெயர்ப்புக் கருவி
GenericName[te]=అనువాద పనిముట్టు
GenericName[tg]=Асбобҳои тарҷума
GenericName[th]=เครื่องมือแปลภาษา
GenericName[tr]=Çeviri Aracı
GenericName[uk]=Засіб для перекладів
GenericName[uz]=Tarjima qilish vositasi
GenericName[uz@cyrillic]=Таржима қилиш воситаси
GenericName[vi]=Công cụ dịch
GenericName[wa]=Usteye di ratournaedje
GenericName[xh]=Isixhobo Soguqulelo lomsebenzi kolunye ulwimi
GenericName[x-test]=xxTranslation Toolxx
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
X-KDE-StartupNotify=true
MimeType=application/x-linguist;
Terminal=false
Type=Application
Icon=linguist

