[Desktop Entry]
GenericName=Palm/Wireless Emulator
GenericName[af]=Palm/Draadloos Emulasie
GenericName[ar]=محاكي Palm/اللاسلكي
GenericName[be]=Эмулятар Palm/Wireless
GenericName[bg]=Емулатор за Palm/Wireless
GenericName[bn]=পাম (Palm) / বেতার (Wireless) এমুলেটর
GenericName[bn_IN]=পাল্‌ম/বেতার এমুলেটর
GenericName[br]=Kendarvanerezh Palm/Wireless
GenericName[ca]=Emulador Palm/Wireless
GenericName[cs]=Emulátor Palm/Wireless
GenericName[csb]=Emùlator Palma/bezkablowegò ùrządzeniô
GenericName[cy]=Efelychydd Palm/Diwifren
GenericName[da]=Palm-/Wireless-emulator
GenericName[de]=Emulator für drahtlosen Palm
GenericName[el]=Προσομοιωτής Palm/Wireless
GenericName[eo]=Palmo/sendrata emulilo
GenericName[es]=Emulador Palm/Inalámbrico
GenericName[et]=Palm/Wireless emulaator
GenericName[eu]=Palm/Wireless emuladorea
GenericName[fa]=مقلد رایانۀ جیبی/بی‌سیم
GenericName[fi]=Palm/Wireless-emulaattori
GenericName[fr]=Émulateur de Palm sans fil
GenericName[fy]=Palm/Wireless emulator
GenericName[ga]=Aithriseoir Ríomhaire Boise/Gan Sreang
GenericName[gl]=Emulador de Palm/Wireless
GenericName[gu]=પામ/વાયરલેસ ઇમ્યુલેટર
GenericName[he]=אמולטור לפאלם/אלחוט
GenericName[hi]=पॉम/वायरलेस एमुलेटर
GenericName[hr]=Emulator dlanovnika / bežičnih uređaja
GenericName[hu]=Palm/Wireless-emulátor
GenericName[is]=Palm/þráðlaus hermir
GenericName[it]=Emulatore Palm/Wireless
GenericName[ja]=Palm/ワイヤレスエミュレータ
GenericName[ka]=Palm/Wireless–ის ემულატორი
GenericName[kk]=Palm/Wireless эмуляторы
GenericName[km]=កម្មវិធី​ត្រាប់តាម Palm/Wireless
GenericName[kn]=ಅಂಗೈಗಣಕ/ತಂತುರಹಿತ ಅನುವರ್ತಕ (ಎಮುಲೇಟರ್)
GenericName[ko]=Palm/무선 에뮬레이터
GenericName[ku]=Emulasyona Palm/Wireless
GenericName[lt]=Palm/Wireless emuliatorius
GenericName[lv]=Palm/bezvadu emulators
GenericName[mk]=Емулатор за Palm/Wireless
GenericName[ml]=പാം/വയര്‍ലെസ്സ് എമ്യുലേറ്റര്‍
GenericName[mr]=पॉम/वायरलेस एमुलेटर
GenericName[ms]=Emulator Palm/Wireless
GenericName[nb]=Palm/trådløsemulator
GenericName[nds]=Emulater för Funk-Palm
GenericName[ne]=हत्केला/ताररहित इमुलेटर
GenericName[nl]=Palm/Wireless emulator
GenericName[nn]=Palm-/Wireless-emulator
GenericName[pa]=ਪਾਮ/ਬੇਤਾਰ ਈਮੂਲੇਟਰ
GenericName[pl]=Emulator Palma/urządzenia bezprzewodowego
GenericName[pt]=Emulador de Palm/Wireless
GenericName[pt_BR]=Emulador de Palm/Wireless
GenericName[ro]=Emulator Palm Pilot
GenericName[ru]=Эмулятор Palm/Wireless
GenericName[se]=Palm/Wireless-emuláhtor
GenericName[sk]=Emulátor Palm/Wireless
GenericName[sl]=Emulator brezžičnega palma
GenericName[sr]=Емулатор палма/бежичног
GenericName[sr@latin]=Emulator Palma/bežičnog
GenericName[sv]=Emulator för trådlös Palm
GenericName[ta]=கையடக்க/வடமற்ற முன்மாதிரி
GenericName[te]=పామ్/వైర్ లెస్ ఎములెటర్
GenericName[tg]=Тақлидгари Palm/Wireless
GenericName[th]=ตัวจำลองปาล์ม/อุปกรณ์ไร้สาย
GenericName[tr]=Palm/Wireless Öykünücüsü
GenericName[uk]=Емулятор Palm/Wireless
GenericName[uz]=Palm/Wireless emulyatori
GenericName[uz@cyrillic]=Palm/Wireless эмулятори
GenericName[vi]=Mô phỏng vô tuyến/Palm
GenericName[wa]=Emulateu Palm/Sins fyi
GenericName[x-test]=xxPalm/Wireless Emulatorxx
GenericName[zh_CN]=Palm/无线设备模拟器
GenericName[zh_TW]=Palm/無線裝置 模擬器
Exec=pose
Icon=ksmiletris
Name=Pose
Name[af]=Poseer
Name[ar]=وضعيَة
Name[gu]=પોઝ
Name[hi]=पोज़
Name[kn]=ಪೋಸ್
Name[ml]=പോസെ
Name[mr]=पोज
Name[ne]=ढङ्ग
Name[pa]=ਪੋਸ
Name[sr]=Поуз
Name[ta]=போஸ்
Name[te]=పోజ్
Name[x-test]=xxPosexx
Terminal=false
Type=Application
