[Desktop Entry]
Encoding=UTF-8
GenericName=Palm/Wireless Emulator
GenericName[af]=Palm/Draadloos Emulasie
GenericName[ar]=مضاهِ Palm/اللاسلكي
GenericName[bg]=Palm/Wireless емулатор
GenericName[br]=Kendarvanerezh Palm/Wireless
GenericName[ca]=Emulador Palm/Wireless
GenericName[cs]=Emulátor Palm/Wireless
GenericName[csb]=Emùlator Palma/bezkablowegò ùrządzeniô
GenericName[cy]=Efelychydd Palm/Diwifren
GenericName[da]=Palm-/Wireless-emulator
GenericName[de]=Emulator für drahtlosen Palm
GenericName[el]=Προσομοιωτής Palm/Wireless
GenericName[eo]=Palmo/sendrata emulilo
GenericName[es]=Emulador Palm/Inalámbrico
GenericName[et]=Palm/Wireless emulaator
GenericName[eu]=Palm/Wireless emuladorea
GenericName[fa]=مقلد رایانۀ جیبی/بی‌سیم
GenericName[fi]=Palm/Wireless-emulaattori
GenericName[fr]=Émulateur de Palm sans fil
GenericName[fy]=Palm/Wireless emulator
GenericName[ga]=Aithriseoir Ríomhaire Boise/Gan Sreang
GenericName[gl]=Emulador de Palm/Wireless
GenericName[he]=אמולטור פאלם\אלחוט
GenericName[hr]=Emulator Palm/bežičnih uređaja
GenericName[hu]=Palm/Wireless-emulátor
GenericName[is]=Palm/þráðlaus hermir
GenericName[it]=Emulatore Palm/Wireless
GenericName[ja]=Palm/ワイヤレスエミュレータ
GenericName[ka]=Palm/Wireless–ის ემულატორი
GenericName[kk]=Palm/Wireless эмуляторы
GenericName[km]=កម្មវិធីស្ថានីយ៍ Palm/Wireless
GenericName[ko]=팜/와이어리스 흉내장이
GenericName[lt]=Palm/Wireless emuliatorius
GenericName[lv]=Palm/Bezvadu Emulators
GenericName[mk]=Емулатор за Palm/Wireless
GenericName[ms]=Emulator Palm/Wireless
GenericName[nb]=Palm/trådløsemulator
GenericName[nds]=Emulator för drahtlosen Palm
GenericName[ne]=हत्केला/तार रहीत इमुलेटर
GenericName[nl]=Palm/Wireless emulator
GenericName[nn]=Palm-/Wireless-emulator
GenericName[pa]=ਪਾਮ/ਬੇਤਾਰ ਸਮਰੂਪੀ
GenericName[pl]=Emulator Palma/urządzenia bezprzewodowego
GenericName[pt]=Emulador de Palm/Wireless
GenericName[pt_BR]=Emulador de Palm/Wireless
GenericName[ro]=Emulator Palm Pilot
GenericName[ru]=Эмулятор Palm/Wireless
GenericName[se]=Palm/Wireless-emuláhtor
GenericName[sl]=Emulator brezžičnega palma
GenericName[sr]=Palm/Wireless емулатор
GenericName[sr@Latn]=Palm/Wireless emulator
GenericName[sv]=Emulator för trådlös Palm
GenericName[ta]=கையடக்க/கம்பியில்லாபோன்மி
GenericName[te]=పామ్/వైర్ లెస్ ఎములెటర్
GenericName[tg]=Эмулятори Palm/Wireless 
GenericName[tr]=Palm Emülasyonu
GenericName[uk]=Емулятор Palm/Wireless
GenericName[uz]=Palm/Wireless эмулятори
GenericName[wa]=Emulateu Palm/Sins fyi
GenericName[x-test]=xxPalm/Wireless Emulatorxx
GenericName[zh_TW]=Palm/無線裝置 模擬器
Exec=pose
Icon=ksmiletris
Name=Pose
Name[af]=Poseer
Name[eo]=Pozo
Name[hr]=Poze
Name[ko]=포즈
Name[lv]=Poza
Name[ne]=ढङ्ग
Name[pa]=ਪੋਸ
Name[te]=పోజ్
Name[x-test]=xxPosexx
Path=
Terminal=false
Type=Application
