[Desktop Entry]
Encoding=UTF-8
Name=Sced
Name[eo]=Scenodesegnilo
Name[ne]=स्केड
Name[ta]=ஓவியக்கருவி
Name[te]=సెడ్
Name[x-test]=xxScedxx
GenericName=Scene Modeler
GenericName[af]=Beeld Moduleerder
GenericName[be]=Рэдактар сцэнаў
GenericName[bg]=Моделиране на сцени
GenericName[ca]=Modelador d'escenes
GenericName[cs]=Modelář scén
GenericName[csb]=Mòdelowanié bunë
GenericName[cy]=Modelydd Golygfa
GenericName[da]=Scene-modellering
GenericName[de]=Szenen-Modellierer
GenericName[el]=Μοντελοποιητής σκηνών
GenericName[en_GB]=Scene Modeller
GenericName[eo]=Desegnilo por tridimensiaj scenoj
GenericName[es]=Modelador de escenas
GenericName[et]=Scene modelleerija
GenericName[fa]=مدل‌ساز صحنه
GenericName[fi]=Maisemamallintaja
GenericName[fr]=Modeleur de scène
GenericName[fy]=Sêne-modelearprogramma
GenericName[ga]=Insamhlóir Amhairc
GenericName[gl]=Modelador de Cenas
GenericName[he]=ממדל סצנות
GenericName[hr]=Program za modeliranje scena
GenericName[hu]=Grafikus modellező
GenericName[is]=Sviðshönnuður
GenericName[it]=Modellatore di scene
GenericName[ja]=シーンモデラー
GenericName[km]=ធ្វើ​ជា​គំរូ​រូបភាព
GenericName[ko]=장면 모델러
GenericName[lt]=Scenos modeliuotojas
GenericName[lv]=Scēnu Modelētājs
GenericName[mk]=Моделирач на сцени
GenericName[ms]=Pensimulasi Pemandangan
GenericName[nb]=Scenemodellering
GenericName[ne]=दृश्य नमूना बनाउने
GenericName[nl]=Scene-modeleerprogramma
GenericName[nn]=Scenemodellering
GenericName[pa]=Scene ਮੋਡੀਲੀਰ
GenericName[pl]=Modelowanie sceny
GenericName[pt]=Modelador de Cenas
GenericName[pt_BR]=Modelador de Cenas
GenericName[ro]=Modelator de scene 3D
GenericName[se]=Lávderáhkadeaddji
GenericName[sl]=Modelirnik scen
GenericName[sr]=Моделар сцена
GenericName[sr@latin]=Modelar scena
GenericName[sv]=Scenmodelleringsverktyg
GenericName[ta]=கண்காட்சி வடிவமைப்பாளர்
GenericName[te]=సీన్ మొడెలర్
GenericName[tg]=Модулгари Scene
GenericName[th]=เครื่องมือสร้างโมเดลฉาก
GenericName[tr]=Manzara Modelleme Programı
GenericName[uk]=Модельєр сцен
GenericName[vi]=Bộ tạo mẫu cảnh
GenericName[x-test]=xxScene Modelerxx
GenericName[zh_CN]=场景生成器
GenericName[zh_TW]=場景繪製程式
Exec=sced
Terminal=false
Icon=xpm
Type=Application
