[Desktop Entry]
Name=GNOME Chess
Name[af]=Gnome Skaak
Name[ar]=شطرنج جنوم
Name[as]=GNOME Chess
Name[be]=Шахматы GNOME
Name[be@latin]=Šachmaty dla GNOME
Name[bg]=Шах (GNOME)
Name[bn]=গনোম দাবা
Name[bn_IN]=GNOME Chess
Name[br]=GNOME Chess
Name[ca]=Escacs a GNOME
Name[ca@valencia]=Escacs a GNOME
Name[cs]=Gnome šachy
Name[csb]=Gnome Szachë
Name[cy]=Gwyddbwyll GNOME
Name[da]=GNOME Skak
Name[de]=GNOME-Schach
Name[el]=GNOME Σκάκι
Name[en_GB]=GNOME Chess
Name[eo]=Gnoma ŝako
Name[es]=Ajedrez GNOME
Name[et]=GNOME male
Name[eu]=GNOME Xakea
Name[fa]=شطرنج گنوم
Name[fi]=Gnome-shakki
Name[fr]=GChess
Name[fy]=GNOME Chess
Name[ga]=Ficheall GNOME
Name[gl]=Xadrez de GNOME
Name[gu]=જીનોમ ચેસ
Name[he]=GNOME Chess
Name[hi]=ग्नोम शतरंज
Name[hne]=ग्नोम सतरंज
Name[hr]=GNOME šah
Name[hsb]=GNOME šach
Name[hu]=GNOME Chess
Name[is]=GNOME skák
Name[it]=GNOME Chess
Name[ja]=GNOME チェス
Name[ka]=GNOME ჭადრაკი
Name[kk]=GNOME шахмат ойыны
Name[km]=ល្បែង​អុក​របស់ GNOME
Name[kn]=ಗ್ನೋಮ್ ಚದುರಂಗ
Name[ko]=그놈 체스
Name[ku]=Kişika GNOME
Name[lt]=GNOME šachmatai
Name[lv]=GNOME šahs
Name[mai]=ग्नोम शतरंज
Name[mk]=GNOME Шах
Name[ml]=ഗ്നോം ചതുരംഗം
Name[mr]=GNOME बुध्दिबळ
Name[ms]=Catur GNOME
Name[nb]=GNOME Sjakk
Name[nds]=GNOME Chess
Name[ne]=जिनोम बुद्धिचाल
Name[nl]=GNOME Chess
Name[nn]=GNOME Chess
Name[oc]=GNOME Chess
Name[or]=GNOME ଚେସ
Name[pa]=ਗਨੋਮ ਸਤਰੰਜ਼
Name[pl]=Gnome Szachy
Name[pt]=GNOME Chess
Name[pt_BR]=Xadrez do GNOME
Name[ro]=Șah GNOME
Name[ru]=GNOME Chess
Name[se]=GNOME Chess
Name[si]=GNOME චෙස්
Name[sk]=GNOME Šach
Name[sl]=GNOME Chess
Name[sr]=Гномов шах
Name[sr@latin]=Gnomeov šah
Name[sv]=Gnome chess
Name[ta]=குநோம் செஸ்
Name[te]=గ్నోమ్ చదరంగం
Name[tg]=Шоҳмоти GNOME
Name[th]=หมากรุกของ GNOME
Name[tr]=GNOME Satranç
Name[uk]=Шахи для Gnome
Name[uz]=GNNOME shaxmat
Name[uz@cyrillic]=GNNOME шахмат
Name[vi]=Cờ GNOME
Name[wa]=Djeu d' echeks di Gnome
Name[xh]=GNOME Chess
Name[x-test]=xxGNOME Chessxx
Name[zh_CN]=GNOME 国际象棋
Name[zh_TW]=GNOME 西洋棋
Exec=gnome-chess
Terminal=false
Icon=gnome-chess
Type=Application
