[Desktop Entry]
Name=GNOME Chess
Name[af]=Gnome Skaak
Name[ar]=شطرنج جنوم
Name[be]=Шахматы GNOME
Name[bg]=Шах (GNOME)
Name[ca]=Escacs a GNOME
Name[cs]=Gnome šachy
Name[csb]=Gnome Szachë
Name[cy]=Gwyddbwyll GNOME
Name[da]=GNOME Skak
Name[de]=GNOME-Schach
Name[el]=GNOME Σκάκι
Name[eo]=Gnoma ŝako
Name[es]=Ajedrez GNOME
Name[et]=GNOME male
Name[eu]=GNOME Xakea
Name[fa]=شطرنج گنوم
Name[fi]=Gnome-shakki
Name[fr]=GChess
Name[ga]=Ficheall GNOME
Name[gl]=Xadrez de GNOME
Name[hr]=GNOME šah
Name[is]=GNOME skák
Name[ja]=GNOME チェス
Name[ka]=GNOME ჭადრაკი
Name[kk]=GNOME шахмат ойыны
Name[km]=ល្បែង​អុក​របស់ GNOME
Name[ko]=그놈 체스
Name[lt]=GNOME šachmatai
Name[lv]=GNOME Šahs
Name[mk]=GNOME Шах
Name[ms]=Catur GNOME
Name[nb]=GNOME Sjakk
Name[ne]=जिनोम बुद्धिचाल
Name[pa]=ਗਨੋਮ ਸਤਰੰਜ਼
Name[pl]=Gnome Szachy
Name[pt_BR]=Xadrez do GNOME
Name[ro]=Şah GNOME
Name[ru]=Шахматы GNOME
Name[sl]=Šah v Gnome
Name[sr]=Гномов шах
Name[sr@latin]=Gnomeov šah
Name[sv]=Gnome chess
Name[ta]=GNOME செஸ்
Name[te]=గ్నోమ్ చదరంగం
Name[tg]=Шоҳмоти GNOME
Name[th]=หมากรุกของ GNOME
Name[tr]=GNOME Satranç
Name[uk]=Шахи для Gnome
Name[uz]=GNNOME шахмат
Name[vi]=Cờ GNOME
Name[wa]=Djeu d' echeks di Gnome
Name[x-test]=xxGNOME Chessxx
Name[zh_CN]=GNOME 国际象棋
Name[zh_TW]=GNOME 國際象棋
Exec=gnome-chess
Terminal=false
Icon=gnome-chess
Type=Application
