[Desktop Entry]
Encoding=UTF-8
Name=GNOME Mahjongg
Name[af]=Gnome Mahjongg
Name[be]=Маджонг GNOME
Name[cs]=Gnome Mahjongg
Name[csb]=Gnome Mahjongg
Name[eo]=Gnom-Mahjongo
Name[es]=Mahjongg de GNOME
Name[fi]=Gnome-mahjongg
Name[fr]=GMahjongg
Name[ga]=Mahjongg GNOME
Name[ja]=GNOME 上海
Name[ka]=GNOME მა-ჯონგი
Name[kk]=GNOME маджонг ойыны
Name[ko]=그놈 마작
Name[ms]=Mahjong GNOME
Name[ne]=जिनोम माहजोङ्ग
Name[nn]=Mahjongg
Name[pa]=ਗਨੋਮ ਮਾਹਜੋਨਜ਼
Name[pl]=Gnome Mahjongg
Name[pt_BR]=Mahjongg do GNOME
Name[ro]=Mahjongg GNOME
Name[sl]=Mahjongg za Gnome
Name[sr]=Гномов Mahjongg
Name[sr@latin]=Gnomov Mahjongg
Name[sv]=Gnome Mahjongg
Name[ta]=GNOME மாஹ்ஜாங்
Name[te]=గ్నొమ్ మహ్ జొంగ్
Name[tg]=Маҳҷонг ГНОМИК
Name[th]=ไพ่นกกระจอก GNOME
Name[uk]=Махжонг для GNOME
Name[wa]=Djeu di Mahjongg di Gnome
Name[x-test]=xxGNOME Mahjonggxx
Name[zh_TW]=GNOME 上海麻將
GenericName=Tile Game
GenericName[af]=Teël Speletjie
GenericName[be]=Гульня з аскепкамі
GenericName[br]=Ur c'hoari teol
GenericName[ca]=Joc de mosaics
GenericName[cs]=Hra s dlaždicemi
GenericName[csb]=Planszowô gra
GenericName[cy]=Gêm Teil
GenericName[da]=Flisespil
GenericName[de]=Spiel mit Steinen
GenericName[el]=Παιχνίδι με πιόνια
GenericName[eo]=Kahela ludo
GenericName[es]=Juego de baldosas
GenericName[et]=Klotsimäng
GenericName[eu]=Baldosa jokoa
GenericName[fa]=بازی کاشی
GenericName[fi]=Palikkapeli
GenericName[fr]=Jeu de tuiles
GenericName[fy]=Tegelspul
GenericName[ga]=Cluiche Tíleanna
GenericName[gl]=Xogo de Pezas
GenericName[he]=משחק מרצפות
GenericName[hr]=Igra s pločicama
GenericName[hu]=Képdominó
GenericName[is]=Kubbaleikur
GenericName[it]=Gioco di tessere
GenericName[ja]=マージャン牌ゲーム
GenericName[ka]=თამაშები ფილებით
GenericName[kk]=Tile ойыны
GenericName[km]=ល្បែង​ក្រឡា
GenericName[lt]=Dėliojimo žaidimas
GenericName[lv]=Tile Spēle
GenericName[mk]=Игра со плочки
GenericName[ms]=Permainan Jubin
GenericName[nb]=Brikkespill
GenericName[nds]=Speel mit Tegels
GenericName[ne]=टायल खेल
GenericName[nl]=Tegelspel
GenericName[nn]=Brikkespel
GenericName[pa]=ਟਿਲੀ ਗੇਂਦ
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Peças
GenericName[pt_BR]=Jogo de Ladrilhos
GenericName[ro]=Joc de mozaic
GenericName[ru]=Игра в маджонг
GenericName[se]=Bihttáspeallu
GenericName[sl]=Sestavljanka
GenericName[sr]=Блоковска игра
GenericName[sr@latin]=Blokovska igra
GenericName[sv]=Brickspel
GenericName[ta]=டைல் விளையாட்டு
GenericName[te]=పెంకుల ఆట
GenericName[tg]=Бозӣ бо маджонг
GenericName[th]=เกมแบบไพ่นกกระจอก
GenericName[tr]=Taş oyunu
GenericName[uk]=Гра з плитками
GenericName[uz]=Тош ўйини
GenericName[x-test]=xxTile Gamexx
GenericName[xh]=Umdlalo Wethayile
GenericName[zh_TW]=麻將遊戲
Exec=mahjongg
Terminal=false
Icon=gnome-mahjongg
Type=Application
