[Desktop Entry]
Encoding=UTF-8
Name=GNOME Mines
Name[af]=Gnome Myne
Name[ar]=ألغام جنوم
Name[be]=Міны GNOME
Name[bg]=Мини (GNOME)
Name[br]=Minoù GNOME 
Name[ca]=Mines del GNOME
Name[cs]=Gnome miny
Name[csb]=Gnome Minë
Name[cy]=Ffrwydron GNOME 
Name[el]=GNOME Νάρκες
Name[eo]=Gnoma minserĉanto
Name[es]=Minas de GNOME
Name[eu]=GNOME minak
Name[fi]=Gnome-miinaharava
Name[fr]=GMines
Name[ga]=Mines GNOME
Name[hr]=GNOME mine
Name[ja]=GNOME マイン
Name[ka]=GNOME გამნაღმვნელი
Name[kk]=GNOME сапер ойыны
Name[km]=ល្បែង​មីន​របស់ GNOME
Name[ko]=그놈 지뢰찾기
Name[lt]=GNOME minos
Name[lv]=GNOME Mīnas
Name[mk]=GNOME Мини
Name[ne]=जिनोम बारूद
Name[pa]=ਗਨੋਮ ਸੁਰੰਗਾਂ
Name[pl]=Gnome Miny
Name[pt_BR]=Campo Minado do GNOME
Name[ro]=Mine GNOME
Name[ru]=Сапёр GNOME
Name[sl]=Mine v Gnome
Name[sr]=Гномов Mines
Name[sr@latin]=Gnomov Mines
Name[sv]=Gnome-minröjare
Name[ta]=க்னோம் மைன்ஸ்
Name[te]=గ్నొమ్ గనులు
Name[tg]=Сапёр GNOME
Name[tr]=GNOME Mayınlar
Name[uk]=Сапер для GNOME
Name[uz]=Gnome миналар
Name[vi]=Dò mìn GNOME
Name[wa]=Dismineu di Gnome
Name[x-test]=xxGNOME Minesxx
Name[xh]=GNOME Iimayine
Name[zh_TW]=GNOME 踩地雷
GenericName=Logic Game
GenericName[af]=Logika Speletjie
GenericName[ar]=ألعاب منطقية
GenericName[be]=Лагічная гульня
GenericName[bg]=Логическа игра
GenericName[ca]=Joc de lògica
GenericName[cs]=Logická hra
GenericName[csb]=Logicznô gra
GenericName[cy]=Gêm Rhesymeg
GenericName[da]=Logikspil
GenericName[de]=Logikspiel
GenericName[el]=Παιχνίδι λογικής
GenericName[eo]=Logikludo
GenericName[es]=Juego de lógica
GenericName[et]=Loogikamäng
GenericName[eu]=Logika jokoa
GenericName[fa]=بازی منطق
GenericName[fi]=Logiikkapeli
GenericName[fr]=Jeu de logique
GenericName[fy]=Logysk spul
GenericName[ga]=Cluiche Loighce
GenericName[gl]=Xogo de Lóxica
GenericName[he]=משחק לוגיקה
GenericName[hr]=Logička igra
GenericName[hu]=Logikai
GenericName[is]=kænskuleikur
GenericName[it]=Gioco di logica
GenericName[ja]=論理ゲーム
GenericName[ka]=თამაშები ლოგიკაზე 
GenericName[kk]=Логикалық ойын
GenericName[km]=ល្បែង​តក្ក
GenericName[ko]=로직 게임
GenericName[lt]=Loginis žaidimas
GenericName[lv]=Loģiskā Spēle
GenericName[mk]=Логичка игра
GenericName[ms]=Permainan Logik
GenericName[nb]=Logikkspill
GenericName[nds]=Logikspeel
GenericName[ne]=तर्क खेल
GenericName[nl]=Logisch spel
GenericName[nn]=Logikkspel
GenericName[pa]=ਲਾਜਿਕ ਖੇਡ
GenericName[pl]=Gra logiczna
GenericName[pt]=Jogo de Lógica
GenericName[pt_BR]=Jogo de Lógica
GenericName[ro]=Joc de logică
GenericName[ru]=Логическая игра
GenericName[se]=Logihkkaspeallu
GenericName[sl]=Logična igra
GenericName[sr]=Логичка игра
GenericName[sr@latin]=Logička igra
GenericName[sv]=Logiskt spel
GenericName[ta]=லாஜிக் விளையாட்டு
GenericName[te]=తర్కపు ఆట
GenericName[tg]=Бозии логикӣ
GenericName[th]=เกมตรรกะ
GenericName[tr]=Mantık Oyunu
GenericName[uk]=Гра на логіку
GenericName[uz]=Мантиқий ўйин
GenericName[vi]=Trò chơi lôgíc
GenericName[wa]=Djeu di lodjike
GenericName[x-test]=xxLogic Gamexx
GenericName[zh_TW]=智力遊戲
Exec=gnomine
Terminal=false
Icon=gnome-gnomine
Type=Application
