[Desktop Entry]
Name=GNOME Mines
Name[af]=Gnome Landmyne
Name[ar]=ألغام جنوم
Name[be]=Міны GNOME
Name[bg]=Мини (GNOME)
Name[bn]=গনোম মাইনস
Name[br]=Minoù GNOME 
Name[ca]=Mines del GNOME
Name[cs]=Gnome miny
Name[csb]=Gnome Minë
Name[cy]=Ffrwydron GNOME 
Name[el]=GNOME Νάρκες
Name[eo]=Gnoma Minoj
Name[es]=Minas de GNOME
Name[eu]=GNOME minak
Name[fi]=Gnome-miinaharava
Name[fr]=GMines
Name[ga]=Mines GNOME
Name[gu]=જીનોમ માઇન્સ
Name[hi]=ग्नोम माइन्स
Name[hr]=GNOME mine
Name[ja]=GNOME マイン
Name[ka]=GNOME გამნაღმვნელი
Name[kk]=GNOME сапер ойыны
Name[km]=ល្បែង​មីន​របស់ GNOME
Name[ko]=그놈 지뢰찾기
Name[ku]=Mayinên GNOME'ê
Name[lt]=GNOME minos
Name[lv]=GNOME mīnas
Name[mk]=GNOME Мини
Name[ml]=ഗ്നോം മൈന്‍
Name[mr]=GNOME माइन्स
Name[ne]=जिनोम बारूद
Name[pa]=ਗਨੋਮ ਸੁਰੰਗਾਂ
Name[pl]=Gnome Miny
Name[pt_BR]=Campo Minado do GNOME
Name[ro]=Mine GNOME
Name[ru]=Сапёр GNOME
Name[sl]=Mine v Gnome
Name[sr]=Гномове минице
Name[sr@latin]=Gnomeove minice
Name[sv]=Gnome-minröjare
Name[ta]=குநோம் மைன்ஸ்
Name[te]=గ్నొమ్ గనులు
Name[tg]=Сапёри GNOME
Name[tr]=GNOME Mayınlar
Name[uk]=Сапер для GNOME
Name[uz]=Gnome minalar
Name[uz@cyrillic]=Gnome миналар
Name[vi]=Dò mìn GNOME
Name[wa]=Dismineu di Gnome
Name[x-test]=xxGNOME Minesxx
Name[xh]=GNOME Iimayine
Name[zh_CN]=GNOME 挖地雷
Name[zh_TW]=GNOME 踩地雷
GenericName=Logic Game
GenericName[af]=Logika Speletjie
GenericName[ar]=ألعاب منطقية
GenericName[be]=Лагічная гульня
GenericName[bg]=Логическа игра
GenericName[bn]=যুক্তির খেলা
GenericName[bn_IN]=যুক্তির খেলা
GenericName[ca]=Joc de lògica
GenericName[cs]=Logická hra
GenericName[csb]=Logicznô gra
GenericName[cy]=Gêm Rhesymeg
GenericName[da]=Logikspil
GenericName[de]=Logikspiel
GenericName[el]=Παιχνίδι λογικής
GenericName[eo]=Logika ludo
GenericName[es]=Juego de lógica
GenericName[et]=Loogikamäng
GenericName[eu]=Logika jokoa
GenericName[fa]=بازی منطق
GenericName[fi]=Logiikkapeli
GenericName[fr]=Jeu de logique
GenericName[fy]=Logysk spul
GenericName[ga]=Cluiche Loighce
GenericName[gl]=Xogo de lóxica
GenericName[gu]=તાર્કિક રમત
GenericName[he]=משחק לוגיקה
GenericName[hi]=तर्क के खेल
GenericName[hr]=Logička igra
GenericName[hu]=Logikai
GenericName[is]=Kænskuleikur
GenericName[it]=Gioco di logica
GenericName[ja]=論理ゲーム
GenericName[ka]=თამაშები ლოგიკაზე 
GenericName[kk]=Логикалық ойын
GenericName[km]=ល្បែង​តក្ក
GenericName[ko]=로직 게임
GenericName[ku]=Lîstika Jîrîtiyê
GenericName[lt]=Loginis žaidimas
GenericName[lv]=Loģiskā spēle
GenericName[mk]=Логичка игра
GenericName[ml]=ബുദ്ധി ഉപയോഗിച്ചുള്ള കളി
GenericName[mr]=तर्क खेळ
GenericName[ms]=Permainan Logik
GenericName[nb]=Logikkspill
GenericName[nds]=Logikspeel
GenericName[ne]=तर्क खेल
GenericName[nl]=Logisch spel
GenericName[nn]=Logikkspel
GenericName[oc]=Jòc de logica
GenericName[pa]=ਲਾਜਿਕ ਖੇਡ
GenericName[pl]=Gra logiczna
GenericName[pt]=Jogo de Lógica
GenericName[pt_BR]=Jogo de Lógica
GenericName[ro]=Joc de logică
GenericName[ru]=Логическая игра
GenericName[se]=Logihkkaspeallu
GenericName[sk]=Logická hra
GenericName[sl]=Logična igra
GenericName[sr]=Логичка игра
GenericName[sr@latin]=Logička igra
GenericName[sv]=Logiskt spel
GenericName[ta]=லாஜிக் விளையாட்டு
GenericName[te]=తర్కపు ఆట
GenericName[tg]=Бозиҳои мантиқӣ
GenericName[th]=เกมตรรกะ
GenericName[tr]=Mantık Oyunu
GenericName[uk]=Гра на логіку
GenericName[uz]=Mantiqiy oʻyin
GenericName[uz@cyrillic]=Мантиқий ўйин
GenericName[vi]=Trò chơi lôgíc
GenericName[wa]=Djeu di lodjike
GenericName[x-test]=xxLogic Gamexx
GenericName[zh_CN]=逻辑游戏
GenericName[zh_TW]=智力遊戲
Exec=gnomine
Terminal=false
Icon=gnome-gnomine
Type=Application
