[Desktop Entry]
Encoding=UTF-8
Name=Gnotravex
Name[eo]=Gnotravekso
Name[ne]=जिनोट्राभेक्स
Name[pa]=ਗਨੋਟਰਾਵਕਸ
Name[ta]=Gnoடிராவெக்ஸ்
Name[te]=గ్నొట్రవెక్స్
Name[x-test]=xxGnotravexxx
Name[zh_TW]=數字拼圖
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[be]=Аркадная гульня
GenericName[bg]=Аркадна игра
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo de Arcade
GenericName[he]=משחק Arcade
GenericName[hr]=Arkadna igra
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ធ្វើ​ដំណើរ
GenericName[ko]=오락실 놀이
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes Spēle
GenericName[mk]=Аркадна игра
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo Arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Arkadspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозии Arcade
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Аркада ўйини
GenericName[wa]=Djeu d' årcåde
GenericName[x-test]=xxArcade Gamexx
GenericName[xh]=Umdlalo we Arcade
GenericName[zh_TW]=電子遊戲
Exec=gnotravex
Terminal=false
Icon=gnome-gnotravex
Type=Application
