[Desktop Entry]
Name=Gnotski
Name[ar]=كلوتسكي
Name[ne]=जिनोटस्की
Name[pa]=ਗਨੋਟਸਕੀ
Name[sr]=Гнотски
Name[te]=గ్నొట్స్కి
Name[x-test]=xxGnotskixx
Name[zh_CN]=华容道
Name[zh_TW]=華容道
GenericName=GNOME Klotski Game
GenericName[af]=Gnome Klotski Speletjie
GenericName[be]=Гульня GNOME Klotski
GenericName[bg]=GNOME Klotski
GenericName[br]=C'hoari GNOME Klotski
GenericName[ca]=Joc Klotski del GNOME
GenericName[cs]=Hra GNOME Klotski
GenericName[csb]=Gnome Klotski gra
GenericName[cy]=Gêm Klotski GNOME
GenericName[da]=GNOME Klotski-spil
GenericName[de]=Klotski (GNOME)
GenericName[el]=Παιχνίδι Klotski του GNOME
GenericName[eo]=Gnoma Klotski-ludo
GenericName[es]=Juego GNOME Klotski
GenericName[et]=GNOME mäng Klotski
GenericName[eu]=GNOME Klotski jokoa
GenericName[fa]=گنوم Klotski بازی
GenericName[fi]=Gnome-klotski-peli
GenericName[fr]=Jeu de Klotski pour Gnome
GenericName[fy]=GNOME Klotski-spul
GenericName[ga]=Cluiche Klotski GNOME
GenericName[gl]=Xogo Klotski de GNOME
GenericName[he]=משחק Klotski של GNOME
GenericName[hr]=GNOME Klotski igra
GenericName[hu]=GNOME Klotski
GenericName[is]=GNOME Klotski leikur
GenericName[it]=Gioco Klotski di GNOME
GenericName[ja]=GNOME Klotski ゲーム
GenericName[ka]=თამაში GNOME Klotski
GenericName[kk]=GNOME Klotski ойыны
GenericName[km]=ល្បែង Klotski របស់ GNOME
GenericName[ko]=그놈 클로츠키 게임
GenericName[lv]=GNOME Klotski spēle
GenericName[mk]=GNOME Klotski игра
GenericName[ms]=Permainan GNOME Klotski
GenericName[nb]=Klotski-spill for GNOME
GenericName[nds]=Klotski-Speel vun GNOME
GenericName[ne]=जिनोम क्लोत्स्की खेल
GenericName[nl]=GNOME Klotski-spel
GenericName[nn]=Klotski-spel for GNOME
GenericName[oc]=Jòc de Klotski per Gnome
GenericName[pa]=ਗਨੋਮ ਕਲੋਟਸਕੀ ਖੇਡ
GenericName[pl]=Gra Gnome Klotski
GenericName[pt]=Jogo Klotski do GNOME
GenericName[pt_BR]=Jogo Klotski do GNOME
GenericName[ro]=Joc Klotski pentru GNOME
GenericName[ru]=Игра GNOME (Klotski)
GenericName[se]=GNOME klotski-speallu
GenericName[sl]=Igra Gnome Klotski
GenericName[sr]=Гномова игра Клотскија
GenericName[sr@latin]=Gnomeova igra Klotskija
GenericName[sv]=Gnome-spelet Klotski
GenericName[ta]=க்னோம் கேலாட்ஸ்கி விளையாட்டு
GenericName[te]=గ్నోమ్ క్లొట్స్కి ఆట
GenericName[tg]=Бозии GNOME (Klotski)
GenericName[th]=เกมขุนแผนแหกค่ายบน GNOME
GenericName[tr]=GNOME Klotski Oyunu
GenericName[uk]=Гра Klotski для Gnome
GenericName[uz]=GNOME Klotski ўйини
GenericName[vi]=Trò Klotski của GNOME
GenericName[x-test]=xxGNOME Klotski Gamexx
GenericName[zh_CN]=GNOME 华容道 游戏
GenericName[zh_TW]=GNOME 華容道
Exec=gnotski
Terminal=false
Icon=
Type=Application
