[Desktop Entry]
Name=Gnotravex
Name[af]=Gnotravex
Name[ar]=لعبة Gnotravex
Name[as]=Gnotravex
Name[be]=Gnotravex
Name[be@latin]=Gnotravex
Name[bg]=Gnotravex
Name[bn]=Gnotravex
Name[bn_IN]=Gnotravex
Name[br]=Gnotravex
Name[ca]=Gnotravex
Name[ca@valencia]=Gnotravex
Name[cs]=Gnotravex
Name[csb]=Gnotravex
Name[cy]=Gnotravex
Name[da]=Gnotravex
Name[de]=Gnotravex
Name[el]=Gnotravex
Name[en_GB]=Gnotravex
Name[eo]=Gnotravex
Name[es]=Gnotravex
Name[et]=Gnotravex
Name[eu]=Gnotravex
Name[fi]=Gnotravex
Name[fr]=Gnotravex
Name[fy]=Gnotravex
Name[ga]=Gnotravex
Name[gl]=Gnotravex
Name[gu]=ગનોટ્રાવેક્સ
Name[he]=Gnotravex
Name[hi]=ग्नोट्रावेक्स
Name[hne]=ग्नोट्रावेक्स
Name[hr]=Gnotravex
Name[hsb]=Gnotravex
Name[hu]=Gnotravex
Name[is]=Gnotravex
Name[it]=Gnotravex
Name[ja]=Gnotravex
Name[ka]=Gnotravex
Name[kk]=Gnotravex
Name[km]=Gnotravex
Name[kn]=ಗ್ನೋಟ್ರಾವೆಕ್ಸ್
Name[ko]=Gnotravex
Name[ku]=Gnotravex
Name[lt]=Gnotravex
Name[lv]=Gnotravex
Name[mai]=ग्नोट्रावेक्स
Name[mk]=Gnotravex
Name[ml]=ഗ്നൊട്രാവെക്സ്
Name[mr]=ग्नोट्रावेक्स
Name[ms]=Gnotravex
Name[nb]=Gnotravex
Name[nds]=Gnotravex
Name[ne]=जिनोट्राभेक्स
Name[nl]=Gnotravex
Name[nn]=Gnotravex
Name[oc]=Gnotravex
Name[or]=Gnotravex
Name[pa]=ਗਨੋਟਰਾਵਕਸ
Name[pl]=Gnotravex
Name[pt]=Gnotravex
Name[pt_BR]=Gnotravex
Name[ro]=Gnotravex
Name[ru]=Gnotravex
Name[se]=Gnotravex
Name[si]=Gnotravex
Name[sk]=Gnotravex
Name[sl]=Gnotravex
Name[sr]=Гнотравекс
Name[sr@latin]=Gnotravex
Name[sv]=Gnotravex
Name[ta]=குநோடிராவெக்ஸ்
Name[te]=గ్నొట్రవెక్స్
Name[tg]=Gnotravex
Name[th]=Gnotravex
Name[tr]=Gnotravex
Name[uk]=Gnotravex
Name[uz]=Gnotravex
Name[uz@cyrillic]=Gnotravex
Name[vi]=Gnotravex
Name[wa]=Gnotravex
Name[xh]=Gnotravex
Name[x-test]=xxGnotravexxx
Name[zh_CN]=Gnotravex
Name[zh_TW]=數字拼圖
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=gnotravex
Terminal=false
Icon=gnome-gnotravex
Type=Application
