[Desktop Entry]
Name=GNOME Stones
Name[af]=Gnome Klippe
Name[ar]=أحجار جنوم
Name[as]=GNOME Stones
Name[be]=Камяні GNOME
Name[be@latin]=Kamni dla GNOME
Name[bg]=GNOME Stones
Name[bn]=গনোম স্টোন্‌স
Name[bn_IN]=GNOME Stones
Name[br]=GNOME Stones
Name[ca]=Stones del GNOME
Name[ca@valencia]=Stones del GNOME
Name[cs]=Gnome kameny
Name[csb]=Gnome Kamë
Name[cy]=Cerrig GNOME
Name[da]=GNOME Stones
Name[de]=GNOME-Stones
Name[el]=GNOME Πέτρες
Name[en_GB]=GNOME Stones
Name[eo]=Gnomaj Ŝtonoj
Name[es]=GNOME Stones
Name[et]=GNOME Stones
Name[eu]=GNOME Stones
Name[fa]=سنگهای گنوم
Name[fi]=Gnome-kivet
Name[fr]=GStones
Name[fy]=GNOME Stones
Name[ga]=Stones GNOME
Name[gl]=GNOME Stones
Name[gu]=જીનોમ સ્ટોન્સ
Name[he]=GNOME Stones
Name[hi]=ग्नोम स्टोन्स
Name[hne]=ग्नोम स्टोन्स
Name[hr]=GNOME stijene
Name[hsb]=GNOME kamjenje
Name[hu]=GNOME Stones
Name[is]=GNOME Stones
Name[it]=GNOME Stones
Name[ja]=GNOME ストーン
Name[ka]=GNOME ქვები
Name[kk]=GNOME тастар
Name[km]=ថ្ម​របស់ GNOME
Name[kn]=ಗ್ನೋಮ್ ಕಲ್ಲುಗಳು
Name[ko]=그놈 보석
Name[ku]=GNOME Stones
Name[lt]=GNOME Akmenys
Name[lv]=GNOME akmeņi
Name[mai]=ग्नोम स्टोन्स
Name[mk]=GNOME Карпи
Name[ml]=കല്ലുകളുടെ കളി
Name[mr]=GNOME स्टोन्स
Name[ms]=GNOME Stones
Name[nb]=GNOME Stones
Name[nds]=GNOME Stones
Name[ne]=जिनोम ढुङ्गा
Name[nl]=GNOME Stones
Name[nn]=GNOME Stones
Name[oc]=GNOME Stones
Name[or]=GNOME ପଥରଗୁଡ଼ିକ
Name[pa]=ਗਨੋਮ ਪੱਥਰ
Name[pl]=Gnome Kamienie
Name[pt]=GNOME Stones
Name[pt_BR]=Pedras do GNOME
Name[ro]=Pietre GNOME
Name[ru]=GNOME Stones
Name[se]=GNOME Stones
Name[si]=GNOME Stones
Name[sk]=GNOME Stones
Name[sl]=GNOME Stones
Name[sr]=Гномово камење
Name[sr@latin]=Gnomeovo kamenje
Name[sv]=Gnome stones
Name[ta]=குநோம் கற்கள்
Name[te]=గ్నోమ్ రాళ్ళు
Name[tg]=Сангҳои GNOME
Name[th]=GNOME Stones
Name[tr]=GNOME Stones
Name[uk]=Камені для GNOME
Name[uz]=GNOME toshlar
Name[uz@cyrillic]=GNOME тошлар
Name[vi]=Đá GNOME
Name[wa]=Pires di Gnome
Name[xh]=GNOME Amatye
Name[x-test]=xxGNOME Stonesxx
Name[zh_CN]=GNOME 宝石游戏
Name[zh_TW]=GNOME 寶石遊戲
Exec=gnome-stones
Terminal=false
Icon=gnome-stones
Type=Application
