[Desktop Entry]
Encoding=UTF-8
Name=GNOME Stones
Name[af]=Gnome Klippe
Name[ar]=أحجار جنوم
Name[be]=Камяні GNOME
Name[cs]=Gnome kameny
Name[csb]=Gnome Kamë
Name[cy]=Cerrig GNOME
Name[el]=GNOME Πέτρες
Name[eo]=Gnomaj ŝtonoj
Name[fa]=سنگهای گنوم
Name[fi]=Gnome-kivet
Name[fr]=GStones
Name[ga]=Stones GNOME
Name[hr]=GNOME stijene
Name[ja]=GNOME ストーン
Name[ka]=GNOME ქვები
Name[kk]=GNOME тастар
Name[km]=ថ្ម​របស់ GNOME
Name[ko]=그놈 보석
Name[lt]=GNOME Akmenys
Name[lv]=GNOME Akmeņi
Name[mk]=GNOME Карпи
Name[ne]=जिनोम ढुङ्गा
Name[pa]=ਗਨੋਮ ਪੱਥਰ
Name[pl]=Gnome Kamienie
Name[pt_BR]=Pedras do GNOME
Name[ro]=Pietre GNOME
Name[sl]=Kamni za Gnome
Name[sv]=Gnome stones
Name[ta]=க்னோம் கற்கள்
Name[te]=గ్నోమ్ రాళ్ళు
Name[uk]=Камені для GNOME
Name[uz]=GNOME тошлар
Name[vi]=Đá GNOME
Name[x-test]=xxGNOME Stonesxx
Name[xh]=GNOME Amatye
Name[zh_TW]=GNOME 寶石遊戲
Exec=gnome-stones
Terminal=false
Icon=gnome-stones
Type=Application
