[Desktop Entry]
Encoding=UTF-8
Name=Iagno
Name[ne]=लाग्नो
Name[pa]=ਲੈਂਗਨੋ
Name[ta]=லாக்னோ
Name[te]=ఇయాగ్నొ
Name[x-test]=xxIagnoxx
Name[zh_TW]=黑白棋
GenericName=Board Game
GenericName[af]=Bord Speletjie
GenericName[ar]=لعبة تعتمد على نظام اللوحة
GenericName[br]=Ur c'hoari taolenn
GenericName[ca]=Joc de taula
GenericName[cs]=Desková Same
GenericName[csb]=Planszowé grë
GenericName[cy]=Gêm Bwrdd
GenericName[da]=Brætspil
GenericName[de]=Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι
GenericName[eo]=Tabuloludo
GenericName[es]=Juego de tablero
GenericName[et]=Lauamäng
GenericName[eu]=Mahai jokoa
GenericName[fa]=بازی تخته
GenericName[fi]=Lautapeli
GenericName[fr]=Jeu de plateau
GenericName[fy]=Boerdspul
GenericName[ga]=Cluiche Chláir
GenericName[gl]=Xogo de Taboleiro
GenericName[he]=משחק לוח
GenericName[hr]=Igra na ploči
GenericName[hu]=Táblajáték
GenericName[is]=Borðleikur
GenericName[it]=Gioco da tavola
GenericName[ja]=ボードゲーム
GenericName[ka]=სამაგიდო თამაშები
GenericName[kk]=Үстел ойыны
GenericName[km]=ល្បែង​ក្ដារ
GenericName[ko]=보드 놀이
GenericName[lt]=Stalo žaidimas
GenericName[lv]=Galda Spēle
GenericName[mk]=Игра на табла
GenericName[ms]=Permainan Papan
GenericName[nb]=Brettspill
GenericName[nds]=Brettspeel
GenericName[ne]=बोर्ड खेल
GenericName[nl]=Bordspel
GenericName[nn]=Brettspel
GenericName[pa]=ਬੋਰਡ ਗੇਂਦ
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Tabuleiro
GenericName[pt_BR]=Tabuleiro
GenericName[ro]=Joc de table
GenericName[ru]=Настольная игра
GenericName[se]=Duolbbášspeallu
GenericName[sl]=Namizna igra
GenericName[sr]=Игра на табли
GenericName[sr@latin]=Igra na tabli
GenericName[sv]=Brädspel
GenericName[ta]=போர்ட் விளையாட்டு
GenericName[te]=పలక ఆట
GenericName[tg]=Бозии тахтагӣ
GenericName[th]=เกมกระดาน
GenericName[tr]=Tahta Oyunu
GenericName[uk]=Гра на дошці
GenericName[uz]=Стол ўйинлари
GenericName[wa]=Djeu d' platea
GenericName[x-test]=xxBoard Gamexx
GenericName[xh]=Umdlalo Webhodi
GenericName[zh_TW]=棋類遊戲
Exec=iagno
Terminal=false
Icon=iagno
Type=Application
