[Desktop Entry]
GenericName=Chess Game
GenericName[af]=Skaakspel
GenericName[ar]=لعبة شطرنج
GenericName[as]=Chess Game
GenericName[be]=Шахматы
GenericName[be@latin]=Šachmatnaja hulnia
GenericName[bg]=Шах
GenericName[bn]=দাবা
GenericName[bn_IN]=দাবা খেলা
GenericName[br]=C'hoari echedoù
GenericName[ca]=Joc d'escacs
GenericName[ca@valencia]=Joc d'escacs
GenericName[cs]=Šachy
GenericName[csb]=Szachë
GenericName[cy]=Gêm Gwyddbwyll
GenericName[da]=Skakspil
GenericName[de]=Schachspiel
GenericName[el]=Παιχνίδι σκάκι
GenericName[en_GB]=Chess Game
GenericName[eo]=Ŝakludo
GenericName[es]=Juego de ajedrez
GenericName[et]=Male
GenericName[eu]=Xake jokoa
GenericName[fa]=بازی شطرنج
GenericName[fi]=Shakki
GenericName[fr]=Jeu d'échecs
GenericName[fy]=Skaakspul
GenericName[ga]=Cluiche Fichille
GenericName[gl]=Xogo de xadrez
GenericName[gu]=ચેસ રમત
GenericName[he]=משחק שחמט
GenericName[hi]=शतरंज का खेल
GenericName[hne]=सतरंज वाले खेल
GenericName[hr]=Šah
GenericName[hsb]=Šach
GenericName[hu]=Sakk
GenericName[is]=Skák
GenericName[it]=Gioco di scacchi
GenericName[ja]=チェスゲーム
GenericName[ka]=ჭადრაკი
GenericName[kk]=Шахмат ойыны
GenericName[km]=ល្បែង​អុក
GenericName[kn]=ಚದುರಂಗದಾಟ
GenericName[ko]=체스 게임
GenericName[ku]=Lîstika Setrencê
GenericName[lt]=Šachmatai
GenericName[lv]=Šaha spēle
GenericName[mai]=शतरंज क' खेल
GenericName[mk]=Шаховска игра
GenericName[ml]=ചതുരംഗം
GenericName[mr]=बुध्दिबळ का खेळ
GenericName[ms]=Permainan Catur
GenericName[nb]=Sjakkspill
GenericName[nds]=Schachspeel
GenericName[ne]=बुद्धिचाल खेल
GenericName[nl]=Schaakspel
GenericName[nn]=Sjakkspel
GenericName[or]=ଚେସ ଖେଳ
GenericName[pa]=ਸਤਰੰਜ਼ ਖੇਡ
GenericName[pl]=Szachy
GenericName[pt]=Jogo de Xadrez
GenericName[pt_BR]=Jogo de xadrez
GenericName[ro]=Joc de șah
GenericName[ru]=Шахматы
GenericName[se]=Šahkkaspeallu
GenericName[si]=චෙස් ක්‍රීඩාව
GenericName[sk]=Šach
GenericName[sl]=Igra šaha
GenericName[sr]=Шах
GenericName[sr@latin]=Šah
GenericName[sv]=Schackspel
GenericName[ta]=செஸ் விளையாட்டு
GenericName[te]=చదరంగం ఆట
GenericName[tg]=Бозиҳои шоҳмот
GenericName[th]=เกมหมากรุก
GenericName[tr]=Satranç oyunu
GenericName[uk]=Шахи
GenericName[uz]=Shaxmat oʻyini
GenericName[uz@cyrillic]=Шахмат ўйини
GenericName[vi]=Đánh cờ
GenericName[wa]=Daegne di rowes
GenericName[xh]=Umdlalo we Chess
GenericName[x-test]=xxChess Gamexx
GenericName[zh_CN]=国际象棋游戏
GenericName[zh_TW]=棋類遊戲
Exec=xboard
Icon=package_games_board
Name=Xboard
Name[af]=X-bord
Name[ar]=Xboard
Name[as]=Xboard
Name[be]=Xboard
Name[be@latin]=Xboard
Name[bg]=Xboard
Name[bn]=এক্সবোর্ড
Name[bn_IN]=Xboard
Name[br]=Xboard
Name[ca]=Xboard
Name[ca@valencia]=Xboard
Name[cs]=Xboard
Name[csb]=Xboard
Name[cy]=Xboard
Name[da]=Xboard
Name[de]=Xboard
Name[el]=Xboard
Name[en_GB]=Xboard
Name[eo]=Xboard
Name[es]=Xboard
Name[et]=Xboard
Name[eu]=Xboard
Name[fi]=XBoard
Name[fr]=XBoard
Name[fy]=Xboard
Name[ga]=Xboard
Name[gl]=Xboard
Name[gu]=Xboard
Name[he]=Xboard
Name[hi]=एक्सबोर्ड
Name[hne]=एक्सबोर्ड
Name[hr]=Xboard
Name[hsb]=Xboard
Name[hu]=XBoard
Name[is]=Xboard
Name[it]=XBoard
Name[ja]=Xboard
Name[ka]=Xboard
Name[kk]=Xboard
Name[km]=Xboard
Name[kn]=ಕ್ಸಫಲಕ
Name[ko]=Xboard
Name[ku]=Xboard
Name[lt]=Xboard
Name[lv]=Xboard
Name[mai]=एक्सबोर्ड
Name[mk]=Xboard
Name[ml]=എക്സ്ബോര്‍ഡ്
Name[mr]=एक्सबोर्ड
Name[ms]=Xboard
Name[nb]=Xboard
Name[nds]=Xboard
Name[ne]=एक्स बोर्ड
Name[nl]=Xboard
Name[nn]=Xboard
Name[oc]=Xboard
Name[or]=Xboard
Name[pa]=X ਬੋਰਡ
Name[pl]=Xboard
Name[pt]=Xboard
Name[pt_BR]=Xboard
Name[ro]=Xboard
Name[ru]=Xboard
Name[se]=Xboard
Name[si]=Xboard
Name[sk]=Xboard
Name[sl]=Xboard
Name[sr]=Икс‑табла
Name[sr@latin]=X‑tabla
Name[sv]=Xboard
Name[ta]=எக்ஸ்போர்டு
Name[te]=ఎక్స్ బోర్డ్
Name[tg]=Xboard
Name[th]=Xboard
Name[tr]=XBoard
Name[uk]=Xboard
Name[uz]=Xboard
Name[uz@cyrillic]=Xboard
Name[vi]=Bảng X
Name[wa]=Xboard
Name[xh]=Xboard
Name[x-test]=xxXboardxx
Name[zh_CN]=Xboard 国际象棋
Name[zh_TW]=Xboard 西洋棋
Terminal=false
Type=Application
