[Desktop Entry]
GenericName=Chess Game
GenericName[af]=Skaak Speletjie
GenericName[ar]=لعبة شطرنج
GenericName[be]=Шахматы
GenericName[bg]=Шах
GenericName[bn]=দাবা
GenericName[br]=C'hoari echedoù
GenericName[ca]=Joc d'escacs
GenericName[cs]=Šachy
GenericName[csb]=Szachë
GenericName[cy]=Gêm Gwyddbwyll
GenericName[da]=Skakspil
GenericName[de]=Schachspiel
GenericName[el]=Παιχνίδι σκάκι
GenericName[eo]=Ŝakludo
GenericName[es]=Juego de ajedrez
GenericName[et]=Male
GenericName[eu]=Xake jokoa
GenericName[fa]=بازی شطرنج
GenericName[fi]=Shakki
GenericName[fr]=Jeu d'échecs
GenericName[fy]=Skaakspul
GenericName[ga]=Cluiche fhichille
GenericName[gl]=Xogo de xadrez
GenericName[he]=משחק שחמט
GenericName[hi]=शतरंज का खेल
GenericName[hr]=Šah
GenericName[hu]=Sakk
GenericName[is]=Skák
GenericName[it]=Gioco di scacchi
GenericName[ja]=チェスゲーム
GenericName[ka]=ჭადრაკი
GenericName[kk]=Шахмат ойыны
GenericName[km]=ល្បែង​អុក
GenericName[ko]=체스 게임
GenericName[ku]=Lîstika Setrencê
GenericName[lt]=Šachmatai
GenericName[lv]=Šaha spēle
GenericName[mk]=Шаховска игра
GenericName[ms]=Permainan Catur
GenericName[nb]=Sjakkspill
GenericName[nds]=Schachspeel
GenericName[ne]=बुद्धिचाल खेल
GenericName[nl]=Schaakspel
GenericName[nn]=Sjakkspel
GenericName[pa]=ਸਤਰੰਜ਼ ਖੇਡ
GenericName[pl]=Szachy
GenericName[pt]=Jogo de Xadrez
GenericName[pt_BR]=Jogo de Xadrez
GenericName[ro]=Joc de şah
GenericName[ru]=Шахматы
GenericName[se]=Šahkkaspeallu
GenericName[sk]=Šach
GenericName[sl]=Igra šaha
GenericName[sr]=Шах
GenericName[sr@latin]=Šah
GenericName[sv]=Schackspel
GenericName[ta]=செஸ் விளையாட்டு
GenericName[te]=చదరంగం ఆట
GenericName[tg]=Бозии Шоҳмот
GenericName[th]=เกมหมากรุก
GenericName[tr]=Satranç oyunu
GenericName[uk]=Шахи
GenericName[uz]=Шахмат ўйини
GenericName[vi]=Đánh cờ
GenericName[wa]=Daegne di rowes
GenericName[x-test]=xxChess Gamexx
GenericName[xh]=Umdlalo we Chess
GenericName[zh_CN]=国际象棋游戏
GenericName[zh_TW]=棋類遊戲
Exec=xboard
Icon=package_games_board
Name=Xboard
Name[af]=X-bord
Name[bn]=এক্সবোর্ড
Name[fi]=XBoard
Name[fr]=XBoard
Name[hi]=एक्सबोर्ड
Name[hu]=XBoard
Name[it]=XBoard
Name[ne]=एक्स बोर्ड
Name[pa]=X ਬੋਰਡ
Name[sr]=Икс‑табла
Name[sr@latin]=X‑tabla
Name[ta]=எக்ஸ்போர்டுர்ட்
Name[te]=ఎక్స్ బోర్డ్
Name[tr]=XBoard
Name[vi]=Bảng X
Name[x-test]=xxXboardxx
Name[zh_CN]=Xboard 国际象棋
Name[zh_TW]=Xboard 西洋棋
Terminal=false
Type=Application
