[Desktop Entry]
Name=X Bitmap
Name[af]=X Biskaart
Name[ar]=X صورة نقطية
Name[bn]=এক্স বিটম্যাপ
Name[cy]=Didfap X
Name[es]=Mapa de bits de X
Name[fa]=نگاشت بیت X
Name[fr]=XBitmap
Name[ga]=Mapa Giotáin X
Name[hi]=एक्स बिटमैप
Name[hr]=X bitmap
Name[km]=រូបភាព​តូច X
Name[mk]=X Битмапа
Name[nds]=X-Bitmap
Name[ne]=एक्स बिटम्याप
Name[pa]=X ਬਿੱਟਮੈਪ
Name[pt]=Imagem do X
Name[sl]=Bitna slika X
Name[sr]=Икс-битмап
Name[sv]=X bitmap
Name[ta]=X பிட் வரைபடம்
Name[te]=ఎక్స్ బిట్ మేప్
Name[tg]=Нақшаи бити X
Name[vi]=Mảng ảnh X
Name[x-test]=xxX Bitmapxx
GenericName=Bitmap Creator
GenericName[af]=Biskaart Skepper
GenericName[ar]=منشئ صورة نقطية
GenericName[be]=Стваральнік відарысаў
GenericName[bg]=Програма за създаване на Bitmap изображения
GenericName[bn]=বিটম্যাপ তৈরি করার প্রোগ্রাম
GenericName[ca]=Creador de mapes de bits
GenericName[cs]=Tvůrce bitmap
GenericName[csb]=Ùsôdzanié bitmapów
GenericName[cy]=Creuwr didfapiau
GenericName[da]=Bitmap-editor
GenericName[de]=Pixelbilder erstellen
GenericName[el]=Δημιουργός bitmap
GenericName[eo]=Bildopentrilo
GenericName[es]=Creador de mapas de bits
GenericName[et]=Rastergraafika rakendus
GenericName[eu]=Bitmap sortzailea
GenericName[fa]=ایجاد‌کنندۀ نگاشت بیت
GenericName[fi]=Bittikarttojen luoja
GenericName[fr]=Pour créer des images bitmap
GenericName[fy]=Bitmaps meitsje
GenericName[ga]=Cruthaitheoir Mapa Giotáin
GenericName[gl]=Criador de mapas de bits
GenericName[he]=יוצר מפות סיבות
GenericName[hi]=बिटमैप बनाने वाला
GenericName[hr]=Izrađivač bitmapa
GenericName[hu]=Képszerkesztő
GenericName[is]=Bitmap teikniforrit
GenericName[it]=Creatore di bitmap
GenericName[ja]=ビットマップ作成
GenericName[ka]=რასტრული გამოსახულებების შექმნა
GenericName[kk]=Нүктелік кескіндерді жасау
GenericName[km]=កម្មវិធី​បង្កើត​រូបភាព​តូច
GenericName[ko]=비트맵 생성기
GenericName[lt]=Taškinės grafikos (bitmap) kūrėjas
GenericName[lv]=Bitmapu veidotājs
GenericName[mk]=Креатор на битмапи
GenericName[ms]=Pencipta Bitmap
GenericName[nb]=Lag punktbilder
GenericName[nds]=Bitmap-Maker
GenericName[ne]=बिटम्याप सर्जक
GenericName[nl]=Bitmaps maken
GenericName[nn]=Biletlaging
GenericName[pa]=ਬਿੱਟਮੈਪ ਨਿਰਮਾਤਾ
GenericName[pl]=Tworzenie bitmap
GenericName[pt]=Criador de Imagens
GenericName[pt_BR]=Criador de Bitmaps
GenericName[ro]=Creează imagini bitmap
GenericName[ru]=Создание растровых рисунков
GenericName[se]=Govvaráhkadeaddji
GenericName[sk]=Editor bitmáp
GenericName[sl]=Urejevalnik bitnih slik
GenericName[sr]=Стваралац битмапа
GenericName[sr@latin]=Stvaralac bitmapa
GenericName[sv]=Skapa bitmappar
GenericName[ta]=பிட்வரைபட உருவாக்கி
GenericName[te]=బిట్ మేప్ లను సృష్టించేది
GenericName[tg]=Созандаи нақшаи бит
GenericName[th]=เครื่องมือสร้างภาพบิตแมพ
GenericName[tr]=Bitmap oluşturucu
GenericName[uk]=Редактор Bitmap
GenericName[uz]=BMP яратувчи
GenericName[vi]=Bộ tạo mảng ảnh
GenericName[wa]=Fijheu di bitmaps
GenericName[x-test]=xxBitmap Creatorxx
GenericName[xh]=Umenzi We Bitmap
GenericName[zh_CN]=位图制作程序
GenericName[zh_TW]=點陣圖製作程式
Exec=bitmap
Terminal=false
Icon=xpm
Type=Application
