[Desktop Entry]
Encoding=UTF-8
Name=Blender
Name[fa]=مخلوط‌کن
Name[is]=Hrærivél
Name[km]=កម្មវិធី​លាយ
Name[ko]=블렌더
Name[mk]=Блендер
Name[ne]=मिश्रक
Name[pa]=ਬਲੈਡਰ
Name[ta]=ப்ளன்டர்
Name[te]=బ్లెండర్
Name[tg]=Блендер
Name[x-test]=xxBlenderxx
MimeType=
GenericName=3D Modeler/Renderer
GenericName[af]=3D Beeld Moduleerder/Renderer
GenericName[be]=Рэдактар мадэляў 3D
GenericName[bg]=Редактор за триизмерни изображения
GenericName[ca]=Modelador i renderitzador 3D
GenericName[cs]=Modelář 3D scén
GenericName[csb]=Programa do trzëmiarowégò mòdelowaniô
GenericName[cy]=Modelydd/Trosydd 3D
GenericName[da]=3D Modelerer/Fremviser
GenericName[de]=3D-Modeler/Renderer
GenericName[el]=3D Μοντελοποιητής/Αποτυπωτής
GenericName[en_GB]=3D Modeller/Renderer
GenericName[eo]=Desegnilo/bildigilo por tridimensiaj scenoj
GenericName[es]=Modelador de escenas 3D
GenericName[et]=3D modelleerija/teisendaja
GenericName[eu]=3D Modelatzailea/Renderizatzailea
GenericName[fa]=مدل‌ساز/پرداختگر سه بعدی
GenericName[fi]=3D-mallintaja/renderöijä
GenericName[fr]=Logiciel d'animation et de modélisation 3D
GenericName[fy]=3D modelearprogramma
GenericName[ga]=Insamhlóir/Rindreálaí 3T
GenericName[gl]=Modelador/Renderizador 3D
GenericName[he]=ממדל ומרנדר תלת־מימד
GenericName[hr]=Program za modeliranje i iscrtavanje 3d scena
GenericName[hu]=3D-s modellező
GenericName[is]=Tól til vinnslu með 3D hluti
GenericName[it]=Modellatore e render 3D
GenericName[ja]=3D モデラー/レンダラー
GenericName[ka]=3D მოდელიორი/ამსახველი
GenericName[kk]=3D Үлгілеу/Көрсету
GenericName[ko]=3차원 모델링/렌더링 도구
GenericName[lt]=3D modeliavimo/atvaizdavimo priemonė
GenericName[lv]=3D Scēnu Modelētājs
GenericName[mk]=3D Моделирач/Исцртувач
GenericName[ms]=Pemodel/Pelukis 3D
GenericName[nb]=3D-modellering/visning
GenericName[nds]=3D-Modellmaak- un -tekenprogramm
GenericName[ne]=३ आयामिक मोडेलर/रेन्डरर
GenericName[nl]=3D modeleerprogramma
GenericName[nn]=3d-modellering/-vising
GenericName[pa]=3ਡੀ ਮੋਡੀਲੀਰ/ਪੇਸ਼ਕਾਰ
GenericName[pl]=Program do modelowania trójwymiarowego
GenericName[pt]=Modelador/Rasterizador 3D
GenericName[pt_BR]=Modelador/Renderizador 3D
GenericName[ro]=Modelator de scene 3D
GenericName[ru]=3D рендерер/моделер
GenericName[se]=3d-modelleren/-čájeheapmi
GenericName[sl]=3D Modelirnik scen/upodabljalnik
GenericName[sr]=3D моделар/рендерер
GenericName[sr@latin]=3D modelar/renderer
GenericName[sv]=3D-modellering/uppritning
GenericName[ta]=முப்பரிமாண மாதிரி
GenericName[te]=3డి మొడెలర్/రెండరర్
GenericName[tg]=3D Модулгар/Пардозишкунанда
GenericName[tr]=3B Modelleme Programı
GenericName[uk]=Модельєр 3D
GenericName[x-test]=xx3D Modeler/Rendererxx
GenericName[zh_TW]=3D 場景繪製程式
Exec=blender
Icon=blender
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
