[Desktop Entry]
Name=GhostView
Name[bn]=ঘোস্টভিউ
Name[cs]=Ghostview
Name[da]=Ghostview
Name[hi]=घोस्टव्यू
Name[hu]=Ghostview
Name[ne]=घोस्ट दृश्य
Name[pa]=ਗੋਸਟ ਝਲਕ
Name[sr]=Гоствју
Name[sv]=Ghostview
Name[ta]=ஜிபுரவலர்காட்சி
Name[te]=ఘొస్ట్ వ్యు
Name[tg]=Намоиши Ghost
Name[x-test]=xxGhostViewxx
MimeType=application/pdf;application/postscript;image/x-eps;
GenericName=PostScript Viewer
GenericName[af]=Postscript Aansig
GenericName[ar]=PostScript عارض
GenericName[be]=Праглядальнік PostScript
GenericName[bg]=Преглед на Postscript документи
GenericName[bn]=পোস্টস্ক্রিপ্ট প্রদর্শক
GenericName[br]=Gweler PostScript
GenericName[ca]=Visor de PostScript
GenericName[cs]=Prohlížeč Postscriptových souborů
GenericName[csb]=Przezérnik lopków Postscript
GenericName[cy]=Darllenydd PostScript
GenericName[da]=PostScript-fremviser
GenericName[de]=PostScript-Betrachter
GenericName[el]=Προβολέας PostScript
GenericName[eo]=Rigardilo por Postskripto
GenericName[es]=Visor de PostScript
GenericName[et]=PostScript failide vaatamine
GenericName[eu]=PostScript ikustailua
GenericName[fa]=مشاهده‌گر پست‌اسکریپت
GenericName[fi]=PostScript-näytin
GenericName[fr]=Afficheur PostScript
GenericName[fy]=PostScript-werjefteprogramma
GenericName[ga]=Amharcán PostScript
GenericName[gl]=Visor de PostScript
GenericName[he]=מציג PostScript
GenericName[hi]=पोस्टस्क्रिप्ट प्रदर्शक
GenericName[hr]=Preglednik PostScript dokumenata
GenericName[hu]=PostScript-nézegető
GenericName[is]=Postscript-skoðari
GenericName[it]=Visore PostScript
GenericName[ja]=PostScript ビューア
GenericName[ka]=PostScript–ის სანახავი პროგრამა
GenericName[kk]=PostScript қарау құралы
GenericName[km]=កម្មវិធី​មើល PostScript
GenericName[ko]=포스트스크립트 뷰어
GenericName[ku]=Nîşandêra PostScript
GenericName[lt]=Postscript žiūriklis
GenericName[lv]=PostScript skatītājs
GenericName[mk]=Прегледувач на PostScript
GenericName[ms]=Pelihat PostScript
GenericName[nb]=Postscript-leser
GenericName[nds]=Kieker för PostScript
GenericName[ne]=पोस्ट स्क्रिप्ट दर्शक
GenericName[nl]=PostScript-weergaveprogramma
GenericName[nn]=Postscript-lesar
GenericName[pa]=ਪੋਸਟ-ਸਕ੍ਰਿਪਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików Postscriptu
GenericName[pt]=Visualizador de PostScript
GenericName[pt_BR]=Visualizador de PostScript 
GenericName[ro]=Vizualizor de documente PostScript
GenericName[ru]=Программа просмотра PostScript
GenericName[se]=PostScript čájeheaddji
GenericName[sk]=Prehliadač PostScript súborov
GenericName[sl]=Pregledovalnik za PostScript
GenericName[sr]=Приказивач постскрипта
GenericName[sr@latin]=Prikazivač PostScripta
GenericName[sv]=Postscript-visare
GenericName[ta]=அஞ்சல் எழுத்தாக்க காட்சி
GenericName[te]=పోస్ట్ స్క్రిప్ట్ వీక్షిణి
GenericName[tg]=Намоишгари PostScript
GenericName[th]=แสดงแฟ้มโพสต์สคริปต์
GenericName[tr]=PostScript Görüntüleyici
GenericName[uk]=Переглядач PostScript
GenericName[uz]=PostScript кўрувчи
GenericName[vi]=Bộ xem tập tin Postscript (đuôi .PS)
GenericName[wa]=Håyneu di documints PostScript
GenericName[x-test]=xxPostScript Viewerxx
GenericName[xh]=Umboniseli we PostScript
GenericName[zh_CN]=PostScript 查看器
GenericName[zh_TW]=PostScript 檢視器
Exec=ghostview
Icon=gv
Type=Application
Terminal=false
X-KDE-StartupNotify=false
