[Desktop Entry]
Name=Gimp
Name[ar]=جِمب
Name[bn]=জিম্প
Name[de]=GIMP
Name[es]=GIMP
Name[fr]=The Gimp
Name[hi]=गिम्प
Name[hu]=GIMP
Name[ko]=김프
Name[mk]=Гимп
Name[ne]=गिम्प
Name[pa]=ਜੈਮਪ
Name[sr]=Гимп
Name[te]=జింప్
Name[wa]=Li GIMP
Name[x-test]=xxGimpxx
Exec=gimp %F
Icon=gimp
Type=Application
GenericName=Image Manipulation Program
GenericName[af]=Beeld Manipulasie Program
GenericName[ar]=برنامج تلاعب بالصورة
GenericName[be]=Адмысловы рэдактар відарысаў
GenericName[bg]=Редактор за графични изображения
GenericName[bn]=চিত্র সম্পাদনা প্রোগ্রাম
GenericName[br]=Goulev embregiñ skeudennoù
GenericName[ca]=Programa de manipulació d'imatges
GenericName[cs]=Editace obrázků
GenericName[csb]=Programa do przerôbianiô graficzi
GenericName[cy]=Rhaglen Trin Delwedd
GenericName[da]=Billedmanipulationsprogram
GenericName[de]=Bildbearbeitung
GenericName[el]=Πρόγραμμα επεξεργασίας εικόνας
GenericName[eo]=Bildmanipulilo
GenericName[es]=Programa de retoque de imágenes
GenericName[et]=Pilditöötluse rakendus
GenericName[eu]=Irudiak lantzeko programa 
GenericName[fa]=برنامۀ دستکاری تصویر
GenericName[fi]=Kuvankäsittelyohjelma
GenericName[fr]=Logiciel de manipulation d'images du GNU
GenericName[fy]=GNU ôfbylding Manipulaasje Programma
GenericName[ga]=Clár Ionramhála na nÍomhánna
GenericName[gl]=Programa de manipulación de imaxes
GenericName[he]=תוכנית טיפול בתמונות
GenericName[hi]=चित्र बनाने का प्रोग्राम
GenericName[hr]=Program za obradu slika
GenericName[hu]=Képszerkesztő
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Programma di manipolazione immagini
GenericName[ja]=画像作成プログラム
GenericName[ka]=გამოსახულებებთან მუშაობის პროგრამა
GenericName[kk]=Кескіндерді өңдеу бағдарламасы
GenericName[km]=កម្មវិធី​រៀបចំ​រូបភាព
GenericName[ko]=그림 편집 프로그램
GenericName[ku]=Bernameya Xebitîna li Ser Wêneyan
GenericName[lt]=Manipuliacijos paveikslėliais programa
GenericName[lv]=Attēlu apstrādes programma
GenericName[mk]=Програма за манипулација со слики
GenericName[ms]=Program Memanipulasi Imej
GenericName[nb]=Bildebehandlingsprogram
GenericName[nds]=Programm för't Bewerken vun Biller
GenericName[ne]=छवि परिचालन कार्यक्रम
GenericName[nl]=GNU Image Manipulation Program
GenericName[nn]=Bilethandsamarprogram
GenericName[pa]=ਚਿੱਤਰ ਸੰਪਾਦਕ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do grafiki rastrowej
GenericName[pt]=Programa de Manipulação de Imagens
GenericName[pt_BR]=Programa de Manipulação de Imagens
GenericName[ro]=Program de procesare de imagini
GenericName[ru]=Редактор рисунков
GenericName[se]=Govvagieđahallanprográmma
GenericName[sk]=Program pre úpravu obrázkov
GenericName[sl]=Program za obdelavo slik
GenericName[sr]=Програм за обраду слика
GenericName[sr@latin]=Program za obradu slika
GenericName[sv]=Bildbehandlingsprogram
GenericName[ta]=பிம்பத்தை கையாளக்கூடிய நிரலி
GenericName[te]=చిత్రాలను మార్చె కార్యక్రమం
GenericName[tg]=Барномаи муҳаррири тасвир
GenericName[th]=โปรแกรมตกแต่งภาพ
GenericName[tr]=Resim İşleme Programı
GenericName[uk]=Програма для редагування зображень
GenericName[uz]=Расм билан ишлаш учун дастур
GenericName[vi]=Trình thao tác ảnh
GenericName[wa]=Programe d' aspougnaedje d' imådjes
GenericName[x-test]=xxImage Manipulation Programxx
GenericName[xh]=Udweliso lwenkqubo Lomfanekiso Obekwe ngendlela
GenericName[zh_CN]=图像处理程序
GenericName[zh_TW]=影像處理程式
MimeType=image/gif;image/jpeg;image/bmp;image/x-xpixmap;image/tiff;image/png;image/x-xcf;image/fax-g3;
X-KDE-StartupNotify=false
X-StandardInstall=true
