[Desktop Entry]
Name=GIMP
Name[ar]=جمب
Name[as]=GIMP
Name[be@latin]=GIMP
Name[bg]=GIMP
Name[bn]=গিম্প
Name[bn_IN]=GIMP
Name[ca]=GIMP
Name[ca@valencia]=GIMP
Name[cs]=GIMP
Name[csb]=GIMP
Name[da]=GIMP
Name[de]=GIMP
Name[el]=GIMP
Name[en_GB]=GIMP
Name[es]=GIMP
Name[et]=GIMP
Name[eu]=GIMP
Name[fi]=GIMP
Name[fr]=GIMP
Name[fy]=Gimp
Name[ga]=GIMP
Name[gl]=GIMP
Name[gu]=GIMP
Name[he]=GIMP
Name[hi]=गिम्प
Name[hne]=गिम्प
Name[hr]=GIMP
Name[hsb]=GIMP
Name[hu]=GIMP
Name[is]=GIMP
Name[it]=GIMP
Name[ja]=GIMP
Name[kk]=GIMP
Name[km]=GIMP
Name[kn]=ಜಿಂಪ್
Name[ko]=GIMP
Name[ku]=GIMP
Name[lt]=GIMP
Name[lv]=GIMP
Name[mai]=GIMP
Name[mk]=GIMP
Name[ml]=ജിംപ്പ് (GIMP)
Name[mr]=GIMP
Name[nb]=GIMP
Name[nds]=GIMP
Name[nl]=GIMP
Name[nn]=GIMP
Name[or]=GIMP
Name[pa]=ਜੈਮਪ
Name[pl]=GIMP
Name[pt]=GIMP
Name[pt_BR]=GIMP
Name[ro]=GIMP
Name[ru]=GIMP
Name[si]=GIMP
Name[sk]=GIMP
Name[sl]=GIMP
Name[sr]=Гимп
Name[sr@latin]=Gimp
Name[sv]=GIMP
Name[ta]=GIMP
Name[te]=GIMP
Name[tg]=GIMP
Name[th]=GIMP
Name[tr]=GIMP
Name[uk]=GIMP
Name[wa]=GIMP
Name[x-test]=xxGIMPxx
Name[zh_CN]=GIMP
Name[zh_TW]=GIMP
Exec=gimp %F
Icon=gimp
Type=Application
GenericName=Image Manipulation Program
GenericName[af]=Beeldmanipulasieprogram
GenericName[ar]=برنامج تحرير الصورة
GenericName[as]=ছবি পৰিবৰ্ত্তন কৰা কাৰ্য্যক্ৰম
GenericName[be]=Адмысловы рэдактар відарысаў
GenericName[be@latin]=Prahrama dla redahavańnia vyjavaŭ
GenericName[bg]=Редактор за графични изображения
GenericName[bn]=চিত্র সম্পাদনা প্রোগ্রাম
GenericName[bn_IN]=ছবি পরিবর্তনের প্রোগ্রাম
GenericName[br]=Goulev embregiñ skeudennoù
GenericName[ca]=Programa de manipulació d'imatges
GenericName[ca@valencia]=Programa de manipulació d'imatges
GenericName[cs]=Editace obrázků
GenericName[csb]=Programa do przerôbianiô graficzi
GenericName[cy]=Rhaglen Trin Delwedd
GenericName[da]=Billedmanipulationsprogram
GenericName[de]=Bildbearbeitung
GenericName[el]=Πρόγραμμα επεξεργασίας εικόνας
GenericName[en_GB]=Image Manipulation Program
GenericName[eo]=Bildmanipulilo
GenericName[es]=Programa de retoque de imágenes
GenericName[et]=Pilditöötluse rakendus
GenericName[eu]=Irudiak lantzeko programa 
GenericName[fa]=برنامۀ دستکاری تصویر
GenericName[fi]=Kuvankäsittelyohjelma
GenericName[fr]=Logiciel de manipulation d'images
GenericName[fy]=GNU ôfbylding Manipulaasje Programma
GenericName[ga]=Clár Ionramhála na nÍomhánna
GenericName[gl]=Programa de manipulación de imaxes
GenericName[gu]=ચિત્ર બનાવનાર કાર્યક્રમ
GenericName[he]=תוכנית טיפול בתמונות
GenericName[hi]=चित्र बनाने का प्रोग्राम
GenericName[hne]=फोटू बनइया प्रोग्राम
GenericName[hr]=Program za obradu slika
GenericName[hsb]=Program za wobdźěłanje wobrazow
GenericName[hu]=Képszerkesztő
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Programma di manipolazione immagini
GenericName[ja]=画像編集プログラム
GenericName[ka]=გამოსახულებებთან მუშაობის პროგრამა
GenericName[kk]=Кескіндерді өңдеу бағдарламасы
GenericName[km]=កម្មវិធី​រៀបចំ​រូបភាព
GenericName[kn]=ಚಿತ್ರ ಸಂಪಾದನಾ ಕ್ರಮವಿಧಿ
GenericName[ko]=그림 편집 프로그램
GenericName[ku]=Bernameya Xebitîna li Ser Wêneyan
GenericName[lt]=Manipuliacijos paveikslėliais programa
GenericName[lv]=Attēlu apstrādes programma
GenericName[mai]=चित्र बनाबै क' प्रोग्राम
GenericName[mk]=Програма за манипулација со слики
GenericName[ml]=ചിത്രരചനാ സഹായി
GenericName[mr]=प्रतिमा बनविण्याचा प्रोग्राम
GenericName[ms]=Program Memanipulasi Imej
GenericName[nb]=Bildebehandlingsprogram
GenericName[nds]=Programm för't Bewerken vun Biller
GenericName[ne]=छवि परिचालन कार्यक्रम
GenericName[nl]=GNU Image Manipulation Program
GenericName[nn]=Bilethandsamingsprogram
GenericName[or]=ପ୍ରତିଛବି ପ୍ରକଳନ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਚਿੱਤਰ ਸੰਪਾਦਕ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do grafiki rastrowej
GenericName[pt]=Programa de Manipulação de Imagens
GenericName[pt_BR]=Programa de manipulação de imagens
GenericName[ro]=Program de procesare de imagini
GenericName[ru]=Управление изображениями
GenericName[se]=Govvagieđahallanprográmma
GenericName[si]=පිංතූර හැසිරවීමේ වැඩසටහන
GenericName[sk]=Program na úpravu obrázkov
GenericName[sl]=Program za obdelavo slik
GenericName[sr]=Програм за обраду слика
GenericName[sr@latin]=Program za obradu slika
GenericName[sv]=Bildbehandlingsprogram
GenericName[ta]=சித்திரங்களாடுதற்கான  நிரல்
GenericName[te]=చిత్రాలను మార్చె కార్యక్రమం
GenericName[tg]=Барномаи таҳриркунии тасвирҳо
GenericName[th]=โปรแกรมตกแต่งภาพ
GenericName[tr]=Resim İşleme Programı
GenericName[uk]=Програма для редагування зображень
GenericName[uz]=Rasm bilan ishlash uchun dastur
GenericName[uz@cyrillic]=Расм билан ишлаш учун дастур
GenericName[vi]=Trình thao tác ảnh
GenericName[wa]=Programe d' aspougnaedje d' imådjes
GenericName[xh]=Udweliso lwenkqubo Lomfanekiso Obekwe ngendlela
GenericName[x-test]=xxImage Manipulation Programxx
GenericName[zh_CN]=图像处理程序
GenericName[zh_TW]=影像處理程式
MimeType=image/gif;image/jpeg;image/bmp;image/x-xpixmap;image/tiff;image/png;image/x-xcf;image/fax-g3;
X-KDE-StartupNotify=false
X-StandardInstall=true
