[Desktop Entry]
Encoding=UTF-8
Name=GNOME Color Selector
Name[af]=Gnome Kleur Kiesser
Name[ar]=أداة اختيار ألوان GNOME
Name[bg]=Избор на цвят в GNOME
Name[br]=Dibaber liv GNOME
Name[ca]=Selector de colors del GNOME
Name[cs]=Gnome výběr barev
Name[csb]=GNOME Wëbór farwów
Name[cy]=Dewisydd Lliwiau GNOME  
Name[da]=GNOME Farvevælger
Name[de]=GNOME-Farbwähler
Name[el]=Επιλογέας χρώματος του GNOME
Name[en_GB]=GNOME Colour Selector
Name[eo]=Gnoma kolorelektilo
Name[es]=Selector de colores de GNOME
Name[et]=GNOME värvivalija
Name[eu]=GNOME kolore aukeratzailea
Name[fa]=گزینندۀ رنگ گنوم
Name[fi]=Gnomen värivalitsin
Name[fr]=Gnome ColorSelector
Name[ga]=Roghnóir Dathanna GNOME
Name[gl]=Selector de Cores de Gnome
Name[hr]=GNOME birač boja
Name[hu]=GNOME színválasztó
Name[is]=GNOME Litaval
Name[it]=Selettore colori di GNOME
Name[ja]=GNOME カラーセレクタ
Name[ka]=ფერების შერჩევა GNOME–ში
Name[kk]=GNOME түс таңдауы
Name[km]=កម្មវិធី​ជ្រើស​ពណ៌ GNOME
Name[ko]=그놈 색상 선택기
Name[lt]=GNOME spalvos parinkėjas
Name[lv]=GNOME Krāsu Selektors
Name[mk]=Избирач на бои за GNOME
Name[ms]=Pemilih Warna GNOME
Name[nb]=GNOME Fargevelger
Name[nds]=Klöörwähler för GNOME
Name[ne]=जिनोम रङ चयनकर्ता
Name[nn]=GNOME Fargeveljar
Name[pa]=ਗਨੋਮ ਰੰਗ ਚੋਣਕਾਰ
Name[pl]=Gnome Wybór kolorów
Name[pt]=Selector de Cores do GNOME
Name[pt_BR]=Seletor de Cores do GNOME
Name[ro]=Selector de culori GNOME
Name[ru]=Выбор цвета в GNOME
Name[se]=GNOME ivdneválljejeaddji
Name[sl]=Izbirnik barv za Gnome
Name[sr]=Гномов изборник боја
Name[sr@Latn]=Gnomov izbornik boja
Name[sv]=Färgväljare för Gnome
Name[ta]=Gவண்ணத் தேர்ந்தெடுப்பான்
Name[te]=గ్నొం రంగులు ఎంచుకొనేది
Name[tg]=Интихобгари ранги GNOME
Name[tr]=GNOME Renk Seçici
Name[uk]=Селектор кольорів GNOME
Name[uz]=GNOME ранг танлагич
Name[x-test]=xxGNOME Color Selectorxx
Name[xh]=GNOME Umkhethi Wombala
Name[zh_TW]=GNOME 色彩選擇程式
Exec=gcolorsel
Terminal=false
Icon=gnome-color-browser
Type=Application
