[Desktop Entry]
Encoding=UTF-8
Name=GNOME Icon Editor
Name[af]=Gnome Ikoon Redigeerder
Name[ar]=محرر الأيقونات GNOME
Name[bg]=Редактор на икони за GNOME
Name[br]=Aozer GNOME an arlunioù
Name[ca]=Editor d'icones del GNOME
Name[cs]=Gnome editor ikon
Name[csb]=Gnome Editora ikònów
Name[cy]=Golygydd Eicon GNOME  
Name[da]=GNOME Ikoneditor
Name[de]=Symbol-Editor (GNOME)
Name[el]=Επεξεργαστής εικονιδίων του GNOME
Name[eo]=Gnoma piktogramredaktilo
Name[et]=GNOME ikoonide redaktor
Name[eu]=GNOME ikono editorea
Name[fa]=ویرایشگر شمایل گنوم
Name[fi]=Gnomen kuvakemuokkain
Name[fr]=Gnome IconEditor
Name[fy]=GNOME byldkaike bewurker
Name[ga]=Eagarthóir Deilbhíní GNOME
Name[gl]=Editor de Iconas de Gnome
Name[hr]=GNOME uređivač ikona
Name[hu]=GNOME ikonszerkesztő
Name[is]=GNOME táknmyndaritill
Name[it]=Editor di icone di GNOME
Name[ja]=GNOME アイコンエディタ
Name[ka]=ხატულების რედაქტორი GNOME–ში
Name[kk]=GNOME таңбаша редакторы
Name[km]=កម្មវិធី​និពន្ធ​រូបតំណាង GNOME
Name[ko]=그놈 아이콘 편집기
Name[lt]=GNOME ženkliukų rengyklė
Name[lv]=GNOME Ikonu Redaktors
Name[mk]=Уредувач на икони за GNOME
Name[ms]=Penyunting Ikon GNOME
Name[nb]=GNOME Ikonredigering
Name[nds]=GNOME Lüttbild-Editor
Name[ne]=जिनोम प्रतिमा सम्पादक
Name[nn]=GNOME Ikonredigering
Name[pa]=ਗਨੋਮ ਆਈਕਾਨ ਸੰਪਾਦਕ
Name[pl]=Gnome Edytor ikon
Name[pt]=Editor de Ícones do GNOME
Name[pt_BR]=Editor de Ícones do GNOME
Name[ro]=Editor de iconiţe GNOME
Name[ru]=Редактор значков GNOME
Name[se]=GNOME govašdoaimmaheaddji
Name[sl]=Urejevalnik ikon za Gnome
Name[sr]=Гномов уређивач икона
Name[sr@Latn]=Gnomov uređivač ikona
Name[sv]=Ikoneditor för Gnome
Name[ta]=க்னோம் சின்னம் திருத்துபவர்
Name[te]=గ్నొం ప్రతిమల ఎడిటర్
Name[tg]=Муҳаррири шамоили GNOME
Name[tr]=GNOME Simge Düzenleyici
Name[uk]=Редактор піктограм GNOME
Name[uz]=GNOME нишончалар таҳрирчи
Name[wa]=Aspougneu d' imådjetes di Gnome
Name[x-test]=xxGNOME Icon Editorxx
Name[xh]=GNOME Umkhethi we Icon
Name[zh_TW]=GNOME 圖示編輯器
Exec=gnome-iconedit
Terminal=false
Icon=gnome-iconedit
Type=Application
