[Desktop Entry]
Encoding=UTF-8
Name=GPhoto
Name[af]=Gfoto
Name[cy]=GFfoto
Name[eo]=G-Foto
Name[ne]=जिफोटो
Name[pa]=ਜੀ-ਫੋਟੋ
Name[sl]=Gfoto
Name[sv]=Gphoto
Name[ta]=Gபுகைப்படம்
Name[te]=జిఫొటొ
Name[x-test]=xxGPhotoxx
GenericName=Digital Camera Program
GenericName[af]=Digitaal Kamera Program
GenericName[be]=Праграма для працы з лічбавай камерай
GenericName[bg]=Програма за цифрови камери
GenericName[br]=Meziant evit kameraoù numerel
GenericName[ca]=Programa per a cambres digitals
GenericName[cs]=Program pro digitální fotoaparáty
GenericName[csb]=Programa dlô cyfrowi kamérë
GenericName[cy]=Rhaglen Camera Digidol
GenericName[da]=Digitalt kameraprogram
GenericName[de]=Programm für Digitalkameras
GenericName[el]=Πρόγραμμα για ψηφιακές κάμερες
GenericName[eo]=Ilo por ciferecaj fotiloj
GenericName[es]=Gestor de cámaras digitales
GenericName[et]=Digikaamera rakendus
GenericName[eu]=Kamara digitalerako programa
GenericName[fa]=برنامۀ دوربین رقمی
GenericName[fi]=Digitaalikameraohjelma
GenericName[fr]=Logiciel pour les appareils de photographie numérique
GenericName[fy]=Kameraprogramma
GenericName[ga]=Clár le haghaidh ceamaraí digiteacha
GenericName[gl]=Programa para Cámara Dixital
GenericName[he]=תוכנית למצלמה דיגיטלית
GenericName[hr]=Program za digitalne kamere
GenericName[hu]=Fényképezőgép-kezelő
GenericName[is]=Digital myndavélaforrit
GenericName[it]=Programma per macchine fotografiche digitali
GenericName[ja]=デジタルカメラプログラム
GenericName[ka]=პროგრამა ციფრული კამერებისთვის
GenericName[kk]=Цифрлық камера бағдарламасы
GenericName[km]=កម្មវិធី​ម៉ាស៊ីន​ថតរូប​ឌីជីថល
GenericName[ko]=디지탈 카메라 프로그램
GenericName[lt]=Skaitmeninės kameros programa
GenericName[lv]=Digitālās Kameras Programma
GenericName[mk]=Програма за дигитални камери
GenericName[ms]=Program Kamera Digital
GenericName[nb]=Digitalkamera program
GenericName[nds]=Programm för Digitaalkameras
GenericName[ne]=डिजिटल क्यामेरा कार्यक्रम
GenericName[nl]=Cameraprogramma
GenericName[nn]=Digitalkameraprogram
GenericName[pa]=ਡਿਜ਼ੀਟਲ ਕੈਮਰਾ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do obsługi kamery cyfrowej
GenericName[pt]=Programa de Câmaras Digitais
GenericName[pt_BR]=Programa de Câmera Digital
GenericName[ro]=Program pentru aparate foto digitale
GenericName[ru]=Утилита для цифровых камер
GenericName[se]=Digitalkámera prográmma
GenericName[sl]=Program za digitalno kamero
GenericName[sr]=Програм за дигиталне камере
GenericName[sr@latin]=Program za digitalne kamere
GenericName[sv]=Digitalkameraprogram
GenericName[ta]=டிஜிட்டல் காமிரா நிரலி
GenericName[te]=డిజిటల్ కెమెరా కార్యక్రమం
GenericName[tg]=Барномаи дурбини Digital
GenericName[th]=โปรแกรมกล้องดิจิตอล
GenericName[tr]=Dijital Kamera Programı
GenericName[uk]=Програма для цифрового фотоапарата
GenericName[uz]=Фотоапарат учун дастур
GenericName[x-test]=xxDigital Camera Programxx
GenericName[xh]=Inkqubo ye Khamera Yamanani
GenericName[zh_TW]=數位照相機程式
Exec=gphoto
Terminal=false
Icon=gphoto
Type=Application
