[Desktop Entry]
Name=Gqview
Name[af]=Gq-bekyk
Name[ar]=عارض الصور G
Name[as]=Gqview
Name[be]=Gqview
Name[be@latin]=Gqview
Name[bg]=Gqview
Name[bn]=Gqview
Name[bn_IN]=Gqview
Name[br]=Gqview
Name[ca]=Gqview
Name[ca@valencia]=Gqview
Name[cs]=Gqview
Name[csb]=Gqview
Name[cy]=Gqview
Name[da]=Gqview
Name[de]=GQview
Name[el]=Gqview
Name[en_GB]=Gqview
Name[eo]=Gqview
Name[es]=Gqview
Name[et]=Gqview
Name[eu]=Gqview
Name[fi]=Gqview
Name[fr]=GqView
Name[fy]=Gqview
Name[ga]=Gqview
Name[gl]=Gqview
Name[gu]=Gqview
Name[he]=Gqview
Name[hi]=जीक्यूव्यू
Name[hne]=जीक्यूव्यू
Name[hr]=Gqview
Name[hsb]=Gqview
Name[hu]=Gqview
Name[is]=Gqview
Name[it]=Gqview
Name[ja]=Gqview
Name[ka]=Gqview
Name[kk]=Gqview
Name[km]=Gqview
Name[kn]=ಜಿಕ್ಯೂವ್ಯೂ
Name[ko]=Gqview
Name[ku]=Gqview
Name[lt]=Gqview
Name[lv]=Gqview
Name[mai]=जीक्यूव्यू
Name[mk]=Gqview
Name[ml]=ജിക്യുവ്യൂ
Name[mr]=जीक्यूव्यू
Name[ms]=Gqview
Name[nb]=Gqview
Name[nds]=Gqview
Name[ne]=जीक्यू दृश्य
Name[nl]=Gqview
Name[nn]=Gqview
Name[oc]=Gqview
Name[or]=Gqview
Name[pa]=ਜੀ-ਕੀਵਿਊ
Name[pl]=Gqview
Name[pt]=Gqview
Name[pt_BR]=Gqview
Name[ro]=Gqview
Name[ru]=Gqview
Name[se]=Gqview
Name[si]=Gqview
Name[sk]=Gqview
Name[sl]=Gqview
Name[sr]=ГКуВју
Name[sr@latin]=GQview
Name[sv]=Gqview
Name[ta]=ஜிக்யுவியூ
Name[te]=జిక్యువ్యు
Name[tg]=Gqview
Name[th]=Gqview
Name[tr]=Gqview
Name[uk]=Gqview
Name[uz]=Gqview
Name[uz@cyrillic]=Gqview
Name[vi]=Gqview
Name[wa]=Gqview
Name[xh]=Gqview
Name[x-test]=xxGqviewxx
Name[zh_CN]=Gqview
Name[zh_TW]=Gqview
GenericName=Image Browser
GenericName[af]=Beeld Blaaier
GenericName[ar]=متصفح الصور
GenericName[as]=ছবিৰ চৰক
GenericName[be]=Вандроўнік па калекцыі відарысаў
GenericName[be@latin]=Prahladnik katalohaŭ z vyjavami
GenericName[bg]=Разглеждане на изображения
GenericName[bn]=চিত্র ব্রাউজার
GenericName[bn_IN]=ছবি ব্রাউজার
GenericName[br]=Furcher Skeudennoù
GenericName[ca]=Navegador d'imatges
GenericName[ca@valencia]=Navegador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Delweddau
GenericName[da]=Billedsøger
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[en_GB]=Image Browser
GenericName[eo]=Bildrigardilo
GenericName[es]=Navegador de imágenes
GenericName[et]=Pildifailide lehitseja
GenericName[eu]=Irudi arakatzailea
GenericName[fa]=مرورگر تصویر
GenericName[fi]=Kuvaselain
GenericName[fr]=Navigateur d'images
GenericName[fy]=Ofbyldingsblêder
GenericName[ga]=Brabhsálaí Íomhánna
GenericName[gl]=Navegador de imaxes
GenericName[gu]=ચિત્ર શોધનાર
GenericName[he]=דפדפן תמונות
GenericName[hi]=छवि ब्राउज़र
GenericName[hne]=फोटू ब्राउजर
GenericName[hr]=Preglednik slika
GenericName[hsb]=Přehladowar wobrazow
GenericName[hu]=Képböngésző
GenericName[is]=Myndavafri
GenericName[it]=Browser di immagini
GenericName[ja]=画像ブラウザ
GenericName[ka]=ბრაუზერი გამოსახულებების სანახავად
GenericName[kk]=Кескіндерді қарау құралы
GenericName[km]=កម្មវិធី​រុករក​រូបភាព
GenericName[kn]=ಚಿತ್ರ ವೀಕ್ಷಕ
GenericName[ko]=그림 탐색기
GenericName[ku]=Geroka Wêneyan
GenericName[lt]=Paveikslėlių naršyklė
GenericName[lv]=Attēlu pārlūks
GenericName[mai]=छवि ब्राउजर
GenericName[mk]=Прелистувач на слики
GenericName[ml]=ഇമേജ് ബ്രൌസര്‍
GenericName[mr]=प्रतिमा ब्राउजर
GenericName[ms]=Pelayar Imej
GenericName[nb]=Bildeframviser
GenericName[nds]=Bildkieker
GenericName[ne]=छवि ब्राउजर
GenericName[nl]=Afbeeldingenbrowser
GenericName[nn]=Biletvisar
GenericName[or]=ପ୍ରତିଛବି ବ୍ରାଉଜର
GenericName[pa]=ਚਿੱਤਰ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Navegador de Imagens
GenericName[pt_BR]=Navegador de imagens
GenericName[ro]=Navigator și vizualizator de imagini
GenericName[ru]=Просмотр галереи изображений
GenericName[se]=Govvačájeheaddji
GenericName[si]=පිංතූර ගවේශකය
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледач слика
GenericName[sr@latin]=Pregledač slika
GenericName[sv]=Bildbläddrare
GenericName[ta]=சித்திர உலாவி
GenericName[te]=చిత్ర బ్రౌజర్
GenericName[tg]=Намоишгари тасвирҳо
GenericName[th]=โปรแกรมเรียกดูภาพ
GenericName[tr]=Resim Tarayıcı
GenericName[uk]=Навігатор зображень
GenericName[uz]=Rasm brauzeri
GenericName[uz@cyrillic]=Расм браузери
GenericName[vi]=Bộ duyệt ảnh
GenericName[wa]=Foyteu d' imådjes
GenericName[xh]=Umkhangeli zincwadi Womfanekiso
GenericName[x-test]=xxImage Browserxx
GenericName[zh_CN]=图像浏览器
GenericName[zh_TW]=影像瀏覽器
Exec=gqview
Terminal=false
Icon=gqview
Type=Application
