[Desktop Entry]
Name=Gqview
Name[af]=Gq-bekyk
Name[fr]=GqView
Name[ne]=जीक्यू दृश्य
Name[pa]=ਜੀ-ਕੀਵਿਊ
Name[sr]=ГКуВју
Name[sr@latin]=GQview
Name[te]=జిక్యువ్యు
Name[x-test]=xxGqviewxx
GenericName=Image Browser
GenericName[af]=Beeld Blaaier
GenericName[ar]=متصفح الصور
GenericName[be]=Вандроўнік па калекцыі відарысаў
GenericName[bg]=Разглеждане на изображения
GenericName[br]=Furcher Skeudennoù
GenericName[ca]=Navegador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Delweddau
GenericName[da]=Billedsøger
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[eo]=Bildrigardilo
GenericName[es]=Navegador de imágenes
GenericName[et]=Pildifailide lehitseja
GenericName[eu]=Irudi arakatzailea
GenericName[fa]=مرورگر تصویر
GenericName[fi]=Kuvaselain
GenericName[fr]=Afficheur d'images
GenericName[fy]=Ofbyldingsblêder
GenericName[ga]=Brabhsálaí Íomhánna
GenericName[gl]=Navegador de Imaxes
GenericName[he]=דפדפן תמונות
GenericName[hr]=Preglednik slika
GenericName[hu]=Képböngésző
GenericName[is]=Myndavafri
GenericName[it]=Browser di immagini
GenericName[ja]=画像ブラウザ
GenericName[ka]=ბრაუზერი გამოსახულებების სანახავად
GenericName[kk]=Кескіндерді қарау құралы
GenericName[km]=កម្មវិធី​រុករក​រូបភាព
GenericName[ko]=그림 탐색기
GenericName[lt]=Paveikslėlių naršyklė
GenericName[lv]=Attēlu pārlūks
GenericName[mk]=Прелистувач на слики
GenericName[ms]=Pelayar Imej
GenericName[nb]=Bildeframviser
GenericName[nds]=Bildkieker
GenericName[ne]=छवि ब्राउजर
GenericName[nl]=Afbeeldingenbrowser
GenericName[nn]=Biletvisar
GenericName[pa]=ਚਿੱਤਰ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Navegador de Imagens
GenericName[pt_BR]=Navegador de Imagens
GenericName[ro]=Navigator şi vizualizor de imagini
GenericName[ru]=Программа просмотра рисунков
GenericName[se]=Govvačájeheaddji
GenericName[sl]=Brskalnik slik
GenericName[sr]=Прегледач слика
GenericName[sr@latin]=Pregledač slika
GenericName[sv]=Bildbläddrare
GenericName[ta]=பிம்ப உலாவி
GenericName[te]=చిత్ర బ్రౌజర్
GenericName[tg]=Тафсиргари тасвир
GenericName[th]=โปรแกรมเรียกดูภาพ
GenericName[tr]=Resim Tarayıcı
GenericName[uk]=Навігатор зображень
GenericName[uz]=Расм браузери
GenericName[vi]=Bộ duyệt ảnh
GenericName[wa]=Foyteu d' imådjes
GenericName[x-test]=xxImage Browserxx
GenericName[xh]=Umkhangeli zincwadi Womfanekiso
GenericName[zh_CN]=图像浏览器
GenericName[zh_TW]=影像瀏覽器
Exec=gqview
Terminal=false
Icon=gqview
Type=Application
