[Desktop Entry]
Encoding=UTF-8
Name=GV
Name[af]=Gv
Name[fr]=Gv
Name[te]=జివి
Name[x-test]=xxGVxx
MimeType=application/pdf;application/postscript;image/x-eps;application/illustrator
GenericName=Postscript Viewer
GenericName[af]=Postscript Aansig
GenericName[ar]=عارض PostScript
GenericName[be]=Праглядальнік Postscript
GenericName[br]=Gweler Postscript
GenericName[ca]=Visor de Postscript
GenericName[cs]=Prohlížeč Postscriptových souborů
GenericName[csb]=Przezérnik lopków Postscript
GenericName[cy]=Darllenydd PostScript
GenericName[da]=PostScript-fremviser
GenericName[de]=PostScript-Betrachter
GenericName[el]=Προβολέας Postscript
GenericName[eo]=Rigardilo por Postskripto
GenericName[es]=Visor de documentos PostScript
GenericName[et]=PostScript failide vaatamine
GenericName[eu]=Postscript ikustailua
GenericName[fa]=مشاهده‌گر پست‌اسکریپت
GenericName[fi]=Postscript-näytin
GenericName[fr]=Afficheur PostScript
GenericName[fy]=PostScript-werjefteprogramma
GenericName[ga]=Amharcán Postscript
GenericName[gl]=Visualizador de Postscript
GenericName[he]=מציג Postscript
GenericName[hr]=Preglednik PostScript dokumenata
GenericName[hu]=PostScript-nézegető
GenericName[is]=Postscript-skoðari
GenericName[it]=Visualizzatore PostScript
GenericName[ja]=Postscript ビューア
GenericName[ka]=პროგრამა Postscript–ის სანახავად
GenericName[kk]=Postscript қарау құралы
GenericName[km]=កម្មវិធី​មើល Postscript
GenericName[ko]=포스트스크립트 보기
GenericName[lt]=Postscript žiūriklis
GenericName[lv]=Postscript Skatītājs
GenericName[mk]=Прегледувач за Postscript
GenericName[ms]=Pelihat Postscript
GenericName[nb]=Postscript-leser
GenericName[nds]=Kieker för PostScript
GenericName[ne]=पोस्ट स्क्रिप्ट दर्शक
GenericName[nl]=PostScript-weergaveprogramma
GenericName[nn]=Postscript-lesar
GenericName[pa]=ਪੋਸਟ ਸਕਰਿਪਟ ਦਰਸਕ
GenericName[pl]=Przeglądarka plików Postscriptu
GenericName[pt_BR]=Visualizador de arquivos PostScript
GenericName[ro]=Vizualizor de documente PostScript
GenericName[ru]=Программа просмотра Postscript
GenericName[se]=Postscript čájeheaddji
GenericName[sl]=Pregledovalnik za PostScript
GenericName[sr]=Приказивач Postscript докумената
GenericName[sr@latin]=Prikazivač Postscript dokumenata
GenericName[sv]=Postscript-visare
GenericName[ta]=அஞ்சல் எழுத்தாக்க காட்சி
GenericName[te]=పోస్ట్ స్క్రిప్ట్ వీక్షిణి
GenericName[tg]=Намоишгари Postscript
GenericName[tr]=Postscript Görüntüleyici
GenericName[uk]=Переглядач PostScript
GenericName[uz]=PostScript кўрувчи
GenericName[wa]=Håyneu di documints PostScript
GenericName[x-test]=xxPostscript Viewerxx
GenericName[xh]=Umboniseli we Postcript
GenericName[zh_TW]=Postscript 檢視器
Exec=gv
Icon=gv
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
