[Desktop Entry]
Name=Inkscape
Name[bn]=ইঙ্ক-স্কেপ
Name[hi]=इंकस्केप
Name[ne]=इन्कस्केप
Name[sr]=Инкскејп
Name[ta]=இங்க்ஸ்கேப்
Name[te]=ఇంక్ స్కేప్
Name[tg]=ИнкСкейп
Name[x-test]=xxInkscapexx
MimeType=
GenericName=Vector Drawing
GenericName[af]=Vektor Teken
GenericName[be]=Вектарная графіка
GenericName[bg]=Векторна графика
GenericName[bn]=ভেক্টর ড্রয়িং
GenericName[ca]=Dibuixador de vectors
GenericName[cs]=Vektorové kreslení
GenericName[csb]=Programa do céchòwaniô
GenericName[cy]=Darlunio Fector
GenericName[da]=Vektortegning
GenericName[de]=Vektorzeichnungen
GenericName[el]=Διανυσματική ζωγραφική
GenericName[eo]=Vektora desegnaĵo
GenericName[es]=Dibujo vectorial
GenericName[et]=Vektorgraafika rakendus
GenericName[eu]=Bektore bidezko marrazketa
GenericName[fa]=ترسیم بردار
GenericName[fi]=Vektoripiirrokset
GenericName[fr]=Dessin vectoriel
GenericName[fy]=Fektorôfbylding
GenericName[ga]=Líníocht Veicteora
GenericName[gl]=Debuxo vectorial
GenericName[he]=ציור מבוסס וקטורים
GenericName[hi]=वेक्टर ड्राइंग
GenericName[hr]=Vektorsko crtanje
GenericName[hu]=Vektoros rajzolóprogram
GenericName[is]=Vektor teikningar
GenericName[it]=Grafica vettoriale
GenericName[ja]=ベクタードローイング
GenericName[ka]=ვექტორული გრაფიკა
GenericName[kk]=Сызбалық сурет салу
GenericName[km]=គំនូរ​វ៉ិចទ័រ
GenericName[ko]=벡터 그리기 프로그램
GenericName[ku]=Xêzkirina Vektoran
GenericName[lt]=Vektorinis piešimas
GenericName[lv]=Vektoru zīmēšana
GenericName[mk]=Векторско цртање
GenericName[ms]=Lukisan Vektor
GenericName[nb]=Vektorbasert tegneprogram
GenericName[nds]=Vektorteken
GenericName[ne]=भेक्टर रेखाचित्र
GenericName[nl]=Vectorafbeelding
GenericName[nn]=Vektorteikning
GenericName[pa]=ਵੈਕਟਰ ਡਰਾਇੰਗ
GenericName[pl]=Program do rysowania
GenericName[pt]=Desenho Vectorial
GenericName[pt_BR]=Desenho Vetorial
GenericName[ro]=Program de desenare vectorială
GenericName[ru]=Векторная графика
GenericName[se]=Vektorsárgon
GenericName[sk]=Vektorový kresliaci program
GenericName[sl]=Vektorsko risanje
GenericName[sr]=Векторско цртање
GenericName[sr@latin]=Vektorsko crtanje
GenericName[sv]=Vektorritning
GenericName[ta]=வெக்டார் வரைதல்
GenericName[te]=వెక్టర్ చిత్ర లేఖనం
GenericName[tg]=Расмбардорӣ
GenericName[th]=วาดภาพเวกเตอร์
GenericName[tr]=Vektör Tabanlı Çizim
GenericName[uk]=Векторне креслення
GenericName[uz]=Вектор чизмаларни яратиш воситаси
GenericName[vi]=Vẽ đồ họa véctơ
GenericName[wa]=Dessinaedje pa royes
GenericName[x-test]=xxVector Drawingxx
GenericName[xh]=Inkqubo Yomzobo Osekwe-Kwimitha Yovavanyo
GenericName[zh_CN]=矢量绘图
GenericName[zh_TW]=向量繪圖
Exec=inkscape
Icon=inkscape
Type=Application
Terminal=false
X-KDE-StartupNotify=false
