[Desktop Entry]
Name=Sketch
Name[af]=Skets
Name[ar]=ارسم
Name[bn]=স্কেচ
Name[csb]=Céchùnk
Name[fa]=طرح
Name[gu]=સ્કેચ
Name[hi]=स्केच
Name[km]=គំនូស​វាស​
Name[kn]=ಸ್ಕೆಚ್
Name[ku]=Pêşnûma
Name[ml]=സ്കെച്ച്
Name[ne]=रुपरेखा
Name[pa]=ਸ਼ਕਲ
Name[pl]=Zarys
Name[sl]=Skica
Name[sr]=Скица
Name[sr@latin]=Skica
Name[ta]=வரை
Name[te]=స్కెట్చ్
Name[tr]=Taslak
Name[vi]=Vẽ phác
Name[x-test]=xxSketchxx
Name[xh]=Umzobo
GenericName=Vector-based Drawing Program
GenericName[af]=Vektor-basis Tekenprogram
GenericName[be]=Рэдактар вектарнай графікі
GenericName[bg]=Програма за векторна графика
GenericName[bn]=ভেক্টর-ভিত্তিক অঙ্কন প্রোগ্রাম
GenericName[ca]=Programa de dibuix basat en els vectors
GenericName[cs]=Vektorový kreslící program
GenericName[csb]=Wektorowô programa do céchòwaniô
GenericName[cy]=Rhaglen darlunio fector 
GenericName[da]=Vektorbaseret tegneprogram
GenericName[de]=Vektorbasiertes Zeichenprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής βασισμένης σε διανύσματα
GenericName[eo]=Vektor-desegnilo
GenericName[es]=Programa de dibujo vectorial
GenericName[et]=Vektorgraafika joonistamine
GenericName[eu]=Bektoreetan oinarritutako marrazkiak egiteko programa
GenericName[fa]=برنامۀ ترسیم برداری
GenericName[fi]=Vektoripohjainen piirto-ohjelma
GenericName[fr]=Logiciel de dessin vectoriel
GenericName[fy]=Fektor-tekenprogramma
GenericName[ga]=Clár líníochta bunaithe ar veicteoirí
GenericName[gl]=Programa de debuxo vectorial
GenericName[gu]=વેક્ટર-આધારિત ચિત્ર કાર્યક્રમ
GenericName[he]=תוכנית ציור מבוססת וקטורים
GenericName[hi]=वेक्टर आधारित ड्राइंग प्रोग्राम
GenericName[hr]=Program za vektorsko crtanje
GenericName[hu]=Vektoros rajzolóprogram
GenericName[is]=Vigrað teikniforrit
GenericName[it]=Programma di disegno vettoriale
GenericName[ja]=ベクトルドローイングプログラム
GenericName[ka]=პროგრამა ვექტორული გრაფიკისათვის
GenericName[kk]=Сызбалық сурет салу бағдарламасы
GenericName[km]=កម្មវិធី​គូរ​ដែល​មាន​មូលដ្ឋាន​លើ​​វ៉ិចទ័រ
GenericName[kn]=ಸದಿಶಾಧಾರಿತ ಚಿತ್ರರಚನಾ ಕ್ರಮವಿಧಿ (ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=벡터 기반 그림 프로그램
GenericName[ku]=Bernameya Xêzkirinê ya bingeh-Vektor
GenericName[lt]=Vektorinio paišymo programa
GenericName[lv]=Vektoru bāzēta zīmēšanas programma
GenericName[mk]=Програма за векторски базирано цртање
GenericName[ml]=വെക്റ്ററഥിഷ്ടിതമായ വരയ്ക്കാനുള്ള പ്രോഗ്രാം
GenericName[ms]=Program Melukis Berasaskan Vektor
GenericName[nb]=Vektorbasert tegneprogram
GenericName[nds]=Tekenprogramm, dat op Vektoren opbuut
GenericName[ne]=भेक्टरमा आधारित रेखाचित्र कार्यक्रम
GenericName[nl]=Vector-tekenprogramma
GenericName[nn]=Vektorbasert teikneprogram
GenericName[pa]=ਵੈਕਟਰ 'ਤੇ ਅਧਾਰਿਤ ਡਰਾਇੰਗ ਪਰੋਗਰਾਮ
GenericName[pl]=Wektorowy program do rysowania
GenericName[pt]=Programa de Desenho Vectorial
GenericName[pt_BR]=Programa de Desenho Vetorial
GenericName[ro]=Program de desenare vectorială
GenericName[ru]=Программа векторной графики
GenericName[se]=Vektorvuođđoduvvon sárgonprográmma
GenericName[sk]=Vektorový kresliaci program
GenericName[sl]=Program za vektorsko risanje
GenericName[sr]=Програм за векторско цртање
GenericName[sr@latin]=Program za vektorsko crtanje
GenericName[sv]=Vektorbaserat ritprogram
GenericName[ta]=வெக்டார் சார் வரை நிரல்
GenericName[te]=వెక్టర్ ఆధారిత చిత్ర లేఖన కార్యక్రమం
GenericName[tg]=Барномаи расмбардорӣ
GenericName[th]=โปรแกรมวาดภาพแบบเวกเตอร์
GenericName[tr]=Vektör Tabanlı Çizim Programı
GenericName[uk]=Програма створення векторних зображень
GenericName[uz]=Vektor asosidagi rasm chizish dasturi
GenericName[uz@cyrillic]=Вектор асосидаги расм чизиш дастури
GenericName[vi]=Trình vẽ dựa vào véctơ
GenericName[wa]=Programe di dessinaedje pa royes
GenericName[x-test]=xxVector-based Drawing Programxx
GenericName[xh]=Inkqubo Yomzobo Osekwe-Kwimitha Yovavanyo
GenericName[zh_CN]=矢量绘图程序
GenericName[zh_TW]=向量繪圖程式
Exec=sketch
Terminal=false
Icon=graphics_section
Type=Application
