[Desktop Entry]
Encoding=UTF-8
Name=Sodipodi
Name[ne]=सोडिपोडी
Name[pa]=ਸੋਡੀ-ਪੋਡੀ
Name[ta]=சோடிபோடி
Name[te]=సొడిపొడి
Name[x-test]=xxSodipodixx
MimeType=
GenericName=Vector Drawing
GenericName[af]=Vektor Teken
GenericName[ar]=أدة لرسم المتجهات
GenericName[be]=Вектарная графіка
GenericName[ca]=Dibuixador de vectors
GenericName[cs]=Vektorové kreslení
GenericName[csb]=Programa do céchòwaniô
GenericName[cy]=Darlunio Fector
GenericName[da]=Vektortegning
GenericName[de]=Vektorzeichnungen
GenericName[el]=Διανυσματική ζωγραφική
GenericName[eo]=Desegnaĵoj
GenericName[es]=Dibujo vectorial
GenericName[et]=Vektorgraafika rakendus
GenericName[eu]=Bektore bidezko marrazketa
GenericName[fa]=ترسیم بردار
GenericName[fi]=Vektoripiirrokset
GenericName[fr]=Dessin vectoriel
GenericName[fy]=Fektorôfbylding
GenericName[ga]=Líníocht Veicteora
GenericName[gl]=Debuxo Vectorial
GenericName[he]=ציור מבוסס וקטורים
GenericName[hr]=Vektorsko crtanje
GenericName[hu]=Vektoros rajzolóprogram
GenericName[is]=Vektor teikning
GenericName[it]=Grafica vettoriale
GenericName[ja]=ベクタードローイング
GenericName[ka]=ვექტორული გრაფიკა
GenericName[kk]=Сызбалық сурет салу
GenericName[km]=គំនូរ​វ៉ិចទ័រ
GenericName[ko]=벡터 그림
GenericName[lt]=Vektorinis piešimas
GenericName[lv]=Vektoru Zīmējumi
GenericName[mk]=Векторско цртање
GenericName[ms]=Lukisan Vektor
GenericName[nb]=Vektorbasert tegneprogram
GenericName[nds]=Vektorteken
GenericName[ne]=भेक्टर रेखाचित्र
GenericName[nl]=Vectorafbeelding
GenericName[nn]=Vektorteikning
GenericName[pa]=ਵੈਕਟਰ ਡਰਾਇੰਗ
GenericName[pl]=Program do rysowania
GenericName[pt]=Desenho Vectorial
GenericName[pt_BR]=Desenho Vetorial
GenericName[ro]=Program de desenare vectorială
GenericName[ru]=Векторная графика
GenericName[se]=Vektorsárgon
GenericName[sl]=Vektorsko risanje
GenericName[sr]=Векторско цртање
GenericName[sr@latin]=Vektorsko crtanje
GenericName[sv]=Vektorritning
GenericName[ta]=வெக்டார் வரைதல்
GenericName[te]=వెక్టర్ చిత్ర లేఖనం
GenericName[tg]=Расмбардорӣ
GenericName[tr]=Vektör Çizim
GenericName[uk]=Векторне креслення
GenericName[uz]=Вектор чизмаларни яратиш воситаси
GenericName[x-test]=xxVector Drawingxx
GenericName[xh]=Inkqubo Yomzobo Osekwe-Kwimitha Yovavanyo
GenericName[zh_TW]=向量繪圖
Exec=sodipodi
Icon=sodipodi
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
