[Desktop Entry]
Encoding=UTF-8
Exec=tgif
Type=Application
Name=TGif
Name[af]=Tgif
Name[ne]=टी गिफ
Name[sv]=Tgif
Name[te]=టిజిఫ్
Name[x-test]=xxTGifxx
GenericName=Drawing Program
GenericName[af]=Teken Program
GenericName[ar]=برنامج الرسم
GenericName[bg]=Програма за рисуване
GenericName[br]=Goulev tresañ
GenericName[ca]=Programa de dibuix
GenericName[cs]=Kreslící program
GenericName[csb]=Programa do céchòwaniô
GenericName[cy]=Rhaglen Darlunio
GenericName[da]=Tegneprogram
GenericName[de]=Zeichenprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[eo]=Desegnilo
GenericName[es]=Programa de dibujo
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazteko programa
GenericName[fa]=برنامۀ ترسیم
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Logiciel de dessin
GenericName[fy]=Tekenprogramma
GenericName[ga]=Clár líníochta
GenericName[gl]=Programa de Debuxo
GenericName[he]=תוכנית ציור
GenericName[hr]=Program za crtanje
GenericName[hu]=Rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ドローイングプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[kk]=Сурет салу бағдарламасы
GenericName[km]=កម្មវិធី​គំនូរ
GenericName[ko]=그림 프로그램
GenericName[lt]=Braižymo programa
GenericName[lv]=Zīmēšanas Programma
GenericName[mk]=Програма за цртање
GenericName[ms]=Program Melukis
GenericName[nb]=Tegneprogram
GenericName[nds]=Tekenprogramm
GenericName[ne]=रेखाचित्र कार्यक्रम
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[pa]=ਡਰਾਇੰਗ ਕਾਰਜ
GenericName[pl]=Program do rysowania
GenericName[pt]=Programa de Desenho
GenericName[pt_BR]=Programa de Desenho
GenericName[ro]=Program de desenare
GenericName[ru]=Программа для рисования
GenericName[se]=Sárgonprográmma
GenericName[sl]=Risarski program
GenericName[sr]=Програм за цртање
GenericName[sr@Latn]=Program za crtanje
GenericName[sv]=Ritprogram
GenericName[ta]=வரையும் நிரலி
GenericName[te]=చిత్ర లేఖన కార్యక్రమం
GenericName[tg]=Барномаи расм
GenericName[tr]=Çizim Programı
GenericName[uk]=Програма для креслення
GenericName[uz]=Чизмаларни яратиш воситаси
GenericName[x-test]=xxDrawing Programxx
GenericName[xh]= Inkqubo Yemizobo
GenericName[zh_TW]=繪圖程式
X-KDE-StartupNotify=false
MimeType=application/x-tgif
