[Desktop Entry]
Exec=tgif
Type=Application
Name=TGif
Name[af]=TGif
Name[ar]=برنامج الصور المتجهة TGif
Name[as]=TGif
Name[be]=TGif
Name[be@latin]=TGif
Name[bg]=TGif
Name[bn]=টি-জিফ
Name[bn_IN]=TGif
Name[br]=TGif
Name[ca]=TGif
Name[ca@valencia]=TGif
Name[cs]=TGif
Name[csb]=TGif
Name[cy]=TGif
Name[da]=TGif
Name[de]=TGif
Name[el]=TGif
Name[en_GB]=TGif
Name[eo]=TGif
Name[es]=TGif
Name[et]=TGif
Name[eu]=TGif
Name[fi]=TGif
Name[fr]=TGif
Name[fy]=TGif
Name[ga]=TGif
Name[gl]=TGif
Name[gu]=TGif
Name[he]=TGif
Name[hi]=टी-जिफ़
Name[hne]=टी-जिफ
Name[hr]=TGif
Name[hsb]=TGif
Name[hu]=TGif
Name[is]=TGif
Name[it]=TGif
Name[ja]=TGif
Name[ka]=TGif
Name[kk]=TGif
Name[km]=TGif
Name[kn]=ಟಿಜಿಫ್
Name[ko]=TGif
Name[ku]=TGif
Name[lt]=TGif
Name[lv]=TGif
Name[mai]=टी-जिफ
Name[mk]=TGif
Name[ml]=ടിജിഫ്
Name[mr]=TGif
Name[ms]=TGif
Name[nb]=TGif
Name[nds]=TGif
Name[ne]=टीगिफ
Name[nl]=TGif
Name[nn]=TGif
Name[or]=TGif
Name[pa]=TGif
Name[pl]=TGif
Name[pt]=TGif
Name[pt_BR]=TGif
Name[ro]=TGif
Name[ru]=TGif
Name[se]=TGif
Name[si]=TGif
Name[sk]=TGif
Name[sl]=TGif
Name[sr]=Тгиф
Name[sr@latin]=TGif
Name[sv]=Tgif
Name[ta]=டிகிப்
Name[te]=టిజిఫ్
Name[tg]=TGif
Name[th]=TGif
Name[tr]=TGif
Name[uk]=TGif
Name[uz]=TGif
Name[uz@cyrillic]=TGif
Name[vi]=TGif
Name[wa]=TGif
Name[xh]=TGif
Name[x-test]=xxTGifxx
Name[zh_CN]=TGif
Name[zh_TW]=TGif
GenericName=Drawing Program
GenericName[af]=Tekenprogram
GenericName[ar]=برامج رسم
GenericName[as]=ছবি অঁকাৰ কাৰ্য্যক্ৰম
GenericName[be]=Праграма для малявання
GenericName[be@latin]=Prahrama dla malavańnia
GenericName[bg]=Програма за рисуване
GenericName[bn]=অঙ্কন প্রোগ্রাম
GenericName[bn_IN]=ছবি আঁকার প্রোগ্রাম
GenericName[br]=Goulev tresañ
GenericName[ca]=Programa de dibuix
GenericName[ca@valencia]=Programa de dibuix
GenericName[cs]=Kreslící program
GenericName[csb]=Programa do céchòwaniô
GenericName[cy]=Rhaglen Darlunio
GenericName[da]=Tegneprogram
GenericName[de]=Zeichenprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[en_GB]=Drawing Program
GenericName[eo]=Desegnilo
GenericName[es]=Programa de dibujo
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazteko programa
GenericName[fa]=برنامۀ ترسیم
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Logiciel de dessin
GenericName[fy]=Tekenprogramma
GenericName[ga]=Clár líníochta
GenericName[gl]=Programa de debuxo
GenericName[gu]=ચિત્ર દોરવાનો કાર્યક્રમ
GenericName[he]=תוכנית ציור
GenericName[hi]=ड्राइंग प्रोग्राम
GenericName[hne]=ड्राइंग प्रोग्राम
GenericName[hr]=Program za crtanje
GenericName[hsb]=Rysowanski program
GenericName[hu]=Rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ドローイングプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[kk]=Сурет салу бағдарламасы
GenericName[km]=កម្មវិធី​គំនូរ
GenericName[kn]=ಚಿತ್ರರಚನಾ ಕ್ರಮವಿಧಿ (ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=그리기 프로그램
GenericName[ku]=Bernameya Xêzkirinê
GenericName[lt]=Braižymo programa
GenericName[lv]=Zīmēšanas programma
GenericName[mai]=ड्राइंग प्रोग्राम
GenericName[mk]=Програма за цртање
GenericName[ml]=വരയ്ക്കാനുള്ള പ്രോഗ്രാം
GenericName[mr]=ड्राइंग प्रोग्राम
GenericName[ms]=Program Melukis
GenericName[nb]=Tegneprogram
GenericName[nds]=Tekenprogramm
GenericName[ne]=रेखाचित्र कार्यक्रम
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[or]=ଅଙ୍କନ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਡਰਾਇੰਗ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program do rysowania
GenericName[pt]=Programa de Desenho
GenericName[pt_BR]=Programa de desenho
GenericName[ro]=Program de desenare
GenericName[ru]=Программа для рисования
GenericName[se]=Sárgonprográmma
GenericName[si]=ඇදිමේ වැඩසටහන
GenericName[sk]=Kreslenie
GenericName[sl]=Risarski program
GenericName[sr]=Програм за цртање
GenericName[sr@latin]=Program za crtanje
GenericName[sv]=Ritprogram
GenericName[ta]=வரை நிரல்
GenericName[te]=చిత్ర లేఖన కార్యక్రమం
GenericName[tg]=Барномаи расмкашӣ
GenericName[th]=โปรแกรมวาดภาพ
GenericName[tr]=Çizim Programı
GenericName[uk]=Програма для креслення
GenericName[uz]=Chizmalarni yaratish vositasi
GenericName[uz@cyrillic]=Чизмаларни яратиш воситаси
GenericName[vi]=Trình vẽ
GenericName[wa]=Programe di dessinaedje
GenericName[xh]= Inkqubo Yemizobo
GenericName[x-test]=xxDrawing Programxx
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=繪圖程式
X-KDE-StartupNotify=false
MimeType=application/x-tgif;
