[Desktop Entry]
Encoding=UTF-8
Exec=xdvi
Icon=xapp
Type=Application
Name=X DVI
Name[af]=X Dvi
Name[cs]=X Dvi
Name[de]=X-DVI
Name[eo]=XDVI
Name[es]=XDVI
Name[fr]=XDVI
Name[ko]=X용 DVI
Name[nds]=X-DVI
Name[ne]=एक्स डी भी आई
Name[te]=ఎక్స్ డివిఐ
Name[x-test]=xxX DVIxx
GenericName=DVI Viewer
GenericName[af]=Dvi Aansig
GenericName[be]=Праглядальнік DVI
GenericName[br]=Gweler DVI
GenericName[ca]=Visor DVI
GenericName[cs]=Prohlížeč DVI souborů
GenericName[csb]=Przezérnik lopków DVI
GenericName[cy]=Gwelydd DVI
GenericName[da]=DVI-fremviser
GenericName[de]=DVI-Betrachter
GenericName[el]=Προβολέας DVI
GenericName[eo]=DVI-rigardilo
GenericName[es]=Visor de documentos DVI
GenericName[et]=DVI failide vaatamine
GenericName[eu]=DVI ikustailua
GenericName[fa]=مشاهده‌گر DVI
GenericName[fi]=DVI-näytin
GenericName[fr]=Afficheur DVI
GenericName[fy]=DVI-werjefteprogramma
GenericName[ga]=Amharcán DVI
GenericName[gl]=Visualizador de DVI
GenericName[he]=מציג DVI
GenericName[hr]=Preglednik DVI dokumenata
GenericName[hu]=DVI-nézegető
GenericName[is]=DVI-sjá
GenericName[it]=Visualizzatore DVI
GenericName[ja]=DVI ビューア
GenericName[ka]=პროგრამა DVI–ის სანახავდ
GenericName[kk]=DVI қарап-шығу
GenericName[km]=កម្មវិធី​មើល DVI
GenericName[ko]=DVI 보기
GenericName[lt]=DVI Žiūriklis
GenericName[lv]=DVI Skatītājs
GenericName[mk]=Прегледувач за DVI
GenericName[ms]=Pelihat DVI
GenericName[nb]=DVI-leser
GenericName[nds]=Kieker för DVI
GenericName[ne]=डी भी आई दर्शक
GenericName[nl]=DVI-weergaveprogramma
GenericName[nn]=DVI-lesar
GenericName[pa]=DVI ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików DVI
GenericName[pt]=Visualizador de DVIs
GenericName[pt_BR]=Visualizador de arquivos DVI
GenericName[ro]=Vizualizor de fişiere DVI
GenericName[ru]=Программа просмотра DVI
GenericName[se]=DVI čájeheaddji
GenericName[sl]=Pregledovalnik datotek DVI
GenericName[sr]=DVI приказивач
GenericName[sr@latin]=DVI prikazivač
GenericName[sv]=DVI-visare
GenericName[ta]=DVI காட்சி
GenericName[te]=డివిఐ వీక్షిణి
GenericName[tg]=Намоишгари DVI
GenericName[tr]=DVI Görüntüleyici
GenericName[uk]=Переглядач DVI
GenericName[uz]=DVI кўрувчи
GenericName[wa]=Håyneu di fitchîs DVI
GenericName[x-test]=xxDVI Viewerxx
GenericName[xh]=Umboniseli we DVI
GenericName[zh_TW]=DVI 檢視器
MimeType=application/x-dvi
X-KDE-StartupNotify=false
