[Desktop Entry]
Exec=xdvi
Icon=xapp
Type=Application
Name=X DVI
Name[bn]=এক্স ডি-ভি-আই
Name[cs]=X Dvi
Name[de]=X-DVI
Name[es]=XDVI
Name[fr]=XDVI
Name[hi]=एक्स डीवीआई
Name[kn]=ಕ್ಸ ಡಿವಿಐ
Name[ml]=എക്സ് ഡിവിഐ
Name[nds]=X-DVI
Name[ne]=एक्स डीभीआई
Name[sr]=ИксДВИ
Name[sr@latin]=XDVI
Name[ta]=எக்ஸ் டிவிஐ
Name[te]=ఎక్స్ డివిఐ
Name[x-test]=xxX DVIxx
GenericName=DVI Viewer
GenericName[af]=DVI-bekyker
GenericName[ar]=DVI عارض
GenericName[be]=Праглядальнік DVI
GenericName[bg]=Преглед на DVI документи
GenericName[bn]=ডি-ভি-আই প্রদর্শক
GenericName[bn_IN]=DVI প্রদর্শন ব্যবস্থা
GenericName[br]=Gweler DVI
GenericName[ca]=Visor DVI
GenericName[cs]=Prohlížeč DVI souborů
GenericName[csb]=Przezérnik lopków DVI
GenericName[cy]=Gwelydd DVI
GenericName[da]=DVI-fremviser
GenericName[de]=DVI-Betrachter
GenericName[el]=Προβολέας DVI
GenericName[eo]=DVI-rigardilo
GenericName[es]=Visor de documentos DVI
GenericName[et]=DVI failide vaatamine
GenericName[eu]=DVI ikustailua
GenericName[fa]=مشاهده‌گر DVI
GenericName[fi]=DVI-näytin
GenericName[fr]=Afficheur DVI
GenericName[fy]=DVI-werjefteprogramma
GenericName[ga]=Amharcán DVI
GenericName[gl]=Visor de DVI
GenericName[gu]=DVI દર્શક
GenericName[he]=מציג DVI
GenericName[hi]=डीवीआई प्रदर्शक
GenericName[hr]=Preglednik DVI dokumenata
GenericName[hu]=DVI-nézegető
GenericName[is]=DVI-sjá
GenericName[it]=Visore DVI
GenericName[ja]=DVI ビューア
GenericName[ka]=პროგრამა DVI–ის სანახავდ
GenericName[kk]=DVI қарап-шығу
GenericName[km]=កម្មវិធី​មើល DVI
GenericName[kn]=ಡಿವಿಐ ಪ್ರದರ್ಶಕ
GenericName[ko]=DVI 뷰어
GenericName[ku]=Temaşekarê DVI
GenericName[lt]=DVI Žiūriklis
GenericName[lv]=DVI skatītājs
GenericName[mk]=Прегледувач за DVI
GenericName[ml]=ഡിവിഐ ഫയലുകള്‍ തുറക്കാന്‍
GenericName[ms]=Pelihat DVI
GenericName[nb]=DVI-leser
GenericName[nds]=Kieker för DVI
GenericName[ne]=डीभीआई दर्शक
GenericName[nl]=DVI-weergaveprogramma
GenericName[nn]=DVI-lesar
GenericName[pa]=DVI ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików DVI
GenericName[pt]=Visualizador de DVIs
GenericName[pt_BR]=Visualizador de DVI
GenericName[ro]=Vizualizator de fișiere DVI
GenericName[ru]=Программа просмотра DVI
GenericName[se]=DVI čájeheaddji
GenericName[sk]=Prehliadač DVI súborov
GenericName[sl]=Pregledovalnik datotek DVI
GenericName[sr]=Приказивач ДВИ‑ја
GenericName[sr@latin]=Prikazivač DVI‑ja
GenericName[sv]=DVI-visare
GenericName[ta]=டிவிஐ காட்சி
GenericName[te]=డివిఐ వీక్షిణి
GenericName[tg]=Намоишгари DVI
GenericName[th]=ตัวแสดงผล DVI
GenericName[tr]=DVI Görüntüleyici
GenericName[uk]=Переглядач DVI
GenericName[uz]=DVI koʻruvchi
GenericName[uz@cyrillic]=DVI кўрувчи
GenericName[vi]=Bộ xem tập tin kiểu DVI
GenericName[wa]=Håyneu di fitchîs DVI
GenericName[x-test]=xxDVI Viewerxx
GenericName[xh]=Umboniseli we DVI
GenericName[zh_CN]=DVI 查看器
GenericName[zh_TW]=DVI 檢視器
MimeType=application/x-dvi;
X-KDE-StartupNotify=false
