[Desktop Entry]
Exec=xdvi
Icon=xapp
Type=Application
Name=X DVI
Name[af]=X DVI
Name[ar]=X DVI
Name[as]=X DVI
Name[be]=X DVI
Name[be@latin]=X DVI
Name[bg]=X DVI
Name[bn]=এক্স ডি-ভি-আই
Name[bn_IN]=X DVI
Name[br]=X DVI
Name[ca]=X DVI
Name[ca@valencia]=X DVI
Name[cs]=X Dvi
Name[csb]=X DVI
Name[cy]=X DVI
Name[da]=X DVI
Name[de]=X-DVI
Name[el]=X DVI
Name[en_GB]=X DVI
Name[eo]=X DVI
Name[es]=XDVI
Name[et]=X DVI
Name[eu]=X DVI
Name[fi]=X DVI
Name[fr]=XDVI
Name[fy]=X DVI
Name[ga]=X DVI
Name[gl]=X DVI
Name[gu]=X DVI
Name[he]=X DVI
Name[hi]=एक्स डीवीआई
Name[hne]=एक्स डीवीआई
Name[hr]=X DVI
Name[hsb]=X DVI
Name[hu]=X DVI
Name[is]=X DVI
Name[it]=X DVI
Name[ja]=X DVI
Name[ka]=X DVI
Name[kk]=X DVI
Name[km]=X DVI
Name[kn]=ಕ್ಸ ಡಿವಿಐ
Name[ko]=X DVI
Name[ku]=X DVI
Name[lt]=X DVI
Name[lv]=X DVI
Name[mai]=एक्स डीवीआइ
Name[mk]=X DVI
Name[ml]=എക്സ് ഡിവിഐ
Name[mr]=X DVI
Name[ms]=X DVI
Name[nb]=X DVI
Name[nds]=X-DVI
Name[ne]=एक्स डीभीआई
Name[nl]=X DVI
Name[nn]=X DVI
Name[oc]=X DVI
Name[or]=X DVI
Name[pa]=X DVI
Name[pl]=X DVI
Name[pt]=X DVI
Name[pt_BR]=X DVI
Name[ro]=X DVI
Name[ru]=X DVI
Name[se]=X DVI
Name[si]=X DVI
Name[sk]=X DVI
Name[sl]=X DVI
Name[sr]=ИксДВИ
Name[sr@latin]=XDVI
Name[sv]=X DVI
Name[ta]=எக்ஸ் டிவிஐ
Name[te]=ఎక్స్ డివిఐ
Name[tg]=X DVI
Name[th]=X DVI
Name[tr]=X DVI
Name[uk]=X DVI
Name[uz]=X DVI
Name[uz@cyrillic]=X DVI
Name[vi]=X DVI
Name[wa]=X DVI
Name[xh]=X DVI
Name[x-test]=xxX DVIxx
Name[zh_CN]=X DVI
Name[zh_TW]=X DVI
GenericName=DVI Viewer
GenericName[af]=DVI-bekyker
GenericName[ar]=DVI عارض
GenericName[as]=DVI প্ৰদৰ্শক
GenericName[be]=Праглядальнік DVI
GenericName[be@latin]=Prahladnik DVI
GenericName[bg]=Преглед на DVI документи
GenericName[bn]=ডি-ভি-আই প্রদর্শক
GenericName[bn_IN]=DVI প্রদর্শন ব্যবস্থা
GenericName[br]=Gweler DVI
GenericName[ca]=Visor DVI
GenericName[ca@valencia]=Visor DVI
GenericName[cs]=Prohlížeč DVI souborů
GenericName[csb]=Przezérnik lopków DVI
GenericName[cy]=Gwelydd DVI
GenericName[da]=DVI-fremviser
GenericName[de]=DVI-Betrachter
GenericName[el]=Προβολέας DVI
GenericName[en_GB]=DVI Viewer
GenericName[eo]=DVI-rigardilo
GenericName[es]=Visor de documentos DVI
GenericName[et]=DVI failide vaatamine
GenericName[eu]=DVI ikustailua
GenericName[fa]=مشاهده‌گر DVI
GenericName[fi]=DVI-näytin
GenericName[fr]=Afficheur DVI
GenericName[fy]=DVI-werjefteprogramma
GenericName[ga]=Amharcán DVI
GenericName[gl]=Visor de DVI
GenericName[gu]=DVI દર્શક
GenericName[he]=מציג DVI
GenericName[hi]=डीवीआई प्रदर्शक
GenericName[hne]=डीवीआई प्रदर्सक
GenericName[hr]=Preglednik DVI dokumenata
GenericName[hsb]=DVI-wobhladowar
GenericName[hu]=DVI-nézegető
GenericName[is]=DVI-sjá
GenericName[it]=Visore DVI
GenericName[ja]=DVI ビューア
GenericName[ka]=პროგრამა DVI–ის სანახავდ
GenericName[kk]=DVI қарау құралы
GenericName[km]=កម្មវិធី​មើល DVI
GenericName[kn]=ಡಿವಿಐ ಪ್ರದರ್ಶಕ
GenericName[ko]=DVI 뷰어
GenericName[ku]=Temaşekarê DVI
GenericName[lt]=DVI Žiūriklis
GenericName[lv]=DVI skatītājs
GenericName[mai]=डीवीआई प्रदर्शक
GenericName[mk]=Прегледувач за DVI
GenericName[ml]=ഡിവിഐ ഫയലുകള്‍ തുറക്കാന്‍
GenericName[mr]=डीवीआई प्रदर्शक
GenericName[ms]=Pelihat DVI
GenericName[nb]=DVI-leser
GenericName[nds]=Kieker för DVI
GenericName[ne]=डीभीआई दर्शक
GenericName[nl]=DVI-weergaveprogramma
GenericName[nn]=DVI-lesar
GenericName[or]=DVI ପ୍ରଦର୍ଶିକା
GenericName[pa]=DVI ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików DVI
GenericName[pt]=Visualizador de DVIs
GenericName[pt_BR]=Visualizador de DVI
GenericName[ro]=Vizualizator de fișiere DVI
GenericName[ru]=Просмотр DVI
GenericName[se]=DVI čájeheaddji
GenericName[si]=DVI දසුන
GenericName[sk]=Prehliadač DVI súborov
GenericName[sl]=Pregledovalnik datotek DVI
GenericName[sr]=Приказивач ДВИ‑ја
GenericName[sr@latin]=Prikazivač DVI‑ja
GenericName[sv]=DVI-visare
GenericName[ta]=டிவிஐ காட்சி
GenericName[te]=డివిఐ వీక్షిణి
GenericName[tg]=Намоишгари DVI
GenericName[th]=ตัวแสดงผล DVI
GenericName[tr]=DVI Görüntüleyici
GenericName[uk]=Переглядач DVI
GenericName[uz]=DVI koʻruvchi
GenericName[uz@cyrillic]=DVI кўрувчи
GenericName[vi]=Bộ xem tập tin kiểu DVI
GenericName[wa]=Håyneu di fitchîs DVI
GenericName[xh]=Umboniseli we DVI
GenericName[x-test]=xxDVI Viewerxx
GenericName[zh_CN]=DVI 查看器
GenericName[zh_TW]=DVI 檢視器
MimeType=application/x-dvi;
X-KDE-StartupNotify=false
