[Desktop Entry]
Name=X Paint
Name[af]=X Verf
Name[ar]=X رسام
Name[as]=X Paint
Name[be]=X Paint
Name[be@latin]=X Paint
Name[bg]=X Paint
Name[bn]=এক্স পেইন্ট
Name[bn_IN]=X Paint
Name[br]=X Paint
Name[ca]=X Paint
Name[ca@valencia]=X Paint
Name[cs]=X Paint
Name[csb]=X Paint
Name[cy]=X Peintio
Name[da]=X Paint
Name[de]=X-Paint
Name[el]=X Paint
Name[en_GB]=X Paint
Name[eo]=X Paint
Name[es]=XPaint
Name[et]=X Paint
Name[eu]=X Paint
Name[fa]=نقاشی X
Name[fi]=X Paint
Name[fr]=XPaint
Name[fy]=X Paint
Name[ga]=X Paint
Name[gl]=X Paint
Name[gu]=X પેઇન્ટ
Name[he]=X Paint
Name[hi]=एक्स पेंट
Name[hne]=एक्स पेंट
Name[hr]=X Paint
Name[hsb]=X Paint
Name[hu]=X Paint
Name[is]=X Paint
Name[it]=X Paint
Name[ja]=X Paint
Name[ka]=X Paint
Name[kk]=X Paint
Name[km]=គំនូរ X
Name[kn]=ಕ್ಸ ಪೈಂಟ್
Name[ko]=X Paint
Name[ku]=X Paint
Name[lt]=X Paint
Name[lv]=X Paint
Name[mai]=एक्स पेंट
Name[mk]=X Paint
Name[ml]=എക്സ് പെയിന്റ്
Name[mr]=एक्स पेंट
Name[ms]=X Paint
Name[nb]=X Paint
Name[nds]=X-Paint
Name[ne]=एक्स पेन्ट
Name[nl]=X Paint
Name[nn]=X Paint
Name[oc]=X Paint
Name[or]=X ଚିତ୍ର
Name[pa]=X ਪੇਂਟ
Name[pl]=X Paint
Name[pt]=X Paint
Name[pt_BR]=X Paint
Name[ro]=X Paint
Name[ru]=X Paint
Name[se]=X Paint
Name[si]=X ඇදීම
Name[sk]=X Paint
Name[sl]=X Paint
Name[sr]=Икс‑сликање
Name[sr@latin]=X‑slikanje
Name[sv]=X paint
Name[ta]=எக்ஸ் பெயின்ட்
Name[te]=ఎక్స్ పెయింట్
Name[tg]=X Paint
Name[th]=X Paint
Name[tr]=X Paint
Name[uk]=X Paint
Name[uz]=X Paint
Name[uz@cyrillic]=X Paint
Name[vi]=Sơn X
Name[wa]=X Paint
Name[xh]=Ipeyinti X
Name[x-test]=xxX Paintxx
Name[zh_CN]=X 绘图
Name[zh_TW]=X 小畫家
MimeType=
GenericName=Paint Program
GenericName[af]=Verf Program
GenericName[ar]=برنامج تلوين
GenericName[as]=Paint Program
GenericName[be]=Праграма для малявання
GenericName[be@latin]=Prahrama dla malavańnia
GenericName[bg]=Програма за рисуване
GenericName[bn]=ছবি রং করার প্রোগ্রাম
GenericName[bn_IN]=Paint প্রোগ্রাম
GenericName[br]=Goulev tresañ
GenericName[ca]=Programa Paint
GenericName[ca@valencia]=Programa Paint
GenericName[cs]=Kreslící program
GenericName[csb]=Programa Paint
GenericName[cy]=Rhaglen Peintio
GenericName[da]=Maleprogram
GenericName[de]=Malprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[en_GB]=Paint Program
GenericName[eo]=Pentrilo
GenericName[es]=Programa de pintura
GenericName[et]=Joonistusprogramm
GenericName[eu]=Margoketa programa
GenericName[fa]=برنامۀ نقاشی
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Logiciel de dessin
GenericName[fy]=Tekenprogramma
GenericName[ga]=Clár Péinteála
GenericName[gl]=Programa de debuxo
GenericName[gu]=ચિત્ર કાર્યક્રમ
GenericName[he]=תוכנית ציור
GenericName[hi]=पेंट प्रोग्राम
GenericName[hne]=पेंट प्रोग्राम
GenericName[hr]=Program za slikanje
GenericName[hsb]=Molowanski program
GenericName[hu]=Rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ペイントプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[kk]=Бояу бағдарламасы
GenericName[km]=កម្មវិធី​គំនូរ
GenericName[kn]=ವರ್ಣಚಿತ್ರ ಕ್ರಮವಿಧಿ
GenericName[ko]=페인트 프로그램
GenericName[ku]=Bernameya Boyaxkirinê
GenericName[lt]=Piešimo programa
GenericName[lv]=Zīmēšanas programma
GenericName[mai]=पेंट प्रोग्राम
GenericName[mk]=Програма за цртање
GenericName[ml]=പെയിന്റ് പ്രോഗ്രാം
GenericName[mr]=पेंट प्रोग्राम
GenericName[ms]=Program Mewarna
GenericName[nb]=Tegneprogram
GenericName[nds]=Maalprogramm
GenericName[ne]=पेन्ट कार्यक्रम
GenericName[nl]=Tekenprogramma
GenericName[nn]=Måleprogram
GenericName[or]=ଚିତ୍ରଣ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਪੇਂਟ ਚਿੱਤਰ
GenericName[pl]=Program Paint
GenericName[pt]=Programa de Pintura
GenericName[pt_BR]=Programa de pintura
GenericName[ro]=Program de desenare
GenericName[ru]=Графический редактор
GenericName[se]=Málenprográmma
GenericName[sk]=Kreslenie
GenericName[sl]=Slikarski program
GenericName[sr]=Програм за сликање
GenericName[sr@latin]=Program za slikanje
GenericName[sv]=Ritprogram
GenericName[ta]=பெயிண்ட் நிரல்
GenericName[te]=పెయింట్ కార్యక్రమం 
GenericName[tg]=Таҳриргари тасвирӣ
GenericName[th]=โปรแกรมวาดภาพพื้นฐาน
GenericName[tr]=Boyama Programı
GenericName[uk]=Програма для малювання
GenericName[uz]=Chizish dasturi
GenericName[uz@cyrillic]=Чизиш дастури
GenericName[vi]=Chương trình sơn
GenericName[wa]=Programe di dessinaedje
GenericName[xh]=Inkqubo yodweliso Lwepeyinti
GenericName[x-test]=xxPaint Programxx
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=繪圖程式
Exec=xpaint
Icon=xpaint
Type=Application
Terminal=false
X-KDE-StartupNotify=false
