[Desktop Entry]
Encoding=UTF-8
Name=X Paint
Name[af]=X Verf
Name[ar]=رسام X
Name[cy]=X Peintio
Name[eo]=XPentro
Name[es]=XPaint
Name[fa]=نقاشی X
Name[fr]=XPaint
Name[km]=គូរ X
Name[ko]=X용 페인트
Name[nds]=X-Paint
Name[ne]=एक्स पेन्ट
Name[pa]=X ਪੇਂਟ
Name[sv]=X paint
Name[ta]=X பெயிண்ட்
Name[te]=ఎక్స్ పెయింట్
Name[tg]=Намоиши X
Name[x-test]=xxX Paintxx
Name[xh]=Ipeyinti X
Name[zh_TW]=X 小畫家
MimeType=
GenericName=Paint Program
GenericName[af]=Verf Program
GenericName[ar]=برنامج تلوين
GenericName[bg]=Програма за рисуване
GenericName[br]=Goulev tresañ
GenericName[ca]=Programa Paint
GenericName[cs]=Kreslící program
GenericName[csb]=Programa Paint
GenericName[cy]=Rhaglen Peintio
GenericName[da]=Maleprogram
GenericName[de]=Malprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[eo]=Pentrilo
GenericName[es]=Programa de pintura
GenericName[et]=Joonistusprogramm
GenericName[eu]=Margoketa programa
GenericName[fa]=برنامۀ نقاشی
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Petit programme de dessin
GenericName[fy]=Tekenprogramma
GenericName[ga]=Clár Péinteála
GenericName[gl]=Programa de Debuxo
GenericName[he]=תוכנית ציור
GenericName[hr]=Program za slikanje
GenericName[hu]=Rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ペイントプログラム
GenericName[ka]=სახატავი პროგრამა
GenericName[kk]=Бояу бағдарламасы
GenericName[km]=កម្មវិធី​គូរ
GenericName[ko]=페인트 프로그램
GenericName[lt]=Piešimo programa
GenericName[lv]=Krāsošanas Programma
GenericName[mk]=Програма за цртање
GenericName[ms]=Program Mewarna
GenericName[nb]=Maleprogram
GenericName[nds]=Maalprogramm
GenericName[ne]=पेन्ट कार्यक्रम
GenericName[nl]=Tekenprogramma
GenericName[nn]=Måleprogram
GenericName[pa]=ਪੇਂਟ ਚਿੱਤਰ
GenericName[pl]=Program Paint
GenericName[pt]=Programa de Pintura
GenericName[pt_BR]=Programa de pintura
GenericName[ro]=Program de desenare
GenericName[ru]=Графический редактор
GenericName[se]=Málenprográmma
GenericName[sl]=Slikarski program
GenericName[sr]=Програм за бојење
GenericName[sr@Latn]=Program za bojenje
GenericName[sv]=Ritprogram
GenericName[ta]=பெயிண்ட் நிரலி
GenericName[te]=పెయింట్ కార్యక్రమం 
GenericName[tg]=Барномаи нақша
GenericName[tr]=Boyama Programı
GenericName[uk]=Програма для малювання
GenericName[uz]=Чизиш дастури
GenericName[x-test]=xxPaint Programxx
GenericName[xh]=Inkqubo yodweliso Lwepeyinti
GenericName[zh_TW]=繪圖程式
Exec=xpaint
Icon=xpaint
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
