[Desktop Entry]
Encoding=UTF-8
Name=Xpcd
Name[eo]=X-Fotodisko
Name[fr]=XPCD
Name[te]=ఎక్స్ పిసిడి
Name[x-test]=xxXpcdxx
GenericName=PhotoCD Tools
GenericName[af]=PhotoCD Nutsprogramme
GenericName[br]=Ostilhoù PhotoCD
GenericName[ca]=Eines PhotoCD
GenericName[cs]=Nástroje pro PhotoCD
GenericName[csb]=Nôrzãdza PhotoCD
GenericName[cy]=Offer PhotoCD
GenericName[da]=PhotoCD-værktøjer
GenericName[de]=Photo-CD-Programme
GenericName[el]=Εργαλεία PhotoCD
GenericName[eo]=Iloj por fotodiskoj
GenericName[es]=Herramientas PhotoCD
GenericName[et]=PhotoCD tööriistad
GenericName[eu]=PhotoCD tresnak
GenericName[fa]=ابزارهای PhotoCD
GenericName[fi]=PhotoCD-työkalut
GenericName[fr]=Outils pour PhotoCD
GenericName[fy]=Foto-cd helpprogramma's
GenericName[ga]=Uirlisí PhotoCD
GenericName[gl]=Ferramentas de PhotoCD
GenericName[he]=כלי PhotoCD
GenericName[hr]=PhotoCD alati
GenericName[hu]=PhotoCD-eszközök
GenericName[is]=PhotoCD tól
GenericName[it]=Strumenti per PhotoCD
GenericName[ja]=PhotoCD ツール
GenericName[ka]=PhotoCD–ს ხელსაწყოები
GenericName[kk]=PhotoCD құралдары
GenericName[km]=ឧបករណ៍ PhotoCD
GenericName[ko]=포토CD 연장
GenericName[lt]=PhotoCD įrankiai
GenericName[lv]=PhotoCD rīki
GenericName[mk]=Алатки за PhotoCD
GenericName[ms]=Alatan PhotoCD
GenericName[nb]=Bilde-CD-verktøy
GenericName[nds]=Warktüüch för PhotoCDs
GenericName[ne]=फोटो CD उपकरण
GenericName[nl]=Foto-cd hulpprogramma's
GenericName[nn]=PhotoCD-verktøy
GenericName[pa]=ਫੋਟੋ-CD ਸੰਦ
GenericName[pl]=Narzędzia PhotoCD
GenericName[pt]=Ferramentas de PhotoCDs
GenericName[pt_BR]=Ferramentas para PhotoCD
GenericName[ro]=Utilitare pentru PhotoCD
GenericName[ru]=Утилиты PhotoCD
GenericName[se]=PhotoCD-reaiddut
GenericName[sl]=Orodja za PhotoCD
GenericName[sr]=Фото CD алати
GenericName[sr@Latn]=Foto CD alati
GenericName[sv]=Foto-cd-verktyg
GenericName[ta]=புகைப்பட குறுந்தகடு கருவிகள்
GenericName[te]=ఫొటొ సిడి పనిముట్లు
GenericName[tg]=Амали ФотоCD
GenericName[tr]=PhotoCD Araçları
GenericName[uk]=Засоби для Фото-КД
GenericName[uz]=PhotoCD воситалари
GenericName[wa]=Usteyes po fotos CD
GenericName[x-test]=xxPhotoCD Toolsxx
GenericName[zh_TW]=PhotoCD 工具
Exec=xpcd
Terminal=false
Icon=xpcd
Type=Application
