[Desktop Entry]
Name=Xpcd
Name[fr]=XPCD
Name[hi]=एक्सपीसीडी
Name[sr]=Икс‑пцд
Name[te]=ఎక్స్ పిసిడి
Name[x-test]=xxXpcdxx
GenericName=PhotoCD Tools
GenericName[af]=PhotoCD Nutsprogramme
GenericName[ar]=أدوات قرص الصور المدمج
GenericName[be]=Начынне для PhotoCD
GenericName[bg]=Инструменти PhotoCD
GenericName[bn]=ফোটো-সিডি টুল্‌স
GenericName[br]=Ostilhoù PhotoCD
GenericName[ca]=Eines PhotoCD
GenericName[cs]=Nástroje pro PhotoCD
GenericName[csb]=Nôrzãdza PhotoCD
GenericName[cy]=Offer PhotoCD
GenericName[da]=PhotoCD-værktøjer
GenericName[de]=Foto-CD-Programme
GenericName[el]=Εργαλεία PhotoCD
GenericName[es]=Herramientas de PhotoCD
GenericName[et]=PhotoCD tööriistad
GenericName[eu]=PhotoCD tresnak
GenericName[fa]=ابزارهای PhotoCD
GenericName[fi]=PhotoCD-työkalut
GenericName[fr]=Outils pour PhotoCD
GenericName[fy]=Foto-cd helpprogramma's
GenericName[ga]=Uirlisí PhotoCD
GenericName[gl]=Ferramentas de PhotoCD
GenericName[he]=כלי PhotoCD
GenericName[hi]=फोटो सीडी औजार
GenericName[hr]=PhotoCD alati
GenericName[hu]=PhotoCD-eszközök
GenericName[is]=PhotoCD tól
GenericName[it]=Strumenti per PhotoCD
GenericName[ja]=PhotoCD ツール
GenericName[ka]=PhotoCD–ს ხელსაწყოები
GenericName[kk]=PhotoCD құралдары
GenericName[km]=ឧបករណ៍ PhotoCD
GenericName[ko]=PhotoCD 도구
GenericName[ku]=Amûrên PhotoCD
GenericName[lt]=PhotoCD įrankiai
GenericName[lv]=PhotoCD rīki
GenericName[mk]=Алатки за PhotoCD
GenericName[ms]=Alatan PhotoCD
GenericName[nb]=Bilde-CD-verktøy
GenericName[nds]=Warktüüch för PhotoCDs
GenericName[ne]=फोटो सीडी उपकरण
GenericName[nl]=Foto-cd hulpprogramma's
GenericName[nn]=PhotoCD-verktøy
GenericName[pa]=ਫੋਟੋ-CD ਟੂਲ
GenericName[pl]=Narzędzia PhotoCD
GenericName[pt]=Ferramentas de PhotoCDs
GenericName[pt_BR]=Ferramentas para PhotoCD
GenericName[ro]=Utilitare pentru PhotoCD
GenericName[ru]=Утилиты PhotoCD
GenericName[se]=PhotoCD-reaiddut
GenericName[sk]=Nástroje PhotoCD
GenericName[sl]=Orodja za PhotoCD
GenericName[sr]=Алатке ФотоЦД‑а
GenericName[sr@latin]=Alatke PhotoCD‑a
GenericName[sv]=Foto-cd-verktyg
GenericName[ta]=புகைப்பட குறுந்தகடு கருவிகள்
GenericName[te]=ఫొటొ సిడి పనిముట్లు
GenericName[tg]=Амали ФотоCD
GenericName[th]=เครื่องมือ PhotoCD
GenericName[tr]=PhotoCD Araçları
GenericName[uk]=Засоби для Фото-КД
GenericName[uz]=PhotoCD воситалари
GenericName[vi]=Công cụ CD ảnh chụp
GenericName[wa]=Usteyes po fotos CD
GenericName[x-test]=xxPhotoCD Toolsxx
GenericName[zh_CN]=PhotoCD 工具
GenericName[zh_TW]=PhotoCD 工具
Exec=xpcd
Terminal=false
Icon=xpcd
Type=Application
