[Desktop Entry]
Encoding=UTF-8
Name=XV
Name[af]=Xv
Name[fr]=Xv
Name[te]=ఎక్స్ వి
Name[x-test]=xxXVxx
MimeType=image/fax-g3;image/gif;image/jpeg;image/png;image/tiff;image/bmp;image/x-xbitmap;image/x-xpixmap
GenericName=Picture Viewer
GenericName[af]=Prent Aansig
GenericName[ar]=عارض الرسمات
GenericName[bg]=Преглед на изображения
GenericName[br]=Gweler Skeudenn
GenericName[ca]=Visor de fotografies
GenericName[cs]=Prohlížeč obrázků
GenericName[csb]=Przezérnik òbrôzków
GenericName[cy]=Gwelydd Llun
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[eo]=Bildorigardilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildifailide vaatamine
GenericName[eu]=Irudi ikustailua
GenericName[fa]=مشاهده‌گر عکس
GenericName[fi]=Kuvankatseluohjelma
GenericName[fr]=Afficheur d'images
GenericName[fy]=Ofbyldingswerjefteprogramma
GenericName[ga]=Amharcán Pictiúir
GenericName[gl]=Visor de Imaxes
GenericName[he]=מציג תמונות
GenericName[hr]=Preglednik slika
GenericName[hu]=Képnézegető
GenericName[is]=Myndaskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューア
GenericName[ka]=გამოსახულებების სანახავი პროგრამა
GenericName[kk]=Суреттерді қарап-шығу
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[ko]=그림 보기
GenericName[lt]=Paveikslėlių žiūriklis
GenericName[lv]=Bilžu Skatītājs
GenericName[mk]=Прегледувач на слики
GenericName[ms]=Pelihat Gambar
GenericName[nb]=Bildeframviser
GenericName[nds]=Bildkieker
GenericName[ne]=तस्विर दर्शक
GenericName[nl]=Afbeeldingenweergaveprogramma
GenericName[nn]=Biletvisar
GenericName[pa]=ਤਸਵੀਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizor de imagini
GenericName[ru]=Программа просмотра рисунков
GenericName[se]=Govvačájeheaddji
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Приказивач слика
GenericName[sr@Latn]=Prikazivač slika
GenericName[sv]=Bildvisare
GenericName[ta]=சித்திரக் காட்டி
GenericName[te]=చిత్ర వీక్షిణి
GenericName[tg]=Барномаи тасвири намоишгар
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень
GenericName[uz]=Расм кўрувчи
GenericName[wa]=Håyneu d' imådjes
GenericName[x-test]=xxPicture Viewerxx
GenericName[xh]=Umbukeli Wemifanekiso
GenericName[zh_TW]=圖片瀏覽程式
Exec=xv %F
Icon=xv
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
