[Desktop Entry]
Exec=btdownloadcurses.py
GenericName=BitTorrent GUI
GenericName[ar]=واجهة بيت تورنت
GenericName[be]=Графічны кліент BitTorrent
GenericName[bg]=ГПИ за BitTorrent
GenericName[bn]=বিট-টরেন্ট গুই
GenericName[ca]=IGU per a BitTorrent
GenericName[csb]=Graficzny interfejs dlô BitTorrent
GenericName[cy]=Rhyngwyneb Graffegol (GUI) BitTorrent
GenericName[de]=BitTorrent-Oberfläche
GenericName[fa]=ونک BitTorrent
GenericName[fi]=BitTorrent-käyttöliittymä
GenericName[fr]=Interface graphique de BitTorrent
GenericName[fy]=Ynterface foar BitTorrent
GenericName[ga]=Comhéadan Grafach BitTorrent
GenericName[gl]=GUI para bittorrent
GenericName[he]=ממשק גרפי ל־BitTorrent
GenericName[hi]=बिट-टोरेंट जीयूआई
GenericName[hu]=BitTorrent-felület
GenericName[is]=BitTorrent viðmót
GenericName[it]=GUI per BitTorrent
GenericName[ka]=გრაფიკული BitTorrent
GenericName[kk]=BitTorrent графикалық интерфейс
GenericName[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ​របស់ BitTorrent
GenericName[kn]=ಬಿಟ್ಟಾರೆಂಟ್ GUI
GenericName[ko]=비트토렌트 GUI
GenericName[ku]=Navrûyê BitTorrentê
GenericName[lt]=BitTorrent GVS
GenericName[lv]=BitTorrent saskarne
GenericName[ms]=GUI BitTorrent
GenericName[nb]=Grensesnitt for BitTorrent
GenericName[nds]=Graafsche Böversiet för BitTorrent
GenericName[ne]=बिट टोरेन्ट जीयूआई
GenericName[nl]=Interface voor BitTorrent
GenericName[nn]=BitTorrent-grensesnitt
GenericName[pa]=ਬਿੱਟੋਓਰਿਨਟ GUI
GenericName[pl]=Interfejs graficzny do BitTorrent
GenericName[pt]=Interface de BitTorrent
GenericName[pt_BR]=Interface do BitTorrent
GenericName[ro]=Interfaţă grafică BitTorrent
GenericName[ru]=Графический интерфейс BitTorrent
GenericName[se]=BitTorrent-lákta
GenericName[sk]=Rozhranie BitTorrent
GenericName[sr]=ГУИ за битторент
GenericName[sr@latin]=GUI za Bittorrent
GenericName[sv]=Grafiskt gränssnitt för BitTorrent 
GenericName[ta]=பிட்டார்ரென்ட் முகப்பு
GenericName[te]=బిట్ టొరెంట్ జియూఐ
GenericName[tg]=BitTorrent-ро ба графики корбар
GenericName[th]=GUI ของบิตทอร์เรนท์
GenericName[tr]=BitTorrent Arayüzü
GenericName[uz]=BitTorrent учун график интерфейс
GenericName[vi]=Giao diện BitTorrent
GenericName[wa]=Eterface grafike po BitTorrent
GenericName[x-test]=xxBitTorrent GUIxx
GenericName[zh_CN]=BitTorrent 图形用户界面
GenericName[zh_TW]=BitTorrent 圖型使用者介面
Icon=xapp
InitialPreference=1
MimeType=application/x-bittorrent;
Name=BitTorrent Python Curses GUI
Name[be]=Графічны кліент BitTorrent на Python
Name[bn]=বিট-টরেন্ট পাইথন কার্সেস গুই
Name[ca]=IGU per a BitTorrent en Python Curses
Name[csb]=Graficzny interfejs dlô BitTorren Pyton Curses
Name[cy]=Rhyngwyneb Graffegol (GIU) Curses Python BitTorrent
Name[de]=BitTorrent-PythonCurses-Oberfläche
Name[et]=BitTorrent Python Curses
Name[fa]=ونک BitTorrent Python Curses
Name[fi]=BitTorrentin Python Curses -käyttöliittymä
Name[fr]=Interface graphique Curses de BitTorrent écrite en Python
Name[ga]=Comhéadan Curses BitTorrent Python
Name[gl]=GUI para BitTorrent en Python Curses
Name[he]=ממשק טקסטואלי מבוסס Python ו־Curses ל־BitTorrent
Name[hi]=बिट-टोरेंट पायथन कर्सेस जीयूआई
Name[hr]=BitTorrent Python GUI kurs
Name[hu]=BitTorrent Python Curses grafikus felület
Name[is]=BitTorrent viðmót í Python
Name[it]=GUI in Python e curses per BitTorrent
Name[ka]=BitTorrent–ის ინტერფეისი python/curses–ზე
Name[kk]=Python Curses-те жазылған BitTorrent графикалық интерфейсі
Name[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ ​BitTorrent Python
Name[kn]=ಬಿಟ್ಟಾರೆಂಟ್ ಪೈಥಾನ್ ಕರ್ಸಸ್ GUI
Name[ko]=비트토렌트 Python Curses GUI
Name[ku]=Navrûyê Grafîkî yê BitTorrent Pythonê
Name[lt]=BitTorrent Python Curses grafinė naudotojo sąsaja
Name[lv]=BitTorrent saskarne izmantojot Python Curses
Name[ms]=GUI Curses Python BitTorrent
Name[nb]=Grensesnitt for «BitTorrent Python Curses»
Name[ne]=बिट टोरेन्ट पाइथोन कर्स जीयूआई
Name[pa]=ਬਿੱਟਇਓਨਟ ਪਾਈਥਨ ਕੂਰਸ GUI
Name[pl]=Interfejs graficzny do BitTorrent
Name[pt]=Interface Curses para o BitTorrent em Python
Name[pt_BR]=Interface em Curses Python para o BitTorrent
Name[ro]=Interfaţă Consolă Python BitTorrent
Name[ru]=Интерфейс службы BitTorrent на python/curses
Name[sk]=Rozhranie BitTorrent Python Curses
Name[sl]=BitTorrent Python z vmesnikom Curses
Name[sr]=Питонски битторент са курсес сучељем
Name[sr@latin]=Python BitTorrent sa Curses sučeljem
Name[sv]=BitTorrent Python Curses grafiskt gränssnitt
Name[ta]=பிட்டார்ரென்ட் பைதான் முகப்பு
Name[te]=బిట్ టొరెంట్ పైతాన్ కర్సెస్ జియూఐ
Name[tg]=BitTorrent Python Curses-ро ба графики корбар
Name[th]=GUI ของบิตทอร์เรนต์ แบบใช้ไพธอนเคิร์ส
Name[tr]=BitTorrent Python Grafiksel Arayüzü
Name[uz]=BitTorrent учун Python Curses график интерфейс
Name[vi]=Giao diện Curses Python BitTorrent
Name[wa]=Eterface grafike e python po BitTorrent
Name[x-test]=xxBitTorrent Python Curses GUIxx
Name[zh_CN]=BitTorrent Python Curses 图形用户界面
Name[zh_TW]=BitTorrent Python Curses 圖型使用者介面
X-KDE-ServiceTypes=
Terminal=true
Type=Application
