[Desktop Entry]
GenericName=FTP Client
GenericName[af]=FTP Kliënt
GenericName[ar]=FTP عميل
GenericName[as]=FTP Client
GenericName[be]=Кліент FTP
GenericName[be@latin]=Klijent FTP
GenericName[bg]=FTP клиент
GenericName[bn]=এফ-টি-পি ক্লায়েন্ট
GenericName[bn_IN]=FTP ক্লায়েন্ট
GenericName[br]=Kliant FTP
GenericName[ca]=Client FTP
GenericName[ca@valencia]=Client FTP
GenericName[cs]=FTP klient
GenericName[csb]=Klient FTP
GenericName[cy]=Dibynnydd FTP
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[en_GB]=FTP Client
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP bezeroa
GenericName[fa]=کارخواه قام
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[fy]=FTP-klant
GenericName[ga]=Cliant FTP
GenericName[gl]=Cliente FTP
GenericName[gu]=FTP ક્લાયન્ટ
GenericName[he]=תוכנית FTP
GenericName[hi]=एफटीपी क्लाएंट
GenericName[hne]=एफटीपी क्लायंट
GenericName[hr]=FTP klijent
GenericName[hsb]=FTP Client
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTP クライアント
GenericName[ka]=FTP კლიენტი
GenericName[kk]=FTP клиенті
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ FTP
GenericName[kn]=FTP ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=FTP 클라이언트
GenericName[ku]=Daxwazkara FTP'ê
GenericName[lt]=FTP klientas
GenericName[lv]=FTP klients
GenericName[mai]=एफटीपी क्लाएंट
GenericName[mk]=Клиент за FTP
GenericName[ml]=എഫ്‌ടിപി ക്ലയന്റ്
GenericName[mr]=FTP क्लाएंट
GenericName[ms]=Klien FTP
GenericName[nb]=FTP-klient
GenericName[nds]=FTP-Programm
GenericName[ne]=एफटीपी ग्राहक
GenericName[nl]=FTP-client
GenericName[nn]=FTP-klient
GenericName[oc]=Client FTP
GenericName[or]=FTP କ୍ଲାଏଣ୍ଟ
GenericName[pa]=FTP ਕਲਾਇਟ
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Client FTP
GenericName[ru]=Клиент FTP
GenericName[se]=FTP-klienta
GenericName[si]=FTP සහායක
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sr]=ФТП клијент
GenericName[sr@latin]=FTP klijent
GenericName[sv]=FTP-klient
GenericName[ta]=எப்டிபி வாங்கி
GenericName[te]=ఎఫ్ టి పి క్లైంట్
GenericName[tg]=Мизоҷи FTP
GenericName[th]=โปรแกรมรับส่ง FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[uz]=FTP klienti
GenericName[uz@cyrillic]=FTP клиенти
GenericName[vi]=Ứng dụng khách FTP
GenericName[wa]=Cliyint FTP
GenericName[xh]=Umxhasi we FTP
GenericName[x-test]=xxFTP Clientxx
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
Exec=lftp %u
Icon=konsole
Name=Lftp
Name[af]=Lftp
Name[ar]=Lftp
Name[as]=Lftp
Name[be]=Lftp
Name[be@latin]=Lftp
Name[bg]=Lftp
Name[bn]=Lftp
Name[bn_IN]=Lftp
Name[br]=Lftp
Name[ca]=Lftp
Name[ca@valencia]=Lftp
Name[cs]=Lftp
Name[csb]=Lftp
Name[cy]=Lftp
Name[da]=Lftp
Name[de]=LFTP
Name[el]=Lftp
Name[en_GB]=Lftp
Name[eo]=L-FTP
Name[es]=Lftp
Name[et]=Lftp
Name[eu]=Lftp
Name[fi]=Lftp
Name[fr]=LFTP
Name[fy]=Lftp
Name[ga]=Lftp
Name[gl]=Lftp
Name[gu]=Lftp
Name[he]=Lftp
Name[hi]=एलएफटीपी
Name[hne]=एलएफटीपी
Name[hr]=Lftp
Name[hsb]=Lftp
Name[hu]=Lftp
Name[is]=Lftp
Name[it]=Lftp
Name[ja]=Lftp
Name[ka]=Lftp
Name[kk]=Lftp
Name[km]=Lftp
Name[kn]=Lftp
Name[ko]=Lftp
Name[ku]=Lftp
Name[lt]=Lftp
Name[lv]=Lftp
Name[mai]=एलएफटीपी
Name[mk]=Lftp
Name[ml]=എല്‍എഫ്‌ടിപി
Name[mr]=एलFTP
Name[ms]=Lftp
Name[nb]=Lftp
Name[nds]=Lftp
Name[ne]=Lftp
Name[nl]=Lftp
Name[nn]=Lftp
Name[oc]=Lftp
Name[or]=Lftp
Name[pa]=Lftp
Name[pl]=Lftp
Name[pt]=Lftp
Name[pt_BR]=Lftp
Name[ro]=Lftp
Name[ru]=Lftp
Name[se]=Lftp
Name[si]=Lftp
Name[sk]=Lftp
Name[sl]=Lftp
Name[sr]=Лфтп
Name[sr@latin]=Lftp
Name[sv]=Lftp
Name[ta]=எல்எப்டிபி
Name[te]=ఎల్ ఎఫ్ టి పి
Name[tg]=Lftp
Name[th]=Lftp
Name[tr]=Lftp
Name[uk]=Lftp
Name[uz]=Lftp
Name[uz@cyrillic]=Lftp
Name[vi]=Lftp
Name[wa]=Lftp
Name[xh]=Lftp
Name[x-test]=xxLftpxx
Name[zh_CN]=Lftp
Name[zh_TW]=Lftp
Terminal=true
Type=Application
