[Desktop Entry]
Name=Links
Name[af]=Links
Name[ar]=متصفح Links
Name[as]=Links
Name[be]=Links
Name[be@latin]=Links
Name[bg]=Links
Name[bn]=Links
Name[bn_IN]=Links
Name[br]=Links
Name[ca]=Links
Name[ca@valencia]=Links
Name[cs]=Links
Name[csb]=Links
Name[cy]=Links
Name[da]=Links
Name[de]=Links
Name[el]=Links
Name[en_GB]=Links
Name[eo]=Links
Name[es]=Links
Name[et]=Links
Name[eu]=Estekak
Name[fa]=پیوندها
Name[fi]=Links
Name[fr]=Links
Name[fy]=Links
Name[ga]=Naisc
Name[gl]=Links
Name[gu]=લિન્ક્સ
Name[he]=Links
Name[hi]=लिंक्स
Name[hne]=संकली
Name[hr]=Links
Name[hsb]=Links
Name[hu]=Links
Name[is]=Links
Name[it]=Links
Name[ja]=Links
Name[ka]=Links
Name[kk]=Links
Name[km]=តំណ
Name[kn]=ಲಿಂಕ್ಸ್
Name[ko]=Links
Name[ku]=Links
Name[lt]=Links
Name[lv]=Links
Name[mai]=लिंक्स
Name[mk]=Links
Name[ml]=ലിങ്ക്സ്
Name[mr]=लिंक्स
Name[ms]=Links
Name[nb]=Links
Name[nds]=Links
Name[ne]=लिङ्क
Name[nl]=Links
Name[nn]=Links
Name[oc]=Ligams
Name[or]=ସଂଯୋଗଗୁଡ଼ିକ
Name[pa]=ਲਿੰਕ
Name[pl]=Links
Name[pt]=Links
Name[pt_BR]=Links
Name[ro]=Links
Name[ru]=Links
Name[se]=Links
Name[si]=Links
Name[sk]=Links
Name[sl]=Links
Name[sr]=Линкс
Name[sr@latin]=Links
Name[sv]=Links
Name[ta]=இணைப்புகள்
Name[te]=లింక్స్
Name[tg]=Алоқаҳо
Name[th]=Links
Name[tr]=Links
Name[uk]=Links
Name[uz]=Links
Name[uz@cyrillic]=Links
Name[vi]=Liên kết
Name[wa]=Links
Name[xh]=Amakhonkco
Name[x-test]=xxLinksxx
Name[zh_CN]=Links
Name[zh_TW]=Links
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Exec=links
Terminal=true
Icon=links
Type=Application
