[Desktop Entry]
Name=Lynx
Name[af]=Lynx
Name[ar]=متصفح Lynx
Name[as]=Lynx
Name[be]=Рысь
Name[be@latin]=Lynx
Name[bg]=Lynx
Name[bn]=Lynx
Name[bn_IN]=Lynx
Name[br]=Lynx
Name[ca]=Lynx
Name[ca@valencia]=Lynx
Name[cs]=Lynx
Name[csb]=Lynx
Name[cy]=Lynx
Name[da]=Lynx
Name[de]=Lynx
Name[el]=Lynx
Name[en_GB]=Lynx
Name[eo]=Lynx
Name[es]=Lynx
Name[et]=Lynx
Name[eu]=Lynx
Name[fi]=Lynx
Name[fr]=Lynx
Name[fy]=Lynx
Name[ga]=Lynx
Name[gl]=Lynx
Name[gu]=લાયનક્સ
Name[he]=Lynx
Name[hi]=लायनक्स
Name[hne]=लायनक्स
Name[hr]=Lynx
Name[hsb]=Lynx
Name[hu]=Lynx
Name[is]=Lynx
Name[it]=Lynx
Name[ja]=Lynx
Name[ka]=Lynx
Name[kk]=Lynx
Name[km]=Lynx
Name[kn]=ಲಿನ್ಕ್ಸ್
Name[ko]=Lynx
Name[ku]=Lynx
Name[lt]=Lynx
Name[lv]=Lynx
Name[mai]=Lynx
Name[mk]=Lynx
Name[ml]=ലിങ്ങ്സ്
Name[mr]=लिंक्स
Name[ms]=Lynx
Name[nb]=Lynx
Name[nds]=Lynx
Name[ne]=Lynx
Name[nl]=Lynx
Name[nn]=Lynx
Name[oc]=Lynx
Name[or]=Lynx
Name[pa]=ਲਨੈਕਸ
Name[pl]=Lynx
Name[pt]=Lynx
Name[pt_BR]=Lynx
Name[ro]=Lynx
Name[ru]=Lynx
Name[se]=Lynx
Name[si]=Lynx
Name[sk]=Lynx
Name[sl]=Lynx
Name[sr]=Линкс
Name[sr@latin]=Lynx
Name[sv]=Lynx
Name[ta]=லின்க்ஸ்
Name[te]=ల్యింక్స్
Name[tg]=Lynx
Name[th]=Lynx
Name[tr]=Lynx
Name[uk]=Lynx
Name[uz]=Lynx
Name[uz@cyrillic]=Lynx
Name[vi]=Lynx
Name[wa]=Lynx
Name[xh]=Lynx
Name[x-test]=xxLynxxx
Name[zh_CN]=Lynx
Name[zh_TW]=Lynx
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Exec=lynx
Terminal=true
Icon=lynx
Type=Application
X-KDE-AuthorizeAction=shell_access
