[Desktop Entry]
Exec=mutt
Icon=email
Type=Application
Name=Mutt
Name[af]=Mutt
Name[ar]=برنامج البريد Mutt
Name[as]=Mutt
Name[be]=Mutt
Name[be@latin]=Mutt
Name[bg]=Mutt
Name[bn]=মাট
Name[bn_IN]=Mutt
Name[br]=Mutt
Name[ca]=Mutt
Name[ca@valencia]=Mutt
Name[cs]=Mutt
Name[csb]=Mutt
Name[cy]=Mutt
Name[da]=Mutt
Name[de]=Mutt
Name[el]=Mutt
Name[en_GB]=Mutt
Name[eo]=Mutt
Name[es]=Mutt
Name[et]=Mutt
Name[eu]=Mutt
Name[fi]=Mutt
Name[fr]=Mutt
Name[fy]=Mutt
Name[ga]=Mutt
Name[gl]=Mutt
Name[gu]=મટ્ટ
Name[he]=Mutt
Name[hi]=मट
Name[hne]=मट
Name[hr]=Mutt
Name[hsb]=Mutt
Name[hu]=Mutt
Name[is]=Mutt
Name[it]=Mutt
Name[ja]=Mutt
Name[ka]=Mutt
Name[kk]=Mutt
Name[km]=Mutt
Name[kn]=ಮಟ್
Name[ko]=Mutt
Name[ku]=Mutt
Name[lt]=Mutt
Name[lv]=Mutt
Name[mai]=Mutt
Name[mk]=Mutt
Name[ml]=മട്ട്
Name[mr]=Mutt
Name[ms]=Mutt
Name[nb]=Mutt
Name[nds]=Mutt
Name[ne]=मट
Name[nl]=Mutt
Name[nn]=Mutt
Name[oc]=Mutt
Name[or]=Mutt
Name[pa]=Mutt
Name[pl]=Mutt
Name[pt]=Mutt
Name[pt_BR]=Mutt
Name[ro]=Mutt
Name[ru]=Mutt
Name[se]=Mutt
Name[si]=Mutt
Name[sk]=Mutt
Name[sl]=Mutt
Name[sr]=Мат
Name[sr@latin]=Mutt
Name[sv]=Mutt
Name[ta]=மட்
Name[te]=మట్ట్
Name[tg]=Mutt
Name[th]=Mutt
Name[tr]=Mutt
Name[uk]=Mutt
Name[uz]=Mutt
Name[uz@cyrillic]=Mutt
Name[vi]=Mutt
Name[wa]=Mutt
Name[xh]=Mutt
Name[x-test]=xxMuttxx
Name[zh_CN]=Mutt
Name[zh_TW]=Mutt
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=عميل البريد
GenericName[as]=ডাক ব্যৱস্থাৰ গ্ৰাহক
GenericName[be]=Паштовы кліент
GenericName[be@latin]=Paštar
GenericName[bg]=Клиент за е-поща
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[bn_IN]=মেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[ca@valencia]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝta kliento
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ક્લાયન્ટ
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hne]=डाकिया
GenericName[hr]=Klijent e-pošte
GenericName[hsb]=emejlowy program
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[kn]=ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=메일 클라이언트
GenericName[ku]=Daxwazkara Mailan
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Програма за електронска пошта
GenericName[ml]=മെയില്‍ ക്ലയന്റ്
GenericName[mr]=मेल क्लाऐंट
GenericName[ms]=Klien Mel
GenericName[nb]=E-postprogram
GenericName[nds]=Nettpostprogramm
GenericName[ne]=मेल क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Logicial de messatjariá
GenericName[or]=ମେଲ କ୍ଲାଏଣ୍ଟ
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Program de poștă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[si]=තැපැල් සහායක
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Клијент е‑поште
GenericName[sr@latin]=Klijent e‑pošte
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் வாங்கி
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Мизоҷи почта
GenericName[th]=โปรแกรมรับส่งอีเมล
GenericName[tr]=E-posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=电子邮件客户端
GenericName[zh_TW]=郵件處理程式
Terminal=true
