[Desktop Entry]
Encoding=UTF-8
Name=NcFTP
Name[eo]=NcFtp
Name[hu]=ncFTP
Name[te]=ఎన్ సి ఎఫ్ టి పి
Name[x-test]=xxNcFTPxx
GenericName=FTP Client
GenericName[af]=FTP Kliënt
GenericName[ar]=زبون ميفاق نقل الملفات FTP
GenericName[br]=Kliant FTP
GenericName[ca]=Client FTP
GenericName[cs]=FTP klient
GenericName[csb]=Klient FTP
GenericName[cy]=Dibynnydd FTP
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP bezeroa
GenericName[fa]=کارخواه قام
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[fy]=FTP-klant
GenericName[ga]=Cliant FTP
GenericName[gl]=Cliente FTP
GenericName[he]=תוכנית FTP
GenericName[hr]=FTP klijent
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTP クライアント
GenericName[ka]=FTP კლიენტი
GenericName[kk]=FTP клиенті
GenericName[km]=កម្មវិធី FTP
GenericName[ko]=FTP 클라이언트
GenericName[lt]=FTP klientas
GenericName[lv]=FTP Klients
GenericName[mk]=Клиент за FTP
GenericName[ms]=Klien FTP
GenericName[nb]=FTP-klient
GenericName[nds]=FTP-Programm
GenericName[ne]=FTP ग्राहक
GenericName[nl]=FTP-client
GenericName[nn]=FTP-klient
GenericName[pa]=FTP ਕਲਾਂਇਟ
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Client FTP
GenericName[ru]=Клиент FTP
GenericName[se]=FTP-klienta
GenericName[sl]=Odjemnik za FTP
GenericName[sr]=FTP клијент
GenericName[sr@Latn]=FTP klijent
GenericName[sv]=FTP-klient
GenericName[ta]=FTP உறுப்பினர்
GenericName[te]=ఎఫ్ టి పి క్లైంట్
GenericName[tg]=Коргири FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[uz]=FTP клиенти
GenericName[wa]=Cliyint FTP
GenericName[x-test]=xxFTP Clientxx
GenericName[xh]=Umxhasi we FTP
GenericName[zh_TW]=FTP 客戶端程式
MimeType=
Exec=ncftp
Icon=misc
Path=
Type=Application
Terminal=true
