[Desktop Entry]
Name=NcFTP
Name[eo]=NcFtp
Name[hi]=एनसीएफटीपी
Name[hu]=ncFTP
Name[mr]=एनसीFTP
Name[sr]=НцФТП
Name[ta]=என்சிஎப்டிபி
Name[te]=ఎన్ సి ఎఫ్ టి పి
Name[x-test]=xxNcFTPxx
GenericName=FTP Client
GenericName[af]=FTP Kliënt
GenericName[ar]=FTP عميل
GenericName[be]=Кліент FTP
GenericName[bg]=FTP клиент
GenericName[bn]=এফ-টি-পি ক্লায়েন্ট
GenericName[bn_IN]=FTP ক্লায়েন্ট
GenericName[br]=Kliant FTP
GenericName[ca]=Client FTP
GenericName[cs]=FTP klient
GenericName[csb]=Klient FTP
GenericName[cy]=Dibynnydd FTP
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP bezeroa
GenericName[fa]=کارخواه قام
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[fy]=FTP-klant
GenericName[ga]=Cliant FTP
GenericName[gl]=Cliente FTP
GenericName[gu]=FTP ક્લાયન્ટ
GenericName[he]=תוכנית FTP
GenericName[hi]=एफटीपी क्लाएंट
GenericName[hr]=FTP klijent
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTP クライアント
GenericName[ka]=FTP კლიენტი
GenericName[kk]=FTP клиенті
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ FTP
GenericName[kn]=FTP ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=FTP 클라이언트
GenericName[ku]=Daxwazkara FTP'ê
GenericName[lt]=FTP klientas
GenericName[lv]=FTP klients
GenericName[mk]=Клиент за FTP
GenericName[ml]=എഫ്‌ടിപി ക്ലയന്റ്
GenericName[mr]=FTP क्लाएंट
GenericName[ms]=Klien FTP
GenericName[nb]=FTP-klient
GenericName[nds]=FTP-Programm
GenericName[ne]=एफटीपी ग्राहक
GenericName[nl]=FTP-client
GenericName[nn]=FTP-klient
GenericName[oc]=Client FTP
GenericName[pa]=FTP ਕਲਾਇਟ
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Client FTP
GenericName[ru]=Клиент FTP
GenericName[se]=FTP-klienta
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sr]=ФТП клијент
GenericName[sr@latin]=FTP klijent
GenericName[sv]=FTP-klient
GenericName[ta]=எப்டிபி வாங்கி
GenericName[te]=ఎఫ్ టి పి క్లైంట్
GenericName[tg]=Мизоҷи FTP
GenericName[th]=โปรแกรมรับส่ง FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[uz]=FTP klienti
GenericName[uz@cyrillic]=FTP клиенти
GenericName[vi]=Ứng dụng khách FTP
GenericName[wa]=Cliyint FTP
GenericName[x-test]=xxFTP Clientxx
GenericName[xh]=Umxhasi we FTP
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
MimeType=
Exec=ncftp
Icon=misc
Type=Application
Terminal=true
