[Desktop Entry]
Name=NcFTP
Name[af]=NcFTP
Name[ar]=NcFTP
Name[as]=NcFTP
Name[be]=NcFTP
Name[be@latin]=NcFTP
Name[bg]=NcFTP
Name[bn]=NcFTP
Name[bn_IN]=NcFTP
Name[br]=NcFTP
Name[ca]=NcFTP
Name[ca@valencia]=NcFTP
Name[cs]=NcFTP
Name[csb]=NcFTP
Name[cy]=NcFTP
Name[da]=NcFTP
Name[de]=NcFTP
Name[el]=NcFTP
Name[en_GB]=NcFTP
Name[eo]=NcFtp
Name[es]=NcFTP
Name[et]=NcFTP
Name[eu]=NcFTP
Name[fi]=NcFTP
Name[fr]=NcFTP
Name[fy]=NcFTP
Name[ga]=NcFTP
Name[gl]=NcFTP
Name[gu]=NcFTP
Name[he]=NcFTP
Name[hi]=एनसीएफटीपी
Name[hne]=एनसीएफटीपी
Name[hr]=NcFTP
Name[hsb]=NcFTP
Name[hu]=ncFTP
Name[is]=NcFTP
Name[it]=NcFTP
Name[ja]=NcFTP
Name[ka]=NcFTP
Name[kk]=NcFTP
Name[km]=NcFTP
Name[kn]=NcFTP
Name[ko]=NcFTP
Name[ku]=NcFTP
Name[lt]=NcFTP
Name[lv]=NcFTP
Name[mai]=एनसीएफटीपी
Name[mk]=NcFTP
Name[ml]=NcFTP
Name[mr]=एनसीFTP
Name[ms]=NcFTP
Name[nb]=NcFTP
Name[nds]=NcFTP
Name[ne]=NcFTP
Name[nl]=NcFTP
Name[nn]=NcFTP
Name[oc]=NcFTP
Name[or]=NcFTP
Name[pa]=NcFTP
Name[pl]=NcFTP
Name[pt]=NcFTP
Name[pt_BR]=NcFTP
Name[ro]=NcFTP
Name[ru]=NcFTP
Name[se]=NcFTP
Name[si]=NcFTP
Name[sk]=NcFTP
Name[sl]=NcFTP
Name[sr]=НцФТП
Name[sr@latin]=NcFTP
Name[sv]=NcFTP
Name[ta]=என்சிஎப்டிபி
Name[te]=ఎన్ సి ఎఫ్ టి పి
Name[tg]=NcFTP
Name[th]=NcFTP
Name[tr]=NcFTP
Name[uk]=NcFTP
Name[uz]=NcFTP
Name[uz@cyrillic]=NcFTP
Name[vi]=NcFTP
Name[wa]=NcFTP
Name[xh]=NcFTP
Name[x-test]=xxNcFTPxx
Name[zh_CN]=NcFTP
Name[zh_TW]=NcFTP
GenericName=FTP Client
GenericName[af]=FTP Kliënt
GenericName[ar]=FTP عميل
GenericName[as]=FTP Client
GenericName[be]=Кліент FTP
GenericName[be@latin]=Klijent FTP
GenericName[bg]=FTP клиент
GenericName[bn]=এফ-টি-পি ক্লায়েন্ট
GenericName[bn_IN]=FTP ক্লায়েন্ট
GenericName[br]=Kliant FTP
GenericName[ca]=Client FTP
GenericName[ca@valencia]=Client FTP
GenericName[cs]=FTP klient
GenericName[csb]=Klient FTP
GenericName[cy]=Dibynnydd FTP
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[en_GB]=FTP Client
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP bezeroa
GenericName[fa]=کارخواه قام
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[fy]=FTP-klant
GenericName[ga]=Cliant FTP
GenericName[gl]=Cliente FTP
GenericName[gu]=FTP ક્લાયન્ટ
GenericName[he]=תוכנית FTP
GenericName[hi]=एफटीपी क्लाएंट
GenericName[hne]=एफटीपी क्लायंट
GenericName[hr]=FTP klijent
GenericName[hsb]=FTP Client
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTP クライアント
GenericName[ka]=FTP კლიენტი
GenericName[kk]=FTP клиенті
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ FTP
GenericName[kn]=FTP ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=FTP 클라이언트
GenericName[ku]=Daxwazkara FTP'ê
GenericName[lt]=FTP klientas
GenericName[lv]=FTP klients
GenericName[mai]=एफटीपी क्लाएंट
GenericName[mk]=Клиент за FTP
GenericName[ml]=എഫ്‌ടിപി ക്ലയന്റ്
GenericName[mr]=FTP क्लाएंट
GenericName[ms]=Klien FTP
GenericName[nb]=FTP-klient
GenericName[nds]=FTP-Programm
GenericName[ne]=एफटीपी ग्राहक
GenericName[nl]=FTP-client
GenericName[nn]=FTP-klient
GenericName[oc]=Client FTP
GenericName[or]=FTP କ୍ଲାଏଣ୍ଟ
GenericName[pa]=FTP ਕਲਾਇਟ
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Client FTP
GenericName[ru]=Клиент FTP
GenericName[se]=FTP-klienta
GenericName[si]=FTP සහායක
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sr]=ФТП клијент
GenericName[sr@latin]=FTP klijent
GenericName[sv]=FTP-klient
GenericName[ta]=எப்டிபி வாங்கி
GenericName[te]=ఎఫ్ టి పి క్లైంట్
GenericName[tg]=Мизоҷи FTP
GenericName[th]=โปรแกรมรับส่ง FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[uz]=FTP klienti
GenericName[uz@cyrillic]=FTP клиенти
GenericName[vi]=Ứng dụng khách FTP
GenericName[wa]=Cliyint FTP
GenericName[xh]=Umxhasi we FTP
GenericName[x-test]=xxFTP Clientxx
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
MimeType=
Exec=ncftp
Icon=misc
Type=Application
Terminal=true
