[Desktop Entry]
Exec=pine
Icon=email
Type=Application
Name=Pine
Name[af]=Pine
Name[ar]=Pine
Name[as]=Pine
Name[be]=Pine
Name[be@latin]=Pine
Name[bg]=Pine
Name[bn]=পাইন
Name[bn_IN]=Pine
Name[br]=Pine
Name[ca]=Pine
Name[ca@valencia]=Pine
Name[cs]=Pine
Name[csb]=Pine
Name[cy]=Pine
Name[da]=Pine
Name[de]=Pine
Name[el]=Pine
Name[en_GB]=Pine
Name[eo]=Pine
Name[es]=PINE
Name[et]=Pine
Name[eu]=Pine
Name[fi]=Pine
Name[fr]=Pine
Name[fy]=Pine
Name[ga]=Pine
Name[gl]=Pine
Name[gu]=પાઇન
Name[he]=Pine
Name[hi]=पाइन
Name[hne]=पाइन
Name[hr]=Pine
Name[hsb]=Pine
Name[hu]=Pine
Name[is]=Pine
Name[it]=Pine
Name[ja]=Pine
Name[ka]=Pine
Name[kk]=Pine
Name[km]=ស្រល់
Name[kn]=ಪೈನ್
Name[ko]=Pine
Name[ku]=Pine
Name[lt]=Pine
Name[lv]=Pine
Name[mai]=पाइन
Name[mk]=Pine
Name[ml]=പൈന്‍
Name[mr]=पाइन
Name[ms]=Pine
Name[nb]=Pine
Name[nds]=Pine
Name[ne]=पाइन
Name[nl]=Pine
Name[nn]=Pine
Name[oc]=Pine
Name[or]=Pine
Name[pa]=ਪਾਇਨ
Name[pl]=Pine
Name[pt]=Pine
Name[pt_BR]=Pine
Name[ro]=Pine
Name[ru]=Pine
Name[se]=Pine
Name[si]=Pine
Name[sk]=Pine
Name[sl]=Pine
Name[sr]=Пајн
Name[sr@latin]=Pine
Name[sv]=Pine
Name[ta]=பைன்
Name[te]=పైన్
Name[tg]=Pine
Name[th]=Pine
Name[tr]=Pine
Name[uk]=Pine
Name[uz]=Pine
Name[uz@cyrillic]=Pine
Name[vi]=Pine
Name[wa]=Pine
Name[xh]=Pine
Name[x-test]=xxPinexx
Name[zh_CN]=Pine
Name[zh_TW]=Pine
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=عميل البريد
GenericName[as]=ডাক ব্যৱস্থাৰ গ্ৰাহক
GenericName[be]=Паштовы кліент
GenericName[be@latin]=Paštar
GenericName[bg]=Клиент за е-поща
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[bn_IN]=মেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[ca@valencia]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝta kliento
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ક્લાયન્ટ
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hne]=डाकिया
GenericName[hr]=Klijent e-pošte
GenericName[hsb]=emejlowy program
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[kn]=ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=메일 클라이언트
GenericName[ku]=Daxwazkara Mailan
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Програма за електронска пошта
GenericName[ml]=മെയില്‍ ക്ലയന്റ്
GenericName[mr]=मेल क्लाऐंट
GenericName[ms]=Klien Mel
GenericName[nb]=E-postprogram
GenericName[nds]=Nettpostprogramm
GenericName[ne]=मेल क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Logicial de messatjariá
GenericName[or]=ମେଲ କ୍ଲାଏଣ୍ଟ
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Program de poștă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[si]=තැපැල් සහායක
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Клијент е‑поште
GenericName[sr@latin]=Klijent e‑pošte
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் வாங்கி
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Мизоҷи почта
GenericName[th]=โปรแกรมรับส่งอีเมล
GenericName[tr]=E-posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=电子邮件客户端
GenericName[zh_TW]=郵件處理程式
Terminal=true
