[Desktop Entry]
Name=w3m
Name[af]=w3m
Name[ar]=متصفح w3m
Name[as]=w3m
Name[be]=w3m
Name[be@latin]=w3m
Name[bg]=w3m
Name[bn]=ডাব্লিউ-থ্রী-এম
Name[bn_IN]=w3m
Name[br]=w3c
Name[ca]=w3m
Name[ca@valencia]=w3m
Name[cs]=w3m
Name[csb]=w3m
Name[cy]=w3m
Name[da]=w3m
Name[de]=w3m
Name[el]=w3m
Name[en_GB]=w3m
Name[eo]=w3m
Name[es]=w3m
Name[et]=w3m
Name[eu]=w3m
Name[fi]=w3m
Name[fr]=w3m
Name[fy]=w3m
Name[ga]=w3m
Name[gl]=w3m
Name[gu]=w3m
Name[he]=w3m
Name[hi]=डबल्यू3एम
Name[hne]=डबल्यू3एम
Name[hr]=w3m
Name[hsb]=w3m
Name[hu]=w3m
Name[is]=w3m
Name[it]=w3m
Name[ja]=w3m
Name[ka]=w3m
Name[kk]=w3m
Name[km]=w3m
Name[kn]=w3m
Name[ko]=w3m
Name[ku]=w3m
Name[lt]=w3m
Name[lv]=w3m
Name[mai]=डबल्यू3एम
Name[mk]=w3m
Name[ml]=ഡബ്ലിയു3എം ടെക്സ്റ്റ് ബ്രൌസര്‍
Name[mr]=डबल्यू3एम
Name[ms]=w3m
Name[nb]=w3m
Name[nds]=w3m
Name[ne]=w3m
Name[nl]=w3m
Name[nn]=w3m
Name[oc]=w3m
Name[or]=w3m
Name[pa]=w3m
Name[pl]=w3m
Name[pt]=w3m
Name[pt_BR]=w3m
Name[ro]=w3m
Name[ru]=w3m
Name[se]=w3m
Name[si]=w3m
Name[sk]=w3m
Name[sl]=w3m
Name[sr]=в3м
Name[sr@latin]=w3m
Name[sv]=W3m
Name[ta]=w3m
Name[te]=డబ్ల్యూ3ఎం
Name[tg]=w3m
Name[th]=w3m
Name[tr]=w3m
Name[uk]=w3m
Name[uz]=w3m
Name[uz@cyrillic]=w3m
Name[vi]=w3m
Name[wa]=w3m
Name[xh]=w3m
Name[x-test]=xxw3mxx
Name[zh_CN]=w3m
Name[zh_TW]=w3m
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Exec=w3m www.kde.org
Terminal=true
Icon=lynx
Type=Application
X-KDE-AuthorizeAction=shell_access
