[Desktop Entry]
Encoding=UTF-8
Name=Calctool
Name[csb]=Kalkùlator
Name[de]=Calctool - Rechner
Name[el]=Αριθμομηχανή
Name[eo]=Kalkulilo
Name[fr]=CalcTool
Name[gl]=Calculadora
Name[is]=Reiknivél
Name[ja]=計算ツール
Name[lv]=Kalkrīks
Name[ne]=क्याल्क उपकरण
Name[pa]=ਹਿਸਾਬੀ
Name[pl]=Kalkulator
Name[ta]=கால்குலேட்டர் கருவி
Name[tg]=Обзори муҳосиба
Name[tr]=Hesap Aracı
Name[x-test]=xxCalctoolxx
GenericName=Calculator
GenericName[af]=Sak rekenaar
GenericName[be]=Калькулятар
GenericName[br]=Jederez
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulátor
GenericName[csb]=Kalkùlator
GenericName[cy]=Cyfrifiannell
GenericName[da]=Regnemaskine
GenericName[de]=Rechner
GenericName[el]=Αριθμομηχανή
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[fy]=Rekkenmasine
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[he]=מחשבון
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[is]=Vasareiknir
GenericName[it]=Calcolatrice
GenericName[ja]=計算機
GenericName[ka]=კალკულატორი
GenericName[kk]=Калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mk]=Дигитрон
GenericName[ms]=Kalkulator
GenericName[nb]=Kalkulator
GenericName[nds]=Taschenreekner
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[se]=Kalkuláhtor
GenericName[sl]=Kalkulator
GenericName[sr]=Калкулатор
GenericName[sr@latin]=Kalkulator
GenericName[sv]=Miniräknare
GenericName[ta]=கணக்கிடும் கருவி
GenericName[tg]=Мошини ҳисоб
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[uz]=Калкулятор
GenericName[wa]=Carculete
GenericName[x-test]=xxCalculatorxx
GenericName[xh]=Umatshini wokubala
GenericName[zh_TW]=計算機
Exec=calctool
Terminal=false
Icon=xpm
Type=Application
