[Desktop Entry]
Name=Calctool
Name[bn]=ক্যাল্কটুল
Name[csb]=Kalkùlator
Name[de]=Calctool - Rechner
Name[el]=Αριθμομηχανή
Name[eo]=Kalkulilo
Name[fr]=CalcTool
Name[gu]=કેલટુલ
Name[hi]=केल्कटूल
Name[is]=Reiknivél
Name[ja]=計算ツール
Name[ku]=Amûra Hesabkirinê
Name[ml]=കാല്‍ക് ടൂള്‍
Name[ne]=क्याल्क उपकरण
Name[pa]=ਕੈਲਕ-ਟੂਲ
Name[pl]=Kalkulator
Name[sr]=Калктул
Name[ta]=கால்குலேட்டர் கருவி
Name[tg]=Обзори муҳосиба
Name[tr]=Hesap Aracı
Name[x-test]=xxCalctoolxx
GenericName=Calculator
GenericName[af]=Sak rekenaar
GenericName[ar]=آلة حاسبة
GenericName[be]=Калькулятар
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[br]=Jederez
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulátor
GenericName[csb]=Kalkùlator
GenericName[cy]=Cyfrifiannell
GenericName[da]=Regnemaskine
GenericName[de]=Rechner
GenericName[el]=Αριθμομηχανή
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[fy]=Rekkenmasine
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[gu]=કેલ્ક્યુલેટર
GenericName[he]=מחשבון
GenericName[hi]=गणक
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[is]=Vasareiknir
GenericName[it]=Calcolatrice
GenericName[ja]=計算機
GenericName[ka]=კალკულატორი
GenericName[kk]=Калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[kn]=ಲೆಕ್ಕಿಗ (ಕಾಲ್ಕುಲೇಟರ್)
GenericName[ko]=계산기
GenericName[ku]=Hesêbkar
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mk]=Дигитрон
GenericName[ml]=ഗണനി
GenericName[ms]=Kalkulator
GenericName[nb]=Kalkulator
GenericName[nds]=Taschenreekner
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[oc]=Calculeta
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[se]=Kalkuláhtor
GenericName[sk]=Kalkulačka
GenericName[sl]=Kalkulator
GenericName[sr]=Калкулатор
GenericName[sr@latin]=Kalkulator
GenericName[sv]=Miniräknare
GenericName[ta]=கணிப்பொறி
GenericName[tg]=Мошини ҳисоб
GenericName[th]=เครื่องคิดเลข
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[uz]=Kalkulyator
GenericName[uz@cyrillic]=Калкулятор
GenericName[vi]=Máy tính
GenericName[wa]=Carculete
GenericName[x-test]=xxCalculatorxx
GenericName[xh]=Umatshini wokubala
GenericName[zh_CN]=计算器
GenericName[zh_TW]=計算機
Exec=calctool
Terminal=false
Icon=xpm
Type=Application
