[Desktop Entry]
Name=E-Notes
Name[ar]=الملاحظات الإلكترونية
Name[bn]=ই-নোটস
Name[csb]=E-Notownik
Name[cy]=E-Nodiadau
Name[eo]=E-Notoj
Name[eu]=E idatz-oharrak
Name[fa]=یادداشتهای E
Name[hi]=ई-नोट्स
Name[lt]=E.užrašai
Name[ne]=E-टिपोट
Name[pa]=ਈ-ਨੋਟਿਸ
Name[pl]=E-Notatki
Name[sr]=Е-белешке
Name[sr@latin]=E-beleške
Name[sv]=E-notes
Name[ta]=E-குறிப்புகள்
Name[tr]=E-Notlar
Name[vi]=Ghi chép E
Name[x-test]=xxE-Notesxx
GenericName=Personal Notes
GenericName[af]=Persoonlike Notas
GenericName[ar]=الملاحظات الشخصية
GenericName[be]=Персанальныя заметкі
GenericName[bg]=Лични бележки
GenericName[bn]=ব্যক্তিগত মন্তব্য
GenericName[ca]=Notes personals
GenericName[cs]=Osobní poznámky
GenericName[csb]=Swój notownik
GenericName[cy]=Nodiadau Personol
GenericName[da]=Personlige noter
GenericName[de]=Persönliche Notizen
GenericName[el]=Προσωπικές σημειώσεις
GenericName[eo]=Personaj notoj
GenericName[es]=Notas personales
GenericName[et]=Isiklikud märkmed
GenericName[eu]=Idatz-ohar pertsonalak
GenericName[fa]=یادداشتهای شخصی
GenericName[fi]=Omat muistiinpanot
GenericName[fr]=Outil de prise de notes
GenericName[fy]=Persoanlike notysjes
GenericName[ga]=Nótaí Pearsanta
GenericName[gl]=Notas persoais
GenericName[he]=פתקים אישיים
GenericName[hi]=निजी टिप्पणी
GenericName[hr]=Osobne bilješke
GenericName[hu]=Személyes feljegyzések
GenericName[is]=Skrárnar þínar
GenericName[it]=Note personali
GenericName[ja]=個人のノート
GenericName[ka]=პერსონალური ჩანაწერები
GenericName[kk]=Дербес жазба
GenericName[km]=ចំណាំ​ផ្ទាល់​ខ្លួន
GenericName[ko]=개인 노트
GenericName[lt]=Asmeniniai užrašai
GenericName[lv]=Personālās piezīmes
GenericName[mk]=Лични белешки
GenericName[ms]=Nota Peribadi
GenericName[nb]=Personlige notater
GenericName[nds]=Persöönliche Notizen
GenericName[ne]=व्यक्तिगत टिपोट
GenericName[nl]=Persoonlijke notities
GenericName[nn]=Personlege notat
GenericName[pa]=ਨਿੱਜੀ ਨੋਟਿਸ
GenericName[pl]=Osobiste notatki
GenericName[pt]=Notas Pessoais
GenericName[pt_BR]=Notas Pessoais
GenericName[ro]=Notiţe personale
GenericName[ru]=Личные заметки
GenericName[se]=Iežat muitolihput
GenericName[sk]=Osobné poznámky
GenericName[sl]=Osebni zapiski
GenericName[sr]=Личне поруке
GenericName[sr@latin]=Lične poruke
GenericName[sv]=Personliga anteckningar
GenericName[ta]=தனிப்பட்ட குறிப்புகள்
GenericName[tg]=Ёддоштҳои шахсӣ
GenericName[th]=บันทึกช่วยจำส่วนตัว
GenericName[tr]=Kişisel Notlar
GenericName[uk]=Особисті нотатки
GenericName[uz]=Шахсий ёзувлар
GenericName[vi]=Ghi chép cá nhân
GenericName[wa]=Notes da vosse
GenericName[x-test]=xxPersonal Notesxx
GenericName[xh]=Iifayile Zobuntu
GenericName[zh_CN]=个人记事本
GenericName[zh_TW]=個人筆記
Exec=e-notes
Terminal=false
Icon=xpm
Type=Application
