[Desktop Entry]
Name=E-Notes
Name[af]=E-Notes
Name[ar]=الملاحظات الإلكترونية
Name[as]=E-Notes
Name[be]=E-Notes
Name[be@latin]=E-Notes
Name[bg]=E-Notes
Name[bn]=ই-নোটস
Name[bn_IN]=E-Notes
Name[br]=E-Notes
Name[ca]=E-Notes
Name[ca@valencia]=E-Notes
Name[cs]=E-Notes
Name[csb]=E-Notownik
Name[cy]=E-Nodiadau
Name[da]=E-Notes
Name[de]=E-Notes
Name[el]=E-Notes
Name[en_GB]=E-Notes
Name[eo]=E-Notoj
Name[es]=E-Notes
Name[et]=E-Notes
Name[eu]=E idatz-oharrak
Name[fa]=یادداشتهای E
Name[fi]=E-Notes
Name[fr]=E-Notes
Name[fy]=E-Notes
Name[ga]=E-Notes
Name[gl]=E-Notes
Name[gu]=ઇ-નોટ્સ
Name[he]=E-Notes
Name[hi]=ई-नोट्स
Name[hne]=ई-नोट्स
Name[hr]=E-Notes
Name[hsb]=E-noticki
Name[hu]=E-Notes
Name[is]=E-Notes
Name[it]=E-Notes
Name[ja]=E-Notes
Name[ka]=E-Notes
Name[kk]=E-Notes
Name[km]=E-Notes
Name[kn]=ಇ-ಟಿಪ್ಪಣಿಗಳು
Name[ko]=E-Notes
Name[ku]=E-Not
Name[lt]=E.užrašai
Name[lv]=E-Notes
Name[mai]=ई-नोट्स
Name[mk]=E-Notes
Name[ml]=ഇ-കുറിപ്പുകള്‍
Name[mr]=ई-नोट्स
Name[ms]=E-Notes
Name[nb]=E-Notes
Name[nds]=E-Notes
Name[ne]=E-टिपोट
Name[nl]=E-Notes
Name[nn]=E-Notes
Name[or]=E-ଟିପ୍ପଣୀଗୁଡ଼ିକ
Name[pa]=ਈ-ਨੋਟਿਸ
Name[pl]=E-Notatki
Name[pt]=E-Notes
Name[pt_BR]=E-Notes
Name[ro]=E-Notes
Name[ru]=E-Notes
Name[se]=E-Notes
Name[si]=E-Notes
Name[sk]=E-Notes
Name[sl]=E-Notes
Name[sr]=Е‑белешке
Name[sr@latin]=E‑beleške
Name[sv]=E-notes
Name[ta]=E-குறிப்புகள்
Name[te]=E-గమనికలు
Name[tg]=E-Notes
Name[th]=E-Notes
Name[tr]=E-Notlar
Name[uk]=E-Notes
Name[uz]=E-Notes
Name[uz@cyrillic]=E-Notes
Name[vi]=Ghi chép E
Name[wa]=E-Notes
Name[xh]=E-Notes
Name[x-test]=xxE-Notesxx
Name[zh_CN]=E-Notes
Name[zh_TW]=E-Notes
GenericName=Personal Notes
GenericName[af]=Persoonlike Notas
GenericName[ar]=الملاحظات الشخصية
GenericName[as]=ব্যক্তিগত টোকা
GenericName[be]=Персанальныя заметкі
GenericName[be@latin]=Ułasnyja zaciemy
GenericName[bg]=Лични бележки
GenericName[bn]=ব্যক্তিগত মন্তব্য
GenericName[bn_IN]=ব্যক্তিগত নোট
GenericName[ca]=Notes personals
GenericName[ca@valencia]=Notes personals
GenericName[cs]=Osobní poznámky
GenericName[csb]=Swój notownik
GenericName[cy]=Nodiadau Personol
GenericName[da]=Personlige noter
GenericName[de]=Persönliche Notizen
GenericName[el]=Προσωπικές σημειώσεις
GenericName[en_GB]=Personal Notes
GenericName[eo]=Personaj notoj
GenericName[es]=Notas personales
GenericName[et]=Isiklikud märkmed
GenericName[eu]=Idatz-ohar pertsonalak
GenericName[fa]=یادداشتهای شخصی
GenericName[fi]=Omat muistiinpanot
GenericName[fr]=Outil de prise de notes
GenericName[fy]=Persoanlike notysjes
GenericName[ga]=Nótaí Pearsanta
GenericName[gl]=Notas persoais
GenericName[gu]=અંગત નોંધો
GenericName[he]=פתקים אישיים
GenericName[hi]=निजी टिप्पणी
GenericName[hne]=निजी टिप्पनी
GenericName[hr]=Osobne bilješke
GenericName[hsb]=Wosobinske zapiski
GenericName[hu]=Személyes feljegyzések
GenericName[is]=Skrárnar þínar
GenericName[it]=Note personali
GenericName[ja]=個人のノート
GenericName[ka]=პერსონალური ჩანაწერები
GenericName[kk]=Дербес жазба
GenericName[km]=ចំណាំ​ផ្ទាល់​ខ្លួន
GenericName[kn]=ವೈಯಕ್ತಿಕ ಟಿಪ್ಪಣಿಗಳು
GenericName[ko]=개인 노트
GenericName[ku]=Notên Takekesî
GenericName[lt]=Asmeniniai užrašai
GenericName[lv]=Personīgās piezīmes
GenericName[mai]=निजी टिप्पणी
GenericName[mk]=Лични белешки
GenericName[ml]=സ്വകാര്യ കുറിപ്പുകള്‍
GenericName[mr]=खाजगी टिप्पणी
GenericName[ms]=Nota Peribadi
GenericName[nb]=Personlige notater
GenericName[nds]=Persöönliche Notizen
GenericName[ne]=व्यक्तिगत टिपोट
GenericName[nl]=Persoonlijke notities
GenericName[nn]=Personlege notat
GenericName[or]=ବ୍ୟକ୍ତିଗତ ଟିପ୍ପଣୀ
GenericName[pa]=ਨਿੱਜੀ ਨੋਟਿਸ
GenericName[pl]=Osobiste notatki
GenericName[pt]=Notas Pessoais
GenericName[pt_BR]=Notas pessoais
GenericName[ro]=Notițe personale
GenericName[ru]=Личные заметки
GenericName[se]=Iežat muitolihput
GenericName[si]=පුද්ගලික සටහන්
GenericName[sk]=Osobné poznámky
GenericName[sl]=Osebni zapiski
GenericName[sr]=Личне поруке
GenericName[sr@latin]=Lične poruke
GenericName[sv]=Personliga anteckningar
GenericName[ta]=தனிப்பட்ட குறிப்புகள்
GenericName[te]=వ్యక్తిగత గమనికలు
GenericName[tg]=Ёддоштҳои шахсӣ
GenericName[th]=บันทึกช่วยจำส่วนตัว
GenericName[tr]=Kişisel Notlar
GenericName[uk]=Особисті нотатки
GenericName[uz]=Shaxsiy yozuvlar
GenericName[uz@cyrillic]=Шахсий ёзувлар
GenericName[vi]=Ghi chép cá nhân
GenericName[wa]=Notes da vosse
GenericName[xh]=Iifayile Zobuntu
GenericName[x-test]=xxPersonal Notesxx
GenericName[zh_CN]=个人记事本
GenericName[zh_TW]=個人筆記
Exec=e-notes
Terminal=false
Icon=xpm
Type=Application
