[Desktop Entry]
Exec=gkrellm
Icon=gnome-app
Name=GKrellM
Name[hi]=जी-क्रेल-एम
Name[ml]=ജിക്രെല്‍ഐഎം
Name[sr]=Гкрелм
Name[x-test]=xxGKrellMxx
GenericName=GNU Krell Monitors
GenericName[be]=Назіральнікі GNU Krell
GenericName[bg]=Монитори GNU Krell
GenericName[bn]=গনিউ ক্রেল মনিটর
GenericName[ca]=Monitors Krell de GNU
GenericName[cs]=Monitory GNU Krell
GenericName[csb]=Mònitor systemë GNU Krell
GenericName[cy]=Monitrau Krell GNU
GenericName[da]=GNU Krell-overvåning
GenericName[de]=GNU-Krell-Monitore
GenericName[el]=Επόπτες GNU Krell
GenericName[eo]=GNU ekranoj
GenericName[es]=Monitores Krell GNU
GenericName[et]=GNU Krelli monitorid
GenericName[eu]=GNU Krell monitoreak
GenericName[fa]=گنو Krell نمایشگرهای
GenericName[fr]=Indicateurs du système GNU Krell
GenericName[ga]=Monatóirí GNU Krell
GenericName[gl]=Vixiantes de GNU Krell
GenericName[gu]=GNU ક્રેલ મોનિટર્સ
GenericName[he]=מנטרי GNU Krell
GenericName[hi]=ग्नू क्रेल मॉनीटर्स
GenericName[hr]=GNU Krell nadzori
GenericName[hu]=GNU Krell-monitor
GenericName[is]=GNU Krell eftirlit
GenericName[it]=Monitor GNU di Krell
GenericName[ja]=GNU Krell システムモニタ
GenericName[ka]=GNU Krell მონიტორი
GenericName[kk]=GNU Krell мониторлары
GenericName[km]=កម្មវិធី​ត្រួតពិនិត្យ GNU Krell
GenericName[ko]=GNU Krell 모니터
GenericName[ku]=Temaşekarên GNU Krell
GenericName[lv]=GNU krell monitors
GenericName[mk]=GNU Krell Системски монитори
GenericName[nb]=GNU Krell systemovervåkning
GenericName[nds]=Kiekers för GNU Krell
GenericName[ne]=GNU क्रेल मनिटर
GenericName[nn]=GNU Krell, systemovervaking
GenericName[pa]=GNU ਕੇਰੀਲ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu GNU Krell
GenericName[pt]=Monitores Krell da GNU
GenericName[pt_BR]=Monitores Krell GNU
GenericName[ro]=Monitoare Krell GNU
GenericName[ru]=Мониторы GNU Krell
GenericName[se]=GNU Krell, vuogádatgoziheapmi
GenericName[sk]=GNU Krell Monitory
GenericName[sl]=Monitorji GNU Krell
GenericName[sr]=Монитори Гнуовог Крела
GenericName[sr@latin]=Monitori GNU‑ovog Krella
GenericName[sv]=GNU Krell-övervakare
GenericName[ta]=GNU Krell திரைகள்
GenericName[tg]=Нозири GNU Krell
GenericName[th]=โปรแกรมสอดส่องการทำงานระบบ ของ GNU
GenericName[tr]=GNU Krell İzleyiciler
GenericName[uz]=GNU Krell мониторлари
GenericName[vi]=Bộ theo dõi Krell GNU
GenericName[wa]=Corwaitoe GNU Krell
GenericName[x-test]=xxGNU Krell Monitorsxx
GenericName[zh_CN]=GNU Krell 监视器
GenericName[zh_TW]=GNU Krell 監視器
Terminal=false
Type=Application
