[Desktop Entry]
Exec=gkrellm
Icon=gnome-app
Name=GKrellM
Name[af]=GKrellM
Name[ar]=معلومات النظام GKrellM
Name[as]=GKrellM
Name[be]=GKrellM
Name[be@latin]=GKrellM
Name[bg]=GKrellM
Name[bn]=GKrellM
Name[bn_IN]=GKrellM
Name[br]=GKrellM
Name[ca]=GKrellM
Name[ca@valencia]=GKrellM
Name[cs]=GKrellM
Name[csb]=GKrellM
Name[cy]=GKrellM
Name[da]=GKrellM
Name[de]=GKrellM
Name[el]=GKrellM
Name[en_GB]=GKrellM
Name[eo]=GKrellM
Name[es]=GKrellM
Name[et]=GKrellM
Name[eu]=GKrellM
Name[fi]=GKrellM
Name[fr]=GKrellM
Name[fy]=GKrellM
Name[ga]=GKrellM
Name[gl]=GKrellM
Name[gu]=GKrellM
Name[he]=GKrellM
Name[hi]=जी-क्रेल-एम
Name[hne]=जी-क्रेल-एम
Name[hr]=GKrellM
Name[hsb]=GKrellM
Name[hu]=GKrellM
Name[is]=GKrellM
Name[it]=GKrellM
Name[ja]=GKrellM
Name[ka]=GKrellM
Name[kk]=GKrellM
Name[km]=GKrellM
Name[kn]=ಜಿಕ್ರಲ್ಐಎಮ್
Name[ko]=GKrellM
Name[ku]=GKrellM
Name[lt]=GKrellM
Name[lv]=GKrellM
Name[mai]=जी-क्रेल-एम
Name[mk]=GKrellM
Name[ml]=GKrellM
Name[mr]=GKrellM
Name[ms]=GKrellM
Name[nb]=GKrellM
Name[nds]=GKrellM
Name[ne]=GKrellM
Name[nl]=GKrellM
Name[nn]=GKrellM
Name[oc]=GKrellM
Name[or]=GKrellM
Name[pa]=GKrellM
Name[pl]=GKrellM
Name[pt]=GKrellM
Name[pt_BR]=GKrellM
Name[ro]=GKrellM
Name[ru]=GKrellM
Name[se]=GKrellM
Name[si]=GKrellM
Name[sk]=GKrellM
Name[sl]=GKrellM
Name[sr]=Гкрелм
Name[sr@latin]=GKrellM
Name[sv]=GKrellM
Name[ta]=GKrellM
Name[te]=GKrellM
Name[tg]=GKrellM
Name[th]=GKrellM
Name[tr]=GKrellM
Name[uk]=GKrellM
Name[uz]=GKrellM
Name[uz@cyrillic]=GKrellM
Name[vi]=GKrellM
Name[wa]=GKrellM
Name[x-test]=xxGKrellMxx
Name[zh_CN]=GKrellM
Name[zh_TW]=GKrellM
GenericName=GNU Krell Monitors
GenericName[af]=GNU Krell Monitors
GenericName[ar]=شاشة GNU Krell
GenericName[as]=GNU Krell Monitors
GenericName[be]=Назіральнікі GNU Krell
GenericName[be@latin]=Prahrama dla vyjaŭleńnia systemnych manitoraŭ „GNU Krell”
GenericName[bg]=Монитори GNU Krell
GenericName[bn]=গনিউ ক্রেল মনিটর
GenericName[bn_IN]=GNU Krell মনিটর
GenericName[ca]=Monitors Krell de GNU
GenericName[ca@valencia]=Monitors Krell de GNU
GenericName[cs]=Monitory GNU Krell
GenericName[csb]=Mònitor systemë GNU Krell
GenericName[cy]=Monitrau Krell GNU
GenericName[da]=GNU Krell-overvåning
GenericName[de]=GNU-Krell-Monitore
GenericName[el]=Επόπτες GNU Krell
GenericName[en_GB]=GNU Krell Monitors
GenericName[eo]=GNU ekranoj
GenericName[es]=Monitores Krell GNU
GenericName[et]=GNU Krelli monitorid
GenericName[eu]=GNU Krell monitoreak
GenericName[fa]=گنو Krell نمایشگرهای
GenericName[fi]=GNU Krell Monitors
GenericName[fr]=Indicateurs du système GNU Krell
GenericName[fy]=GNU Krell Monitors
GenericName[ga]=Monatóirí GNU Krell
GenericName[gl]=Vixilantes de GNU Krell
GenericName[gu]=GNU ક્રેલ મોનિટર્સ
GenericName[he]=מנטרי GNU Krell
GenericName[hi]=ग्नू क्रेल मॉनीटर्स
GenericName[hne]=ग्नू क्रेल मानीटर्स
GenericName[hr]=GNU Krell nadzori
GenericName[hsb]=GNU Krell Monitory
GenericName[hu]=GNU Krell-monitor
GenericName[is]=GNU Krell eftirlit
GenericName[it]=Monitor GNU di Krell
GenericName[ja]=GNU Krell システムモニタ
GenericName[ka]=GNU Krell მონიტორი
GenericName[kk]=GNU Krell мониторлары
GenericName[km]=កម្មវិធី​ត្រួតពិនិត្យ GNU Krell
GenericName[kn]=ಗ್ನೂ ಕ್ರೆಲ್ ಪ್ರದರ್ಶಕಗಳು
GenericName[ko]=GNU Krell 모니터
GenericName[ku]=Temaşekarên GNU Krell
GenericName[lv]=GNU krell monitors
GenericName[mai]=ग्नू क्रेल मानीटर्स
GenericName[mk]=GNU Krell Системски монитори
GenericName[ml]=GNU Krell Monitors
GenericName[mr]=GNU क्रेल मॉनीटर्स
GenericName[ms]=GNU Krell Monitors
GenericName[nb]=GNU Krell systemovervåkning
GenericName[nds]=Kiekers för GNU Krell
GenericName[ne]=GNU क्रेल मनिटर
GenericName[nl]=GNU Krell Monitors
GenericName[nn]=GNU Krell, systemovervaking
GenericName[or]=GNU Krell ପ୍ରଦର୍ଶିକାଗୁଡ଼ିକ
GenericName[pa]=GNU ਕੇਰੀਲ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu GNU Krell
GenericName[pt]=Monitores Krell da GNU
GenericName[pt_BR]=Monitores Krell GNU
GenericName[ro]=Monitoare Krell GNU
GenericName[ru]=Мониторы GNU Krell
GenericName[se]=GNU Krell, vuogádatgoziheapmi
GenericName[si]=GNU Krell Monitors
GenericName[sk]=GNU Krell Monitory
GenericName[sl]=Monitorji GNU Krell
GenericName[sr]=Монитори Гнуовог Крела
GenericName[sr@latin]=Monitori GNU‑ovog Krella
GenericName[sv]=GNU Krell-övervakare
GenericName[ta]=GNU Krell திரைகள்
GenericName[te]=GNU Krell మానిటర్‍స్
GenericName[tg]=Намоишгари GNU Krell
GenericName[th]=โปรแกรมสอดส่องการทำงานระบบ ของ GNU
GenericName[tr]=GNU Krell İzleyiciler
GenericName[uk]=GNU Krell Monitors
GenericName[uz]=GNU Krell monitorlari
GenericName[uz@cyrillic]=GNU Krell мониторлари
GenericName[vi]=Bộ theo dõi Krell GNU
GenericName[wa]=Corwaitoe GNU Krell
GenericName[x-test]=xxGNU Krell Monitorsxx
GenericName[zh_CN]=GNU Krell 监视器
GenericName[zh_TW]=GNU Krell 監視器
Terminal=false
Type=Application
