[Desktop Entry]
Encoding=UTF-8
Exec=gkrellm
Icon=gnome-app
Name=GKrellM
Name[x-test]=xxGKrellMxx
GenericName=GNU Krell Monitors
GenericName[ca]=Monitors Krell de GNU
GenericName[cs]=Monitory GNU Krell
GenericName[csb]=Mònitor systemë GNU Krell
GenericName[cy]=Monitrau Krell GNU
GenericName[da]=GNU Krell-overvåning
GenericName[de]=GNU-Krell-Monitore
GenericName[el]=Επόπτες GNU Krell
GenericName[eo]=GNU ekranoj
GenericName[es]=Monitores Krell GNU
GenericName[et]=GNU Krelli monitorid
GenericName[eu]=GNU Krell monitoreak
GenericName[fa]=گنو Krell نمایشگرهای
GenericName[fr]=Indicateurs du système GNU Krell
GenericName[ga]=Monatóirí GNU Krell
GenericName[gl]=Monitores GNU Krell
GenericName[he]=מנטרי GNU Krell
GenericName[hr]=GNU Krell nadzori
GenericName[hu]=GNU Krell-monitor
GenericName[is]=GNU Krell eftirlit
GenericName[it]=Monitor GNU di Krell
GenericName[ja]=GNU Krell システムモニタ
GenericName[ka]=GNU Krell მონიტორი
GenericName[kk]=GNU Krell мониторлары
GenericName[km]=កម្មវិធី​ត្រួតពិនិត្យ GNU Krell
GenericName[mk]=GNU Krell Системски монитори
GenericName[nb]=GNU Krell systemovervåkning
GenericName[nds]=Kiekers för GNU Krell
GenericName[ne]=GNU क्रेल मनिटर
GenericName[nn]=GNU Krell, systemovervaking
GenericName[pa]=GNU ਕੇਰੀਲ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu GNU Krell
GenericName[pt]=Monitores Krell da GNU
GenericName[pt_BR]=Monitores Krell GNU
GenericName[ro]=Monitoare Krell GNU
GenericName[ru]=Мониторы GNU Krell
GenericName[se]=GNU Krell, vuogádatgoziheapmi
GenericName[sl]=Monitorji GNU Krell
GenericName[sr]=GNU Krell монитори
GenericName[sr@latin]=GNU Krell monitori
GenericName[sv]=GNU Krell-övervakare
GenericName[ta]=GNU Krell திரைகள்
GenericName[tg]=Нозири GNU Krell
GenericName[tr]=GNU Krell İzleyiciler
GenericName[uz]=GNU Krell мониторлари
GenericName[x-test]=xxGNU Krell Monitorsxx
GenericName[zh_TW]=GNU Krell 監視器
Terminal=false
Type=Application
