[Desktop Entry]
Name=GNOME Who
Name[af]=GNOME Who
Name[ar]=عن جنوم
Name[as]=GNOME Who
Name[be]=GNOME Who
Name[be@latin]=GNOME Who
Name[bg]=GNOME Who
Name[bn]=গনোম হু
Name[bn_IN]=GNOME Who
Name[br]=GNOME Who
Name[ca]=Who del GNOME
Name[ca@valencia]=Who del GNOME
Name[cs]=Gnome Who
Name[csb]=GNOME Chto
Name[cy]=GNOME Pwy
Name[da]=GNOME Who
Name[de]=GNOME-Who
Name[el]=GNOME Who
Name[en_GB]=GNOME Who
Name[eo]=Gnoma Kiu
Name[es]=GNOME Who
Name[et]=GNOME Who
Name[eu]=GNOME Who
Name[fi]=GNOME Who
Name[fr]=Gnome Who
Name[fy]=GNOME Who
Name[ga]=GNOME Who
Name[gl]=GNOME Who
Name[gu]=જીનોમ વ્હુ
Name[he]=GNOME Who
Name[hi]=ग्नोम हू
Name[hne]=ग्नोम हू
Name[hr]=GNOME Who
Name[hsb]=GNOME Who
Name[hu]=GNOME Who
Name[is]=GNOME Who
Name[it]=Who di GNOME
Name[ja]=GNOME Who
Name[ka]=GNOME Who
Name[kk]=GNOME Who
Name[km]=GNOME Who
Name[kn]=ಗ್ನೋಮ್ ಹೂ
Name[ko]=GNOME Who
Name[ku]=GNOME Kî
Name[lt]=GNOME Who
Name[lv]=GNOME Who
Name[mai]=ग्नोम कओन
Name[mk]=GNOME Who
Name[ml]=GNOME Who
Name[mr]=GNOME Who
Name[ms]=GNOME Who
Name[nb]=GNOME Who
Name[nds]=GNOME-Who
Name[ne]=जिनोम हु
Name[nl]=GNOME Who
Name[nn]=GNOME Who
Name[or]=GNOME Who
Name[pa]=ਗਨੋਮ ਕੌਣ
Name[pl]=Gnome Kto
Name[pt]=GNOME Who
Name[pt_BR]=GNOME Who
Name[ro]=GNOME Who
Name[ru]=GNOME Who
Name[se]=GNOME Who
Name[si]=GNOME Who
Name[sk]=GNOME Who
Name[sl]=GNOME Who
Name[sr]=Гномов ко
Name[sr@latin]=Gnomeov ko
Name[sv]=Gnome who
Name[ta]=குனோம் யார்
Name[te]=GNOME Who
Name[tg]=GNOME Who
Name[th]=GNOME Who
Name[tr]=GNOME Kim
Name[uk]=GNOME Who
Name[uz]=GNOME Who
Name[uz@cyrillic]=GNOME Who
Name[vi]=GNOME Who
Name[wa]=GNOME Who
Name[xh]=GNOME Who
Name[x-test]=xxGNOME Whoxx
Name[zh_CN]=GNOME Who
Name[zh_TW]=GNOME Who
GenericName=System Info Tool
GenericName[af]=Stelsel Inligting Program
GenericName[ar]=أداة معلومات النظام
GenericName[as]=ব্যৱস্থাপ্ৰণালীৰ তথ্যৰ সৰঞ্জাম
GenericName[be]=Сістэмная інфармацыя
GenericName[be@latin]=Pryłada, jakaja źbiraje źviestki pra systemu
GenericName[bg]=Системна информация
GenericName[bn]=সিস্টেম তথ্য টুল
GenericName[bn_IN]=সিস্টেমের তথ্য বিষয়ক সামগ্রী
GenericName[ca]=Eina d'informació del sistema
GenericName[ca@valencia]=Eina d'informació del sistema
GenericName[cs]=Informace o systému
GenericName[csb]=Wëdowiédzô ò systemie
GenericName[cy]=Erfyn Gwybodaeth Cysawd
GenericName[da]=Systeminfo-værktøj
GenericName[de]=Systeminformationen
GenericName[el]=Εργαλείο πληροφοριών συστήματος
GenericName[en_GB]=System Info Tool
GenericName[eo]=Sistemstato-programo
GenericName[es]=Info del sistema
GenericName[et]=Süsteemi info
GenericName[eu]=Sistemaren informazio tresna
GenericName[fa]=ابزار اطلاعات سیستم
GenericName[fi]=Järjestelmänvalvontaohjelma
GenericName[fr]=Outil d'informations sur le système
GenericName[fy]=Systeemynformaasje
GenericName[ga]=Uirlis Fhaisnéis an Chórais
GenericName[gl]=Utilidade de información do sistema
GenericName[gu]=સિસ્ટમ માહિતી સાધન
GenericName[he]=כלי מידע מערכת
GenericName[hi]=तंत्र जानकारी टूल
GenericName[hne]=तंत्र जानकारी टूल
GenericName[hr]=Alat za podatke o sustavu
GenericName[hsb]=Nastroj za systemowu informaciju
GenericName[hu]=Rendszerinformáció
GenericName[is]=Kerfiseftirlit
GenericName[it]=Strumento per le informazioni sul sistema
GenericName[ja]=システム情報モニタ
GenericName[ka]=ხელსაწყო სისტემის ინფორმაციის სანახავად 
GenericName[kk]=Жүйе мәліметтер құралы
GenericName[km]=ឧបករណ៍​ព័ត៌មាន​ប្រព័ន្ធ
GenericName[kn]=ವ್ಯವಸ್ಥಾ ಮಾಹಿತಿ ಸಲಕರಣೆ
GenericName[ko]=시스템 정보 도구
GenericName[ku]=Amûra Agahiyên Pergalê
GenericName[lt]=Sistemos informacijos priemonė
GenericName[lv]=Sistēmas informācijas rīks
GenericName[mai]=तंत्र सूचना अओजार
GenericName[mk]=Алатка за системски информации
GenericName[ml]=വ്യൂഹവിവരങ്ങള്‍
GenericName[mr]=प्रणाली माहिती साधन
GenericName[ms]=Alat Maklumat Sistem
GenericName[nb]=Systeminformasjons-verktøy
GenericName[nds]=Warktüüch för de Systeeminformatschoon
GenericName[ne]=प्रणाली सूचना उपकरण
GenericName[nl]=Systeeminformatie
GenericName[nn]=Systeminfoverktøy
GenericName[or]=ତନ୍ତ୍ର ସୂଚନା ସାଧନ
GenericName[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ ਟੂਲ
GenericName[pl]=Informacje o systemie
GenericName[pt]=Ferramenta de Informações do Sistema
GenericName[pt_BR]=Ferramenta de informação do sistema
GenericName[ro]=Utilitar informații sistem
GenericName[ru]=Просмотр системной информации
GenericName[se]=Vuogádatdiehtoreaidu
GenericName[si]=පද්ධති තොරතුරු මෙවලම
GenericName[sk]=Systémové informácie
GenericName[sl]=Orodje za podatke o sistemu
GenericName[sr]=Алатка за податке о систему
GenericName[sr@latin]=Alatka za podatke o sistemu
GenericName[sv]=Verktyg för systeminformation
GenericName[ta]=அமைப்பு தகவல் கருவி
GenericName[te]=సిస్టమ్ సమాచార సాధనం
GenericName[tg]=Баномаи иттилооти система
GenericName[th]=เครื่องมือแสดงข้อมูลระบบ
GenericName[tr]=Sistem Bilgisi Aracı
GenericName[uk]=Інформація про систему
GenericName[uz]=Tizim haqida maʼlumotni koʻruvchi
GenericName[uz@cyrillic]=Тизим ҳақида маълумотни кўрувчи
GenericName[vi]=Công cụ thông tin hệ thống
GenericName[wa]=Usteye infôrmåcions sistinme
GenericName[xh]=Isixhobo Senkcukacha Sendlela yokusebenza
GenericName[x-test]=xxSystem Info Toolxx
GenericName[zh_CN]=系统信息工具
GenericName[zh_TW]=系統資訊工具
Exec=gw
Terminal=false
Icon=gnome-who
Type=Application
