[Desktop Entry]
Name=GNOME Who
Name[ar]=جنوم من؟
Name[bn]=গনোম হু
Name[cs]=Gnome Who
Name[csb]=GNOME Chto
Name[cy]=GNOME Pwy
Name[eo]=Gnoma Kiu
Name[fr]=Gnome Who
Name[hi]=ग्नोम हू
Name[it]=Who di GNOME
Name[ku]=GNOME Kî
Name[nds]=GNOME-Who
Name[ne]=जिनोम हु
Name[pa]=ਗਨੋਮ ਕੌਣ
Name[pl]=Gnome Kto
Name[sl]=Gnome Who
Name[sr]=Гномов ко
Name[sr@latin]=Gnomeov ko
Name[sv]=Gnome who
Name[ta]=க்னோம் யார்
Name[tr]=GNOME Kim
Name[x-test]=xxGNOME Whoxx
GenericName=System Info Tool
GenericName[af]=Stelsel Inligting Program
GenericName[ar]=أداة معلومات النظام
GenericName[be]=Сістэмная інфармацыя
GenericName[bg]=Системна информация
GenericName[bn]=সিস্টেম তথ্য টুল
GenericName[ca]=Eina d'informació del sistema
GenericName[cs]=Informace o systému
GenericName[csb]=Wëdowiédzô ò systemie
GenericName[cy]=Erfyn Gwybodaeth Cysawd
GenericName[da]=Systeminfo-værktøj
GenericName[de]=Systeminformationen
GenericName[el]=Εργαλείο πληροφοριών συστήματος
GenericName[eo]=Sistemstato-programo
GenericName[es]=Info del sistema
GenericName[et]=Süsteemi info
GenericName[eu]=Sistemaren informazio tresna
GenericName[fa]=ابزار اطلاعات سیستم
GenericName[fi]=Järjestelmänvalvontaohjelma
GenericName[fr]=Outil d'informations sur le système
GenericName[fy]=Systeemynformaasje
GenericName[ga]=Uirlis Fhaisnéis an Chórais
GenericName[gl]=Ferramenta de información do sistema
GenericName[he]=כלי מידע מערכת
GenericName[hi]=तंत्र जानकारी टूल
GenericName[hr]=Alat za podatke o sustavu
GenericName[hu]=Rendszerinformáció
GenericName[is]=Kerfiseftirlit
GenericName[it]=Strumento per le informazioni sul sistema
GenericName[ja]=システム情報モニタ
GenericName[ka]=ხელსაწყო სისტემის ინფორმაციის სანახავად 
GenericName[kk]=Жүйе мәліметтер құралы
GenericName[km]=ឧបករណ៍​ព័ត៌មាន​ប្រព័ន្ធ
GenericName[ko]=시스템 정보 도구
GenericName[ku]=Amûra Agahiyên Pergalê
GenericName[lt]=Sistemos informacijos priemonė
GenericName[lv]=Sistēmas informācijas rīks
GenericName[mk]=Алатка за системски информации
GenericName[ms]=Alat Maklumat Sistem
GenericName[nb]=Systeminformasjons-verktøy
GenericName[nds]=Warktüüch för de Systeeminformatschoon
GenericName[ne]=प्रणाली सूचना उपकरण
GenericName[nl]=Systeeminformatie
GenericName[nn]=Systeminfoverktøy
GenericName[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ ਟੂਲ
GenericName[pl]=Informacje o systemie
GenericName[pt]=Ferramenta de Informações do Sistema
GenericName[pt_BR]=Ferramenta de Informação do Sistema
GenericName[ro]=Utilitar informaţii sistem
GenericName[ru]=Утилита просмотра системной информации
GenericName[se]=Vuogádatdiehtoreaidu
GenericName[sk]=Systémové informácie
GenericName[sl]=Orodje za podatke o sistemu
GenericName[sr]=Алатка за информације о систему
GenericName[sr@latin]=Alatka za informacije o sistemu
GenericName[sv]=Verktyg för systeminformation
GenericName[ta]=சாதன தகவல் கருவி
GenericName[tg]=Обзори иттилооти система
GenericName[th]=เครื่องมือแสดงข้อมูลระบบ
GenericName[tr]=Sistem Bilgisi Aracı
GenericName[uk]=Alat Maklumat Sistem
GenericName[uz]=Тизим ҳақида маълумотни кўрувчи
GenericName[vi]=Công cụ thông tin hệ thống
GenericName[wa]=Usteye infôrmåcions sistinme
GenericName[x-test]=xxSystem Info Toolxx
GenericName[xh]=Isixhobo Senkcukacha Sendlela yokusebenza
GenericName[zh_CN]=系统信息工具
GenericName[zh_TW]=系統資訊工具
Exec=gw
Terminal=false
Icon=gnome-who
Type=Application
