[Desktop Entry]
Name=OClock
Name[af]=Horlosie
Name[cy]=OCloc
Name[eo]=Horloĝo
Name[lt]=Laikrodis
Name[lv]=Pulkstenis
Name[ne]=बज्यो
Name[sr]=О-часовник
Name[sr@latin]=O-časovnik
Name[sv]=Oclock
Name[ta]=மணிநேரம்
Name[tg]=Соат
Name[th]=Oclock
Name[x-test]=xxOClockxx
GenericName=Clock
GenericName[af]=Horlosie
GenericName[ar]=الساعة
GenericName[be]=Гадзіннік
GenericName[bg]=Часовник
GenericName[br]=Eurier
GenericName[ca]=Rellotge
GenericName[cs]=Hodiny
GenericName[csb]=Zédżer
GenericName[cy]=Cloc
GenericName[da]=Ur
GenericName[de]=Uhr
GenericName[el]=Ρολόι
GenericName[eo]=Iu horloĝo
GenericName[es]=Reloj
GenericName[et]=Kell
GenericName[eu]=Erlojua
GenericName[fa]=ساعت
GenericName[fi]=Kello
GenericName[fr]=Horloge
GenericName[fy]=Klok
GenericName[ga]=Clog
GenericName[gl]=Reloxo
GenericName[he]=שעון
GenericName[hr]=Sat
GenericName[hu]=Óra
GenericName[is]=Klukka
GenericName[it]=Orologio
GenericName[ja]=時計
GenericName[ka]=საათი
GenericName[kk]=Сағат
GenericName[km]=នាឡិកា
GenericName[ko]=시계
GenericName[lt]=Laikrodis
GenericName[lv]=Pulkstenis
GenericName[mk]=Часовник
GenericName[ms]=Jam
GenericName[nb]=Klokke
GenericName[nds]=Klock
GenericName[ne]=घडी
GenericName[nl]=Klok
GenericName[nn]=Klokke
GenericName[pa]=ਘੜੀ
GenericName[pl]=Zegar
GenericName[pt]=Relógio
GenericName[pt_BR]=Relógio
GenericName[ro]=Ceas
GenericName[ru]=Часы
GenericName[se]=Diibmu
GenericName[sl]=Ura
GenericName[sr]=Часовник
GenericName[sr@latin]=Časovnik
GenericName[sv]=Klocka
GenericName[ta]=கடிகாரம்
GenericName[tg]=Соат
GenericName[th]=นาฬิกา
GenericName[tr]=Saat
GenericName[uk]=Годинник
GenericName[uz]=Соат
GenericName[vi]=Đồng hồ
GenericName[wa]=Ôrlodje
GenericName[x-test]=xxClockxx
GenericName[xh]=Ikloko
GenericName[zh_CN]=时钟
GenericName[zh_TW]=時鐘
Exec=oclock
Terminal=false
Icon=xpm
Type=Application
