[Desktop Entry]
Name=OClock
Name[af]=Horlosie
Name[bn]=ওক্লক
Name[cy]=OCloc
Name[eo]=Horloĝo
Name[hi]=ओ-क्लाक
Name[lt]=Laikrodis
Name[ml]=ഒക്ലോക്ക്
Name[ne]=बज्यो
Name[sr]=О‑сат
Name[sr@latin]=O‑sat
Name[sv]=Oclock
Name[ta]=ஓகடிகாரம்
Name[th]=Oclock
Name[x-test]=xxOClockxx
GenericName=Clock
GenericName[af]=Horlosie
GenericName[ar]=الساعة
GenericName[be]=Гадзіннік
GenericName[bg]=Часовник
GenericName[bn]=ঘড়ি
GenericName[br]=Eurier
GenericName[ca]=Rellotge
GenericName[cs]=Hodiny
GenericName[csb]=Zédżer
GenericName[cy]=Cloc
GenericName[da]=Ur
GenericName[de]=Uhr
GenericName[el]=Ρολόι
GenericName[eo]=Horloĝo
GenericName[es]=Reloj
GenericName[et]=Kell
GenericName[eu]=Erlojua
GenericName[fa]=ساعت
GenericName[fi]=Kello
GenericName[fr]=Horloge
GenericName[fy]=Klok
GenericName[ga]=Clog
GenericName[gl]=Reloxo
GenericName[gu]=ઘડિયાળ
GenericName[he]=שעון
GenericName[hi]=घड़ी
GenericName[hr]=Sat
GenericName[hu]=Óra
GenericName[is]=Klukka
GenericName[it]=Orologio
GenericName[ja]=時計
GenericName[ka]=საათი
GenericName[kk]=Сағат
GenericName[km]=នាឡិកា
GenericName[ko]=시계
GenericName[ku]=Demjimêr
GenericName[lt]=Laikrodis
GenericName[lv]=Pulkstenis
GenericName[mk]=Часовник
GenericName[ml]=ഘടികാരം
GenericName[ms]=Jam
GenericName[nb]=Klokke
GenericName[nds]=Klock
GenericName[ne]=घडी
GenericName[nl]=Klok
GenericName[nn]=Klokke
GenericName[oc]=Relòtge
GenericName[pa]=ਘੜੀ
GenericName[pl]=Zegar
GenericName[pt]=Relógio
GenericName[pt_BR]=Relógio
GenericName[ro]=Ceas
GenericName[ru]=Часы
GenericName[se]=Diibmu
GenericName[sk]=Hodiny
GenericName[sl]=Ura
GenericName[sr]=Сат
GenericName[sr@latin]=Sat
GenericName[sv]=Klocka
GenericName[ta]=கடிகாரம்
GenericName[tg]=Соат
GenericName[th]=นาฬิกา
GenericName[tr]=Saat
GenericName[uk]=Годинник
GenericName[uz]=Soat
GenericName[uz@cyrillic]=Соат
GenericName[vi]=Đồng hồ
GenericName[wa]=Ôrlodje
GenericName[x-test]=xxClockxx
GenericName[xh]=Ikloko
GenericName[zh_CN]=时钟
GenericName[zh_TW]=時鐘
Exec=oclock
Terminal=false
Icon=xpm
Type=Application
