[Desktop Entry]
Encoding=UTF-8
Name=System Log Viewer
Name[af]=Stelsel Log Blaaiër
Name[ar]=عارض سجل وقائع النظام
Name[br]=Gweler kerzlevr ar reizhiad
Name[ca]=Visor de la bitàcola del sistema
Name[cs]=Prohlížeč systémových logů
Name[csb]=Przezérnik systemòwëch dniowników
Name[cy]=Gwelydd Cofnodion Cysawd
Name[da]=Systemlog-fremviser
Name[de]=Systemprotokollbetrachter
Name[el]=Προβολέας αρχείων καταγραφής
Name[eo]=Sistemprotokol-rigardilo
Name[es]=Visor de registro del sistema
Name[et]=Süsteemi logide monitor
Name[eu]=Sistemaren log ikustailua
Name[fa]=مشاهده‌گر ثبت سیستم
Name[fi]=Järjestelmälokien näytin
Name[fr]=Systemlogviewer
Name[fy]=systeemlogwerjefteprogramma
Name[gl]=Visor de Rexistos do Sistema
Name[he]=מציג לרישומי המערכת
Name[hr]=Preglednik zapisnika sustava
Name[hu]=Rendszernapló-megjelenítő
Name[is]=Kerfisannálabirtir
Name[it]=Visualizzatore dei log di sistema
Name[ja]=システムログビューア
Name[ka]=სისტემური ჩანაწერების ნახვა
Name[kk]=Жүйелік журналды қарау құралы
Name[km]=កម្មវិធី​មើល​កំណត់ហេតុ​ប្រព័ន្ធ
Name[lt]=Sistemos žurnalo stebėtojas
Name[lv]=Sistēmas Žurnālu Skatītājs
Name[mk]=Прегледувач на системски дневници
Name[ms]=Pemapar Log Sistem
Name[nb]=Systemlogframviser
Name[nds]=Kieker för't Systeemlogbook
Name[ne]=प्रणाली लग दर्शक
Name[nl]=systeemlogweergaveprogramma
Name[nn]=Systemloggvisar
Name[pa]=ਸਿਸਟਮ ਲਾਗ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dzienników systemowych
Name[pt]=Monitor dos Registos do Sistema
Name[pt_BR]=Visualizador de Logs do Sistema
Name[ro]=Vizualizor jurnale sistem
Name[ru]=Просмотр системных журналов
Name[se]=Vuogádatlogga čájeheaddji
Name[sl]=Pregledovalnik sistemskih dnevnikov
Name[sr]=Приказивач системског дневника
Name[sr@latin]=Prikazivač sistemskog dnevnika
Name[sv]=Systemloggvisare
Name[ta]=அமைப்பு தொடங்கு காட்சியாளர்
Name[tg]=Намоиши маҷаллаҳои система
Name[tr]=Sistem Günlüğü İzleyici
Name[uk]=Переглядач системних журналів
Name[uz]=Тизим логини кўрувчи
Name[wa]=Håyneu des fitchîs djournå do sistinme
Name[x-test]=xxSystem Log Viewerxx
Name[xh]=Umboniseli Woshicilelo oluneenkcukacha Lwendlela esetyenziswayo
Name[zh_TW]=系統紀錄檔檢視器
Exec=logview
Terminal=false
Icon=logview
Type=Application
