[Desktop Entry]
Version=1.0
Name=Freeciv
Name[af]=Freeciv
Name[ar]=لعبة Freeciv
Name[as]=Freeciv
Name[be]=Freeciv
Name[be@latin]=Freeciv
Name[bg]=Freeciv
Name[bn]=ফ্রীসিভ
Name[bn_IN]=Freeciv
Name[br]=Freeciv
Name[ca]=Freeciv
Name[ca@valencia]=Freeciv
Name[cs]=Freeciv
Name[csb]=Freeciv
Name[cy]=Freeciv
Name[da]=Freeciv
Name[de]=Freeciv
Name[el]=Freeciv
Name[en_GB]=Freeciv
Name[eo]=FreeCiv
Name[es]=Freeciv
Name[et]=Freeciv
Name[eu]=Freeciv
Name[fi]=Freeciv
Name[fr]=Freeciv
Name[fy]=Freeciv
Name[ga]=Freeciv
Name[gl]=Freeciv
Name[gu]=ફ્રીસિવ
Name[he]=Freeciv
Name[hi]=फ्रीसिव
Name[hne]=फ्रीसिव
Name[hr]=Freeciv
Name[hsb]=Freeciv
Name[hu]=Freeciv
Name[is]=Freeciv
Name[it]=Freeciv
Name[ja]=Freeciv
Name[ka]=Freeciv
Name[kk]=Freeciv
Name[km]=Freeciv
Name[kn]=ಫ್ರೀಸಿವ್
Name[ko]=Freeciv
Name[ku]=Freeciv
Name[lt]=Freeciv
Name[lv]=Freeciv
Name[mai]=फ्रीसिव
Name[mk]=Freeciv
Name[ml]=ഫ്രീസിവ്
Name[mr]=फ्रीसिव
Name[ms]=Freeciv
Name[nb]=Freeciv
Name[nds]=Freeciv
Name[ne]=फ्रिसिभ
Name[nl]=Freeciv
Name[nn]=Freeciv
Name[or]=Freeciv
Name[pa]=ਫਰੀਕਿਵ
Name[pl]=Freeciv
Name[pt]=Freeciv
Name[pt_BR]=Freeciv
Name[ro]=Freeciv
Name[ru]=Freeciv
Name[se]=Freeciv
Name[si]=Freeciv
Name[sk]=Freeciv
Name[sl]=Freeciv
Name[sr]=Фрицив
Name[sr@latin]=Freeciv
Name[sv]=Friciv
Name[ta]=பிரிசிஐவி
Name[te]=ఫ్రీసివ్
Name[tg]=Freeciv
Name[th]=Freeciv
Name[tr]=Freeciv
Name[uk]=Freeciv
Name[uz]=Freeciv
Name[uz@cyrillic]=Freeciv
Name[vi]=Freeciv
Name[wa]=Freeciv
Name[xh]=Freeciv
Name[x-test]=xxFreecivxx
Name[zh_CN]=Freeciv(类文明游戏)
Name[zh_TW]=Freeciv 仿「文明帝國」遊戲
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=ألعاب استراتيجية
GenericName[as]=Strategy Game
GenericName[be]=Стратэгічная гульня
GenericName[be@latin]=Stratehičnaja hulnia
GenericName[bg]=Стратегическа игра
GenericName[bn]=চাতুর্যের খেলা
GenericName[br]=C'hoari a gadouriezh
GenericName[ca]=Joc d'estratègia
GenericName[ca@valencia]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[csb]=Strategicznô gra
GenericName[cy]=Gêm Strategaeth
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[en_GB]=Strategy Game
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[eu]=Estrategia jokoa
GenericName[fa]=بازی راهبرد
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[fy]=Strategysk spul
GenericName[ga]=Cluiche Straitéise
GenericName[gl]=Xogo de estratexia
GenericName[gu]=રણનીતિ રમત
GenericName[he]=משחק אסטרטגיה
GenericName[hi]=कौशल का खेल
GenericName[hne]=कौसल वाले खेल
GenericName[hr]=Slobodna verzija Civilizacije – Igra strategije
GenericName[hsb]=Strategijowe hry
GenericName[hu]=Stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[ka]=სტრატეგიული თამაში
GenericName[kk]=Стратегия ойыны
GenericName[km]=ល្បែង​យុទ្ធសាស្ត្រ
GenericName[kn]=ತಂತ್ರೋಪಾಯದಾಟ
GenericName[ko]=전술 게임
GenericName[ku]=Lîstika Stratejî
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģijas spēle
GenericName[mai]=कौशल क' खेल
GenericName[mk]=Стратегиска игра
GenericName[ml]=തന്ത്രമുപയോഗിയ്ക്കേണ്ട കളി
GenericName[mr]=कौशल्याचे खेळ
GenericName[ms]=Permainan Strategi
GenericName[nb]=Strategispill
GenericName[nds]=Strategiespeel
GenericName[ne]=रणनीति खेल
GenericName[nl]=Strategisch spel
GenericName[nn]=Strategispel
GenericName[or]=ଯୁକ୍ତି ଖେଳ
GenericName[pa]=ਯੋਜਨਾ ਖੇਡ
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Jogo de estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Развитие цивилизации
GenericName[se]=Strategiijaspeallu
GenericName[si]=Strategy Game
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[sr]=Стратешка игра
GenericName[sr@latin]=Strateška igra
GenericName[sv]=Strategispel
GenericName[ta]=தந்திர விளையாட்டு
GenericName[te]=తంత్రపు ఆట
GenericName[tg]=Бозиҳои стратегӣ
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[uz]=Strategiya oʻyini
GenericName[uz@cyrillic]=Стратегия ўйини
GenericName[vi]=Trò chơi chiến thuật
GenericName[wa]=Djeu di stratedjeye
GenericName[xh]=Indlela ethile Yomdlalo
GenericName[x-test]=xxStrategy Gamexx
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
Exec=civclient
Icon=
Terminal=false
