[Desktop Entry]
Version=1.0
Name=Freeciv Server
Name[be@latin]=Server hulni „Freeciv”
Name[ca]=Servidor Freeciv
Name[de]=Freeciv-Server
Name[el]=Εξυπηρετητής Freeciv
Name[gl]=Servidor de Freeciv
Name[gu]=ફ્રીસિવ સર્વર
Name[he]=שרת Freeciv
Name[hsb]=FreeCiv serwer
Name[is]=Freeciv þjónn
Name[ja]=Freeciv サーバ
Name[kk]=Freeciv сервері
Name[km]=ម៉ាស៊ីន​បម្រើ Freeciv
Name[kn]=ಫ್ರೀಸಿವ್ ಪರಿಚಾರಕ (server)
Name[ku]=Pêşkêşkara Freeciv
Name[lt]=Freeciv serveris
Name[ml]=ഫ്രീസിവ് സെര്‍വര്‍ 
Name[nb]=Freeciv-tjener
Name[nds]=Freeciv-Server
Name[nl]=Freeciv-server
Name[pt]=Servidor do Freeciv
Name[pt_BR]=Servidor do Freeciv
Name[ro]=Server Freeciv
Name[ru]=Сервер Freeciv
Name[sv]=Freeciv-server
Name[tr]=Freeciv Sunucusu
Name[uk]=Сервер Freeciv
Name[wa]=Sierveu Freeciv
Name[x-test]=xxFreeciv Serverxx
Name[zh_TW]=Freeciv 伺服器
Type=Application
Comment=A server for Freeciv
Comment[be@latin]=Server hulni „Freeciv”
Comment[ca]=Un servidor per al Freeciv
Comment[de]=Server für Freeciv
Comment[el]=Ένας εξυπηρετητής για το Freeciv
Comment[gl]=Un servidor de Freeciv
Comment[gu]=ફ્રીસિવ માટે સર્વર
Comment[he]=שרת ל־Freeciv
Comment[hsb]=Serwer za Freeciv
Comment[is]=Þjónn fyrir Freeciv
Comment[ja]=Freeciv サーバ
Comment[kk]=Freeciv-ке арналған сервер
Comment[km]=ម៉ាស៊ីន​បម្រើ​សម្រាប់ Freeciv
Comment[kn]=ಫ್ರೀಸಿವ್ ಗೆ ಒಂದು ಪರಿಚಾರಕ (server)
Comment[ku]=Pêşkêşkareke ji bo Freeciv
Comment[lt]=Serveris skirtas Freeciv
Comment[ml]=ഫ്രീസിവിനുള്ളൊരു സെര്‍വര്‍ 
Comment[nb]=Tjener for Freeciv
Comment[nds]=En Server för Freeciv
Comment[nl]=Een server voor Freeciv
Comment[pt]=Um servidor para o Freeciv
Comment[pt_BR]=Um servidor para o Freeciv
Comment[ro]=Un server pentru Freeciv
Comment[ru]=Сервер для Freeciv
Comment[sv]=Server för Freeciv
Comment[tr]=Freeciv için bir sunucu
Comment[uk]=Сервер для Freeсiv
Comment[wa]=On sierveu po Freeciv
Comment[x-test]=xxA server for Freecivxx
Comment[zh_TW]=給 Freeciv 使用的伺服器
Exec=civserver
Terminal=true
