[Desktop Entry]
Version=1.0
Name=Freeciv
Name[bn]=ফ্রীসিভ
Name[eo]=FreeCiv
Name[hi]=फ्रीसिव
Name[ne]=फ्रिसिभ
Name[pa]=ਫਰੀਕਿਵ
Name[sr]=Фрицив
Name[sv]=Friciv
Name[ta]=இலவச சிஐவி
Name[te]=ఫ్రీసివ్
Name[x-test]=xxFreecivxx
Name[zh_CN]=Freeciv(类文明游戏)
Name[zh_TW]=Freeciv 仿「文明帝國」遊戲
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=ألعاب استراتيجية
GenericName[be]=Стратэгічная гульня
GenericName[bg]=Стратегическа игра
GenericName[bn]=চাতুর্যের খেলা
GenericName[br]=C'hoari a gadouriezh
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[csb]=Strategicznô gra
GenericName[cy]=Gêm Strategaeth
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[eu]=Estrategia jokoa
GenericName[fa]=بازی راهبرد
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[fy]=Strategysk spul
GenericName[ga]=Cluiche Straitéise
GenericName[gl]=Xogo de estratexia
GenericName[he]=משחק אסטרטגיה
GenericName[hi]=कौशल का खेल
GenericName[hr]=Slobodna verzija Civilizacije - Igra strategije
GenericName[hu]=Stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[ka]=სტრატეგიული თამაში
GenericName[kk]=Стратегия ойыны
GenericName[km]=ល្បែង​យុទ្ធសាស្ត្រ
GenericName[ko]=전술 게임
GenericName[ku]=Lîstika Stratejî
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģijas spēle
GenericName[mk]=Стратегиска игра
GenericName[ms]=Permainan Strategi
GenericName[nb]=Strategispill
GenericName[nds]=Strategiespeel
GenericName[ne]=रणनीति खेल
GenericName[nl]=Strategisch spel
GenericName[nn]=Strategispel
GenericName[pa]=ਯੋਜਨਾ ਖੇਡ
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Jogo de Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегическая игра
GenericName[se]=Strategiijaspeallu
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[sr]=Стратешка игра
GenericName[sr@latin]=Strateška igra
GenericName[sv]=Strategispel
GenericName[ta]=தந்திர விளையாட்டு
GenericName[te]=తంత్రపు ఆట
GenericName[tg]=Бозии стратегӣ
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[uz]=Стратегия ўйини
GenericName[vi]=Trò chơi chiến thuật
GenericName[wa]=Djeu di stratedjeye
GenericName[x-test]=xxStrategy Gamexx
GenericName[xh]=Indlela ethile Yomdlalo
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
Exec=civclient
Icon=
Terminal=false
