[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Freeciv
Name[bg]=Цивилизация - Freeciv
Name[eo]=Libera Civilizludo
Name[ne]=फ्रिसिभ
Name[pa]=ਫਰੀਕਿਵ
Name[sv]=Friciv
Name[ta]=இலவச சிஐவி
Name[te]=ఫ్రీసివ్
Name[x-test]=xxFreecivxx
Name[zh_TW]=Freeciv 仿「文明帝國」遊戲
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=لعبة استراتيجية
GenericName[bg]=Стратегическа игра
GenericName[br]=C'hoari a gadouriezh
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[csb]=Strategicznô gra
GenericName[cy]=Gêm Strategaeth
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[eu]=Estrategia jokoa
GenericName[fa]=بازی راهبرد
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[fy]=Strategysk spul
GenericName[ga]=Cluiche Straitéise
GenericName[gl]=Xogo de Estratexia
GenericName[he]=משחק אסטרטגיה
GenericName[hr]=Slobodna verzija Civilizacije - Igra strategije
GenericName[hu]=Stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[ka]=სტრატეგიული თამაში
GenericName[kk]=Стратегия ойыны
GenericName[km]=ល្បែង​យុទ្ធសាស្ត្រ
GenericName[ko]=전략 놀이
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģiskā Game
GenericName[mk]=Стратегиска игра
GenericName[ms]=Permainan Strategi
GenericName[nb]=Strategispill
GenericName[nds]=Strategiespeel
GenericName[ne]=रणनीति खेल
GenericName[nl]=Strategisch spel
GenericName[nn]=Strategispel
GenericName[pa]=ਯੋਜਨਾ ਖੇਡ
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегическая игра
GenericName[se]=Strategiijaspeallu
GenericName[sl]=Strateška igra
GenericName[sr]=Стратешка игра
GenericName[sr@Latn]=Strateška igra
GenericName[sv]=Strategispel
GenericName[ta]=தந்திர விளையாட்டு
GenericName[te]=తంత్రపు ఆట
GenericName[tg]=Бозии стратегӣ
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[uz]=Стратегия ўйини
GenericName[x-test]=xxStrategy Gamexx
GenericName[xh]=Indlela ethile Yomdlalo
GenericName[zh_TW]=策略遊戲
Exec=civclient
Icon=
Path=
Terminal=false
