[Desktop Entry]
Version=1.0
Name=Freeciv Server
Name[ar]=خادم Freeciv
Name[as]=Freeciv Server
Name[be@latin]=Server hulni „Freeciv”
Name[bg]=Freeciv Server
Name[bn]=ফ্রীসিভ সার্ভার
Name[bn_IN]=FreeCiv সার্ভার
Name[ca]=Servidor Freeciv
Name[ca@valencia]=Servidor Freeciv
Name[cs]=FreeCiv Server
Name[csb]=Serwera Freeciv
Name[da]=Freeciv-server
Name[de]=Freeciv-Server
Name[el]=Εξυπηρετητής Freeciv
Name[en_GB]=Freeciv Server
Name[es]=Servidor FreeCiv
Name[et]=Freecivi server
Name[eu]=Freeciv zerbitzaria
Name[fi]=Freeciv-palvelin
Name[fr]=Serveur FreeCiv
Name[fy]=FreeCiv-tsjinner
Name[ga]=Freastalaí Freeciv
Name[gl]=Servidor de Freeciv
Name[gu]=ફ્રીસિવ સર્વર
Name[he]=שרת Freeciv
Name[hi]=फ्रीसिव सर्वर
Name[hne]=फ्रीसिव सर्वर
Name[hr]=Freeciv poslužitelj
Name[hsb]=FreeCiv serwer
Name[hu]=FreeCiv-kiszolgáló
Name[is]=Freeciv þjónn
Name[it]=Server Freeciv
Name[ja]=Freeciv サーバ
Name[kk]=Freeciv сервері
Name[km]=ម៉ាស៊ីន​បម្រើ Freeciv
Name[kn]=ಫ್ರೀಸಿವ್ ಪರಿಚಾರಕ (server)
Name[ko]=FreeCiv 서버
Name[ku]=Pêşkêşkara Freeciv
Name[lt]=Freeciv serveris
Name[lv]=Freeciv serveris
Name[mai]=फ्रीसिव सर्वर
Name[mk]=Freeciv-сервер
Name[ml]=ഫ്രീസിവ് സെര്‍വര്‍ 
Name[mr]=Freeciv सर्वर
Name[ms]=Pelayan Freeciv
Name[nb]=Freeciv-tjener
Name[nds]=Freeciv-Server
Name[nl]=Freeciv-server
Name[nn]=Freeciv-tenar
Name[or]=Freeciv ସର୍ଭର
Name[pa]=ਫਰੀਕਿਵ ਸਰਵਰ
Name[pl]=Serwer FreeCiv
Name[pt]=Servidor do Freeciv
Name[pt_BR]=Servidor do Freeciv
Name[ro]=Server Freeciv
Name[ru]=Freeciv Server
Name[se]=Freeciv-bálvá
Name[si]=Freeciv Server
Name[sk]=FreeCiv Server
Name[sl]=Freeciv - strežnik
Name[sr]=Фрицив, сервер
Name[sr@latin]=Freeciv, server
Name[sv]=Freeciv-server
Name[ta]=கட்டற்ற சிஐவி வழங்கி
Name[tg]=Хидматгоҳи Freeciv
Name[th]=เซิร์ฟเวอร์ FreeCiv
Name[tr]=Freeciv Sunucusu
Name[uk]=Сервер Freeciv
Name[wa]=Sierveu Freeciv
Name[x-test]=xxFreeciv Serverxx
Name[zh_CN]=Freeciv 服务器
Name[zh_TW]=Freeciv 伺服器
Type=Application
Comment=A server for Freeciv
Comment[ar]=خادم لـ Freeciv
Comment[as]=Freeciv ৰ কাৰণে সেৱক
Comment[be@latin]=Server hulni „Freeciv”
Comment[bg]=Сървър за играта "Freeciv"
Comment[bn]=ফ্রীসিভ-এর জন্য একটি সার্ভার
Comment[bn_IN]=Free Civ-র সার্ভার
Comment[ca]=Un servidor per al Freeciv
Comment[ca@valencia]=Un servidor per al Freeciv
Comment[cs]=Server pro FreeCiv
Comment[csb]=Serwera dlô Freeciv
Comment[da]=En server til Freeciv
Comment[de]=Server für Freeciv
Comment[el]=Ένας εξυπηρετητής για το Freeciv
Comment[en_GB]=A server for Freeciv
Comment[es]=Un servidor para Free Civ
Comment[et]=Freecivi mängu server
Comment[eu]=Freeciv-erako zerbitzari bat
Comment[fi]=Palvelin FreeCiv-pelille
Comment[fr]=Un serveur pour FreeCiv
Comment[fy]=In tsjinner foar FreeCiv
Comment[ga]=Freastalaí don chluiche Freeciv
Comment[gl]=Un servidor de Freeciv
Comment[gu]=ફ્રીસિવ માટે સર્વર
Comment[he]=שרת ל־Freeciv
Comment[hi]=फ्रीसिव के लिए सर्वर
Comment[hne]=फ्री सिव बर एक सर्वर
Comment[hr]=Poslužitelj za igru Freeciv
Comment[hsb]=Serwer za Freeciv
Comment[hu]=Kiszolgáló a Freeciv játékhoz
Comment[is]=Þjónn fyrir Freeciv
Comment[it]=Un server per Freeciv
Comment[ja]=Freeciv サーバ
Comment[kk]=Freeciv-ке арналған сервер
Comment[km]=ម៉ាស៊ីន​បម្រើ​សម្រាប់ Freeciv
Comment[kn]=ಫ್ರೀಸಿವ್ ಗೆ ಒಂದು ಪರಿಚಾರಕ (server)
Comment[ko]=Freeciv를 위한 서버
Comment[ku]=Pêşkêşkareke ji bo Freeciv
Comment[lt]=Serveris skirtas Freeciv
Comment[lv]=Serveris Freeciv spēlei
Comment[mai]=फ्रीसिवक लेल सर्वर
Comment[mk]=Сервер за Freeciv
Comment[ml]=ഫ്രീസിവിനുള്ളൊരു സെര്‍വര്‍ 
Comment[mr]=Freeciv करीता सर्वर
Comment[nb]=Tjener for Freeciv
Comment[nds]=En Server för Freeciv
Comment[nl]=Een server voor Freeciv
Comment[nn]=Ein tenar for Freeciv
Comment[or]=Freeciv ପାଇଁ ଗୋଟିଏ ସର୍ଭର
Comment[pa]=ਫਰੀ ਕਿਵ ਲਈ ਸਰਵਰ
Comment[pl]=Serwer dla FreeCiv (darmowa wersja Civilization)
Comment[pt]=Um servidor para o Freeciv
Comment[pt_BR]=Um servidor para o Freeciv
Comment[ro]=Un server pentru Freeciv
Comment[ru]=Сервер для Freeciv
Comment[se]=Free Civ speallobálvá 
Comment[si]=A server for Freeciv
Comment[sk]=Server pre FreeCiv
Comment[sl]=Strežnik za Freeciv
Comment[sr]=Сервер за Фрицив
Comment[sr@latin]=Server za Freeciv
Comment[sv]=Server för Freeciv
Comment[ta]=கட்டற்ற சி ஐ விக்கானதொரு வழங்கி
Comment[tg]=Хидматгоҳ барои Freeciv
Comment[th]=เซิร์ฟเวอร์เกม FreeCiv
Comment[tr]=Freeciv için bir sunucu
Comment[uk]=Сервер для Freeсiv
Comment[wa]=On sierveu po Freeciv
Comment[x-test]=xxA server for Freecivxx
Comment[zh_CN]=Freeciv 的服务器
Comment[zh_TW]=給 Freeciv 使用的伺服器
Exec=civserver
Terminal=true
