[Desktop Entry]
Version=1.0
Name=FreeCiv Server
Name[af]=Freeciv Bediener
Name[ar]=خادم FreeCiv
Name[be]=Сервер для FreeCiv
Name[bn]=ফ্রীসিভ সার্ভার
Name[br]=Servijer FreeCiv
Name[ca]=Servidor FreeCiv
Name[csb]=Serwera FreeCiv
Name[cy]=Gweinydd FreeCiv
Name[da]=FreeCiv-server
Name[de]=FreeCiv-Server
Name[el]=FreeCiv εξυπηρετητής
Name[eo]=FreeCiv servilo
Name[es]=Servidor FreeCiv
Name[et]=FreeCivi server
Name[eu]=FreeCiv zerbitzaria
Name[fa]=FreeCiv کارساز
Name[fi]=Freeciv-palvelin
Name[fy]=FreeCiv-tsjinner
Name[ga]=Freastalaí FreeCiv
Name[gl]=Servidor de FreeCiv
Name[gu]=ફ્રીસિવ સર્વર
Name[he]=שרת FreeCiv
Name[hi]=फ्रीसिव सर्वर
Name[hr]=Freeciv poslužitelj
Name[hu]=FreeCiv-kiszolgáló
Name[is]=FreeCiv Þjónn
Name[it]=Server Freeciv
Name[ja]=FreeCiv サーバ
Name[ka]=FreeCiv–ის სერვერი
Name[kk]=FreeCiv сервері
Name[km]=ម៉ាស៊ីន​បម្រើ FreeCiv
Name[ko]=FreeCiv 서버
Name[ku]=Pêşkêşkara FreeCiv
Name[lt]=FreeCiv serveris
Name[lv]=Freeciv serveris
Name[mk]=FreeCiv сервер
Name[ml]=ഫ്രീസിവ് സെര്‍വര്‍
Name[ms]=Pelayan FreeCiv
Name[nb]=Freeciv-tjener
Name[ne]=फ्रिसिभ सर्भर
Name[nl]=FreeCiv-server
Name[nn]=Freeciv-tenar
Name[pa]=ਫਰੀਕਿਵ ਸਰਵਰ
Name[pl]=Serwer FreeCiv
Name[pt]=Servidor do Freeciv
Name[pt_BR]=Servidor do FreeCiv
Name[ro]=Server Freeciv
Name[ru]=Сервер FreeCiv
Name[se]=Freeciv-bálvá
Name[sl]=Strežnik Freeciv
Name[sr]=Фрицив, сервер
Name[sr@latin]=Freeciv, server
Name[sv]=Freeciv-server
Name[ta]=கட்டற்ற சிஐவி வழங்கி
Name[te]=ఫ్రీసివ్ సెర్వర్
Name[tg]=Сервери FreeCiv
Name[th]=เซิร์ฟเวอร์ FreeCiv
Name[tr]=FreeCiv Sunucusu
Name[uk]=Сервер Freeciv
Name[uz]=FreeCiv serveri
Name[uz@cyrillic]=FreeCiv сервери
Name[vi]=Trình phục vụ Freeciv
Name[wa]=Sierveu FreeCiv
Name[x-test]=xxFreeCiv Serverxx
Name[xh]=Umncedisi we FreeCiv
Name[zh_CN]=FreeCiv 服务器
Name[zh_TW]=FreeCiv 伺服器
Type=Application
Comment=A server for Free Civ
Comment[af]='n Bediener vir FreeCiv
Comment[be]=Сервер для Свабоднай Цывілізацыі
Comment[bg]=Сървър за играта цивилизация
Comment[bn]=ফ্রীসিভ-এর জন্য সার্ভার 
Comment[br]=Ur servijer evit Free Civ
Comment[ca]=Un servidor per a Free Civ
Comment[cs]=Server pro FreeCiv
Comment[csb]=Serwera dlô FreeCiv (darmôk wersëjô Civilization)
Comment[cy]=Gweinydd i FreeCiv
Comment[da]=En server for FreeCiv
Comment[de]=Server für Free Civ
Comment[el]=Ένας εξυπηρετητής για το Free Civ
Comment[eo]=Servilo por FreeCiv
Comment[es]=Un servidor para Free Civ
Comment[et]=FreeCivi mängu server
Comment[eu]=Free Civ-erako zerbitzari bat
Comment[fa]=یک کارساز برای Free Civ
Comment[fi]=Palvelin FreeCiv-pelille
Comment[fr]=Un serveur pour Free Civ
Comment[fy]=In tsjinner foar Free Civ
Comment[ga]=Freastalaí don chluiche Free Civ
Comment[gl]=Un servidor de Free Civ
Comment[gu]=ફ્રીસિવ માટે સર્વર
Comment[he]=שרת ל־Free Civ
Comment[hi]=फ्री सिव के लिए एक सर्वर
Comment[hr]=Poslužitelj za igru FreeCiv
Comment[hu]=A FreeCiv kiszolgálókomponense
Comment[is]=Þjónn fyrir Free Civ
Comment[it]=Un server per Freeciv
Comment[ja]=Free Civ サーバ
Comment[ka]=სერვერი FreeCiv–ისთვის
Comment[kk]=Free Civ-ке арналған сервер
Comment[km]=ម៉ាស៊ីន​បម្រើ​សម្រាប់ Free Civ
Comment[ko]=Free Civ를 위한 서버
Comment[ku]=Pêşkêşkareke ji bo FreeCiv
Comment[lt]=Free Civ skirtas serveris
Comment[lv]=Serveris Freeciv spēlei
Comment[mk]=Сервер за FreeCiv
Comment[ml]=ഫ്രീസിവിനുള്ളൊരു സെര്‍വര്‍
Comment[ms]=Pelayan untuk Free Civ
Comment[nb]=Tjener for Freeciv
Comment[nds]=Server för Free Civ
Comment[ne]=स्वतन्त्र सिभका लागि सर्भर
Comment[nl]=Een server voor Free Civ
Comment[nn]=Ein tenar for Free Civ
Comment[pa]=ਫਰੀ ਕਿਵ ਲਈ ਸਰਵਰ
Comment[pl]=Serwer dla FreeCiv (darmowa wersja Civilization)
Comment[pt]=Um servidor para o Free Civ
Comment[pt_BR]=Um servidor para o Free Civ
Comment[ro]=Un server pentru FreeCiv
Comment[ru]=Сервер для FreeCiv
Comment[se]=Free Civ speallobálvá 
Comment[sk]=Server pre FreeCiv
Comment[sl]=Strežnik za Free Civ
Comment[sr]=Сервер за Фрицив
Comment[sr@latin]=Server za Freeciv
Comment[sv]=Server för Freeciv
Comment[ta]=கட்டற்ற சி ஐ விக்கானதொரு வழங்கி
Comment[te]=ఫ్రీ సివ్ కొరకు సెర్వర్
Comment[tg]=Сервер барои Free Civ
Comment[th]=เซิร์ฟเวอร์เกม Free Civ
Comment[tr]=FreeCiv için sunucu
Comment[uk]=Сервер для Free Civ
Comment[uz]=Free Civ uchun server
Comment[uz@cyrillic]=Free Civ учун сервер
Comment[vi]=Trình phục vụ FreeCiv
Comment[wa]=On sierveu po Free Civ
Comment[x-test]=xxA server for Free Civxx
Comment[xh]=Umncedisi we Free Civ
Comment[zh_CN]=Free Civ 的服务器
Comment[zh_TW]=給 Free Civ 使用的伺服器
Exec=civserver
Terminal=true
