[Desktop Entry]
Version=1.0
Name=XScorch
Name[ar]=إكس إسكورش
Name[hi]=एक्स-स्क्रॉच
Name[ne]=एक्स स्कोर्च
Name[pa]=X ਸਕੋਰਚ
Name[sr]=Икс‑скорч
Name[sv]=Xscorch
Name[ta]=Xஸ்கார்ச்
Name[te]=ఎక్స్ స్కార్చ్
Name[x-test]=xxXScorchxx
Type=Application
Comment=A free Scorched Earth clone for UNIX and X
Comment[af]='n Gratis 'Scorched Earth' nabootsing vir UNIX en X
Comment[be]=Свабодны клон Scorched Earth для UNIX і X
Comment[bg]=Безплатен вариант на играта Scorched Earth за UNIX и X
Comment[bn]=ইউনিক্স এবং এক্স-এর জন্য Scorched Earth-এর একটি ফ্রী ক্লোন
Comment[ca]=Un clònic lliure del Scorched Earth per a Unix i X
Comment[cs]=Volný klon Scorched Earth pro UNIX a X
Comment[csb]=Darmôk klon grë Scorched Earth (Spalonô Zemia) dlô Uniksa ë XWindow
Comment[cy]=Clôn rhydd Tir Llosg i Unix ac X
Comment[da]=En fri Scorched Earth-klon for UNIX og X
Comment[de]=Freier Klon von Scorched Earth für UNIX und X11
Comment[el]=Ελεύθερα διαθέσιμος κλώνος του Scorched Earth για Unix και X
Comment[eo]=Libera klono de Scorched Earth por unikso kaj X
Comment[es]=Un clon libre para Unix y X de Scorched Earth.
Comment[et]=Vaba Scorched Earth kloon X'le ja UNIX'le
Comment[eu]=X eta UNIXerako Scorched Earth-en klone librea
Comment[fa]=یک بدل Scorched Earth برای یونیکس و X
Comment[fi]=Vapaa Scorched Earth -klooni UNIX- ja X-alustalle
Comment[fr]=Un clone libre de Scorched Earth pour UNIX et X
Comment[fy]=In fergese kloan fan Scorched Earth foar UNIX en X
Comment[ga]=Clón Saor de Scorched Earth le haghaidh UNIX agus X
Comment[gl]=Un clon libre de Scorched Earth para UNIX e X
Comment[he]=תואם Scorched Earth חופשי
Comment[hi]=यूनिक्स तथा एक्स के लिए एक मुफ्त स्क्रॉच्ड पृथ्वी
Comment[hr]=Slobodan klon igre Scorched Earth za UNIX i X-e
Comment[hu]=Egy ingyenes UNIX/X-alapú Scorched Earth változat
Comment[is]=Frjáls Scorched Earth klón fyrir UNIX og X
Comment[it]=Un clone per UNIX e X di Scorched Earth
Comment[ja]=Unix および X 用のフリーの Scorched Earth クローン
Comment[ka]=თავისუფალი კლონი Scorched Earth, UNIX–სა და X–ისთვის
Comment[kk]= UNIX және X-ке арналған еркін Scorched Earth клоны
Comment[km]=ក្លូន​ផែនដី​ដែល​មាន​ស្នាម​​ឥត​គិត​ថ្លៃ​សម្រាប់​យូនីក និង X
Comment[ko]=UNIX 및 X용 Scorched Earth 클론
Comment[lt]=Laisvas Scorched Earth klonas, skirtas UNIX ir X
Comment[lv]=Brīvais Scorched Earth klons priekš UNIX un X
Comment[mk]=Слободен клон на Scorched Earth за UNIX и X
Comment[ms]=Klon percuma Scorched Earth untuk UNIX dan X
Comment[nb]=En fri klone av Scorched Earth for UNIX og X
Comment[nds]=En "Scorched Earth"-Kloon för UNIX un X, de ümsunst is
Comment[ne]=युनिक्स र एक्सका लागि एउटा स्वतन्त्र स्क्रोच गरिएको पृथ्वी क्लोन
Comment[nl]=Een gratis kloon van Scorched Earth voor UNIX en X
Comment[nn]=Ein fri klone av Scorched Earth for UNIX og X
Comment[pa]=UNIX ਅਤੇ X ਮੁਫਤ ਸਕੋਰਚਡ ਅਰਥ ਸਮਰੂਪ
Comment[pl]=Darmowy klon gry Scorched Earth (Spalona Ziemia) dla Uniksa i XWindow
Comment[pt]=Um clone gratuito do Scorched Earth para o UNIX e o X
Comment[pt_BR]=Um clone livre do Scorched Earth para UNIX e X
Comment[ro]=O clonă gratuită de Pămîntul Ars pentru UNIX şi X
Comment[ru]=Свободный клон Scorched Earth для UNIX и X
Comment[se]=Fridja UNIX ja X «Scorched Earth» klona
Comment[sk]=Voľný klon Scorched Earth pre UNIX a X
Comment[sl]=Prosti klon igre Scorched Earth za UNIX in X
Comment[sr]=Бесплатан клон Спаљене земље за Уникс и Икс
Comment[sr@latin]=Besplatan klon Spaljene zemlje za Unix i X
Comment[sv]=Fri kopia av Scorched Earth för Unix och X
Comment[ta]=யூனிக்ஸ் மற்றும் எக்ஸ்க்கான ஒரு இலவச உலர்ந்த பூமி பிரதி 
Comment[te]=యూనిక్స్ మరయు ఎక్స్ కొరకు స్కార్చిడ్ భూమి యొక్క క్లోన్
Comment[tg]=Клони озоди Scorched Earth барои UNIX ва X
Comment[th]=เกมแบบ Scorched Earth แจกฟรีสำหรับยูนิกซ์และ X
Comment[tr]=UNIX ve X için serbest bir Scorched Earth sürümü
Comment[uk]=Вільний клон Scorched Earth для UNIX та X
Comment[uz]=Scorched Earth ўйинининг UNIX ва X учун эркин нусхаси
Comment[vi]=Trò Scorched Earth nhái miễn phí cho UNIX và X
Comment[wa]=On clône libe di Scorched Earth po UNIX eyet X
Comment[x-test]=xxA free Scorched Earth clone for UNIX and Xxx
Comment[xh]=Eyasimahla i Scorched Earth clone ye UNIX ne X
Comment[zh_CN]=用于 Unix 和 X 的免费焦土克隆游戏
Comment[zh_TW]=UNIX 與 X 上的免費 Scorched Earth 仿製遊戲
Exec=xscorch
Icon=
Terminal=false
