[Desktop Entry]
Name=X Calc
Name[af]=X Calc
Name[ar]=الحاسبة X
Name[as]=X Calc
Name[be]=Калькулятар X
Name[be@latin]=X Calc
Name[bg]=X Calc
Name[bn]=এক্স ক্যাল্ক
Name[bn_IN]=X Calc
Name[br]=Jederez X
Name[ca]=X Calc
Name[ca@valencia]=X Calc
Name[cs]=X Calc
Name[csb]=X Kalkùlator
Name[cy]=X Calc
Name[da]=X Calc
Name[de]=X-Calc
Name[el]=X Calc
Name[en_GB]=X Calc
Name[eo]=X Calc
Name[es]=Calculadora de X
Name[et]=X Calc
Name[eu]=X Calc
Name[fa]=ماشین حساب X
Name[fi]=X-laskin
Name[fr]=XCalc
Name[fy]=X Calc
Name[ga]=Áireamhán X
Name[gl]=X Calc
Name[gu]=X Calc
Name[he]=X Calc
Name[hi]=एक्स केल्क
Name[hne]=एक्स केल्क
Name[hr]=X Calc
Name[hsb]=X Calc
Name[hu]=X Calc
Name[is]=X reiknivél
Name[it]=X Calc
Name[ja]=X Calc
Name[ka]=X Calc
Name[kk]=X Calc
Name[km]=X Calc
Name[kn]=ಕ್ಸಕ್ಯಾಲ್ಕ್
Name[ko]=X 계산기
Name[ku]=X Calc
Name[lt]=X Calc
Name[lv]=X kalkulators
Name[mai]=एक्स केल्क
Name[mk]=X Calc
Name[ml]=X Calc
Name[mr]=एक्स कॅल्क
Name[ms]=X Calc
Name[nb]=X-kalkulator
Name[nds]=X-Calc
Name[ne]=X क्याल्क
Name[nl]=X Calc
Name[nn]=X-kalkulator
Name[oc]=X Calc
Name[or]=X Calc
Name[pa]=X ਕੈਲਸ
Name[pl]=X Kalkulator
Name[pt]=Calculadora X
Name[pt_BR]=X Calc
Name[ro]=Calculator X
Name[ru]=X Calc
Name[se]=X Calc
Name[si]=X Calc
Name[sk]=X Calc
Name[sl]=X Calc
Name[sr]=Икс‑калк
Name[sr@latin]=XCalc
Name[sv]=X calc
Name[ta]=X கணக்கிடி
Name[te]=X Calc
Name[tg]=X Calc
Name[th]=เครื่องคิดเลข X
Name[tr]=X Calc
Name[uk]=X Calc
Name[uz]=X uchun kalkulyator
Name[uz@cyrillic]=X учун калкулятор
Name[vi]=Máy tính X
Name[wa]=X Calc
Name[xh]=X Calc
Name[x-test]=xxX Calcxx
Name[zh_CN]=X Calc
Name[zh_TW]=X Calc
MimeType=
GenericName=Calculator
GenericName[af]=Sak rekenaar
GenericName[ar]=آلة حاسبة
GenericName[as]=Calculator
GenericName[be]=Калькулятар
GenericName[be@latin]=Kalkulatar
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[bn_IN]=ক্যালকুলেটর
GenericName[br]=Jederez
GenericName[ca]=Calculadora
GenericName[ca@valencia]=Calculadora
GenericName[cs]=Kalkulátor
GenericName[csb]=Kalkùlator
GenericName[cy]=Cyfrifiannell
GenericName[da]=Regnemaskine
GenericName[de]=Rechner
GenericName[el]=Αριθμομηχανή
GenericName[en_GB]=Calculator
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[fy]=Rekkenmasine
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[gu]=કેલ્ક્યુલેટર
GenericName[he]=מחשבון
GenericName[hi]=गणक
GenericName[hne]=गनक
GenericName[hr]=Kalkulator
GenericName[hsb]=Ličak
GenericName[hu]=Számológép
GenericName[is]=Vasareiknir
GenericName[it]=Calcolatrice
GenericName[ja]=計算機
GenericName[ka]=კალკულატორი
GenericName[kk]=Калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[kn]=ಲೆಕ್ಕಿಗ (ಕಾಲ್ಕುಲೇಟರ್)
GenericName[ko]=계산기
GenericName[ku]=Hesêbkar
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mai]=कैलकुलेटर
GenericName[mk]=Дигитрон
GenericName[ml]=ഗണനി
GenericName[mr]=गणनायंत्र
GenericName[ms]=Kalkulator
GenericName[nb]=Kalkulator
GenericName[nds]=Taschenreekner
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[oc]=Calculeta
GenericName[or]=କାଲକୁଲେଟର
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ro]=Calculator
GenericName[ru]=Калькулятор
GenericName[se]=Kalkuláhtor
GenericName[si]=ගණනය
GenericName[sk]=Kalkulačka
GenericName[sl]=Kalkulator
GenericName[sr]=Калкулатор
GenericName[sr@latin]=Kalkulator
GenericName[sv]=Miniräknare
GenericName[ta]=கணிப்பொறி
GenericName[te]=గణనపరికరం
GenericName[tg]=Калкулятор
GenericName[th]=เครื่องคิดเลข
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[uz]=Kalkulyator
GenericName[uz@cyrillic]=Калкулятор
GenericName[vi]=Máy tính
GenericName[wa]=Carculete
GenericName[xh]=Umatshini wokubala
GenericName[x-test]=xxCalculatorxx
GenericName[zh_CN]=计算器
GenericName[zh_TW]=計算機
Exec=xcalc
Icon=xcalc
Type=Application
Terminal=false
X-KDE-StartupNotify=true
