[Desktop Entry]
Name=X Clipboard
Name[af]=X Klipbord
Name[ar]=حافظة X
Name[be]=Буфер абмену X
Name[bn]=এক্স ক্লিপবোর্ড
Name[br]=Golver X
Name[ca]=Portapapers X
Name[csb]=X Tacnik
Name[cy]=X Gludfwrdd
Name[da]=X Klippebord
Name[de]=X-Clipboard
Name[el]=Πρόχειρο του X
Name[es]=Portapapeles de X
Name[eu]=X arbela
Name[fa]=تخته یادداشت X
Name[fi]=X-leikepöytä
Name[fr]=XClipboard
Name[ga]=Gearrthaisce X
Name[hi]=एक्स क्लिपबोर्ड
Name[hr]=X međuspremnik
Name[is]=X klippispjald
Name[ka]=X გაცვლის ბუფერი
Name[kk]=X алмасу буфері
Name[km]=ក្ដារ​តម្បៀត​ខ្ទាស់ X
Name[ko]=X 클립보드
Name[ku]=Panoya X'yê
Name[lv]=X starpliktuve
Name[mk]=X Табла со исечоци
Name[nb]=X-utklippstavle
Name[nds]=X-Clipboard
Name[ne]=X क्लिपबोर्ड
Name[nn]=X-utklippstavle
Name[pa]=X ਕਲਿੱਪਬੋਰਡ
Name[pl]=X Schowek
Name[pt]=Área de Transferência do X
Name[ro]=Clipboard X
Name[ru]=Буфер обмена X
Name[se]=X-čuohpusgirji
Name[sr]=Икс‑исечци
Name[sr@latin]=X‑isečci
Name[sv]=X clipboard
Name[ta]=X தற்காலிக நினைவு
Name[tg]=Тахтагираи X
Name[tr]=X Panosu
Name[uz]=X клипборд
Name[vi]=Bảng nháp X
Name[x-test]=xxX Clipboardxx
Name[xh]=Ibhodi yokuqhoboshela ye X
Name[zh_CN]=X 剪贴板
Name[zh_TW]=X 剪貼簿
MimeType=
GenericName=Clipboard Viewer
GenericName[af]=Klipbord Aansig
GenericName[ar]=عارض الحافظة
GenericName[be]=Праглядальнік буфера абмену
GenericName[bg]=Преглед на системния буфер
GenericName[bn]=ক্লিপবোর্ড পরীক্ষক
GenericName[br]=Gweler ar golver
GenericName[ca]=Visor del portapapers
GenericName[cs]=Prohlížeč schránky
GenericName[csb]=Przezérnik tacnika
GenericName[cy]=Gwelydd Clipfwrdd 
GenericName[da]=Klippebordsfremviser
GenericName[de]=Inhalt der Zwischenablage anzeigen
GenericName[el]=Προβολέας πρόχειρου
GenericName[eo]=Rigardilo por la X-poŝenhavo
GenericName[es]=Visor del portapapeles
GenericName[et]=Lõikepuhvri näitaja
GenericName[eu]=Arbelaren ikustailua
GenericName[fa]=مشاهده‌گر تخته یادداشت
GenericName[fi]=Leikepöydän näytin
GenericName[fr]=Pour afficher le contenu du presse-papiers
GenericName[fy]=Klamboerd werjouwer
GenericName[ga]=Amharcán an Ghearrthaisce
GenericName[gl]=Visor do portarretallos
GenericName[he]=מציג לוח עריכה
GenericName[hi]=क्लिपबोर्ड प्रदर्शक
GenericName[hr]=Preglednik međuspremnika
GenericName[hu]=Vágólap-nézegető
GenericName[is]=Klippispjaldsbirtir
GenericName[it]=Visore degli appunti
GenericName[ja]=クリップボードビューア
GenericName[ka]=ბუფერის სანახავი პროგრამა
GenericName[kk]=Алмасу буферді қарау құралы
GenericName[km]=កម្មវិធី​មើល​ក្ដារ​តម្បៀត​ខ្ទាស់
GenericName[ko]=클립보드 뷰어
GenericName[ku]=Nîşandêra Panoyê
GenericName[lt]=Laikinos talpyklės žiūriklis
GenericName[lv]=Starpliktuves skatītājs
GenericName[mk]=Прегледувач на таблата со исечоци
GenericName[ms]=Pemapar Klipbod
GenericName[nb]=Utklippstavleframviser
GenericName[nds]=Kieker för de Twischenaflaag
GenericName[ne]=क्लिपबोर्ड दर्शक
GenericName[nl]=Klembordbeheer
GenericName[nn]=Utklippstavlevisar
GenericName[pa]=ਕਲਿੱਪਬੋਰਡ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka schowka
GenericName[pt]=Visualizador da Área de Transferência
GenericName[pt_BR]=Visualizador da Área de Transferência
GenericName[ro]=Vizualizor de clipboard
GenericName[ru]=Программа просмотра буфера X
GenericName[se]=Čuohpusgirječájeheaddji
GenericName[sk]=Prehliadač schránky
GenericName[sl]=Pregledovalnik odložišča
GenericName[sr]=Приказивач клипборда
GenericName[sr@latin]=Prikazivač klipborda
GenericName[sv]=Klippbordsvisare
GenericName[ta]=ஒட்டுப்பலகைக் காட்டி
GenericName[tg]=Намоишгари тахтагира
GenericName[th]=ตัวแสดงเนื้อหาคลิปบอร์ด
GenericName[tr]=Pano Görüntüleyici
GenericName[uk]=Pemapar Klipbod
GenericName[uz]=Клипбордни кўрувчи
GenericName[vi]=Bộ xem bảng nháp
GenericName[wa]=Håyneu do contnou do tchapea emacralé
GenericName[x-test]=xxClipboard Viewerxx
GenericName[xh]=Umboniseli Webhodi eqhoboshayo
GenericName[zh_CN]=剪贴板查看器
GenericName[zh_TW]=剪貼簿檢視器
Exec=xclipboard
Icon=xclipboard
Type=Application
Terminal=false
X-KDE-StartupNotify=true
