[Desktop Entry]
Encoding=UTF-8
SwallowTitle=xclock
SwallowTitle[no]=xclock
SwallowTitle[pl]=xclock
SwallowExec=xclock -padding 0
MimeType=
Name=X Clock
Name[af]=X Horlosie
Name[ar]=X ساعة
Name[be]=Гадзіннік X
Name[br]=Eureier X
Name[ca]=Rellotge X
Name[csb]=X Zédżer
Name[cy]=X Cloc
Name[da]=X Ur
Name[de]=X-Clock
Name[el]=Ρολόι X
Name[eo]=XHorloĝo
Name[es]=Reloj de X
Name[eu]=X erlojua
Name[fa]=ساعت X
Name[fi]=X-kello
Name[fr]=XClock
Name[ga]=Clog X
Name[hr]=X sat
Name[is]=X klukka
Name[ka]=X საათი
Name[kk]=X сағаты
Name[km]=នាឡិកា X
Name[lv]=X Pulkstenis
Name[mk]=X Часовник
Name[nb]=X-klokke
Name[nds]=X-Clock
Name[ne]=X घडी
Name[nn]=X-klokke
Name[pa]=X ਘੜੀ
Name[pt]=Relógio do X
Name[ro]=Ceas X
Name[ru]=Часы для X
Name[se]=X-diibmu
Name[sv]=X clock
Name[ta]=X கடிகாரம்
Name[tg]=Соати X
Name[tr]=X Saati
Name[uz]=X учун соат
Name[vi]=Đồng hồ X
Name[x-test]=xxX Clockxx
Name[xh]=Ikloko ye X
Name[zh_TW]=X 時鐘
Exec=xclock
Icon=xclock
Path=
Type=Application
GenericName=Clock
GenericName[af]=Horlosie
GenericName[ar]=الساعة
GenericName[be]=Гадзіннік
GenericName[bg]=Часовник
GenericName[br]=Eurier
GenericName[ca]=Rellotge
GenericName[cs]=Hodiny
GenericName[csb]=Zédżer
GenericName[cy]=Cloc
GenericName[da]=Ur
GenericName[de]=Uhr
GenericName[el]=Ρολόι
GenericName[eo]=Iu horloĝo
GenericName[es]=Reloj
GenericName[et]=Kell
GenericName[eu]=Erlojua
GenericName[fa]=ساعت
GenericName[fi]=Kello
GenericName[fr]=Horloge
GenericName[fy]=Klok
GenericName[ga]=Clog
GenericName[gl]=Reloxo
GenericName[he]=שעון
GenericName[hr]=Sat
GenericName[hu]=Óra
GenericName[is]=Klukka
GenericName[it]=Orologio
GenericName[ja]=時計
GenericName[ka]=საათი
GenericName[kk]=Сағат
GenericName[km]=នាឡិកា
GenericName[ko]=시계
GenericName[lt]=Laikrodis
GenericName[lv]=Pulkstenis
GenericName[mk]=Часовник
GenericName[ms]=Jam
GenericName[nb]=Klokke
GenericName[nds]=Klock
GenericName[ne]=घडी
GenericName[nl]=Klok
GenericName[nn]=Klokke
GenericName[pa]=ਘੜੀ
GenericName[pl]=Zegar
GenericName[pt]=Relógio
GenericName[pt_BR]=Relógio
GenericName[ro]=Ceas
GenericName[ru]=Часы
GenericName[se]=Diibmu
GenericName[sl]=Ura
GenericName[sr]=Часовник
GenericName[sr@latin]=Časovnik
GenericName[sv]=Klocka
GenericName[ta]=கடிகாரம்
GenericName[tg]=Соат
GenericName[th]=นาฬิกา
GenericName[tr]=Saat
GenericName[uk]=Годинник
GenericName[uz]=Соат
GenericName[vi]=Đồng hồ
GenericName[wa]=Ôrlodje
GenericName[x-test]=xxClockxx
GenericName[xh]=Ikloko
GenericName[zh_TW]=時鐘
Terminal=false
X-KDE-StartupNotify=true
