[Desktop Entry]
Name=X Kill
Name[bn]=এক্স-কিল
Name[cy]=X Lladd
Name[de]=X-Kill
Name[fa]=کشتن X
Name[hi]=एक्स-किल
Name[nds]=X-Kill
Name[ne]=X किल
Name[pa]=X ਖਤਮ
Name[sr]=Икс‑убиј
Name[sr@latin]=X‑ubij
Name[sv]=Xkill
Name[ta]=Xkill
Name[tg]=Қотили X
Name[vi]=Giết X
Name[x-test]=xxX Killxx
GenericName=Window Termination Tool
GenericName[af]=Venster Beëindiging Program
GenericName[ar]=أداة إنهاء النوافذ
GenericName[be]=Інструмент забівання вокнаў
GenericName[bg]=Убиване на програми
GenericName[bn]=উইণ্ডো বন্ধ করার টুল
GenericName[ca]=Eina assassina de finestres
GenericName[cs]=Nástroj pro zavírání oken
GenericName[csb]=Nôrzãdze do zabijaniô òknów
GenericName[cy]=Erfyn Terfynu Ffenestr
GenericName[da]=Værktøj til terminering af vinduer
GenericName[de]=Zum Schließen von Fenstern
GenericName[el]=Εργαλείο τερματισμού παραθύρων
GenericName[es]=Asesino de ventanas
GenericName[et]=Akende tapmine
GenericName[eu]=Leihoak akatzeko tresna
GenericName[fa]=ابزار پایان‌دهی پنجره
GenericName[fi]=Ikkunoiden lopetustyökalu
GenericName[fr]=Pour fermer de force une fenêtre
GenericName[fy]=Finsters forsearre ôfslúte
GenericName[ga]=Uirlis Chríochnaithe Fuinneoige
GenericName[gl]=Ferramenta para matar fiestras
GenericName[he]=כלי לחיסול חלונות
GenericName[hi]=विंडो समाप्त करने का औज़ार
GenericName[hr]=Alat za ubijanje prozora
GenericName[hu]=X-ablakbezáró
GenericName[is]=Glugga-drápari
GenericName[it]=Strumento per uccidere le finestre
GenericName[ja]=ウィンドウ停止ツール
GenericName[ka]=ფანჯრის დახურვის ხელსაწყო
GenericName[kk]=Терезелерді жабу құралы
GenericName[km]=ឧបករណ៍​ស្ថានីយ​បង្អួច
GenericName[ko]=창 종료 도구
GenericName[ku]=Amûra Dawîanîna li Paceyan
GenericName[lt]=Langų uždarymo priemonė
GenericName[lv]=Logu nokaušanas rīks
GenericName[mk]=Алатка за уништување прозорци
GenericName[ms]=Alat Penamatan Tetingkap
GenericName[nb]=Verktøy for å stenge vinduer
GenericName[nds]=Warktüüch för't Tomaken vun Finstern
GenericName[ne]=सञ्झ्याल टर्मिनल उपकरण
GenericName[nl]=Vensters geforceerd sluiten
GenericName[nn]=Verktøy for vindaugsavslutting
GenericName[pa]=ਵਿੰਡੋ ਖਾਤਮਾ ਟੂਲ
GenericName[pl]=Narzędzie do zabijania okien
GenericName[pt]=Ferramenta de Encerramento de Janelas
GenericName[pt_BR]=Ferramenta de Finalização de Janelas
GenericName[ro]=Utilitar de distrugere ferestre
GenericName[ru]=Утилита закрытия окон
GenericName[se]=Láseheaittihanreaidu
GenericName[sk]=Zatváranie okien
GenericName[sl]=Orodje z okenskim terminalom
GenericName[sr]=Алатка за убијање прозора
GenericName[sr@latin]=Alatka za ubijanje prozora
GenericName[sv]=Verktyg för att terminera fönster
GenericName[ta]=சாளரத்தை மூடும் கருவி
GenericName[tg]=Обзори поёндодан ба тиреза
GenericName[th]=เครื่องมือบังคับปิดหน้าต่าง
GenericName[tr]=Pencere Sonlandırma Aracı
GenericName[uk]=Засіб знищення вікон
GenericName[uz]=Ойнани ўлдириш воситаси
GenericName[vi]=Công cụ tắt cửa sổ
GenericName[wa]=Usteye po touwer les purneas
GenericName[x-test]=xxWindow Termination Toolxx
GenericName[xh]=Isixhobo Sopheliso lwe Window
GenericName[zh_CN]=Window 终端工具
GenericName[zh_TW]=視窗終結工具
Exec=xkill
Terminal=false
Icon=xkill
Type=Application
