[Desktop Entry]
Encoding=UTF-8
Exec=xload
SwallowExec=xload -nolabel -fg green -bg Black -hl red -update 3 -geometry 25x25
SwallowTitle=xload
SwallowTitle[no]=xload
SwallowTitle[es]=xload
SwallowTitle[pl]=xload
Type=Application
Name=X Load
Name[af]=X Las
Name[br]=Karg X
Name[ca]=Càrrega X
Name[csb]=X Òbcãżenié
Name[da]=X Belastning
Name[de]=X-Load
Name[eo]=XŜarĝo
Name[es]=XLoad
Name[fa]=بارگذاری X
Name[fi]=X-kuorma
Name[fr]=XLoad
Name[ga]=Lód X
Name[hr]=X opterećenje
Name[is]=X álagsmælir
Name[ko]=X용 로드
Name[lv]=X Slodze
Name[nb]=X-last
Name[nds]=X-Load
Name[ne]=X लोड
Name[nn]=X-last
Name[pa]=X ਲੋਡ
Name[pl]=X Obciążenie
Name[pt]=Carga do X
Name[se]=X-noađđi
Name[sv]=X load
Name[ta]=X ஏற்றம்
Name[tg]=Боргузории X
Name[tr]=X Yük
Name[x-test]=xxX Loadxx
Name[zh_TW]=X 負載
GenericName=Monitors System Load
GenericName[af]=Monitor Stelsel Las
GenericName[ar]=يراقب حمولة النظام
GenericName[ca]=Monitoritza la càrrega del sistema
GenericName[cs]=Monitor zatížení systému
GenericName[csb]=Wëdowiédzô ò òbcãzeniô systemë
GenericName[cy]=Monitro Llwyth y System
GenericName[da]=Overvåger systemets belastning
GenericName[de]=Informationen zur Systemauslastung
GenericName[el]=Καταγράφει το φόρτο του συστήματος
GenericName[eo]=Montras la sistemŝarĝon
GenericName[es]=Monitoriza la carga del sistema
GenericName[et]=Süsteemi koormuse monitor
GenericName[eu]=Sistemaren zama monitorizatzen du
GenericName[fa]=بارگذاری سیستم نمایشگرها
GenericName[fi]=Seuraa järjestelmän kuormaa
GenericName[fr]=Pour suivre la charge du système
GenericName[fy]=Systeembelêsting beweitsje
GenericName[gl]=Monitorea a Carga do Sistema
GenericName[he]=צג עומס של המערכת
GenericName[hr]=Nadzor opterećenja sustava
GenericName[hu]=Rendszermonitor
GenericName[is]=Upplýsingar um ástand kerfis
GenericName[it]=Mostra il carico del sistema
GenericName[ja]=システムロードを監視します
GenericName[ka]=სისტემის ჩატვირთვის მონიტორი 
GenericName[kk]=Жүйенің жүктелу мониторы
GenericName[km]=ត្រួតពិនិត្យ​ការ​ផ្ទុក​ប្រព័ន្ធ
GenericName[lt]=Rodo sistemos apkrovą
GenericName[lv]=Rāda Sistēmas Noslodzi
GenericName[mk]=Надгледувач на оптоварувањето на системот
GenericName[ms]=Muat Sistem Monitor
GenericName[nb]=Overvåker systembelastningen
GenericName[nds]=Systeemlast-Kieker
GenericName[ne]=मोनिटर प्रणाली लोड
GenericName[nl]=Systeembelasting bewaken
GenericName[nn]=Overvakar systembelastinga
GenericName[pa]=ਸਿਸਟਮ ਲੋਡ ਦੀ ਨਿਗਰਾਨੀ
GenericName[pl]=Informacje o obciążeniu systemu
GenericName[pt]=Monitorização da Carga do Sistema
GenericName[pt_BR]=Monitora a Carga do Sistema
GenericName[ro]=Monitorizează încărcarea sistemului
GenericName[ru]=Монитор загрузки системы
GenericName[se]=Goziha vuogádatnoađi
GenericName[sl]=Pregleduje obremenjenost sistema
GenericName[sr]=Прати оптерећеност система
GenericName[sr@Latn]=Prati opterećenost sistema
GenericName[sv]=Övervakar systemets belastning
GenericName[ta]=திரை சாதனத்தை ஏற்றுதல்
GenericName[tg]=Назорат бар боргузории система
GenericName[tr]=Sistem yükünü izler
GenericName[uk]=Стежить за завантаженням системи
GenericName[uz]=Тизим юкланганини назорат қилиш
GenericName[x-test]=xxMonitors System Loadxx
GenericName[xh]=Iphatha Ulayisho Lwendlela yokusebenza
GenericName[zh_TW]=監視系統負載
Icon=xload
X-KDE-StartupNotify=true
