[Desktop Entry]
Exec=xmag
Type=Application
Name=X Magnifier
Name[af]=X Vergroter
Name[ar]=مكبّر X
Name[as]=X Magnifier
Name[be]=Павелічальная лупа X
Name[be@latin]=Lupa X
Name[bg]=X Magnifier
Name[bn]=এক্স-ম্যাগনিফায়ার
Name[bn_IN]=X Magnifier
Name[br]=Kresker X
Name[ca]=X Magnifier
Name[ca@valencia]=X Magnifier
Name[cs]=Lupa
Name[csb]=Zwikszanié
Name[cy]=X Magnifier
Name[da]=X Forstørrer
Name[de]=X-Vergrößerer
Name[el]=X Magnifier
Name[en_GB]=X Magnifier
Name[eo]=X Magnifier
Name[es]=Ampliador de X
Name[et]=X Magnifier
Name[eu]=X handitzailea
Name[fa]=ذره‌بین X
Name[fi]=X-suurennuslasi
Name[fr]=XMag
Name[fy]=X Magnifier
Name[ga]=Formhéadaitheoir X
Name[gl]=X Magnifier
Name[gu]=X Magnifier
Name[he]=X Magnifier
Name[hi]=एक्स मैग्नीफायर
Name[hne]=एक्स मैग्नीफायर
Name[hr]=X povećalo
Name[hsb]=X powjetšaca škleńca
Name[hu]=X Magnifier
Name[is]=X stækkunargler
Name[it]=Lente di ingrandimento
Name[ja]=X Magnifier
Name[ka]=X გამადიდებელი
Name[kk]=X ұлғайтқышы
Name[km]=កម្មវិធី​ពង្រីក X
Name[kn]=ಕ್ಸಮ್ಯಾಗ್ನಿಫಯರ್
Name[ko]=X 돋보기
Name[ku]=Nêzîkera X'yê
Name[lt]=X Padidinamasis stiklas
Name[lv]=X lupa
Name[mai]=एक्स मैग्नीफायर
Name[mk]=X Лупа
Name[ml]=എക്സ് ഭൂതകണ്ണാടി
Name[mr]=एक्स वर्धक
Name[ms]=X Magnifier
Name[nb]=X-forstørrelsesglass
Name[nds]=X-Magnifier
Name[ne]=X विस्तारक
Name[nl]=X Magnifier
Name[nn]=X-forstørrar
Name[or]=X Magnifier
Name[pa]=X ਵੱਡਦਰਸ਼ੀ
Name[pl]=Powiększenie
Name[pt]=Lupa X
Name[pt_BR]=X Magnifier
Name[ro]=Lupă X Window
Name[ru]=X Magnifier
Name[se]=X-stuorideaddji
Name[si]=X Magnifier
Name[sk]=X Lupa
Name[sl]=X Magnifier
Name[sr]=Икс‑увеличавач
Name[sr@latin]=X‑uveličavač
Name[sv]=X magnifier
Name[ta]=X பெரிதாக்கி
Name[te]=X మాగ్నిఫైర్
Name[tg]=X Magnifier
Name[th]=แว่นขยาย X
Name[tr]=X Magnifier
Name[uk]=Лупа X
Name[uz]=X uchun kattalashtiruvchi
Name[uz@cyrillic]=X учун катталаштирувчи
Name[vi]=Kính lúp X
Name[wa]=X Magnifier
Name[xh]=Umenzi mkhulu we X
Name[x-test]=xxX Magnifierxx
Name[zh_CN]=X 放大镜
Name[zh_TW]=X 放大鏡
GenericName=Desktop Magnifier
GenericName[af]=Werkskerm Vergroter
GenericName[ar]=مكبر سطح المكتب
GenericName[as]=ডেষ্কট'প বৰ্দ্ধক
GenericName[be]=Павелічальная лупа
GenericName[be@latin]=Lupa dla rabočaha stała
GenericName[bg]=Увеличаваща лупа
GenericName[bn]=ডেস্কটপ বড় করে দেখায়
GenericName[bn_IN]=বড় আকারে ডেস্কটপ প্রদর্শন
GenericName[ca]=Augmenta l'escriptori
GenericName[ca@valencia]=Augmenta l'escriptori
GenericName[cs]=Lupa pro pracovní plochu
GenericName[csb]=Zwikszanié pùltu
GenericName[cy]=Chwyddwr Penbwrdd
GenericName[da]=Skrivebordsforstørrer
GenericName[de]=Lupe für Arbeitsfläche
GenericName[el]=Μεγέθυνση επιφάνειας εργασίας
GenericName[en_GB]=Desktop Magnifier
GenericName[eo]=Labortabla pligrandigilo
GenericName[es]=Ampliador del escritorio
GenericName[et]=Töölaua suurendusklaas
GenericName[eu]=Mahaigain handitzailea
GenericName[fa]=ذره‌بین رومیزی
GenericName[fi]=Työpöydän suurennuslasi
GenericName[fr]=Loupe pour le bureau
GenericName[fy]=Fergrutglês
GenericName[ga]=Formhéadaitheoir Deisce
GenericName[gl]=Lupa do escritorio
GenericName[gu]=ડેસ્કટોપ મોટું કરનાર
GenericName[he]=זכוכית מגדלת לשולחן העבודה
GenericName[hi]=डेस्कटॉप का आकार बढ़ाने वाला
GenericName[hne]=डेस्कटाप के आकार बढ़इया
GenericName[hr]=Povećalo za radnu površinu
GenericName[hsb]=Powjetšaca škleńca za dźěłowy powjerch
GenericName[hu]=Nagyító
GenericName[is]=Stækkunargler á skjáborðið
GenericName[it]=Lente di ingrandimento del desktop
GenericName[ja]=デスクトップの拡大鏡
GenericName[ka]=სამუშაო დაფის გამადიდებელი
GenericName[kk]=Үстел көрініс ұлғайтқышы
GenericName[km]=កម្មវិធី​ពង្រីក​ផ្ទៃតុ
GenericName[kn]=ಗಣಕತೆರೆ ಮಸೂರ (ಮ್ಯಾಗ್ನಿಫಯರ್)
GenericName[ko]=데스크톱 돋보기
GenericName[ku]=Nêzîkera Sermaseyê
GenericName[lt]=Darbastalio padidinamasis stiklas
GenericName[lv]=Darbvirsmas lupa
GenericName[mai]=डेस्कटाप क' आकार बढाबै बला
GenericName[mk]=Лупа за работната површина
GenericName[ml]=പണിയിടം വലുതാക്കാന്‍
GenericName[mr]=डेस्कटॉप वर्धक
GenericName[ms]=Pembesar Desktop
GenericName[nb]=Skrivebordsforstørrer
GenericName[nds]=Luup för den Schriefdisch
GenericName[ne]=डेस्कटप विस्तारक
GenericName[nl]=Vergrootglas
GenericName[nn]=Skrivebordsforstørrar
GenericName[or]=ଡେସ୍କଟପ ଆକାର ବୃଦ୍ଧିକାରୀ
GenericName[pa]=ਡੈਸਕਟਾਪ ਵੱਡਦਰਸ਼ੀ
GenericName[pl]=Powiększenie pulpitu
GenericName[pt]=Ampliador do Ecrã
GenericName[pt_BR]=Ampliador de área de trabalho
GenericName[ro]=Lupă de mărit pentru ecran
GenericName[ru]=Экранная лупа
GenericName[se]=Čállinbeavdestuorideaddji
GenericName[si]=වැඩතල විශාලකය
GenericName[sk]=Lupa pracovnej plochy
GenericName[sl]=Povečevalnik namizja
GenericName[sr]=Лупа на површи
GenericName[sr@latin]=Lupa na površi
GenericName[sv]=Skrivbordsförstorare
GenericName[ta]=மேல்மேசை பெரிதுபடுத்துதல்
GenericName[te]=రంగస్థలం మాగ్నిఫైర్
GenericName[tg]=Калонкунандаи мизи корӣ
GenericName[th]=แว่นขยายพื้นที่หน้าจอ
GenericName[tr]=Masaüstü Büyüteci
GenericName[uk]=Лупа для стільниці
GenericName[uz]=Ish stolini kattalashtiruvchi
GenericName[uz@cyrillic]=Иш столини катталаштирувчи
GenericName[vi]=Phóng to Màn hình nền
GenericName[wa]=Loupe do scribanne
GenericName[xh]=Umenzi mkhulu we Desktop
GenericName[x-test]=xxDesktop Magnifierxx
GenericName[zh_CN]=桌面放大镜
GenericName[zh_TW]=桌面放大鏡
Icon=xmag
X-KDE-StartupNotify=false
