[Desktop Entry]
Encoding=UTF-8
Name=X Refresh
Name[cy]=X Adfywio
Name[de]=X-Refresh
Name[eo]=X-Refreŝigo
Name[fa]=بازآوردن X
Name[ga]=Athnuachan X
Name[is]=Hressa X
Name[nds]=X-Refresh
Name[ne]=X ताजा पार्नुहोस्
Name[pa]=X ਤਾਜ਼ਾ
Name[pt]=Actualização do X
Name[sv]=Xrefresh
Name[ta]=Xபுதுப்பி
Name[tg]=Навсози X
Name[tr]=X Tazele
Name[vi]=Cập nhật X
Name[x-test]=xxX Refreshxx
GenericName=Refresh Screen
GenericName[af]=Verfris Skerm
GenericName[ar]=إنعاش الشاشة
GenericName[be]=Абнаўляе экран
GenericName[bg]=Обновяване на екрана
GenericName[br]=Adtresañ ar skramm
GenericName[ca]=Refà la pantalla
GenericName[cs]=Obnovit obrazovku
GenericName[csb]=Òdswieżanié ekranu
GenericName[cy]=Adnewyddu'r Sgrîn
GenericName[da]=Genopfrisk skærm
GenericName[de]=Bildschirminhalt neu aufbauen
GenericName[el]=Ανανέωση οθόνης
GenericName[eo]=Ekranrefreŝigo
GenericName[es]=Refrescar pantalla
GenericName[et]=Töölaua värskendamine
GenericName[eu]=Freskatu pantaila
GenericName[fa]=بازآوردن پرده
GenericName[fi]=Päivitä näyttö
GenericName[fr]=Pour rafraîchir l'affichage
GenericName[fy]=Skerm ferfarskje
GenericName[ga]=Athnuaigh an scáileán
GenericName[gl]=Anovación da Pantalla
GenericName[he]=רענון המסך
GenericName[hr]=Osvježi ekran
GenericName[hu]=X-képernyőfrissítő
GenericName[is]=Endurskrifa skjá
GenericName[it]=Aggiorna lo schermo
GenericName[ja]=スクリーンのリフレッシュ
GenericName[ka]=ეკრანის განახლება
GenericName[kk]=Экранды жаңарту
GenericName[km]=ធ្វើ​ឲ្យ​អេក្រង់​ស្រស់
GenericName[ko]=화면 새로 고침
GenericName[lt]=Perpiešti ekraną
GenericName[lv]=Atsvaidzina Ekrāna
GenericName[mk]=Освежувач на екранот
GenericName[ms]=Muat Semula Skrin
GenericName[nb]=Tegn skjermen på nytt
GenericName[nds]=Schirm opfrischen
GenericName[ne]=पर्दा ताजा पार्नुहोस्
GenericName[nl]=Scherm verversen
GenericName[nn]=Teikn skjermen på nytt
GenericName[pa]=ਸਕਰੀਨ ਤਾਜ਼ਾ
GenericName[pl]=Odświeżanie ekranu
GenericName[pt]=Actualizar o Ecrã
GenericName[pt_BR]=Atualização de Tela
GenericName[ro]=Reafişează ecranul
GenericName[ru]=Обновление экрана
GenericName[se]=Ođasmahte šearbma
GenericName[sl]=Osveži zaslon
GenericName[sr]=Освеживач екрана
GenericName[sr@latin]=Osveživač ekrana
GenericName[sv]=Uppdatera skärmen
GenericName[ta]=திரையை புதுப்பி
GenericName[tg]=Навсози экран
GenericName[th]=รีเฟรชหน้าจอ
GenericName[tr]=Ekranı Tazele
GenericName[uk]=Поновлення екрану
GenericName[uz]=Экранни янгилаш
GenericName[vi]=Cập nhật màn hình
GenericName[x-test]=xxRefresh Screenxx
GenericName[xh]=Hlaziya Ikhusi
GenericName[zh_TW]=更新螢幕
Exec=xrefresh
Terminal=false
Icon=xrefresh
Type=Application
