[Desktop Entry]
Name=X Refresh
Name[af]=X Refresh
Name[ar]=إنعاش X
Name[as]=X Refresh
Name[be]=X Refresh
Name[be@latin]=X Refresh
Name[bg]=X Refresh
Name[bn]=এক্স রিফ্রেশ
Name[bn_IN]=X Refresh
Name[br]=X Refresh
Name[ca]=X Refresh
Name[ca@valencia]=X Refresh
Name[cs]=X Refresh
Name[csb]=X Refresh
Name[cy]=X Adfywio
Name[da]=X Refresh
Name[de]=X-Refresh
Name[el]=X Refresh
Name[en_GB]=X Refresh
Name[eo]=X Refresh
Name[es]=X Refresh
Name[et]=X Refresh
Name[eu]=X Refresh
Name[fa]=بازآوردن X
Name[fi]=X Refresh
Name[fr]=X Refresh
Name[fy]=X Refresh
Name[ga]=Athnuachan X
Name[gl]=X Refresh
Name[gu]=X Refresh
Name[he]=X Refresh
Name[hi]=एक्स-रिफ्रेश
Name[hne]=एक्स-रिफ्रेस
Name[hr]=X Refresh
Name[hsb]=X Refresh
Name[hu]=X Refresh
Name[is]=Hressa X
Name[it]=X Refresh
Name[ja]=X Refresh
Name[ka]=X Refresh
Name[kk]=X Refresh
Name[km]=ធ្វើ​ឲ្យ X ស្រស់
Name[kn]=ಕ್ಸರಿಫ್ರೆಷ್
Name[ko]=X Refresh
Name[ku]=X Nû Bike
Name[lt]=X Refresh
Name[lv]=X Refresh
Name[mai]=एक्स-रिफ्रेश
Name[mk]=X Refresh
Name[ml]=X പുതുക്കുല്‍
Name[mr]=एक्स रिफ्रेश
Name[ms]=X Refresh
Name[nb]=X Refresh
Name[nds]=X-Refresh
Name[ne]=X ताजा पार्नुहोस्
Name[nl]=X Refresh
Name[nn]=X Refresh
Name[or]=X ସତେଜନ
Name[pa]=X ਤਾਜ਼ਾ
Name[pl]=X Refresh
Name[pt]=Actualização do X
Name[pt_BR]=X Refresh
Name[ro]=X Refresh
Name[ru]=X Refresh
Name[se]=X Refresh
Name[si]=X නැවුම් කිරීම
Name[sk]=X Refresh
Name[sl]=X Refresh
Name[sr]=Икс‑освежи
Name[sr@latin]=X‑osveži
Name[sv]=Xrefresh
Name[ta]=X புதுப்பி
Name[te]=X రీఫ్రెష్
Name[tg]=X Refresh
Name[th]=X Refresh
Name[tr]=X Refresh
Name[uk]=X Refresh
Name[uz]=X Refresh
Name[uz@cyrillic]=X Refresh
Name[vi]=Cập nhật X
Name[wa]=X Refresh
Name[x-test]=xxX Refreshxx
Name[zh_CN]=X Refresh
Name[zh_TW]=X Refresh
GenericName=Refresh Screen
GenericName[af]=Verfris Skerm
GenericName[ar]=إنعاش الشاشة
GenericName[as]=পৰ্দ্দা সতেজ কৰক
GenericName[be]=Абнаўляе экран
GenericName[be@latin]=Prahrama dla aktualizacyi ekrana
GenericName[bg]=Обновяване на екрана
GenericName[bn]=পর্দা রিফ্রেশ
GenericName[bn_IN]=পর্দার ছবি পুনরায় লোডের ব্যবস্থা
GenericName[br]=Adtresañ ar skramm
GenericName[ca]=Refà la pantalla
GenericName[ca@valencia]=Refà la pantalla
GenericName[cs]=Obnovit obrazovku
GenericName[csb]=Òdswieżanié ekranu
GenericName[cy]=Adnewyddu'r Sgrîn
GenericName[da]=Genopfrisk skærm
GenericName[de]=Bildschirminhalt neu aufbauen
GenericName[el]=Ανανέωση οθόνης
GenericName[en_GB]=Refresh Screen
GenericName[eo]=Ekranrefreŝigo
GenericName[es]=Refrescar pantalla
GenericName[et]=Töölaua värskendamine
GenericName[eu]=Freskatu pantaila
GenericName[fa]=بازآوردن پرده
GenericName[fi]=Päivitä näyttö
GenericName[fr]=Pour rafraîchir l'affichage
GenericName[fy]=Skerm ferfarskje
GenericName[ga]=Athnuaigh an scáileán
GenericName[gl]=Anovado da pantalla
GenericName[gu]=સ્ક્રિનને તાજી કરો
GenericName[he]=רענון המסך
GenericName[hi]=रिफ्रेश स्क्रीन
GenericName[hne]=रिफ्रेस स्क्रीन
GenericName[hr]=Osvježi ekran
GenericName[hsb]=Wobrazowku aktualizować
GenericName[hu]=X-képernyőfrissítő
GenericName[is]=Endurskrifa skjá
GenericName[it]=Aggiorna lo schermo
GenericName[ja]=スクリーンのリフレッシュ
GenericName[ka]=ეკრანის განახლება
GenericName[kk]=Экранды жаңарту
GenericName[km]=ធ្វើ​ឲ្យ​អេក្រង់​ស្រស់
GenericName[kn]=ತೆರೆಯನ್ನು ನವೀಕರಿಸು
GenericName[ko]=화면 새로 고침
GenericName[ku]=Dîmenderê Nû Bike
GenericName[lt]=Perpiešti ekraną
GenericName[lv]=Atsvaidzina ekrānu
GenericName[mai]=रिफ्रेश स्क्रीन
GenericName[mk]=Освежувач на екранот
GenericName[ml]=സ്ക്രീന്‍ പുതുക്കുക
GenericName[mr]=रिफ्रेश स्क्रीन
GenericName[ms]=Muat Semula Skrin
GenericName[nb]=Tegn skjermen på nytt
GenericName[nds]=Schirm opfrischen
GenericName[ne]=पर्दा ताजा पार्नुहोस्
GenericName[nl]=Scherm verversen
GenericName[nn]=Teikn skjermen på nytt
GenericName[or]=ପରଦା ସତେଜନ କରନ୍ତୁ
GenericName[pa]=ਸਕਰੀਨ ਤਾਜ਼ਾ
GenericName[pl]=Odświeżanie ekranu
GenericName[pt]=Actualizar o Ecrã
GenericName[pt_BR]=Atualização de tela
GenericName[ro]=Reîmprospătează ecranul
GenericName[ru]=Обновить экран
GenericName[se]=Ođasmahte šearbma
GenericName[si]=තිරය නැවුම් කිරීම
GenericName[sk]=Prekreslenie obrazovky
GenericName[sl]=Osveži zaslon
GenericName[sr]=Освеживач екрана
GenericName[sr@latin]=Osveživač ekrana
GenericName[sv]=Uppdatera skärmen
GenericName[ta]=திரையை புதுப்பி
GenericName[te]=తెర రీఫ్రెష్
GenericName[tg]=Навсози экран
GenericName[th]=รีเฟรชหน้าจอ
GenericName[tr]=Ekranı Tazele
GenericName[uk]=Поновлення екрана
GenericName[uz]=Ekranni yangilash
GenericName[uz@cyrillic]=Экранни янгилаш
GenericName[vi]=Cập nhật màn hình
GenericName[wa]=Rafrister l' waitroûle
GenericName[xh]=Hlaziya Ikhusi
GenericName[x-test]=xxRefresh Screenxx
GenericName[zh_CN]=刷新屏幕
GenericName[zh_TW]=更新螢幕
Exec=xrefresh
Terminal=false
Icon=xrefresh
Type=Application
