[Desktop Entry]
MimeType=
GenericName=Terminal Program
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج طرفيّة
GenericName[as]=টাৰ্মিনেল কাৰ্য্যক্ৰম
GenericName[be]=Тэрмінал
GenericName[be@latin]=Terminał
GenericName[bg]=Терминална програма
GenericName[bn]=টার্মিনাল প্রোগ্রাম
GenericName[bn_IN]=টার্মিন্যাল প্রোগ্রাম
GenericName[br]=Goulev termenell
GenericName[ca]=Programa de terminal
GenericName[ca@valencia]=Programa de terminal
GenericName[cs]=Terminálový program
GenericName[csb]=Programa terminala
GenericName[cy]=Rhaglen Terfynell
GenericName[da]=Terminalprogram
GenericName[de]=Terminalprogramm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[en_GB]=Terminal Program
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal programa
GenericName[fa]=برنامۀ پایانه
GenericName[fi]=Komentoikkunaohjelma
GenericName[fr]=Terminal
GenericName[fy]=Terminalprogramma
GenericName[ga]=Clár Teirminéil
GenericName[gl]=Programa de terminal
GenericName[gu]=ટર્મિનલ કાર્યક્રમ
GenericName[he]=תוכנית מסוף
GenericName[hi]=टर्मिनल प्रोग्राम
GenericName[hne]=टर्मिनल प्रोग्राम
GenericName[hr]=Terminalski program
GenericName[hsb]=Terminalowy program
GenericName[hu]=Parancsértelmező
GenericName[is]=Skjáhermir
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[ka]=პროგრამა ტერმინალისთვის
GenericName[kk]=Терминал бағдарламасы
GenericName[km]=កម្មវិធី​ស្ថានីយ
GenericName[kn]=ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್) ಕ್ರಮವಿಧಿ
GenericName[ko]=터미널 프로그램
GenericName[ku]=Bernameya Termînalê
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla programma
GenericName[mai]=टर्मिनल प्रोग्राम
GenericName[mk]=Терминалска програма
GenericName[ml]=ടെര്‍മിനല്‍ പ്രോഗ്രാം
GenericName[mr]=टर्मिनल प्रोग्राम
GenericName[ms]=Program Terminal
GenericName[nb]=Terminalprogram
GenericName[nds]=Terminal-Programm
GenericName[ne]=टर्मिनल कार्यक्रम
GenericName[nl]=Terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[or]=ଟର୍ମିନାଲ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Programa de terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[se]=Terminálaprográmma
GenericName[si]=ටර්මිනල් වැඩසටහන
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sr]=Терминалски програм
GenericName[sr@latin]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[ta]=முனைய நிரல்
GenericName[te]=టెర్మినల్ కార్యక్రమం
GenericName[tg]=Барномаи терминал
GenericName[th]=โปรแกรมเทอร์มินัล
GenericName[tr]=Uçbirim Uygulaması
GenericName[uk]=Програма термінала
GenericName[uz]=Terminal dasturi
GenericName[uz@cyrillic]=Терминал дастури
GenericName[vi]=Trình đầu cuối
GenericName[wa]=Programe di terminå
GenericName[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
GenericName[x-test]=xxTerminal Programxx
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
Name=X Terminal
Name[af]=X Terminaal
Name[ar]=طرفية X
Name[as]=X Terminal
Name[be]=Тэрмінал X
Name[be@latin]=Terminał X
Name[bg]=X Terminal
Name[bn]=এক্স টার্মিনাল
Name[bn_IN]=X Terminal
Name[br]=Termenell X
Name[ca]=Terminal X
Name[ca@valencia]=Terminal X
Name[cs]=X Terminál
Name[csb]=X Terminal
Name[cy]=X Terfynell
Name[da]=X Terminal
Name[de]=X-Terminal
Name[el]=Τερματικό X
Name[en_GB]=X Terminal
Name[eo]=X Terminal
Name[es]=Terminal de X
Name[et]=X Terminal
Name[eu]=X terminala
Name[fa]=پایانۀ X
Name[fi]=X-terminaali
Name[fr]=XTerm
Name[fy]=X Terminal
Name[ga]=Teirminéal X
Name[gl]=X Terminal
Name[gu]=X ટર્મિનલ
Name[he]=X Terminal
Name[hi]=एक्स टर्मिनल
Name[hne]=एक्स टर्मिनल
Name[hr]=X terminal
Name[hsb]=X Terminal
Name[hu]=X Terminal
Name[is]=X skjáhermir
Name[it]=X Terminal
Name[ja]=X ターミナル
Name[ka]=X-ტერმინალი
Name[kk]=X терминалы
Name[km]=ស្ថានីយ X
Name[kn]=ಕ್ಸ  ಆದೇಶತೆರೆಯಲ್ಲಿ (ಟರ್ಮಿನಲ್)
Name[ko]=X 터미널
Name[ku]=Termînala X'yê
Name[lt]=X Terminalas
Name[lv]=X termināls
Name[mai]=एक्स टर्मिनल
Name[mk]=X Терминал
Name[ml]=എക്സ് ടെര്‍മിനല്‍
Name[mr]=एक्स टर्मिनल
Name[ms]=X Terminal
Name[nb]=X-terminal
Name[nds]=X-Terminal
Name[ne]=X टर्मिनल
Name[nl]=X Terminal
Name[nn]=X-terminal
Name[or]=X ଟର୍ମିନାଲ
Name[pa]=X ਟਰਮੀਨਲ
Name[pl]=X Terminal
Name[pt]=Terminal do X
Name[pt_BR]=Terminal X
Name[ro]=Terminal X
Name[ru]=X Terminal
Name[se]=X Terminal
Name[si]=X ටර්මිනලය
Name[sk]=X Terminál
Name[sl]=X Terminal
Name[sr]=Икс‑терм
Name[sr@latin]=XTerm
Name[sv]=X terminal
Name[ta]=X கடைசி
Name[te]=X టెర్మినల్
Name[tg]=Терминали X
Name[th]=เทอร์มินัล X
Name[tr]=X Terminal
Name[uk]=X-Термінал
Name[uz]=X uchun terminal
Name[uz@cyrillic]=X учун терминал
Name[vi]=Thiết bị cuối X
Name[wa]=Terminå X
Name[xh]=Isiphelo sendlela se X
Name[x-test]=xxX Terminalxx
Name[zh_CN]=X 终端
Name[zh_TW]=X 終端機
Exec=xterm
Icon=terminal
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-AuthorizeAction=shell_access
