[Desktop Entry]
Encoding=UTF-8
Name=X Traceroute
Name[de]=X-Traceroute
Name[fa]=مسیر ردیابی X
Name[hr]=Xtraceroute
Name[nds]=X-Traceroute
Name[ne]=X ट्र्यासरुट
Name[pa]=X ਮਾਰਗ-ਖੋਜ
Name[sv]=Xtraceroute
Name[ta]=Xதொடர்வழி
Name[x-test]=xxX Traceroutexx
GenericName=Network Tool
GenericName[af]=Netwerk Program
GenericName[ar]=أداة الشبكة
GenericName[be]=Сеткавы інструмент
GenericName[br]=Ostilh ar rouedad
GenericName[ca]=Eina de xarxa
GenericName[cs]=Síťový nástroj
GenericName[csb]=Analizator séce
GenericName[cy]=Erfyn Rhwydwaith
GenericName[da]=Netværksværktøj
GenericName[de]=Netzwerkanalyse
GenericName[el]=Εργαλείο δικτύου
GenericName[eo]=Retanalizilo
GenericName[es]=Herramienta de redes
GenericName[et]=Võrguutiliit
GenericName[eu]=Sare tresna
GenericName[fa]=ابزار شبکه
GenericName[fi]=Verkkotyökalu
GenericName[fr]=Analyseur réseau
GenericName[fy]=Netwurk-helpprogramma
GenericName[ga]=Uirlis Líonra
GenericName[gl]=Ferramenta de Rede
GenericName[he]=כלי רשת
GenericName[hr]=Mrežni alat
GenericName[hu]=Hálózatanalizáló
GenericName[is]=Netskoðunartól
GenericName[it]=Strumento di rete
GenericName[ja]=ネットワークツール
GenericName[ka]=ქსელის ხელსაწყო
GenericName[kk]=Желі бағыттарды талдау құралы
GenericName[km]=ឧបករណ៍​បណ្ដាញ
GenericName[lt]=Tinklo priemonė
GenericName[lv]=Tīkla Rīks
GenericName[mk]=Мрежна алатка
GenericName[ms]=Alat Rangkaian
GenericName[nb]=Nettverksverktøy
GenericName[nds]=Warktüüch för't Nettwark
GenericName[ne]=सञ्जाल उपकरण
GenericName[nl]=Netwerk-hulpprogramma
GenericName[nn]=Nettverksverktøy
GenericName[pa]=ਨੈੱਟਵਰਕ ਸੰਦ
GenericName[pl]=Analizator trasy pakietów
GenericName[pt]=Ferramenta de Redes
GenericName[pt_BR]=Ferramenta de rede
GenericName[ro]=Utilitar de reţea
GenericName[ru]=Анализатор сетевых маршрутов
GenericName[se]=Fierbmereaidu
GenericName[sl]=Mrežno orodje
GenericName[sr]=Алат за мрежу
GenericName[sr@latin]=Alat za mrežu
GenericName[sv]=Nätverksverktyg
GenericName[ta]=வலைப்பின்னல் கருவி
GenericName[tg]=Обзори Шабака
GenericName[tr]=Ağ Aracı
GenericName[uk]=Утиліта мережі
GenericName[uz]=Тармоқ воситаси
GenericName[wa]=Usteye rantoele
GenericName[x-test]=xxNetwork Toolxx
GenericName[xh]=Isixhobo Somsebenzi womnatha
GenericName[zh_TW]=網路工具
Exec=xtraceroute
Terminal=false
Icon=xtraceroute
Type=Application
