[Desktop Entry]
Name=X Traceroute
Name[af]=X Traceroute
Name[ar]=X Traceroute
Name[as]=X Traceroute
Name[be]=X Traceroute
Name[be@latin]=X Traceroute
Name[bg]=X Traceroute
Name[bn]=এক্স ট্রেসরুট
Name[bn_IN]=X Traceroute
Name[ca]=X Traceroute
Name[ca@valencia]=X Traceroute
Name[cs]=X Traceroute
Name[csb]=X Traceroute
Name[cy]=X Traceroute
Name[da]=X Traceroute
Name[de]=X-Traceroute
Name[el]=X Traceroute
Name[en_GB]=X Traceroute
Name[eo]=X Traceroute
Name[es]=X Traceroute
Name[et]=X Traceroute
Name[eu]=X Traceroute
Name[fa]=مسیر ردیابی X
Name[fi]=X Traceroute
Name[fr]=X Traceroute
Name[fy]=X Traceroute
Name[ga]=X Traceroute
Name[gl]=X Traceroute
Name[gu]=X Traceroute
Name[he]=X Traceroute
Name[hi]=एक्स-ट्रेसरूट
Name[hne]=एक्स-ट्रेसरूट
Name[hr]=Xtraceroute
Name[hsb]=X Traceroute
Name[hu]=X Traceroute
Name[is]=X Traceroute
Name[it]=X Traceroute
Name[ja]=X Traceroute
Name[ka]=X Traceroute
Name[kk]=X Traceroute
Name[km]=X Traceroute
Name[kn]=ಕ್ಸಟ್ರೇಸ್ ರೂಟ್
Name[ko]=X Traceroute
Name[ku]=X Traceroute
Name[lt]=X Traceroute
Name[lv]=X Traceroute
Name[mai]=एक्स-ट्रेसरूट
Name[mk]=X Traceroute
Name[ml]=എക്സ് ട്രേസ്റൂട്ട്
Name[mr]=एक्स ट्रेसरूट
Name[ms]=X Traceroute
Name[nb]=X Traceroute
Name[nds]=X-Traceroute
Name[ne]=X ट्र्यासरुट
Name[nl]=X Traceroute
Name[nn]=X Traceroute
Name[or]=X Traceroute
Name[pa]=X ਟਰੇਸਰੂਟ
Name[pl]=X Traceroute
Name[pt]=X Traceroute
Name[pt_BR]=X Traceroute
Name[ro]=X Traceroute
Name[ru]=X Traceroute
Name[se]=X Traceroute
Name[si]=X Traceroute
Name[sk]=X Traceroute
Name[sl]=X Traceroute
Name[sr]=Икс‑трејсрут
Name[sr@latin]=XTraceroute
Name[sv]=Xtraceroute
Name[ta]=X பாதைக்காட்டி
Name[te]=X ట్రెస్‌రూట్
Name[tg]=X Traceroute
Name[th]=X Traceroute
Name[tr]=X Traceroute
Name[uk]=X Traceroute
Name[uz]=X Traceroute
Name[uz@cyrillic]=X Traceroute
Name[vi]=Tìm đường X
Name[wa]=X Traceroute
Name[x-test]=xxX Traceroutexx
Name[zh_CN]=X Traceroute
Name[zh_TW]=X Traceroute
GenericName=Network Tool
GenericName[af]=Netwerk Program
GenericName[ar]=أداة الشبكة
GenericName[as]=নে'টৱৰ্ক সৰঞ্জাম
GenericName[be]=Сеткавы інструмент
GenericName[be@latin]=Sietkavaja pryłada
GenericName[bg]=Мрежови инструмент
GenericName[bn]=নেটওয়ার্ক টুল
GenericName[bn_IN]=নেটওয়ার্ক সংক্রান্ত সামগ্রী
GenericName[br]=Ostilh ar rouedad
GenericName[ca]=Eina de xarxa
GenericName[ca@valencia]=Eina de xarxa
GenericName[cs]=Síťový nástroj
GenericName[csb]=Analizatora netë
GenericName[cy]=Erfyn Rhwydwaith
GenericName[da]=Netværksværktøj
GenericName[de]=Netzwerkanalyse
GenericName[el]=Εργαλείο δικτύου
GenericName[en_GB]=Network Tool
GenericName[eo]=Retanalizilo
GenericName[es]=Herramienta de redes
GenericName[et]=Võrgutööriist
GenericName[eu]=Sare tresna
GenericName[fa]=ابزار شبکه
GenericName[fi]=Verkkotyökalu
GenericName[fr]=Outil réseau
GenericName[fy]=Netwurk-helpprogramma
GenericName[ga]=Uirlis Líonra
GenericName[gl]=Utilidade de rede
GenericName[gu]=નેટવર્ક સાધન
GenericName[he]=כלי רשת
GenericName[hi]=नेटवर्क औज़ार
GenericName[hne]=नेटवर्क औजार
GenericName[hr]=Mrežni alat
GenericName[hsb]=Syćowy nastroj
GenericName[hu]=Hálózatanalizáló
GenericName[is]=Netskoðunartól
GenericName[it]=Strumento di rete
GenericName[ja]=ネットワークツール
GenericName[ka]=ქსელის ხელსაწყო
GenericName[kk]=Желі бағыттарды талдау құралы
GenericName[km]=ឧបករណ៍​បណ្ដាញ
GenericName[kn]=ಜಾಲ ಸಲಕರಣೆ
GenericName[ko]=네트워크 도구
GenericName[ku]=Amûra Torê
GenericName[lt]=Tinklo priemonė
GenericName[lv]=Tīkla rīks
GenericName[mai]=नेटवर्क अओजार
GenericName[mk]=Мрежна алатка
GenericName[ml]=നെറ്റ്‌വര്‍ക്ക് ക്രമീകരിക്കുന്നതിനുളള ഉപകരണം
GenericName[mr]=संजाळ साधन
GenericName[ms]=Alat Rangkaian
GenericName[nb]=Nettverksverktøy
GenericName[nds]=Warktüüch för't Nettwark
GenericName[ne]=सञ्जाल उपकरण
GenericName[nl]=Netwerk-hulpprogramma
GenericName[nn]=Nettverksverktøy
GenericName[or]=ନେଟୱର୍କ ସାଧନ
GenericName[pa]=ਨੈੱਟਵਰਕ ਟੂਲ
GenericName[pl]=Analizator trasy pakietów
GenericName[pt]=Ferramenta de Redes
GenericName[pt_BR]=Ferramenta de redes
GenericName[ro]=Utilitar de rețea
GenericName[ru]=Анализатор сетевых маршрутов
GenericName[se]=Fierbmereaidu
GenericName[si]=ජාල මෙවලම
GenericName[sk]=Sieťový nástroj
GenericName[sl]=Mrežno orodje
GenericName[sr]=Мрежна алатка
GenericName[sr@latin]=Mrežna alatka
GenericName[sv]=Nätverksverktyg
GenericName[ta]=பிணைய கருவி
GenericName[te]=నెట్వర్‍క్  సాధనం
GenericName[tg]=Барномаи шабака
GenericName[th]=เครื่องมือระบบเครือข่าย
GenericName[tr]=Ağ Aracı
GenericName[uk]=Утиліта мережі
GenericName[uz]=Tarmoq vositasi
GenericName[uz@cyrillic]=Тармоқ воситаси
GenericName[vi]=Công cụ mạng
GenericName[wa]=Usteye rantoele
GenericName[xh]=Isixhobo Somsebenzi womnatha
GenericName[x-test]=xxNetwork Toolxx
GenericName[zh_CN]=网络工具
GenericName[zh_TW]=網路工具
Exec=xtraceroute
Terminal=false
Icon=xtraceroute
Type=Application
