[Desktop Entry]
Name=ChessMail
Name[af]=Pos-skaak
Name[bn]=চেস-মেইল
Name[csb]=E-mailowé szachë
Name[fi]=KirjeShakki
Name[hi]=चेसमेल
Name[hr]=Poštanski šah
Name[ja]=チェスメール
Name[kk]=Шахмат поштасы
Name[lv]=Pasta šahs
Name[ne]=बुद्धिचाल पत्र
Name[pa]=ਸਤਰੰਜ਼-ਮੇਲ
Name[pl]=Szachy mailowe
Name[sr]=Шах‑пошта
Name[sr@latin]=Šah‑pošta
Name[sv]=Schackpost
Name[ta]=செஸ் அஞ்சல்
Name[te]=తపాలా చదరంగం
Name[tr]=Satranç Postası
Name[vi]=Đánh cờ qua Thư điện tử
Name[x-test]=xxChessMailxx
GenericName=Email for Chess
GenericName[af]=E-pos vir Skaak
GenericName[ar]=بريد إلكتروني للشطرنج
GenericName[be]=Электронная пошта для шахмат
GenericName[bg]=Шах по е-поща
GenericName[bn]=দাবার জন্য ই-মেইল 
GenericName[br]=Postel evit an echedoù
GenericName[ca]=Escacs per correu
GenericName[cs]=Email pro Chess
GenericName[csb]=E-maila dlô szachów
GenericName[cy]=E-bost i wyddbwyll
GenericName[da]=E-mail for skak
GenericName[de]=E-Mail Programm für Schach
GenericName[el]=Email για το Chess
GenericName[eo]=Retpoŝto por ŝako
GenericName[es]=correo electrónico para ajedrez
GenericName[et]=Male kirja teel
GenericName[eu]=Xakean jokatzeko posta elektronikoa
GenericName[fa]=رایانامه برای شطرنج
GenericName[fi]=Sähköpostishakki
GenericName[fr]=Jeu d'échecs par courrier électronique
GenericName[fy]=E-post foar Chess
GenericName[ga]=Ríomhphost le haghaidh fichille
GenericName[gl]=Correo electrónico para Xadrez
GenericName[he]=דוא"ל עבור שחמט
GenericName[hi]=शतरंज के लिए ईमेल
GenericName[hr]=E-pošta za šah
GenericName[hu]=E-mailes sakk
GenericName[is]=Tölvupóstur fyrir skák
GenericName[it]=Posta elettronica per gli scacchi
GenericName[ja]=チェスの E メール
GenericName[ka]=ელფოსტა ჭადრაკისათვის
GenericName[kk]=Шахмат эл.поштасы
GenericName[km]=អ៊ីមែល​សម្រាប់​អុក​​
GenericName[ko]=체스를 위한 전자 우편
GenericName[lt]=E. paštas šachmatams
GenericName[lv]=EPasts šaham
GenericName[mk]=Е-пошта за шах
GenericName[ms]=Emel untuk Catur
GenericName[nb]=E-post for sjakk
GenericName[nds]=Nettpost för Schach
GenericName[ne]=बुद्धिचालका लागि इमेल
GenericName[nl]=E-mail voor Chess
GenericName[nn]=E-post for sjakk
GenericName[pa]=ਸਤਰੰਜ਼ ਲਈ ਈ-ਮੇਲ
GenericName[pl]=e-mail dla Szachów
GenericName[pt]=E-mail para o Xadrez
GenericName[pt_BR]=E-mail para o Xadrez
GenericName[ro]=Email pentru şah
GenericName[ru]=Сообщение email для шахмат
GenericName[se]=E-boasta šáhkka várás
GenericName[sk]=Email pre Chess
GenericName[sl]=E-poštni šah
GenericName[sr]=Е‑пошта за шах
GenericName[sr@latin]=E‑pošta za šah
GenericName[sv]=E-post för Schack
GenericName[ta]=செஸ்க்குக்கான மின்னஞ்சல்
GenericName[te]=చదరంగం కొరకు ఈమెయిల్
GenericName[tg]=Иттилооти Email барои Шоҳмот
GenericName[th]=อีเมลสำหรับหมากรุก
GenericName[tr]=Satranç için E-Posta iletisi
GenericName[uk]=Ел. пошта для шахів
GenericName[vi]=Thư điện tử cho Cờ vua
GenericName[wa]=Emile po Chess
GenericName[x-test]=xxEmail for Chessxx
GenericName[xh]=Email ye Chess
GenericName[zh_CN]=以电子邮件方式下国际象棋
GenericName[zh_TW]=以電郵方式下西洋棋
Exec=cmail
Terminal=true
Icon=xpm
Type=Application
