[Desktop Entry]
GenericName=Arcade Emulator
GenericName[af]=Arkade Emulasie
GenericName[ar]=محاكي أركيد
GenericName[as]=Arcade Emulator
GenericName[be]=Аркадны эмулятар
GenericName[be@latin]=Emulatar arkadnych aŭtamataŭ
GenericName[bg]=Емулатор Arcade
GenericName[bn]=আর্কেড এমুলেটর
GenericName[bn_IN]=আর্কেইড এমুলেটর
GenericName[br]=Kendarvanerezh tavarn
GenericName[ca]=Emulador arcade
GenericName[ca@valencia]=Emulador arcade
GenericName[cs]=Arkádový emulátor
GenericName[csb]=Emùlatora chwatkòwi grë
GenericName[cy]=Efelychydd Arcêd
GenericName[da]=Arkade-emulator
GenericName[de]=Arcade-Emulator
GenericName[el]=Προσομοιωτής arcade
GenericName[en_GB]=Arcade Emulator
GenericName[eo]=Arkado-emulilo
GenericName[es]=Emulador de Arcade
GenericName[et]=Mänguautomaadi emulaator
GenericName[eu]=Arkade emuladorea
GenericName[fa]=مقلد گذرگاه تاقدار
GenericName[fi]=Videoemulaattori
GenericName[fr]=Émulateur de jeux d'arcade
GenericName[fy]=Arcade-emulaasje
GenericName[ga]=Aithriseoir Stuara
GenericName[gl]=Emulador de máquinas recreativas
GenericName[gu]=અર્કાડે ઇમ્યુલેટર
GenericName[he]=אמולטור למשחקי Arcade
GenericName[hi]=आर्केड एमुलेटर
GenericName[hne]=आर्केड एमुलेटर
GenericName[hr]=Emulator arkada
GenericName[hsb]=Emulator za třělanske hry
GenericName[hu]=Játéktermi emulátor
GenericName[is]=Arcade Emulator
GenericName[it]=Emulatore arcade
GenericName[ja]=アーケードエミュレータ
GenericName[ka]=ემულატორი Arcade თამაშებისათვის
GenericName[kk]=Аркад ойынының эмуляторы
GenericName[km]=កម្មវិធី​ត្រាប់​តាម​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಎಮುಲೇಟರ್
GenericName[ko]=아케이드 에뮬레이터
GenericName[ku]=Emulatora Serpêhatiyan
GenericName[lt]=Arkadinis emuliatorius
GenericName[lv]=Arkādes emulators
GenericName[mai]=आर्केड एमुलेटर
GenericName[mk]=Аркаден емулатор
GenericName[ml]=ആര്‍കേഡ് എമുലേറ്റര്‍
GenericName[mr]=आर्केड एमुलेटर
GenericName[ms]=Emulator Arked
GenericName[nb]=Arkadespillemulator
GenericName[nds]=Emulator vun'n Speelhall
GenericName[ne]=आर्केड इमुलेटर
GenericName[nl]=Arcade-emulatie
GenericName[nn]=Arkadeemulator
GenericName[or]=Arcade ଯନ୍ତ୍ରାନୁକାରୀ
GenericName[pa]=ਅਰਕਾਡੀ ਈਮੂਲੇਟਰ
GenericName[pl]=Emulator gry zręcznościowej
GenericName[pt]=Emulador de Arcadas
GenericName[pt_BR]=Emulador de arcades
GenericName[ro]=Emulator pentru joc de aventuri
GenericName[ru]=Эмулятор аркадных игр
GenericName[se]=Fearánspellu emuláhtor
GenericName[si]=Arcade Emulator
GenericName[sk]=Emulátor automatov
GenericName[sl]=Arkadni emulator
GenericName[sr]=Емулатор аутомата
GenericName[sr@latin]=Emulator automata
GenericName[sv]=Spelhallsemulator
GenericName[ta]=ஆர்கேட் எமுலேட்டர்
GenericName[te]=ఆర్కెడ్ ఎములెటర్
GenericName[tg]=Тақлидгари Arcade
GenericName[th]=จำลองเกมอาเขต
GenericName[tr]=Macera Oyunu Öykünücüsü
GenericName[uk]=Емулятор "Arcade"
GenericName[uz]= Arkada oʻyinlar emulyatori
GenericName[uz@cyrillic]= Аркада ўйинлар эмулятори
GenericName[vi]=Mô phỏng Mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umlinganisi we Emulator
GenericName[x-test]=xxArcade Emulatorxx
GenericName[zh_CN]=街机模拟器
GenericName[zh_TW]=電子遊戲模擬器
Exec=qmamecat
Icon=penguin
Name=Qmamecat
Name[af]=Qmame-kat
Name[ar]=Qmamecat
Name[as]=Qmamecat
Name[be]=Qmamecat
Name[be@latin]=Qmamecat
Name[bg]=Qmamecat
Name[bn]=Qmamecat
Name[bn_IN]=Qmamecat
Name[br]=Qmamecat
Name[ca]=Qmamecat
Name[ca@valencia]=Qmamecat
Name[cs]=Qmamecat
Name[csb]=Qmamecat
Name[cy]=Qmamecat
Name[da]=Qmamecat
Name[de]=Qmamecat
Name[el]=Qmamecat
Name[en_GB]=Qmamecat
Name[eo]=Qmamecat
Name[es]=Qmamecat
Name[et]=Qmamecat
Name[eu]=Qmamecat
Name[fi]=Qmamecat
Name[fr]=QMamecat
Name[fy]=Qmamecat
Name[ga]=Qmamecat
Name[gl]=Qmamecat
Name[gu]=ક્મામેકેટ
Name[he]=Qmamecat
Name[hi]=क्यूमामेकेट
Name[hne]=क्यूमामेकेट
Name[hr]=Qmamecat
Name[hsb]=Qmamecat
Name[hu]=Qmamecat
Name[is]=Qmamecat
Name[it]=Qmamecat
Name[ja]=Qmamecat
Name[ka]=Qmamecat
Name[kk]=Qmamecat
Name[km]=Qmamecat
Name[kn]=ಕ್ಯುಮೇಮ್ಕಾಟ್
Name[ko]=Qmamecat
Name[ku]=Qmamecat
Name[lt]=Qmamecat
Name[lv]=Qmamecat
Name[mai]=क्यूमामेकेट
Name[mk]=Qmamecat
Name[ml]=ക്യുമേംക്യാറ്റ്
Name[mr]=क्यूमामेकेट
Name[ms]=Qmamecat
Name[nb]=Qmamecat
Name[nds]=Qmamecat
Name[ne]=क्युमामिक्याट
Name[nl]=Qmamecat
Name[nn]=Qmamecat
Name[oc]=Qmamecat
Name[or]=Qmamecat
Name[pa]=ਕਿਉਮੀਕੈਟ
Name[pl]=Qmamecat
Name[pt]=Qmamecat
Name[pt_BR]=Qmamecat
Name[ro]=Qmamecat
Name[ru]=Qmamecat
Name[se]=Qmamecat
Name[si]=Qmamecat
Name[sk]=Qmamecat
Name[sl]=Qmamecat
Name[sr]=Ку‑мамекат
Name[sr@latin]=Qmamecat
Name[sv]=Qmamecat
Name[ta]=குமாமேகாட்
Name[te]=క్యుమెమ్ కేట్
Name[tg]=Qmamecat
Name[th]=Qmamecat
Name[tr]=Qmamecat
Name[uk]=Qmamecat
Name[uz]=Qmamecat
Name[uz@cyrillic]=Qmamecat
Name[vi]=Qmamecat
Name[wa]=Qmamecat
Name[xh]=Qmamekati
Name[x-test]=xxQmamecatxx
Name[zh_CN]=Qmamecat
Name[zh_TW]=Qmamecat
Terminal=false
Type=Application
