[Desktop Entry]
GenericName=Arcade Emulator
GenericName[af]=Arkade Emulasie
GenericName[ar]=محاكي أركيد
GenericName[be]=Аркадны эмулятар
GenericName[bg]=Емулатор Arcade
GenericName[bn]=আর্কেড এমুলেটর
GenericName[br]=Kendarvanerezh tavarn
GenericName[ca]=Emulador arcade
GenericName[cs]=Arkádový emulátor
GenericName[csb]=Emùlatora chwatkòwi grë
GenericName[cy]=Efelychydd Arcêd
GenericName[da]=Arkade-emulator
GenericName[de]=Arkade-Emulator
GenericName[el]=Προσομοιωτής arcade
GenericName[eo]=Arkado-emulilo
GenericName[es]=Emulador de Arcade
GenericName[et]=Mänguautomaadi emulaator
GenericName[eu]=Arkade emuladorea
GenericName[fa]=مقلد گذرگاه تاقدار
GenericName[fi]=Videoemulaattori
GenericName[fr]=Émulateur de jeux d'arcade
GenericName[fy]=Arcade-emulaasje
GenericName[ga]=Aithriseoir Stuara
GenericName[gl]=Emulador de máquinas recreativas
GenericName[gu]=અર્કાડે ઇમ્યુલેટર
GenericName[he]=אמולטור למשחקי Arcade
GenericName[hi]=आर्केड एमुलेटर
GenericName[hr]=Emulator arkada
GenericName[hu]=Játéktermi emulátor
GenericName[it]=Emulatore arcade
GenericName[ja]=アーケードエミュレータ
GenericName[ka]=ემულატორი Arcade თამაშებისათვის
GenericName[kk]=Аркад ойынының эмуляторы
GenericName[km]=កម្មវិធី​ត្រាប់​តាម​ទូ
GenericName[ko]=아케이드 에뮬레이터
GenericName[ku]=Emulatora Serpêhatiyan
GenericName[lt]=Arkadinis emuliatorius
GenericName[lv]=Arkādes emulators
GenericName[mk]=Аркаден емулатор
GenericName[ml]=ആര്‍കേഡ് എമുലേറ്റര്‍
GenericName[ms]=Emulator Arked
GenericName[nb]=Arkadespillemulator
GenericName[nds]=Emulator vun'n Speelhall
GenericName[ne]=आर्केड इमुलेटर
GenericName[nl]=Arcade-emulatie
GenericName[nn]=Arkadeemulator
GenericName[pa]=ਅਰਕਾਡੀ ਈਮੂਲੇਟਰ
GenericName[pl]=Emulator gry zręcznościowej
GenericName[pt]=Emulador de Arcadas
GenericName[pt_BR]=Emulador de Arcades
GenericName[ro]=Emulator pentru joc de aventuri
GenericName[ru]=Эмулятор аркадных игр
GenericName[se]=Fearánspellu emuláhtor
GenericName[sk]=Emulátor automatov
GenericName[sl]=Arkadni emulator
GenericName[sr]=Емулатор аутомата
GenericName[sr@latin]=Emulator automata
GenericName[sv]=Arkademulator
GenericName[ta]=ஆர்கேட் எமுலேட்டர்
GenericName[te]=ఆర్కెడ్ ఎములెటర్
GenericName[tg]=Тақлидгари Arcade
GenericName[th]=จำลองเกมอาเขต
GenericName[tr]=Macera Oyunu Öykünücüsü
GenericName[uk]=Емулятор "Arcade"
GenericName[uz]= Arkada oʻyinlar emulyatori
GenericName[uz@cyrillic]= Аркада ўйинлар эмулятори
GenericName[vi]=Mô phỏng Mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[x-test]=xxArcade Emulatorxx
GenericName[xh]=Umlinganisi we Emulator
GenericName[zh_CN]=街机模拟器
GenericName[zh_TW]=電子遊戲模擬器
Exec=qmamecat
Icon=penguin
Name=Qmamecat
Name[af]=Qmame-kat
Name[fr]=QMamecat
Name[gu]=ક્મામેકેટ
Name[hi]=क्यूमामेकेट
Name[ml]=ക്യുമേംക്യാറ്റ്
Name[ne]=क्युमामिक्याट
Name[pa]=ਕਿਉਮੀਕੈਟ
Name[sr]=Ку‑мамекат
Name[ta]=குமாமேகாட்
Name[te]=క్యుమెమ్ కేట్
Name[x-test]=xxQmamecatxx
Name[xh]=Qmamekati
Terminal=false
Type=Application
