[Desktop Entry]
Encoding=UTF-8
GenericName=Arcade Emulator
GenericName[af]=Arkade Emulasie
GenericName[ar]=مضاهِ Arcade
GenericName[br]=Kendarvanerezh tavarn
GenericName[ca]=Emulador arcade
GenericName[cs]=Arkádový emulátor
GenericName[csb]=Emùlator chwatkòwi grë
GenericName[cy]=Efelychydd Arcêd
GenericName[da]=Arkade-emulator
GenericName[de]=Arkade-Emulator
GenericName[el]=Προσομοιωτής arcade
GenericName[eo]=Arkado-emulilo
GenericName[es]=Emulador de Arcade
GenericName[et]=Mänguautomaadi emulaator
GenericName[eu]=Arkade emuladorea
GenericName[fa]=مقلد گذرگاه تاقدار
GenericName[fi]=Videoemulaattori
GenericName[fr]=Émulateur de jeux d'arcade
GenericName[fy]=Arcade-emulaasje
GenericName[ga]=Aithriseoir Stuara
GenericName[gl]=Emulador Arcade
GenericName[he]=אמולטור למשחקי Arcade
GenericName[hr]=Emulator arkada
GenericName[hu]=Játéktermi emulátor
GenericName[it]=Emulatore arcade
GenericName[ja]=アーケードエミュレータ
GenericName[ka]=ემულატორი Arcade თამაშებისათვის
GenericName[kk]=Аркад ойынының эмуляторы
GenericName[km]=កម្មវិធី​ត្រាប់​តាម​ការ​ធ្វើ​ដំណើរ
GenericName[ko]=오락실 흉내장이
GenericName[lt]=Arkadinis emuliatorius
GenericName[lv]=Arkādes Emulators
GenericName[mk]=Аркаден емулатор
GenericName[ms]=Emulator Arked
GenericName[nb]=Arkadespillemulator
GenericName[nds]=Emulator vun'n Speelhall
GenericName[ne]=आर्केड इमुलेटर
GenericName[nl]=Arcade-emulatie
GenericName[nn]=Arkadeemulator
GenericName[pa]=ਅਰਕਾਡੀ ਸਮਰੂਪ
GenericName[pl]=Emulator gry zręcznościowej
GenericName[pt]=Emulador de Arcadas
GenericName[pt_BR]=Emulador para o Arcade
GenericName[ro]=Emulator pentru joc de aventuri
GenericName[ru]=Эмулятор аркадных игр
GenericName[se]=Fearánspellu emuláhtor
GenericName[sl]=Arkadni emulator
GenericName[sr]=Аркадни емулатор
GenericName[sr@latin]=Arkadni emulator
GenericName[sv]=Arkademulator
GenericName[ta]=ஆர்கேட் எமுலேட்டர்
GenericName[te]=ఆర్కెడ్ ఎములెటర్
GenericName[tg]=Эмулятори бозиҳои Arcade
GenericName[th]=จำลองเกมอาเขต
GenericName[tr]=Macera Oyunu Öyküncüsü
GenericName[uk]=Емулятор "Arcade"
GenericName[uz]= Аркада ўйинлар эмулятори
GenericName[wa]=Djeu d' årcåde
GenericName[x-test]=xxArcade Emulatorxx
GenericName[xh]=Umlinganisi we Emulator
GenericName[zh_TW]=電子遊戲模擬器
Exec=qmamecat
Icon=penguin
Name=Qmamecat
Name[af]=Qmame-kat
Name[eo]=QMamecat
Name[fr]=QMamecat
Name[ne]=क्युमामिक्याट
Name[pa]=ਕਿਉਮੀਕੈਟ
Name[te]=క్యుమెమ్ కేట్
Name[x-test]=xxQmamecatxx
Name[xh]=Qmamekati
Path=
Terminal=false
Type=Application
