[Desktop Entry]
Name=Emacs
Name[af]=Emacs
Name[ar]=إيماكس
Name[as]=Emacs
Name[be]=Emacs
Name[be@latin]=Emacs
Name[bg]=Emacs
Name[bn]=ইম্যাক্স
Name[bn_IN]=Emacs
Name[br]=Emacs
Name[ca]=Emacs
Name[ca@valencia]=Emacs
Name[cs]=Emacs
Name[csb]=Emacs
Name[cy]=Emacs
Name[da]=Emacs
Name[de]=Emacs
Name[el]=Emacs
Name[en_GB]=Emacs
Name[eo]=Emakso
Name[es]=Emacs
Name[et]=Emacs
Name[eu]=Emacs
Name[fi]=Emacs
Name[fr]=Emacs
Name[fy]=Emacs
Name[ga]=Emacs
Name[gl]=Emacs
Name[gu]=ઇમેક્સ
Name[he]=Emacs
Name[hi]=ईमेक्स
Name[hne]=ईमेक्स
Name[hr]=Emacs
Name[hsb]=Emacs
Name[hu]=Emacs
Name[is]=Emacs
Name[it]=Emacs
Name[ja]=Emacs
Name[ka]=Emacs
Name[kk]=Emacs
Name[km]=Emacs
Name[kn]=ಈಮಾಕ್ಸ್
Name[ko]=Emacs
Name[ku]=Emacs
Name[lt]=Emacs
Name[lv]=Emacs
Name[mai]=ईमेक्स
Name[mk]=Emacs
Name[ml]=ഈമാക്സ്
Name[mr]=ईमॅक्स
Name[ms]=Emacs
Name[nb]=Emacs
Name[nds]=Emacs
Name[ne]=इमाक्स
Name[nl]=Emacs
Name[nn]=Emacs
Name[oc]=Emacs
Name[or]=ଏମାକସ
Name[pa]=Emacs
Name[pl]=Emacs
Name[pt]=Emacs
Name[pt_BR]=Emacs
Name[ro]=Emacs
Name[ru]=Emacs
Name[se]=Emacs
Name[si]=Emacs
Name[sk]=Emacs
Name[sl]=Emacs
Name[sr]=Емакс
Name[sr@latin]=Emacs
Name[sv]=Emacs
Name[ta]=இமாக்ஸ்
Name[te]=ఈ మెక్స్
Name[tg]=Emacs
Name[th]=Emacs
Name[tr]=Emacs
Name[uk]=Emacs
Name[uz]=Emacs
Name[uz@cyrillic]=Emacs
Name[vi]=Emacs
Name[wa]=Emacs
Name[xh]=Emacs
Name[x-test]=xxEmacsxx
Name[zh_CN]=Emacs
Name[zh_TW]=Emacs
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs %f
Icon=emacs
Type=Application
Terminal=false
X-KDE-StartupNotify=false
X-StandardInstall=true
