[Desktop Entry]
Name=Lucid Emacs
Name[af]=Lucid Emacs
Name[ar]=Lucid Emacs
Name[as]=Lucid Emacs
Name[be]=Lucid Emacs
Name[be@latin]=Lucid Emacs
Name[bg]=Lucid Emacs
Name[bn]=লুসিড ইম্যাক্স
Name[bn_IN]=Lucid Emacs
Name[br]=Lucid Emacs
Name[ca]=Lucid Emacs
Name[ca@valencia]=Lucid Emacs
Name[cs]=Lucid Emacs
Name[csb]=Lucid Emacs
Name[cy]=Emacs Eglur
Name[da]=Lucid Emacs
Name[de]=Lucid Emacs
Name[el]=Lucid Emacs
Name[en_GB]=Lucid Emacs
Name[eo]=Lucid-Emakso
Name[es]=Lucid Emacs
Name[et]=Lucid Emacs
Name[eu]=Lucid Emacs
Name[fi]=Lucid Emacs
Name[fr]=Lucid Emacs
Name[fy]=Lucid Emacs
Name[ga]=Lucid Emacs
Name[gl]=Lucid Emacs
Name[gu]=લ્યુસિડ ઇમેક્સ
Name[he]=Lucid Emacs
Name[hi]=ल्यूसिड ईमेक्स
Name[hne]=ल्यूसिड ईमेक्स
Name[hr]=Lucid Emacs
Name[hsb]=Lucid Emacs
Name[hu]=Lucid Emacs
Name[is]=Lucid Emacs
Name[it]=Lucid Emacs
Name[ja]=Lucid Emacs
Name[ka]=Lucid Emacs
Name[kk]=Lucid Emacs
Name[km]=Lucid Emacs
Name[kn]=ಸುಲಲಿತ ಈಮಾಕ್ಸ್
Name[ko]=Lucid Emacs
Name[ku]=Lucid Emacs
Name[lt]=Lucid Emacs
Name[lv]=Lucid Emacs
Name[mai]=ल्यूसिड ईमेक्स
Name[mk]=Lucid Emacs
Name[ml]=ലൂസിഡ് ഈമാക്സ്
Name[mr]=ल्यूसिड ईमॅक्स
Name[ms]=Lucid Emacs
Name[nb]=Lucid Emacs
Name[nds]=Lucid Emacs
Name[ne]=लुसिड इमाक्स
Name[nl]=Lucid Emacs
Name[nn]=Lucid Emacs
Name[oc]=Lucid Emacs
Name[or]=ଲୁସିଡ଼ ଏମାକସ
Name[pa]=Lucid Emacs
Name[pl]=Lucid Emacs
Name[pt]=Lucid Emacs
Name[pt_BR]=Lucid Emacs
Name[ro]=Lucid Emacs
Name[ru]=Lucid Emacs
Name[se]=Lucid Emacs
Name[si]=Lucid Emacs
Name[sk]=Lucid Emacs
Name[sl]=Lucid Emacs
Name[sr]=Лусидов Емакс
Name[sr@latin]=Lucidov Emacs
Name[sv]=Lucid Emacs
Name[ta]=எளிமையான எமாக்ஸ்
Name[te]=Lucid Emacs
Name[tg]=Lucid Emacs
Name[th]=Lucid Emacs
Name[tr]=Lucid Emacs
Name[uk]=Lucid Emacs
Name[uz]=Lucid Emacs
Name[uz@cyrillic]=Lucid Emacs
Name[vi]=Lucid Emacs
Name[wa]=Lucid Emacs
Name[xh]=Lucid Emacs
Name[x-test]=xxLucid Emacsxx
Name[zh_CN]=Lucid Emacs
Name[zh_TW]=Lucid Emacs
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=lemacs %f
Icon=emacs
Type=Application
Terminal=false
X-KDE-StartupNotify=false
X-KDE-AuthorizeAction=shell_access
