[Desktop Entry]
Name=Nano
Name[af]=Nano
Name[ar]=نانو
Name[as]=Nano
Name[be]=Nano
Name[be@latin]=Nano
Name[bg]=Nano
Name[bn]=ন্যানো
Name[bn_IN]=Nano
Name[br]=Nano
Name[ca]=Nano
Name[ca@valencia]=Nano
Name[cs]=Nano
Name[csb]=Nano
Name[cy]=Nano
Name[da]=Nano
Name[de]=Nano
Name[el]=Nano
Name[en_GB]=Nano
Name[eo]=Nano
Name[es]=Nano
Name[et]=Nano
Name[eu]=Nano
Name[fi]=Nano
Name[fr]=Nano
Name[fy]=Nano
Name[ga]=Nano
Name[gl]=Nano
Name[gu]=નેનો
Name[he]=Nano
Name[hi]=नेनो
Name[hne]=नेनो
Name[hr]=Nano
Name[hsb]=Nano
Name[hu]=Nano
Name[is]=Nano
Name[it]=Nano
Name[ja]=Nano
Name[ka]=Nano
Name[kk]=Nano
Name[km]=Nano
Name[kn]=ನಾನೋ
Name[ko]=Nano
Name[ku]=Nano
Name[lt]=Nano
Name[lv]=Nano
Name[mai]=नेनो
Name[mk]=Nano
Name[ml]=നാനോ
Name[mr]=नॅनो
Name[ms]=Nano
Name[nb]=Nano
Name[nds]=Nano
Name[ne]=नानो
Name[nl]=Nano
Name[nn]=Nano
Name[oc]=Nano
Name[or]=ନାନୋ
Name[pa]=ਨਾਨੋ
Name[pl]=Nano
Name[pt]=Nano
Name[pt_BR]=Nano
Name[ro]=Nano
Name[ru]=Nano
Name[se]=Nano
Name[si]=Nano
Name[sk]=Nano
Name[sl]=Nano
Name[sr]=Нано
Name[sr@latin]=Nano
Name[sv]=Nano
Name[ta]=நானோ
Name[te]=నెనొ
Name[tg]=Nano
Name[th]=Nano
Name[tr]=Nano
Name[uk]=Nano
Name[uz]=Nano
Name[uz@cyrillic]=Nano
Name[vi]=Nano
Name[wa]=Nano
Name[xh]=Nano
Name[x-test]=xxNanoxx
Name[zh_CN]=Nano
Name[zh_TW]=Nano
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Exec=nano
Terminal=true
Icon=nano
Type=Application
