[Desktop Entry]
Name=Pico
Name[af]=Pico
Name[ar]=محرر النصوص Pico
Name[as]=Pico
Name[be]=Pico
Name[be@latin]=Pico
Name[bg]=Pico
Name[bn]=পিকো
Name[bn_IN]=Pico
Name[br]=Pico
Name[ca]=Pico
Name[ca@valencia]=Pico
Name[cs]=Pico
Name[csb]=Pico
Name[cy]=Pico
Name[da]=Pico
Name[de]=Pico
Name[el]=Pico
Name[en_GB]=Pico
Name[eo]=Pico
Name[es]=Pico
Name[et]=Pico
Name[eu]=Pico
Name[fi]=Pico
Name[fr]=Pico
Name[fy]=Pico
Name[ga]=Pico
Name[gl]=Pico
Name[gu]=પીકો
Name[he]=Pico
Name[hi]=पिको
Name[hne]=पिको
Name[hr]=Pico
Name[hsb]=Pico
Name[hu]=Pico
Name[is]=Pico
Name[it]=Pico
Name[ja]=Pico
Name[ka]=Pico
Name[kk]=Pico
Name[km]=Pico
Name[kn]=ಪಿಕೋ
Name[ko]=Pico
Name[ku]=Pico
Name[lt]=Pico
Name[lv]=Pico
Name[mai]=पिको
Name[mk]=Pico
Name[ml]=പൈകോ
Name[mr]=पिको
Name[ms]=Pico
Name[nb]=Pico
Name[nds]=Pico
Name[ne]=पिको
Name[nl]=Pico
Name[nn]=Pico
Name[oc]=Pico
Name[or]=ପିକୋ
Name[pa]=Pico
Name[pl]=Pico
Name[pt]=Pico
Name[pt_BR]=Pico
Name[ro]=Pico
Name[ru]=Pico
Name[se]=Pico
Name[si]=Pico
Name[sk]=Pico
Name[sl]=Pico
Name[sr]=Пико
Name[sr@latin]=Pico
Name[sv]=Pico
Name[ta]=பிகோ
Name[te]=పికొ
Name[tg]=Pico
Name[th]=Pico
Name[tr]=Pico
Name[uk]=Pico
Name[uz]=Pico
Name[uz@cyrillic]=Pico
Name[vi]=Pico
Name[wa]=Pico
Name[xh]=Pico
Name[x-test]=xxPicoxx
Name[zh_CN]=Pico
Name[zh_TW]=Pico
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Exec=pico
Terminal=true
Icon=pine
Type=Application
