[Desktop Entry]
Name=X Editor
Name[af]=X Redigeerder
Name[ar]=محرر X
Name[as]=X সম্পাদক
Name[be]=Рэдактар X
Name[be@latin]=Redaktar X
Name[bg]=X Editor
Name[bn]=এক্স সম্পাদক
Name[bn_IN]=X Editor
Name[br]=X Editor
Name[ca]=Editor X
Name[ca@valencia]=Editor X
Name[cs]=X Editor
Name[csb]=X Editor
Name[cy]=Golygydd X
Name[da]=X-editor
Name[de]=X-Editor
Name[el]=X Επεξεργαστής
Name[en_GB]=X Editor
Name[eo]=X Editor
Name[es]=Editor de X
Name[et]=X Editor
Name[eu]=X editorea
Name[fa]=ویرایشگر X
Name[fi]=X-editori
Name[fr]=Éditeur X
Name[fy]=X Bewurker
Name[ga]=X Editor
Name[gl]=Editor das X
Name[gu]=X સંપાદક
Name[he]=X Editor
Name[hi]=एक्स संपादक
Name[hne]=एक्स संपादक
Name[hr]=X Editor
Name[hsb]=X Editor
Name[hu]=Xedit
Name[is]=X Ritill
Name[it]=Editor X
Name[ja]=X Editor
Name[ka]=X რედაქტორი
Name[kk]=X редакторы
Name[km]=កម្មវិធី​និពន្ធ X
Name[kn]=ಕ್ಸ ಸಂಪಾದಕ
Name[ko]=X 편집기
Name[ku]=X Edîtor
Name[lt]=X Editor
Name[lv]=X redaktors
Name[mai]=एक्स संपादक
Name[mk]=X Editor
Name[ml]=എക്സ് എഡിറ്റര്‍
Name[mr]=एक्स संपादक
Name[ms]=X Editor
Name[nb]=X-redigerer
Name[nds]=X-Editor
Name[ne]=X सम्पादक
Name[nl]=X Editor
Name[nn]=X-redigering
Name[oc]=X Editor
Name[or]=X ସମ୍ପାଦକ
Name[pa]=X ਐਡੀਟਰ
Name[pl]=X Editor
Name[pt]=Editor X
Name[pt_BR]=Editor X
Name[ro]=Editor X
Name[ru]=Редактор X
Name[se]=X-čállinprográmma
Name[si]=X සැකසුම
Name[sk]=X Editor
Name[sl]=X Editor
Name[sr]=Икс‑уређивач
Name[sr@latin]=X‑uređivač
Name[sv]=X editor
Name[ta]=எக்ஸ்எடிட்டர்
Name[te]=ఎక్స్ ఎడిటర్
Name[tg]=Таҳриргари X
Name[th]=X Editor
Name[tr]=X Düzenleyicisi
Name[uk]=Редактор X
Name[uz]=X tahrirchi
Name[uz@cyrillic]=X таҳрирчи
Name[vi]=Soạn X
Name[wa]=X Editor
Name[xh]=Umhleli we X
Name[x-test]=xxX Editorxx
Name[zh_CN]=X 编辑器
Name[zh_TW]=X 編輯器
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;
Exec=xedit %f
Icon=xedit
Type=Application
Terminal=false
X-KDE-StartupNotify=true
