[Desktop Entry]
Encoding=UTF-8
Name=X Editor
Name[af]=X Redigeerder
Name[ar]=محرر X
Name[ca]=Editor X
Name[cy]=Golygydd X
Name[da]=X-editor
Name[el]=X Επεξεργαστής
Name[eo]=XRedaktilo
Name[es]=Editor de X
Name[eu]=X editorea
Name[fa]=ویرایشگر X
Name[fi]=X-editori
Name[fr]=XEdit
Name[fy]=X Bewurker
Name[gl]=Editor X
Name[hu]=Xedit
Name[is]=X Ritill
Name[it]=Editor X
Name[ka]=X რედაქტორი
Name[kk]=X редакторы
Name[ko]=X용 편집기
Name[lv]=X Redaktors
Name[nb]=X-redigerer
Name[nds]=X-Editor
Name[ne]=X सम्पादक
Name[nn]=X-redigering
Name[pa]=X ਸੰਪਾਦਕ
Name[pt]=Editor X
Name[pt_BR]=Editor X
Name[ro]=Editor X
Name[ru]=Редактор X
Name[se]=X-čállinprográmma
Name[sv]=X editor
Name[ta]=X தொகுப்பாளர்
Name[tg]=Муҳаррири X
Name[tr]=X Düzenleyicisi
Name[uk]=Редактор X
Name[uz]=X таҳрирчи
Name[x-test]=xxX Editorxx
Name[xh]=Umhleli we X
Name[zh_TW]=X 編輯器
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[bg]=Текстов редактор
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editor
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de Textos
GenericName[he]=עורך טקסט
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[ko]=글월 편집기
GenericName[lt]=Teksto rengyklė
GenericName[lv]=Teksta Redaktors
GenericName[mk]=Уредувач на текст
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[pa]=ਪਾਠ ਸੰਪਾਦਕ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@Latn]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பாளர்
GenericName[tg]=Муҳаррири матн
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Матн таҳрирчи
GenericName[x-test]=xxText Editorxx
GenericName[xh]=Umhleli Wombhalo
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;
Exec=xedit %f
Icon=xedit
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
