[Desktop Entry]
Name=X Emacs
Name[af]=X Emacs
Name[ar]=المحر X Emacs
Name[as]=X Emacs
Name[be]=X Emacs
Name[be@latin]=X Emacs
Name[bg]=X Emacs
Name[bn]=এক্স ইম্যাক্স
Name[bn_IN]=X Emacs
Name[br]=X Emacs
Name[ca]=X Emacs
Name[ca@valencia]=X Emacs
Name[cs]=X Emacs
Name[csb]=X Emacs
Name[cy]=X Emacs
Name[da]=X Emacs
Name[de]=X-Emacs
Name[el]=X Emacs
Name[en_GB]=X Emacs
Name[eo]=X Emacs
Name[es]=XEmacs
Name[et]=X Emacs
Name[eu]=X Emacs
Name[fi]=X Emacs
Name[fr]=XEmacs
Name[fy]=X Emacs
Name[ga]=X Emacs
Name[gl]=X Emacs
Name[gu]=X ઇમેક્સ
Name[he]=X Emacs
Name[hi]=एक्स ईमेक्स
Name[hne]=एक्स ईमेक्स
Name[hr]=X Emacs
Name[hsb]=X Emacs
Name[hu]=X Emacs
Name[is]=X Emacs
Name[it]=X Emacs
Name[ja]=X Emacs
Name[ka]=X Emacs
Name[kk]=X Emacs
Name[km]=Emacs X
Name[kn]=ಕ್ಸ ಈಮಾಕ್ಸ್
Name[ko]=X Emacs
Name[ku]=X Emacs
Name[lt]=X Emacs
Name[lv]=X Emacs
Name[mai]=एक्स ईमेक्स
Name[mk]=X Emacs
Name[ml]=എക്സ് ഈമാക്സ്
Name[mr]=एक्स ईमॅक्स
Name[ms]=X Emacs
Name[nb]=X-Emacs
Name[nds]=X-Emacs
Name[ne]=X इमाक्स
Name[nl]=X Emacs
Name[nn]=X Emacs
Name[oc]=X Emacs
Name[or]=X ଏମାକସ
Name[pa]=X Eਮੈਕਸ
Name[pl]=X Emacs
Name[pt]=X Emacs
Name[pt_BR]=Emacs X
Name[ro]=X Emacs
Name[ru]=X Emacs
Name[se]=X Emacs
Name[si]=X Emacs
Name[sk]=X Emacs
Name[sl]=X Emacs
Name[sr]=Икс‑емакс
Name[sr@latin]=XEmacs
Name[sv]=X Emacs
Name[ta]=எக்ஸ்இமாக்ஸ்
Name[te]=ఎక్స్ ఈ మెక్స్
Name[tg]=X Emacs
Name[th]=X Emacs
Name[tr]=X Emacs
Name[uk]=X Emacs
Name[uz]=X Emacs
Name[uz@cyrillic]=X Emacs
Name[vi]=X Emacs
Name[wa]=X Emacs
Name[xh]=X Emacs
Name[x-test]=xxX Emacsxx
Name[zh_CN]=X Emacs
Name[zh_TW]=X Emacs 編輯器
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=xemacs %f
Icon=emacs
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-WMClass=emacs
X-KDE-AuthorizeAction=shell_access
