[Desktop Entry]
Encoding=UTF-8
Name=Citrix ICA Client
Name[af]=Citrix ICA Kliënt
Name[be]=Кліент Citrix ICA
Name[br]=Pratik Citrix ICA
Name[ca]=Client Citrix ICA
Name[cs]=Citrix ICA klient
Name[csb]=Klient Citrix ICA
Name[cy]=Dibynnydd Citrix ICA
Name[da]=Citrix ICA klient
Name[de]=Citrix ICA-Client
Name[el]=Πελάτης Citrix ICA
Name[eo]=Citrix ICA kliento
Name[es]=Cliente Citrix ICA
Name[et]=Citrix ICA klient
Name[eu]=Citrix ICA bezeroa
Name[fa]=کارخواه Citrix ICA
Name[fi]=Citrix ICA -asiakas
Name[fr]=Client Citrix ICA
Name[fy]=Citrix ICA-klant
Name[ga]=Cliant ICA Citrix
Name[gl]=Cliente de Citrix ICA
Name[he]=לקוח Citrix ICA
Name[hr]=Citrix ICA klijent
Name[hu]=Citrix ICA kliens
Name[it]=Client Citrix ICA
Name[ja]=Citrix ICA クライアント
Name[ka]=Citrix ICA–ს კლიენტი
Name[kk]=Citrix ICA клиенті
Name[km]=កម្មវិធី Citrix ICA
Name[lv]=Citrix ICA Klients
Name[mk]=Клиент за Citrix ICA
Name[ms]=Pelanggan Citrix ICA
Name[nds]=Citrix ICA-Client
Name[ne]=सिट्रिक्स ICA ग्राहक
Name[nl]=Citrix ICA-client
Name[nn]=Citrix ICA-klient
Name[pa]=Citrix ICA ਕਲਾਂਈਟ
Name[pl]=Klient Citrix ICA
Name[pt]=Cliente do ICA da Citrix
Name[pt_BR]=Cliente Citrix ICA
Name[ro]=Client Citrix ICA
Name[ru]=Клиент Citrix ICA
Name[se]=Citrix ICA-klienta
Name[sl]=Odjemalec Citrix ICA
Name[sr]=Citrix ICA клијент
Name[sr@latin]=Citrix ICA klijent
Name[sv]=Citrix ICA-klient
Name[ta]=சிட்ரிக்ஸ் ICA உறுப்பினர்
Name[tg]=Коргири Citrix ICA
Name[tr]=Citrix ICA İstemcisi
Name[uk]=Клієнт Citrix ICA
Name[uz]=Citrix ICA клиенти
Name[x-test]=xxCitrix ICA Clientxx
Name[xh]=Citrix Umxhasi we ICA
Name[zh_TW]=Citrix ICA 客戶端程式
GenericName=WTS Client
GenericName[af]=WTS Kliënt
GenericName[be]=Кліент WTS
GenericName[br]=Kliant UTS
GenericName[ca]=Client WTS
GenericName[cs]=WTS klient
GenericName[csb]=Klient WTS
GenericName[cy]=Dibynnydd WTS
GenericName[da]=WTS-klient
GenericName[de]=WTS-Programm
GenericName[el]=Πελάτης WTS
GenericName[eo]=WTS-kliento
GenericName[es]=Cliente WTS
GenericName[et]=WTS klient
GenericName[eu]=WTS bezeroa
GenericName[fa]=کارخواه WTS
GenericName[fi]=WTS-asiakas
GenericName[fr]=Un client WTS
GenericName[fy]=WTS-klant
GenericName[ga]=Cliant WTS
GenericName[gl]=Cliente de WTS
GenericName[he]=לקוח WTS
GenericName[hr]=WTS klijent
GenericName[hu]=WTS-kliens
GenericName[it]=Client WTS
GenericName[ja]=WTS クライアント
GenericName[ka]=WTS კლიენტი
GenericName[kk]=WTS клиенті
GenericName[km]=កម្មវិធី WTS
GenericName[mk]=Клиент за WTS
GenericName[ms]=Pelanggan WTS
GenericName[nb]=WTS-klient
GenericName[nds]=Client för WTS
GenericName[ne]=WTS ग्राहक
GenericName[nl]=WTS-client
GenericName[nn]=WTS-klient
GenericName[pa]=WTS ਕਲਾਂਈਟ
GenericName[pl]=Klient WTS
GenericName[pt]=Cliente de WTS
GenericName[pt_BR]=Cliente WTS
GenericName[ro]=Client de Windows Terminal Server
GenericName[ru]=Клиент WTS
GenericName[se]=WTS-klienta
GenericName[sl]=Odjemnik za WTS
GenericName[sr]=WTS клијент
GenericName[sr@latin]=WTS klijent
GenericName[sv]=WTS-klient
GenericName[ta]=WTS உறுப்பினர்
GenericName[tg]=Коргири WTS
GenericName[tr]=WTS İstemcisi
GenericName[uk]=Клієнт WTS
GenericName[uz]=WTS клиенти
GenericName[x-test]=xxWTS Clientxx
GenericName[xh]=Umxhasi we WTS
GenericName[zh_TW]=WTS 客戶端程式
Exec=wfica %f
Icon=terminal
MimeType=application/x-ica
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
X-StandardInstall=true
