[Desktop Entry]
Name=EditXRes
Name[af]=RedigeerXRes
Name[csb]=Editora dostónków XWindow
Name[cy]=GolyguXRes
Name[eo]=Aspektoredaktilo
Name[fr]=EditRes
Name[hi]=एडिट-एक्स-रेस
Name[ne]=सम्पादन XRes
Name[pl]=Edytor zasobów XWindow
Name[sr]=Едит‑Иксрес
Name[sv]=Editxres
Name[x-test]=xxEditXResxx
GenericName=X Resource Editor
GenericName[af]=X Hulpbron Redigeerder
GenericName[be]=Рэдактар рэсурсаў X
GenericName[bg]=Редактор на X ресурс
GenericName[bn]=এক্স রিসোর্স সম্পাদক
GenericName[ca]=Editor de recursos X
GenericName[csb]=Editora dostónków XWindow
GenericName[cy]=Golygydd Adnoddau X
GenericName[da]=X-ressource-editor
GenericName[de]=X-Ressourcen-Editor
GenericName[el]=Επεξεργαστής πόρων των X
GenericName[es]=Editor X de recursos
GenericName[et]=X'i resursside redaktor
GenericName[eu]=X Resource editorea
GenericName[fa]=ویرایشگر منبع X
GenericName[fi]=X-resurssimuokkain
GenericName[fr]=Éditeur de ressources X-Window
GenericName[fy]=X-helpboarnebewurker
GenericName[ga]=Eagarthóir na nAcmhainní X
GenericName[gl]=Editor de recursos das X
GenericName[he]=עורך משאבים של X
GenericName[hi]=एक्स रिसोर्स संपादक
GenericName[hr]=Uređivač X resursa
GenericName[hu]=X-erőforrás-szerkesztő
GenericName[is]=X auðlindaritill
GenericName[it]=Editor di risorse X
GenericName[ja]=X リソースエディタ
GenericName[ka]=X რესურსების რედაქტორი
GenericName[kk]=X ресурс редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​ធនធាន X
GenericName[ko]=X 리소스 편집기
GenericName[lt]=X resursų redaktorius
GenericName[lv]=X resursu redaktors
GenericName[mk]=Уредувач на X-ресурси
GenericName[ms]=Editor Sumber X
GenericName[nb]=X-ressursredigering
GenericName[nds]=Editor för X-Ressourcen
GenericName[ne]=X संसाधन सम्पादक
GenericName[nl]=X-hulpbroneditor
GenericName[nn]=X-ressursredigering
GenericName[pa]=X ਸਰੋਤ ਐਡੀਟਰ
GenericName[pl]=Edytor zasobów XWindow
GenericName[pt]=Editor de Recursos do X
GenericName[pt_BR]=Editor de recursos do X
GenericName[ro]=Editor de resurse X
GenericName[ru]=Редактор ресурсов X 
GenericName[se]=X-resursadoaimmaheaddji
GenericName[sk]=Editor zdrojov X
GenericName[sl]=Urejevalnik virov za X
GenericName[sr]=Уређивач Икс ресурса
GenericName[sr@latin]=Uređivač X resursa
GenericName[sv]=X resurseditor
GenericName[ta]=X மூலத்தை திருத்துபவர்
GenericName[tg]=Муҳаррири захираи X
GenericName[th]=เครื่องมือแก้ไขทรัพยากร X
GenericName[tr]=X Kaynak Düzenleyicisi
GenericName[uk]=Редактор ресурсів X
GenericName[uz]=X имкониятларини таҳрирчи
GenericName[vi]=Bộ sửa tài nguyên X
GenericName[wa]=Aspougneu di rsoûces X11
GenericName[x-test]=xxX Resource Editorxx
GenericName[xh]=Umhleli Wecebo le X
GenericName[zh_CN]=X 资源编辑器
GenericName[zh_TW]=X 資源編輯器
Exec=editres
Terminal=false
Icon=xpm
Type=Application
