[Desktop Entry]
Name=SAM System-Administration
Name[af]=SAM Stelsel Administrasie
Name[be]=Сістэмнае адміністраванне SAM
Name[br]=Melestradur ar reizhiad SAM
Name[ca]=Administració del sistema SAM
Name[cs]=Správce systému SAM
Name[csb]=SAM - Sprôwianié systemë
Name[cy]=Gweinyddiaith Cysawd SAM
Name[da]=SAM-systemadministration
Name[de]=SAM-Systemverwaltung
Name[el]=SAM διαχείριση-συστήματος
Name[eo]=SAM Sistemadministrilo
Name[es]=Administración del sistema SAM
Name[et]=SAM süsteemi administreerimine
Name[eu]=SAM sistema kudeaketa
Name[fa]=سرپرست سیستم SAM
Name[fi]=SAM-järjestelmänhallinta
Name[fr]=Administration système SAM
Name[fy]=SAM systeembehear
Name[ga]=Riar Córais SAM
Name[gl]=Administración do Sistema SAM
Name[he]=ניהול המערכת - SAM
Name[hr]=SAM administracija sustava
Name[hu]=SAM rendszeradminisztráció
Name[is]=SAM kerfisstjórnun
Name[it]=Amministrazione di sistema SAM
Name[ja]=SAM システム管理
Name[ka]=SAM–ის სიტემური ადმინისტრირება
Name[kk]=SAM жүйе әкімшілігі
Name[km]=ការ​គ្រប់គ្រង​ប្រព័ន្ធ SAM
Name[ko]=SAM 시스템 관리
Name[lt]=SAM Sistemos-Administravimas
Name[lv]=SAM Sistēmas Administrācija
Name[mk]=SAM системска администрација
Name[ms]=Pentadbir Sistem SAM
Name[nb]=SAM systemadministrasjon
Name[nds]=SAM Systeem-Pleeg
Name[ne]=SAM प्रणाली-प्रशासन
Name[nl]=SAM systeembeheer
Name[nn]=SAM systemadministrasjon
Name[pa]=SAM ਸਿਸਟਮ-ਪਰਸ਼ਾਸ਼ਕ
Name[pl]=SAM - Administracja systemu
Name[pt]=Administração de Sistema SAM
Name[pt_BR]=SAM Administração do Sistema
Name[ro]=Administrare de sistem SAM
Name[ru]=Системное администрирование SAM
Name[se]=SAM vuogádathálddašeapmi
Name[sl]=Sistemsko upravljanje SAM
Name[sr]=САМ, администрација система
Name[sr@latin]=SAM, administracija sistema
Name[sv]=SAM systemadministration
Name[ta]=SAM சாதன-நிர்வாகி
Name[tg]=Мудири системаи SAM
Name[tr]=SAM Sistem Yönetimi
Name[uk]=Менеджер системи SAM
Name[uz]=SAM - тизимни бошқариш
Name[vi]=Quản trị hệ thống SAM
Name[wa]=Manaedjmint d' sistinme SAM
Name[x-test]=xxSAM System-Administrationxx
Name[xh]=SAM Umphathi Wendlela yokusebenza
Name[zh_CN]=SAM 系统管理
Name[zh_TW]=SAM 系統管理
MimeType=
Exec=sam
Icon=log
Type=Application
Terminal=false
X-KDE-StartupNotify=false
