[Desktop Entry]
Exec=wine %f
Name=Wine
Name[af]=Wine
Name[ar]=واين
Name[as]=Wine
Name[be]=Wine
Name[be@latin]=Wine
Name[bg]=Wine
Name[bn]=ওয়াইন
Name[bn_IN]=Wine
Name[br]=Wine
Name[ca]=Wine
Name[ca@valencia]=Wine
Name[cs]=Wine
Name[csb]=Wine
Name[cy]=Wine
Name[da]=Wine
Name[de]=Wine
Name[el]=Wine
Name[en_GB]=Wine
Name[eo]=Wine
Name[es]=Wine
Name[et]=Wine
Name[eu]=Wine
Name[fi]=Wine
Name[fr]=Wine
Name[fy]=Wine
Name[ga]=Wine
Name[gl]=Wine
Name[gu]=વાઇન
Name[he]=Wine
Name[hi]=वाइन
Name[hne]=वाइन
Name[hr]=Wine
Name[hsb]=Wine
Name[hu]=Wine
Name[is]=Wine
Name[it]=Wine
Name[ja]=Wine
Name[ka]=Wine
Name[kk]=Wine
Name[km]=Wine
Name[kn]=ವೈನ್
Name[ko]=Wine
Name[ku]=Wine
Name[lt]=Wine
Name[lv]=Wine
Name[mai]=वाइन
Name[mk]=Wine
Name[ml]=വൈന്‍
Name[mr]=वाइन
Name[ms]=Wine
Name[nb]=Wine
Name[nds]=Wine
Name[ne]=रक्सी
Name[nl]=Wine
Name[nn]=Wine
Name[oc]=Wine
Name[or]=Wine
Name[pa]=ਵਾਈਨ
Name[pl]=Wine
Name[pt]=Wine
Name[pt_BR]=Wine
Name[ro]=Wine
Name[ru]=Wine
Name[se]=Wine
Name[si]=Wine
Name[sk]=Wine
Name[sl]=Wine
Name[sr]=Вине
Name[sr@latin]=Wine
Name[sv]=Wine
Name[ta]=வைன்
Name[te]=వైన్
Name[tg]=Wine
Name[th]=Wine
Name[tr]=Wine
Name[uk]=Wine
Name[uz]=Wine
Name[uz@cyrillic]=Wine
Name[vi]=Wine
Name[wa]=Wine
Name[xh]=Wine
Name[x-test]=xxWinexx
Name[zh_CN]=Wine
Name[zh_TW]=Wine
GenericName=Run Windows Programs
GenericName[af]=Hardloop Windows Programme
GenericName[ar]=تشغيل برامج ويندوز
GenericName[as]=Windows কাৰ্য্যক্ৰম চলাওক
GenericName[be]=Выконвае праграмы для Windows
GenericName[be@latin]=Uklučaje prahramy dla systemy „Windows”
GenericName[bg]=Изпълнение на програми за Windows
GenericName[bn]=উইণ্ডোস প্রোগ্রাম চালান
GenericName[bn_IN]=Windows প্রোগ্রাম সঞ্চালন
GenericName[br]=Seveniñ meziantoù Windows
GenericName[ca]=Engega programes de Windows
GenericName[ca@valencia]=Engega programes de Windows
GenericName[cs]=Provozujte programy z Windows
GenericName[csb]=Zrësziwô programë dlô Windowsa
GenericName[cy]=Rhedeg Rhaglenni Windows
GenericName[da]=Kører Windows programmer
GenericName[de]=Windows-Programme ausführen
GenericName[el]=Εκτέλεση προγραμμάτων Windows
GenericName[en_GB]=Run Windows Programs
GenericName[eo]=Lanĉi vindozajn programojn
GenericName[es]=Ejecución de programas de Windows
GenericName[et]=Windowsi rakenduste käivitamine
GenericName[eu]=Windows programak abiarazten ditu
GenericName[fa]=اجرای برنامه‌های ویندوز
GenericName[fi]=Käytä Windows-ohjelmia
GenericName[fr]=Fait fonctionner des programmes Windows
GenericName[fy]=Windows-programma's útfiere
GenericName[ga]=Rith Feidhmchláir Windows
GenericName[gl]=Executar programas de Windows
GenericName[gu]=વિન્ડોઝ કાર્યક્રમ ચલાવો
GenericName[he]=הפעלת תוכניות של Windows
GenericName[hi]=विंडो प्रोग्राम चलाए
GenericName[hne]=विंडो प्रोग्राम चलाव
GenericName[hr]=Pokretanje Windows programa
GenericName[hsb]=Windowsowe programy wuwjesć
GenericName[hu]=Windows-emulátor
GenericName[is]=Keyra Windows forrit
GenericName[it]=Esecuzione programmi Windows
GenericName[ja]=Windows プログラム実行
GenericName[ka]=Windows–ს პროგრამების გაშვება
GenericName[kk]=Windows бағдарламаларды орындау
GenericName[km]=រត់​កម្មវិធី​របស់​​វីនដូ
GenericName[kn]=ವಿಂಡೋಸ್ ಕ್ರಮವಿಧಿಗಳನ್ನು  ಚಾಲಯಿಸು
GenericName[ko]=윈도 프로그램 실행
GenericName[ku]=Bernameyên Windowsê Bixebitîne
GenericName[lt]=Leisti Windows programas
GenericName[lv]=Darbina windows programmas
GenericName[mai]=विंडो प्रोग्राम चलाबू
GenericName[mk]=Извршувајте Windows-програми
GenericName[ml]=വിന്‍ഡോസ് പ്രോഗ്രാമുകള്‍ പ്രവര്‍ത്തിപ്പിയ്ക്കുക
GenericName[mr]=चौकट प्रोग्राम चालवा
GenericName[ms]=Jalankan Program Tetingkap
GenericName[nb]=Kjør Windows-programmer
GenericName[nds]=Windows-Programmen utföhren
GenericName[ne]=विन्डोज कार्यक्रम चलाउनुहोस्
GenericName[nl]=Windows-programma's uitvoeren
GenericName[nn]=Køyr Windows-program
GenericName[or]=ୱିଣ୍ଡୋ ପ୍ରଗ୍ରାମ ଚଲାନ୍ତୁ
GenericName[pa]=ਵਿੰਡੋ (Windows) ਪਰੋਗਰਾਮ ਚਲਾਓ
GenericName[pl]=Środowisko do uruchamiania programów Windows
GenericName[pt]=Executar Programas de Windows
GenericName[pt_BR]=Executar programas do Windows
GenericName[ro]=Rulează programe Windows
GenericName[ru]=Выполнение программ Windows
GenericName[se]=Vuoje Windows-prográmmaid
GenericName[si]=Windows වැඩසටහන් ක්‍රියාත්මක කරන්න
GenericName[sk]=Spustenie aplikácií z Windows
GenericName[sl]=Poganjanje programov za Windows
GenericName[sr]=Покретање виндоуз програма
GenericName[sr@latin]=Pokretanje windows programa
GenericName[sv]=Kör Windows-program
GenericName[ta]=சாளர நிரல்களை இயக்குக
GenericName[te]=విండోస్ కార్యక్రమాలను నడుపుము
GenericName[tg]=Кушодани барномаҳои Windows
GenericName[th]=ประมวลผลโปรแกรมของวินโดวส์
GenericName[tr]=Windows Programlarını Çalıştır
GenericName[uk]=Запуск програм Windows
GenericName[uz]=Windows dasturlarini ishga tushirish
GenericName[uz@cyrillic]=Windows дастурларини ишга тушириш
GenericName[vi]=Chạy các chương trình Windows
GenericName[wa]=Po-z enonder des programes Windows
GenericName[xh]=Sebenzisa Udweliso lweenkqubo lwe Windows
GenericName[x-test]=xxRun Windows Programsxx
GenericName[zh_CN]=运行 Windows 程序
GenericName[zh_TW]=執行 Windows 程式
Icon=wine
Type=Application
MimeType=application/x-ms-dos-executable;
X-KDE-StartupNotify=false
