[Desktop Entry]
Exec=wine %f
Name=Wine
Name[ne]=रक्सी
Name[pa]=ਵਾਈਨ
Name[sr]=Вине
Name[ta]=வைன்
Name[x-test]=xxWinexx
GenericName=Run Windows Programs
GenericName[af]=Hardloop Windows Programme
GenericName[ar]=تشغيل برامج ويندوز
GenericName[be]=Выконвае праграмы для Windows
GenericName[bg]=Изпълнение на програми за Windows
GenericName[br]=Seveniñ meziantoù Windows
GenericName[ca]=Engega programes de Windows
GenericName[cs]=Provozujte programy z Windows
GenericName[csb]=Zrësziwô programë dlô Windowsa
GenericName[cy]=Rhedeg Rhaglenni Windows
GenericName[da]=Kører Windows programmer
GenericName[de]=Windows-Programme ausführen
GenericName[el]=Εκτέλεση προγραμμάτων Windows
GenericName[eo]=Lanĉi Vindozaj Programoj
GenericName[es]=Ejecución de programas de Windows
GenericName[et]=Windowsi rakenduste käivitamine
GenericName[eu]=Windows programak abiarazten ditu
GenericName[fa]=اجرای برنامه‌های ویندوز
GenericName[fi]=Käytä Windows-ohjelmia
GenericName[fr]=Fait fonctionner des programmes Windows
GenericName[fy]=Windows-programma's útfiere
GenericName[ga]=Rith Feidhmchláir Windows
GenericName[gl]=Executar Programas de Windows
GenericName[he]=הפעלת תוכניות של Windows
GenericName[hr]=Pokretanje Windows programa
GenericName[hu]=Windows-emulátor
GenericName[is]=Keyra Windows forrit
GenericName[it]=Esecuzione programmi Windows
GenericName[ja]=Windows プログラム実行
GenericName[ka]=Windows–ს პროგრამების გაშვება
GenericName[kk]=Windows бағдарламаларды орындау
GenericName[km]=រត់​កម្មវិធី​របស់​​វីនដូ
GenericName[ko]=윈도 프로그램 실행
GenericName[lt]=Leisti Windows programas
GenericName[lv]=Darbina windows programmas
GenericName[mk]=Извршувајте Windows-програми
GenericName[ms]=Jalankan Program Tetingkap
GenericName[nb]=Kjør Windows-programmer
GenericName[nds]=Windows-Programmen utföhren
GenericName[ne]=विन्डोज कार्यक्रम चलाउनुहोस्
GenericName[nl]=Windows-programma's uitvoeren
GenericName[nn]=Køyr Windows-program
GenericName[pa]=ਵਿੰਡੋ (Windows) ਪਰੋਗਰਾਮ ਚਲਾਓ
GenericName[pl]=Środowisko do uruchamiania programów Windows
GenericName[pt]=Executar Programas de Windows
GenericName[pt_BR]=Executar Programas do Windows
GenericName[ro]=Rulează programe de Windows
GenericName[ru]=Выполнение программ Windows
GenericName[se]=Vuoje Windows-prográmmaid
GenericName[sl]=Poganjanje programov za Windows
GenericName[sr]=Покретање виндоузовских програма
GenericName[sr@latin]=Pokretanje windowsovskih programa
GenericName[sv]=Kör Windows-program
GenericName[ta]=சாளர நிரலிகளை இயக்கு
GenericName[tg]=Иҷрои барномаҳои Windows
GenericName[th]=ประมวลผลโปรแกรมของวินโดวส์
GenericName[tr]=Windows Programlarını Çalıştır
GenericName[uk]=Запуск програм Windows
GenericName[uz]=Windows дастурларини ишга тушириш
GenericName[vi]=Chạy các chương trình Windows
GenericName[wa]=Po-z enonder des programes Windows
GenericName[x-test]=xxRun Windows Programsxx
GenericName[xh]=Sebenzisa Udweliso lweenkqubo lwe Windows
GenericName[zh_CN]=运行 Windows 程序
GenericName[zh_TW]=執行 Windows 程式
Icon=wine
Type=Application
MimeType=application/x-ms-dos-executable;
X-KDE-StartupNotify=false
