[Desktop Entry]
Name=X osview
Name[af]=X osview
Name[ar]=عارض حالة النظام  os
Name[as]=X osview
Name[be]=X osview
Name[be@latin]=X osview
Name[bg]=X osview
Name[bn]=X osview
Name[bn_IN]=X osview
Name[br]=X osview
Name[ca]=X osview
Name[ca@valencia]=X osview
Name[cs]=X osview
Name[csb]=X osview
Name[cy]=X osview
Name[da]=X osview
Name[de]=X osview
Name[el]=X osview
Name[en_GB]=X osview
Name[eo]=X osview
Name[es]=Xosview
Name[et]=X osview
Name[eu]=X osview
Name[fi]=X osview
Name[fr]=XOSView
Name[fy]=X osview
Name[ga]=X osview
Name[gl]=X osview
Name[gu]=X osview
Name[he]=X osview
Name[hi]=एक्स-ओएसव्यू
Name[hne]=एक्स-ओएसव्यू
Name[hr]=X osview
Name[hsb]=X osview
Name[hu]=X osview
Name[is]=X kerfisástand
Name[it]=X osview
Name[ja]=X osview
Name[ka]=Xosview
Name[kk]=X osview
Name[km]=X osview
Name[kn]=ಕ್ಸಾಸ್ ವ್ಯೂ
Name[ko]=X osview
Name[ku]=X osview
Name[lt]=X osview
Name[lv]=X osview
Name[mai]=एक्स-ओएसव्यू
Name[mk]=X osview
Name[ml]=X osview
Name[mr]=एक्स ओएसव्यू
Name[ms]=X osview
Name[nb]=X-systemovervåking
Name[nds]=X-osview
Name[ne]=X osview
Name[nl]=X osview
Name[nn]=X-systemovervaking
Name[or]=X osview
Name[pa]=X os-ਝਲਕ
Name[pl]=X osview
Name[pt]=X osview
Name[pt_BR]=X osview
Name[ro]=X osview
Name[ru]=Xosview
Name[se]=X-vuogádatgoziheapmi
Name[si]=X osview
Name[sk]=X osview
Name[sl]=X osview
Name[sr]=Икс‑освју
Name[sr@latin]=Xosview
Name[sv]=X osview
Name[ta]=X osview
Name[te]=X osview
Name[tg]=X osview
Name[th]=X osview
Name[tr]=X osview
Name[uk]=X osview
Name[uz]=X osview
Name[uz@cyrillic]=X osview
Name[vi]=X osview
Name[wa]=X osview
Name[xh]=X osview
Name[x-test]=xxX osviewxx
Name[zh_CN]=X osview
Name[zh_TW]=X osview
MimeType=
GenericName=System Monitor
GenericName[af]=Stelsel Monitor
GenericName[ar]=مراقب النظام
GenericName[as]=ব্যৱস্থাপ্ৰণালীৰ নিৰীক্ষণ ব্যৱস্থা
GenericName[be]=Сістэма
GenericName[be@latin]=Systemny nazirańnik
GenericName[bg]=Мониторинг на системата
GenericName[bn]=সিস্টেম মনিটর
GenericName[bn_IN]=সিস্টেম নিরীক্ষণ ব্যবস্থা
GenericName[br]=Diskwel saviad ar reizhiad
GenericName[ca]=Monitor del sistema
GenericName[ca@valencia]=Monitor del sistema
GenericName[cs]=Monitor systému
GenericName[csb]=Mònitor systemë
GenericName[cy]=Monitr Cysawd
GenericName[da]=Systemovervågningsprogram
GenericName[de]=Systemmonitor
GenericName[el]=Επόπτης συστήματος
GenericName[en_GB]=System Monitor
GenericName[eo]=Sistemstato-programo
GenericName[es]=Monitor del sistema
GenericName[et]=Süsteemi jälgija
GenericName[eu]=Sistemaren monitorea
GenericName[fa]=نمایشگر سیستم
GenericName[fi]=Järjestelmänvalvontaohjelma
GenericName[fr]=Indicateurs du système
GenericName[fy]=Systeemmonitor
GenericName[ga]=Monatóir Córais
GenericName[gl]=Vixilante do sistema
GenericName[gu]=સિસ્ટમ દેખરેખ
GenericName[he]=צג מערכת
GenericName[hi]=तंत्र मॉनीटर
GenericName[hne]=तंत्र देखइया
GenericName[hr]=Nadzor sustava
GenericName[hsb]=Systemowy monitor
GenericName[hu]=Rendszermonitor
GenericName[is]=Kerfiseftirlit
GenericName[it]=Monitor di sistema
GenericName[ja]=システムモニタ
GenericName[ka]=სისტემის მონიტორი
GenericName[kk]=Жүйе мониторы
GenericName[km]=កម្មវិធី​ត្រួត​ពិនិត្យ​ប្រព័ន្ធ
GenericName[kn]=ವ್ಯವಸ್ಥೆಯ ಪ್ರದರ್ಶಕ
GenericName[ko]=시스템 모니터
GenericName[ku]=Temaşekarê Pergalê
GenericName[lt]=Sistemos stebėtojas
GenericName[lv]=Sistēmas monitors
GenericName[mai]=सिस्टम मानीटर
GenericName[mk]=Системски монитор
GenericName[ml]=വ്യൂഹനിരീക്ഷണി
GenericName[mr]=प्रणाली मॉनिटर
GenericName[ms]=Monitor Sistem
GenericName[nb]=Systemovervåker
GenericName[nds]=Systeemkieker
GenericName[ne]=प्रणाली मनिटर
GenericName[nl]=Systeemmonitor
GenericName[nn]=Systemovervakar
GenericName[oc]=Monitor sistèma
GenericName[or]=ତନ୍ତ୍ର ପ୍ରଦର୍ଶିକା
GenericName[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный монитор
GenericName[se]=Vuogádatgoziheaddji
GenericName[si]=පද්ධති නිරීක්‍ෂකය
GenericName[sk]=Monitor systému
GenericName[sl]=Sistemski nadzornik
GenericName[sr]=Системски монитор
GenericName[sr@latin]=Sistemski monitor
GenericName[sv]=Systemövervakare
GenericName[ta]=அமைப்பு கண்காணிப்பு
GenericName[te]=సిస్టమ్ మానిటర్
GenericName[tg]=Намоишгари система
GenericName[th]=สอดส่องการทำงานของระบบ
GenericName[tr]=Sistem İzleyici
GenericName[uk]=Монітор системи
GenericName[uz]=Tizimni nazorat qilish
GenericName[uz@cyrillic]=Тизимни назорат қилиш
GenericName[vi]=Bộ theo dõi hệ thống
GenericName[wa]=Corwaitoe do sistinme
GenericName[xh]=Indlela yokusebenza Yophatho
GenericName[x-test]=xxSystem Monitorxx
GenericName[zh_CN]=系统监视器
GenericName[zh_TW]=系統監視器
Exec=xosview
Icon=xosview
Type=Application
Terminal=false
X-KDE-StartupNotify=false
