[Desktop Entry]
Encoding=UTF-8
Name=X osview
Name[de]=X-osview
Name[eo]=XOperaciumrigardo
Name[es]=Xosview
Name[fr]=XOSView
Name[is]=X kerfisástand
Name[ka]=Xosview
Name[ko]=시스템 지켜보기
Name[nb]=X-systemovervåking
Name[nds]=X-osview
Name[nn]=X-systemovervaking
Name[pa]=X os-ਝਲਕ
Name[ru]=Xosview
Name[se]=X-vuogádatgoziheapmi
Name[x-test]=xxX osviewxx
MimeType=
GenericName=System Monitor
GenericName[af]=Stelsel Monitor
GenericName[be]=Сістэма
GenericName[bg]=Мониторинг на системата
GenericName[br]=Diskwel saviad ar reizhiad
GenericName[ca]=Monitor del sistema
GenericName[cs]=Monitor systému
GenericName[csb]=Mònitor systemë
GenericName[cy]=Monitr Cysawd
GenericName[da]=Systemovervågningsprogram
GenericName[de]=Systemmonitor
GenericName[el]=Επόπτης συστήματος
GenericName[eo]=Sistemstato-programo
GenericName[es]=Monitor del sistema
GenericName[et]=Süsteemi monitor
GenericName[eu]=Sistemaren monitorea
GenericName[fa]=نمایشگر سیستم
GenericName[fi]=Järjestelmänvalvontaohjelma
GenericName[fr]=Indicateurs du système
GenericName[fy]=Systeemmonitor
GenericName[ga]=Monatóir Córais
GenericName[gl]=Monitor do Sistema
GenericName[he]=צג מערכת
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszermonitor
GenericName[is]=Kerfiseftirlit
GenericName[it]=Monitor di sistema
GenericName[ja]=システムモニタ
GenericName[ka]=სისტემის მონიტორი
GenericName[kk]=Жүйе мониторы
GenericName[km]=កម្មវិធី​ត្រួតពិនិត្យ​ប្រព័ន្ធ
GenericName[ko]=X용 시스템 지켜보기 (Xosview)
GenericName[lt]=Sistemos stebėtojas
GenericName[lv]=Sistēmas Monitors
GenericName[mk]=Системски монитор
GenericName[ms]=Monitor Sistem
GenericName[nb]=Systemovervåker
GenericName[nds]=Systeemkieker
GenericName[ne]=प्रणाली मनिटर
GenericName[nl]=Systeemmonitor
GenericName[nn]=Systemovervakar
GenericName[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный монитор
GenericName[se]=Vuogádatgoziheaddji
GenericName[sl]=Sistemski nadzornik
GenericName[sr]=Системски монитор
GenericName[sr@latin]=Sistemski monitor
GenericName[sv]=Systemövervakare
GenericName[ta]=சாதன திரை
GenericName[tg]=Назорати Система
GenericName[tr]=Sistem İzleyici
GenericName[uk]=Монітор системи
GenericName[uz]=Тизимни назорат қилиш
GenericName[wa]=Corwaitoe do sistinme
GenericName[x-test]=xxSystem Monitorxx
GenericName[xh]=Indlela yokusebenza Yophatho
GenericName[zh_TW]=系統監視器
Exec=xosview
Icon=xosview
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
