[Desktop Entry]
Name=AisleRiot
Name[af]=Aisleriot
Name[bn]=এইসল-রায়ট
Name[cs]=Pozdvižení v uličce
Name[hi]=एस्लेरियॉट
Name[hr]=Pobuna u prolazu
Name[pa]=ਇਲਸੀਰਓਟ
Name[sr]=Ајлрајот
Name[sv]=Kyrkouppror
Name[te]=ఐల్ రైయట్
Name[uk]=Заколот на човні
Name[x-test]=xxAisleRiotxx
GenericName=Card Game
GenericName[af]=Kaart Speletjie
GenericName[ar]=ألعاب الورق
GenericName[be]=Картачная гульня
GenericName[bg]=Игри с карти
GenericName[bn]=তাসের খেলা
GenericName[br]=C'hoari kartennoù
GenericName[ca]=Joc de cartes
GenericName[cs]=Karty
GenericName[csb]=Kartowé grë
GenericName[cy]=Gêm cardiau
GenericName[da]=Kortspil
GenericName[de]=Kartenspiel
GenericName[el]=Παιχνίδι καρτών
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[eu]=Karta jokoa
GenericName[fa]=بازی کارت
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[fy]=Kaartspul
GenericName[ga]=Cluiche Cártaí
GenericName[gl]=Xogo de cartas
GenericName[he]=משחק קלפים
GenericName[hi]=ताश के खेल
GenericName[hr]=Kartaška igra
GenericName[hu]=Kártyajáték
GenericName[is]=Kaplar
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[ka]=თამაშები ბანქოთი
GenericName[kk]=Карта ойыны
GenericName[km]=ល្បែង​បៀរ
GenericName[ko]=카드 게임
GenericName[ku]=Lîstika Îskambîlê
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu spēle
GenericName[mk]=Игра со карти
GenericName[ms]=Permainan Kad
GenericName[nb]=Kortspill
GenericName[nds]=Koortspeel
GenericName[ne]=तास खेल
GenericName[nl]=Kaartspel
GenericName[nn]=Kortspel
GenericName[oc]=Jòc de cartas
GenericName[pa]=ਤਾਸ਼ ਖੇਡ
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Jogo de Cartas
GenericName[ro]=Joc de cărţi
GenericName[ru]=Карточная игра
GenericName[se]=Goartaspeallu
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sr]=Игра са картама
GenericName[sr@latin]=Igra sa kartama
GenericName[sv]=Kortspel
GenericName[ta]=கார்டு விளையாட்டு
GenericName[te]=పేక ఆట
GenericName[tg]=Бозии Корт
GenericName[th]=เกมไพ่ต่าง ๆ
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Карти
GenericName[uz]=Қарта ўйини
GenericName[vi]=Trò chơi bài
GenericName[wa]=Cwårdjeu
GenericName[x-test]=xxCard Gamexx
GenericName[xh]=Umdlalo Wekhadi
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
Exec=sol
Terminal=false
Icon=gnome-aisleriot
Type=Application
