[Desktop Entry]
Name=FreeCell
Name[af]=FreeCell
Name[ar]=الخلية الحرة
Name[as]=FreeCell
Name[be]=FreeCell
Name[be@latin]=FreeCell
Name[bg]=FreeCell
Name[bn]=ফ্রীসেল
Name[bn_IN]=FreeCell
Name[br]=FreeCell
Name[ca]=FreeCell
Name[ca@valencia]=FreeCell
Name[cs]=FreeCell
Name[csb]=FreeCell
Name[cy]=FreeCell
Name[da]=FreeCell
Name[de]=FreeCell
Name[el]=Κυψέλες
Name[en_GB]=FreeCell
Name[eo]=FreeCell
Name[es]=FreeCell
Name[et]=FreeCell
Name[eu]=FreeCell
Name[fi]=FreeCell
Name[fr]=FreeCell
Name[fy]=FreeCell
Name[ga]=FreeCell
Name[gl]=FreeCell
Name[gu]=ફ્રીસેલ
Name[he]=FreeCell
Name[hi]=फ्रीसेल
Name[hne]=फ्रीसेल
Name[hr]=FreeCell
Name[hsb]=FreeCell
Name[hu]=FreeCell
Name[is]=FreeCell
Name[it]=FreeCell
Name[ja]=フリーセル
Name[ka]=FreeCell
Name[kk]=FreeCell
Name[km]=FreeCell
Name[kn]=ರಿಕ್ತಕೋಶ (FreeCell)
Name[ko]=FreeCell
Name[ku]=FreeCell
Name[lt]=FreeCell
Name[lv]=FreeCell
Name[mai]=फ्रीसेल
Name[mk]=FreeCell
Name[ml]=ഫ്രീസെല്‍
Name[mr]=फ्रीसेल
Name[ms]=FreeCell
Name[nb]=FreeCell
Name[nds]=FreeCell
Name[ne]=फ्रीसेल
Name[nl]=FreeCell
Name[nn]=FreeCell
Name[oc]=FreeCell
Name[or]=FreeCell
Name[pa]=ਖਾਲੀ ਸੈੱਲ
Name[pl]=FreeCell
Name[pt]=FreeCell
Name[pt_BR]=FreeCell
Name[ro]=FreeCell
Name[ru]=FreeCell
Name[se]=FreeCell
Name[si]=FreeCell
Name[sk]=FreeCell
Name[sl]=FreeCell
Name[sr]=Фрисел
Name[sr@latin]=FreeCell
Name[sv]=Kungen
Name[ta]=பிரி செல்
Name[te]=ఫ్రీసెల్
Name[tg]=FreeCell
Name[th]=FreeCell
Name[tr]=FreeCell
Name[uk]=Косинка
Name[uz]=FreeCell
Name[uz@cyrillic]=FreeCell
Name[vi]=Free Cell
Name[wa]=FreeCell
Name[xh]=FreeCell
Name[x-test]=xxFreeCellxx
Name[zh_CN]=空当接龙
Name[zh_TW]=FreeCell
GenericName=Card Game
GenericName[af]=Kaartspeletjie
GenericName[ar]=ألعاب الورق
GenericName[as]=Card Game
GenericName[be]=Картачная гульня
GenericName[be@latin]=Hulnia ŭ karty
GenericName[bg]=Игри с карти
GenericName[bn]=তাসের খেলা
GenericName[bn_IN]=তাসের খেলা
GenericName[br]=C'hoari kartennoù
GenericName[ca]=Joc de cartes
GenericName[ca@valencia]=Joc de cartes
GenericName[cs]=Karty
GenericName[csb]=Kartowé grë
GenericName[cy]=Gêm cardiau
GenericName[da]=Kortspil
GenericName[de]=Kartenspiel
GenericName[el]=Παιχνίδι καρτών
GenericName[en_GB]=Card Game
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[eu]=Karta jokoa
GenericName[fa]=بازی کارت
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[fy]=Kaartspul
GenericName[ga]=Cluiche Cártaí
GenericName[gl]=Xogo de cartas
GenericName[gu]=કાર્ડ રમત
GenericName[he]=משחק קלפים
GenericName[hi]=ताश के खेल
GenericName[hne]=तास वाले खेल
GenericName[hr]=Kartaška igra
GenericName[hsb]=Kartowe hry
GenericName[hu]=Kártyajáték
GenericName[is]=Kaplar
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[ka]=თამაშები ბანქოთი
GenericName[kk]=Карта ойыны
GenericName[km]=ល្បែង​បៀរ
GenericName[kn]=ಎಲೆಯಾಟ
GenericName[ko]=카드 게임
GenericName[ku]=Lîstika Îskambîlê
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu spēle
GenericName[mai]=ताश केर खेल
GenericName[mk]=Игра со карти
GenericName[ml]=ചീട്ടുകളി
GenericName[mr]=पत्त्यांचा खेळ
GenericName[ms]=Permainan Kad
GenericName[nb]=Kortspill
GenericName[nds]=Koortspeel
GenericName[ne]=तास खेल
GenericName[nl]=Kaartspel
GenericName[nn]=Kortspel
GenericName[oc]=Jòc de cartas
GenericName[or]=କାର୍ଡ଼ ଖେଳ
GenericName[pa]=ਤਾਸ਼ ਖੇਡ
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Jogo de cartas
GenericName[ro]=Joc de cărți
GenericName[ru]=Пасьянс
GenericName[se]=Goartaspeallu
GenericName[si]=Card Game
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sr]=Игра са картама
GenericName[sr@latin]=Igra sa kartama
GenericName[sv]=Kortspel
GenericName[ta]=கார்டு விளையாட்டு
GenericName[te]=పేక ఆట
GenericName[tg]=Бозиҳои корт
GenericName[th]=เกมไพ่
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Карти
GenericName[uz]=Qarta oʻyini
GenericName[uz@cyrillic]=Қарта ўйини
GenericName[vi]=Trò chơi bài
GenericName[wa]=Cwårdjeu
GenericName[xh]=Umdlalo Wekhadi
GenericName[x-test]=xxCard Gamexx
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
Exec=freecell
Terminal=false
Icon=gnome-cardgame
Type=Application
