[Desktop Entry]
GenericName=Card Game
GenericName[af]=Kaartspeletjie
GenericName[ar]=ألعاب الورق
GenericName[as]=Card Game
GenericName[be]=Картачная гульня
GenericName[be@latin]=Hulnia ŭ karty
GenericName[bg]=Игри с карти
GenericName[bn]=তাসের খেলা
GenericName[bn_IN]=তাসের খেলা
GenericName[br]=C'hoari kartennoù
GenericName[ca]=Joc de cartes
GenericName[ca@valencia]=Joc de cartes
GenericName[cs]=Karty
GenericName[csb]=Kartowé grë
GenericName[cy]=Gêm cardiau
GenericName[da]=Kortspil
GenericName[de]=Kartenspiel
GenericName[el]=Παιχνίδι καρτών
GenericName[en_GB]=Card Game
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[eu]=Karta jokoa
GenericName[fa]=بازی کارت
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[fy]=Kaartspul
GenericName[ga]=Cluiche Cártaí
GenericName[gl]=Xogo de cartas
GenericName[gu]=કાર્ડ રમત
GenericName[he]=משחק קלפים
GenericName[hi]=ताश के खेल
GenericName[hne]=तास वाले खेल
GenericName[hr]=Kartaška igra
GenericName[hsb]=Kartowe hry
GenericName[hu]=Kártyajáték
GenericName[is]=Kaplar
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[ka]=თამაშები ბანქოთი
GenericName[kk]=Карта ойыны
GenericName[km]=ល្បែង​បៀរ
GenericName[kn]=ಎಲೆಯಾಟ
GenericName[ko]=카드 게임
GenericName[ku]=Lîstika Îskambîlê
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu spēle
GenericName[mai]=ताश केर खेल
GenericName[mk]=Игра со карти
GenericName[ml]=ചീട്ടുകളി
GenericName[mr]=पत्त्यांचा खेळ
GenericName[ms]=Permainan Kad
GenericName[nb]=Kortspill
GenericName[nds]=Koortspeel
GenericName[ne]=तास खेल
GenericName[nl]=Kaartspel
GenericName[nn]=Kortspel
GenericName[oc]=Jòc de cartas
GenericName[or]=କାର୍ଡ଼ ଖେଳ
GenericName[pa]=ਤਾਸ਼ ਖੇਡ
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Jogo de cartas
GenericName[ro]=Joc de cărți
GenericName[ru]=Пасьянс
GenericName[se]=Goartaspeallu
GenericName[si]=Card Game
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sr]=Игра са картама
GenericName[sr@latin]=Igra sa kartama
GenericName[sv]=Kortspel
GenericName[ta]=கார்டு விளையாட்டு
GenericName[te]=పేక ఆట
GenericName[tg]=Бозиҳои корт
GenericName[th]=เกมไพ่
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Карти
GenericName[uz]=Qarta oʻyini
GenericName[uz@cyrillic]=Қарта ўйини
GenericName[vi]=Trò chơi bài
GenericName[wa]=Cwårdjeu
GenericName[xh]=Umdlalo Wekhadi
GenericName[x-test]=xxCard Gamexx
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
Exec=pysol
Icon=kpat
Name=PySol
Name[af]=Pysol
Name[ar]=ألعاب الورق PySol
Name[as]=PySol
Name[be]=PySol
Name[be@latin]=PySol
Name[bg]=PySol
Name[bn]=পাই-সল
Name[bn_IN]=PySol
Name[br]=PySol
Name[ca]=PySol
Name[ca@valencia]=PySol
Name[cs]=PySol
Name[csb]=PySol
Name[cy]=PySol
Name[da]=PySol
Name[de]=PySol
Name[el]=PySol
Name[en_GB]=PySol
Name[eo]=PySol
Name[es]=PySol
Name[et]=PySol
Name[eu]=PySol
Name[fi]=PySol
Name[fr]=PySol
Name[fy]=PySol
Name[ga]=PySol
Name[gl]=PySol
Name[gu]=પાયસોલ
Name[he]=PySol
Name[hi]=पायसॉल
Name[hne]=पायसाल
Name[hr]=PySol
Name[hsb]=PySol
Name[hu]=PySol
Name[is]=PySol
Name[it]=PySol
Name[ja]=PySol
Name[ka]=PySol
Name[kk]=PySol
Name[km]=PySol
Name[kn]=ಪೈಸಾಲ್
Name[ko]=PySol
Name[ku]=PySol
Name[lt]=PySol
Name[lv]=PySol
Name[mai]=पायसाल
Name[mk]=PySol
Name[ml]=പൈസോള്‍
Name[mr]=पायसॉल
Name[ms]=PySol
Name[nb]=PySol
Name[nds]=PySol
Name[ne]=पाइ सोल
Name[nl]=PySol
Name[nn]=PySol
Name[oc]=PySol
Name[or]=PySol
Name[pa]=PySol
Name[pl]=PySol
Name[pt]=PySol
Name[pt_BR]=PySol
Name[ro]=PySol
Name[ru]=PySol
Name[se]=PySol
Name[si]=PySol
Name[sk]=PySol
Name[sl]=PySol
Name[sr]=Писол
Name[sr@latin]=PySol
Name[sv]=Pysol
Name[ta]=பைசால்
Name[te]=పైసొల్
Name[tg]=PySol
Name[th]=เกมถอดไพ่ PySol
Name[tr]=PySol
Name[uk]=PySol
Name[uz]=PySol
Name[uz@cyrillic]=PySol
Name[vi]=PySol
Name[wa]=PySol
Name[xh]=PySol
Name[x-test]=xxPySolxx
Name[zh_CN]=PySol
Name[zh_TW]=PySol
Terminal=false
Type=Application
