[Desktop Entry]
Name=XPat 2
Name[af]=Xpat 2
Name[ar]=XPat 2
Name[as]=XPat 2
Name[be]=XPat 2
Name[be@latin]=XPat 2
Name[bg]=XPat 2
Name[bn]=XPat 2
Name[bn_IN]=XPat 2
Name[br]=XPat 2
Name[ca]=XPat 2
Name[ca@valencia]=XPat 2
Name[cs]=XPat 2
Name[csb]=XPat 2
Name[cy]=XPat 2
Name[da]=XPat 2
Name[de]=XPat 2
Name[el]=XPat 2
Name[en_GB]=XPat 2
Name[eo]=XPat 2
Name[es]=XPat 2
Name[et]=XPat 2
Name[eu]=XPat 2
Name[fi]=XPat 2
Name[fr]=XPat 2
Name[fy]=XPat 2
Name[ga]=XPat 2
Name[gl]=XPat 2
Name[gu]=XPat ૨
Name[he]=XPat 2
Name[hi]=एक्सपैट 2
Name[hne]=एक्सपैट 2
Name[hr]=XPat 2
Name[hsb]=XPat 2
Name[hu]=XPat 2
Name[is]=XPat 2
Name[it]=XPat 2
Name[ja]=X Pat 2
Name[ka]=XPat 2
Name[kk]=XPat 2
Name[km]=XPat 2
Name[kn]=ಕ್ಸಪಾಟ್೨
Name[ko]=XPat 2
Name[ku]=XPat 2
Name[lt]=XPat 2
Name[lv]=XPat 2
Name[mai]=एक्सपैट 2
Name[mk]=XPat 2
Name[ml]=എക്സ്പാറ്റ്2
Name[mr]=एक्सपैट 2
Name[ms]=XPat 2
Name[nb]=XPat 2
Name[nds]=XPat 2
Name[ne]=एक्स प्याट २
Name[nl]=XPat 2
Name[nn]=XPat 2
Name[oc]=XPat 2
Name[or]=XPat 2
Name[pa]=XPat 2
Name[pl]=XPat 2
Name[pt]=XPat 2
Name[pt_BR]=XPat 2
Name[ro]=XPat 2
Name[ru]=XPat 2
Name[se]=XPat 2
Name[si]=XPat 2
Name[sk]=XPat 2
Name[sl]=XPat 2
Name[sr]=Икспат 2
Name[sr@latin]=XPat 2
Name[sv]=Xpat 2
Name[ta]=எக்ஸ்பாட் 2
Name[te]=ఎక్స్ పేట్ 2
Name[tg]=XPat 2
Name[th]=XPat 2
Name[tr]=XPat 2
Name[uk]=XPat 2
Name[uz]=XPat 2
Name[uz@cyrillic]=XPat 2
Name[vi]=XPat 2
Name[wa]=XPat 2
Name[xh]=XPat 2
Name[x-test]=xxXPat 2xx
Name[zh_CN]=XPat 2
Name[zh_TW]=XPat 2
GenericName=Card Game
GenericName[af]=Kaartspeletjie
GenericName[ar]=ألعاب الورق
GenericName[as]=Card Game
GenericName[be]=Картачная гульня
GenericName[be@latin]=Hulnia ŭ karty
GenericName[bg]=Игри с карти
GenericName[bn]=তাসের খেলা
GenericName[bn_IN]=তাসের খেলা
GenericName[br]=C'hoari kartennoù
GenericName[ca]=Joc de cartes
GenericName[ca@valencia]=Joc de cartes
GenericName[cs]=Karty
GenericName[csb]=Kartowé grë
GenericName[cy]=Gêm cardiau
GenericName[da]=Kortspil
GenericName[de]=Kartenspiel
GenericName[el]=Παιχνίδι καρτών
GenericName[en_GB]=Card Game
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[eu]=Karta jokoa
GenericName[fa]=بازی کارت
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[fy]=Kaartspul
GenericName[ga]=Cluiche Cártaí
GenericName[gl]=Xogo de cartas
GenericName[gu]=કાર્ડ રમત
GenericName[he]=משחק קלפים
GenericName[hi]=ताश के खेल
GenericName[hne]=तास वाले खेल
GenericName[hr]=Kartaška igra
GenericName[hsb]=Kartowe hry
GenericName[hu]=Kártyajáték
GenericName[is]=Kaplar
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[ka]=თამაშები ბანქოთი
GenericName[kk]=Карта ойыны
GenericName[km]=ល្បែង​បៀរ
GenericName[kn]=ಎಲೆಯಾಟ
GenericName[ko]=카드 게임
GenericName[ku]=Lîstika Îskambîlê
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu spēle
GenericName[mai]=ताश केर खेल
GenericName[mk]=Игра со карти
GenericName[ml]=ചീട്ടുകളി
GenericName[mr]=पत्त्यांचा खेळ
GenericName[ms]=Permainan Kad
GenericName[nb]=Kortspill
GenericName[nds]=Koortspeel
GenericName[ne]=तास खेल
GenericName[nl]=Kaartspel
GenericName[nn]=Kortspel
GenericName[oc]=Jòc de cartas
GenericName[or]=କାର୍ଡ଼ ଖେଳ
GenericName[pa]=ਤਾਸ਼ ਖੇਡ
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Jogo de cartas
GenericName[ro]=Joc de cărți
GenericName[ru]=Пасьянс
GenericName[se]=Goartaspeallu
GenericName[si]=Card Game
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sr]=Игра са картама
GenericName[sr@latin]=Igra sa kartama
GenericName[sv]=Kortspel
GenericName[ta]=கார்டு விளையாட்டு
GenericName[te]=పేక ఆట
GenericName[tg]=Бозиҳои корт
GenericName[th]=เกมไพ่
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Карти
GenericName[uz]=Qarta oʻyini
GenericName[uz@cyrillic]=Қарта ўйини
GenericName[vi]=Trò chơi bài
GenericName[wa]=Cwårdjeu
GenericName[xh]=Umdlalo Wekhadi
GenericName[x-test]=xxCard Gamexx
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
Exec=xpat2
Terminal=false
Icon=xpat2
Type=Application
