[Desktop Entry]
Encoding=UTF-8
Name=X Eyes
Name[af]=X Oë
Name[ar]=عيون X
Name[br]=Daoulagad X
Name[cs]=Oči
Name[cy]=X Llygaid
Name[da]=X-øjne
Name[de]=X-Eyes
Name[eo]=XOkuloj
Name[es]=Ojos de X
Name[fa]=چشمهای X
Name[fi]=X-silmät
Name[fr]=XEyes
Name[hr]=X Oči
Name[is]=X augu
Name[ko]=눈
Name[lv]=X Acis
Name[mk]=X Очи
Name[nb]=X-øyne
Name[nds]=X-Eyes
Name[ne]=एक्स आँखा
Name[nn]=X-auge
Name[pa]=X ਅੱਖਾਂ
Name[se]=X-čalmmit
Name[sv]=X eyes
Name[ta]=Xகண்கள்
Name[te]=ఎక్స్ కళ్ళు
Name[tg]=Чашмони X
Name[tr]=X Gözler
Name[uk]=Очі X
Name[x-test]=xxX Eyesxx
MimeType=
Exec=xeyes
Icon=xeyes
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
