[Desktop Entry]
Name=X Eyes
Name[af]=X Oë
Name[ar]=X عيون
Name[as]=X Eyes
Name[be]=X Eyes
Name[be@latin]=X Eyes
Name[bg]=X Eyes
Name[bn]=এক্স চোখ
Name[bn_IN]=X Eyes
Name[br]=Daoulagad X
Name[ca]=X Eyes
Name[ca@valencia]=X Eyes
Name[cs]=Oči
Name[csb]=X Eyes
Name[cy]=X Llygaid
Name[da]=X-øjne
Name[de]=X-Eyes
Name[el]=X Eyes
Name[en_GB]=X Eyes
Name[eo]=X Eyes
Name[es]=Ojos de X
Name[et]=X Eyes
Name[eu]=X Eyes
Name[fa]=چشمهای X
Name[fi]=X-silmät
Name[fr]=XEyes
Name[fy]=X Eyes
Name[ga]=X Eyes
Name[gl]=X Eyes
Name[gu]=X આંખો
Name[he]=X Eyes
Name[hi]=एक्स-आईज़
Name[hne]=एक्स-आईज
Name[hr]=X Oči
Name[hsb]=X Eyes
Name[hu]=X Eyes
Name[is]=X augu
Name[it]=X Eyes
Name[ja]=X Eyes
Name[ka]=X Eyes
Name[kk]=X Eyes
Name[km]=X Eyes
Name[kn]=ಕ್ಸಐಸ್
Name[ko]=X Eyes
Name[ku]=çavên X
Name[lt]=X Eyes
Name[lv]=X Acis
Name[mai]=एक्स-आईज
Name[mk]=X Очи
Name[ml]=X മിഴികള്‍
Name[mr]=एक्स आईज
Name[ms]=X Eyes
Name[nb]=X-øyne
Name[nds]=X-Eyes
Name[ne]=एक्स आँखा
Name[nl]=X Eyes
Name[nn]=X-auge
Name[or]=X Eyes
Name[pa]=X ਅੱਖਾਂ
Name[pl]=X Eyes
Name[pt]=Olhos X
Name[pt_BR]=X Eyes
Name[ro]=X Eyes
Name[ru]=X Eyes
Name[se]=X-čalmmit
Name[si]=X Eyes
Name[sk]=Oči
Name[sl]=X Eyes
Name[sr]=Икс‑очи
Name[sr@latin]=X‑oči
Name[sv]=X eyes
Name[ta]=X கண்கள்
Name[te]=ఎక్స్ కళ్ళు
Name[tg]=X Eyes
Name[th]=ดวงตา X
Name[tr]=X Eyes
Name[uk]=Очі X
Name[uz]=X Eyes
Name[uz@cyrillic]=X Eyes
Name[vi]=Mắt X
Name[wa]=X Ouys
Name[xh]=X Eyes
Name[x-test]=xxX Eyesxx
Name[zh_CN]=X 眼睛
Name[zh_TW]=X Eyes
MimeType=
Exec=xeyes
Icon=xeyes
Type=Application
Terminal=false
X-KDE-StartupNotify=true
