[Desktop Entry]
Name=Tux
Name[af]=Tux
Name[ar]=Tux
Name[as]=Tux
Name[be]=Tукс
Name[be@latin]=Tux
Name[bg]=Tux
Name[bn]=টাক্স
Name[bn_IN]=Tux
Name[br]=Tux
Name[ca]=Tux
Name[ca@valencia]=Tux
Name[cs]=Tux
Name[csb]=Tux
Name[cy]=Tux
Name[da]=Tux
Name[de]=Tux
Name[el]=Tux
Name[en_GB]=Tux
Name[eo]=Tuĉjo
Name[es]=Tux
Name[et]=Tux
Name[eu]=Tux
Name[fi]=Tux
Name[fr]=Tux
Name[fy]=Tux
Name[ga]=Tux
Name[gl]=Tux
Name[gu]=ટક્સ
Name[he]=Tux
Name[hi]=टक्स
Name[hne]=टक्स
Name[hr]=Tux
Name[hsb]=Tux
Name[hu]=Tux
Name[is]=Tux
Name[it]=Tux
Name[ja]=Tux
Name[ka]=Tux
Name[kk]=Tux
Name[km]=Tux
Name[kn]=ಟಕ್ಸ್
Name[ko]=Tux
Name[ku]=Tux
Name[lt]=Tux
Name[lv]=Tux
Name[mai]=टक्स
Name[mk]=Tux
Name[ml]=ടക്സ്
Name[mr]=टक्स
Name[ms]=Tux
Name[nb]=Tux
Name[nds]=Tux
Name[ne]=टक्स
Name[nl]=Tux
Name[nn]=Tux
Name[or]=Tux
Name[pa]=ਟੱਕਸ
Name[pl]=Tux
Name[pt]=Tux
Name[pt_BR]=Tux
Name[ro]=Tux
Name[ru]=Tux
Name[se]=Tux
Name[si]=Tux
Name[sk]=Tux
Name[sl]=Tux
Name[sr]=Тукс
Name[sr@latin]=Tux
Name[sv]=Tux
Name[ta]=டக்ஸ்
Name[te]=టక్స్
Name[tg]=Tux
Name[th]=Tux
Name[tr]=Tux
Name[uk]=Tux
Name[uz]=Tux
Name[uz@cyrillic]=Tux
Name[vi]=Tux
Name[wa]=Tux
Name[xh]=Tux
Name[x-test]=xxTuxxx
Name[zh_CN]=Tux
Name[zh_TW]=Tux
MimeType=
GenericName=Linux Mascot
GenericName[af]=Linux Gelukbringer
GenericName[ar]=تعويذة لينكس
GenericName[as]=Linux Mascot
GenericName[be]=Талісман Linux
GenericName[be@latin]=Bialeh systemy „Linux”
GenericName[bg]=Талисманът на Линукс
GenericName[bn]=লিনাক্স ম্যাস্কট
GenericName[bn_IN]=Linux Mascot
GenericName[ca]=Mascota de Linux
GenericName[ca@valencia]=Mascota de Linux
GenericName[cs]=Maskot Linuxu
GenericName[csb]=Glingòtka Linuksa
GenericName[cy]=Masgot Linux 
GenericName[da]=Linux-maskot
GenericName[de]=Linux-Maskottchen
GenericName[el]=Η μασκότ του Linux
GenericName[en_GB]=Linux Mascot
GenericName[eo]=La linuksa simbolbesto
GenericName[es]=Mascota de Linux
GenericName[et]=Linuxi maskott
GenericName[eu]=Linuxen maskota
GenericName[fi]=Linux-maskotti
GenericName[fr]=La mascotte de Linux
GenericName[fy]=Linux-maskotte
GenericName[ga]=Sonóg Linux
GenericName[gl]=Mascota de Linux
GenericName[gu]=લિનક્સ ચિહ્ન
GenericName[he]=הקמע של לינוקס
GenericName[hi]=लिनक्स शुभंकर
GenericName[hne]=लिनक्स सुभंकर
GenericName[hr]=Linux maskota
GenericName[hsb]=Maskotka linuxa
GenericName[hu]=Linux-kabalaállatka
GenericName[is]=Linux lukkudýrið
GenericName[it]=Mascotte di Linux
GenericName[ja]=Linux マスコット
GenericName[ka]=Linux Mascot
GenericName[kk]=Linux нышаны
GenericName[km]=Mascot លីនុច
GenericName[kn]=ಲೈನಕ್ಸ್ ಭಾಗ್ಯದಾಯಕ (ಮಾಸ್ಕಾಟ್)
GenericName[ko]=리눅스 마스코트
GenericName[ku]=Mascotê Linuxê
GenericName[lt]=Linux talismanas
GenericName[lv]=Linux talismans
GenericName[mai]=लिनक्स शुभंकर
GenericName[mk]=Маскотата на Линукс
GenericName[ml]=ലിനക്സിന്റെ ഭാഗ്യചിഹ്നം
GenericName[mr]=Linux शुभंकर
GenericName[ms]=Maskot Linux
GenericName[nb]=Linux-maskot
GenericName[nds]=Dat Maskottje vun Linux
GenericName[ne]=लिनक्स मासकोट
GenericName[nl]=Linux-mascotte
GenericName[nn]=Linux-maskot
GenericName[or]=Linux Mascot
GenericName[pa]=ਲਿਨਕਸ ਮਾਸਕੋਟ
GenericName[pl]=Maskotka Linuksa
GenericName[pt]=Mascote do Linux
GenericName[pt_BR]=Mascote do Linux
GenericName[ro]=Mascota Linux
GenericName[ru]=Эмблема Linux
GenericName[se]=Linux Mascot
GenericName[si]=Linux Mascot
GenericName[sk]=Maskot Linuxu
GenericName[sl]=Maskota Linuxa
GenericName[sr]=Маскота Линукса
GenericName[sr@latin]=Maskota Linuxa
GenericName[sv]=Linux-maskot
GenericName[ta]=லைனக்ஸ் சின்னம்
GenericName[te]=లినక్స్ మాస్కాట్
GenericName[tg]=Linux Mascot
GenericName[th]=ตัวนำโชคของลินุกซ์
GenericName[tr]=Linux Maskotu
GenericName[uk]=Талісман Linux
GenericName[uz]=Linux tumori
GenericName[uz@cyrillic]=Linux тумори
GenericName[vi]=Biểu trưng Linux
GenericName[wa]=Li mascote da Linux
GenericName[xh]=Uphawu lwe Linux
GenericName[x-test]=xxLinux Mascotxx
GenericName[zh_CN]=Linux 吉祥物
GenericName[zh_TW]=Linux 吉祥物
Exec=xpinguin
Icon=pinguin
Type=Application
Terminal=false
X-KDE-StartupNotify=false
