[Desktop Entry]
Name=Tux
Name[be]=Tукс
Name[bn]=টাক্স
Name[eo]=Tuĉjo
Name[hi]=टक्स
Name[ne]=टक्स
Name[pa]=ਟੱਕਸ
Name[sr]=Тукс
Name[ta]=டக்ஸ்
Name[te]=టక్స్
Name[tr]=Tux penguen
Name[x-test]=xxTuxxx
MimeType=
GenericName=Linux Mascot
GenericName[af]=Linux Gelukbringer
GenericName[ar]=دمية لينكس
GenericName[be]=Талісман Linux
GenericName[bg]=Талисманът на Linux
GenericName[bn]=লিনাক্স ম্যাস্কট
GenericName[ca]=Mascota de Linux
GenericName[cs]=Maskot Linuxu
GenericName[csb]=Glingòtka Linuksa
GenericName[cy]=Masgot Linux 
GenericName[da]=Linux-maskot
GenericName[de]=Linux-Maskottchen
GenericName[el]=Η μασκότ του Linux
GenericName[eo]=La linuksa simbolbesto
GenericName[es]=Mascota de Linux
GenericName[et]=Linuxi maskott
GenericName[eu]=Linuxen maskota
GenericName[fi]=Linux-maskotti
GenericName[fr]=La mascotte de Linux
GenericName[fy]=Linux-maskotte
GenericName[ga]=Sonóg Linux
GenericName[gl]=Mascota de Linux
GenericName[he]=הקמע של לינוקס
GenericName[hi]=लिनक्स शुभंकर
GenericName[hr]=Linux maskota
GenericName[hu]=Linux-kabalaállatka
GenericName[is]=Linux lukkudýrið
GenericName[it]=Mascotte di Linux
GenericName[ja]=Linux マスコット
GenericName[kk]=Linux нышаны
GenericName[km]=Mascot លីនុច
GenericName[ko]=리눅스 마스코트
GenericName[ku]=Mascotê Linuxê
GenericName[lt]=Linux talismanas
GenericName[lv]=Linux talismans
GenericName[mk]=Маскотата на Линукс
GenericName[ms]=Maskot Linux
GenericName[nb]=Linux-maskot
GenericName[nds]=Dat Maskottje vun Linux
GenericName[ne]=लिनक्स मासकोट
GenericName[nl]=Linux-mascotte
GenericName[nn]=Linux-maskot
GenericName[pa]=ਲਿਨਕਸ ਮਾਸਕੋਟ
GenericName[pl]=Maskotka Linuksa
GenericName[pt]=Mascote do Linux
GenericName[pt_BR]=Mascote do Linux
GenericName[ro]=Mascota Linux
GenericName[ru]=Эмблема Linux
GenericName[sk]=Maskot Linuxu
GenericName[sl]=Maskota Linuxa
GenericName[sr]=Маскота Линукса
GenericName[sr@latin]=Maskota Linuxa
GenericName[sv]=Linux-maskot
GenericName[ta]=Linux சின்னம்
GenericName[te]=లినక్స్ మాస్కాట్
GenericName[tg]=Таъвизи Linux
GenericName[th]=ตัวนำโชคของลินุกซ์
GenericName[tr]=Linux Maskotu
GenericName[uk]=Талісман Linux
GenericName[uz]=Linux тумори
GenericName[vi]=Biểu trưng Linux
GenericName[wa]=Li mascote da Linux
GenericName[x-test]=xxLinux Mascotxx
GenericName[xh]=Uphawu lwe Linux
GenericName[zh_CN]=Linux 吉祥物
GenericName[zh_TW]=Linux 吉祥物
Exec=xpinguin
Icon=pinguin
Type=Application
Terminal=false
X-KDE-StartupNotify=false
