[Desktop Entry]
Encoding=UTF-8
Exec=kappfinder
Icon=kappfinder
Type=Application
Terminal=false
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Updating Tool
Name[af]=Kieslys opdateer program
Name[ar]=أداة تحديث القوائم
Name[be]=Інструмент абнаўлення меню
Name[ca]=Eina d'actualització del menú
Name[cs]=Nástroj pro aktualizaci nabídky
Name[csb]=Nôrzãdze do aktualizacëji menu
Name[cy]=Erfyn Diweddaru'r Dewislen
Name[da]=Værktøj til menuopdatering
Name[de]=Menü-Aktualisierung
Name[el]=Εργαλείο ενημέρωσης μενού
Name[eo]=Aktualigi la K-Menuaron
Name[es]=Herramienta de actualización de menús
Name[et]=Menüü uuendamine
Name[eu]=Menua eguneratzeko tresna
Name[fa]=ابزار به‌روزرسانی گزینگان
Name[fi]=Valikoiden päivitystyökalu
Name[fr]=Outil de mise à jour du menu
Name[fy]=Menu bywurkje
Name[ga]=Uirlis Nuashonraithe Roghchláir
Name[gl]=Ferramenta de Actualización do Menu
Name[he]=כלי לעדכון התפריטים
Name[hr]=Alat za ažuriranje izbornika
Name[hu]=Menüfrissítő
Name[is]=Uppfærslutól valmynda
Name[it]=Strumento di aggiornamento dei menu
Name[ja]=メニュー更新ツール
Name[ka]=მენიუს განახლების პროგრამა
Name[kk]=Мәзірді жаңарту құралы
Name[km]=ឧបករណ៍​ធ្វើ​ឲ្យ​ម៉ឺនុយ​ទាន់​សម័យ
Name[ko]=메뉴 업데이트 도구
Name[lt]=Meniu atnaujinimo priemonė
Name[lv]=Izvēlnes atjaunošanas rīks
Name[mk]=Алатка за ажурирање на менито
Name[ms]=Alat Mengemas Kini Menu
Name[nb]=Verktøy for menyoppdatering
Name[nds]=Menü aktualiseren
Name[ne]=मेनु अद्यावधिक उपकरण
Name[nl]=Menu bijwerken
Name[nn]=Verktøy for menyoppdatering
Name[pa]=ਮੇਨੂ ਅੱਪਡੇਟ ਸੰਦ
Name[pl]=Narzędzie do aktualizacji menu
Name[pt]=Ferramenta de Actualização do Menu
Name[pt_BR]=Ferramenta de Atualização de Menus
Name[ro]=Utilitar de actualizare meniuri
Name[ru]=Утилита обновления меню
Name[se]=Fálloođasmahttin-reaidu
Name[sl]=Orodje za posodabljanje menijev
Name[sr]=Алатка за ажурирање менија
Name[sr@latin]=Alatka za ažuriranje menija
Name[sv]=Verktyg för menyuppdatering
Name[ta]=பட்டியல் புதுப்பித்தல் கருவி
Name[tg]=Обзор ба рӯз оварии меню 
Name[th]=เครื่องมือปรับปรุงเมนู
Name[tr]=Menü Güncelleştirme Aracı
Name[uk]=Засіб для поновлення меню
Name[uz]=Менюни янгиловчи восита
Name[vi]=Công cụ Cập nhật Trình đơn
Name[wa]=Usteye d' amidraedje des menus
Name[x-test]=xxMenu Updating Toolxx
Name[zh_CN]=菜单更新工具
Name[zh_TW]=選單更新工具
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Settings;
