[Desktop Entry]
Name=Alephone - No OpenGL
Name[af]=Alephone - Geen OpenGL
Name[be]=Alephone - без OpenGL
Name[bn]=অ্যালিফোন - OpenGL ছাড়া
Name[br]=Alephone (OpenGL ebet)
Name[cs]=Alephone - bez OpenGL
Name[csb]=Alephone - bez OpenGL
Name[cy]=Alephone - Dim OpenGL
Name[da]=Alephone - uden OpenGL
Name[de]=Alephone (kein OpenGL)
Name[el]=Alephone - Χωρίς OpenGL
Name[eo]=Alephone - ne OpenGL
Name[et]=Alephone - OpenGL'ta
Name[eu]=Alephone - Ez OpenGL
Name[fi]=Alephone - Ei OpenGL
Name[fr]=Alephone - Sans OpenGL
Name[fy]=Alephone - Gjin OpenGL
Name[ga]=Alephone - Gan OpenGL
Name[gl]=Alephone - Non OpenGL
Name[gu]=અલેફોન - ઓપનજીએલ નહી
Name[he]=Alephone - בלי OpenGL
Name[hi]=एलिफोन - ओपनजीएल नहीं
Name[hr]=Alephone - Nema OpenGL
Name[hu]=Alaphone - OpenGL nélkül
Name[is]=Alephone - ekki OpenGL
Name[it]=Alephone - Senza OpenGL
Name[ka]=Alephone OpenGL–ის გარეშე
Name[kk]=OpenGL қолданбайтын Alephone
Name[km]=Alephone - គ្មាន OpenGL
Name[kn]=ಅಲೆಫೋನ್ - ಓಪನ್ ಜೆಎಲ್ ಇಲ್ಲ
Name[ko]=Alephone - OpenGL 사용 안함
Name[ku]=Alephone - Ne OpenGL
Name[lt]=Alephone – be OpenGL
Name[lv]=Alephone - bez OpenGL
Name[mk]=Alephone - без OpenGL
Name[ml]=അലിഫോണ്‍ - ഓപ്പണ്‍ജിഎ​ല്‍ ഇല്ല
Name[ms]=Alephone - Tiada OpenGL
Name[nb]=Alephone – ingen OpenGL
Name[nds]=Alephone (ahn OpenGL)
Name[ne]=एलिफोन - खुला जीएल होइन
Name[nl]=Alephone - geen OpenGL
Name[nn]=Alephone – Utan OpenGL
Name[pa]=ਅਲੀਫੋਨ - OpenGL ਨਹੀਂ
Name[pl]=Alephone - Bez OpenGL
Name[pt]=Alephone - Sem OpenGL
Name[pt_BR]=Alephone - Sem OpenGL
Name[ro]=Alephone - fără OpenGL
Name[ru]=Alephone без OpenGL
Name[se]=Alephone – OpenGL:a haga
Name[sk]=Alephone - Žiadne OpenGL
Name[sl]=Alephone - brez OpenGL
Name[sr]=Алефона - без опенГЛ‑а
Name[sr@latin]=Alephone - bez OpenGL‑a
Name[sv]=Alephone - Inget OpenGL
Name[ta]=அலேபோன் -ஓபன் ஜிஎல் அல்லாத
Name[te]=ఎలెఫొన్ - ఒపెన్ జిఎల్ లేకుండా
Name[tg]=Alephone - Бе истифодаи OpenGL
Name[th]=Alephone - ไม่ใช้ OpenGL
Name[tr]=Alephone - (OpenGL yok)
Name[uk]=Alephone (без OpenGL)
Name[uz]=Alefon - OpenGL'siz
Name[uz@cyrillic]=Алефон - OpenGL'сиз
Name[vi]=Alephone - Không có OpenGL
Name[wa]=Alef 1 - Sins OpenGL
Name[x-test]=xxAlephone - No OpenGLxx
Name[xh]=Alephone - Akukho OpenGL
Name[zh_CN]=Alephone - 无 OpenGL
Name[zh_TW]=Alephone - 無 OpenGL
Comment=An open source version of Marathon Infinity for SDL that has Open GL disabled
Comment[af]='n Oopbron weergawe van marathon Infinity vir SDL, met OpenGL gedeaktiveer
Comment[be]=Свабодная версія Marathon Infinity для SDL без Open GL
Comment[bg]=Версия с отворен код на играта Marathon Infinity за SDL без поддръжка на OpenGL
Comment[bn]=এস.ডি.এল-এর জন্য ম্যারাথন ইনফিনিটির একটি ওপেন সোর্স সংস্করণ, যাতে Open GL নিষ্ক্রিয় করা আছে
Comment[ca]=Una versió de codi font obert del Marathon Infinity per a SDL que porta deshabilitat l'Open GL
Comment[cs]=Open source verze Marathon Infinity pro SDL s vypnutým OpenGL
Comment[csb]=Ôpen wersëjô Marathon Infinity dlô SDL z wëłączonym wspiarcem OpenGL
Comment[cy]=Fersiwn Côd Agored o Marathon Infinity i SDL sydd gyda Open GL wedi'i anablu
Comment[da]=En open source-version af Marathon Infinity for SDL som ikke bruger Open GL
Comment[de]=Open-Source-Version von Marathon Infinity für SDL (mit deaktiviertem Open GL)
Comment[el]=Μια έκδοση ελεύθερης προέλευσης του Marathon Infinity για το SDL με το Open GL απενεργοποιημένο
Comment[eo]=Malfermitkoda versio de "Marathon Infinity for SDL", kiu ne uzas OpenGL
Comment[es]=Una versión open source de Marathon Infinity para SDL que tiene desactivado Open GL.
Comment[et]=SDL Marathon Infinity vabavaraversioon (Open GL'ta)
Comment[eu]=Open GLa desgaituta duen, eta SDLrako den Marathon Infinity  kode irekidun bertsio bat 
Comment[fa]=یک نسخۀ متن باز Marathon Infinity برای SDL که Open GL را غیرفعال ساخته است.
Comment[fi]=Avoimen lähdekoodin versio Marathon Infinity -pelistä SDL-kirjastolla ilman Open GL -tukea
Comment[fr]=Une version open source de Marathon Infinity pour SDL et qui n'utilise pas OpenGL
Comment[fy]=In Iepen Boarne-ferzje fan Marathon Infinity foar SDL, mar dan sûnder OpenGL
Comment[ga]=Leagan saorbhogearra de Marathon Infinity le haghaidh SDL a bhfuil Open GL díchumasaithe ann
Comment[gl]=Unha versión de código aberto de Marathon Infinity para SDL con OpenGL desabilitado
Comment[gu]=SDL માટે મેરેથોન ઇન્ફિનિટીની ઓપન સોર્સ આવૃત્તિ જ્યાં ઓપનજીએલ નિષ્ક્રિય કરવામાં આવ્યું છે
Comment[he]=גרסת קוד פתוח של Marathon Infinity עבור SDL עם Open GL מבוטל
Comment[hi]=एसडीएल के लिए मेराथन इनफिनिटी का ओपन सोर्स संस्करण जिसमें ओपनजीएल अक्षम है
Comment[hr]=Verzija Marathon Infinity otvorenog koda za SDL koji ima onemogućen OpenGL
Comment[hu]=A Marathon Infinity for SDL játék szabad forráskódú változata (OpenGL-támogatás nélkül)
Comment[is]=Open source útgáfa af Marathon Infinity fyrir SDL með OpenGl óvirkt
Comment[it]=Una versione open source di Marathon Infinity per SDL senza il supporto Open GL
Comment[ja]=Open GL を無効にした SDL Marathon Infinity のオープンソース版
Comment[ka]=Marathon Infinity–ს ღია კოდის ვერსია SDL–ისათვის რომელსაც გამორთული აქვს Open GL
Comment[kk]=Бастапқы мәтін ашық SDL Marathon Infinity дегеннің OpenGL қолданбайтын нұсқасы
Comment[km]=កំណែ​ប្រភព​បើក​​ចំហ​របស់​​ម៉ារ៉តុន​សម្រាប់ SDL ដែល​បាន​បិទ Open GL
Comment[ko]=Marathon Infinity의 OpenGL을 사용하지 않는 SDL용 오픈소스 버전
Comment[ku]=Guhertoya Marathon Infinity a çavkaniya vekirî ya desteka wê ya Open GL neçalak bûye
Comment[lt]=Marathon Infinity, skirto SDL, atviro kodo versija su išjungtu Open GL
Comment[lv]=Atvērtā koda versija Marathon Infinity spēlei izmantojot SDL ar atslēgtu OpenGL
Comment[mk]=Верзија на Marathon Infinity со отворен код за SDL која нема поддршка за Open GL
Comment[ml]=എസ്ഡിഎല്ലിനുള്ള ഓപ്പണ്‍ജിഎല്‍ ഒഴിവാക്കിയിട്ടുള്ള മാരത്തോണ്‍ ഇന്‍ഫിനിറ്റിയുടെ ഓപ്പണ്‍ സോഴ്സ് പതിപ്പു്
Comment[ms]=Versi sumber bebas Maraton Infiniti untuk SDL dengan Open GL dimatikan.
Comment[nb]=En åpen kildekode-versjon av Marathon Infinity for SDL med OpenGL slått av
Comment[nds]=En fre'e Verschoon vun Marathon Infinity för SDL, de ahn OpenGL funkscheneert
Comment[ne]=SDL का लागि म्याराथोन अनन्तको खुला स्रोत संस्करण जसमा खुला GL अक्षम पारिएको छ
Comment[nl]=een Open Source-versie van Marathon Infinity voor SDL, maar dan zonder Open GL
Comment[nn]=Ein open kjeldekode-versjon av Marathon Infinity for SDL med OpenGL slått av
Comment[pa]=SDL ਲਈ ਇੱਕ ਓਪਨ ਸਰੋਤ ਮਾਰਾਥਨ, ਜਿਸ ਲਈ Open GL ਅਯੋਗ ਹੈ।
Comment[pl]=Otwarta wersja Marathon Infinity dla SDL z wyłączonym wsparciem OpenGL
Comment[pt]=Uma versão 'open source' do Marathon Infinity para o SDL com o Open GL desactivado
Comment[pt_BR]=Uma versão de código aberto do Marathon Infinity para SDL com o Open GL desabilitado
Comment[ro]=O versiune open-source de Marathon Infinity pentru SDL care are OpenGL dezactivat
Comment[ru]=Версия Marathon Infinity с открытыми исходными текстами без OpenGL
Comment[se]=Rabas gáldukoda veršuvdna «Marathon Infinity» spealus mas OpenGL lea botnjojuvvon eret
Comment[sk]=Open source verzia Marathon Infinity pre SDL, ktorá má vypnuté OpenGL
Comment[sl]=Različica odprte kode Marathona Infinity za SDL, ki ima onemogočen OpenGL
Comment[sr]=Верзија Маратона бескраја отвореног кода за СДЛ
Comment[sr@latin]=Verzija Marathona beskraja otvorenog koda za SDL
Comment[sv]=Version av Marathon Infinity för SDL med öppen källkod, med OpenGL inaktiverat
Comment[ta]=ஓபன் ஜிபிஎல் செயல் புரியாத எஸ்டிஎல் க்கான மராத்தான் இன்பினிட்டியின் திறந்த மூல வெளியீடு
Comment[th]=Marathon Infinity รุ่นโอเพนซอร์สสำหรับ SDL ซึ่งปิดคุณสมบัติ Open GL 
Comment[tr]=Marathon Infinity'nin açık kaynak kodlu sürümü (openGL desteği kaldırılmış)
Comment[uk]=Відкрита версія Marathon Infinity для SDL, з вимкненим Open GL
Comment[vi]=Phiên bản mã nguồn mở của Marathon Vô tận dành cho SDL, có khả năng Open GL bị tắt
Comment[wa]=Ene modêye libe di Marathon Infinity po SDL k' a Open GL dismetou
Comment[x-test]=xxAn open source version of Marathon Infinity for SDL that has Open GL disabledxx
Comment[xh]=Uguqulelo lwe open source lwe Marathon Infinity lwe SDL ene Open GL ekhubaziweyo
Comment[zh_CN]=禁用 OpenGL 的 SDL Marathon Infinity 的开放源代码版本
Comment[zh_TW]=給 SDL 用的 Marathon Infinity 的開放原始碼版本，但不使用 Open GL
Exec=alephone -g -m
Terminal=false
Icon=alephone
Type=Application
