[Desktop Entry]
Name=Alephone
Name[bn]=অ্যালিফোন
Name[gu]=અલેફોન
Name[hi]=एलिफोन
Name[hu]=Alaphone
Name[kn]=ಅಲೆಫೋನ್
Name[ml]=അലിഫോണ്‍
Name[ne]=एलिफोन
Name[pa]=ਅਲੀਫੋਨ
Name[pl]=Alefon
Name[sr]=Алефона
Name[ta]=அலேபோன்
Name[te]=ఎలెఫోన్
Name[wa]=Alef 1
Name[x-test]=xxAlephonexx
Comment=An open source version of Marathon Infinity for SDL
Comment[af]='n Oop bron weergawe van Marathon Infinity vir SDL
Comment[be]=Свабодная версія Marathon Infinity для SDL
Comment[bg]=Версия с отворен код на играта Marathon Infinity за SDL
Comment[bn]=এস.ডি.এল-এর জন্য ম্যারাথন ইনফিনিটির একটি ওপেন সোর্স সংস্করণ
Comment[ca]=Una versió de codi font obert del Marathon Infinity per a SDL
Comment[cs]=Open source verze Marathon Infinity pro SDL
Comment[csb]=Ôpen wersëjô Marathon Infinity dlô SDL
Comment[cy]=Fersiwn Côd Agored o Marathon Infinity i SDL
Comment[da]=En open source-version af Marathon Infinity for SDL
Comment[de]=Open-Source-Version von Marathon Infinity für SDL
Comment[el]=Μια έκδοση ελεύθερης προέλευσης του Marathon Infinity για το SDL
Comment[eo]=Malfermitkoda versio de "Marathon Infinity for SDL"
Comment[es]=Una versión de código abierto de Marathon Infinity para SDL.
Comment[et]=SDL Marathon Infinity vabavaraversioon
Comment[eu]=Marathon Infinity-ren SDLrako kode irekidun bertsio bat 
Comment[fa]=نسخۀ متن باز Marathon Infinityبرای SDL
Comment[fi]=Avoimen lähdekoodin versio Marathon Infinity pelistä SDL-kirjastolla
Comment[fr]=Une version open source de Marathon Infinity fondée sur SDL
Comment[fy]=In Iepen boarne-ferzje fan Marathon Infinity foar SDL
Comment[ga]=Leagan saorbhogearra de Marathon Infinity le haghaidh SDL
Comment[gl]=Unha versión de código aberto de Marathon Infinity para SDL
Comment[gu]=SDL માટે મેરેથોન ઇન્ફિનિટીની ઓપન સોર્સ આવૃત્તિ
Comment[he]=גרסת קוד פתוח של Marathon Infinity עבור SDL
Comment[hi]=एसडीएल के लिए मेराथन इनफिनिटी का ओपन सोर्स संस्करण
Comment[hr]=Verzija Marathon Infinity za SDL, otvorenog koda
Comment[hu]=Szabad forráskódú, SDL-es Marathon Infinity változat
Comment[is]=Open source útgáfa af Marathon Infinity fyrir SDL
Comment[it]=Una versione open source di Marathon Infinity per SDL
Comment[ja]=SDL Marathon Infinity のオープンソース版
Comment[ka]=  Marathon Infinity–ს ღია კოდის ვერსია SDL–ისათვის
Comment[kk]=Бастапқы мәтін ашық SDL Marathon Infinity дегеннің нұсқасы
Comment[km]=កំណែ​ប្រភព​បើក​ចំហ​របស់​ម៉ារ៉ាតុន​សម្រាប់ SDL
Comment[ko]=Marathon Infinity의 SDL용 오픈소스 버전
Comment[ku]=Guhertoya Marathon Infinity a çavkaniya vekirî
Comment[lt]=Marathon Infinity, skirto SDL, atviro kodo versija
Comment[lv]=Atvērtā koda versija Marathon Infinity spēlei izmantojot SDL
Comment[mk]=Верзија на Marathon Infinity за SDL со отворен код
Comment[ml]=എസ്ഡിഎല്ലിനുള്ള മാരത്തോണ്‍ ഇന്‍ഫിനിറ്റിയുടെ ഓപ്പണ്‍ സോഴ്സ് പതിപ്പു്
Comment[ms]=Versi sumber bebas Maraton Infiniti untuk SDL
Comment[nb]=En åpen kildekode-versjon av Marathon Infinity for SDL
Comment[nds]=En fre'e Verschoon vun Marathon Infinity för SDL
Comment[ne]=SDL का लागि म्याराथोन अनन्तको खुला स्रोत संस्करण
Comment[nl]=een Open Source-versie van Marathon Infinity voor SDL
Comment[nn]=EIn open kjeldekode-versjon av Marathon Infinity for SDL
Comment[pa]=SDL ਲਈ ਮਾਰਾਥਨ ਦਾ ਓਪਨ ਸਰੋਤ
Comment[pl]=Otwarta wersja Marathon Infinity dla SDL
Comment[pt]=Uma versão 'open source' do Marathon Infinity para o SDL
Comment[pt_BR]=Uma versão de código aberto do Marathon Infinity para SDL
Comment[ro]=O versiune open-source de Marathon Infinity pentru SDL
Comment[ru]=Версия Marathon Infinity с открытыми исходными текстами для SDL
Comment[se]=Rabas gáldukoda veršuvdna «Marathon Infinity» spealus (SDL-vuođđoduvvun).
Comment[sk]=Open source verzia Marathon Infinity pre SDL
Comment[sl]=Različica odprte kode Marathona Infinity za SDL
Comment[sr]=Верзија Маратона бескраја отвореног кода за СДЛ
Comment[sr@latin]=Verzija Marathona beskraja otvorenog koda za SDL
Comment[sv]=Version av Marathon Infinity för SDL med öppen källkod
Comment[ta]=எஸ்டிஎல் க்கான மராத்தான் இன்பினிட்டியின் திறந்த மூல வெளியீடு
Comment[tg]=Нусхаи матни бозӣ Marathon бениҳоят барои SDL
Comment[th]=Marathon Ifinity รุ่นที่เป็นโอเพนซอร์สสำหรับ SDL
Comment[tr]=Marathon Infinity'nin açık kaynak kodlu sürümü
Comment[uk]=Відкрита версія Marathon Infinity для SDL
Comment[vi]=Phiên bản mã nguồn mở của Marathon Vô tận dành cho SDL
Comment[wa]=Ene modêye libe di Marathon Infinity po SDL
Comment[x-test]=xxAn open source version of Marathon Infinity for SDLxx
Comment[xh]=Uguqulelo lwe open source lwe Marathon Infinity ye SDL
Comment[zh_CN]=SDL 的 Marathon Infinity 的开放源代码版本
Comment[zh_TW]=給 SDL 用的 Marathon Infinity 的開放原始碼版本
Exec=alephone
Terminal=false
Icon=alephone
Type=Application
