[Desktop Entry]
Name=Alephone - No OpenGL
Name[af]=Alephone - Geen OpenGL
Name[be]=Alephone - без OpenGL
Name[br]=Alephone (OpenGL ebet)
Name[cs]=Alephone - bez OpenGL
Name[csb]=Alephone - bez OpenGL
Name[cy]=Alephone - Dim OpenGL
Name[da]=Alephone - uden OpenGL
Name[de]=Alephone (kein OpenGL)
Name[el]=Alephone - Χωρίς OpenGL
Name[eo]=Alefono - Nenia OpenGL
Name[et]=Alephone - OpenGL'ta
Name[eu]=Alephone - Ez OpenGL
Name[fi]=Alephone - Ei OpenGL
Name[fy]=Alephone - Gjin OpenGL
Name[ga]=Alephone - Gan OpenGL
Name[gl]=Alephone - Non OpenGL
Name[he]=Alephone - בלי OpenGL
Name[hr]=Alephone - Nema OpenGL
Name[hu]=Alaphone - OpenGL nélkül
Name[is]=Alephone - ekki OpenGL
Name[it]=Alephone - Senza OpenGL
Name[ka]=Alephone OpenGL–ის გარეშე
Name[kk]=OpenGL қолданбайтын Alephone
Name[km]=Alephone - គ្មាន OpenGL
Name[ko]=알폰 - OpenGL 아님
Name[lt]=Alephone – be OpenGL
Name[lv]=Alephone - Bez OpenGL
Name[mk]=Alephone - без OpenGL
Name[ms]=Alephone - Tiada OpenGL
Name[nb]=Alephone - ingen OpenGL
Name[nds]=Alephone (ahn OpenGL)
Name[ne]=एलिफोन - खुला जीएल होइन
Name[nl]=Alephone - geen OpenGL
Name[nn]=Alephone – Utan OpenGL
Name[pa]=ਅਲੀਫੋਨ - OpenGL ਨਹੀਂ
Name[pl]=Alephone - Bez OpenGL
Name[pt]=Alephone - Sem OpenGL
Name[pt_BR]=Alephone - Sem OpenGL
Name[ro]=Alephone - fără OpenGL
Name[ru]=Alephone без OpenGL
Name[se]=Alephone - OpenGL:a haga
Name[sl]=Alephone - brez OpenGL
Name[sr]=Alephone - без OpenGL-а
Name[sr@latin]=Alephone - bez OpenGL-a
Name[sv]=Alephone - Inget OpenGL
Name[ta]=அலேபோன் -OpenGL இல்லை
Name[te]=ఎలెఫొన్ - ఒపెన్ జిఎల్ లేకుండా
Name[tg]=Alephone - Бе OpenGL
Name[tr]=Alephone - (OpenGL yok)
Name[uk]=Alephone (без OpenGL)
Name[uz]=Алефон - OpenGL'сиз
Name[vi]=Alephone - Không có OpenGL
Name[wa]=Alef 1 - Sins OpenGL
Name[x-test]=xxAlephone - No OpenGLxx
Name[xh]=Alephone - Akukho OpenGL
Name[zh_TW]=Alephone - 無 OpenGL
Comment=An open source version of Marathon Infinity for SDL that has Open GL disabled
Comment[af]='n Oop bron weergawe van marathon Infinity vir SDL, met OpenGL gedeaktiveer
Comment[be]=Свабодная версія Marathon Infinity для SDL без Open GL
Comment[bg]=Версия с отворен код на играта Marathon Infinity за SDL без поддръжка на OpenGL
Comment[ca]=Una versió de codi font obert del Marathon Infinity per a SDL que porta deshabilitat l'Open GL
Comment[cs]=Open source verze Marathon Infinity pro SDL s vypnutým OpenGL
Comment[csb]=Ôpen wersëjô Marathon Infinity dlô SDL z wëłączonym wspiarcem OpenGL
Comment[cy]=Fersiwn Côd Agored o Marathon Infinity i SDL sydd gyda Open GL wedi'i anablu
Comment[da]=En open source-version af Marathon Infinity for SDL som ikke bruger Open GL
Comment[de]=Open-Source-Version von Marathon Infinity für SDL (mit deaktiviertem Open GL)
Comment[el]=Μια έκδοση ελεύθερης προέλευσης του Marathon Infinity για το SDL με το Open GL απενεργοποιημένο
Comment[eo]=Libera versio de "Marathon Infinity for SDL", kiu ne uzas OpenGL
Comment[es]=Una versión open source de Marathon Infinity para SDL que tiene desactivado Open GL.
Comment[et]=SDL Marathon Infinity vabavaraversioon (Open GL'ta)
Comment[eu]=Open GLa desgaituta duen, eta SDLrako den Marathon Infinity  kode irekidun bertsio bat 
Comment[fa]=یک نسخۀ متن باز Marathon Infinity برای SDL که Open GL را غیرفعال ساخته است.
Comment[fi]=Avoimen lähdekoodin versio Marathon Infinity -pelistä SDL-kirjastolla ilman Open GL -tukea
Comment[fr]=Une version open source de Marathon Infinity pour SDL qui a OpenGL désactivé
Comment[fy]=In Iepen Boarne-ferzje fan Marathon Infinity foar SDL, mar dan sûnder OpenGL
Comment[ga]=Leagan saorbhogearra de Marathon Infinity le haghaidh SDL a bhfuil Open GL díchumasaithe ann
Comment[gl]=Unha versión de código aberto de Marathon Infinity para SDL con OpenGL desabilitado
Comment[he]=גרסת קוד פתוח של Marathon Infinity עבור SDL עם Open GL מבוטל
Comment[hr]=Verzija Marathon Infinity otvorenog koda za SDL koji ima onemogućen OpenGL
Comment[hu]=A Marathon Infinity for SDL játék szabad forráskódú változata (OpenGL-támogatás nélkül)
Comment[is]=Open source útgáfa af Marathon Infinity fyrir SDL með OpenGl óvirkt
Comment[it]=Una versione open source di Marathon Infinity per SDL senza il supporto Open GL
Comment[ja]=Open GL を無効にした SDL Marathon Infinity のオープンソース版
Comment[ka]=Marathon Infinity–ს ღია კოდის ვერსია SDL–ისათვის რომელსაც გამორთული აქვს Open GL
Comment[kk]=Бастапқы мәтін ашық SDL Marathon Infinity дегеннің OpenGL қолданбайтын нұсқасы
Comment[km]=កំណែ​ប្រភព​បើក​​ចំហ​នៃ​ម៉ារ៉តុន​របស់ SD់ ដែល មិន​បាន​អនុញ​ឲ្យ​បើOpe ឡើយn GL
Comment[ko]=OpenGL이 꺼져있는 SDL용 마라톤 무한대 열린 소스 판
Comment[lt]=Marathon Infinity, skirto SDL, atviro kodo versija su išjungtu Open GL
Comment[lv]=Atvērtā koda versija Marathon Infinity spēlei izmantojot SDL ar atslēgtu OpenGL
Comment[mk]=Верзија на Marathon Infinity со отворен код за SDL која нема поддршка за Open GL
Comment[ms]=Versi sumber bebas Maraton Infiniti untuk SDL dengan Open GL dimatikan.
Comment[nb]=En åpen kildekode-versjon av Marathon Infinity for SDL med OpenGL slått av
Comment[nds]=En fre'e Verschoon vun Marathon Infinity för SDL, de ahn OpenGL funkscheneert
Comment[ne]=SDL का लागि म्याराथोन अनन्तको खुला स्रोत संस्करण जसमा खुला GL अक्षम पारिएको छ
Comment[nl]=een Open Source-versie van Marathon Infinity voor SDL, maar dan zonder Open GL
Comment[nn]=Ein open kjeldekode-versjon av Marathon Infinity for SDL med OpenGL slått av
Comment[pa]=SDL ਲਈ ਇੱਕ ਓਪਨ ਸਰੋਤ ਮਾਰਾਥਨ, ਜਿਸ ਲਈ Open GL ਅਯੋਗ ਹੈ।
Comment[pl]=Otwarta wersja Marathon Infinity dla SDL z wyłączonym wsparciem OpenGL
Comment[pt]=Uma versão 'open source' do Marathon Infinity para o SDL com o Open GL desactivado
Comment[pt_BR]=Uma versão de código aberto do Marathon Infinity para SDL com o Open GL desabilitado
Comment[ro]=O versiune open-source de Marathon Infinity pentru SDL care are OpenGL dezactivat
Comment[ru]=Версия Marathon Infinity с открытыми исходными текстами без OpenGL
Comment[se]=Rabas gáldukoda veršuvdna «Marathon Infinity» spealus mas OpenGL lea botnjojuvvon eret
Comment[sl]=Različica odprte kode Marathona Infinity za SDL, ki ima onemogočen OpenGL
Comment[sr]=Верзија отвореног кода Marathon Infinity-ја за SDL која има искључен OpenGL
Comment[sr@latin]=Verzija otvorenog koda Marathon Infinity-ja za SDL koja ima isključen OpenGL
Comment[sv]=Version av Marathon Infinity för SDL med öppen källkod, med OpenGL inaktiverat
Comment[ta]=SDLக்கான தொடர் ஓட்ட எல்லையில்லா திறந்த ஆணை மூல பதிப்பில் உள்ள Open GL  செயலில் இல்லை
Comment[tg]= Тафсир бо матни бозӣ аз Marathon Infinity барои SDL бе Open GL
Comment[th]=Marathon Infinity รุ่นโอเพนซอร์สสำหรับ SDL ซึ่งปิดคุณสมบัติ Open GL 
Comment[tr]=Marathon Infinity'nin açık kaynak kodlu sürümü (openGL desteği kaldırılmış)
Comment[uk]=Відкрита версія Marathon Infinity для SDL, з вимкненим Open GL
Comment[vi]=Phiên bản mã nguồn mở của Marathon Vô tận dành cho SDL, có khả năng Open GL bị tắt
Comment[x-test]=xxAn open source version of Marathon Infinity for SDL that has Open GL disabledxx
Comment[xh]=Uguqulelo lwe open source lwe Marathon Infinity lwe SDL ene Open GL ekhubaziweyo
Comment[zh_TW]=給 SDL 用的 Marathon Infinity 的開放原始碼版本，但不使用 Open GL
Exec=alephone -g -m
Terminal=false
Icon=alephone
Type=Application
Encoding=UTF-8
