[Desktop Entry]
Name=Alephone - No OpenGL
Name[af]=Alephone - Geen OpenGL
Name[be]=Alephone - без OpenGL
Name[be@latin]=Alephone (biez „OpenGL”)
Name[bn]=অ্যালিফোন - OpenGL ছাড়া
Name[br]=Alephone (OpenGL ebet)
Name[cs]=Alephone - bez OpenGL
Name[csb]=Alephone - bez OpenGL
Name[cy]=Alephone - Dim OpenGL
Name[da]=Alephone - uden OpenGL
Name[de]=Alephone (kein OpenGL)
Name[el]=Alephone - Χωρίς OpenGL
Name[eo]=Alephone - ne OpenGL
Name[et]=Alephone - OpenGL'ta
Name[eu]=Alephone - Ez OpenGL
Name[fi]=Alephone - Ei OpenGL
Name[fr]=Alephone - sans OpenGL
Name[fy]=Alephone - Gjin OpenGL
Name[ga]=Alephone - Gan OpenGL
Name[gl]=Alephone - Non OpenGL
Name[gu]=અલેફોન - ઓપનજીએલ નહી
Name[he]=Alephone - בלי OpenGL
Name[hi]=एलिफोन - ओपनजीएल नहीं
Name[hr]=Alephone - Nema OpenGL
Name[hu]=Alaphone - OpenGL nélkül
Name[is]=Alephone - ekki OpenGL
Name[it]=Alephone - Senza OpenGL
Name[ka]=Alephone OpenGL–ის გარეშე
Name[kk]=OpenGL қолданбайтын Alephone
Name[km]=Alephone - គ្មាន OpenGL
Name[kn]=ಅಲೆಫೋನ್ - ಓಪನ್ ಜೆಎಲ್ ಇಲ್ಲ
Name[ko]=Alephone - OpenGL 사용 안함
Name[ku]=Alephone - Ne OpenGL
Name[lt]=Alephone – be OpenGL
Name[lv]=Alephone - bez OpenGL
Name[mk]=Alephone - без OpenGL
Name[ml]=അലിഫോണ്‍ - ഓപ്പണ്‍ജിഎ​ല്‍ ഇല്ല
Name[mr]=एलिफोन - OpenGL नाही
Name[ms]=Alephone - Tiada OpenGL
Name[nb]=Alephone – ingen OpenGL
Name[nds]=Alephone (ahn OpenGL)
Name[ne]=एलिफोन - खुला जीएल होइन
Name[nl]=Alephone - geen OpenGL
Name[nn]=Alephone – Utan OpenGL
Name[pa]=ਅਲੀਫੋਨ - OpenGL ਨਹੀਂ
Name[pl]=Alephone - Bez OpenGL
Name[pt]=Alephone - Sem OpenGL
Name[pt_BR]=Alephone - Sem OpenGL
Name[ro]=Alephone - fără OpenGL
Name[ru]=Alephone без OpenGL
Name[se]=Alephone – OpenGL:a haga
Name[sk]=Alephone - Žiadne OpenGL
Name[sl]=Alephone - brez OpenGL
Name[sr]=Алефона - без опенГЛ‑а
Name[sr@latin]=Alephone - bez OpenGL‑a
Name[sv]=Alephone - Inget OpenGL
Name[ta]=அலேபோன் -ஓபன் ஜிஎல் அல்லாத
Name[te]=ఎలెఫొన్ - ఒపెన్ జిఎల్ లేకుండా
Name[tg]=Alephone - Бе истифодаи OpenGL
Name[th]=Alephone - ไม่ใช้ OpenGL
Name[tr]=Alephone - (OpenGL yok)
Name[uk]=Alephone (без OpenGL)
Name[uz]=Alefon - OpenGL'siz
Name[uz@cyrillic]=Алефон - OpenGL'сиз
Name[vi]=Alephone - Không có OpenGL
Name[wa]=Alef 1 - Sins OpenGL
Name[x-test]=xxAlephone - No OpenGLxx
Name[xh]=Alephone - Akukho OpenGL
Name[zh_CN]=Alephone - 无 OpenGL
Name[zh_TW]=Alephone - 無 OpenGL
Comment=An open source version of Marathon Infinity for SDL that has OpenGL disabled
Comment[be@latin]=Svabodnaja versija hulni „Marathon Infinity” dla systemy „SDL” z vyklučanym „OpenGL”
Comment[km]=កំណែ​កម្មវិធី​ប្រភព​កូដ​ចំហ​របស់ Marathon Infinity សម្រាប់ SDL ដែល​បាន​បិទ OpenGL
Comment[nds]=En fre'e Verschoon vun Marathon Infinity för SDL, de ahn OpenGL funkscheneert
Comment[pt]=Uma versão 'open source' do Marathon Infinity para o SDL com o Open GL desactivado
Comment[pt_BR]=Uma versão 'open source' do Marathon Infinity para o SDL com o Open GL desactivado
Comment[sv]=En version av Marathon Infinity för SDL med öppen källkod, med OpenGL inaktiverat
Comment[uk]=Відкрита версія Marathon Infinity для SDL, з вимкненим Open GL
Comment[zh_TW]=給 SDL 用的 Marathon Infinity 的開放原始碼版本，但不使用 OpenGL
Exec=alephone -g -m
Terminal=false
Icon=alephone
Type=Application
