[Desktop Entry]
Name=Battleball
Name[af]=Gevegsbal
Name[ar]=لعبة Battleball
Name[as]=Battleball
Name[be]=Battleball
Name[be@latin]=Battleball
Name[bg]=Battleball
Name[bn]=ব্যাটল-বল
Name[bn_IN]=Battleball
Name[br]=Battleball
Name[ca]=Battleball
Name[ca@valencia]=Battleball
Name[cs]=Battleball
Name[csb]=Wòjowô kùgla
Name[cy]=P?lfrwydro
Name[da]=Battleball
Name[de]=Battleball
Name[el]=Battleball
Name[en_GB]=Battleball
Name[eo]=Battleball
Name[es]=Battleball
Name[et]=Battleball
Name[eu]=Battleball
Name[fi]=Battleball
Name[fr]=Battleball
Name[fy]=Battleball
Name[ga]=Battleball
Name[gl]=Battleball
Name[gu]=બેટલબોલ
Name[he]=Battleball
Name[hi]=बैटलबॉल
Name[hne]=बैटलबाल
Name[hr]=Battleball
Name[hsb]=Battleball
Name[hu]=Battleball
Name[is]=Battleball
Name[it]=Battleball
Name[ja]=バトルボール
Name[ka]=Battleball
Name[kk]=Battleball
Name[km]=ប្រកួត​បាល់
Name[kn]=ಬ್ಯಾಟಲ್ಬಾಲ್
Name[ko]=Battleball
Name[ku]=Battleball
Name[lt]=Battleball
Name[lv]=Cīņasbumba
Name[mai]=बैटलबाल
Name[mk]=Battleball
Name[ml]=ബാറ്റില്‍ബാള്‍
Name[mr]=बैटलबॉल
Name[ms]=Battleball
Name[nb]=Battleball
Name[nds]=Battleball
Name[ne]=ब्याटल बल
Name[nl]=Battleball
Name[nn]=Battleball
Name[oc]=Battleball
Name[or]=ବ୍ୟାଟଲବଲ
Name[pa]=ਲੜਾਈ ਗੇਂਦ
Name[pl]=Bojowa kulka
Name[pt]=Battleball
Name[pt_BR]=Battleball
Name[ro]=Battleball
Name[ru]=Battleball
Name[se]=Battleball
Name[si]=Battleball
Name[sk]=Battleball
Name[sl]=Battleball
Name[sr]=Бојолопта
Name[sr@latin]=Bojolopta
Name[sv]=Battleball
Name[ta]=பேட்டல்பால்
Name[te]=బేటిల్ బంతి
Name[tg]=Battleball
Name[th]=Battleball
Name[tr]=Battleball
Name[uk]=Battleball
Name[uz]=Battleball
Name[uz@cyrillic]=Battleball
Name[vi]=Trận đấu bóng
Name[wa]=Battleball
Name[xh]=Battleball
Name[x-test]=xxBattleballxx
Name[zh_CN]=Battleball
Name[zh_TW]=Battleball
GenericName=Ball Game
GenericName[af]=Bal Speletjie
GenericName[ar]=ألعاب كرة
GenericName[as]=Ball Game
GenericName[be]=Гульня з мячыкам
GenericName[be@latin]=Hulnia ŭ miač
GenericName[bg]=Игра с топки
GenericName[bn]=বল নিয়ে খেলা
GenericName[bn_IN]=Ball Game
GenericName[br]=C'hoari boulloù
GenericName[ca]=Joc de pilota
GenericName[ca@valencia]=Joc de pilota
GenericName[cs]=Hra s míčem
GenericName[csb]=Gra z kùglą
GenericName[cy]=Gêm Pêl
GenericName[da]=Boldspil
GenericName[de]=Ballspiel
GenericName[el]=Παιχνίδι με μπάλα
GenericName[en_GB]=Ball Game
GenericName[eo]=Pilkoludo
GenericName[es]=Juego de pelota
GenericName[et]=Pallimäng
GenericName[eu]=Pilota jokoa
GenericName[fa]=بازی توپ
GenericName[fi]=Pallopeli
GenericName[fr]=Jeu de balle
GenericName[fy]=Bolspul
GenericName[ga]=Cluiche Liathróide
GenericName[gl]=Xogo de bólas
GenericName[gu]=દડાની રમત
GenericName[he]=משחק כדור
GenericName[hi]=गेंद खेल
GenericName[hne]=गेंद खेल
GenericName[hr]=Igra s loptom
GenericName[hsb]=Bulowe hry
GenericName[hu]=Labdajáték
GenericName[is]=Boltaleikur
GenericName[it]=Gioco di palla
GenericName[ja]=ボールゲーム
GenericName[ka]=თამაშები ბურთით
GenericName[kk]=Доп ойыны
GenericName[km]=ល្បែង​បាល់
GenericName[kn]=ಚಂಡಾಟ
GenericName[ko]=공 놀이
GenericName[ku]=Lîstika Gokan
GenericName[lt]=Žaidimas su kamuoliu
GenericName[lv]=Bumbu spēle
GenericName[mai]=गेंद खेल
GenericName[mk]=Игра со топчиња
GenericName[ml]=പന്തുകളി
GenericName[mr]=चेंडू खेळ
GenericName[ms]=Permainan Bola
GenericName[nb]=Ballspill
GenericName[nds]=Ballspeel
GenericName[ne]=बल खेल
GenericName[nl]=Balspel
GenericName[nn]=Ballspel
GenericName[or]=ବୋଲ ଖେଳ
GenericName[pa]=ਗੇਂਦ ਖੇਡ
GenericName[pl]=Gra z kulką
GenericName[pt]=Jogo de Bola
GenericName[pt_BR]=Jogo de bolas
GenericName[ro]=Joc cu mingi
GenericName[ru]=Настольная игра
GenericName[se]=Spábbaspeallu
GenericName[si]=Ball Game
GenericName[sk]=Loptová hra
GenericName[sl]=Igra z žogo
GenericName[sr]=Игра са лоптама
GenericName[sr@latin]=Igra sa loptama
GenericName[sv]=Bollspel
GenericName[ta]=பந்து விளையாட்டு
GenericName[te]=బంతి ఆట
GenericName[tg]=Бозҳои тӯб
GenericName[th]=เกมบอล
GenericName[tr]=Top Oyunu
GenericName[uk]=Гра з кулями
GenericName[uz]=Koptok oʻyini
GenericName[uz@cyrillic]=Копток ўйини
GenericName[vi]=Trò chơi bóng
GenericName[wa]=Djeu d' bale
GenericName[xh]=Umdlalo Webhola
GenericName[x-test]=xxBall Gamexx
GenericName[zh_CN]=球类游戏
GenericName[zh_TW]=球類遊戲
Exec=battleball localhost:0.0
Terminal=false
Icon=xpm
Type=Application
