[Desktop Entry]
Name=cxhextris
Name[af]=cxhextris
Name[ar]=cxhextris
Name[as]=cxhextris
Name[be]=cxhextris
Name[be@latin]=cxhextris
Name[bg]=cxhextris
Name[bn]=cxhextris
Name[bn_IN]=cxhextris
Name[br]=cxhextris
Name[ca]=cxhextris
Name[ca@valencia]=cxhextris
Name[cs]=cxhextris
Name[csb]=cxhextris
Name[cy]=cxhextris
Name[da]=cxhextris
Name[de]=cxhextris
Name[el]=cxhextris
Name[en_GB]=cxhextris
Name[eo]=cxhextris
Name[es]=cxhextris
Name[et]=cxhextris
Name[eu]=cxhextris
Name[fi]=cxhextris
Name[fr]=cxHextris
Name[fy]=cxhextris
Name[ga]=cxhextris
Name[gl]=cxhextris
Name[gu]=cxહેક્સટ્રિસ
Name[he]=cxhextris
Name[hi]=सीएक्सहेक्सट्रिस
Name[hne]=सीएक्सहेक्सट्रिस
Name[hr]=cxhextris
Name[hsb]=cxhextris
Name[hu]=Cxhextris
Name[is]=cxhextris
Name[it]=cxhextris
Name[ja]=cxhextris
Name[ka]=cxhextris
Name[kk]=cxhextris
Name[km]=cxhextris
Name[kn]=ಛೆಕ್ಸ್ ಟ್ರಿಸ್
Name[ko]=cxhextris
Name[ku]=cxhextris
Name[lt]=cxhextris
Name[lv]=cxhextris
Name[mai]=सीएक्सहेक्सट्रिस
Name[mk]=cxhextris
Name[ml]=സിഎക്സ്ഹെക്സ്ട്രിക്സ്
Name[mr]=सीएक्सहेक्सट्रिस
Name[ms]=cxhextris
Name[nb]=cxhextris
Name[nds]=cxhextris
Name[ne]=cxhextris
Name[nl]=cxhextris
Name[nn]=cxhextris
Name[or]=cxhextris
Name[pa]=cxhextris
Name[pl]=cxhextris
Name[pt]=cxhextris
Name[pt_BR]=cxhextris
Name[ro]=cxhextris
Name[ru]=cxhextris
Name[se]=cxhextris
Name[si]=cxhextris
Name[sk]=cxhextris
Name[sl]=cxhextris
Name[sr]=ЦИкс‑хекстрис
Name[sr@latin]=CXHextris
Name[sv]=Cxhextris
Name[ta]=சிஎக்ஸ்ஹெட்ரிஸ்
Name[te]=సిఎక్స్ హెక్స్ ట్రిస్
Name[tg]=cxhextris
Name[th]=cxhextris
Name[tr]=cxhextris
Name[uk]=cxhextris
Name[uz]=cxhextris
Name[uz@cyrillic]=cxhextris
Name[vi]=cxhextris
Name[wa]=cxhextris
Name[xh]=cxhextris
Name[x-test]=xxcxhextrisxx
Name[zh_CN]=cxhextris
Name[zh_TW]=cxhextris 俄羅斯方塊
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=xhextris
Terminal=false
Icon=cxhextris
Type=Application
