[Desktop Entry]
Encoding=UTF-8
GenericName=Tetris-Like Game
GenericName[af]=Tetris tipe Speletjie
GenericName[be]=Гульня тыпу Tetris
GenericName[bg]=Тетрис
GenericName[br]=Ur c'hoari a seurt gant Tetris
GenericName[ca]=Jocs com el Tetris
GenericName[cs]=Hra podobná Tetris
GenericName[csb]=Gra juwernô do Tetris
GenericName[cy]=Gêm sy'n debyg i Tetris
GenericName[da]=Tetris-lignende spil
GenericName[de]=Tetris-ähnliches Spiel
GenericName[el]=Παιχνίδι παρόμοιο με το Tetris
GenericName[eo]=Kahela ludo
GenericName[es]=Juego tipo Tetris
GenericName[et]=Tetrise-laadne mäng
GenericName[eu]=Tetris erako jokua
GenericName[fa]=بازی Tetris-Like
GenericName[fi]=Tetriksen tapainen peli
GenericName[fr]=Jeu à la Tétris
GenericName[fy]=Tetris-fariant
GenericName[ga]=Cluiche cosúil le Tetris
GenericName[gl]=Xogo tipo Tetris
GenericName[he]=משחק דמוי טטריס
GenericName[hr]=Igra nalik na Tetris
GenericName[hu]=Tetris-szerű
GenericName[is]=Leikur líkur Tetris
GenericName[it]=Gioco tipo-tetris
GenericName[ja]=テトリス風ゲーム
GenericName[ka]=თეთრისის მსგავსი თამაშები
GenericName[kk]=Тетрис-секілді ойын
GenericName[km]=ល្បែង​សង់ផ្ទះ
GenericName[ko]=테트리스 같은 놀이
GenericName[lt]=Žaidimas, panašus į Tetrį
GenericName[lv]=Tetrim līdzīga Spēle
GenericName[mk]=Игра како тетрис
GenericName[ms]=Permainan Ala Tetris
GenericName[nb]=Tetris-aktig spill
GenericName[nds]=En Speel as Tetris
GenericName[ne]=टेट्रिस-खेल जस्तो
GenericName[nl]=Tetris-variant
GenericName[nn]=Tetris-aktig spel
GenericName[pa]=ਟੀਚਰੀਸ ਵਰਗੀ ਖੇਡ
GenericName[pl]=Gra podobna do Tetris
GenericName[pt]=Jogo tipo Tetris
GenericName[pt_BR]=Jogo tipo Tetris
GenericName[ro]=Joc de Tetris
GenericName[ru]=Тетрис-подобная игра
GenericName[se]=Tetris-lágan speallu
GenericName[sl]=Igra podobna Tetrisu
GenericName[sr]=Игра налик на Тетрис
GenericName[sr@latin]=Igra nalik na Tetris
GenericName[sv]=Tetrisliknande spel
GenericName[ta]=டெட்ரிஸ்-ஒத்த விளையாட்டு
GenericName[te]=టెట్రిస్ లాంటి ఆట
GenericName[tg]=Бозӣ монанди чорчора
GenericName[th]=เกมแบบเททริส
GenericName[tr]=Tetris Benzeri Bir Oyun
GenericName[uk]=Гра "а ля" Тетрис
GenericName[uz]=Тетрисга ўхшаган ўйин
GenericName[vi]=Trò chơi kiểu xếp hình
GenericName[wa]=Djeu rashonnant a tetrisse
GenericName[x-test]=xxTetris-Like Gamexx
GenericName[zh_TW]=Tetris-Like 遊戲
Exec=frozen-bubble
Icon=frozen_bubble
Name=Frozen Bubble
Name[csb]=Zamrozoné bąbelczi
Name[cy]=Swigen Rhewllyd (Frozen Bubble)
Name[da]=Frossen bobbel
Name[de]=Gefrorene Blase
Name[eo]=Neŝanĝebla bobelo
Name[es]=Burbuja congelada
Name[fa]=حباب یخ‌زده
Name[hr]=Smrznuti mjehurić
Name[is]=Frosin kúla
Name[ja]=フローズンバブル
Name[km]=បង្កក​ពពុះ
Name[ko]=파일 찾기
Name[lt]=Užšalę burbulai
Name[lv]=Sasaldētie Burbuļi
Name[ne]=फ्रोजेन बबल
Name[pa]=ਜੰਮਿਆ ਬੁਬਲਾ
Name[pl]=Zamrożone bąbelki
Name[ro]=Bulă îngheţată
Name[sl]=Zamrznjen mehurček
Name[sv]=Fryst bubbla
Name[te]=గడ్డకట్టీన బుడగ
Name[tg]=Пуфаки Яхдор
Name[tr]=Donmuş Toplar
Name[uk]=Замерзла бульбашка
Name[uz]=Яхлаган пуфакчалар
Name[vi]=Bong bóng đóng băng
Name[wa]=Djeu d' årcåde Frozen-Bubble
Name[x-test]=xxFrozen Bubblexx
Name[zh_TW]=冰凍氣泡
Path=
Terminal=true
Type=Application
