[Desktop Entry]
Encoding=UTF-8
Name=Gnibbles
Name[cy]=Gtameidiau
Name[eo]=Rodoj
Name[fr]=GNibbles
Name[is]=Gnibbels
Name[ne]=जिनिबल्स
Name[pa]=ਨਿਬੱਲ
Name[ta]=க்ரிப்பல்ஸ்
Name[te]=గ్నిబ్బిల్స్
Name[tg]=Кирми боронӣ
Name[x-test]=xxGnibblesxx
Name[zh_TW]=貪食蛇
GenericName=GNOME Nibbles Game
GenericName[af]=Gnome Nibbles Speletjie
GenericName[be]=Гульня Nibbles ад GNOME
GenericName[bg]=Игра GNOME Nibbles
GenericName[ca]=Joc Nibbles del GNOME
GenericName[cs]=Hra Gnome Nibbles
GenericName[csb]=Gra Nibbles ("Ògrëzanié") dlô Gnome
GenericName[cy]=Gêm Tameidiau GNOME  
GenericName[da]=GNOME Nibbles-spil
GenericName[de]=Nibbles-Spiel (GNOME)
GenericName[el]=Παιχνίδι Nibbles του GNOME
GenericName[eo]=Gnoma Rodludo
GenericName[es]=Juego GNOME de Nibbles
GenericName[et]=GNOME Nibbles mäng
GenericName[eu]=GNOME Nibbles jokoa
GenericName[fa]=گنوم Nibbles بازی
GenericName[fi]=Gnome Nibbles -peli
GenericName[fr]=Jeu Nibbles pour Gnome
GenericName[fy]=GNOME Nibbles Spul
GenericName[ga]=Cluiche Nibbles GNOME
GenericName[gl]=Xogo Nibbles de GNOME
GenericName[he]=משחק Nibbles ל־GNOME
GenericName[hr]=GNOME igra slična Nibbles-u
GenericName[hu]=GNOME Nibbles
GenericName[is]=GNOME Nibbles leikur
GenericName[it]=Gioco nibbles di GNOME
GenericName[ja]=GNOME Nibbles ゲーム
GenericName[ka]=თამაში GNOME  Nibbles
GenericName[kk]=GNOME ойыны
GenericName[ko]=그놈용 니블 놀이
GenericName[lt]=GNOME Nibbles žaidimas
GenericName[lv]=GNOME Nibbles Spēle
GenericName[mk]=GNOME Nibbles игра
GenericName[nb]=Nibbles-spill for GNOME
GenericName[nds]=Nibbles-Speel vun GNOME
GenericName[ne]=जिनोम निबल्स खेल
GenericName[nl]=GNOME Nibbles Spel
GenericName[nn]=Nibbles-spel for GNOME
GenericName[pa]=ਗਨੋਮ ਨਿੱਬਲ ਖੇਡ
GenericName[pl]=Gra Nibbles ("Ogryzanie") dla Gnome
GenericName[pt]=Jogo Nibbles do GNOME
GenericName[ro]=Un joc Nibbles pentru GNOME
GenericName[ru]=Игра GNOME
GenericName[se]=GNOME Nibbles-speallu
GenericName[sl]=Igra Gnome Nibbles
GenericName[sr]=Гномова Ниблес игра
GenericName[sr@latin]=Gnomova Nibles igra
GenericName[sv]=Gnome-spelet Nibbles
GenericName[ta]=ஜினோம் நிப்பல்ஸ் விளையாட்டு
GenericName[te]=గ్నొమ్ నిబ్బిల్స్ ఆట
GenericName[tg]=Бозии GNOME Nibbles
GenericName[th]=เกม Nibbles ของ GNOME
GenericName[tr]=GNOME Nibbles Oyunu
GenericName[uk]=Гра Nibbles для GNOME
GenericName[uz]=GNOME учун Nibbles ўйини
GenericName[x-test]=xxGNOME Nibbles Gamexx
GenericName[xh]=GNOME Umdlalo we Nibbles
GenericName[zh_TW]=GNOME 貪食蛇遊戲
Exec=gnibbles
Terminal=false
Icon=gnome-nibbles
Type=Application
