[Desktop Entry]
Name=Gnibbles
Name[bn]=জীনিবল্‌স
Name[cy]=Gtameidiau
Name[fr]=GNibbles
Name[hi]=गनिब्बल्स
Name[is]=Gnibbels
Name[ne]=जिनिबल्स
Name[pa]=ਨਿਬੱਲ
Name[sr]=Г‑змијице
Name[sr@latin]=G‑zmijice
Name[ta]=க்ரிப்பல்ஸ்
Name[te]=గ్నిబ్బిల్స్
Name[tg]=Кирми боронӣ
Name[x-test]=xxGnibblesxx
Name[zh_CN]=贪吃蛇
Name[zh_TW]=貪食蛇
GenericName=GNOME Nibbles Game
GenericName[af]=Gnome Nibbles Speletjie
GenericName[ar]=لعبة GNOME Nibbles
GenericName[be]=Гульня Nibbles ад GNOME
GenericName[bg]=GNOME Nibbles
GenericName[bn]=গনোম নিবল্‌স খেলা
GenericName[ca]=Joc Nibbles del GNOME
GenericName[cs]=Hra Gnome Nibbles
GenericName[csb]=Gra Nibbles ("Ògrëzanié") dlô Gnome
GenericName[cy]=Gêm Tameidiau GNOME  
GenericName[da]=GNOME Nibbles-spil
GenericName[de]=Nibbles-Spiel (GNOME)
GenericName[el]=Παιχνίδι Nibbles του GNOME
GenericName[eo]=Gnoma nibloludo
GenericName[es]=Juego GNOME de Nibbles
GenericName[et]=GNOME Nibbles mäng
GenericName[eu]=GNOME Nibbles jokoa
GenericName[fa]=گنوم Nibbles بازی
GenericName[fi]=Gnome Nibbles -peli
GenericName[fr]=Jeu Nibbles pour Gnome
GenericName[fy]=GNOME Nibbles Spul
GenericName[ga]=Cluiche Nibbles GNOME
GenericName[gl]=Xogo Nibbles de GNOME
GenericName[he]=משחק Nibbles של GNOME
GenericName[hi]=ग्नोम निब्बल्स खेल
GenericName[hr]=GNOME igra slična Nibbles-u
GenericName[hu]=GNOME Nibbles
GenericName[is]=GNOME Nibbles leikur
GenericName[it]=Gioco nibbles di GNOME
GenericName[ja]=GNOME Nibbles ゲーム
GenericName[ka]=თამაში GNOME  Nibbles
GenericName[kk]=GNOME ойыны
GenericName[km]=ល្បែង NIbble របស់ ​GNOME 
GenericName[ko]=GNOME 니블즈 게임
GenericName[lt]=GNOME Nibbles žaidimas
GenericName[lv]=GNOME Nibbles spēle
GenericName[mk]=GNOME Nibbles игра
GenericName[nb]=Nibbles-spill for GNOME
GenericName[nds]=Nibbles-Speel vun GNOME
GenericName[ne]=जिनोम निबल्स खेल
GenericName[nl]=GNOME Nibbles Spel
GenericName[nn]=Nibbles-spel for GNOME
GenericName[oc]=Jòc Nibbles per Gnome
GenericName[pa]=ਗਨੋਮ ਨਿੱਬਲ ਖੇਡ
GenericName[pl]=Gra Nibbles ("Ogryzanie") dla Gnome
GenericName[pt]=Jogo Nibbles do GNOME
GenericName[pt_BR]=Jogo Nibbles do GNOME
GenericName[ro]=Un joc Nibbles pentru GNOME
GenericName[ru]=Игра GNOME
GenericName[se]=GNOME Nibbles-speallu
GenericName[sk]=Hra GNOME Nibbles
GenericName[sl]=Igra Gnome Nibbles
GenericName[sr]=Гномова игра Змијица
GenericName[sr@latin]=Gnomeova igra Zmijica
GenericName[sv]=Gnome-spelet Nibbles
GenericName[ta]=ஜினோம் நிப்பல்ஸ் விளையாட்டு
GenericName[te]=గ్నొమ్ నిబ్బిల్స్ ఆట
GenericName[tg]=Бозии GNOME Nibbles
GenericName[th]=เกม Nibbles ของ GNOME
GenericName[tr]=GNOME Nibbles Oyunu
GenericName[uk]=Гра Nibbles для GNOME
GenericName[uz]=GNOME учун Nibbles ўйини
GenericName[vi]=Trò GNOME Nibbles
GenericName[wa]=Djeu do sierpint Gnome
GenericName[x-test]=xxGNOME Nibbles Gamexx
GenericName[xh]=GNOME Umdlalo we Nibbles
GenericName[zh_CN]=GNOME 贪吃蛇游戏
GenericName[zh_TW]=GNOME 貪食蛇遊戲
Exec=gnibbles
Terminal=false
Icon=gnome-nibbles
Type=Application
