[Desktop Entry]
Name=Rocks n Diamonds
Name[af]=Klippe n Diamante
Name[be]=Скалы і алмазы
Name[bn]=হীরে-পাথর
Name[csb]=Kamë ë diamańtë
Name[cy]=Creigiau a Diamwntau
Name[da]=Rocks'n'Diamonds
Name[es]=Rocas y diamantes
Name[eu]=Haitzak eta diamanteak
Name[fr]=Rocks'n'Diamonds
Name[gu]=રોક્સ અને ડાયમંડ્સ
Name[hi]=रॉक्स एन डायमण्ड्स
Name[hr]=Stijene i dijamanti
Name[is]=Grjót og gimsteinar
Name[km]=ថ្ម និង​ពេជ្រ
Name[lt]=Uolos ir deimantai
Name[lv]=Akmeņi un dimanti
Name[ms]=Batu Permata
Name[ne]=चट्टान र हीरा
Name[pa]=ਪੱਥਰਾਂ ਵਿੱਚ ਹੀਰੇ
Name[pl]=Głazy i diamenty
Name[pt]=Pedras e Diamantes
Name[pt_BR]=Pedras e Diamantes
Name[ro]=Pietre şi diamante
Name[sl]=Skale in diamanti
Name[sr]=Камење и дијаманти
Name[sr@latin]=Kamenje i dijamanti
Name[ta]=ராக்ஸ் அண்டு டைமண்டஸ்்டஸ்ஸ்
Name[te]=రాళ్ళు మరయూ వజ్రాలు
Name[uk]=Камені та діаманти
Name[uz]=Тошлар ва олмослар
Name[vi]=Đá và Kim cương
Name[x-test]=xxRocks n Diamondsxx
Name[zh_CN]=岩石和钻石
GenericName=Tactical Game
GenericName[af]=Taktiese Speletjie
GenericName[ar]=ألعاب تكتيكية
GenericName[be]=Тактычная гульня
GenericName[bg]=Тактическа игра
GenericName[bn]=বুদ্ধির খেলা
GenericName[br]=C'hoari a vrezelekaouriezh
GenericName[ca]=Joc de tàctica
GenericName[cs]=Taktická hra
GenericName[csb]=Takticznô gra
GenericName[cy]=Gêm Tactegol
GenericName[da]=Taktisk spil
GenericName[de]=Taktikspiel
GenericName[el]=Παιχνίδι τακτικής
GenericName[eo]=Taktika ludo
GenericName[es]=Juego de táctica
GenericName[et]=Taktikamäng
GenericName[eu]=Taktika jokoa
GenericName[fa]=بازی تاکتیکی
GenericName[fi]=Taktinen peli
GenericName[fr]=Jeu tactique
GenericName[fy]=Taktysk spul
GenericName[ga]=Cluiche Taicticiúil
GenericName[gl]=Xogo de tácticas
GenericName[gu]=વિચારશીલ રમત
GenericName[he]=משחק טקטי
GenericName[hi]=रणनीतिक खेल
GenericName[hr]=Taktička igra
GenericName[hu]=Logikai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di tattica
GenericName[ja]=戦略的ゲーム
GenericName[ka]=ტაქტიკური თამაშები
GenericName[kk]=Тактикалық ойын
GenericName[km]=ល្បែង​ក្បួន​យុទ្ធសាស្ត្រ
GenericName[ko]=전략 게임
GenericName[ku]=Lîstika Taktîkî
GenericName[lt]=Taktinis žaidimas
GenericName[lv]=Taktiskā spēle
GenericName[mk]=Тактичка игра
GenericName[ms]=Permainan Taktikal
GenericName[nb]=Taktisk spill
GenericName[nds]=Taktikspeel
GenericName[ne]=कौशल खेल
GenericName[nl]=Tactisch spel
GenericName[nn]=Taktisk spel
GenericName[pa]=ਟਾਕਟੀਕਲ ਖੇਡ
GenericName[pl]=Gra taktyczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Jogo de Estratégia
GenericName[ro]=Joc de tactică
GenericName[ru]=Тактическая игра
GenericName[se]=Taktihkkaspeallu
GenericName[sk]=Taktická hra
GenericName[sl]=Taktična igra
GenericName[sr]=Тактичка игра
GenericName[sr@latin]=Taktička igra
GenericName[sv]=Taktikspel
GenericName[ta]=சூழ்ச்சி விளையாட்டு
GenericName[te]=యుక్తి వాడె ఆట.
GenericName[tg]=Бозии тактикӣ
GenericName[th]=เกมวางแผน
GenericName[tr]=Taktik oyunu
GenericName[uk]=Тактична гра
GenericName[uz]=Тактик ўйини
GenericName[vi]=Trò chơi chiến thuật
GenericName[wa]=Djeu di tactike
GenericName[x-test]=xxTactical Gamexx
GenericName[xh]=Umdlalo Wobunzululwazi
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
Exec=rocksndiamonds
Terminal=false
Icon=rocksndiamonds
Type=Application
