[Desktop Entry]
Name=Super Methane Brothers
Name[af]=Super Metaan Broers
Name[ar]=لعبة الاخوة Methane 
Name[as]=Super Methane Brothers
Name[be]=Super Methane Brothers
Name[be@latin]=Super Methane Brothers
Name[bg]=Super Methane Brothers
Name[bn]=সুপার মিথেন ব্রাদার্স
Name[bn_IN]=Super Methane Brothers
Name[ca]=Els germans Super metà
Name[ca@valencia]=Els germans Super metà
Name[cs]=Super Methane Brothers
Name[csb]=Bracynowie supermetanowcë
Name[cy]=Brodyr Super Methane
Name[da]=Super Methane Brothers
Name[de]=Super Methane Brothers
Name[el]=Super Methane Brothers
Name[en_GB]=Super Methane Brothers
Name[eo]=Super Methane Brothers
Name[es]=Los hermanos super metano
Name[et]=Super Methane Brothers
Name[eu]=Super Methane anaiak
Name[fa]=برادران Super Methane
Name[fi]=Super Methane Brothers
Name[fr]=Super Methane Brothers
Name[fy]=Super Methane Brothers
Name[ga]=Super Methane Brothers
Name[gl]=Super Methane Brothers
Name[gu]=સુપર મિથેન બ્રધર્સ
Name[he]=Super Methane Brothers
Name[hi]=सुपर मीथेन ब्रदर्स
Name[hne]=सुपर मीथेन ब्रदर्स
Name[hr]=Super metanolska braća
Name[hsb]=Super Methane Brothers
Name[hu]=Super Methane Brothers
Name[is]=Súper metan bræðurnir
Name[it]=Super Methane Brothers
Name[ja]=スーパーメタンブラザーズ
Name[ka]=Super Methane Brothers
Name[kk]=Супер Метан ағайындар
Name[km]=ក្រុម​មេតាន​ពិសេស
Name[kn]=ಸೂಪರ್ ಮೀಥೇನ್ ಸಹೋದರರು
Name[ko]=Super Methane Brothers
Name[ku]=Super Methane Brothers
Name[lt]=Super metaniniai broliai
Name[lv]=Super Methane Brothers
Name[mai]=सुपर मीथेन ब्रदर्स
Name[mk]=Super Methane Brothers
Name[ml]=സൂപ്പര്‍ മീതേന്‍ സഹോദരന്‍മാര്‍
Name[mr]=सुपर मीथेन ब्रदर्स
Name[ms]=Super Methane Brothers
Name[nb]=Super Methane Brothers
Name[nds]=Super Methane Brothers
Name[ne]=सुपर मेथाने दाजुभाई
Name[nl]=Super Methane Brothers
Name[nn]=Super Methane Brothers
Name[or]=Super Methane Brothers
Name[pa]=ਸੁਪਰ ਮੀਥੇਨ ਭਰਾ
Name[pl]=Bracia supermetanowcy
Name[pt]=Super Methane Brothers
Name[pt_BR]=Super Methane Brothers
Name[ro]=Super Methane Brothers
Name[ru]=Братья Метаны
Name[se]=Super Methane Brothers
Name[si]=Super Methane Brothers
Name[sk]=Super Methane Brothers
Name[sl]=Super Methane Brothers
Name[sr]=Супер метанска браћа
Name[sr@latin]=Super metanska braća
Name[sv]=Super Methane Brothers
Name[ta]=சூப்பர் மீத்தேன் சகோதரர்கள்
Name[te]=సూపర్ మీథేన్ సోదరులు
Name[tg]=Super Methane Brothers
Name[th]=Super Methane Brothers
Name[tr]=Süper Metan Kardeşler
Name[uk]=Super Methane Brothers
Name[uz]=Super metan aka-ukalar
Name[uz@cyrillic]=Супер метан ака-укалар
Name[vi]=Anh em siêu mêtan
Name[wa]=Les Frés Super Metane
Name[xh]=Super Methane Brothers
Name[x-test]=xxSuper Methane Brothersxx
Name[zh_CN]=超级甲烷兄弟
Name[zh_TW]=超級瓦斯兄弟
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=methane
Terminal=false
Icon=methane
Type=Application
