[Desktop Entry]
Name=Super Methane Brothers
Name[af]=Super Metaan Broers
Name[ca]=Els germans Super metà
Name[csb]=Bracynowie supermetanowcë
Name[cy]=Brodyr Super Methane
Name[es]=Los hermanos super metano
Name[eu]=Super Methane anaiak
Name[fa]=برادران Super Methane
Name[hr]=Super metanolska braća
Name[is]=Súper metan bræðurnir
Name[ja]=スーパーメタンブラザーズ
Name[kk]=Супер Метан ағайындар
Name[km]=ក្រុម​មេតាន​ពិសេស
Name[lt]=Super metaniniai broliai
Name[lv]=Super Metāna Brāļi
Name[ne]=सुपर मेथाने दाजुभाई
Name[pa]=ਸੁਪਰ ਮੀਥੇਨ ਭਰਾ
Name[pl]=Bracia supermetanowcy
Name[ru]=Братья Метаны
Name[sl]=Super metanska bratovščina
Name[sr]=Супер метанска браћа
Name[sr@latin]=Super metanska braća
Name[ta]=சிறந்த மாத்தேன் சகோதரர்கள்
Name[te]=సూపర్ మీథేన్ సోదరులు
Name[tg]=Бародарони метан
Name[tr]=Süper Metan Kardeşler
Name[uz]=Супер метан ака-укалар
Name[vi]=Anh em siêu mêtan
Name[x-test]=xxSuper Methane Brothersxx
Name[zh_CN]=超级甲烷兄弟
Name[zh_TW]=超級瓦斯兄弟
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[be]=Аркадная гульня
GenericName[bg]=Аркадна игра
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo de Arcade
GenericName[he]=משחק Arcade
GenericName[hr]=Arkadna igra
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[ko]=아케이드 게임
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes Spēle
GenericName[mk]=Аркадна игра
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo Arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Arkadspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозии Arcade
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[x-test]=xxArcade Gamexx
GenericName[xh]=Umdlalo we Arcade
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=methane
Terminal=false
Icon=methane
Type=Application
