[Desktop Entry]
Name=Trophy
Name[af]=Trofee
Name[ar]=لعبة الكأس
Name[as]=Trophy
Name[be]=Trophy
Name[be@latin]=Trophy
Name[bg]=Trophy
Name[bn]=ট্রোফি
Name[bn_IN]=Trophy
Name[br]=Trophy
Name[ca]=Trophy
Name[ca@valencia]=Trophy
Name[cs]=Trophy
Name[csb]=Trofeùm
Name[cy]=Trophy
Name[da]=Trophy
Name[de]=Trophy
Name[el]=Trophy
Name[en_GB]=Trophy
Name[eo]=Trophy
Name[es]=Trophy
Name[et]=Trophy
Name[eu]=Trophy
Name[fi]=Trophy
Name[fr]=Trophy
Name[fy]=Trophy
Name[ga]=Trophy
Name[gl]=Trophy
Name[gu]=ટ્રોફી
Name[he]=Trophy
Name[hi]=ट्रॉफी
Name[hne]=ट्राफी
Name[hr]=Trophy
Name[hsb]=Trophy
Name[hu]=Trophy
Name[is]=Trophy
Name[it]=Trophy
Name[ja]=Trophy
Name[ka]=ჯილდო
Name[kk]=Олжа
Name[km]=ជ័យភ័ណ្ឌ
Name[kn]=ಟ್ರೋಫಿ
Name[ko]=Trophy
Name[ku]=Trophy
Name[lt]=Trophy
Name[lv]=Trophy
Name[mai]=ट्राफी
Name[mk]=Trophy
Name[ml]=ട്രോഫി
Name[mr]=ट्रॉफी
Name[ms]=Trophy
Name[nb]=Trophy
Name[nds]=Trophy
Name[ne]=ट्रफी
Name[nl]=Trophy
Name[nn]=Trophy
Name[or]=ବିଜୟ ଚିହ୍ନ
Name[pa]=ਟਰਾਫ਼ੀ
Name[pl]=Trofeum
Name[pt]=Troféu
Name[pt_BR]=Trophy
Name[ro]=Trophy
Name[ru]=Трофей
Name[se]=Trophy
Name[si]=Trophy
Name[sk]=Trophy
Name[sl]=Trophy
Name[sr]=Трофеј
Name[sr@latin]=Trophy
Name[sv]=Trophy
Name[ta]=டிராபி
Name[te]=ట్రొఫి
Name[tg]=Trophy
Name[th]=Trophy
Name[tr]=Trophy
Name[uk]=Трофей
Name[uz]=Trofi
Name[uz@cyrillic]=Трофи
Name[vi]=Trophy
Name[wa]=Trophy
Name[xh]=Indebe
Name[x-test]=xxTrophyxx
Name[zh_CN]=Trophy
Name[zh_TW]=Trophy
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=trophy
Terminal=false
Icon=trophy
Type=Application
