[Desktop Entry]
Name=XKobo
Name[af]=Xkobo
Name[ar]=لعبة XKobo
Name[as]=XKobo
Name[be]=XKobo
Name[be@latin]=XKobo
Name[bg]=XKobo
Name[bn]=এক্স-কোবো
Name[bn_IN]=XKobo
Name[br]=XKobo
Name[ca]=XKobo
Name[ca@valencia]=XKobo
Name[cs]=XKobo
Name[csb]=XKobo
Name[cy]=XKobo
Name[da]=XKobo
Name[de]=XKobo
Name[el]=XKobo
Name[en_GB]=XKobo
Name[eo]=XKobo
Name[es]=XKobo
Name[et]=XKobo
Name[eu]=XKobo
Name[fi]=XKobo
Name[fr]=XKobo
Name[fy]=XKobo
Name[ga]=XKobo
Name[gl]=XKobo
Name[gu]=Xકોબો
Name[he]=XKobo
Name[hi]=एक्सकोबो
Name[hne]=एक्सकोबो
Name[hr]=XKobo
Name[hsb]=XKobo
Name[hu]=XKobo
Name[is]=XKobo
Name[it]=XKobo
Name[ja]=XKobo
Name[ka]=XKobo
Name[kk]=XKobo
Name[km]=XKobo
Name[kn]=ಕ್ಸ ಕೋಬೋ
Name[ko]=XKobo
Name[ku]=XKobo
Name[lt]=XKobo
Name[lv]=XKobo
Name[mai]=एक्सकोबो
Name[mk]=XKobo
Name[ml]=എക്സ്‌കോബോ
Name[mr]=एक्सकोबो
Name[ms]=XKobo
Name[nb]=XKobo
Name[nds]=XKobo
Name[ne]=एक्स कोबो
Name[nl]=XKobo
Name[nn]=XKobo
Name[oc]=XKobo
Name[or]=XKobo
Name[pa]=XKobo
Name[pl]=XKobo
Name[pt]=XKobo
Name[pt_BR]=XKobo
Name[ro]=XKobo
Name[ru]=XKobo
Name[se]=XKobo
Name[si]=XKobo
Name[sk]=XKobo
Name[sl]=Xkobo
Name[sr]=Икс‑кобо
Name[sr@latin]=XKobo
Name[sv]=Xkobo
Name[ta]=எக்ஸ்கோபோ
Name[te]=ఎక్స్ కోబొ
Name[tg]=XKobo
Name[th]=XKobo
Name[tr]=XKobo
Name[uk]=XKobo
Name[uz]=XKobo
Name[uz@cyrillic]=XKobo
Name[vi]=XKobo
Name[wa]=XKobo
Name[xh]=XKobo
Name[x-test]=xxXKoboxx
Name[zh_CN]=XKobo 飞行射击游戏
Name[zh_TW]=XKobo 飛行射擊遊戲
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=xkobo
Terminal=false
Icon=xkobo
Type=Application
