[Desktop Entry]
Name=Angband
Name[kk]=Ангбанд
Name[mk]=Ангбанд
Name[ne]=यान्गब्यान्ड
Name[pa]=ਅੰਗਬੰਡ
Name[ru]=Ангбанд
Name[sr]=Ангбанд
Name[te]=ఆంగ్బెండ్
Name[tg]=Ангбанд
Name[uk]=Ангбанд
Name[x-test]=xxAngbandxx
Comment=Dive into Angband and defeat Morgoth
Comment[af]=Duik binnein Angband en oorwin Morgoth
Comment[be]=Вандроўка ў Ангбанд, бойка з Моргатам
Comment[bg]=Гмурнете се в Ангбанд и победете Моргот
Comment[ca]=Endinsseu-vos en Angband i derroteu a Morgoth
Comment[cs]=Vnijněte do Angbandu a porazte Morgotha
Comment[csb]=Wéńdzë do Angbandu ë pòradzë Morgothowi
Comment[cy]=Neidiwch i mewn i Angband a threchwch Morgoth
Comment[da]=Dyk ned i Angband og overvind Morgoth
Comment[de]=Tauchen Sie ein in Angband und besiegen Sie Morgoth
Comment[el]=Καταδυθείτε στο Angband και νικήστε τον Morgoth
Comment[eo]=Eniri Angbandon kaj defii Morgoton
Comment[es]=Sumerjase en Angband y derrote a Morgoth
Comment[et]=Angbandi minek ja Morgothi hävitamine
Comment[eu]=Murgil zaitez Angband-en eta garai ezazu Morgoth
Comment[fa]=حمله به Angband و شکست Morgoth
Comment[fi]=Sukella Angbandiin ja voita Morgoth
Comment[fr]=Osez pénétrer en Angband pour vaincre Morgoth
Comment[fy]=Dûk yn Angband en ferslach Morgoth
Comment[ga]=Léim amach i Angband agus buail Morgoth
Comment[gl]=Entre en Angband e derrote a Morgoth
Comment[he]=שחק ב־Angband ונצח את מורגות
Comment[hr]=Skočite u Angband i pobijedite Morgotha
Comment[hu]=Angband földjén kell legyőzni Morgoth-ot
Comment[is]=Stökktu í Angband og sigraðu Morgoth
Comment[it]=Calati nell'oscurità di Angband e sconfiggi Morgoth
Comment[ja]=Angband に行き Morgoth を倒す
Comment[ka]=გაემართეთ ანგბადში და დაამარცხეთ მორგოტი
Comment[kk]=Ангбангдқа барып Морготты жеңіп келіңіз
Comment[km]=លោត​ចូល​ក្នុង Angband និង​បង្ក្រាប Morgoth
Comment[ko]=Angband를 시작하시고 Morgoth를 꺾으십시오
Comment[lt]=Pasinerk į Angband ir nugalėk Morgoth
Comment[lv]=Ienirsti Angbandā un sakauj Morgotu
Comment[mk]=Нурни во Ангбанд и победи го Моргот
Comment[ms]=Sertai Angband dan kalahkan Morgoth
Comment[nb]=Reis inn i Angband og kjemp mot Morgoth
Comment[nds]=Gah na Angband rin un dwing Morgoth daal
Comment[ne]=यान्गब्यान्डमा डुबुल्की मार्नुहोस् र मोर्गोथलाई हराउनुहोस्
Comment[nl]=Duik in Angband en versla Morgoth
Comment[nn]=Reis inn i Angband og kjemp mot Morgoth
Comment[pa]=ਅੰਗਬੰਦ ਵਿੱਚ ਆਓ ਅਤੇ ਮੋਰਗੋਥ ਨੂੰ ਹਰਾਓ
Comment[pl]=Wkrocz do Angbandu i pokonaj Morgotha
Comment[pt]=Mergulhe em Angband e derrote o Morgoth
Comment[pt_BR]=Mergulhe no Angband e derrote o Morgoth
Comment[ro]=Intră în Angband şi învinge-l pe Morgoth
Comment[ru]=Отправьтесь в Ангбанд и победите Моргота
Comment[se]=Mátkkuš Angbandii ja heaibbu Morgothain
Comment[sl]=Spustite se v Angband in premagajte Morgotha
Comment[sr]=Зароните у Ангбанд и поразите Моргота
Comment[sr@latin]=Zaronite u Angband i porazite Morgota
Comment[sv]=Nedstig i Angband och besegra Morgoth
Comment[ta]=ஆங்பான்ட்டில் குதித்து மார்கோத்தை தோற்கடிக்கவும்
Comment[te]=ఆంగ్బెండ్ లో ములిగి తెలండి మరయూ మొర్గొత్ ను ఓడించండి
Comment[tg]= Ба Ангбанд ҷониб шавед ва Морготро ғолиб шавед
Comment[th]=ดำดิ่งสู่ Angband แล้วเอาชนะ Morgoth
Comment[tr]=Angband'a dalıp Morgoth'u mağlub edin
Comment[uk]=Пірніть у Ангбанд та переможіть Моргота
Comment[uz]=Ангбандга бориб Морготни енгиб чиқинг
Comment[vi]=Lặn xuống Angband và đánh bại Morgoth
Comment[x-test]=xxDive into Angband and defeat Morgothxx
Comment[zh_CN]=潜入 Angband 并击败 Morgoth
Comment[zh_TW]=進入 Angband 並打敗 Morgoth
Exec=angband
Terminal=true
Type=Application
