[Desktop Entry]
Encoding=UTF-8
Name=Moria
Name[eo]=Morio
Name[ka]=მორია
Name[kk]=Мория
Name[mk]=Морија
Name[ne]=मोरिआ
Name[pa]=ਮੋਰੀਆ
Name[ru]=Мория
Name[sr]=Морија
Name[sr@latin]=Morija
Name[ta]=மோரியா
Name[te]=మొరియా
Name[tg]=Мория
Name[uk]=Морія
Name[x-test]=xxMoriaxx
Comment=Dive into Moria and defeat the Balrog
Comment[af]=Duik binnein Moria en oorwin die Balrog
Comment[be]=Вандроўка ў Морыю, бойка з Балрагам
Comment[bg]=Влезте в Мория и победете балрога
Comment[ca]=Endinsseu-vos a Moria i derroteu a Balrog
Comment[cs]=Vnikněte do Morie a porazte Balroga
Comment[csb]=Wéńdzë do Morijë ë pòradzë Balrogòwi
Comment[cy]=Neidiwch i mewn i Moria a threchwch y Balrog
Comment[da]=Dyk ned i Moria og overvind Balrog
Comment[de]=Tauchen Sie ein in Moria und besiegen Sie den Balrog
Comment[el]=Καταδυθείτε στο Moria και νικήστε τον Balrog
Comment[eo]=Eniru Morion kaj defiu la Balrogon
Comment[es]=Sumérjase en Moria y derrote a Balrog
Comment[et]=Moriasse minek ja Balrogi hävitamine
Comment[eu]=Murgil zaitez Morian eta garai ezazu Balrog
Comment[fa]=حمله به Moria و شکست Balrog
Comment[fi]=Sukella Moriaan ja voita Balrog
Comment[fr]=Osez pénétrer dans la Moria pour vaincre le Balrog
Comment[fy]=Dûk yn Moria en ferslach de Balrog
Comment[ga]=Léim amach i Moria agus buail Balrog
Comment[gl]=Entre en Moria e derrote ao Balrog
Comment[he]=שחק ב־Moria ונצח את הבאלרוג
Comment[hr]=Skočite u Moriju i pobijedite Balroga
Comment[hu]=Be kell hatolni Moriába és le kell győzni Balrogot
Comment[is]=Stökktu í Moria og sigraðu Balrog
Comment[it]=Tuffati dentro Moria e sconfiggi il Balrog
Comment[ja]=Moria に行き Balrog を倒す
Comment[ka]=გაემართეთ მორიაში და დაამარცხეთ ბარლოგი
Comment[kk]=Морияға барып Барлогты жеңіп келіңіз
Comment[km]=លោត​ចូល​ក្នុង Moria  និង​ធ្វើ​ឲ្យ Balrog បរាជ័យ
Comment[lt]=Pasinerk į Moria ir nugalėk Balrog
Comment[lv]=Ienirt Morijā un sakaut Balrogu
Comment[mk]=Нурни во Морија и победи го Балрог
Comment[ms]=Sertai Moria dan kalahkan Balrog
Comment[nb]=Reis inn i Moria og kjemp mot Balrogen
Comment[nds]=Gah na Moria rin un dwing den Balrog daal
Comment[ne]=मोरियामा डुबुल्की मार्नुहोस् र बालरगलाई हराउनुहोस् ।
Comment[nl]=Duik in Moria en versla de Balrog
Comment[nn]=Reis inn i Moria og kjemp mot Balrogen
Comment[pa]=ਮੋਰੀਆ ਵਿੱਚੋਂ ਕੁੱਦੋ ਅਤੇ ਬਾਲਰੋਗ ਹਰਾਓ
Comment[pl]=Wkrocz do Morii i pokonaj Balroga
Comment[pt]=Mergulhe em Moria e enfrente o Balrog
Comment[pt_BR]=Mergulhe no Moria e derrote o Balrog
Comment[ro]=Intră în Moria şi învinge-l pe Balrog
Comment[ru]=Отправьтесь в Морию и победите Барлога
Comment[se]=Mátkkuš Moriaii ja heaibbu Balrogain
Comment[sl]=Poglobite se v Morio in premagajte Balroga
Comment[sr]=Зароните у Морију и поразите Балрога
Comment[sr@latin]=Zaronite u Moriju i porazite Balroga
Comment[sv]=Nedstig i Moria och besegra Balrogen
Comment[ta]=மோரியாவில் குதித்து பால்ராக்கை தோற்கடிக்கவும்.
Comment[te]=మొరియా లో ములిగి తెలండి మరయూ బాల్ రోగ్ ను ఓడించండి
Comment[tg]=Ба Мория ҷониб шавед ва Барлогро ғолиб шавед
Comment[th]=ดำดิ่งสู่ Moria แล้วเอาชนะ Balrog
Comment[tr]=Moria'ya dalıp Balrog'u mağlub edin
Comment[uk]=Пірніть у Морію та переможіть Барлога
Comment[uz]=Мориага бориб Балрогни енгиб чиқинг
Comment[x-test]=xxDive into Moria and defeat the Balrogxx
Comment[zh_TW]=進入 Moria 並打敗 Balrog
Exec=moria
Terminal=true
Type=Application
