[Desktop Entry]
Name=NetHack
Name[af]=NetHack
Name[ar]=لعبة NetHack
Name[as]=NetHack
Name[be]=NetHack
Name[be@latin]=NetHack
Name[bg]=NetHack
Name[bn]=নেটহ্যাক
Name[bn_IN]=NetHack
Name[br]=NetHack
Name[ca]=NetHack
Name[ca@valencia]=NetHack
Name[cs]=NetHack
Name[csb]=NetHack
Name[cy]=NetHack
Name[da]=NetHack
Name[de]=NetHack
Name[el]=NetHack
Name[en_GB]=NetHack
Name[eo]=NetHack
Name[es]=NetHack
Name[et]=NetHack
Name[eu]=NetHack
Name[fi]=NetHack
Name[fr]=NetHack
Name[fy]=NetHack
Name[ga]=NetHack
Name[gl]=NetHack
Name[gu]=નેટહેક
Name[he]=NetHack
Name[hi]=नेटहैक
Name[hne]=नेटहेक
Name[hr]=NetHack
Name[hsb]=NetHack
Name[hu]=NetHack
Name[is]=NetHack
Name[it]=NetHack
Name[ja]=NetHack
Name[ka]=NetHack
Name[kk]=NetHack
Name[km]=NetHack
Name[kn]=ನೆಟ್ಹಾಕ್
Name[ko]=NetHack
Name[ku]=NetHack
Name[lt]=NetHack
Name[lv]=NetHack
Name[mai]=नेटहैक
Name[mk]=NetHack
Name[ml]=നെറ്റ്ഹാക്ക്
Name[mr]=नेटआहेक
Name[ms]=NetHack
Name[nb]=NetHack
Name[nds]=NetHack
Name[ne]=नेट ह्याक
Name[nl]=NetHack
Name[nn]=NetHack
Name[or]=NetHack
Name[pa]=ਨੈੱਟਹੈਕ
Name[pl]=NetHack
Name[pt]=NetHack
Name[pt_BR]=NetHack
Name[ro]=NetHack
Name[ru]=NetHack
Name[se]=NetHack
Name[si]=NetHack
Name[sk]=NetHack
Name[sl]=NetHack
Name[sr]=Нетхак
Name[sr@latin]=NetHack
Name[sv]=Nethack
Name[ta]=நெட்ஹாக்
Name[te]=నెట్ హేక్
Name[tg]=NetHack
Name[th]=NetHack
Name[tr]=NetHack
Name[uk]=NetHack
Name[uz]=NetHack
Name[uz@cyrillic]=NetHack
Name[vi]=NetHack
Name[wa]=NetHack
Name[xh]=NetHack
Name[x-test]=xxNetHackxx
Name[zh_CN]=NetHack
Name[zh_TW]=NetHack
GenericName=Quest Game
GenericName[af]=Avontuurspeletjie
GenericName[ar]=ألعاب ألغاز
GenericName[as]=Quest Game
GenericName[be]=Квэст
GenericName[be@latin]=Hulnia ŭ pošuk
GenericName[bg]=Завоевателна игра
GenericName[bn]=অন্বেষণের খেলা
GenericName[br]=C'hoari a glask
GenericName[ca]=Joc de cerca
GenericName[ca@valencia]=Joc de cerca
GenericName[cs]=Questy
GenericName[csb]=Sznëpòrzniczô gra
GenericName[cy]=Gêm Ymchwil
GenericName[da]=Quest-spil
GenericName[de]=Quest-Spiel
GenericName[el]=Παιχνίδι αναζήτησης
GenericName[en_GB]=Quest Game
GenericName[eo]=Serĉludo
GenericName[es]=Juego de búsqueda
GenericName[et]=Quest mäng
GenericName[eu]=Bilaketa jokoa
GenericName[fa]=بازی Quest
GenericName[fi]=Seikkailupeli
GenericName[fr]=Jeu de quête
GenericName[fy]=Taktysk spul
GenericName[ga]=Cluiche Imchuardaigh
GenericName[gl]=Xogo de aventura
GenericName[gu]=ઝડપ રમત
GenericName[he]=משחק Quest
GenericName[hi]=क्वैस्ट खेल
GenericName[hne]=क्वैस्ट खेल
GenericName[hr]=Igra potrage
GenericName[hsb]=Nawdawkowe hry
GenericName[hu]=Kalandjáték
GenericName[is]=Hlutverkaleikur
GenericName[it]=Gioco di avventura
GenericName[ja]=クエストゲーム
GenericName[ka]=სათავგადასავლო თამაშები
GenericName[kk]=Quest ойыны
GenericName[km]=ល្បែង​ល្បង​ប្រាជ្ញា
GenericName[kn]=ಹುಡುಕಾಟ
GenericName[ko]=퀘스트 게임
GenericName[ku]=Quest Game
GenericName[lt]=Svečio žaidimas
GenericName[lv]=Kvests
GenericName[mai]=क्वैस्ट खेल
GenericName[mk]=Истражувачка игра
GenericName[ml]=അന്വേഷണക്കളി
GenericName[mr]=क्वैस्ट खेळ
GenericName[ms]=Permainan Pemburuan
GenericName[nb]=Eventyrspill
GenericName[nds]=Eventüür-Speel
GenericName[ne]=अनुसन्धान खेल
GenericName[nl]=Tactisch spel
GenericName[nn]=Eventyrspel
GenericName[or]=Quest ଖେଳ
GenericName[pa]=ਕਿਉਟ ਖੇਡ
GenericName[pl]=Gra poszukiwawcza
GenericName[pt]=Jogo de Aventuras
GenericName[pt_BR]=Jogo de aventuras
GenericName[ro]=Joc de aventuri
GenericName[ru]=Приключение
GenericName[se]=Máinnasspeallu
GenericName[si]=Quest Game
GenericName[sk]=Questy
GenericName[sl]=Igra raziskovanja
GenericName[sr]=Истраживачка игра
GenericName[sr@latin]=Istraživačka igra
GenericName[sv]=Äventyrsspel
GenericName[ta]=தேடல் விளையாட்டு
GenericName[te]=వెతికే ఆట
GenericName[tg]=Бозиҳои пурмоҷаро
GenericName[th]=เกมผจญภัย
GenericName[tr]=Araştırma Oyunu
GenericName[uk]=Квест
GenericName[uz]=Qidiruv oʻyini
GenericName[uz@cyrillic]=Қидирув ўйини
GenericName[vi]=Trò chơi truy lùng
GenericName[wa]=Djeu d' cweraedje
GenericName[xh]=Quest Game
GenericName[x-test]=xxQuest Gamexx
GenericName[zh_CN]=寻宝游戏
GenericName[zh_TW]=冒險遊戲
Exec=nethack
Terminal=true
Type=Application
