[Desktop Entry]
Name=Rogue
Name[eo]=Fripono
Name[lt]=Išdykėlis
Name[lv]=Blēdis
Name[ne]=रग
Name[pa]=ਠੱਗ
Name[ro]=Violent
Name[sr]=Роуг
Name[ta]=ரோக்
Name[te]=రొగ్
Name[uk]=Тать
Name[uz]=Шум бола
Name[x-test]=xxRoguexx
GenericName=The Original
GenericName[af]=Die Oorspronklike
GenericName[ar]=الأصلية
GenericName[be]=Арыгінальная
GenericName[bg]=Оригиналът
GenericName[ca]=L'original
GenericName[cs]=Originál
GenericName[csb]=Òriginał
GenericName[cy]=Yr un wreiddiol
GenericName[da]=Originalen
GenericName[de]=Das Original
GenericName[el]=Το αυθεντικό
GenericName[eo]=La originalo
GenericName[es]=El original
GenericName[et]=Originaal
GenericName[fa]=اصل
GenericName[fi]=Alkuperäinen
GenericName[fr]=Le vrai de vrai
GenericName[fy]=It orizjineel
GenericName[ga]=Bunleagan Rogue
GenericName[gl]=O Orixinal
GenericName[he]=המשחק המקורי
GenericName[hr]=Izvornik
GenericName[hu]=Az Eredeti!
GenericName[is]=Sá upprunalegi
GenericName[it]=L'originale
GenericName[ja]=元祖
GenericName[km]=ដើម
GenericName[ko]=원형
GenericName[lt]=Originalas
GenericName[lv]=Oriģināls
GenericName[mk]=Оригиналната
GenericName[ms]=Asli
GenericName[nb]=originalen
GenericName[nds]=Dat Orginaal
GenericName[ne]=मौलिक
GenericName[nl]=Het origineel
GenericName[nn]=Originalen
GenericName[pa]=ਅਸਲੀ
GenericName[pl]=Oryginał
GenericName[pt]=O Original
GenericName[pt_BR]=O Original
GenericName[ro]=Originalul
GenericName[se]=Originála
GenericName[sl]=Pravi original
GenericName[sr]=Онај изворни
GenericName[sr@latin]=Onaj izvorni
GenericName[sv]=Originalet
GenericName[ta]=சரியான
GenericName[te]=అసలు
GenericName[th]=เกม Rogue แบบดั้งเดิม
GenericName[tr]=Orjinal
GenericName[uk]=Оригінал
GenericName[uz]=Оригинал
GenericName[vi]=Nguyên thủy
GenericName[x-test]=xxThe Originalxx
GenericName[xh]=Eyoqobo
GenericName[zh_CN]=原创 Rogue 游戏
GenericName[zh_TW]=原創 Rogue 遊戲
Exec=rogue
Terminal=true
Type=Application
