[Desktop Entry]
Name=Rogue
Name[af]=Rogue
Name[ar]=لعبة Rogue
Name[as]=Rogue
Name[be]=Rogue
Name[be@latin]=Rogue
Name[bg]=Rogue
Name[bn]=রোগ্ (Rogue)
Name[bn_IN]=Rogue
Name[br]=Rogue
Name[ca]=Rogue
Name[ca@valencia]=Rogue
Name[cs]=Rogue
Name[csb]=Rogue
Name[cy]=Rogue
Name[da]=Rogue
Name[de]=Rogue
Name[el]=Rogue
Name[en_GB]=Rogue
Name[eo]=Rogue
Name[es]=Rogue
Name[et]=Rogue
Name[eu]=Rogue
Name[fi]=Rogue
Name[fr]=Rogue
Name[fy]=Rogue
Name[ga]=Rogue
Name[gl]=Rogue
Name[gu]=રૉગ
Name[he]=Rogue
Name[hi]=रॅग
Name[hne]=रॅग
Name[hr]=Rogue
Name[hsb]=Rogue
Name[hu]=Rogue
Name[is]=Rogue
Name[it]=Rogue
Name[ja]=Rogue
Name[ka]=Rogue
Name[kk]=Rogue
Name[km]=Rogue
Name[kn]=ರೋಗ್
Name[ko]=Rogue
Name[ku]=Rogue
Name[lt]=Išdykėlis
Name[lv]=Blēdis
Name[mai]=रॅग
Name[mk]=Rogue
Name[ml]=റോഗ്
Name[mr]=रॉग
Name[ms]=Rogue
Name[nb]=Rogue
Name[nds]=Rogue
Name[ne]=रग
Name[nl]=Rogue
Name[nn]=Rogue
Name[or]=Rogue
Name[pa]=ਠੱਗ
Name[pl]=Rogue
Name[pt]=Rogue
Name[pt_BR]=Rogue
Name[ro]=Violent
Name[ru]=Rogue
Name[se]=Rogue
Name[si]=Rogue
Name[sk]=Rogue
Name[sl]=Rogue
Name[sr]=Роуг
Name[sr@latin]=Rogue
Name[sv]=Rogue
Name[ta]=ரோக்
Name[te]=రొగ్
Name[tg]=Rogue
Name[th]=Rogue
Name[tr]=Rogue
Name[uk]=Тать
Name[uz]=Shum bola
Name[uz@cyrillic]=Шум бола
Name[vi]=Rogue
Name[wa]=Rogue
Name[xh]=Rogue
Name[x-test]=xxRoguexx
Name[zh_CN]=Rogue
Name[zh_TW]=Rogue
GenericName=The Original
GenericName[af]=Die Oorspronklike
GenericName[ar]=الأصلية
GenericName[as]=The Original
GenericName[be]=Арыгінальная
GenericName[be@latin]=Aryhinalnaja versija „Rogue”-hulniaŭ
GenericName[bg]=Оригиналът
GenericName[bn]=সেই এক এবং অদ্বিতীয়
GenericName[bn_IN]=মূল
GenericName[ca]=L'original
GenericName[ca@valencia]=L'original
GenericName[cs]=Originál
GenericName[csb]=Òriginał
GenericName[cy]=Yr un wreiddiol
GenericName[da]=Originalen
GenericName[de]=Das Original
GenericName[el]=Το αυθεντικό
GenericName[en_GB]=The Original
GenericName[eo]=La originalo
GenericName[es]=El original
GenericName[et]=Originaal
GenericName[eu]=The Original
GenericName[fa]=اصل
GenericName[fi]=Alkuperäinen
GenericName[fr]=Le vrai de vrai
GenericName[fy]=It orizjineel
GenericName[ga]=Bunleagan Rogue
GenericName[gl]=O orixinal
GenericName[gu]=મૂળભૂત
GenericName[he]=המשחק המקורי
GenericName[hi]=द ओरिजिनल
GenericName[hne]=द ओरिजनल
GenericName[hr]=Izvornik
GenericName[hsb]=Original
GenericName[hu]=Az Eredeti!
GenericName[is]=Sá upprunalegi
GenericName[it]=L'originale
GenericName[ja]=元祖
GenericName[ka]=The Original
GenericName[kk]=The Original
GenericName[km]=ដើម
GenericName[kn]=ಆದ್ಯ (The Original)
GenericName[ko]=원형
GenericName[ku]=Resen
GenericName[lt]=Originalas
GenericName[lv]=Oriģināls
GenericName[mai]=द ओरिजिनल
GenericName[mk]=Оригиналната
GenericName[ml]=ശരിയായ
GenericName[mr]=द ओरिजिनल
GenericName[ms]=Asli
GenericName[nb]=Originalen
GenericName[nds]=Dat Orginaal
GenericName[ne]=मौलिक
GenericName[nl]=Het origineel
GenericName[nn]=Originalen
GenericName[or]=ମୂଳଭୂତ
GenericName[pa]=ਅਸਲੀ
GenericName[pl]=Oryginał
GenericName[pt]=O Original
GenericName[pt_BR]=O original
GenericName[ro]=Originalul
GenericName[ru]=Приключение
GenericName[se]=Originála
GenericName[si]=The Original
GenericName[sk]=Originál
GenericName[sl]=Pravi original
GenericName[sr]=Онај изворни
GenericName[sr@latin]=Onaj izvorni
GenericName[sv]=Originalet
GenericName[ta]=அசல்
GenericName[te]=అసలు
GenericName[tg]=Аслӣ
GenericName[th]=เกม Rogue แบบดั้งเดิม
GenericName[tr]=Orjinal
GenericName[uk]=Оригінал
GenericName[uz]=Original
GenericName[uz@cyrillic]=Оригинал
GenericName[vi]=Nguyên thủy
GenericName[wa]=The Original
GenericName[xh]=Eyoqobo
GenericName[x-test]=xxThe Originalxx
GenericName[zh_CN]=原创 Rogue 游戏
GenericName[zh_TW]=原創 Rogue 遊戲
Exec=rogue
Terminal=true
Type=Application
