[Desktop Entry]
Encoding=UTF-8
Name=ToME
Name[es]=Ocio
Name[ja]=Rogue 風ゲーム ToME
Name[lv]=Man
Name[ne]=टु मी
Name[pa]=ਟੂਮੀ
Name[ta]=டூமீ
Name[te]=టొమ్
Name[x-test]=xxToMExx
GenericName=Quest Game
GenericName[af]=Avontuur Speletjie
GenericName[br]=C'hoari a glask
GenericName[ca]=Joc de recerca
GenericName[cs]=Questy
GenericName[csb]=Sznëpòrzniczô gra
GenericName[cy]=Gêm Ymchwil
GenericName[da]=Quest-spil
GenericName[de]=Quest-Spiel
GenericName[el]=Παιχνίδι αναζήτησης
GenericName[eo]=Serĉludo
GenericName[es]=Juego de búsqueda
GenericName[et]=Quest mäng
GenericName[eu]=Bilaketa jokoa
GenericName[fa]=بازی Quest
GenericName[fi]=Seikkailupeli
GenericName[fr]=Jeu de quête
GenericName[fy]=Taktysk spul
GenericName[ga]=Cluiche Imchuardaigh
GenericName[gl]=Xogo de Busca
GenericName[he]=משחק Quest
GenericName[hr]=Igra potrage
GenericName[hu]=Kalandjáték
GenericName[is]=Hlutverkaleikur
GenericName[it]=Gioco di avventura
GenericName[ja]=クエストゲーム
GenericName[ka]=სათავგადასავლო თამაშები
GenericName[kk]=Quest ойыны
GenericName[km]=ល្បែង​ល្បង​ប្រាជ្ញា
GenericName[ko]=찾는 놀이
GenericName[lt]=Svečio žaidimas
GenericName[lv]=Kvests
GenericName[mk]=Истражувачка игра
GenericName[ms]=Permainan Pemburuan
GenericName[nb]=Eventyrspill
GenericName[nds]=Eventüür-Speel
GenericName[ne]=अनुसन्धान खेल
GenericName[nl]=Tactisch spel
GenericName[nn]=Eventyrspel
GenericName[pa]=ਕਿਉਟ ਖੇਡ
GenericName[pl]=Gra poszukiwawcza
GenericName[pt]=Jogo de Aventuras
GenericName[pt_BR]=Busca
GenericName[ro]=Joc de aventuri
GenericName[ru]=Приключение (квест)
GenericName[se]=Máinnasspeallu
GenericName[sl]=Igra Quest
GenericName[sr]=Истраживачка игра
GenericName[sr@latin]=Istraživačka igra
GenericName[sv]=Äventyrsspel
GenericName[ta]=கேள்வி விளையாட்டு
GenericName[te]=వెతికే ఆట
GenericName[tg]=Бозии Quest
GenericName[tr]=Araştırma Oyunu
GenericName[uk]=Квест
GenericName[uz]=Қидирув ўйини
GenericName[x-test]=xxQuest Gamexx
GenericName[zh_TW]=冒險遊戲
Exec=tome
Terminal=true
Type=Application
