[Desktop Entry]
Name=ToME
Name[af]=ToME
Name[ar]=ToME
Name[as]=ToME
Name[be]=ToME
Name[be@latin]=ToME
Name[bg]=ToME
Name[bn]=ToME
Name[bn_IN]=ToME
Name[br]=ToME
Name[ca]=ToME
Name[ca@valencia]=ToME
Name[cs]=ToME
Name[csb]=ToME
Name[cy]=ToME
Name[da]=ToME
Name[de]=ToME
Name[el]=ToME
Name[en_GB]=ToME
Name[eo]=ToME
Name[es]=Ocio
Name[et]=ToME
Name[eu]=ToME
Name[fi]=ToME
Name[fr]=ToME
Name[fy]=ToME
Name[ga]=ToME
Name[gl]=ToME
Name[gu]=ટોમ
Name[he]=ToME
Name[hi]=टू-मी
Name[hne]=टू-मी
Name[hr]=ToME
Name[hsb]=ToME
Name[hu]=ToME
Name[is]=ToME
Name[it]=ToME
Name[ja]=Rogue 風ゲーム ToME
Name[ka]=ToME
Name[kk]=ToME
Name[km]=ToME
Name[kn]=ಟುಮಿ
Name[ko]=ToME
Name[ku]=ToME
Name[lt]=ToME
Name[lv]=ToME
Name[mai]=टू-मी
Name[mk]=ToME
Name[ml]=ടുമി
Name[mr]=टूमी
Name[ms]=ToME
Name[nb]=ToME
Name[nds]=ToME
Name[ne]=टु मी
Name[nl]=ToME
Name[nn]=ToME
Name[or]=ToME
Name[pa]=ਟੂਮੀ
Name[pl]=ToME
Name[pt]=ToME
Name[pt_BR]=ToME
Name[ro]=ToME
Name[ru]=ToME
Name[se]=ToME
Name[si]=ToME
Name[sk]=ToME
Name[sl]=ToME
Name[sr]=Том
Name[sr@latin]=Tome
Name[sv]=ToME
Name[ta]=எனக்கு
Name[te]=టొమ్
Name[tg]=ToME
Name[th]=ToME
Name[tr]=ToME
Name[uk]=ToME
Name[uz]=ToME
Name[uz@cyrillic]=ToME
Name[vi]=ToME
Name[wa]=ToME
Name[x-test]=xxToMExx
Name[zh_CN]=ToME
Name[zh_TW]=ToME
GenericName=Quest Game
GenericName[af]=Avontuurspeletjie
GenericName[ar]=ألعاب ألغاز
GenericName[as]=Quest Game
GenericName[be]=Квэст
GenericName[be@latin]=Hulnia ŭ pošuk
GenericName[bg]=Завоевателна игра
GenericName[bn]=অন্বেষণের খেলা
GenericName[br]=C'hoari a glask
GenericName[ca]=Joc de cerca
GenericName[ca@valencia]=Joc de cerca
GenericName[cs]=Questy
GenericName[csb]=Sznëpòrzniczô gra
GenericName[cy]=Gêm Ymchwil
GenericName[da]=Quest-spil
GenericName[de]=Quest-Spiel
GenericName[el]=Παιχνίδι αναζήτησης
GenericName[en_GB]=Quest Game
GenericName[eo]=Serĉludo
GenericName[es]=Juego de búsqueda
GenericName[et]=Quest mäng
GenericName[eu]=Bilaketa jokoa
GenericName[fa]=بازی Quest
GenericName[fi]=Seikkailupeli
GenericName[fr]=Jeu de quête
GenericName[fy]=Taktysk spul
GenericName[ga]=Cluiche Imchuardaigh
GenericName[gl]=Xogo de aventura
GenericName[gu]=ઝડપ રમત
GenericName[he]=משחק Quest
GenericName[hi]=क्वैस्ट खेल
GenericName[hne]=क्वैस्ट खेल
GenericName[hr]=Igra potrage
GenericName[hsb]=Nawdawkowe hry
GenericName[hu]=Kalandjáték
GenericName[is]=Hlutverkaleikur
GenericName[it]=Gioco di avventura
GenericName[ja]=クエストゲーム
GenericName[ka]=სათავგადასავლო თამაშები
GenericName[kk]=Quest ойыны
GenericName[km]=ល្បែង​ល្បង​ប្រាជ្ញា
GenericName[kn]=ಹುಡುಕಾಟ
GenericName[ko]=퀘스트 게임
GenericName[ku]=Quest Game
GenericName[lt]=Svečio žaidimas
GenericName[lv]=Kvests
GenericName[mai]=क्वैस्ट खेल
GenericName[mk]=Истражувачка игра
GenericName[ml]=അന്വേഷണക്കളി
GenericName[mr]=क्वैस्ट खेळ
GenericName[ms]=Permainan Pemburuan
GenericName[nb]=Eventyrspill
GenericName[nds]=Eventüür-Speel
GenericName[ne]=अनुसन्धान खेल
GenericName[nl]=Tactisch spel
GenericName[nn]=Eventyrspel
GenericName[or]=Quest ଖେଳ
GenericName[pa]=ਕਿਉਟ ਖੇਡ
GenericName[pl]=Gra poszukiwawcza
GenericName[pt]=Jogo de Aventuras
GenericName[pt_BR]=Jogo de aventuras
GenericName[ro]=Joc de aventuri
GenericName[ru]=Приключение
GenericName[se]=Máinnasspeallu
GenericName[si]=Quest Game
GenericName[sk]=Questy
GenericName[sl]=Igra raziskovanja
GenericName[sr]=Истраживачка игра
GenericName[sr@latin]=Istraživačka igra
GenericName[sv]=Äventyrsspel
GenericName[ta]=தேடல் விளையாட்டு
GenericName[te]=వెతికే ఆట
GenericName[tg]=Бозиҳои пурмоҷаро
GenericName[th]=เกมผจญภัย
GenericName[tr]=Araştırma Oyunu
GenericName[uk]=Квест
GenericName[uz]=Qidiruv oʻyini
GenericName[uz@cyrillic]=Қидирув ўйини
GenericName[vi]=Trò chơi truy lùng
GenericName[wa]=Djeu d' cweraedje
GenericName[xh]=Quest Game
GenericName[x-test]=xxQuest Gamexx
GenericName[zh_CN]=寻宝游戏
GenericName[zh_TW]=冒險遊戲
Exec=tome
Terminal=true
Type=Application
