[Desktop Entry]
Encoding=UTF-8
Name=ZAngband
Name[af]=Zangband
Name[eo]=Zangbando
Name[lv]=ZAngbanda
Name[ne]=ज्याङब्याड
Name[pa]=Zਅੰਗੀਬੰਦ
Name[sl]=Zangband
Name[sv]=Zangband
Name[ta]=ஜாங்பான்ட்
Name[te]=జిఆంగ్బెండ్
Name[x-test]=xxZAngbandxx
GenericName=Defeat the Serpent of Chaos
GenericName[af]=Oorwin die Duiwel van Chaos
GenericName[be]=Бойка з Служкай Хаоса
GenericName[bg]=Победете ехидната на хаоса
GenericName[ca]=Guanyeu a la serp del caos
GenericName[cs]=Poražte Hada Chaosu
GenericName[csb]=Pòradzë wãża chaòsu
GenericName[cy]=Trechwch y Neidr Anrhefn
GenericName[da]=Overvind kaos-slangen
GenericName[de]=Besiegen Sie die Schlange des Chaos
GenericName[el]=Νικήστε τον Serpent of Chaos
GenericName[eo]=Defiu la serpenton de la ĥaoso
GenericName[es]=Derrote a la serpiente del caos
GenericName[et]=Serpent of Chaos purustamine
GenericName[eu]=Garai ezazu kaosaren sugea
GenericName[fa]=شکست Serpent از Chaos
GenericName[fi]=Voita Kaaoksen käärme
GenericName[fr]=Pourrez-vous vaincre le Serpent du Chaos ?
GenericName[fy]=Ferslach de Serpent of Chaos
GenericName[ga]=Cloígh an Ollphéist Anord
GenericName[gl]=Destrúa a Serpe do Caos
GenericName[he]=נצח את נחש הכאוס
GenericName[hr]=Pobijedite vladara kaosa
GenericName[hu]=Harc a Káosz kígyója ellen
GenericName[is]=Sigraðu snákinn frá Chaos
GenericName[it]=Sconfiggi il Serpente del Caos
GenericName[ja]=カオスの Serpent を倒す
GenericName[ka]=დაამარხეთ ქაოსის გველი
GenericName[kk]=Аласапыран Жыланды жеңіңіз
GenericName[lt]=Nugalėk chaoso slibiną
GenericName[lv]=Sakaut haosa čūsku
GenericName[mk]=Победи ја змијата на хаосот
GenericName[ms]=Kalahkan Serpent of Chaos
GenericName[nb]=Kjemp mot Kaosslangen
GenericName[nds]=Dwing de Kaos-Slang daal
GenericName[ne]=चओसको सर्पलाई हराउनुहोस्
GenericName[nl]=Versla de Serpent of Chaos
GenericName[nn]=Kjemp mot Kaosslangen
GenericName[pa]=ਚਾਓਸ ਦਾ ਸੀਰਪਿਟ ਹਾਰ
GenericName[pl]=Pokonaj węża chaosu
GenericName[pt]=Derrote a Serpente do Caos
GenericName[pt_BR]=Derrote a Serpente
GenericName[ro]=Învinge şarpele haosului
GenericName[ru]=Победите Змея хаоса
GenericName[se]=Heaibbu Kaosgearpmažiin
GenericName[sl]=Premagajte Kačo kaosa
GenericName[sr]=Поразите гују хаоса
GenericName[sr@latin]=Porazite guju haosa
GenericName[sv]=Besegra kaosormen
GenericName[ta]=சப்தமிடும் பாம்பை தோற்கடி
GenericName[te]=కాలనాగు ను ఓడించండి
GenericName[tg]=Мори Хаосро ғолиб шавед
GenericName[tr]=Kaos İblisini mağlub edin
GenericName[uk]=Переможіть гадюку хаосу
GenericName[uz]=Хаос илонини енгиб чиқиш
GenericName[x-test]=xxDefeat the Serpent of Chaosxx
GenericName[xh]=Yoyisa Inyoka Yomonakalo
GenericName[zh_TW]=打敗 Serpent of Chaos
Exec=zangband
Terminal=true
Type=Application
