[Desktop Entry]
Name=ZAngband
Name[gu]=Zએનગ્બેન્ડ
Name[hi]=जेड-एंगबैंण्ड
Name[ml]=സിആങ്ബാന്‍ഡ്
Name[ne]=ज्याङब्याड
Name[pa]=Zਅੰਗੀਬੰਦ
Name[sl]=Zangband
Name[sr]=Зангбанд
Name[sv]=Zangband
Name[ta]=ஜாங்பான்ட்
Name[te]=జిఆంగ్బెండ్
Name[x-test]=xxZAngbandxx
GenericName=Defeat the Serpent of Chaos
GenericName[af]=Oorwin die Duiwel van Chaos
GenericName[be]=Бойка з Служкай Хаоса
GenericName[bg]=Победете ехидната на хаоса
GenericName[bn]=সার্পেন্ট অফ কেওস-কে হারান
GenericName[ca]=Guanyeu a la serp del caos
GenericName[cs]=Poražte Hada Chaosu
GenericName[csb]=Pòradzë wãża chaòsu
GenericName[cy]=Trechwch y Neidr Anrhefn
GenericName[da]=Overvind kaos-slangen
GenericName[de]=Besiegen Sie die Schlange des Chaos
GenericName[el]=Νικήστε τον Serpent of Chaos
GenericName[eo]=Defii la serpenton de la ĥaoso
GenericName[es]=Derrote a la serpiente del caos
GenericName[et]=Serpent of Chaos purustamine
GenericName[eu]=Garai ezazu kaosaren sugea
GenericName[fa]=شکست Serpent از Chaos
GenericName[fi]=Voita Kaaoksen käärme
GenericName[fr]=Pourrez-vous vaincre le Serpent du Chaos ?
GenericName[fy]=De Serpent of Chaos ferslaan
GenericName[ga]=Cloígh an Ollphéist Anord
GenericName[gl]=Destrúa a Serpe do Caos
GenericName[gu]=મસ્તીનાં સર્પ ને હરાવો
GenericName[he]=נצח את נחש הכאוס
GenericName[hi]=चाओस के सांप को हराएँ
GenericName[hr]=Pobijedite vladara kaosa
GenericName[hu]=Harc a Káosz kígyója ellen
GenericName[is]=Sigraðu snákinn frá Chaos
GenericName[it]=Sconfiggi il Serpente del Caos
GenericName[ja]=カオスの Serpent を倒す
GenericName[ka]=დაამარხეთ ქაოსის გველი
GenericName[kk]=Аласапыран Жыланды жеңіңіз
GenericName[km]=បង្ក្រាប​ពស់​ចលាចល
GenericName[ko]=혼돈의 악마를 꺾으십시오
GenericName[ku]=Îblîsê Kaosê têk bibe
GenericName[lt]=Nugalėk chaoso slibiną
GenericName[lv]=Sakauj haosa čūsku
GenericName[mk]=Победи ја змијата на хаосот
GenericName[ml]=ഭീതിയുടെ പാമ്പിനെ തോല്‍പ്പിയ്ക്കൂ
GenericName[ms]=Kalahkan Serpent of Chaos
GenericName[nb]=Kjemp mot Kaosslangen
GenericName[nds]=Dwing de Kaos-Slang daal
GenericName[ne]=चाओसको सर्पलाई हराउनुहोस्
GenericName[nl]=Versla de Serpent of Chaos
GenericName[nn]=Kjemp mot Kaosslangen
GenericName[pa]=ਚਾਓਸ ਦਾ ਸੀਰਪਿਟ ਹਾਰ
GenericName[pl]=Pokonaj węża chaosu
GenericName[pt]=Derrote a Serpente do Caos
GenericName[pt_BR]=Derrote a Serpente do Caos
GenericName[ro]=Învinge Șarpele Haosului
GenericName[ru]=Победите Змея хаоса
GenericName[se]=Heaibbu Kaosgearpmažiin
GenericName[sk]=Porazte Serpent of Chaos
GenericName[sl]=Premagajte Kačo kaosa
GenericName[sr]=Поразите Гују хаоса
GenericName[sr@latin]=Porazite Guju haosa
GenericName[sv]=Besegra kaosormen
GenericName[ta]=சிக்கலில் சீறும் பாம்பை வீழ்த்துக
GenericName[te]=కాలనాగు ను ఓడించండి
GenericName[th]=เอาชนะอสรพิษแห่งกลียุค
GenericName[tr]=Kaos İblisini mağlub edin
GenericName[uk]=Переможіть гадюку хаосу
GenericName[uz]=Xaos ilonini yengib chiqish
GenericName[uz@cyrillic]=Хаос илонини енгиб чиқиш
GenericName[vi]=Đánh bại con Rắn Hỗn loạn
GenericName[wa]=Sitriyîz l' Sierpint do Ståraedje
GenericName[x-test]=xxDefeat the Serpent of Chaosxx
GenericName[xh]=Yoyisa Inyoka Yomonakalo
GenericName[zh_CN]=击败 Chaos 恶棍
GenericName[zh_TW]=打敗 Serpent of Chaos
Exec=zangband
Terminal=true
Type=Application
