[Desktop Entry]
Encoding=UTF-8
Exec=aterm
Icon=kpm
Type=Application
Name=Terminal
Name[af]=Terminaal
Name[ar]=مطراف
Name[br]=Termenell
Name[cs]=Terminál
Name[cy]=Terfynell
Name[de]=Aterm-Terminal
Name[el]=Τερματικό
Name[eo]=Terminalo
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Komentoikkuna
Name[ga]=Teirminéal
Name[it]=Terminale
Name[ja]=ターミナル
Name[ka]=ტერმინალი
Name[kk]=Терминал
Name[km]=ស្ថានីយ
Name[lt]=Terminalas
Name[lv]=Termināls
Name[ne]=टर्मिनल
Name[pa]=ਟਰਮੀਨਲ
Name[ru]=Терминал
Name[sr]=Терминал
Name[ta]=கடைசி
Name[tg]=Поёна
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[uz]=Терминал
Name[x-test]=xxTerminalxx
Name[xh]=Isixhobo sangaphandle sekhompuma
Name[zh_TW]=終端機
GenericName=Terminal Program
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج مطراف
GenericName[bg]=Терминална програма
GenericName[br]=Goulev termenell
GenericName[ca]=Programa de terminal
GenericName[cs]=Terminálový program
GenericName[csb]=Programa terminala
GenericName[cy]=Rhaglen Terfynell
GenericName[da]=Terminalprogram
GenericName[de]=Terminalprogramm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal programa
GenericName[fa]=برنامۀ پایانه
GenericName[fi]=Komentoikkunaohjelma
GenericName[fr]=Terminal
GenericName[fy]=Terminalprogramma
GenericName[ga]=Clár Teirminéil
GenericName[gl]=Programa de Terminal
GenericName[he]=תוכנית מסוף
GenericName[hr]=Terminalski program
GenericName[hu]=Parancsértelmező
GenericName[is]=Skjáhermir
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[ka]=პროგრამა ტერმინალისთვის
GenericName[kk]=Терминал бағдарламасы
GenericName[km]=កម្មវិធី​ស្ថានីយ
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla Programma
GenericName[mk]=Терминалска програма
GenericName[ms]=Program Terminal
GenericName[nb]=Terminalprogram
GenericName[nds]=Terminal-Programm
GenericName[ne]=टर्मिनल कार्यक्रम
GenericName[nl]=Terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[se]=Terminálaprográmma
GenericName[sl]=Terminalski program
GenericName[sr]=Терминалски програм
GenericName[sr@Latn]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[ta]=கடைசி நிரலி
GenericName[tg]=Барномаи поёна
GenericName[tr]=Terminal Programı
GenericName[uk]=Програма терміналу
GenericName[uz]=Терминал дастури
GenericName[x-test]=xxTerminal Programxx
GenericName[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
GenericName[zh_TW]=終端機程式
X-KDE-AuthorizeAction=shell_access
