[Desktop Entry]
Encoding=UTF-8
Exec=procinfo -f
Icon=kpm
Type=Application
Name=Procinfo
Name[csb]=Wëdowiédzô ò procesach
Name[eo]=Procezoinformo
Name[ko]=프로세서 정보
Name[ne]=प्रोकिन्फो
Name[pa]=ਕਾਰਜ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o procesach
Name[sl]=Podatki o procesih
Name[tg]=Иттилооти Proc
Name[x-test]=xxProcinfoxx
GenericName=System Process Information
GenericName[af]=Stelsel Proses Informasie
GenericName[be]=Звесткі аб працэсах сістэмы
GenericName[bg]=Информация за системните процеси
GenericName[ca]=Sistema d'informació dels processos
GenericName[cs]=Informace o systémových procesech
GenericName[csb]=Wëdowiédzô ò systemie
GenericName[cy]=Gwybodaeth Broses Cysawd
GenericName[da]=Systemprocesinformation
GenericName[de]=Infos zu laufenden Programmen
GenericName[el]=Πληροφορίες για τις διεργασίες του συστήματος
GenericName[eo]=Informo pri procezoj
GenericName[es]=Información sobre procesos del sistema
GenericName[et]=Süsteemi protsesside info
GenericName[eu]=Sistemaren prozesuei buruzko informazioa
GenericName[fa]=اطلاعات فرآیند سیستم
GenericName[fi]=Järjestelmän prosessien tietoja
GenericName[fr]=Informations sur les processus du système
GenericName[fy]=Ynformaasje foar systeemprosessen
GenericName[ga]=Eolas faoi Phróisis an Chórais
GenericName[gl]=Información dos Procesos do Sistema
GenericName[he]=מידע לגבי תהליכים של המערכת
GenericName[hr]=Podaci o procesima
GenericName[hu]=Folyamatkezelő
GenericName[is]=Upplýsingar um kerfisforrit
GenericName[it]=Informazioni sui processi di sistema
GenericName[ja]=システムプロセス情報
GenericName[ka]=ინფორმაცია სისტემური პროცესების შესახებ
GenericName[kk]=Жүйе процесстер мәліметі
GenericName[km]=ព័ត៌មាន​ដំណើរការ​ប្រព័ន្ធ
GenericName[lt]=Sistemos procesų informacija
GenericName[lv]=Sistēmas Procesu Informācija
GenericName[mk]=Информации за системските процеси
GenericName[ms]=Maklumat Proses Sistem
GenericName[nb]=Informasjon om systemprosesser
GenericName[nds]=Systeemperzess-Informatschoon
GenericName[ne]=प्रणाली प्रक्रिया सूचना
GenericName[nl]=Informatie over systeemprocessen
GenericName[nn]=Informasjon om systemprosessar
GenericName[pa]=ਸਿਸਟਮ ਕਾਰਜ ਜਾਣਕਾਰੀ
GenericName[pl]=Informacje o systemie
GenericName[pt]=Informações dos Processos do Sistema
GenericName[pt_BR]=Informações sobre os Processos do Sistema
GenericName[ro]=Informaţii despre procesele sistemului
GenericName[ru]=Сведения о системных процессах
GenericName[se]=Dieđuid vuogádatproseassaid birra
GenericName[sl]=Podatki o sistemskih procesih
GenericName[sr]=Информације о системским процесима
GenericName[sr@latin]=Informacije o sistemskim procesima
GenericName[sv]=Information om systemprocesser
GenericName[ta]=சாதன செயல் தகவல்
GenericName[tg]=Барномаи иттилооти система
GenericName[th]=ข้อมูลโปรเซสของระบบ
GenericName[tr]=Sistem Süreç Bilgileri
GenericName[uk]=Інформація про систему
GenericName[uz]=Тизим вазифалари ҳақида маълумот
GenericName[vi]=Thông tin về các Tiến trình Hệ thống
GenericName[x-test]=xxSystem Process Informationxx
GenericName[xh]=Ulwazi Lwendlela Yoqhubekeko
GenericName[zh_TW]=系統程序資訊
Terminal=true
