[Desktop Entry]
Exec=procinfo -f
Icon=kpm
Type=Application
Name=Procinfo
Name[af]=Procinfo
Name[ar]=معلومات المعالجة
Name[as]=Procinfo
Name[be]=Procinfo
Name[be@latin]=Procinfo
Name[bg]=Procinfo
Name[bn]=Procinfo
Name[bn_IN]=Procinfo
Name[br]=Procinfo
Name[ca]=Procinfo
Name[ca@valencia]=Procinfo
Name[cs]=Procinfo
Name[csb]=Wëdowiédzô ò procesach
Name[cy]=Procinfo
Name[da]=Procinfo
Name[de]=Procinfo
Name[el]=Procinfo
Name[en_GB]=Procinfo
Name[eo]=Procezoinformo
Name[es]=Procinfo
Name[et]=Procinfo
Name[eu]=Procinfo
Name[fi]=Procinfo
Name[fr]=Procinfo
Name[fy]=Procinfo
Name[ga]=Procinfo
Name[gl]=Procinfo
Name[gu]=પ્રોકઇન્ફો
Name[he]=Procinfo
Name[hi]=प्रॉकजानकारी
Name[hne]=प्राकजानकारी
Name[hr]=Procinfo
Name[hsb]=Procinfo
Name[hu]=Procinfo
Name[is]=Procinfo
Name[it]=Procinfo
Name[ja]=Procinfo
Name[ka]=Procinfo
Name[kk]=Procinfo
Name[km]=Procinfo
Name[kn]=ಪ್ರಾಕ್ ಇನ್ಫೋ
Name[ko]=Procinfo
Name[ku]=Procinfo
Name[lt]=Procinfo
Name[lv]=Procinfo
Name[mai]=प्राकसूचना
Name[mk]=Procinfo
Name[ml]=പ്രൊക്ഇന്‍ഫോ
Name[mr]=Procinfo
Name[ms]=Procinfo
Name[nb]=Procinfo
Name[nds]=Procinfo
Name[ne]=प्रोकिन्फो
Name[nl]=Procinfo
Name[nn]=Procinfo
Name[or]=Procinfo
Name[pa]=Procinfo
Name[pl]=Informacje o procesach
Name[pt]=Procinfo
Name[pt_BR]=Procinfo
Name[ro]=Procinfo
Name[ru]=Procinfo
Name[se]=Procinfo
Name[si]=Procinfo
Name[sk]=Procinfo
Name[sl]=Procinfo
Name[sr]=Процинфо
Name[sr@latin]=Procinfo
Name[sv]=Procinfo
Name[ta]=Procinfo
Name[te]=Procinfo
Name[tg]=Procinfo
Name[th]=Procinfo
Name[tr]=Procinfo
Name[uk]=Procinfo
Name[uz]=Procinfo
Name[uz@cyrillic]=Procinfo
Name[vi]=Procinfo
Name[wa]=Procinfo
Name[xh]=Procinfo
Name[x-test]=xxProcinfoxx
Name[zh_CN]=Procinfo
Name[zh_TW]=Procinfo
GenericName=System Process Information
GenericName[af]=Stelsel Proses Informasie
GenericName[ar]=معلومات عمليات النظام
GenericName[as]=ব্যৱস্থাপ্ৰণালীৰ প্ৰক্ৰীয়াৰ তথ্য
GenericName[be]=Звесткі пра працэсы сістэмы
GenericName[be@latin]=Źviestki pra systemnyja pracesy
GenericName[bg]=Информация за системните процеси
GenericName[bn]=সিস্টেম প্রসেস তথ্য
GenericName[ca]=Sistema d'informació dels processos
GenericName[ca@valencia]=Sistema d'informació dels processos
GenericName[cs]=Informace o systémových procesech
GenericName[csb]=Wëdowiédzô ò systemie
GenericName[cy]=Gwybodaeth Broses Cysawd
GenericName[da]=Systemprocesinformation
GenericName[de]=Infos zu laufenden Programmen
GenericName[el]=Πληροφορίες για τις διεργασίες του συστήματος
GenericName[en_GB]=System Process Information
GenericName[eo]=Informo pri procezoj
GenericName[es]=Información sobre procesos del sistema
GenericName[et]=Süsteemi protsesside info
GenericName[eu]=Sistemaren prozesuei buruzko informazioa
GenericName[fa]=اطلاعات فرآیند سیستم
GenericName[fi]=Järjestelmän prosessien tietoja
GenericName[fr]=Informations sur les processus du système
GenericName[fy]=Ynformaasje foar systeemprosessen
GenericName[ga]=Eolas faoi Phróisis an Chórais
GenericName[gl]=Información dos procesos do sistema
GenericName[gu]=સિસ્ટમ પ્રક્રિયા માહિતી
GenericName[he]=מידע לגבי תהליכים של המערכת
GenericName[hi]=तंत्र प्रोसेस जानकारी
GenericName[hne]=तंत्र प्रोसेस जानकारी
GenericName[hr]=Podaci o procesima
GenericName[hsb]=Informacija wo systemowych procesach
GenericName[hu]=Folyamatkezelő
GenericName[is]=Upplýsingar um kerfisforrit
GenericName[it]=Informazioni sui processi di sistema
GenericName[ja]=システムプロセス情報
GenericName[ka]=ინფორმაცია სისტემური პროცესების შესახებ
GenericName[kk]=Жүйе процесстер мәліметі
GenericName[km]=ព័ត៌មាន​ដំណើរការ​ប្រព័ន្ធ
GenericName[kn]=ವ್ಯವಸ್ಥಾ ಪ್ರಕ್ರಿಯೆ ಮಾಹಿತಿ
GenericName[ko]=시스템 프로세스 정보
GenericName[ku]=Agahiyên Pêvajoyên Pergalê
GenericName[lt]=Sistemos procesų informacija
GenericName[lv]=Sistēmas procesu informācija
GenericName[mai]=तंत्र प्रोसेस सूचना
GenericName[mk]=Информации за системските процеси
GenericName[ml]=സിസ്റ്റത്തിലെ പ്രൊസസ്സ് വിവരങ്ങള്‍
GenericName[mr]=प्रणाली कार्यपद्धती माहिती
GenericName[ms]=Maklumat Proses Sistem
GenericName[nb]=Informasjon om systemprosesser
GenericName[nds]=Systeemperzess-Informatschoon
GenericName[ne]=प्रणाली प्रक्रिया सूचना
GenericName[nl]=Informatie over systeemprocessen
GenericName[nn]=Informasjon om systemprosessar
GenericName[or]=ତନ୍ତ୍ର ପ୍ରଣାଳୀ ସୂଚନା
GenericName[pa]=ਸਿਸਟਮ ਪਰੋਸੈਸ ਜਾਣਕਾਰੀ
GenericName[pl]=Informacje o systemie
GenericName[pt]=Informações dos Processos do Sistema
GenericName[pt_BR]=Informações sobre os processos do sistema
GenericName[ro]=Informații despre procesele sistemului
GenericName[ru]=Сведения о процессах
GenericName[se]=Dieđuid vuogádatproseassaid birra
GenericName[si]=පද්ධති සැකසුම් තොරතුරු
GenericName[sk]=Informácie o procesoch
GenericName[sl]=Podatki o sistemskih procesih
GenericName[sr]=Подаци о системским процесима
GenericName[sr@latin]=Podaci o sistemskim procesima
GenericName[sv]=Information om systemprocesser
GenericName[ta]=அமைப்பின் பணித் தகவல்
GenericName[te]=సిస్టమ్ ప్రోసెస్ సమాచారం
GenericName[tg]=Барномаи маълумоти система
GenericName[th]=ข้อมูลโพรเซสของระบบ
GenericName[tr]=Sistem Süreç Bilgileri
GenericName[uk]=Інформація про систему
GenericName[uz]=Tizim vazifalari haqida maʼlumot
GenericName[uz@cyrillic]=Тизим вазифалари ҳақида маълумот
GenericName[vi]=Thông tin về các Tiến trình Hệ thống
GenericName[wa]=Infôrmåcion so les processus sistinme
GenericName[xh]=Ulwazi Lwendlela Yoqhubekeko
GenericName[x-test]=xxSystem Process Informationxx
GenericName[zh_CN]=系统进程信息
GenericName[zh_TW]=系統程序資訊
Terminal=true
