[Desktop Entry]
GenericName=ouR eXtended Virtual Terminal
GenericName[af]=Uitgebreide Virtuele Terminaal
GenericName[ar]=الشاشة الطرفية الموسعة (RXVT)
GenericName[as]=ouR eXtended Virtual Terminal
GenericName[be]=ouR eXtended Virtual Terminal
GenericName[be@latin]=Admysłovy virtualny terminał
GenericName[bg]=Разширен виртуален терминал
GenericName[bn]=ouR eXtended Virtual Terminal
GenericName[bn_IN]=ouR eXtended Virtual Terminal
GenericName[ca]=Terminal virtual ouR eXtended
GenericName[ca@valencia]=Terminal virtual ouR eXtended
GenericName[cs]=ouR eXtended Virtual Terminal
GenericName[csb]=ouR - Rozszérzony wirtualny terminal
GenericName[cy]=ein terfynell rhith estynedig
GenericName[da]=ouR eXtended Virtuel Terminal
GenericName[de]=ouR eXtended Virtual Terminal
GenericName[el]=Το δικό μας εκτεταμένο εικονικό τερματικό
GenericName[en_GB]=ouR eXtended Virtual Terminal
GenericName[eo]=Nia pli ampleksigita virtuala terminalo (rxvt)
GenericName[es]=Nuestro terminal virtual extendido
GenericName[et]=ouR eXtended Virtual Terminal
GenericName[eu]=ouR eXtended terminal birtuala
GenericName[fa]=پایانۀ مجازی ouR eXtended
GenericName[fi]=ouR eXtended Virtual Terminal
GenericName[fr]=ouR eXtended Virtual Terminal
GenericName[fy]=ouR eXtended Virtual Terminal
GenericName[ga]=ouR eXtended Virtual Terminal
GenericName[gl]=ouR eXtended Virtual Terminal
GenericName[gu]=અમારું વિસ્તૃત વર્ચ્યુઅલ ટર્મિનલ
GenericName[he]=מסוף וירטואלי מורחב
GenericName[hi]=अपना बढ़ाया हुआ आभासी टर्मिनल (RXVT)
GenericName[hne]=अपन एक्सटेंडेड आभासी टर्मिनल (RXVT)
GenericName[hr]=ouR eXtended (naš prošireni) Virtualni Terminal
GenericName[hsb]=ouR eXtended Virtual Terminal
GenericName[hu]=Virtuális terminál
GenericName[is]=Okkar góði endurbætti skjáhermir
GenericName[it]=Terminale esteso
GenericName[ja]=ouR eXtended Virtual Terminal
GenericName[ka]=გეუმჯობესებული ვირტუალური ტერმინალი
GenericName[kk]=Кеңейтілген виртуалды терминал
GenericName[km]=ស្ថានីយ​និម្មិត​របស់  ouR eXtende 
GenericName[kn]=ಓಯುರೆಕ್ಸಟೆಂಡ್ ವಾಸ್ತವಪ್ರಾಯ ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್)
GenericName[ko]=ouR eXtended Virtual Terminal
GenericName[ku]=Termînala Nîgaşî ya Pêşkeftî
GenericName[lt]=ouR eXtended Virtual Terminal
GenericName[lv]=ouR paplašinātais virtuālais termināls
GenericName[mai]=अपन बढाएल गेल आभासी टर्मिनल
GenericName[mk]=ouR eXtended Virtual Terminal
GenericName[ml]=ouR eXtended Virtual Terminal
GenericName[mr]=आपली वाढिव आभासी टर्मिनल
GenericName[ms]=Terminal Maya ouR eXtended
GenericName[nb]=Terminalemulator
GenericName[nds]=Steiht för "ouR eXtended Virtual Terminal"
GenericName[ne]=हाम्रो विस्तारित अवास्तविक टर्मिनल
GenericName[nl]=ouR eXtended Virtual Terminal
GenericName[nn]=Terminalemulator
GenericName[or]=ouR eXtended ଆଭାସୀ ଟର୍ମିନାଲ
GenericName[pa]=ouR eXtended ਵੁਰਚੁਅਲ ਟਰਮੀਨਲ
GenericName[pl]=rxvt - Rozszerzony Terminal Wirtualny
GenericName[pt]=ouR eXtended Virtual Terminal
GenericName[pt_BR]=Terminal virtual estendido
GenericName[ro]=Terminal virtual extins
GenericName[ru]=Расширенный эмулятор терминала
GenericName[se]=Terminálemuláhtor
GenericName[si]=ouR eXtended Virtual Terminal
GenericName[sk]=Náš rozšírený virtuálny terminál
GenericName[sl]=Razširjeni navidezni terminal
GenericName[sr]=„Наш проширени виртуелни терминал“
GenericName[sr@latin]=„Naš prošireni virtuelni terminal“
GenericName[sv]=Vår utökade virtuella terminal
GenericName[ta]=ouR eXtended Virtual Terminal
GenericName[te]=మా విస్తరించిన మిధ్యా టెర్మినల్
GenericName[tg]=Терминали ouR eXtended Virtual
GenericName[th]=เทอร์มินัลเสมือนที่เพิ่มความสามารถของเรา
GenericName[tr]=Geliştirilmiş Sanal Terminal
GenericName[uk]=Наш покращений віртуальний термінал
GenericName[uz]=ouR eXtended Virtual Terminal
GenericName[uz@cyrillic]=ouR eXtended Virtual Terminal
GenericName[vi]=Trình đầu cuối ảo mở rộng của chúng ta (RXVT)
GenericName[wa]=Forveyou terminå ouR eXtended
GenericName[xh]=ouR eXtended Isiphelo sendlela Esingabonakaliyo
GenericName[x-test]=xxouR eXtended Virtual Terminalxx
GenericName[zh_CN]=我们的扩展虚拟终端
GenericName[zh_TW]=我們的延伸式虛擬終端機
Exec=rxvt
Icon=konsole
Name=RXVT
Name[af]=RXVT
Name[ar]=RXVT
Name[as]=RXVT
Name[be]=RXVT
Name[be@latin]=RXVT
Name[bg]=RXVT
Name[bn]=RXVT
Name[bn_IN]=RXVT
Name[br]=RXVT
Name[ca]=RXVT
Name[ca@valencia]=RXVT
Name[cs]=RXVT
Name[csb]=RXVT
Name[cy]=RXVT
Name[da]=RXVT
Name[de]=RXVT
Name[el]=RXVT
Name[en_GB]=RXVT
Name[eo]=RXVT
Name[es]=RXVT
Name[et]=RXVT
Name[eu]=RXVT
Name[fi]=RXVT
Name[fr]=RXVT
Name[fy]=RXVT
Name[ga]=RXVT
Name[gl]=RXVT
Name[gu]=RXVT
Name[he]=RXVT
Name[hi]=आरएक्सवीटी
Name[hne]=आरएक्सवीटी
Name[hr]=RXVT
Name[hsb]=RXVT
Name[hu]=RXVT
Name[is]=RXVT
Name[it]=RXVT
Name[ja]=RXVT
Name[ka]=RXVT
Name[kk]=RXVT
Name[km]=RXVT
Name[kn]=ರಕ್ಸಟಿವಿ
Name[ko]=RXVT
Name[ku]=RXVT
Name[lt]=RXVT
Name[lv]=RXVT
Name[mai]=RXVT
Name[mk]=RXVT
Name[ml]=ആര്‍എക്സ്‌വിടി
Name[mr]=RXVT
Name[ms]=RXVT
Name[nb]=RXVT
Name[nds]=RXVT
Name[ne]=RXVT
Name[nl]=RXVT
Name[nn]=RXVT
Name[oc]=RXVT
Name[or]=RXVT
Name[pa]=RXVT
Name[pl]=RXVT
Name[pt]=RXVT
Name[pt_BR]=RXVT
Name[ro]=RXVT
Name[ru]=RXVT
Name[se]=RXVT
Name[si]=RXVT
Name[sk]=RXVT
Name[sl]=RXVT
Name[sr]=РИксВТ
Name[sr@latin]=RXVT
Name[sv]=RXVT
Name[ta]=RXVT
Name[te]=RXVT
Name[tg]=RXVT
Name[th]=RXVT
Name[tr]=RXVT
Name[uk]=RXVT
Name[uz]=RXVT
Name[uz@cyrillic]=RXVT
Name[vi]=RXVT
Name[wa]=RXVT
Name[xh]=RXVT
Name[x-test]=xxRXVTxx
Name[zh_CN]=RXVT
Name[zh_TW]=RXVT
Type=Application
