[Desktop Entry]
Exec=clanbomber
Icon=clanbomber
Name=Clanbomber
Name[af]=Klanbommer
Name[bn]=ক্ল্যান-বোম্বার
Name[fr]=ClanBomber
Name[gu]=ક્લાનબોમ્બર
Name[hi]=क्लैनबॉम्बर
Name[hu]=Bombarakó
Name[ja]=Clan ボンバー
Name[kn]=ಕ್ಲಾನ್ಬಾಂಬರ್
Name[ml]=ക്ലാന്‍ബോംബര്‍
Name[mr]=क्लैनबॉम्बर
Name[ne]=क्लान बम्बर
Name[pa]=ਕਲਾਨ ਬੰਬਰ
Name[sk]=ClanBomber
Name[sr]=Кланбомбер
Name[sr@latin]=ClanBomber
Name[sv]=Klanbombare
Name[ta]=க்ளான்பாம்பர்
Name[te]=క్లాన్ బాంబర్
Name[x-test]=xxClanbomberxx
Name[zh_CN]=炸弹超人
Name[zh_TW]=Clanbomber 炸彈超人
Terminal=true
Type=Application
