[Desktop Entry]
Exec=clanbomber
Icon=clanbomber
Name=Clanbomber
Name[af]=Klanbommer
Name[ar]=لعبة ClanBomber
Name[as]=Clanbomber
Name[be]=Clanbomber
Name[be@latin]=Clanbomber
Name[bg]=Clanbomber
Name[bn]=ক্ল্যান-বোম্বার
Name[bn_IN]=Clanbomber
Name[br]=Clanbomber
Name[ca]=Clanbomber
Name[ca@valencia]=Clanbomber
Name[cs]=Clanbomber
Name[csb]=Clanbomber
Name[cy]=Clanbomber
Name[da]=Clanbomber
Name[de]=Clanbomber
Name[el]=Clanbomber
Name[en_GB]=Clanbomber
Name[eo]=Clanbomber
Name[es]=Clanbomber
Name[et]=Clanbomber
Name[eu]=Clanbomber
Name[fi]=Clanbomber
Name[fr]=ClanBomber
Name[fy]=Clanbomber
Name[ga]=Clanbomber
Name[gl]=Clanbomber
Name[gu]=ક્લાનબોમ્બર
Name[he]=Clanbomber
Name[hi]=क्लैनबॉम्बर
Name[hne]=क्लैनबाम्बर
Name[hr]=Clanbomber
Name[hsb]=Clanbomber
Name[hu]=Bombarakó
Name[is]=Clanbomber
Name[it]=Clanbomber
Name[ja]=Clan ボンバー
Name[ka]=Clanbomber
Name[kk]=Clanbomber
Name[km]=Clanbomber
Name[kn]=ಕ್ಲಾನ್ಬಾಂಬರ್
Name[ko]=Clanbomber
Name[ku]=Clanbomber
Name[lt]=Clanbomber
Name[lv]=Clanbomber
Name[mai]=क्लैनबाम्बर
Name[mk]=Clanbomber
Name[ml]=ക്ലാന്‍ബോംബര്‍
Name[mr]=क्लैनबॉम्बर
Name[ms]=Clanbomber
Name[nb]=Clanbomber
Name[nds]=Clanbomber
Name[ne]=क्लान बम्बर
Name[nl]=Clanbomber
Name[nn]=Clanbomber
Name[oc]=Clanbomber
Name[or]=Clanbomber
Name[pa]=ਕਲਾਨ ਬੰਬਰ
Name[pl]=Clanbomber
Name[pt]=Clanbomber
Name[pt_BR]=Clanbomber
Name[ro]=Clanbomber
Name[ru]=Clanbomber
Name[se]=Clanbomber
Name[si]=Clanbomber
Name[sk]=ClanBomber
Name[sl]=Clanbomber
Name[sr]=Кланбомбер
Name[sr@latin]=ClanBomber
Name[sv]=Klanbombare
Name[ta]=க்ளான்பாம்பர்
Name[te]=క్లాన్ బాంబర్
Name[tg]=Clanbomber
Name[th]=Clanbomber
Name[tr]=Clanbomber
Name[uk]=Clanbomber
Name[uz]=Clanbomber
Name[uz@cyrillic]=Clanbomber
Name[vi]=Clanbomber
Name[wa]=Clanbomber
Name[xh]=Clanbomber
Name[x-test]=xxClanbomberxx
Name[zh_CN]=炸弹超人
Name[zh_TW]=Clanbomber 炸彈超人
Terminal=true
Type=Application
