[Desktop Entry]
Version=1.0
Name=Defendguin
Name[af]=Verdedig pikkewyn
Name[ar]=لعبة الأشرار Defendguin
Name[as]=Defendguin
Name[be]=Defendguin
Name[be@latin]=Defendguin
Name[bg]=Defendguin
Name[bn]=Defendguin
Name[bn_IN]=Defendguin
Name[br]=Defendguin
Name[ca]=Defendguin
Name[ca@valencia]=Defendguin
Name[cs]=Defendguin
Name[csb]=Defendguin
Name[cy]=Amddiffgwyn
Name[da]=Defendguin
Name[de]=Defendguin
Name[el]=Defendguin
Name[en_GB]=Defendguin
Name[eo]=Defendguin
Name[es]=Defendguin
Name[et]=Defendguin
Name[eu]=Defendguin
Name[fi]=Defendguin
Name[fr]=Defendguin
Name[fy]=Defendguin
Name[ga]=Defendguin
Name[gl]=Defendguin
Name[gu]=Defendguin
Name[he]=Defendguin
Name[hi]=डिफेण्डगुइन
Name[hne]=डिफेन्डगुइन
Name[hr]=Defendguin
Name[hsb]=Defendguin
Name[hu]=Defendguin
Name[is]=Defendguin
Name[it]=Defendguin
Name[ja]=Defendguin
Name[ka]=Defendguin
Name[kk]=Defendguin
Name[km]=Defendguin
Name[kn]=ಡಿಫೆಂಡ್ ಗ್ಯೂನ್
Name[ko]=Defendguin
Name[ku]=Defendguin
Name[lt]=Defendguin
Name[lv]=Defendguin
Name[mai]=डिफेण्डगुइन
Name[mk]=Defendguin
Name[ml]=ഡിഫെന്‍ഡ്ഗ്വിന്‍
Name[mr]=डिफेण्डगुइन
Name[ms]=Defendguin
Name[nb]=Defendguin
Name[nds]=Defendguin
Name[ne]=डिफेन्डगुइन
Name[nl]=Defendguin
Name[nn]=Defendguin
Name[or]=Defendguin
Name[pa]=ਡੀਫੀਡਗੂਨਿ
Name[pl]=Defendguin
Name[pt]=Defendguin
Name[pt_BR]=Defendguin
Name[ro]=Defendguin
Name[ru]=Defendguin
Name[se]=Defendguin
Name[si]=Defendguin
Name[sk]=Defendguin
Name[sl]=Defendguin
Name[sr]=Бранигвин
Name[sr@latin]=Branigvin
Name[sv]=Pingvinförsvar
Name[ta]=டிபென்ட்குய்ன்
Name[te]=డిఫెండ్గ్విన్
Name[tg]=Defendguin
Name[th]=Defendguin
Name[tr]=Defendguin
Name[uk]=Defendguin
Name[uz]=Defendguin
Name[uz@cyrillic]=Defendguin
Name[vi]=Bảo vệ chim cánh cụt
Name[wa]=Defendguin
Name[xh]=Defendguin
Name[x-test]=xxDefendguinxx
Name[zh_CN]=Defendguin
Name[zh_TW]=Defendguin
Type=Application
GenericName=Game
GenericName[af]=Speletjie
GenericName[ar]=لعبة
GenericName[as]=খেলা
GenericName[be]=Гульня
GenericName[be@latin]=Hulnia
GenericName[bg]=Игра
GenericName[bn]=খেলা
GenericName[bn_IN]=খেলা
GenericName[br]=C'hoari
GenericName[ca]=Joc
GenericName[ca@valencia]=Joc
GenericName[cs]=Hra
GenericName[csb]=Gra
GenericName[cy]=Gêm
GenericName[da]=Spil
GenericName[de]=Spiel
GenericName[el]=Παιχνίδι
GenericName[en_GB]=Game
GenericName[eo]=Ludo
GenericName[es]=Juego
GenericName[et]=Mäng
GenericName[eu]=Jokoa
GenericName[fa]=بازی
GenericName[fi]=Peli
GenericName[fr]=Jeu
GenericName[fy]=Spul
GenericName[ga]=Cluiche
GenericName[gl]=Xogo
GenericName[gu]=રમત
GenericName[he]=משחק
GenericName[hi]=खेल
GenericName[hne]=खेल
GenericName[hr]=Igra
GenericName[hsb]=Hra
GenericName[hu]=Ügyességi
GenericName[is]=Leikur
GenericName[it]=Gioco
GenericName[ja]=ゲーム
GenericName[ka]=თამაში
GenericName[kk]=Ойын
GenericName[km]=ល្បែង
GenericName[kn]=ಆಟ
GenericName[ko]=게임
GenericName[ku]=Lîstik
GenericName[lt]=Žaidimas
GenericName[lv]=Spēle
GenericName[mai]=खेल
GenericName[mk]=Игра
GenericName[ml]=കളി
GenericName[mr]=खेळ
GenericName[ms]=Permainan
GenericName[nb]=Spill
GenericName[nds]=Speel
GenericName[ne]=खेल
GenericName[nl]=Spel
GenericName[nn]=Spel
GenericName[oc]=Jòc
GenericName[or]=ଖେଳ
GenericName[pa]=ਖੇਡ
GenericName[pl]=Gra
GenericName[pt]=Jogo
GenericName[pt_BR]=Jogo
GenericName[ro]=Joc
GenericName[ru]=Игра
GenericName[se]=Speallu
GenericName[si]=Game
GenericName[sk]=Hra
GenericName[sl]=Igra
GenericName[sr]=Игра
GenericName[sr@latin]=Igra
GenericName[sv]=Spel
GenericName[ta]=விளையாட்டு
GenericName[te]=ఆట
GenericName[tg]=Бозиҳо
GenericName[th]=เกม
GenericName[tr]=Oyun
GenericName[uk]=Гра
GenericName[uz]=Oʻyin
GenericName[uz@cyrillic]=Ўйин
GenericName[vi]=Trò chơi
GenericName[wa]=Djeu
GenericName[xh]=Umdlalo
GenericName[x-test]=xxGamexx
GenericName[zh_CN]=游戏
GenericName[zh_TW]=遊戲
Exec=defendguin
Icon=
Terminal=false
