[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Defendguin
Name[af]=Verdedig pikkewyn
Name[cy]=Amddiffgwyn
Name[eo]=Pingvindefendo
Name[ko]=펭귄 지키기
Name[ne]=डिफेन्डगुइन
Name[pa]=ਡੀਫੀਡਗੂਨਿ
Name[sv]=Pingvinförsvar
Name[ta]=டிபென்ட்கின்
Name[te]=డిఫెండ్గ్విన్
Name[x-test]=xxDefendguinxx
Type=Application
GenericName=Game
GenericName[af]=Speletjie
GenericName[ar]=لعبة
GenericName[bg]=Игра
GenericName[br]=C'hoari
GenericName[ca]=Joc
GenericName[cs]=Hra
GenericName[cy]=Gêm
GenericName[da]=Spil
GenericName[de]=Spiel
GenericName[el]=Παιχνίδι
GenericName[eo]=Ludo
GenericName[es]=Juego
GenericName[et]=Mäng
GenericName[eu]=Jokoa
GenericName[fa]=بازی
GenericName[fi]=Peli
GenericName[fr]=Jeu
GenericName[fy]=Spul
GenericName[ga]=Cluiche
GenericName[gl]=Xogo
GenericName[he]=משחק
GenericName[hr]=Igra
GenericName[hu]=Ügyességi
GenericName[is]=Leikur
GenericName[it]=Gioco
GenericName[ja]=ゲーム
GenericName[ka]=თამაში
GenericName[kk]=Ойын
GenericName[km]=ល្បែង
GenericName[ko]=놀이
GenericName[lt]=Žaidimas
GenericName[lv]=Spēle
GenericName[mk]=Игра
GenericName[ms]=Permainan
GenericName[nb]=Spill
GenericName[nds]=Speel
GenericName[ne]=खेल
GenericName[nl]=Spel
GenericName[nn]=Spel
GenericName[pa]=ਖੇਡ
GenericName[pl]=Gra
GenericName[pt]=Jogo
GenericName[pt_BR]=Jogo
GenericName[ro]=Joc
GenericName[ru]=Игра
GenericName[se]=Speallu
GenericName[sl]=Igra
GenericName[sr]=Игра
GenericName[sr@Latn]=Igra
GenericName[sv]=Spel
GenericName[ta]=விளையாட்டு
GenericName[te]=ఆట
GenericName[tg]=Бозӣ
GenericName[tr]=Oyun
GenericName[uk]=Гра
GenericName[uz]=Ўйин
GenericName[x-test]=xxGamexx
GenericName[xh]=Umdlalo
GenericName[zh_TW]=遊戲
Exec=defendguin
Icon=
Path=
Terminal=false
