[Desktop Entry]
Name=GTali
Name[af]=Gtali
Name[bn]=জি-টালী
Name[hi]=जी-ताली
Name[ne]=जीट्याली
Name[pa]=G ਟਾਲੀ
Name[sr]=Гтали
Name[sv]=Gtali
Name[te]=జీటాలి
Name[x-test]=xxGTalixx
GenericName=Dice Game
GenericName[af]=Dobbelsteen Speletjie
GenericName[ar]=لعبة نرد
GenericName[be]=Гульня з косткамі
GenericName[bg]=Игра със зарове
GenericName[bn]=ছক্কার খেলা
GenericName[br]=C'hoari diñs
GenericName[ca]=Joc de dades
GenericName[cs]=Kostky
GenericName[csb]=Grë z kòstką
GenericName[cy]=Gêm Deis
GenericName[da]=Terningespil
GenericName[de]=Würfelspiel
GenericName[el]=Παιχνίδι ζαριών
GenericName[eo]=Kuboludo
GenericName[es]=Juego de dados
GenericName[et]=Täringumäng
GenericName[eu]=Dado jokoa
GenericName[fa]=بازی تاس
GenericName[fi]=Noppapeli
GenericName[fr]=Jeu de dés
GenericName[fy]=Dobbelspul
GenericName[ga]=Cluiche Dísle
GenericName[gl]=Xogo de dados
GenericName[he]=משחק קוביות
GenericName[hi]=पाँसे का खेल
GenericName[hr]=Igra s kockicama
GenericName[hu]=Kockajáték
GenericName[is]=Teningaspil
GenericName[it]=Gioco di dadi
GenericName[ja]=サイコロゲーム
GenericName[ka]=თამაშები კამათელით
GenericName[kk]=Dice ойыны
GenericName[km]=ល្បែង​​​ឡុកឡាក់
GenericName[ko]=주사위 놀이
GenericName[lt]=Žaidimas kauliukais
GenericName[lv]=Kauliņu spēle
GenericName[mk]=Игра со коцки
GenericName[ms]=Permainan Dadu
GenericName[nb]=Terningspill
GenericName[nds]=Wörpelspeel
GenericName[ne]=पासा खेल
GenericName[nl]=Dobbelspel
GenericName[nn]=Terningspel
GenericName[pa]=ਡਿਸਕ ਖੇਡ
GenericName[pl]=Gra z kostką
GenericName[pt]=Jogo de Dados
GenericName[pt_BR]=Jogo de Dados
GenericName[ro]=Joc de zaruri
GenericName[ru]=Игра в кости
GenericName[se]=Bircospeallu
GenericName[sk]=Kocky
GenericName[sl]=Igra s kockami
GenericName[sr]=Игра са коцкицама
GenericName[sr@latin]=Igra sa kockicama
GenericName[sv]=Tärningsspel
GenericName[ta]=டைஸ் விளையாட்டு
GenericName[te]=పాచికల ఆట
GenericName[tg]=Тос бозӣ
GenericName[th]=เกมทอดลูกเต๋า
GenericName[tr]=Zar oyunu
GenericName[uk]=Кості
GenericName[uz]=Тош ўйини
GenericName[vi]=Trò chơi súc sắc
GenericName[wa]=Djeu d' dés
GenericName[x-test]=xxDice Gamexx
GenericName[xh]=Umdlalo we Dice
GenericName[zh_CN]=骰子游戏
GenericName[zh_TW]=骰子遊戲
Exec=gtali
Terminal=false
Icon=gnome-gtali
Type=Application
