[Desktop Entry]
Name=GTali
Name[af]=GTali
Name[ar]=جتالي
Name[as]=GTali
Name[be]=GTali
Name[be@latin]=GTali
Name[bg]=GTali
Name[bn]=জি-টালী
Name[bn_IN]=GTali
Name[br]=GTali
Name[ca]=GTali
Name[ca@valencia]=GTali
Name[cs]=GTali
Name[csb]=GTali
Name[cy]=GTali
Name[da]=GTali
Name[de]=GTali
Name[el]=GTali
Name[en_GB]=GTali
Name[eo]=GTali
Name[es]=GTali
Name[et]=GTali
Name[eu]=GTali
Name[fi]=GTali
Name[fr]=GTali
Name[fy]=GTali
Name[ga]=GTali
Name[gl]=GTali
Name[gu]=જીતાલી
Name[he]=GTali
Name[hi]=जी-ताली
Name[hne]=जी-ताली
Name[hr]=GTali
Name[hsb]=GTali
Name[hu]=GTali
Name[is]=GTali
Name[it]=GTali
Name[ja]=GTali
Name[ka]=GTali
Name[kk]=GTali
Name[km]=GTali
Name[kn]=ಗ್ಟಾಲಿ
Name[ko]=GTali
Name[ku]=GTali
Name[lt]=GTali
Name[lv]=GTali
Name[mai]=जी-ताली
Name[mk]=GTali
Name[ml]=ജിടാലി
Name[mr]=जीटॅली
Name[ms]=GTali
Name[nb]=GTali
Name[nds]=GTali
Name[ne]=जीट्याली
Name[nl]=GTali
Name[nn]=GTali
Name[oc]=GTali
Name[or]=GTali
Name[pa]=G ਟਾਲੀ
Name[pl]=GTali
Name[pt]=GTali
Name[pt_BR]=GTali
Name[ro]=GTali
Name[ru]=GTali
Name[se]=GTali
Name[si]=GTali
Name[sk]=GTali
Name[sl]=GTali
Name[sr]=Гтали
Name[sr@latin]=GTali
Name[sv]=Gtali
Name[ta]=ஜிடாலி
Name[te]=జీటాలి
Name[tg]=GTali
Name[th]=GTali
Name[tr]=GTali
Name[uk]=GTali
Name[uz]=GTali
Name[uz@cyrillic]=GTali
Name[vi]=GTali
Name[wa]=GTali
Name[xh]=GTali
Name[x-test]=xxGTalixx
Name[zh_CN]=GTali
Name[zh_TW]=GTali
GenericName=Dice Game
GenericName[af]=Dobbelsteen Speletjie
GenericName[ar]=لعبة نرد
GenericName[as]=Dice Game
GenericName[be]=Гульня з косткамі
GenericName[be@latin]=Hulnia ŭ kostki
GenericName[bg]=Игра със зарове
GenericName[bn]=ছক্কার খেলা
GenericName[bn_IN]=পাশার খেলা
GenericName[br]=C'hoari diñs
GenericName[ca]=Joc de dades
GenericName[ca@valencia]=Joc de dades
GenericName[cs]=Kostky
GenericName[csb]=Grë z kòstką
GenericName[cy]=Gêm Deis
GenericName[da]=Terningespil
GenericName[de]=Würfelspiel
GenericName[el]=Παιχνίδι ζαριών
GenericName[en_GB]=Dice Game
GenericName[eo]=Kuboludo
GenericName[es]=Juego de dados
GenericName[et]=Täringumäng
GenericName[eu]=Dado jokoa
GenericName[fa]=بازی تاس
GenericName[fi]=Noppapeli
GenericName[fr]=Jeu de dés
GenericName[fy]=Dobbelspul
GenericName[ga]=Cluiche Dísle
GenericName[gl]=Xogo de dados
GenericName[gu]=પાસાં રમત
GenericName[he]=משחק קוביות
GenericName[hi]=पाँसे का खेल
GenericName[hne]=पाँसा वाले खेल
GenericName[hr]=Igra s kockicama
GenericName[hsb]=Kóstkowe hry
GenericName[hu]=Kockajáték
GenericName[is]=Teningaspil
GenericName[it]=Gioco di dadi
GenericName[ja]=ダイスゲーム
GenericName[ka]=თამაშები კამათელით
GenericName[kk]=Dice ойыны
GenericName[km]=ល្បែង​​​ឡុកឡាក់
GenericName[kn]=ದಾಳದಾಟ
GenericName[ko]=주사위 놀이
GenericName[ku]=Lîstika Zar
GenericName[lt]=Žaidimas kauliukais
GenericName[lv]=Kauliņu spēle
GenericName[mai]=पाँसाक खेल
GenericName[mk]=Игра со коцки
GenericName[ml]=പകിട കളി
GenericName[mr]=फासा खेळ
GenericName[ms]=Permainan Dadu
GenericName[nb]=Terningspill
GenericName[nds]=Wörpelspeel
GenericName[ne]=पासा खेल
GenericName[nl]=Dobbelspel
GenericName[nn]=Terningspel
GenericName[or]=ଡ଼ାଇସ ଖେଳ
GenericName[pa]=ਡਿਸਕ ਖੇਡ
GenericName[pl]=Gra z kostką
GenericName[pt]=Jogo de Dados
GenericName[pt_BR]=Jogo de dados
GenericName[ro]=Joc de zaruri
GenericName[ru]=Игра в кости
GenericName[se]=Bircospeallu
GenericName[si]=Dice Game
GenericName[sk]=Kocky
GenericName[sl]=Igra s kockami
GenericName[sr]=Игра са коцкицама
GenericName[sr@latin]=Igra sa kockicama
GenericName[sv]=Tärningsspel
GenericName[ta]=டைஸ் விளையாட்டு
GenericName[te]=పాచికల ఆట
GenericName[tg]=Бозиҳои Dice
GenericName[th]=เกมทอดลูกเต๋า
GenericName[tr]=Zar oyunu
GenericName[uk]=Кості
GenericName[uz]=Tosh oʻyini
GenericName[uz@cyrillic]=Тош ўйини
GenericName[vi]=Trò chơi súc sắc
GenericName[wa]=Djeu d' dés
GenericName[xh]=Umdlalo we Dice
GenericName[x-test]=xxDice Gamexx
GenericName[zh_CN]=骰子游戏
GenericName[zh_TW]=骰子遊戲
Exec=gtali
Terminal=false
Icon=gnome-gtali
Type=Application
