[Desktop Entry]
Version=1.0
Name=Penguin Command
Name[af]=Pikkewyn Beheerstasie
Name[ar]=قيادة البطريق
Name[as]=Penguin Command
Name[be]=Penguin Command
Name[be@latin]=Penguin Command
Name[bg]=Penguin Command
Name[bn]=পেঙ্গুইন কমান্ড
Name[bn_IN]=Penguin Command
Name[br]=Urzhiad penn-gwenn
Name[ca]=Comand Pingüí
Name[ca@valencia]=Comand Pingüí
Name[cs]=Penguin Command
Name[csb]=Penguin Command
Name[cy]=Rheolaeth Pengwyn
Name[da]=Pingvin-kommando
Name[de]=Penguin Command
Name[el]=Penguin Command
Name[en_GB]=Penguin Command
Name[eo]=Penguin Command
Name[es]=Penguin Command
Name[et]=Penguin Command
Name[eu]=Penguin Command
Name[fa]=Penguin فرمان
Name[fi]=Penguin Command
Name[fr]=Penguin Command
Name[fy]=Penguin Command
Name[ga]=Penguin Command
Name[gl]=Comando Pingüín
Name[gu]=પેંગ્વિન કમાન્ડ
Name[he]=Penguin Command
Name[hi]=पेंग्विन कमांड
Name[hne]=पेंग्विन कमांड
Name[hr]=Penguin Command
Name[hsb]=Penguin Command
Name[hu]=Pingvin-invázió
Name[is]=Penguin Command
Name[it]=Penguin Command
Name[ja]=ペンギンコマンド
Name[ka]=Penguin Command
Name[kk]=Penguin Command
Name[km]=ពាក្យ​បញ្ជា​ផេនឃ្វីន
Name[kn]=ಪೆಂಗ್ವಿನ್ ಆದೇಶ
Name[ko]=Penguin Command
Name[ku]=Penguin Command
Name[lt]=Penguin Command
Name[lv]=Pingvīnu komanda
Name[mai]=पेंग्विन कमांड
Name[mk]=Penguin Command
Name[ml]=പെന്‍ഗ്വിന്‍ ആജ്ഞ
Name[mr]=पेंग्विन आदेश
Name[ms]=Arahan Penguin
Name[nb]=Penguin Command
Name[nds]=Penguin Command
Name[ne]=पेन्गुइन आदेश
Name[nl]=Penguin Command
Name[nn]=Penguin Command
Name[or]=ପେଙ୍ଗୁଇନ ନିର୍ଦ୍ଦେଶ
Name[pa]=ਪੈਗੂਇਨ ਕਮਾਂਡ
Name[pl]=Penguin Command
Name[pt]=Penguin Command
Name[pt_BR]=Penguin Command
Name[ro]=Penguin Command
Name[ru]=Penguin Command
Name[se]=Penguin Command
Name[si]=Penguin Command
Name[sk]=Penguin Command
Name[sl]=Penguin Command
Name[sr]=Пингвинска команда
Name[sr@latin]=Pingvinska komanda
Name[sv]=Pingvinkommando
Name[ta]=பென்குயின் ஆணை
Name[te]=పెంగ్విన్ కమాండ్
Name[tg]=Фармонҳои Penguin
Name[th]=Penguin Command
Name[tr]=Penguin Command
Name[uk]=Команда пінгвінів
Name[vi]=Lệnh chim cánh cụt
Name[wa]=Penguin Command
Name[xh]=Penguin Command
Name[x-test]=xxPenguin Commandxx
Name[zh_CN]=企鹅指挥官
Name[zh_TW]=企鵝命令
Type=Application
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[as]=Arcade Game
GenericName[be]=Аркадная гульня
GenericName[be@latin]=Arkadnaja hulnia
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[bn_IN]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[ca@valencia]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arcade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[en_GB]=Arcade Game
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[gu]=અર્કાડે રમત
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hne]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hsb]=Třělanske hry
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mai]=आर्केड खेल
GenericName[mk]=Аркадна игра
GenericName[ml]=ആര്‍കേഡ് കളി
GenericName[mr]=आर्केड खेळ
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[or]=Arcade ଖେଳ
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[si]=Arcade ක්‍රීඩාව
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Spelhallspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозиҳои аркад
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Arkada oʻyini
GenericName[uz@cyrillic]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umdlalo we Arcade
GenericName[x-test]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=penguin-command
Icon=
Terminal=false
