[Desktop Entry]
Version=1.0
Name=Penguin Command
Name[af]=Pikkewyn Opdrag
Name[ar]=قيادة البطريق
Name[bn]=পেঙ্গুইন কমান্ড
Name[br]=Urzhiad penn-gwenn
Name[ca]=Comand Pingüí
Name[cy]=Rheolaeth Pengwyn
Name[da]=Pingvin-kommando
Name[fa]=Penguin فرمان
Name[gl]=Comando Pingüín
Name[hi]=पेंग्विन कमांड
Name[hu]=Pingvin-invázió
Name[ja]=ペンギンコマンド
Name[km]=ពាក្យ​បញ្ជា​ផេនឃ្វីន
Name[lv]=Pingvīnu komanda
Name[ms]=Arahan Penguin
Name[ne]=पेन्गुइन आदेश
Name[pa]=ਪੈਗੂਇਨ ਕਮਾਂਡ
Name[sr]=Пингвинска команда
Name[sr@latin]=Pingvinska komanda
Name[sv]=Pingvinkommando
Name[ta]=பென்குயின் ஆணை
Name[te]=పెంగ్విన్ కమాండ్
Name[uk]=Команда пінгвінів
Name[vi]=Lệnh chim cánh cụt
Name[x-test]=xxPenguin Commandxx
Name[zh_CN]=企鹅指挥官
Name[zh_TW]=企鵝命令
Type=Application
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=ألعاب أركيد
GenericName[be]=Аркадная гульня
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড খেলা
GenericName[br]=C'hoari tavarn
GenericName[ca]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[csb]=Chwatkòwô gra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade jokoa
GenericName[fa]=بازی گذرگاه تاقدار
GenericName[fi]=Videopeli
GenericName[fr]=Jeu d'arcade
GenericName[fy]=Arcade-Spul
GenericName[ga]=Cluiche Stuara
GenericName[gl]=Xogo arcade
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ka]=Arcade თამაშები
GenericName[kk]=Аркад ойыны
GenericName[km]=ល្បែង​ទូ
GenericName[kn]=ಆರ್ಕೇಡ್ ಆಟ
GenericName[ko]=아케이드 게임
GenericName[ku]=Lîstika Serpêhatî
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes spēle
GenericName[mk]=Аркадна игра
GenericName[ms]=Permainan Arked
GenericName[nb]=Arkadespill
GenericName[nds]=Ut de Speelhall
GenericName[ne]=आर्केड खेल
GenericName[nl]=Arcade-spel
GenericName[nn]=Arkadespel
GenericName[pa]=ਆਰਕਡੀ ਖੇਡ
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo tipo Arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@latin]=Arkadna igra
GenericName[sv]=Arkadspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[te]=ఆర్కేడ్ ఆట
GenericName[tg]=Бозии Arcade
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[uz]=Аркада ўйини
GenericName[vi]=Trò chơi mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[x-test]=xxArcade Gamexx
GenericName[xh]=Umdlalo we Arcade
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
Exec=penguin-command
Icon=
Terminal=false
