[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=XShipWars
Name[af]=Xskeepsoorloë
Name[cs]=Válka lodí
Name[cy]=RhyfelauLlongX
Name[eo]=XŜipbatalo
Name[hu]=XShipWare
Name[km]=សង្គ្រាម​កប៉ាល់
Name[ko]=함선 전투
Name[ne]=एक्स सिपवार
Name[pa]=Xਜਹਾਜ਼ ਦੀ ਲੜਾਈ
Name[sv]=Xshipwars
Name[te]=ఎక్స్ షిప్ వార్స్
Name[x-test]=xxXShipWarsxx
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=لعبة استراتيجية
GenericName[br]=C'hoari a gadouriezh
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[csb]=Strategicznô gra
GenericName[cy]=Gêm Strategaeth
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[eu]=Estrategia jokoa
GenericName[fa]=بازی راهبرد
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[fy]=Strategysk spul
GenericName[ga]=Cluiche Straitéise
GenericName[gl]=Xogo de Estratexia
GenericName[he]=משחק אסטרטגיה
GenericName[hr]=Slobodna verzija Civilizacije - Igra strategije
GenericName[hu]=Stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[ka]=სტრატეგიული თამაში
GenericName[kk]=Стратегия ойыны
GenericName[km]=ល្បែង​យុទ្ធសាស្ត្រ
GenericName[ko]=전략 놀이
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģiskā Game
GenericName[mk]=Стратегиска игра
GenericName[ms]=Permainan Strategi
GenericName[nb]=Strategispill
GenericName[nds]=Strategiespeel
GenericName[ne]=रणनीति खेल
GenericName[nl]=Strategisch spel
GenericName[nn]=Strategispel
GenericName[pa]=ਯੋਜਨਾ ਖੇਡ
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегическая игра
GenericName[se]=Strategiijaspeallu
GenericName[sl]=Strateška igra
GenericName[sr]=Стратешка игра
GenericName[sr@latin]=Strateška igra
GenericName[sv]=Strategispel
GenericName[ta]=தந்திர விளையாட்டு
GenericName[te]=తంత్రపు ఆట
GenericName[tg]=Бозии стратегӣ
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[uz]=Стратегия ўйини
GenericName[wa]=Djeu di stratedjeye
GenericName[x-test]=xxStrategy Gamexx
GenericName[xh]=Indlela ethile Yomdlalo
GenericName[zh_TW]=策略遊戲
Exec=xshipwars
Icon=
Path=
Terminal=false
