[Desktop Entry]
Name=Balsa
Name[af]=Balsa
Name[ar]=برنامج البريد Balsa
Name[as]=Balsa
Name[be]=Balsa
Name[be@latin]=Balsa
Name[bg]=Balsa
Name[bn]=বালসা
Name[bn_IN]=Balsa
Name[br]=Balsa
Name[ca]=Balsa
Name[ca@valencia]=Balsa
Name[cs]=Balsa
Name[csb]=Balsa
Name[cy]=Balsa
Name[da]=Balsa
Name[de]=Balsa
Name[el]=Balsa
Name[en_GB]=Balsa
Name[eo]=Balsa
Name[es]=Balsa
Name[et]=Balsa
Name[eu]=Balsa
Name[fi]=Balsa
Name[fr]=Balsa
Name[fy]=Balsa
Name[ga]=Balsa
Name[gl]=Balsa
Name[gu]=બાલ્સા
Name[he]=Balsa
Name[hi]=बाल्सा
Name[hne]=बाल्सा
Name[hr]=Balsa
Name[hsb]=Balsa
Name[hu]=Balsa
Name[is]=Balsa
Name[it]=Balsa
Name[ja]=Balsa
Name[ka]=Balsa
Name[kk]=Balsa
Name[km]=ប្លាស្មា
Name[kn]=ಬಾಲ್ಸಾ
Name[ko]=Balsa
Name[ku]=Balsa
Name[lt]=Balsa
Name[lv]=Balsa
Name[mai]=बाल्सा
Name[mk]=Balsa
Name[ml]=ബല്‍സ
Name[mr]=बाल्सा
Name[ms]=Balsa
Name[nb]=Balsa
Name[nds]=Balsa
Name[ne]=बाल्सा
Name[nl]=Balsa
Name[nn]=Balsa
Name[oc]=Balsa
Name[or]=Balsa
Name[pa]=ਬਾਲਸਾ
Name[pl]=Balsa
Name[pt]=Balsa
Name[pt_BR]=Balsa
Name[ro]=Balsa
Name[ru]=Balsa
Name[se]=Balsa
Name[si]=Balsa
Name[sk]=Balsa
Name[sl]=Balsa
Name[sr]=Балса
Name[sr@latin]=Balsa
Name[sv]=Balsa
Name[ta]=பால்சா
Name[te]=బాల్సా
Name[tg]=Balsa
Name[th]=Balsa
Name[tr]=Balsa
Name[uk]=Balsa
Name[uz]=Balsa
Name[uz@cyrillic]=Balsa
Name[vi]=Balsa
Name[wa]=Balsa
Name[xh]=Balsa
Name[x-test]=xxBalsaxx
Name[zh_CN]=Balsa
Name[zh_TW]=Balsa
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=عميل البريد
GenericName[as]=ডাক ব্যৱস্থাৰ গ্ৰাহক
GenericName[be]=Паштовы кліент
GenericName[be@latin]=Paštar
GenericName[bg]=Клиент за е-поща
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[bn_IN]=মেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[ca@valencia]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝta kliento
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ક્લાયન્ટ
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hne]=डाकिया
GenericName[hr]=Klijent e-pošte
GenericName[hsb]=emejlowy program
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[kn]=ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=메일 클라이언트
GenericName[ku]=Daxwazkara Mailan
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Програма за електронска пошта
GenericName[ml]=മെയില്‍ ക്ലയന്റ്
GenericName[mr]=मेल क्लाऐंट
GenericName[ms]=Klien Mel
GenericName[nb]=E-postprogram
GenericName[nds]=Nettpostprogramm
GenericName[ne]=मेल क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Logicial de messatjariá
GenericName[or]=ମେଲ କ୍ଲାଏଣ୍ଟ
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Program de poștă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[si]=තැපැල් සහායක
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Клијент е‑поште
GenericName[sr@latin]=Klijent e‑pošte
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் வாங்கி
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Мизоҷи почта
GenericName[th]=โปรแกรมรับส่งอีเมล
GenericName[tr]=E-posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=电子邮件客户端
GenericName[zh_TW]=郵件處理程式
Exec=balsa
Terminal=false
Icon=balsa
Type=Application
