[Desktop Entry]
Encoding=UTF-8
Name=BlueFish
Name[af]=Blou-vis
Name[eo]=Blufiŝo
Name[ne]=ब्लुफिस
Name[pa]=ਬਲਿਊ-ਫਿਸ਼
Name[sl]=Modra riba
Name[sv]=Bluefish
Name[ta]=நீல மீன்
Name[te]=బ్లూఫిష్
Name[tg]=Моҳии обӣ
Name[x-test]=xxBlueFishxx
GenericName=HTML Editor
GenericName[af]=Html Redigeerder
GenericName[ar]=محرر HTML
GenericName[bg]=HTML редактор
GenericName[br]=Aozer HTML
GenericName[ca]=Editor d'HTML
GenericName[cs]=Editor HTML
GenericName[csb]=HTML editora
GenericName[cy]=Golygydd HTML
GenericName[da]=HTML-editor
GenericName[de]=HTML-Editor
GenericName[el]=Επεξεργαστής HTML
GenericName[eo]=HTML-redaktilo
GenericName[es]=Editor HTML
GenericName[et]=HTML redaktor
GenericName[eu]=HTML editorea
GenericName[fa]=ویرایشگر زنگام
GenericName[fi]=HTML-editori
GenericName[fr]=Un éditeur HTML
GenericName[fy]=HTML-bewurker
GenericName[ga]=Eagarthóir HTML
GenericName[gl]=Editor HTML
GenericName[he]=עורך HTML
GenericName[hr]=HTML uređivač
GenericName[hu]=HTML-szerkesztő
GenericName[is]=HTML ritill
GenericName[it]=Editor HTML
GenericName[ja]=HTML エディタ
GenericName[ka]=HTML რედაქტორი
GenericName[kk]=HTML редакторы
GenericName[km]=កម្មវិធី​និពន្ធ HTML
GenericName[ko]=HTML 편집기
GenericName[lt]=HTML rengyklė
GenericName[lv]=HTML Redaktors
GenericName[mk]=Уредувач на HTML
GenericName[ms]=Penyunting HTML
GenericName[nb]=HTML-redigering
GenericName[nds]=Editor för HTML
GenericName[ne]=HTML सम्पादक
GenericName[nl]=HTML-editor
GenericName[nn]=HTML-redigering
GenericName[pa]=HTML ਸੰਪਾਦਕ
GenericName[pl]=Edytor plików HTML
GenericName[pt]=Editor de HTML
GenericName[pt_BR]=Editor HTML
GenericName[ro]=Editor HTML
GenericName[ru]=Редактор HTML
GenericName[se]=HTML-čállinprográmma
GenericName[sl]=Urejevalnik HTML
GenericName[sr]=HTML уређивач
GenericName[sr@Latn]=HTML uređivač
GenericName[sv]=HTML-editor
GenericName[ta]=HTML திருத்துபவர்
GenericName[te]=హెచ్ టి ఎంఎల్ ఎడిటర్
GenericName[tg]=Муҳаррири HTML
GenericName[tr]=HTML Düzenleyici
GenericName[uk]=Редактор HTML
GenericName[uz]=HTML таҳрирчи
GenericName[wa]=Aspougneu di pådjes HTML
GenericName[x-test]=xxHTML Editorxx
GenericName[xh]=Umhleli we HTML
GenericName[zh_TW]=HTML 編輯器
Exec=bluefish
Terminal=false
Icon=bluefish
Type=Application
