[Desktop Entry]
Exec=btdownloadgui.py
GenericName=BitTorrent GUI
GenericName[be]=Графічны кліент BitTorrent
GenericName[bg]=ГПИ за BitTorrent
GenericName[ca]=IGU per a BitTorrent
GenericName[csb]=Graficzny interfejs dlô BitTorrent
GenericName[cy]=Rhyngwyneb Graffegol (GUI) BitTorrent
GenericName[de]=BitTorrent-Oberfläche
GenericName[fa]=ونک BitTorrent
GenericName[fi]=BitTorrent-käyttöliittymä
GenericName[fr]=Interface graphique de BitTorrent
GenericName[fy]=Ynterface foar BitTorrent
GenericName[ga]=Comhéadan Grafach BitTorrent
GenericName[he]=ממשק גרפי ל־BitTorrent
GenericName[hu]=BitTorrent-felület
GenericName[is]=BitTorrent viðmót
GenericName[it]=GUI per BitTorrent
GenericName[ka]=გრაფიკული BitTorrent
GenericName[kk]=BitTorrent графикалық интерфейс
GenericName[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ​របស់ BitTorrent
GenericName[ko]=비트토렌트 GUI
GenericName[lt]=BitTorrent GVS
GenericName[ms]=GUI BitTorrent
GenericName[nb]=Grensesnitt for BitTorrent
GenericName[nds]=Graafsche Böversiet för BitTorrent
GenericName[ne]=बिट टोरेन्ट जीयूआई
GenericName[nl]=Interface voor BitTorrent
GenericName[nn]=BitTorrent-grensesnitt
GenericName[pa]=ਬਿੱਟੋਓਰਿਨਟ GUI
GenericName[pl]=Interfejs graficzny do BitTorrent
GenericName[pt]=Interface de BitTorrent
GenericName[pt_BR]=Interface do BitTorrent
GenericName[ro]=Interfaţă grafică BitTorrent
GenericName[ru]=Графический интерфейс BitTorrent
GenericName[se]=BitTorrent-lákta
GenericName[sv]=Grafiskt gränssnitt för BitTorrent 
GenericName[ta]=பிட்டார்ரென்ட் GUI
GenericName[te]=బిట్ టొరెంట్ జియూఐ
GenericName[tg]=BitTorrent-ро ба графики корбар
GenericName[th]=GUI ของบิตทอร์เรนท์
GenericName[tr]=BitTorrent Arayüzü
GenericName[uz]=BitTorrent учун график интерфейс
GenericName[vi]=Giao diện BitTorrent
GenericName[wa]=Eterface grafike po BitTorrent
GenericName[x-test]=xxBitTorrent GUIxx
GenericName[zh_CN]=BitTorrent 图形用户界面
GenericName[zh_TW]=BitTorrent 圖型使用者介面
Icon=xapp
InitialPreference=2
MimeType=application/x-bittorrent
Name=BitTorrent Python wxGTK GUI
Name[be]=Графічны кліент BitTorrent на Python з wxGTK
Name[ca]=IGU per a BitTorrent en Python wxGTK
Name[csb]=Graficzny interfejs dlô BitTorrent brëkùjący wxGTK
Name[cy]=Rhyngwyneb Graffegol (GIU) wxGTK Python BitTorrent
Name[de]=BitTorrent-Python wxGTK-Oberfläche
Name[et]=BitTorrent Python wxGTK
Name[fa]=ونک BitTorrent Python wxGTK
Name[fi]=BitTorrentin Python wxGTK -käyttöliittymä
Name[fr]=Interface graphique wxGTK de BitTorrent écrite en Python
Name[ga]=Comhéadan wxGTK BitTorrent Python
Name[gl]=GUI para BitTorrent en Python wxGTK
Name[he]=ממשק גרפי מבוסס Python wxGTK ל־BitTorrent
Name[hu]=BitTorrent Python wxGTK grafikus felület
Name[is]=BitTorrent viðmót í wxGTK
Name[it]=GUI in python e wxGTK per BitTorrent
Name[ka]=გრაფიკული BitTorrent
Name[kk]=Python wxGTK-да жазылған BitTorrent графикалық интерфейсі
Name[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ BitTorrent Python wxGTK
Name[ko]=비트토렌트 Python wxGTK GUI
Name[lt]=BitTorrent Python wxGTK grafinė naudotojo sąsaja
Name[ms]=GUI wxGTK Python BitTorrent
Name[nds]=Graafsche BitTorrent Python wxGTK Böversiet
Name[ne]=बिटटोरेन्ट पाइथोन wxGTK GUI
Name[pl]=Interfejs graficzny do BitTorrent używający wxGTK
Name[pt]=Interface wxGTK para o BitTorrent em Python
Name[pt_BR]=Interface em wxGTK Python para o BitTorrent
Name[ro]=Interfaţă "wxGTK" Python BitTorrent
Name[ru]=Графический интерфейс BitTorrent
Name[sl]=BitTorrent Python z vmesnikom wxGTK
Name[sv]=BitTorrent Python wxGTK grafiskt gränssnitt
Name[ta]=பிட் டொரென்ட் பைதொன wxGTK GUI
Name[te]=బిట్ టొరెంట్ పైతాన్ డబ్ల్యూజిటికె జియూఐ
Name[tg]=Робитаи графикии корбари BitTorrent Python wxGTK
Name[th]=GUI ของบิตทอร์เรนท์ โดยใช้ Python wxGTK
Name[tr]=BitTorrent Python wxGTK Arayüzü
Name[uk]=Графічний інтерфейс BitTorrent Python wxGTK
Name[uz]=BitTorrent учун Python wxGTK график интерфейс
Name[vi]=Giao diện wxGTK Python BitTorrent
Name[wa]=Eterface grafike e python wxGTK po BitTorrent
Name[x-test]=xxBitTorrent Python wxGTK GUIxx
Name[zh_CN]=BitTorrent Python wxGTK 图形用户界面
Name[zh_TW]=BitTorrent Python wxGTK 圖型使用者介面
ServiceTypes=
Terminal=false
Type=Application
Encoding=UTF-8
