[Desktop Entry]
Exec=dc_gui
Icon=xapp
Name=DCTC GUI
Name[af]=DCTC GUI
Name[ar]=واجهة DCTC
Name[as]=DCTC GUI
Name[be]=Графічны кліент DCTC
Name[be@latin]=Hrafičny interfejs dla DCTC
Name[bg]=ГПИ за DCTC
Name[bn]=DCTC গুই
Name[bn_IN]=DCTC GUI
Name[br]=Etrefas DCTC
Name[ca]=IGU per a DCTC
Name[ca@valencia]=IGU per a DCTC
Name[cs]=DCTC GUI
Name[csb]=Graficzny interfejs dlô DCTC
Name[cy]=DCTC GUI
Name[da]=DCTC GUI
Name[de]=DCTC-Oberfläche
Name[el]=DCTC GUI
Name[en_GB]=DCTC GUI
Name[eo]=DCTC GUI
Name[es]=Interfaz GUI DCTC
Name[et]=DCTC kasutajaliides
Name[eu]=DCTC GUI
Name[fa]=ونک DCTC
Name[fi]=DCTC GUI
Name[fr]=Interface graphique à DCTC
Name[fy]=DCTC GUI
Name[ga]=Comhéadan Grafach DCTC
Name[gl]=Interface para DCTC
Name[gu]=DCTC GUI
Name[he]=DCTC GUI
Name[hi]=डीसीटीसी जीयूआई
Name[hne]=डीसीटीसी जीयूआई
Name[hr]=DCTC GUI
Name[hsb]=DCTC GUI
Name[hu]=DCTC grafikus felület
Name[is]=DCTC GUI
Name[it]=DCTC GUI
Name[ja]=DCTC GUI
Name[ka]=DCTC GUI
Name[kk]=DCTC графикалық интерфейсі
Name[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ DCTC
Name[kn]=DCTC GUI
Name[ko]=DCTC GUI
Name[ku]=DCTC GUI
Name[lt]=DCTC GUI
Name[lv]=DCTC saskarne
Name[mai]=डीसीटीसी जीयूआई
Name[mk]=DCTC GUI
Name[ml]=ഡിസിടിസി ഗുയി
Name[mr]=DCTC GUI
Name[ms]=DCTC GUI
Name[nb]=DCTC-grensesnitt
Name[nds]=Graafsche Böversiet för DCTC
Name[ne]=DCTC GUI
Name[nl]=DCTC GUI
Name[nn]=DCTC-grensesnitt
Name[or]=DCTC GUI
Name[pa]=DCTC GUI
Name[pl]=Graficzny interfejs do DCTC
Name[pt]=Interface do DCTC
Name[pt_BR]=Interface DCTC
Name[ro]=DCTC GUI
Name[ru]=DCTC GUI
Name[se]=DCTC-lakta
Name[si]=DCTC GUI
Name[sk]=DCTC GUI
Name[sl]=DCTC GUI
Name[sr]=ГУИ за ДЦТЦ
Name[sr@latin]=GUI za DCTC
Name[sv]=Grafiskt gränssnitt för DCTC
Name[ta]=DCTC முகப்பு
Name[te]=డిసిటిసి జియూఐ
Name[tg]=Барномаи DCTC
Name[th]=DCTC แบบกราฟิก
Name[tr]=DCTC GUI
Name[uk]=Інтерфейс для DCTC
Name[uz]=DCTC uchun grafik interfeys
Name[uz@cyrillic]=DCTC учун график интерфейс
Name[vi]=DCTC GUI
Name[wa]=Eterface grafike po DCTC
Name[xh]=DCTC GUI
Name[x-test]=xxDCTC GUIxx
Name[zh_CN]=DCTC 图形用户界面
Name[zh_TW]=DCTC 圖型使用者介面
GenericName=Direct Connect Clone
GenericName[af]=Direct Connect namaaksel
GenericName[ar]=الاتصال المباشر Clone
GenericName[as]=Direct Connect Clone
GenericName[be]=Клон Direct Connect
GenericName[be@latin]=Versija prahramy „Direct Connect”
GenericName[bg]=Direct Connect Clone
GenericName[bn]=ডাইরেক্ট কানেক্ট ক্লোন
GenericName[bn_IN]=ডিরেক্ট কানেক্ট ক্লোন
GenericName[ca]=Clon per a la connexió directa
GenericName[ca@valencia]=Clon per a la connexió directa
GenericName[cs]=Klon Direct Connect
GenericName[csb]=Klon Direct Connect (direkt łączba)
GenericName[cy]=Clôn Cysylltu Uniongyrchol
GenericName[da]=Direct Connect klon
GenericName[de]=Direct-Connect-Klon
GenericName[el]=Κλώνος απευθείας σύνδεσης(DCC)
GenericName[en_GB]=Direct Connect Clone
GenericName[eo]=Klono de Direct Connect
GenericName[es]=Clon de Direct Connect
GenericName[et]=Direct Connect kloon
GenericName[eu]=Direct Connect-en klonea
GenericName[fa]=بدل اتصال مستقیم
GenericName[fi]=Direct Connect klooni
GenericName[fr]=Clone de Direct Connect
GenericName[fy]=Direkt Ferbining-kloan
GenericName[ga]=Clón Direct Connect
GenericName[gl]=Clon de Direct Connect
GenericName[gu]=સીધું જોડાણ નકલ
GenericName[he]=תואם Direct Connect
GenericName[hi]=डायरेक्ट कनेक्ट क्लोन
GenericName[hne]=डायरेक्ट कनेक्ट क्लोन
GenericName[hr]=Direct Connect klon
GenericName[hsb]=Direct Connect Clone
GenericName[hu]=Direct Connect-változat
GenericName[is]=Direct Connect klónn
GenericName[it]=Clone di Direct Connect
GenericName[ja]=Direct Connect クローン
GenericName[ka]=კლონი Direct Connect
GenericName[kk]=Direct Connect клоны
GenericName[km]=ក្លូន​ការ​តភ្ជាប់​ដោយ​ផ្ទាល់
GenericName[kn]=ನೇರ ಸಂಪರ್ಕ ತದ್ರೂಪು (Direct Connect clone)
GenericName[ko]=Direct Connect 클론
GenericName[ku]=Bernameya Direct Connect
GenericName[lt]=Direct Connect klonas
GenericName[lv]=Direct Connect klons
GenericName[mai]=डायरेक्ट कनेक्ट क्लोन
GenericName[mk]=Клон на Direct Connect
GenericName[ml]=ഡയറക്റ്റ് കണക്റ്റിന്റെ ക്ലോണ്‍
GenericName[mr]=डायरेक्ट कनेक्ट क्लोन
GenericName[ms]=Klon Direct Connect
GenericName[nb]=Klone av «Direct Connect»
GenericName[nds]=Kloon vun Direct Connect
GenericName[ne]=प्रत्यक्ष जडान क्लोन
GenericName[nl]=Direct Connect-kloon
GenericName[nn]=Direct Connect-klone
GenericName[or]=ସିଧାସଳଖ ସଂଯୋଗ କ୍ଲୋନ
GenericName[pa]=ਸਿੱਧਾ ਕੁਨੈਕਸ਼ਨ ਕਲੋਨ
GenericName[pl]=Klon Direct Connect (Bezpośrednie Łącze)
GenericName[pt]=Clone do Direct Connect
GenericName[pt_BR]=Clone do Direct Connect
GenericName[ro]=Clonă de Direct Connect
GenericName[ru]=Клон Direct Connect
GenericName[se]=Direct Connect-klona
GenericName[si]=Direct Connect Clone
GenericName[sk]=Klon Direct Connect
GenericName[sl]=Klon programa Direct Connect
GenericName[sr]=Клон Директконекта
GenericName[sr@latin]=Klon Direct Connecta
GenericName[sv]=Kopia av Direct Connect
GenericName[ta]=நேரடி இணைப்பு மாதிரி
GenericName[te]=సూటి సంబంధ క్లోన్
GenericName[tg]=Нусхаи Direct Connect
GenericName[th]=โปรแกรมเลียนแบบ Direct Connect
GenericName[tr]=Direct Connect Programı
GenericName[uk]=Клон прямого зв'язку
GenericName[vi]=Kết nối trực tiếp
GenericName[wa]=Clône di «Direct Connect»
GenericName[xh]=Udibaniso Ngqo lwe Klone
GenericName[x-test]=xxDirect Connect Clonexx
GenericName[zh_CN]=直接连线克隆
GenericName[zh_TW]=直接連線仿製
Terminal=false
Type=Application
