[Desktop Entry]
Exec=dc_gui
Icon=xapp
Name=DCTC GUI
Name[ar]=واجهة DCTC
Name[be]=Графічны кліент DCTC
Name[bg]=ГПИ за DCTC
Name[bn]=DCTC গুই
Name[br]=Etrefas DCTC
Name[ca]=IGU per a DCTC
Name[csb]=Graficzny interfejs dlô DCTC
Name[de]=DCTC-Oberfläche
Name[es]=Interfaz GUI DCTC
Name[et]=DCTC kasutajaliides
Name[fa]=ونک DCTC
Name[fr]=Interface graphique à DCTC
Name[ga]=Comhéadan Grafach DCTC
Name[gl]=GUI para DCTC
Name[hi]=डीसीटीसी जीयूआई
Name[hu]=DCTC grafikus felület
Name[kk]=DCTC графикалық интерфейсі
Name[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ DCTC
Name[lv]=DCTC saskarne
Name[nb]=DCTC-grensesnitt
Name[nds]=Graafsche Böversiet för DCTC
Name[nn]=DCTC-grensesnitt
Name[pl]=Graficzny interfejs do DCTC
Name[pt]=Interface do DCTC
Name[pt_BR]=Interface DCTC
Name[se]=DCTC-lakta
Name[sr]=ГУИ за ДЦТЦ
Name[sr@latin]=GUI za DCTC
Name[sv]=Grafiskt gränssnitt för DCTC
Name[ta]=DCTC முகப்பு
Name[te]=డిసిటిసి జియూఐ
Name[tg]=Робитаи графикии корбари DCTC 
Name[th]=GUI ของ DCTC
Name[uk]=Інтерфейс для DCTC
Name[uz]=DCTC учун график интерфейс
Name[wa]=Eterface grafike po DCTC
Name[x-test]=xxDCTC GUIxx
Name[zh_CN]=DCTC 图形用户界面
Name[zh_TW]=DCTC 圖型使用者介面
GenericName=Direct Connect Clone
GenericName[af]=Direkte Koppeling Namaaksel
GenericName[ar]=تقليد Direct Connect
GenericName[be]=Клон Direct Connect
GenericName[bn]=ডাইরেক্ট কানেক্ট ক্লোন
GenericName[ca]=Clon per a la connexió directa
GenericName[cs]=Klon Direct Connect
GenericName[csb]=Klon Direct Connect (direkt łączba)
GenericName[cy]=Clôn Cysylltu Uniongyrchol
GenericName[da]=Direct Connect klon
GenericName[de]=Direct-Connect-Klon
GenericName[el]=Κλώνος απευθείας σύνδεσης(DCC)
GenericName[eo]=Klono de Direct Connect
GenericName[es]=Clon de Direct Connect
GenericName[et]=Direct Connect kloon
GenericName[eu]=Direct Connect-en klonea
GenericName[fa]=بدل اتصال مستقیم
GenericName[fi]=Direct Connect klooni
GenericName[fr]=Clone de Direct Connect
GenericName[fy]=Direkt Ferbining-kloan
GenericName[ga]=Clón Direct Connect
GenericName[gl]=Clon de Direct Connect
GenericName[gu]=સીધું જોડાણ નકલ
GenericName[he]=תואם Direct Connect
GenericName[hi]=डायरेक्ट कनेक्ट क्लोन
GenericName[hr]=Direct Connect klon
GenericName[hu]=Direct Connect-változat
GenericName[is]=Direct Connect klónn
GenericName[it]=Clone di Direct Connect
GenericName[ja]=Direct Connect クローン
GenericName[ka]=კლონი Direct Connect
GenericName[kk]=Direct Connect клоны
GenericName[km]=ក្លូន​ការ​តភ្ជាប់​ដោយ​ផ្ទាល់
GenericName[ko]=Direct Connect 클론
GenericName[ku]=Bernameya Direct Connect
GenericName[lt]=Direct Connect klonas
GenericName[lv]=Direct Connect klons
GenericName[mk]=Клон на Direct Connect
GenericName[ms]=Klon Direct Connect
GenericName[nb]=Klone av «Direct Connect»
GenericName[nds]=Kloon vun Direct Connect
GenericName[ne]=प्रत्यक्ष जडान क्लोन
GenericName[nl]=Direct Connect-kloon
GenericName[nn]=Direct Connect-klone
GenericName[pa]=ਸਿੱਧਾ ਕੁਨੈਕਸ਼ਨ ਕਲੋਨ
GenericName[pl]=Klon Direct Connect (Bezpośrednie Łącze)
GenericName[pt]=Clone do Direct Connect
GenericName[pt_BR]=Clone do Direct Connect
GenericName[ro]=Clonă de Direct Connect
GenericName[ru]=Клон Direct Connect
GenericName[se]=Direct Connect-klona
GenericName[sk]=Klon Direct Connect
GenericName[sl]=Igra s kockami
GenericName[sr]=Клон Директконекта
GenericName[sr@latin]=Klon Direct Connecta
GenericName[sv]=Kopia av Direct Connect
GenericName[ta]=நேரடி இணைப்பு மாதிரி
GenericName[te]=సూటి సంబంధ క్లోన్
GenericName[tg]=Рости васли мустақил
GenericName[th]=โปรแกรมเลียนแบบ Direct Connect
GenericName[tr]=Direct Connect Programı
GenericName[uk]=Клон прямого зв'язку
GenericName[vi]=Kết nối trực tiếp
GenericName[wa]=Clône di «Direct Connect»
GenericName[x-test]=xxDirect Connect Clonexx
GenericName[xh]=Udibaniso Ngqo lwe Klone
GenericName[zh_CN]=直接连线克隆
GenericName[zh_TW]=直接連線仿製
Terminal=false
Type=Application
