[Desktop Entry]
Name=Dpsftp
Name[af]=Dps-ftp
Name[ar]=Dpsftp
Name[as]=Dpsftp
Name[be]=Dpsftp
Name[be@latin]=Dpsftp
Name[bg]=Dpsftp
Name[bn]=Dpsftp
Name[bn_IN]=Dpsftp
Name[br]=Dpsftp
Name[ca]=Dpsftp
Name[ca@valencia]=Dpsftp
Name[cs]=Dpsftp
Name[csb]=Dpsftp
Name[cy]=Dpsftp
Name[da]=Dpsftp
Name[de]=Dpsftp
Name[el]=Dpsftp
Name[en_GB]=Dpsftp
Name[eo]=Dpsftp
Name[es]=Dpsftp
Name[et]=Dpsftp
Name[eu]=Dpsftp
Name[fi]=Dpsftp
Name[fr]=DpsFTP
Name[fy]=Dpsftp
Name[ga]=Dpsftp
Name[gl]=Dpsftp
Name[gu]=Dpsftp
Name[he]=Dpsftp
Name[hi]=डीपीएसएफटीपी
Name[hne]=डीपीएसएफटीपी
Name[hr]=Dpsftp
Name[hsb]=Dpsftp
Name[hu]=Dpsftp
Name[is]=Dpsftp
Name[it]=Dpsftp
Name[ja]=Dpsftp
Name[ka]=Dpsftp
Name[kk]=Dpsftp
Name[km]=Dpsftp
Name[kn]=ಡಿಪಿsftp
Name[ko]=Dpsftp
Name[ku]=Dpsftp
Name[lt]=Dpsftp
Name[lv]=Dpsftp
Name[mai]=डीपीएसएफटीपी
Name[mk]=Dpsftp
Name[ml]=Dpsftp
Name[mr]=Dpsftp
Name[ms]=Dpsftp
Name[nb]=Dpsftp
Name[nds]=Dpsftp
Name[ne]=Dpsftp
Name[nl]=Dpsftp
Name[nn]=Dpsftp
Name[oc]=Dpsftp
Name[or]=Dpsftp
Name[pa]=Dpsftp
Name[pl]=Dpsftp
Name[pt]=Dpsftp
Name[pt_BR]=Dpsftp
Name[ro]=Dpsftp
Name[ru]=Dpsftp
Name[se]=Dpsftp
Name[si]=Dpsftp
Name[sk]=Dpsftp
Name[sl]=Dpsftp
Name[sr]=Дпсфтп
Name[sr@latin]=Dpsftp
Name[sv]=Dpsftp
Name[ta]=டிபிஎஸ்எப்டிபி
Name[te]=డిపిఎస్ ఎఫ్టిపి
Name[tg]=Dpsftp
Name[th]=Dpsftp
Name[tr]=Dpsftp
Name[uk]=Dpsftp
Name[uz]=Dpsftp
Name[uz@cyrillic]=Dpsftp
Name[vi]=Dpsftp
Name[wa]=Dpsftp
Name[xh]=Dpsftp
Name[x-test]=xxDpsftpxx
Name[zh_CN]=Dpsftp
Name[zh_TW]=Dpsftp
GenericName=FTP Browser
GenericName[af]=FTP Blaaier
GenericName[ar]=FTP متصفح
GenericName[as]=FTP চৰক
GenericName[be]=Кліент FTP
GenericName[be@latin]=Prahladnik FTP
GenericName[bg]=FTP браузър
GenericName[bn]=এফ-টি-পি ব্রাউজার
GenericName[bn_IN]=FTP ব্রাউজার
GenericName[br]=Furcher FTP
GenericName[ca]=Navegador FTP
GenericName[ca@valencia]=Navegador FTP
GenericName[cs]=FTP prohlížeč
GenericName[csb]=Przezérnik FTP
GenericName[da]=FTP-Browser
GenericName[de]=FTP-Browser
GenericName[el]=Περιηγητής FTP
GenericName[en_GB]=FTP Browser
GenericName[eo]=FTP-Foliumilo
GenericName[es]=Navegador FTP
GenericName[et]=FTP lehitseja
GenericName[eu]=FTP arakatzailea
GenericName[fa]=مرورگر قاپ‌
GenericName[fi]=FTP-selain
GenericName[fr]=Navigateur FTP
GenericName[fy]=FTP-blêder
GenericName[ga]=Brabhsálaí FTP
GenericName[gl]=Navegador FTP
GenericName[gu]=FTP બ્રાઉઝર
GenericName[he]=דפדפן FTP
GenericName[hi]=एफटीपी ब्राउज़र
GenericName[hne]=एफटीपी ब्राउजर
GenericName[hr]=FTP preglednik
GenericName[hsb]=FTP-přelistowar
GenericName[hu]=FTP-böngésző
GenericName[is]=FTP vafri
GenericName[it]=Browser FTP
GenericName[ja]=FTP ブラウザ
GenericName[ka]=FTP-ბრაუზერი
GenericName[kk]=FTP браузері
GenericName[km]=កម្មវិធី​រុករក FTP
GenericName[kn]=FTP ವೀಕ್ಷಕ
GenericName[ko]=FTP 탐색기
GenericName[ku]=Geroka FTP
GenericName[lt]=FTP naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=एफटीपी ब्राउजर
GenericName[mk]=FTP-прелистувач
GenericName[ml]=FTP ബ്രൌസര്‍
GenericName[mr]=FTP ब्राउजर
GenericName[ms]=Pelayar FTP
GenericName[nb]=FTP-leser
GenericName[nds]=FTP-Nettkieker
GenericName[ne]=एफटीपी ब्राउजर
GenericName[nl]=FTP-browser
GenericName[nn]=FTP-lesar
GenericName[or]=FTP ବ୍ରାଉଜର
GenericName[pa]=FTP ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka FTP
GenericName[pt]=Navegador de FTP
GenericName[pt_BR]=Navegador FTP
GenericName[ro]=Navigator FTP
GenericName[ru]=FTP-браузер
GenericName[se]=FTP-logan
GenericName[si]=FTP ගවේශකය
GenericName[sk]=FTP prehliadač
GenericName[sl]=Brskalnik po FTP
GenericName[sr]=Прегледач ФТП‑а
GenericName[sr@latin]=Pregledač FTP‑a
GenericName[sv]=FTP-bläddrare
GenericName[ta]=எப்டிபி உலாவி
GenericName[te]=ఎఫ్ టి పి బ్రౌజర్
GenericName[tg]=Намоишгари FTP
GenericName[th]=โปรแกรม FTP เบราว์เซอร์
GenericName[tr]=FTP Tarayıcı
GenericName[uk]=Навігатор FTP
GenericName[uz]=FTP-brauzer
GenericName[uz@cyrillic]=FTP-браузер
GenericName[vi]=Bộ duyệt FTP
GenericName[wa]=Betchteu FTP
GenericName[x-test]=xxFTP Browserxx
GenericName[zh_CN]=FTP 浏览器
GenericName[zh_TW]=FTP 瀏覽器
Exec=dpsftp
Terminal=false
Icon=dpsftp
Type=Application
