[Desktop Entry]
Encoding=UTF-8
Name=Dpsftp
Name[af]=Dps-ftp
Name[eo]=DPS-FTP
Name[fr]=DpsFTP
Name[te]=డిపిఎస్ ఎఫ్టిపి
Name[x-test]=xxDpsftpxx
GenericName=FTP Browser
GenericName[af]=FTP Blaaiër
GenericName[be]=Кліент FTP
GenericName[br]=Furcher FTP
GenericName[ca]=Fullejador FTP
GenericName[cs]=FTP prohlížeč
GenericName[csb]=Przezérnik FTP
GenericName[da]=FTP-Browser
GenericName[de]=FTP-Browser
GenericName[el]=Περιηγητής FTP
GenericName[eo]=FTP-Foliumilo
GenericName[es]=Navegador FTP
GenericName[et]=FTP lehitseja
GenericName[eu]=FTP arakatzailea
GenericName[fa]=مرورگر قاپ‌
GenericName[fi]=FTP-selain
GenericName[fr]=Navigateur FTP
GenericName[fy]=FTP-blêder
GenericName[ga]=Brabhsálaí FTP
GenericName[gl]=Navegador FTP
GenericName[he]=דפדפן FTP
GenericName[hr]=FTP preglednik
GenericName[hu]=FTP-böngésző
GenericName[is]=FTP vafri
GenericName[it]=Browser FTP
GenericName[ja]=FTP ブラウザ
GenericName[ka]=FTP-ბრაუზერი
GenericName[kk]=FTP браузері
GenericName[km]=កម្មវិធី​រុករក FTP
GenericName[lt]=FTP naršyklė
GenericName[mk]=FTP-прелистувач
GenericName[ms]=Pelayar FTP
GenericName[nb]=FTP-leser
GenericName[nds]=FTP-Nettkieker
GenericName[ne]=FTP ब्राउजर
GenericName[nl]=FTP-browser
GenericName[nn]=FTP-lesar
GenericName[pa]=FTP ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka FTP
GenericName[pt]=Navegador de FTP
GenericName[pt_BR]=Navegador FTP
GenericName[ro]=Navigator FTP
GenericName[ru]=FTP-браузер
GenericName[se]=FTP-logan
GenericName[sl]=Brskalnik po FTP
GenericName[sr]=FTP прегледач
GenericName[sr@latin]=FTP pregledač
GenericName[sv]=FTP-bläddrare
GenericName[ta]=எஃப்டிபி உலாவி
GenericName[te]=ఎఫ్ టి పి బ్రౌజర్
GenericName[tg]=Барномаи нозири FTP
GenericName[tr]=FTP Tarayıcı
GenericName[uk]=Навігатор FTP
GenericName[uz]=FTP-браузер
GenericName[x-test]=xxFTP Browserxx
GenericName[zh_TW]=FTP 瀏覽器
Exec=dpsftp
Terminal=false
Icon=dpsftp
Type=Application
