[Desktop Entry]
Name=DrakSync
Name[af]=Draksync
Name[hu]=Draksync
Name[sr]=Драксинх
Name[sv]=Draksync
Name[ta]=ட்ராக்சின்க்
Name[te]=డ్రాక్ సింక్
Name[x-test]=xxDrakSyncxx
GenericName=Folder Synchronization
GenericName[af]=Gids Sinkronisasie
GenericName[ar]=مزامنة المجلدات
GenericName[be]=Сінхранізацыя тэчак
GenericName[bg]=Синхронизиране на директории
GenericName[ca]=Sincronització de carpetes
GenericName[cs]=Synchronizace složek
GenericName[csb]=Nôrzãdze do synchronizacëji katalogów
GenericName[da]=Mappesynkronisering
GenericName[de]=Ordner abgleichen
GenericName[el]=Εργαλείο συγχρονισμού φακέλων
GenericName[en_GB]=Folder Synchronisation
GenericName[eo]=Dosieruja sinkronigo
GenericName[es]=Sincronizador de carpetas
GenericName[et]=Kataloogide sünkroniseerimine
GenericName[eu]=Karpeta sinkronizatzea
GenericName[fa]=همگام‌سازی پوشه
GenericName[fi]=Kansioiden synkronointityökalu
GenericName[fr]=Synchronisation de dossiers
GenericName[fy]=Mappen syngronisaasje
GenericName[ga]=Sioncrónú Fillteán
GenericName[gl]=Sincronización de Cartafoles
GenericName[he]=סינכרון תיקיות
GenericName[hr]=Alat za usaglašavanje mapa
GenericName[hu]=Könyvtárszinkronizáló
GenericName[is]=Möppu samræming
GenericName[it]=Sincronizzazione cartelle
GenericName[ja]=フォルダ同期ツール
GenericName[ka]=საქაღალდეთა სინქრონიზება
GenericName[kk]=Қапшықтарды қадамдастыру
GenericName[km]=ការ​ធ្វើ​សមកាល​កម្ម​ថត
GenericName[ko]=폴더 동기화
GenericName[lt]=Aplankų sinchronizacija
GenericName[lv]=Mapju sinhronizēšanas rīks
GenericName[mk]=Синхронизација на папки
GenericName[ms]=Pensegerak Folder
GenericName[nb]=Mappesynkronisering
GenericName[nds]=Warktüüch för't Synkroniseren vun Ornern
GenericName[ne]=फोल्डर समक्रमण
GenericName[nl]=Mappensynchronisatie
GenericName[nn]=Mappesynkronisering
GenericName[pa]=ਫੋਲਡਰ ਸੈਕਰੋਨਾਇਜ਼ੇਸ਼ਨ
GenericName[pl]=Narzędzie do synchronizacji katalogów
GenericName[pt]=Sincronização de Pastas
GenericName[pt_BR]=Sincronização de Pastas
GenericName[ro]=Sincronizare foldere
GenericName[ru]=Синхронизация папок
GenericName[se]=Máhppabuohtalastin
GenericName[sl]=Usklajevanje map
GenericName[sr]=Синхронизација фасцикли
GenericName[sr@latin]=Sinhronizacija fascikli
GenericName[sv]=Katalogsynkronisering
GenericName[ta]=அடைவு ஒருங்கிணைப்பு
GenericName[tg]=Яксонсозии феҳристҳо
GenericName[th]=เครื่องมือปรับปรุงโฟลเดอร์ให้เหมือนกัน
GenericName[tr]=Klasör Senkronizasyonu
GenericName[uk]=Синхронізація тек
GenericName[uz]=Жилдни тенглаштириш учун восита
GenericName[vi]=Công cụ đồng bộ thư mục
GenericName[wa]=Sincronijhaedje di ridants
GenericName[x-test]=xxFolder Synchronizationxx
GenericName[zh_CN]=文件夹同步
GenericName[zh_TW]=目錄同步
Exec=draksync
Terminal=false
Icon=draksync
Type=Application
