[Desktop Entry]
Name=DrakSync
Name[af]=Draksync
Name[ar]=DrakSync
Name[as]=DrakSync
Name[be]=DrakSync
Name[be@latin]=DrakSync
Name[bg]=DrakSync
Name[bn]=DrakSync
Name[bn_IN]=DrakSync
Name[br]=DrakSync
Name[ca]=DrakSync
Name[ca@valencia]=DrakSync
Name[cs]=DrakSync
Name[csb]=DrakSync
Name[cy]=DrakSync
Name[da]=DrakSync
Name[de]=DrakSync
Name[el]=DrakSync
Name[en_GB]=DrakSync
Name[eo]=DrakSync
Name[es]=DrakSync
Name[et]=DrakSync
Name[eu]=DrakSync
Name[fi]=DrakSync
Name[fr]=DrakSync
Name[fy]=DrakSync
Name[ga]=DrakSync
Name[gl]=DrakSync
Name[gu]=ડાર્કસિંક
Name[he]=DrakSync
Name[hi]=ड्रेकसिंक
Name[hne]=ड्रेकसिंक
Name[hr]=DrakSync
Name[hsb]=DrakSync
Name[hu]=Draksync
Name[is]=DrakSync
Name[it]=DrakSync
Name[ja]=DrakSync
Name[ka]=DrakSync
Name[kk]=DrakSync
Name[km]=DrakSync
Name[kn]=ಡ್ರಾಕ್ಸಿಂಕ್
Name[ko]=DrakSync
Name[ku]=DrakSync
Name[lt]=DrakSync
Name[lv]=DrakSync
Name[mai]=ड्रेकसिंक
Name[mk]=DrakSync
Name[ml]=ഡ്രാക്ക്സിങ്ക്
Name[mr]=ड्रेकसिंक
Name[ms]=DrakSync
Name[nb]=DrakSync
Name[nds]=DrakSync
Name[ne]=DrakSync
Name[nl]=DrakSync
Name[nn]=DrakSync
Name[oc]=DrakSync
Name[or]=DrakSync
Name[pa]=DrakSync
Name[pl]=DrakSync
Name[pt]=DrakSync
Name[pt_BR]=DrakSync
Name[ro]=DrakSync
Name[ru]=DrakSync
Name[se]=DrakSync
Name[si]=DrakSync
Name[sk]=DrakSync
Name[sl]=DrakSync
Name[sr]=Драксинх
Name[sr@latin]=DrakSync
Name[sv]=Draksync
Name[ta]=ட்ராக்சின்க்
Name[te]=డ్రాక్ సింక్
Name[tg]=DrakSync
Name[th]=DrakSync
Name[tr]=DrakSync
Name[uk]=DrakSync
Name[uz]=DrakSync
Name[uz@cyrillic]=DrakSync
Name[vi]=DrakSync
Name[wa]=DrakSync
Name[xh]=DrakSync
Name[x-test]=xxDrakSyncxx
Name[zh_CN]=DrakSync
Name[zh_TW]=DrakSync
GenericName=Folder Synchronization
GenericName[af]=Gids Sinkronisasie
GenericName[ar]=مزامنة المجلدات
GenericName[as]=পঞ্জিকা এককালিন কৰাৰ ব্যৱস্থা
GenericName[be]=Сінхранізацыя тэчак
GenericName[be@latin]=Prahrama dla synchranizacyi katalohaŭ
GenericName[bg]=Синхронизиране на директории
GenericName[bn]=একাধিক ফোল্ডারের বিষয়বস্তু সামঞ্জস্যে আনা
GenericName[bn_IN]=ফোল্ডার সমঞ্জস ব্যবস্থা
GenericName[ca]=Sincronització de carpetes
GenericName[ca@valencia]=Sincronització de carpetes
GenericName[cs]=Synchronizace složek
GenericName[csb]=Nôrzãdze do synchronizacëji katalogów
GenericName[da]=Mappesynkronisering
GenericName[de]=Ordner abgleichen
GenericName[el]=Εργαλείο συγχρονισμού φακέλων
GenericName[en_GB]=Folder Synchronisation
GenericName[eo]=Dosieruja sinkronigo
GenericName[es]=Sincronizador de carpetas
GenericName[et]=Kataloogide sünkroniseerimine
GenericName[eu]=Karpeta sinkronizatzea
GenericName[fa]=همگام‌سازی پوشه
GenericName[fi]=Kansioiden synkronointityökalu
GenericName[fr]=Synchronisation de dossiers
GenericName[fy]=Mappen syngronisaasje
GenericName[ga]=Sioncrónú Fillteán
GenericName[gl]=Sincronización de cartafoles
GenericName[gu]=ફોલ્ડર સિંક્રોનાઇઝેશન
GenericName[he]=סינכרון תיקיות
GenericName[hi]=फ़ोल्डर सिंक्रोनाइजेशन
GenericName[hne]=फोल्डर सिंक्रोनाइजेसन
GenericName[hr]=Alat za usaglašavanje mapa
GenericName[hsb]=Synchronizacija zapiskow
GenericName[hu]=Mappaszinkronizáló
GenericName[is]=Möppu samræming
GenericName[it]=Sincronizzazione cartelle
GenericName[ja]=フォルダ同期ツール
GenericName[ka]=საქაღალდეთა სინქრონიზება
GenericName[kk]=Қапшықтарды қадамдастыру
GenericName[km]=ការ​ធ្វើ​សមកាល​កម្ម​ថត
GenericName[kn]=ಕಡತಕೋಶಗಳ ಸಮನ್ವಯ
GenericName[ko]=폴더 동기화
GenericName[ku]=Senkronîzasyona peldankan
GenericName[lt]=Aplankų sinchronizacija
GenericName[lv]=Mapju sinhronizēšanas rīks
GenericName[mai]=फोल्डर सिंक्रोनाइजेशन
GenericName[mk]=Синхронизација на папки
GenericName[ml]=കൂട അനുക്രമമാക്കല്‍
GenericName[mr]=संचयीका समजुळवणी
GenericName[ms]=Pensegerak Folder
GenericName[nb]=Mappesynkronisering
GenericName[nds]=Warktüüch för't Synkroniseren vun Ornern
GenericName[ne]=फोल्डर समक्रमण
GenericName[nl]=Mappensynchronisatie
GenericName[nn]=Mappesynkronisering
GenericName[or]=ଫୋଲଡ଼ର ସମକାଳନ
GenericName[pa]=ਫੋਲਡਰ ਸੈਕਰੋਨਾਇਜ਼ੇਸ਼ਨ
GenericName[pl]=Narzędzie do synchronizacji katalogów
GenericName[pt]=Sincronização de Pastas
GenericName[pt_BR]=Sincronização de pastas
GenericName[ro]=Sincronizare dosare
GenericName[ru]=Синхронизация папок
GenericName[se]=Máhppabuohtalastin
GenericName[si]=බහලුම් සමකාලිකය
GenericName[sk]=Synchronizácia priečinkov
GenericName[sl]=Usklajevanje map
GenericName[sr]=Синхронизација фасцикли
GenericName[sr@latin]=Sinhronizacija fascikli
GenericName[sv]=Katalogsynkronisering
GenericName[ta]=அடைவு ஒத்திசைவு
GenericName[te]=సంచయం ఏకకాలీనం
GenericName[tg]=Ҳамоҳангсозии феҳристҳо
GenericName[th]=เครื่องมือปรับเทียบโฟลเดอร์
GenericName[tr]=Dizin Senkronizasyonu
GenericName[uk]=Синхронізація тек
GenericName[uz]=Jildni tenglashtirish uchun vosita
GenericName[uz@cyrillic]=Жилдни тенглаштириш учун восита
GenericName[vi]=Công cụ đồng bộ thư mục
GenericName[wa]=Sincronijhaedje di ridants
GenericName[x-test]=xxFolder Synchronizationxx
GenericName[zh_CN]=文件夹同步
GenericName[zh_TW]=目錄同步
Exec=draksync
Terminal=false
Icon=draksync
Type=Application
