[Desktop Entry]
Exec=ed2k_gui
Icon=xapp
Name=eDonkey2000 GTK+ Core Controller
Name[af]=eDonkey2000 GTK+ Beheerder
Name[be]=Кіраўнік ядра eDonkey2000 для GTK+
Name[bn]=ই-ডঙ্কি ২০০০ GTK+ কোর কন্ট্রোলার
Name[ca]=eDonkey2000 GTK+ nucli controlador
Name[csb]=Kòntroléra eDonkey2000 (interfejs GTK+)
Name[cy]=eDonkey2000 GTK+ Rheolydd Craidd
Name[eo]=eDonkey2000 GTK+ kerna stirilo
Name[es]=Controlador central eDonkey2000 GTK+
Name[eu]=eDonkey2000 GTK+ gune kontrolatzailea
Name[fa]=eDonkey2000 GTK + کنترل‌کنندۀ هسته
Name[fr]=Contrôleur principal eDonkey2000 GTK+
Name[gl]=Controlador do núcleo de eDonkey2000 con GTK+
Name[gu]=eDonkey2000 GTK+ મુખ્ય નિયંત્રક
Name[he]=בקר מרכזי ל־eDonkey2000 מבוסס GTK+‎
Name[hi]=ई-डंकी2000 जीटीके+ कोर नियंत्रक
Name[hr]=eDonkey2000 GTK+ središnji kontroler
Name[hu]=eDonkey2000 GTK+ vezérlőprogram
Name[it]=Controllo di eDonkey2000 GTK+
Name[ja]=eDonkey2000 GTK+ コアコントローラ
Name[ka]=eDonkey2000 GTK+ ბირთვის კონტროლერი
Name[kk]=eDonkey2000 GTK+ негізгі контроллері
Name[km]=eDonkey2000 GTK+ វត្ថុ​បញ្ជា​ចម្បង
Name[kn]=ಇಡಾಂಕಿ೨೦೦೦ GTK+ ತಿರುಳು (ಕೋರ್) ನಿಯಂತ್ರಕ
Name[ko]=eDonkey2000 GTK+ 코어 컨트롤러
Name[ku]=Venêra eDonkey2000 GTK+ Core
Name[lt]=eDonkey2000 GTK+ pagrindinis kontroleris
Name[lv]=eDonkey2000 kodola kontrolētājs, izmantojot GTK+
Name[ml]=ഇഡോങ്കി2000 ജിടികെപ്ലസ് കോര്‍ കണ്ട്രോളര്‍
Name[mr]=eDonkey2000 GTK+ कोर नियंत्रक
Name[ms]=Pengawal Utama GTK+ eDonkey2000
Name[nb]=eDonkey2000 GTK+ kjernekontroll
Name[ne]=eDonkey2000 GTK+ भित्री नियन्त्रक
Name[nn]=eDonkey2000 GTK+ kjernekontroll
Name[pa]=eDonkey2000 GTK+ ਕੇਂਦਰੀਂ ਕੰਟਰੋਲ
Name[pl]=Kontroler eDonkey2000 (interfejs GTK+)
Name[pt]=Controlador de Base em GTK+ do eDonkey2000
Name[pt_BR]=Controlador Principal em GTK+ do eDonkey2000
Name[ro]=Controlor central GTK+ eDonkey2000
Name[ru]=Основной контроллер eDonkey2000 GTK+
Name[se]=eDonkey2000 GTK+ guovddášstivrejeaddji
Name[sk]=eDonkey2000 GTK+ ovládač jadra
Name[sl]=Nadzornik jedra GTK+ za eDonkey2000
Name[sr]=ГТК+ контролор језгра за Едонки 2000
Name[sr@latin]=GTK+ kontrolor jezgra za eDonkey 2000
Name[sv]=eDonkey2000 GTK+ och kärnhantering
Name[ta]=இடாங்கி2000 ஜிடிகே+ கோர் கட்டுப்பாட்டாளர்
Name[te]=ఈడాంకి 2000 జిటికె+ మూల కేంద్రం
Name[th]=ตัวควบคุมกลางของ eDonkey2000 GTK+ 
Name[tr]=eDonkey2000 GTK+ Denetleyici
Name[vi]=eDonkey2000 GTK+ điều khiển lõi
Name[wa]=Controleur d' eDonkey2000 GTK+ Core
Name[x-test]=xxeDonkey2000 GTK+ Core Controllerxx
Name[xh]=eDonkey2000 GTK+ Nomlawuli Wangaphakathi
Name[zh_CN]=eDonkey2000 GTK+ 核心控制器
Name[zh_TW]=eDonkey2000 GTK+ 核心控制器
GenericName=eDonkey2000 GUI
GenericName[ar]=واجهة eDonkey2000
GenericName[be]=Графічны кліент eDonkey2000
GenericName[bg]=ГПИ за eDonkey2000
GenericName[bn]=ই-ডঙ্কি ২০০০ গুই
GenericName[br]=Etrefas eDonkey2000
GenericName[ca]=IGU per a eDonkey2000
GenericName[csb]=Graficzny interfejs dlô eDonkey2000
GenericName[de]=eDonkey2000-Oberfläche
GenericName[es]=GUI eDonkey2000
GenericName[et]=eDonkey2000 kasutajaliides
GenericName[fa]=ونک eDonkey2000
GenericName[fr]=Interface graphique pour eDonkey2000
GenericName[fy]=eDonkey2000-GUI
GenericName[ga]=Comhéadan Grafach eDonkey2000
GenericName[gl]=GUI para eDonkey2000
GenericName[he]=ממשק משתמש גרפי ל־eDonkey2000
GenericName[hi]=ई-डंकी2000 जीयूआई
GenericName[hr]=eDonkey2000 grafičko sučelje
GenericName[hu]=eDonkey2000-felület
GenericName[it]=GUI di eDonkey2000
GenericName[ka]=გრაფიკული eDonkey2000
GenericName[kk]=eDonkey2000 графикалық интерфейсі
GenericName[km]=ចំណុច​ប្រទាក់​អ្នក​ប្រើ eDonkey2000
GenericName[kn]=ಇಡಾಂಕಿ೨೦೦೦ GUI
GenericName[ku]=Navrûyê eDonkey2000
GenericName[lv]=eDonkey2000 saskarne
GenericName[ml]=ഇഡോങ്കി2000 ഗുയി
GenericName[ms]=GUI eDonkey2000
GenericName[nb]=eDonkey2000-grensesnitt
GenericName[nds]=Graafsche Böversiet för eDonkey2000
GenericName[nl]=eDonkey2000-GUI
GenericName[nn]=eDonkey2000-grensesnitt
GenericName[pl]=Graficzny interfejs dla eDonkey2000
GenericName[pt]=Interface do eDonkey2000
GenericName[pt_BR]=Interface do eDonkey2000
GenericName[ro]=Interfață grafică eDonkey2000
GenericName[ru]=Графический интерфейс eDonkey2000
GenericName[se]=eDonkey2000-lakta
GenericName[sl]=Vmesnik za eDonkey2000
GenericName[sr]=ГУИ за Едонки 2000
GenericName[sr@latin]=GUI za eDonkey 2000
GenericName[sv]=eDonkey2000 grafiskt gränssnitt
GenericName[ta]=இடாங்கி2000 முகப்பு
GenericName[te]=ఈడాంకి 2000 జియూఐ
GenericName[tg]=Барномаи eDonkey2000
GenericName[th]=eDonkey2000 แบบกราฟิก
GenericName[tr]=eDonkey2000 Grafik Arayüzü
GenericName[uk]=Інтерфейс для eDonkey2000
GenericName[uz]=eDonkey2000 uchun grafik interfeys
GenericName[uz@cyrillic]=eDonkey2000 учун график интерфейс
GenericName[vi]=Giao diện eDonkey2000
GenericName[wa]=Eterface grafike po eDonkey 2000
GenericName[x-test]=xxeDonkey2000 GUIxx
GenericName[zh_CN]=eDonkey2000 图形用户界面
GenericName[zh_TW]=eDonkey2000 圖型使用者介面
Terminal=false
Type=Application
