[Desktop Entry]
Name=Epiphany
Name[af]=Epiphany
Name[ar]=إبِفِني
Name[as]=Epiphany
Name[be]=Epiphany
Name[be@latin]=Epiphany
Name[bg]=Epiphany
Name[bn]=এপিফেনি
Name[bn_IN]=Epiphany
Name[br]=Epiphany
Name[ca]=Epiphany
Name[ca@valencia]=Epiphany
Name[cs]=Epiphany
Name[csb]=Epiphany
Name[cy]=Epiphany
Name[da]=Epiphany
Name[de]=Epiphany
Name[el]=Epiphany
Name[en_GB]=Epiphany
Name[eo]=Epiphany
Name[es]=Epiphany
Name[et]=Epiphany
Name[eu]=Epiphany
Name[fi]=Epiphany
Name[fr]=Epiphany
Name[fy]=Epiphany
Name[ga]=Epiphany
Name[gl]=Epiphany
Name[gu]=એપિફની
Name[he]=Epiphany
Name[hi]=एपिफेनी
Name[hne]=एपिफेनी
Name[hr]=Epiphany
Name[hsb]=Epiphany
Name[hu]=Epiphany
Name[is]=Epiphany
Name[it]=Epiphany
Name[ja]=Ephiphany ウェブブラウザ
Name[ka]=Epiphany
Name[kk]=Epiphany
Name[km]=Epiphany
Name[kn]=ಎಪಿಫೆನಿ
Name[ko]=Epiphany
Name[ku]=Epiphany
Name[lt]=Epiphany
Name[lv]=Epiphany
Name[mai]=ऐपीफनी
Name[mk]=Epiphany
Name[ml]=എപ്പിഫാനി
Name[mr]=एपिफेनी
Name[ms]=Epiphany
Name[nb]=Epiphany
Name[nds]=Epiphany
Name[ne]=इपिफ्यानी
Name[nl]=Epiphany
Name[nn]=Epiphany
Name[oc]=Epiphany
Name[or]=Epiphany
Name[pa]=ਏਪੀਫਾਨੀ
Name[pl]=Epiphany
Name[pt]=Epiphany
Name[pt_BR]=Epiphany
Name[ro]=Epiphany
Name[ru]=Epiphany
Name[se]=Epiphany
Name[si]=Epiphany
Name[sk]=Epiphany
Name[sl]=Epiphany
Name[sr]=Спознаја
Name[sr@latin]=Spoznaja
Name[sv]=Epiphany
Name[ta]=எபிபனி
Name[te]=ఎపిఫేని
Name[tg]=Epiphany
Name[th]=Epiphany
Name[tr]=Epiphany
Name[uk]=Epiphany
Name[uz]=Epiphany
Name[uz@cyrillic]=Epiphany
Name[vi]=Epiphany
Name[wa]=Betchteu waibe epiphany
Name[x-test]=xxEpiphanyxx
Name[zh_CN]=Epiphany
Name[zh_TW]=Epiphany
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Exec=epiphany
Terminal=false
Icon=epiphany
Type=Application
