[Desktop Entry]
Name=Faces
Name[af]=Gesigte
Name[ar]=الوجوه
Name[as]=Faces
Name[be]=Faces
Name[be@latin]=Faces
Name[bg]=Faces
Name[bn]=Faces
Name[bn_IN]=Faces
Name[br]=Faces
Name[ca]=Faces
Name[ca@valencia]=Faces
Name[cs]=Faces
Name[csb]=Gãbë
Name[cy]=Faces
Name[da]=Faces
Name[de]=Faces
Name[el]=Πρόσωπα
Name[en_GB]=Faces
Name[eo]=Faces
Name[es]=Faces
Name[et]=Faces
Name[eu]=Faces
Name[fa]=چهره‌ها
Name[fi]=Faces
Name[fr]=Faces
Name[fy]=Faces
Name[ga]=Faces
Name[gl]=Faces
Name[gu]=ચહેરાઓ
Name[he]=Faces
Name[hi]=एफएसेस
Name[hne]=एफएसेस
Name[hr]=Faces
Name[hsb]=Faces
Name[hu]=Faces
Name[is]=Faces
Name[it]=Faces
Name[ja]=Faces
Name[ka]=Faces
Name[kk]=Faces
Name[km]=មុខ
Name[kn]=ಫೇಸಸ್
Name[ko]=Faces
Name[ku]=Faces
Name[lt]=Faces
Name[lv]=Faces
Name[mai]=एफएसेस
Name[mk]=Faces
Name[ml]=മുഖങ്ങള്‍
Name[mr]=फेसेस्
Name[ms]=Faces
Name[nb]=Fjes
Name[nds]=Faces
Name[ne]=मोहडा
Name[nl]=Faces
Name[nn]=Faces
Name[or]=ମୁଖଗୁଡ଼ିକ
Name[pa]=ਚਿਹਰੇ
Name[pl]=Twarze
Name[pt]=Faces
Name[pt_BR]=Faces
Name[ro]=Faces
Name[ru]=Faces
Name[se]=Faces
Name[si]=Faces
Name[sk]=Faces
Name[sl]=Faces
Name[sr]=Фејсес
Name[sr@latin]=Faces
Name[sv]=Faces
Name[ta]=பேசஸ்
Name[te]=ఫెసెస్
Name[tg]=Faces
Name[th]=Faces
Name[tr]=Yüzler
Name[uk]=Faces
Name[uz]=Faces
Name[uz@cyrillic]=Faces
Name[vi]=Các mặt
Name[wa]=Vizaedjes
Name[xh]=Ubuso
Name[x-test]=xxFacesxx
Name[zh_CN]=Faces
Name[zh_TW]=Faces
GenericName=Mail Alert
GenericName[af]=Pos Waarskuwing
GenericName[ar]=منبه البريد
GenericName[as]=ডাকৰ সূচনা
GenericName[be]=Абвяшчэнне пра новую пошту
GenericName[be@latin]=Prahrama, jakaja infarmuje pra źjaŭleńnie novych listoŭ
GenericName[bg]=Аларма за поща
GenericName[bn]=চিঠি এসেছে
GenericName[bn_IN]=মেইল সংক্রান্ত সূচনা
GenericName[ca]=Alerta per al correu
GenericName[ca@valencia]=Alerta per al correu
GenericName[cs]=Upozornění na poštu
GenericName[csb]=Wiadło o pòczce
GenericName[cy]=Rhybudd Ebost
GenericName[da]=Postadvarsel
GenericName[de]=E-Mail-Benachrichtigung
GenericName[el]=Ειδοποίηση για mail
GenericName[en_GB]=Mail Alert
GenericName[eo]=Retpoŝta atentigilo
GenericName[es]=Alerta de correo
GenericName[et]=Kirjade jälgija
GenericName[eu]=Mail jakinarazpena
GenericName[fa]=هشدار نامه
GenericName[fi]=Sähköpostivaroitus
GenericName[fr]=Surveillance du courrier électronique
GenericName[fy]=E-postnotifikaasje
GenericName[ga]=Fógairt Ríomhphoist
GenericName[gl]=Alerta de correo
GenericName[gu]=મેઇલ ચેતવણી
GenericName[he]=הודעה לגבי דואר
GenericName[hi]=डाक सतर्क
GenericName[hne]=डाक सतर्क
GenericName[hr]=Upozoravanje o novom e-pismu
GenericName[hsb]=Skedźbnjenje na póštu
GenericName[hu]=Levélfigyelő
GenericName[is]=Fylgist með pósti
GenericName[it]=Programma per controllare la posta
GenericName[ja]=メールの通知
GenericName[ka]=ფოსტის განგაში
GenericName[kk]=Келген пошта туралы хабарлау
GenericName[km]=ការ​ជូន​ដំណឹង​អំពី​សំបុត្រ
GenericName[kn]=ಅಂಚೆ ಎಚ್ಚರಕ
GenericName[ko]=메일 알림이
GenericName[ku]=Hişyarkara Mailan
GenericName[lt]=Pašto pranešėjas
GenericName[lv]=Pasta brīdinājums
GenericName[mai]=डाक सतर्क
GenericName[mk]=Известувач за е-пошта
GenericName[ml]=മെയില്‍ അറിയിപ്പു്
GenericName[mr]=मेल सतर्क
GenericName[ms]=Amaran Mel
GenericName[nb]=E-postvarsel
GenericName[nds]=Nettpost-Alarm
GenericName[ne]=मेल सावधानी
GenericName[nl]=E-mailnotificatie
GenericName[nn]=E-postvarsel
GenericName[or]=ମେଲ ସତର୍କ ସୂଚନା
GenericName[pa]=ਮੇਲ ਚੇਤਾਵਨੀ
GenericName[pl]=Powiadamianie o poczcie
GenericName[pt]=Alerta de E-mail
GenericName[pt_BR]=Alerta de e-mail
GenericName[ro]=Alertă email nou
GenericName[ru]=Извещение о новой почте
GenericName[se]=E-boastaávaštus
GenericName[si]=තැපැල් ඇගවීම්
GenericName[sk]=Upozornenie na poštu
GenericName[sl]=Obvestilo o pošti
GenericName[sr]=Поштански аларм
GenericName[sr@latin]=Poštanski alarm
GenericName[sv]=E-postunderrättare
GenericName[ta]=அஞ்சல் அறிவி
GenericName[te]=మెయిల్ ఎచ్చరిక
GenericName[tg]=Огоҳии почта
GenericName[th]=แจ้งเตือนจดหมาย
GenericName[tr]=Posta Uyarısı
GenericName[uk]=Повідомлення пошти
GenericName[uz]=Yangi xat haqida xabar beruvchi
GenericName[uz@cyrillic]=Янги хат ҳақида хабар берувчи
GenericName[vi]=Thông báo có thư
GenericName[wa]=Abranle pa emile
GenericName[xh]=Ulumkiso Lweposi 
GenericName[x-test]=xxMail Alertxx
GenericName[zh_CN]=电子邮件提示程序
GenericName[zh_TW]=郵件提示
Exec=faces
Terminal=false
Icon=faces
Type=Application
