[Desktop Entry]
Encoding=UTF-8
Name=Faces
Name[af]=Gesigte
Name[csb]=Gãbë
Name[el]=Πρόσωπα
Name[eo]=Facoj
Name[fa]=چهره‌ها
Name[gl]=Caras
Name[km]=ឈម​មុខ
Name[lv]=Sejas
Name[nb]=Fjes
Name[ne]=मोहडा
Name[pa]=ਚਿਹਰੇ
Name[pl]=Twarze
Name[ta]=முகங்கள்
Name[te]=ఫెసెస్
Name[tg]=Суратҳо
Name[tr]=Yüzler
Name[vi]=Các mặt
Name[wa]=Vizaedjes
Name[x-test]=xxFacesxx
Name[xh]=Ubuso
GenericName=Mail Alert
GenericName[af]=Pos Waarskuwing
GenericName[ar]=منبه البريد
GenericName[be]=Абвяшчэнне аб новай пошце
GenericName[bg]=Аларма за поща
GenericName[ca]=Alerta per al correu
GenericName[cs]=Upozornění na poštu
GenericName[csb]=Wiadło o pòczce
GenericName[cy]=Rhybudd Ebost
GenericName[da]=Postadvarsel
GenericName[de]=E-Mail-Benachrichtigung
GenericName[el]=Ειδοποίηση για mail
GenericName[eo]=Retpoŝtavertilo
GenericName[es]=Alerta de correo
GenericName[et]=Kirjde monitor
GenericName[eu]=Mail jakinarazpena
GenericName[fa]=هشدار نامه
GenericName[fi]=Sähköpostivaroitus
GenericName[fr]=Surveillance du courrier électronique
GenericName[fy]=E-postnotifikaasje
GenericName[ga]=Fógairt Ríomhphoist
GenericName[gl]=Alerta de Correo
GenericName[he]=הודעה לגבי דואר
GenericName[hr]=Upozoravanje o novom e-pismu
GenericName[hu]=Levélfigyelő
GenericName[is]=Fylgist með pósti
GenericName[it]=Programma per controllare la posta
GenericName[ja]=メールの通知
GenericName[ka]=ფოსტის განგაში
GenericName[kk]=Келген пошта туралы хабарлау
GenericName[km]=ការជូនដំណឹង​អំពី​សំបុត្រ
GenericName[ko]=편지 알림이
GenericName[lt]=Pašto pranešėjas
GenericName[lv]=Pasta Brīdinājums
GenericName[mk]=Известувач за е-пошта
GenericName[ms]=Amaran Mel
GenericName[nb]=E-postvarsel
GenericName[nds]=Nettpost-Alarm
GenericName[ne]=मेल सावधानी
GenericName[nl]=E-mailnotificatie
GenericName[nn]=E-postvarsel
GenericName[pa]=ਪੱਤਰ ਚੇਤਾਵਨੀ
GenericName[pl]=Powiadamianie o poczcie
GenericName[pt]=Alerta de E-mail
GenericName[pt_BR]=Alerta de E-mail
GenericName[ro]=Alertare la email nou
GenericName[ru]=Извещения о новой почте
GenericName[se]=E-boastaávaštus
GenericName[sl]=Obvestilo o pošti
GenericName[sr]=Поштански аларм
GenericName[sr@latin]=Poštanski alarm
GenericName[sv]=E-postunderrättare
GenericName[ta]=அஞ்சல் எச்சரிக்கை
GenericName[tg]=Маълумот диҳии почтаи электроникӣ
GenericName[th]=แจ้งเตือนจดหมาย
GenericName[tr]=Midi Uyarısı
GenericName[uk]=Повідомлення пошти
GenericName[uz]=Янги хат ҳақида хабар берувчи
GenericName[vi]=Thông báo có thư
GenericName[wa]=Abranle pa emile
GenericName[x-test]=xxMail Alertxx
GenericName[xh]=Ulumkiso Lweposi 
GenericName[zh_TW]=郵件提示
Exec=faces
Terminal=false
Icon=faces
Type=Application
