[Desktop Entry]
Name=Fetchmailconf
Name[af]=Fetchmail-conf
Name[csb]=Kònfigùracëjo Fetchmaila
Name[fr]=FetchmailConf
Name[gu]=ફેચમેલકોન્ફ
Name[hi]=फेचमेलकॉन्फ
Name[kn]=ಫೆಚ್ ಮೈಲ್ ಕಾನ್ಫ
Name[ml]=ഫെച്ച്മെയില്‍കോണ്‍ഫ്
Name[pa]=ਫਿੱਚਮੇਲਸੰਰਚਨਾ
Name[pl]=Konfiguracja Fetchmaila
Name[sr]=Фечмејлконф
Name[ta]=பெட்ச்மெயில் அமைப்பு
Name[te]=ఫెట్చ్ మెయిల్ కాన్ఫ్
Name[vi]=Cấu hình Fetchmail
Name[x-test]=xxFetchmailconfxx
GenericName=Fetchmail Configuration
GenericName[af]=Fetchmail Opstelling
GenericName[ar]=ضبط Fetchmail
GenericName[be]=Настаўленні Fetchmail
GenericName[bg]=Настройване на Fetchmail
GenericName[bn]=ফেচ-মেইল কনফিগারেশন
GenericName[bn_IN]=Fetchmail কনফিগারেশন
GenericName[br]=Kefluniadur Fetchmail
GenericName[ca]=Configuració del fetchmail
GenericName[cs]=Nastavení Fetchmail
GenericName[csb]=Kònfigùracëjô Fetchmaila
GenericName[cy]=Ffurfweddiad Fetchmail
GenericName[da]=Fetchmail-indstilling
GenericName[de]=Einrichtung von Fetchmail
GenericName[el]=Ρύθμιση του Fetchmail
GenericName[eo]=Agordilo por la poŝtprenilo "fetchmail"
GenericName[es]=Configuración de Fetchmail
GenericName[et]=Fetchmaili seadistamine
GenericName[eu]=Fetchmail konfigurazioa
GenericName[fa]=Fetchmail پیکربندی
GenericName[fi]=Fetchmail-asetukset
GenericName[fr]=Outil de configuration de Fetchmail
GenericName[fy]=Fetchmail ynstelle
GenericName[ga]=Cumraíocht Fetchmail
GenericName[gl]=Configuración de Fetchmail
GenericName[gu]=ફેચમેલ રૂપરેખાંકન
GenericName[he]=קביעת ההגדרות של Fetchmail
GenericName[hi]=फेचमेल कॉन्फ़िगरेशन
GenericName[hr]=Fetchmail konfiguriranje
GenericName[hu]=Fetchmail-beállító
GenericName[is]=Fetchmail stillingar
GenericName[it]=Configurazione di fetchmail
GenericName[ja]=Fetchmail の設定
GenericName[ka]=fetchmai–ისl  კონფიგურაცია
GenericName[kk]=Fetchmail бағдарламасын баптау
GenericName[km]=កំណត់​រចនាសម្ព័ន្ធ Fetchmail
GenericName[kn]=ಫೆಚ್ ಮೈಲ್ ಸಂರಚನೆ
GenericName[ko]=Fetchmail 설정
GenericName[ku]=Veavakirina Fetchmail
GenericName[lt]=Fetchmail konfigūravimas
GenericName[lv]=Fetchmail konfigurācija
GenericName[mk]=Конфигурација на Fetchmail
GenericName[ml]=ഫെച്ച്മെയില്‍ ക്രമീകരണം
GenericName[ms]=Tetapan Fetchmail
GenericName[nb]=Tilpass Fetchmail
GenericName[nds]=Instellen vun Fetchmail
GenericName[ne]=पत्र तान्ने कन्फिगरेसन
GenericName[nl]=Fetchmail instellen
GenericName[nn]=Fetchmail-oppsett
GenericName[pa]=ਫਿੱਚ-ਮੇਲ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja Fetchmaila
GenericName[pt]=Configuração do Fetchmail
GenericName[pt_BR]=Configuração do Fetchmail
GenericName[ro]=Configurează programul Fetchmail
GenericName[ru]=Настройка fetchmail
GenericName[se]=Fetchmail-heiveheapmi
GenericName[sk]=Konfigurácia Fetchmail
GenericName[sl]=Nastavitve za Fetchmail
GenericName[sr]=Постава Фечмејла
GenericName[sr@latin]=Postava Fetchmaila
GenericName[sv]=Anpassning av Fetchmail
GenericName[ta]=பெட்ச்மெயில் வடிவமைப்பு
GenericName[tg]=Танзимоти Fetchmail
GenericName[th]=ปรับแต่ง Fetchmail
GenericName[tr]=Fetchmail Yapılandırması
GenericName[uk]=Конфігурації fetchmail
GenericName[uz]=Fetchmail moslamasi
GenericName[uz@cyrillic]=Fetchmail мосламаси
GenericName[vi]=Cấu hình Fetchmail
GenericName[wa]=Apontiaedje di fetchmail
GenericName[x-test]=xxFetchmail Configurationxx
GenericName[xh]=Uqwalaselo lweFetchmail
GenericName[zh_CN]=Fetchmail 配置
GenericName[zh_TW]=Fetchmail 組態
Exec=fetchmailconf
Terminal=false
Icon=fetchmailconf
Type=Application
