[Desktop Entry]
Name=Fetchmailconf
Name[af]=Fetchmail-conf
Name[ar]=اعداد جلب البريد
Name[as]=Fetchmailconf
Name[be]=Fetchmailconf
Name[be@latin]=Fetchmailconf
Name[bg]=Fetchmailconf
Name[bn]=Fetchmailconf
Name[bn_IN]=Fetchmailconf
Name[br]=Fetchmailconf
Name[ca]=Fetchmailconf
Name[ca@valencia]=Fetchmailconf
Name[cs]=Fetchmailconf
Name[csb]=Kònfigùracëjo Fetchmaila
Name[cy]=Fetchmailconf
Name[da]=Fetchmailconf
Name[de]=Fetchmailconf
Name[el]=Fetchmailconf
Name[en_GB]=Fetchmailconf
Name[eo]=Fetchmailconf
Name[es]=Fetchmailconf
Name[et]=Fetchmailconf
Name[eu]=Fetchmailconf
Name[fi]=Fetchmailconf
Name[fr]=FetchmailConf
Name[fy]=Fetchmailconf
Name[ga]=Fetchmailconf
Name[gl]=Fetchmailconf
Name[gu]=ફેચમેલકોન્ફ
Name[he]=Fetchmailconf
Name[hi]=फेचमेलकॉन्फ
Name[hne]=फेचमेलकान्फ
Name[hr]=Fetchmailconf
Name[hsb]=Fetchmailconf
Name[hu]=Fetchmailconf
Name[is]=Fetchmailconf
Name[it]=Fetchmailconf
Name[ja]=Fetchmailconf
Name[ka]=Fetchmailconf
Name[kk]=Fetchmailconf
Name[km]=Fetchmailconf
Name[kn]=ಫೆಚ್ ಮೈಲ್ ಕಾನ್ಫ
Name[ko]=Fetchmailconf
Name[ku]=Fetchmailconf
Name[lt]=Fetchmailconf
Name[lv]=Fetchmailconf
Name[mai]=फेचमेलकान्फ
Name[mk]=Fetchmailconf
Name[ml]=ഫെച്ച്മെയില്‍കോണ്‍ഫ്
Name[mr]=Fetchmailconf
Name[ms]=Fetchmailconf
Name[nb]=Fetchmailconf
Name[nds]=Fetchmailconf
Name[ne]=Fetchmailconf
Name[nl]=Fetchmailconf
Name[nn]=Fetchmailconf
Name[or]=Fetchmailconf
Name[pa]=ਫਿੱਚਮੇਲਸੰਰਚਨਾ
Name[pl]=Konfiguracja Fetchmaila
Name[pt]=Fetchmailconf
Name[pt_BR]=Fetchmailconf
Name[ro]=Fetchmailconf
Name[ru]=Fetchmailconf
Name[se]=Fetchmailconf
Name[si]=Fetchmailconf
Name[sk]=Fetchmailconf
Name[sl]=Fetchmailconf
Name[sr]=Фечмејлконф
Name[sr@latin]=Fetchmailconf
Name[sv]=Fetchmailconf
Name[ta]=பெட்ச்மெயில் அமைப்பு
Name[te]=ఫెట్చ్ మెయిల్ కాన్ఫ్
Name[tg]=Fetchmailconf
Name[th]=Fetchmailconf
Name[tr]=Fetchmailconf
Name[uk]=Fetchmailconf
Name[uz]=Fetchmailconf
Name[uz@cyrillic]=Fetchmailconf
Name[vi]=Cấu hình Fetchmail
Name[wa]=Fetchmailconf
Name[xh]=Fetchmailconf
Name[x-test]=xxFetchmailconfxx
Name[zh_CN]=Fetchmailconf
Name[zh_TW]=Fetchmailconf
GenericName=Fetchmail Configuration
GenericName[af]=Fetchmail Opstelling
GenericName[ar]=اعداد جلب البريد
GenericName[as]=Fetchmail ৰ বিন্যাস
GenericName[be]=Настаўленні Fetchmail
GenericName[be@latin]=Nałady słužby „Fetchmail”
GenericName[bg]=Настройване на Fetchmail
GenericName[bn]=ফেচ-মেইল কনফিগারেশন
GenericName[bn_IN]=Fetchmail কনফিগারেশন
GenericName[br]=Kefluniadur Fetchmail
GenericName[ca]=Configuració del fetchmail
GenericName[ca@valencia]=Configuració del fetchmail
GenericName[cs]=Nastavení Fetchmail
GenericName[csb]=Kònfigùracëjô Fetchmaila
GenericName[cy]=Ffurfweddiad Fetchmail
GenericName[da]=Fetchmail-indstilling
GenericName[de]=Einrichtung von Fetchmail
GenericName[el]=Ρύθμιση του Fetchmail
GenericName[en_GB]=Fetchmail Configuration
GenericName[eo]=Agordilo por la poŝtprenilo "fetchmail"
GenericName[es]=Configuración de Fetchmail
GenericName[et]=Fetchmaili seadistamine
GenericName[eu]=Fetchmail konfigurazioa
GenericName[fa]=Fetchmail پیکربندی
GenericName[fi]=Fetchmail-asetukset
GenericName[fr]=Outil de configuration de Fetchmail
GenericName[fy]=Fetchmail ynstelle
GenericName[ga]=Cumraíocht Fetchmail
GenericName[gl]=Configuración de Fetchmail
GenericName[gu]=ફેચમેલ રૂપરેખાંકન
GenericName[he]=קביעת ההגדרות של Fetchmail
GenericName[hi]=फेचमेल विन्यस्तेशन
GenericName[hne]=फेचमेल कान्फिगरेसन
GenericName[hr]=Fetchmail konfiguriranje
GenericName[hsb]=Konfiguracija za fetchmail
GenericName[hu]=Fetchmail-beállító
GenericName[is]=Fetchmail stillingar
GenericName[it]=Configurazione di fetchmail
GenericName[ja]=Fetchmail の設定
GenericName[ka]=fetchmai–ისl  კონფიგურაცია
GenericName[kk]=Fetchmail бағдарламасын баптау
GenericName[km]=កំណត់​រចនាសម្ព័ន្ធ Fetchmail
GenericName[kn]=ಫೆಚ್ ಮೈಲ್ ಸಂರಚನೆ
GenericName[ko]=Fetchmail 설정
GenericName[ku]=Veavakirina Fetchmail
GenericName[lt]=Fetchmail konfigūravimas
GenericName[lv]=Fetchmail konfigurācija
GenericName[mai]=फेचमेल कान्फिगरेशन
GenericName[mk]=Конфигурација на Fetchmail
GenericName[ml]=ഫെച്ച്മെയില്‍ ക്രമീകരണം
GenericName[mr]=फेचमेल संयोजना
GenericName[ms]=Tetapan Fetchmail
GenericName[nb]=Tilpass Fetchmail
GenericName[nds]=Instellen vun Fetchmail
GenericName[ne]=पत्र तान्ने कन्फिगरेसन
GenericName[nl]=Fetchmail instellen
GenericName[nn]=Fetchmail-oppsett
GenericName[or]=Fetchmail ବିନ୍ୟାସ
GenericName[pa]=ਫਿੱਚ-ਮੇਲ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja Fetchmaila
GenericName[pt]=Configuração do Fetchmail
GenericName[pt_BR]=Configuração do Fetchmail
GenericName[ro]=Configurează programul Fetchmail
GenericName[ru]=Настройка fetchmail
GenericName[se]=Fetchmail-heiveheapmi
GenericName[si]=Fetchmail සැකසීම
GenericName[sk]=Konfigurácia Fetchmail
GenericName[sl]=Nastavitve za Fetchmail
GenericName[sr]=Постава Фечмејла
GenericName[sr@latin]=Postava Fetchmaila
GenericName[sv]=Anpassning av Fetchmail
GenericName[ta]=பெட்ச்மெயில் வடிவமைப்பு
GenericName[te]=Fetchmail ఆకృతీకరణ
GenericName[tg]=Танзимоти Fetchmail
GenericName[th]=ปรับแต่ง Fetchmail
GenericName[tr]=Fetchmail Yapılandırması
GenericName[uk]=Конфігурації fetchmail
GenericName[uz]=Fetchmail moslamasi
GenericName[uz@cyrillic]=Fetchmail мосламаси
GenericName[vi]=Cấu hình Fetchmail
GenericName[wa]=Apontiaedje di fetchmail
GenericName[xh]=Uqwalaselo lweFetchmail
GenericName[x-test]=xxFetchmail Configurationxx
GenericName[zh_CN]=Fetchmail 配置
GenericName[zh_TW]=Fetchmail 組態
Exec=fetchmailconf
Terminal=false
Icon=fetchmailconf
Type=Application
