[Desktop Entry]
Name=Gaim
Name[af]=Gaim
Name[ar]=بيدجن
Name[as]=Gaim
Name[be]=Gaim
Name[be@latin]=Gaim
Name[bg]=Gaim
Name[bn]=গেইম
Name[bn_IN]=Gaim
Name[br]=Gaim
Name[ca]=Gaim
Name[ca@valencia]=Gaim
Name[cs]=Gaim
Name[csb]=Gaim
Name[cy]=Gaim
Name[da]=Gaim
Name[de]=Gaim
Name[el]=Gaim
Name[en_GB]=Gaim
Name[eo]=Gaim
Name[es]=Gaim
Name[et]=Gaim
Name[eu]=Gaim
Name[fi]=Gaim
Name[fr]=Gaim
Name[fy]=Gaim
Name[ga]=Gaim
Name[gl]=Gaim
Name[gu]=ગેઇમ
Name[he]=Gaim
Name[hi]=गेम
Name[hne]=गेम
Name[hr]=Gaim
Name[hsb]=Gaim
Name[hu]=Gaim
Name[is]=Gaim
Name[it]=Gaim
Name[ja]=Gaim
Name[ka]=Gaim
Name[kk]=Gaim
Name[km]=Gaim
Name[kn]=ಗೈಮ್
Name[ko]=Gaim
Name[ku]=Gaim
Name[lt]=Gaim
Name[lv]=Gaim
Name[mai]=गेम
Name[mk]=Gaim
Name[ml]=ഗെയിം
Name[mr]=गेम
Name[ms]=Gaim
Name[nb]=Gaim
Name[nds]=Gaim
Name[ne]=गाइम
Name[nl]=Gaim
Name[nn]=Gaim
Name[oc]=Gaim
Name[or]=Gaim
Name[pa]=ਗੇਮ
Name[pl]=Gaim
Name[pt]=Gaim
Name[pt_BR]=Gaim
Name[ro]=Gaim
Name[ru]=Gaim
Name[se]=Gaim
Name[si]=Gaim
Name[sk]=Gaim
Name[sl]=Gaim
Name[sr]=Гаим
Name[sr@latin]=Gaim
Name[sv]=Gaim
Name[ta]=கெய்ம்
Name[te]=గెయిమ్
Name[tg]=Gaim
Name[th]=Gaim
Name[tr]=Gaim
Name[uk]=Gaim
Name[uz]=Gaim
Name[uz@cyrillic]=Gaim
Name[vi]=Gaim
Name[wa]=Gaim
Name[x-test]=xxGaimxx
Name[zh_CN]=Gaim
Name[zh_TW]=Gaim
GenericName=Instant Messenger
GenericName[af]=Kitsboodskapper
GenericName[ar]=مرسال فوري
GenericName[as]=Instant Messenger
GenericName[be]=Імгненны абвеснік
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Програма за чат
GenericName[bn]=তাত্‍ক্ষণিক আড্ডা
GenericName[bn_IN]=ইনস্ট্যান্ট মেসেঞ্জার
GenericName[br]=Posteler a-benn-kaer
GenericName[ca]=Missatger instantani
GenericName[ca@valencia]=Missatger instantani
GenericName[cs]=Instant Messager
GenericName[csb]=Kùriera wiadłów (IM)
GenericName[cy]=Negesydd Chwim
GenericName[da]=Instant Messenger
GenericName[de]=Instant Messenger
GenericName[el]=Στιγμιαίος αποστολέας
GenericName[en_GB]=Instant Messenger
GenericName[eo]=Tujmesaĝilo
GenericName[es]=Mensajería instantánea
GenericName[et]=Kiirsuhtlusrakendus (IM)
GenericName[eu]=Bat-bateko mezularitza
GenericName[fa]=پیام‌رسان فوری
GenericName[fi]=Pikaviestintäohjelma
GenericName[fr]=Client de messagerie instantanée
GenericName[fy]=Instant messenger
GenericName[ga]=Clár teachtaireachtaí meandaracha
GenericName[gl]=Mensaxería instantánea
GenericName[gu]=ઇન્સ્ટન્ટ મેસેન્જર
GenericName[he]=תוכנית מסרים מידיים
GenericName[hi]=इंसटैंट मैसेंजर
GenericName[hne]=इंसटैंट मैसेंजर
GenericName[hr]=Trenutne poruke
GenericName[hsb]=Instant Messenger
GenericName[hu]=Azonnali üzenetküldő
GenericName[is]=Samtalsbiðill (Instant Messenger)
GenericName[it]=Messaggistica istantanea
GenericName[ja]=インスタントメッセンジャー
GenericName[ka]=მყისი შეტყობინება
GenericName[kk]=Жедел хабарласу
GenericName[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
GenericName[kn]=ತತ್ಷಣ ಓಲೆಕಾರ
GenericName[ko]=인스턴트 메신저
GenericName[ku]=Peyamnêra Demildest
GenericName[lt]=Momentinių žinučių klientas
GenericName[lv]=Tūlītējais ziņotājs
GenericName[mai]=इंसटैंट मैसेंजर
GenericName[mk]=Инстант гласник
GenericName[ml]=തത്സമയ സല്ലാപം
GenericName[mr]=जलद संदेशवाहक
GenericName[ms]=Pesanan Ringkas
GenericName[nb]=Lynmeldingsprogram
GenericName[nds]=Kortnarichten-Maker
GenericName[ne]=तयारी मेसेन्जर
GenericName[nl]=Instant messenger
GenericName[nn]=Lynmeldingsprogram
GenericName[or]=ଜରୂରି ଦୂତ
GenericName[pa]=ਤੁਰੰਤ ਮੈਸੈਂਜ਼ਰ
GenericName[pl]=Komunikator internetowy
GenericName[pt]=Mensageiro Instantâneo
GenericName[pt_BR]=Mensageiro instantâneo
GenericName[ro]=Program de Mesagerie Instantanee
GenericName[ru]=Обмен мгновенными сообщениями
GenericName[se]=Šleađgadiehtoprográmma
GenericName[si]=ක්‍ෂණික පණිවිඩකරු
GenericName[sk]=Instant Messenger
GenericName[sl]=Takojšni sporočilnik
GenericName[sr]=Брзи гласник
GenericName[sr@latin]=Brzi glasnik
GenericName[sv]=Direktmeddelandeklient
GenericName[ta]=உடனடி உரையாடி
GenericName[te]=తక్షణమే సందేశము ఇచ్చే కార్యక్రమం
GenericName[tg]=Барномаи паёмнависӣ
GenericName[th]=โปรแกรมส่งข้อความด่วนทันใจ
GenericName[tr]=Hızlı Mesajlaşma Uygulaması
GenericName[uk]=Кур'єр повідомлень
GenericName[uz]=Xabar almashish vositasi
GenericName[uz@cyrillic]=Хабар алмашиш воситаси
GenericName[vi]=Trình nhắn tin nhanh
GenericName[wa]=Messaedjî sol moumint
GenericName[x-test]=xxInstant Messengerxx
GenericName[zh_CN]=即时通讯程序
GenericName[zh_TW]=即時通訊(IM)
Exec=gaim
Terminal=false
Icon=gaim
Type=Application
