[Desktop Entry]
Name=gFTP
Name[af]=gFTP
Name[ar]=gFTP
Name[as]=gFTP
Name[be]=gFTP
Name[be@latin]=gFTP
Name[bg]=gFTP
Name[bn]=জি-এফ-টি-পি
Name[bn_IN]=gFTP
Name[br]=gFTP
Name[ca]=gFTP
Name[ca@valencia]=gFTP
Name[cs]=gFTP
Name[csb]=gFTP
Name[cy]=gFTP
Name[da]=gFTP
Name[de]=gFTP
Name[el]=gFTP
Name[en_GB]=gFTP
Name[eo]=G-Ftp
Name[es]=gFTP
Name[et]=gFTP
Name[eu]=gFTP
Name[fi]=gFTP
Name[fr]=gFTP
Name[fy]=gFTP
Name[ga]=gFTP
Name[gl]=gFTP
Name[gu]=gFTP
Name[he]=gFTP
Name[hi]=जीएफटीपी
Name[hne]=जीएफटीपी
Name[hr]=gFTP
Name[hsb]=gFTP
Name[hu]=gFTP
Name[is]=gFTP
Name[it]=gFTP
Name[ja]=gFTP
Name[ka]=gFTP
Name[kk]=gFTP
Name[km]=gFTP
Name[kn]=ಜಿFTP
Name[ko]=gFTP
Name[ku]=gFTP
Name[lt]=gFTP
Name[lv]=gFTP
Name[mai]=जीएफटीपी
Name[mk]=gFTP
Name[ml]=ജിഎഫ്‌ടിപി
Name[mr]=gFTP
Name[ms]=gFTP
Name[nb]=gFTP
Name[nds]=gFTP
Name[ne]=gFTP
Name[nl]=gFTP
Name[nn]=gFTP
Name[oc]=gFTP
Name[or]=gFTP
Name[pa]=gFTP
Name[pl]=gFTP
Name[pt]=gFTP
Name[pt_BR]=gFTP
Name[ro]=gFTP
Name[ru]=gFTP
Name[se]=gFTP
Name[si]=gFTP
Name[sk]=gFTP
Name[sl]=gFTP
Name[sr]=гФТП
Name[sr@latin]=gFTP
Name[sv]=gFTP
Name[ta]=ஜிஎப்டிபி
Name[te]=జీ ఎఫ్ టి పి
Name[tg]=gFTP
Name[th]=gFTP
Name[tr]=gFTP
Name[uk]=gFTP
Name[uz]=gFTP
Name[uz@cyrillic]=gFTP
Name[vi]=gFTP
Name[wa]=gFTP
Name[xh]=gFTP
Name[x-test]=xxgFTPxx
Name[zh_CN]=gFTP
Name[zh_TW]=gFTP
GenericName=FTP Browser
GenericName[af]=FTP Blaaier
GenericName[ar]=FTP متصفح
GenericName[as]=FTP চৰক
GenericName[be]=Кліент FTP
GenericName[be@latin]=Prahladnik FTP
GenericName[bg]=FTP браузър
GenericName[bn]=এফ-টি-পি ব্রাউজার
GenericName[bn_IN]=FTP ব্রাউজার
GenericName[br]=Furcher FTP
GenericName[ca]=Navegador FTP
GenericName[ca@valencia]=Navegador FTP
GenericName[cs]=FTP prohlížeč
GenericName[csb]=Przezérnik FTP
GenericName[da]=FTP-Browser
GenericName[de]=FTP-Browser
GenericName[el]=Περιηγητής FTP
GenericName[en_GB]=FTP Browser
GenericName[eo]=FTP-Foliumilo
GenericName[es]=Navegador FTP
GenericName[et]=FTP lehitseja
GenericName[eu]=FTP arakatzailea
GenericName[fa]=مرورگر قاپ‌
GenericName[fi]=FTP-selain
GenericName[fr]=Navigateur FTP
GenericName[fy]=FTP-blêder
GenericName[ga]=Brabhsálaí FTP
GenericName[gl]=Navegador FTP
GenericName[gu]=FTP બ્રાઉઝર
GenericName[he]=דפדפן FTP
GenericName[hi]=एफटीपी ब्राउज़र
GenericName[hne]=एफटीपी ब्राउजर
GenericName[hr]=FTP preglednik
GenericName[hsb]=FTP-přelistowar
GenericName[hu]=FTP-böngésző
GenericName[is]=FTP vafri
GenericName[it]=Browser FTP
GenericName[ja]=FTP ブラウザ
GenericName[ka]=FTP-ბრაუზერი
GenericName[kk]=FTP браузері
GenericName[km]=កម្មវិធី​រុករក FTP
GenericName[kn]=FTP ವೀಕ್ಷಕ
GenericName[ko]=FTP 탐색기
GenericName[ku]=Geroka FTP
GenericName[lt]=FTP naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=एफटीपी ब्राउजर
GenericName[mk]=FTP-прелистувач
GenericName[ml]=FTP ബ്രൌസര്‍
GenericName[mr]=FTP ब्राउजर
GenericName[ms]=Pelayar FTP
GenericName[nb]=FTP-leser
GenericName[nds]=FTP-Nettkieker
GenericName[ne]=एफटीपी ब्राउजर
GenericName[nl]=FTP-browser
GenericName[nn]=FTP-lesar
GenericName[or]=FTP ବ୍ରାଉଜର
GenericName[pa]=FTP ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka FTP
GenericName[pt]=Navegador de FTP
GenericName[pt_BR]=Navegador FTP
GenericName[ro]=Navigator FTP
GenericName[ru]=FTP-браузер
GenericName[se]=FTP-logan
GenericName[si]=FTP ගවේශකය
GenericName[sk]=FTP prehliadač
GenericName[sl]=Brskalnik po FTP
GenericName[sr]=Прегледач ФТП‑а
GenericName[sr@latin]=Pregledač FTP‑a
GenericName[sv]=FTP-bläddrare
GenericName[ta]=எப்டிபி உலாவி
GenericName[te]=ఎఫ్ టి పి బ్రౌజర్
GenericName[tg]=Намоишгари FTP
GenericName[th]=โปรแกรม FTP เบราว์เซอร์
GenericName[tr]=FTP Tarayıcı
GenericName[uk]=Навігатор FTP
GenericName[uz]=FTP-brauzer
GenericName[uz@cyrillic]=FTP-браузер
GenericName[vi]=Bộ duyệt FTP
GenericName[wa]=Betchteu FTP
GenericName[x-test]=xxFTP Browserxx
GenericName[zh_CN]=FTP 浏览器
GenericName[zh_TW]=FTP 瀏覽器
Exec=gftp
Terminal=false
Icon=gftp
Type=Application
