[Desktop Entry]
Name=GNOMEICU
Name[af]=Gnomeicu
Name[ar]=برنامج المحادثة GNOMEICU
Name[as]=GNOMEICU
Name[be]=GNOMEICU
Name[be@latin]=GNOMEICU
Name[bg]=GNOMEICU
Name[bn]=গনোম-আই.সি.ইউ
Name[bn_IN]=GNOMEICU
Name[br]=GNOMEICU
Name[ca]=GNOMEICU
Name[ca@valencia]=GNOMEICU
Name[cs]=GNOMEICU
Name[csb]=GNOMEICU (widzã ce)
Name[cy]=GNOMEICU
Name[da]=GNOMEICU
Name[de]=GNOMEICU
Name[el]=GNOMEICU
Name[en_GB]=GNOMEICU
Name[eo]=GNOMEICU
Name[es]=GNOMEICU
Name[et]=GNOMEICU
Name[eu]=GNOMEICU
Name[fi]=GNOMEICU
Name[fr]=GnomeICU
Name[fy]=GNOMEICU
Name[ga]=GNOMEICU
Name[gl]=GNOMEICU
Name[gu]=GNOMEICU
Name[he]=GNOMEICU
Name[hi]=ग्नोमआईसीयू
Name[hne]=ग्नोमआईसीयू
Name[hr]=GNOMEICU
Name[hsb]=GNOMEICU
Name[hu]=GNOMEICU
Name[is]=GNOMEICU
Name[it]=GNOMEICU
Name[ja]=GNOMEICU
Name[ka]=GNOMEICU
Name[kk]=GNOMEICU
Name[km]=GNOMEICU
Name[kn]=ಗ್ನೋಮಿ ಐಸಿಯು
Name[ko]=GNOMEICU
Name[ku]=GNOMEICU
Name[lt]=GNOMEICU
Name[lv]=GNOMEICU
Name[mai]=ग्नोमआईसीयू
Name[mk]=GNOMEICU
Name[ml]=ഗ്നോംഐസിയു
Name[mr]=GNOMEICU
Name[ms]=GNOMEICU
Name[nb]=GNOMEICU
Name[nds]=GNOMEICU
Name[ne]=GNOMEICU
Name[nl]=GNOMEICU
Name[nn]=GNOMEICU
Name[oc]=GNOMEICU
Name[or]=GNOMEICU
Name[pa]=GNOMEICU
Name[pl]=Gnome WidzęCie (ICU)
Name[pt]=GNOMEICU
Name[pt_BR]=GNOMEICU
Name[ro]=GNOMEICU
Name[ru]=GNOMEICU
Name[se]=GNOMEICU
Name[si]=GNOMEICU
Name[sk]=GNOMEICU
Name[sl]=GNOMEICU
Name[sr]=Гном‑ајсију
Name[sr@latin]=GnomeICU
Name[sv]=Gnomeicu
Name[ta]=GNOMEICU
Name[te]=గ్నొమ్ ఐసియు
Name[tg]=GNOMEICU
Name[th]=GNOMEICU
Name[tr]=GNOMEICU
Name[uk]=GNOMEICU
Name[uz]=GNOMEICU
Name[uz@cyrillic]=GNOMEICU
Name[vi]=GNOMEICU
Name[wa]=GNOMEICU
Name[xh]=GNOMEICU
Name[x-test]=xxGNOMEICUxx
Name[zh_CN]=GNOMEICU
Name[zh_TW]=GNOMEICU
GenericName=ICQ Messenger
GenericName[af]=ICQ Boodskapper
GenericName[ar]=ICQ مرسال
GenericName[as]=ICQ Messenger
GenericName[be]=Кліент ICQ
GenericName[be@latin]=Kamunikatar dla ICQ
GenericName[bg]=Програма за ICQ
GenericName[bn]=আই-সি-কিউ মেসেঞ্জার
GenericName[bn_IN]=ICQ মেসেঞ্জার
GenericName[br]=Kemennader ICQ
GenericName[ca]=Missatgeria ICQ
GenericName[ca@valencia]=Missatgeria ICQ
GenericName[cs]=ICQ komunikátor
GenericName[csb]=Kùriera ICQ
GenericName[da]=ICQ-Messenger
GenericName[de]=ICQ-Messenger
GenericName[el]=ICQ αποστολέας
GenericName[en_GB]=ICQ Messenger
GenericName[eo]=ICQ Tujmesaĝilo
GenericName[es]=Mensajería instantánea ICQ
GenericName[et]=ICQ Messenger
GenericName[eu]=ICQ mezularitza
GenericName[fa]=ICQ پیام‌رسان
GenericName[fi]=ICQ-pikaviestintäohjelma
GenericName[fr]=Messagerie ICQ
GenericName[fy]=ICQ-messenger
GenericName[ga]=Teachtaire ICQ
GenericName[gl]=Mensaxería ICQ
GenericName[gu]=ICQ મેસેન્જર
GenericName[he]=תוכנית מסרים מידיים של ICQ
GenericName[hi]=आईसीक्यू मैसेंजर
GenericName[hne]=आईसीक्यू मैसेंजर
GenericName[hr]=ICQ trenutne poruke
GenericName[hsb]=ICQ Messenger
GenericName[hu]=ICQ üzenetküldő
GenericName[is]=ICQ spjallforrit
GenericName[it]=Messaggistica ICQ
GenericName[ja]=ICQ メッセンジャー
GenericName[ka]=ICQ შემმტყობინებელი
GenericName[kk]=ICQ клиенті
GenericName[km]=កម្មវិធី​ផ្ញើសារ ICQ
GenericName[kn]=ICQ ಓಲೆಕಾರ
GenericName[ko]=ICQ 메신저
GenericName[ku]=Peyamnerê ICQ
GenericName[lt]=ICQ žinučių klientas
GenericName[lv]=ICQ ziņotājs
GenericName[mai]=आईसीक्यू मैसेंजर
GenericName[mk]=ICQ Messenger
GenericName[ml]=ഐസിക്യൂ മെസഞ്ചര്‍
GenericName[mr]=ICQ मैसेंजर
GenericName[ms]=ICQ Messenger
GenericName[nb]=Prateprogrammet ICQ
GenericName[nds]=ICQ-Narichtenmaker
GenericName[ne]=आईसीक्यू मेसेन्जर
GenericName[nl]=ICQ-messenger
GenericName[nn]=Prateprogrammet ICQ
GenericName[oc]=ICQ Messenger
GenericName[or]=ICQ ଦୂତ
GenericName[pa]=ICQ ਮੈਸੈਂਜ਼ਰ
GenericName[pl]=Komunikator ICQ
GenericName[pt]=Mensageiro ICQ
GenericName[pt_BR]=Mensageiro ICQ
GenericName[ro]=Mesager ICQ
GenericName[ru]=Клиент ICQ
GenericName[se]=ICQ-šleađgadiehti
GenericName[si]=ICQ පණිවිඩකරු
GenericName[sk]=ICQ Messenger
GenericName[sl]=Sporočilnik ICQ
GenericName[sr]=Ајсикју гласник
GenericName[sr@latin]=ICQ glasnik
GenericName[sv]=ICQ-meddelandeklient
GenericName[ta]=ICQ உரையாடி
GenericName[te]=ICQ మెసేంజర్
GenericName[tg]=Паёмнависии ICQ
GenericName[th]=ICQ Messenger
GenericName[tr]=ICQ Hızlı Mesajlaşma Uygulaması
GenericName[uk]=Кур'єр (messenger) ICQ
GenericName[uz]=ICQ xabar almashish vositasi
GenericName[uz@cyrillic]=ICQ хабар алмашиш воситаси
GenericName[vi]=Trình nhắn tin ICQ
GenericName[wa]=Messaedjreye sol moumint ICQ
GenericName[x-test]=xxICQ Messengerxx
GenericName[zh_CN]=ICQ Messenger
GenericName[zh_TW]=ICQ 即時通訊
Exec=gnomeicu -a
Terminal=false
Icon=gnomeicu
Type=Application
