[Desktop Entry]
Name=GNOME Talk
Name[br]=GNOME flapañ
Name[cs]=Gnome Talk
Name[csb]=Gnome Talk
Name[fa]=گفتگوی گنوم
Name[fi]=Gnome Talk
Name[fr]=Gnome Talk
Name[it]=Talk di GNOME
Name[ko]=그놈 이야기
Name[nb]=GNOME talk
Name[nds]=GNOME-Talk
Name[ne]=जिनोम कुराकानी
Name[pa]=ਗਨੋਮ ਗੱਲਬਾਤ
Name[pl]=Gnome Talk
Name[pt_BR]=Talk do GNOME
Name[ro]=Talk GNOME
Name[sl]=Gnome Talk
Name[sr]=Гномов разговор
Name[sr@latin]=Gnomeov razgovor
Name[sv]=Gnome talk
Name[ta]=க்னோம் பேச்சு
Name[te]=గ్నొమ్ టాక్
Name[tg]=Гуфтугӯи GNOME
Name[vi]=Nói GNOME
Name[wa]=Cliyint «talk» di GNOME
Name[x-test]=xxGNOME Talkxx
Name[xh]=Intetho yeGNOME
Exec=gtalk
Terminal=false
Icon=gnome-talk
Type=Application
