[Desktop Entry]
Name=GNOME Talk
Name[af]=GNOME Talk
Name[ar]=محادثة جنوم
Name[as]=GNOME Talk
Name[be]=GNOME Talk
Name[be@latin]=GNOME Talk
Name[bg]=GNOME Talk
Name[bn]=গনোম টক
Name[bn_IN]=GNOME Talk
Name[br]=GNOME flapañ
Name[ca]=Talk del GNOME
Name[ca@valencia]=Talk del GNOME
Name[cs]=Gnome Talk
Name[csb]=Gnome Talk
Name[cy]=GNOME Talk
Name[da]=GNOME Talk
Name[de]=GNOME-Talk
Name[el]=GNOME Talk
Name[en_GB]=GNOME Talk
Name[eo]=GNOME Talk
Name[es]=GNOME Talk
Name[et]=GNOME Talk
Name[eu]=GNOME Talk
Name[fa]=گفتگوی گنوم
Name[fi]=Gnome Talk
Name[fr]=Gnome Talk
Name[fy]=GNOME Talk
Name[ga]=GNOME Talk
Name[gl]=GNOME Talk
Name[gu]=જીનોમ ટોક
Name[he]=GNOME Talk
Name[hi]=ग्नोम टाक
Name[hne]=ग्नोम टाक
Name[hr]=GNOME Talk
Name[hsb]=GNOME Talk
Name[hu]=GNOME Talk
Name[is]=GNOME Talk
Name[it]=Talk di GNOME
Name[ja]=GNOME Talk
Name[ka]=GNOME Talk
Name[kk]=GNOME Talk
Name[km]=GNOME Talk
Name[kn]=ಗ್ನೋಮ್ ಟಾಕ್
Name[ko]=그놈 이야기
Name[ku]=GNOME Talk
Name[lt]=GNOME Talk
Name[lv]=GNOME Talk
Name[mai]=ग्नोम टाक
Name[mk]=GNOME Talk
Name[ml]=ഗ്നോം ടോക്ക്
Name[mr]=GNOME संभाषण
Name[ms]=GNOME Talk
Name[nb]=GNOME talk
Name[nds]=GNOME-Talk
Name[ne]=जिनोम कुराकानी
Name[nl]=GNOME Talk
Name[nn]=GNOME Talk
Name[oc]=GNOME Talk
Name[or]=GNOME ବାର୍ତ୍ତାଳାପ
Name[pa]=ਗਨੋਮ ਗੱਲਬਾਤ
Name[pl]=Gnome Talk
Name[pt]=GNOME Talk
Name[pt_BR]=Talk do GNOME
Name[ro]=Talk GNOME
Name[ru]=GNOME Talk
Name[se]=GNOME Talk
Name[si]=GNOME කතා
Name[sk]=GNOME Talk
Name[sl]=GNOME Talk
Name[sr]=Гномов разговор
Name[sr@latin]=Gnomeov razgovor
Name[sv]=Gnome talk
Name[ta]=குநோம் அரட்டை
Name[te]=గ్నొమ్ టాక్
Name[tg]=GNOME Talk
Name[th]=GNOME Talk
Name[tr]=GNOME Talk
Name[uk]=GNOME Talk
Name[uz]=GNOME Talk
Name[uz@cyrillic]=GNOME Talk
Name[vi]=Nói GNOME
Name[wa]=Cliyint «talk» di GNOME
Name[xh]=Intetho yeGNOME
Name[x-test]=xxGNOME Talkxx
Name[zh_CN]=GNOME Talk
Name[zh_TW]=GNOME Talk
Exec=gtalk
Terminal=false
Icon=gnome-talk
Type=Application
