[Desktop Entry]
Name=GNOMEICU
Name[af]=Gnomeicu
Name[bn]=গনোম-আই.সি.ইউ
Name[csb]=GNOMEICU (widzã ce)
Name[fr]=GnomeICU
Name[hi]=ग्नोमआईसीयू
Name[pl]=Gnome WidzęCie (ICU)
Name[sr]=Гном-ајсију
Name[sr@latin]=GnomeICU
Name[sv]=Gnomeicu
Name[te]=గ్నొమ్ ఐసియు
Name[x-test]=xxGNOMEICUxx
GenericName=ICQ Messenger
GenericName[af]=ICQ Boodskapper
GenericName[ar]=ICQ مرسال
GenericName[be]=Кліент ICQ
GenericName[bg]=Програма за ICQ
GenericName[bn]=আই-সি-কিউ মেসেঞ্জার
GenericName[br]=Kemennader ICQ
GenericName[ca]=Missatgeria ICQ
GenericName[cs]=ICQ komunikátor
GenericName[csb]=Kùriera ICQ
GenericName[da]=ICQ-Messenger
GenericName[de]=ICQ-Messenger
GenericName[el]=ICQ αποστολέας
GenericName[eo]=ICQ Tujmesaĝilo
GenericName[es]=Mensajería instantánea ICQ
GenericName[eu]=ICQ mezularitza
GenericName[fa]=ICQ پیام‌رسان
GenericName[fi]=ICQ-pikaviestintäohjelma
GenericName[fr]=Messagerie ICQ
GenericName[fy]=ICQ-messenger
GenericName[ga]=Teachtaire ICQ
GenericName[he]=תוכנית מסרים מידיים של ICQ
GenericName[hi]=आईसीक्यू मैसेंजर
GenericName[hr]=ICQ trenutne poruke
GenericName[hu]=ICQ üzenetküldő
GenericName[is]=ICQ spjallforrit
GenericName[it]=Messaggistica ICQ
GenericName[ja]=ICQ メッセンジャー
GenericName[ka]=ICQ შემმტყობინებელი
GenericName[kk]=ICQ клиенті
GenericName[km]=កម្មវិធី​ផ្ញើសារ ICQ
GenericName[ko]=ICQ 메신저
GenericName[lt]=ICQ žinučių klientas
GenericName[lv]=ICQ ziņotājs
GenericName[nb]=Prateprogrammet ICQ
GenericName[nds]=ICQ-Narichtenmaker
GenericName[ne]=आईसीक्यू मेसेन्जर
GenericName[nl]=ICQ-messenger
GenericName[nn]=Prateprogrammet ICQ
GenericName[pa]=ICQ ਮੈਸੈਂਜ਼ਰ
GenericName[pl]=Komunikator ICQ
GenericName[pt]=Mensageiro ICQ
GenericName[pt_BR]=Mensageiro ICQ
GenericName[ro]=Mesaje instantanee ICQ
GenericName[ru]=Клиент ICQ
GenericName[se]=ICQ-šleađgadiehti
GenericName[sl]=Sporočilnik ICQ
GenericName[sr]=Ајсикју гласник
GenericName[sr@latin]=ICQ glasnik
GenericName[sv]=ICQ-meddelandeklient
GenericName[ta]=ICQ செய்தியாளர்
GenericName[te]=ICQ మెసేంజర్
GenericName[tg]=Хабаргузории ICQ
GenericName[th]=โปรแกรมคุย ICQ
GenericName[tr]=ICQ Hızlı Mesajlaşma Programı
GenericName[uk]=Кур'єр (messenger) ICQ
GenericName[uz]=ICQ хабар алмашиш воситаси
GenericName[vi]=Trình nhắn tin ICQ
GenericName[wa]=Messaedjreye sol moumint ICQ
GenericName[x-test]=xxICQ Messengerxx
GenericName[zh_TW]=ICQ 即時通訊
Exec=gnomeicu -a
Terminal=false
Icon=gnomeicu
Type=Application
