[Desktop Entry]
Encoding=UTF-8
Name=GnomeMeeting
Name[ko]=그놈 미팅
Name[ne]=जिनोम मिटिङ
Name[pa]=ਗਨੋਮ ਮੀਟਿੰਗ
Name[pl]=Gnome - Spotkania
Name[ta]=தொலை மாநாடு
Name[te]=గ్నొమ్ మీటింగ్
Name[tg]=Дидори Gnome
Name[x-test]=xxGnomeMeetingxx
GenericName=Video Conferencing
GenericName[af]=Video Konferensie
GenericName[ca]=Vídeo conferència
GenericName[cs]=Video konference
GenericName[csb]=Wideòkònferencëje
GenericName[cy]=Cynadleddu Fideo
GenericName[da]=Videokonferencer
GenericName[de]=Video-Konferenzen
GenericName[el]=Διάσκεψη μέσω βίντεο
GenericName[eo]=Videokonferencoj
GenericName[es]=Video conferencia
GenericName[et]=Videokonverents
GenericName[eu]=Bideo konferentzia
GenericName[fa]=فراهمایی ویدیویی
GenericName[fi]=Videokonferenssi
GenericName[fr]=Conférence vidéo
GenericName[fy]=Fideo Conferencing
GenericName[ga]=Físchomhdháil
GenericName[gl]=Conferéncia de Vídeo
GenericName[he]=שיחות ועידה בווידאו
GenericName[hr]=Video konferenciranje
GenericName[hu]=Videokonferencia
GenericName[is]=Myndfundaforrit
GenericName[it]=Video conferenza
GenericName[ja]=ビデオ会議
GenericName[ka]=ვიდეო კონფერენცია
GenericName[kk]=Бейне конференция
GenericName[km]=ធ្វើ​សន្និសីទ​តាម​វីដេអូ
GenericName[lt]=Video konferencijos
GenericName[lv]=Video konferences
GenericName[mk]=Видео конференции
GenericName[ms]=Sidang Video
GenericName[nb]=Videokonferanse
GenericName[nds]=Videokonferenz
GenericName[ne]=भिडियो सम्मेलन
GenericName[nn]=Videokonferanse
GenericName[pa]=ਵੀਡਿਓ ਕਾਨਫਰੰਸ
GenericName[pl]=Videokonferencje
GenericName[pt]=Vídeo-Conferência
GenericName[pt_BR]=Vídeo-Conferência
GenericName[ro]=Program de video conferinţă
GenericName[ru]=Видео конференции
GenericName[se]=Videočoahkkin
GenericName[sl]=Video konferenčne zveze
GenericName[sr]=Видео конференције
GenericName[sr@latin]=Video konferencije
GenericName[sv]=Videokonferens
GenericName[ta]=காட்சிப்பட பொதுக்கூட்டம்
GenericName[te]=విడియొ గొష్టి
GenericName[tg]=Конфронси видеоӣ
GenericName[tr]=Video Konferans
GenericName[uk]=Відеоконференції
GenericName[uz]=Видео конференция
GenericName[wa]=Conferince videyo
GenericName[x-test]=xxVideo Conferencingxx
GenericName[zh_TW]=視訊會議
Exec=gnomemeeting
Terminal=false
Icon=gnomemeeting
Type=Application
