[Desktop Entry]
Name=GnomeMeeting
Name[af]=GnomeMeeting
Name[ar]=محرر الفيديو GnomeMeeting
Name[as]=GnomeMeeting
Name[be]=GnomeMeeting
Name[be@latin]=GnomeMeeting
Name[bg]=GnomeMeeting
Name[bn]=গনোম-মীটিং
Name[bn_IN]=GnomeMeeting
Name[br]=GnomeMeeting
Name[ca]=GnomeMeeting
Name[ca@valencia]=GnomeMeeting
Name[cs]=GnomeMeeting
Name[csb]=GnomeMeeting
Name[cy]=GnomeMeeting
Name[da]=GnomeMeeting
Name[de]=GnomeMeeting
Name[el]=GnomeMeeting
Name[en_GB]=GnomeMeeting
Name[eo]=GnomeMeeting
Name[es]=GnomeMeeting
Name[et]=GnomeMeeting
Name[eu]=GnomeMeeting
Name[fi]=GnomeMeeting
Name[fr]=GnomeMeeting
Name[fy]=GnomeMeeting
Name[ga]=GnomeMeeting
Name[gl]=GnomeMeeting
Name[gu]=જીનોમમિટિંગ
Name[he]=GnomeMeeting
Name[hi]=ग्नोममीटिंग
Name[hne]=ग्नोममीटिंग
Name[hr]=GnomeMeeting
Name[hsb]=GnomeMeeting
Name[hu]=GnomeMeeting
Name[is]=GnomeMeeting
Name[it]=GnomeMeeting
Name[ja]=GnomeMeeting
Name[ka]=GnomeMeeting
Name[kk]=GnomeMeeting
Name[km]=GnomeMeeting
Name[kn]=ಗ್ನೋಮ್ ಮೀಟಿಂಗ್
Name[ko]=GnomeMeeting
Name[ku]=GnomeMeeting
Name[lt]=GnomeMeeting
Name[lv]=GnomeMeeting
Name[mai]=ग्नोममीटिंग
Name[mk]=GnomeMeeting
Name[ml]=ഗ്നോംമീറ്റിങ്ങ്
Name[mr]=GnomeMeeting
Name[ms]=GnomeMeeting
Name[nb]=GnomeMeeting
Name[nds]=GnomeMeeting
Name[ne]=जिनोम मिटिङ
Name[nl]=GnomeMeeting
Name[nn]=GnomeMeeting
Name[oc]=GnomeMeeting
Name[or]=GnomeMeeting
Name[pa]=ਗਨੋਮ ਮੀਟਿੰਗ
Name[pl]=Gnome - Spotkania
Name[pt]=GnomeMeeting
Name[pt_BR]=GnomeMeeting
Name[ro]=GnomeMeeting
Name[ru]=GnomeMeeting
Name[se]=GnomeMeeting
Name[si]=GnomeMeeting
Name[sk]=GnomeMeeting
Name[sl]=GnomeMeeting
Name[sr]=Гном‑састанак
Name[sr@latin]=Gnome-sastanak
Name[sv]=GnomeMeeting
Name[ta]=குநோம் கூடல்
Name[te]=గ్నొమ్ మీటింగ్
Name[tg]=GnomeMeeting
Name[th]=GnomeMeeting
Name[tr]=GnomeMeeting
Name[uk]=GnomeMeeting
Name[uz]=GnomeMeeting
Name[uz@cyrillic]=GnomeMeeting
Name[vi]=Họp Gnome
Name[wa]=GnomeMeeting
Name[xh]=GnomeMeeting
Name[x-test]=xxGnomeMeetingxx
Name[zh_CN]=GnomeMeeting
Name[zh_TW]=GnomeMeeting
GenericName=Video Conferencing
GenericName[af]=Video Konferensie
GenericName[ar]=اجتماع مرئي
GenericName[as]=Video Conferencing
GenericName[be]=Відэаканферэнцыя
GenericName[be@latin]=Prahrama dla videakanferencyjaŭ
GenericName[bg]=Видео конференция
GenericName[bn]=ভিডিও সম্মেলনী
GenericName[bn_IN]=ভিডিও কনফারেন্স ব্যবস্থা
GenericName[ca]=Vídeo conferència
GenericName[ca@valencia]=Vídeo conferència
GenericName[cs]=Video konference
GenericName[csb]=Wideòkònferencëje
GenericName[cy]=Cynadleddu Fideo
GenericName[da]=Videokonferencer
GenericName[de]=Video-Konferenzen
GenericName[el]=Διάσκεψη μέσω βίντεο
GenericName[en_GB]=Video Conferencing
GenericName[eo]=Videokonferencoj
GenericName[es]=Video conferencia
GenericName[et]=Videokonverents
GenericName[eu]=Bideo konferentzia
GenericName[fa]=فراهمایی ویدیویی
GenericName[fi]=Videokonferenssi
GenericName[fr]=Conférence vidéo
GenericName[fy]=Fideo Konferinsje
GenericName[ga]=Físchomhdháil
GenericName[gl]=Conferencias de vídeo
GenericName[gu]=વિડીઓ કોન્ફરન્સિંગ
GenericName[he]=שיחות ועידה בווידאו
GenericName[hi]=वीडियो कॉनफ्रेंसिंग
GenericName[hne]=वीडियो कानफ्रेंसिंग
GenericName[hr]=Video konferenciranje
GenericName[hsb]=Widejowe konferency
GenericName[hu]=Videokonferencia
GenericName[is]=Myndfundaforrit
GenericName[it]=Video conferenza
GenericName[ja]=ビデオ会議
GenericName[ka]=ვიდეო კონფერენცია
GenericName[kk]=Бейне конференция
GenericName[km]=ការ​ធ្វើ​សន្និសីទ​តាម​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (video) ಸಹಿತ ಸಮಾಲೋಚನೆ
GenericName[ko]=화상 대화
GenericName[ku]=Konferansa Vîdeoyê
GenericName[lt]=Video konferencijos
GenericName[lv]=Video konferences
GenericName[mai]=विडियो सम्मेलन
GenericName[mk]=Видео конференции
GenericName[ml]=വീഡിയോ കോണ്‍ഫറന്‍സിങ്ങ്
GenericName[mr]=वीडियो कॉनफ्रेंसिंग
GenericName[ms]=Sidang Video
GenericName[nb]=Videokonferanse
GenericName[nds]=Videokonferenz
GenericName[ne]=भिडियो सम्मेलन
GenericName[nl]=Video Conferencing
GenericName[nn]=Videokonferanse
GenericName[or]=ଭିଡ଼ିଓ ସମ୍ମେଳନ
GenericName[pa]=ਵੀਡਿਓ ਕਾਨਫਰੰਸ
GenericName[pl]=Wideokonferencje
GenericName[pt]=Vídeo-Conferência
GenericName[pt_BR]=Vídeo conferência
GenericName[ro]=Program de conferințe video
GenericName[ru]=Видео-конференции
GenericName[se]=Videočoahkkin
GenericName[si]=වීඩියෝ සංවාද
GenericName[sk]=Videokonferencie
GenericName[sl]=Video konferenčne zveze
GenericName[sr]=Видео конференције
GenericName[sr@latin]=Video konferencije
GenericName[sv]=Videokonferens
GenericName[ta]=பதிவொலிக் கூடுதல்
GenericName[te]=విడియొ గొష్టి
GenericName[tg]=Вохӯриҳои видео
GenericName[th]=การประชุมผ่านวิดิโอ
GenericName[tr]=Video Konferans
GenericName[uk]=Відеоконференції
GenericName[uz]=Video konferensiya
GenericName[uz@cyrillic]=Видео конференция
GenericName[vi]=Trình hội họp ảnh động
GenericName[wa]=Conferince videyo
GenericName[xh]=Video Conferencing
GenericName[x-test]=xxVideo Conferencingxx
GenericName[zh_CN]=视频会议
GenericName[zh_TW]=視訊會議
Exec=gnomemeeting
Terminal=false
Icon=gnomemeeting
Type=Application
