[Desktop Entry]
Name=GNOME Telnet
Name[af]=GNOME Telnet
Name[ar]=هاتف الانترنت لجنوم
Name[as]=GNOME Telnet
Name[be]=GNOME Telnet
Name[be@latin]=GNOME Telnet
Name[bg]=GNOME Telnet
Name[bn]=গনোম টেলনেট
Name[bn_IN]=GNOME Telnet
Name[br]=GNOME Telnet
Name[ca]=Telnet del GNOME
Name[ca@valencia]=Telnet del GNOME
Name[cs]=Gnome Telnet
Name[csb]=Gnome Telnet
Name[cy]=GNOME Telnet
Name[da]=GNOME Telnet
Name[de]=GNOME-Telnet
Name[el]=GNOME Telnet
Name[en_GB]=GNOME Telnet
Name[eo]=Gnoma telneto
Name[es]=GNOME Telnet
Name[et]=GNOME Telnet
Name[eu]=GNOME Telnet
Name[fi]=Gnome Telnet
Name[fr]=Gnome Telnet
Name[fy]=GNOME Telnet
Name[ga]=GNOME Telnet
Name[gl]=GNOME Telnet
Name[gu]=જીનોમ ટેલનેટ
Name[he]=GNOME Telnet
Name[hi]=ग्नोम टेलनेट
Name[hne]=ग्नोम टेलनेट
Name[hr]=GNOME Telnet
Name[hsb]=GNOME Telnet
Name[hu]=GNOME Telnet
Name[is]=GNOME Telnet
Name[it]=Telnet di GNOME
Name[ja]=GNOME Telnet
Name[ka]=GNOME Telnet
Name[kk]=GNOME Telnet
Name[km]=GNOME Telnet
Name[kn]=ಗ್ನೋಮ್ ಟೆಲ್ನೆಟ್
Name[ko]=그놈 텔넷
Name[ku]=GNOME Telnet
Name[lt]=GNOME Telnet
Name[lv]=GNOME Telnet
Name[mai]=ग्नोम टेलनेट
Name[mk]=GNOME Telnet
Name[ml]=ഗ്നോം ടെല്‍നെറ്റ്
Name[mr]=GNOME टेलनेट
Name[ms]=GNOME Telnet
Name[nb]=GNOME telnet
Name[nds]=GNOME-Telnet
Name[ne]=जिनोम टेलनेट
Name[nl]=GNOME Telnet
Name[nn]=GNOME Telnet
Name[oc]=GNOME Telnet
Name[or]=GNOME ଟେଲନେଟ
Name[pa]=ਗਨੋਮ ਟੇਲਨੈਟ
Name[pl]=Gnome Telnet
Name[pt]=GNOME Telnet
Name[pt_BR]=Telnet do GNOME
Name[ro]=Telnet GNOME
Name[ru]=GNOME Telnet
Name[se]=GNOME Telnet
Name[si]=GNOME Telnet
Name[sk]=GNOME Telnet
Name[sl]=GNOME Telnet
Name[sr]=Гномов телнет
Name[sr@latin]=Gnomeov telnet
Name[sv]=Gnome telnet
Name[ta]=குநோம் டெல்நெட்
Name[te]=గ్నొమ్ టెల్ నెట్
Name[tg]=GNOME Telnet
Name[th]=เทลเน็ตของ GNOME
Name[tr]=GNOME Telnet
Name[uk]=GNOME Telnet
Name[uz]=GNOME Telnet
Name[uz@cyrillic]=GNOME Telnet
Name[vi]=GNOME Telnet
Name[wa]=Cliyint telnet di GNOME
Name[xh]=ITelnet yeGNOME
Name[x-test]=xxGNOME Telnetxx
Name[zh_CN]=GNOME Telnet
Name[zh_TW]=GNOME Telnet
GenericName=Remote Access
GenericName[af]=Afgeleë Toegang
GenericName[ar]=أداة الدخول عن بعد
GenericName[as]=দূৰৰ পৰা প্ৰৱেশ কৰা
GenericName[be]=Аддалены доступ
GenericName[be@latin]=Dostup da inšych hostaŭ
GenericName[bg]=Отдалечен достъп
GenericName[bn]=রিমোট অ্যাকসেস
GenericName[bn_IN]=দূরবর্তী অবস্থান থেকে ব্যবহারের সুবিধা
GenericName[br]=Diraez a-bell
GenericName[ca]=Accés remot
GenericName[ca@valencia]=Accés remot
GenericName[cs]=Vzdálený přístup
GenericName[csb]=Daleczi przëstãp
GenericName[da]=Fjernadgang
GenericName[de]=Zugriff auf Fremdrechner
GenericName[el]=Εργαλείο απομακρυσμένης πρόσβασης
GenericName[en_GB]=Remote Access
GenericName[eo]=Fora aliro
GenericName[es]=Acceso remoto
GenericName[et]=Kaugligipääs
GenericName[eu]=Urruneko sarbidea
GenericName[fa]=دستیابی دور
GenericName[fi]=Etäkäyttötyökalu
GenericName[fr]=Accès distant
GenericName[fy]=Eksterne tagong
GenericName[ga]=Cianrochtain
GenericName[gl]=Acceso remoto
GenericName[gu]=રીમોટ ઉપયોગ
GenericName[he]=גישה מרחוק
GenericName[hi]=रिमोट पहुँच औज़ार
GenericName[hne]=रिमोट पहुंच
GenericName[hr]=Udaljeno pristupanje
GenericName[hsb]=Dalny přistup
GenericName[hu]=Telnet-kliens
GenericName[is]=Fjarlægur aðgangur
GenericName[it]=Accesso remoto
GenericName[ja]=リモートアクセスツール
GenericName[ka]=შორწვდომა
GenericName[kk]=Қашықтан қатынау
GenericName[km]=ចូល​ដំណើរ​ការ​ពី​ចម្ងាយ
GenericName[kn]=ದೂರಸ್ಥ ನಿಲುಕಣೆ
GenericName[ko]=원격 접속
GenericName[ku]=Gihandina Dûr
GenericName[lt]=Nutolęs prisijungimas
GenericName[lv]=Attālināta piekļuve
GenericName[mai]=रिमोट पहुँच अओजार
GenericName[mk]=Пристап оддалеку
GenericName[ml]=വീദൂര നിയന്ത്രണം
GenericName[mr]=दूरस्थ प्रवेश
GenericName[ms]=Akses Jauh
GenericName[nb]=Ekstern innlogging
GenericName[nds]=Warktüüch för den Feerntogriep
GenericName[ne]=टाढा पहुँच
GenericName[nl]=Externe toegang
GenericName[nn]=Ekstern innlogging
GenericName[oc]=Accès distant
GenericName[or]=ସୁଦୂର ଅଭିଗମ୍ୟତା
GenericName[pa]=ਰਿਮੋਟ ਅਸੈੱਸ
GenericName[pl]=Zdalny dostęp
GenericName[pt]=Acesso Remoto
GenericName[pt_BR]=Acesso remoto
GenericName[ro]=Acces la distanță
GenericName[ru]=Удалённый доступ
GenericName[se]=Gáiddus beassan
GenericName[si]=දුරස්ත පිවිසුම
GenericName[sk]=Vzdialený prístup
GenericName[sl]=Oddaljeni dostop
GenericName[sr]=Удаљени приступ
GenericName[sr@latin]=Udaljeni pristup
GenericName[sv]=Fjärråtkomst
GenericName[ta]=தொலைதூர அணுகல்
GenericName[te]=సుదూర ప్రవేశము
GenericName[tg]=Дастрасии дурдаст
GenericName[th]=การเข้าใช้งานทางไกล
GenericName[tr]=Uzaktan Erişim
GenericName[uk]=Віддалений доступ
GenericName[uz]=Masofadan ulanish vositasi
GenericName[uz@cyrillic]=Масофадан уланиш воситаси
GenericName[vi]=Truy cập từ xa
GenericName[wa]=Accès då lon
GenericName[x-test]=xxRemote Accessxx
GenericName[zh_CN]=远程访问
GenericName[zh_TW]=遠端存取
Exec=gnome-telnet
Terminal=false
Icon=gnome-telnet
Type=Application
