[Desktop Entry]
Name=GNOME Telnet
Name[ar]=تلنت جنوم
Name[bn]=গনোম টেলনেট
Name[cs]=Gnome Telnet
Name[csb]=Gnome Telnet
Name[eo]=Gnoma telneto
Name[fi]=Gnome Telnet
Name[fr]=Gnome Telnet
Name[gu]=જીનોમ ટેલનેટ
Name[hi]=ग्नोम टेलनेट
Name[it]=Telnet di GNOME
Name[kn]=ಗ್ನೋಮ್ ಟೆಲ್ನೆಟ್
Name[ko]=그놈 텔넷
Name[ml]=ഗ്നോം ടെല്‍നെറ്റ്
Name[mr]=GNOME टेलनेट
Name[nb]=GNOME telnet
Name[nds]=GNOME-Telnet
Name[ne]=जिनोम टेलनेट
Name[pa]=ਗਨੋਮ ਟੇਲਨੈਟ
Name[pl]=Gnome Telnet
Name[pt_BR]=Telnet do GNOME
Name[ro]=Telnet GNOME
Name[sl]=Gnome Telnet
Name[sr]=Гномов телнет
Name[sr@latin]=Gnomeov telnet
Name[sv]=Gnome telnet
Name[ta]=குநோம் டெல்நெட்
Name[te]=గ్నొమ్ టెల్ నెట్
Name[th]=เทลเน็ตของ GNOME
Name[wa]=Cliyint telnet di GNOME
Name[x-test]=xxGNOME Telnetxx
Name[xh]=ITelnet yeGNOME
GenericName=Remote Access
GenericName[af]=Afgeleë Toegang
GenericName[ar]=أداة الدخول عن بعد
GenericName[be]=Аддалены доступ
GenericName[bg]=Отдалечен достъп
GenericName[bn]=রিমোট অ্যাকসেস
GenericName[bn_IN]=দূরবর্তী অবস্থান থেকে ব্যবহারের সুবিধা
GenericName[br]=Diraez a-bell
GenericName[ca]=Accés remot
GenericName[cs]=Vzdálený přístup
GenericName[csb]=Daleczi przëstãp
GenericName[da]=Fjernadgang
GenericName[de]=Zugriff auf Fremdrechner
GenericName[el]=Εργαλείο απομακρυσμένης πρόσβασης
GenericName[eo]=Fora aliro
GenericName[es]=Acceso remoto
GenericName[et]=Kaugligipääs
GenericName[eu]=Urruneko sarbidea
GenericName[fa]=دستیابی دور
GenericName[fi]=Etäkäyttötyökalu
GenericName[fr]=Accès distant
GenericName[fy]=Eksterne tagong
GenericName[ga]=Cianrochtain
GenericName[gl]=Aceso remoto
GenericName[gu]=રીમોટ ઉપયોગ
GenericName[he]=גישה מרחוק
GenericName[hi]=रिमोट पहुँच औज़ार
GenericName[hr]=Udaljeno pristupanje
GenericName[hu]=Telnet-kliens
GenericName[is]=Fjarlægur aðgangur
GenericName[it]=Accesso remoto
GenericName[ja]=リモートアクセスツール
GenericName[ka]=შორწვდომა
GenericName[kk]=Қашықтан қатынау
GenericName[km]=ចូល​ដំណើរ​ការ​ពី​ចម្ងាយ
GenericName[kn]=ದೂರಸ್ಥ ನಿಲುಕಣೆ
GenericName[ko]=원격 접속
GenericName[ku]=Gihandina Dûr
GenericName[lt]=Nutolęs prisijungimas
GenericName[lv]=Attālināta piekļuve
GenericName[mk]=Пристап оддалеку
GenericName[ml]=വീദൂര നിയന്ത്രണം
GenericName[mr]=दूरस्थ प्रवेश
GenericName[ms]=Akses Jauh
GenericName[nb]=Ekstern innlogging
GenericName[nds]=Warktüüch för den Feerntogriep
GenericName[ne]=टाढा पहुँच
GenericName[nl]=Externe toegang
GenericName[nn]=Ekstern innlogging
GenericName[oc]=Accès distant
GenericName[pa]=ਰਿਮੋਟ ਅਸੈੱਸ
GenericName[pl]=Zdalny dostęp
GenericName[pt]=Acesso Remoto
GenericName[pt_BR]=Acesso Remoto
GenericName[ro]=Acces la distanță
GenericName[ru]=Удалённый доступ
GenericName[se]=Gáiddus beassan
GenericName[sk]=Vzdialený prístup
GenericName[sl]=Oddaljeni dostop
GenericName[sr]=Удаљени приступ
GenericName[sr@latin]=Udaljeni pristup
GenericName[sv]=Fjärråtkomst
GenericName[ta]=தொலைதூர அணுகல்
GenericName[te]=సుదూర ప్రవేశము
GenericName[tg]=Дастрасии дурдаст
GenericName[th]=การเข้าใช้งานระยะไกล
GenericName[tr]=Uzaktan Erişim
GenericName[uk]=Віддалений доступ
GenericName[uz]=Masofadan ulanish vositasi
GenericName[uz@cyrillic]=Масофадан уланиш воситаси
GenericName[vi]=Truy cập từ xa
GenericName[wa]=Accès då lon
GenericName[x-test]=xxRemote Accessxx
GenericName[zh_CN]=远程访问
GenericName[zh_TW]=遠端存取
Exec=gnome-telnet
Terminal=false
Icon=gnome-telnet
Type=Application
