[Desktop Entry]
Encoding=UTF-8
Name=GNOME Telnet
Name[cs]=Gnome Telnet
Name[csb]=Gnome Telnet
Name[eo]=Gnoma telneto
Name[fi]=Gnome Telnet
Name[fr]=Gnome Telnet
Name[it]=Telnet di GNOME
Name[ko]=그놈 텔넷
Name[lv]=GNOME Telnets
Name[nds]=GNOME-Telnet
Name[ne]=जिनोम टेलनेट
Name[pa]=ਗਨੋਮ ਟੇਲਨੈਟ
Name[pl]=Gnome Telnet
Name[ro]=Telnet GNOME
Name[sl]=Gnome Telnet
Name[sr]=Гномов telnet
Name[sr@latin]=Gnomov telnet
Name[sv]=Gnome telnet
Name[ta]=க்னோம் டெல்நெட்
Name[te]=గ్నొమ్ టెల్ నెట్
Name[tg]=Телнети GNOME
Name[wa]=Cliyint telnet di GNOME
Name[x-test]=xxGNOME Telnetxx
Name[xh]=ITelnet yeGNOME
GenericName=Remote Access
GenericName[af]=Afgeleë Toegang
GenericName[be]=Аддалены доступ
GenericName[br]=Diraez a-bell
GenericName[ca]=Accés remot
GenericName[cs]=Vzdálený přístup
GenericName[csb]=Daleczi przëstãp
GenericName[da]=Fjernadgang
GenericName[de]=Zugriff auf Fremdrechner
GenericName[el]=Εργαλείο απομακρυσμένης πρόσβασης
GenericName[eo]=Fora aliro
GenericName[es]=Acceso remoto
GenericName[et]=Kaugligipääs
GenericName[eu]=Urruneko sarbidea
GenericName[fa]=دستیابی دور
GenericName[fi]=Etäkäyttötyökalu
GenericName[fr]=Accès distant
GenericName[fy]=Eksterne tagong
GenericName[ga]=Cianrochtain
GenericName[gl]=Aceso Remoto
GenericName[he]=גישה מרחוק
GenericName[hr]=Udaljeno pristupanje
GenericName[hu]=Telnet-kliens
GenericName[is]=Fjarlægur aðgangur
GenericName[it]=Accesso remoto
GenericName[ja]=リモートアクセスツール
GenericName[ka]=შორწვდომა
GenericName[kk]=Қашықтан қатынау
GenericName[km]=ចូល​ដំណើរការ​ពី​ចម្ងាយ
GenericName[lt]=Nutolęs prisijungimas
GenericName[mk]=Пристап оддалеку
GenericName[ms]=Akses Jauh
GenericName[nb]=Ekstern innlogging
GenericName[nds]=Warktüüch för den Feerntogriep
GenericName[ne]=दुर पहुँच
GenericName[nl]=Externe toegang
GenericName[nn]=Ekstern innlogging
GenericName[pa]=ਰਿਮੋਟ ਪਹੁੰਚ
GenericName[pl]=Zdalny dostęp
GenericName[pt]=Acesso Remoto
GenericName[pt_BR]=Acesso Remoto
GenericName[ro]=Acces la distanţă
GenericName[ru]=Удалённый доступ
GenericName[se]=Gáiddus beassan
GenericName[sl]=Oddaljeni dostop
GenericName[sr]=Удаљени приступ
GenericName[sr@latin]=Udaljeni pristup
GenericName[sv]=Fjärråtkomst
GenericName[ta]=தொலைதூர அணுகல்
GenericName[te]=సుదూర ప్రవేశము
GenericName[tg]=Дастраси дурдаст
GenericName[tr]=Uzaktan Erişim
GenericName[uk]=Віддалений доступ
GenericName[uz]=Масофадан уланиш воситаси
GenericName[x-test]=xxRemote Accessxx
GenericName[zh_TW]=遠端存取
Exec=gnome-telnet
Terminal=false
Icon=gnome-telnet
Type=Application
