[Desktop Entry]
Exec=ickle
Icon=licq
Name=ickle
Name[af]=ickle
Name[ar]=ickle
Name[as]=ickle
Name[be]=ickle
Name[be@latin]=ickle
Name[bg]=ickle
Name[bn]=ইকল
Name[bn_IN]=ickle
Name[br]=ickle
Name[ca]=ickle
Name[ca@valencia]=ickle
Name[cs]=ickle
Name[csb]=ickle
Name[cy]=ickle
Name[da]=ickle
Name[de]=ickle
Name[el]=ickle
Name[en_GB]=ickle
Name[eo]=ickle
Name[es]=ickle
Name[et]=ickle
Name[eu]=ickle
Name[fi]=ickle
Name[fr]=ickle
Name[fy]=ickle
Name[ga]=ickle
Name[gl]=ickle
Name[gu]=ickle
Name[he]=ickle
Name[hi]=आईसीकेएलई
Name[hne]=आईसीकेएलई
Name[hr]=ickle
Name[hsb]=ickle
Name[hu]=Ickle
Name[is]=ickle
Name[it]=ickle
Name[ja]=ickle
Name[ka]=ickle
Name[kk]=ickle
Name[km]=ickle
Name[kn]=ಇಕಲ್
Name[ko]=ickle
Name[ku]=ickle
Name[lt]=ickle
Name[lv]=ickle
Name[mai]=आईसीकेएलई
Name[mk]=ickle
Name[ml]=ഇക്കിള്‍
Name[mr]=ickle
Name[ms]=ickle
Name[nb]=ickle
Name[nds]=ickle
Name[ne]=इकल
Name[nl]=ickle
Name[nn]=ickle
Name[or]=ickle
Name[pa]=ਈਕਲੀ
Name[pl]=ickle
Name[pt]=ickle
Name[pt_BR]=ickle
Name[ro]=ickle
Name[ru]=ickle
Name[se]=ickle
Name[si]=ickle
Name[sk]=ickle
Name[sl]=ickle
Name[sr]=Икл
Name[sr@latin]=ickle
Name[sv]=Ickle
Name[ta]=ஐசிகல்
Name[te]=ఇకిల్
Name[tg]=ickle
Name[th]=ickle
Name[tr]=ickle
Name[uk]=ickle
Name[uz]=ickle
Name[uz@cyrillic]=ickle
Name[vi]=ickle
Name[wa]=ickle
Name[xh]=ickle
Name[x-test]=xxicklexx
Name[zh_CN]=ickle
Name[zh_TW]=ickle
GenericName=ICQ2000 Chat
GenericName[af]=ICQ2000 klets
GenericName[ar]=دردشة ICQ2000
GenericName[as]=ICQ2000 Chat
GenericName[be]=Кліент ICQ2000
GenericName[be@latin]=Kamunikatar dla ICQ2000
GenericName[bg]=ICQ2000 чат
GenericName[bn]=আই-সি-কিউ ২০০০ আড্ডা
GenericName[bn_IN]=ICQ2000 চ্যাট
GenericName[br]=Flapañ ICQ2000
GenericName[ca]=Xat ICQ2000
GenericName[ca@valencia]=Xat ICQ2000
GenericName[cs]=ICQ2000 chat
GenericName[csb]=Klient ICQ2000
GenericName[da]=ICQ2000-chat
GenericName[de]=ICQ2000-Programm
GenericName[el]=Πελάτης συζήτησης ICQ2000
GenericName[en_GB]=ICQ2000 Chat
GenericName[eo]=ICQ2000-babilado
GenericName[es]=Cliente ICQ2000
GenericName[et]=ICQ2000 vestlus
GenericName[eu]=ICQ2000 Chat
GenericName[fa]=ICQ2000 گپ
GenericName[fi]=ICQ2000 Chat -keskusteluohjelma
GenericName[fr]=Discussion ICQ2000
GenericName[fy]=ICQ2000 Chat
GenericName[ga]=Comhrá ICQ2000
GenericName[gl]=Conversas mediante ICQ2000
GenericName[gu]=ICQ2000 ચેટ
GenericName[he]=שיחות ב־ICQ2000
GenericName[hi]=आईसीक्यू2000 क्लाएंट
GenericName[hne]=आईसीक्यू2000 गोठियइया
GenericName[hr]=ICQ2000 brbljanje
GenericName[hsb]=ICQ2000 Chat
GenericName[hu]=ICQ2000-kliens
GenericName[is]=ICQ2000 spjall
GenericName[it]=Chat ICQ2000
GenericName[ja]=ICQ2000 クライアント
GenericName[ka]=ICQ2000 ჩეთი
GenericName[kk]=ICQ2000 клиенті
GenericName[km]=កម្មវិធី​ជជែក​កម្សាន្ដ ICQ2000
GenericName[kn]=ICQ೨೦೦೦ ಸಂಭಾಷಣೆ
GenericName[ko]=ICQ2000 클라이언트
GenericName[ku]=ICQ2000
GenericName[lt]=ICQ2000 pokalbiai
GenericName[lv]=ICQ2000 tērzēšana
GenericName[mai]=आईसीक्यू2000 क्लाएंट
GenericName[mk]=ICQ2000 Chat
GenericName[ml]=ഐസിക്യൂ2000 സല്ലാപം
GenericName[mr]=ICQ2000 संभाषण
GenericName[ms]=Chat ICQ2000
GenericName[nb]=Prateprogrammet ICQ2000
GenericName[nds]=Client för ICQ2000
GenericName[ne]=ICQ२००० कुराकानी
GenericName[nl]=ICQ2000-chat
GenericName[nn]=Prateprogrammet ICQ2000
GenericName[or]=ICQ2000 ଆଳାପ
GenericName[pa]=ICQ2000 ਗੱਲਬਾਤ
GenericName[pl]=Klient ICQ2000
GenericName[pt]=Conversas ICQ2000
GenericName[pt_BR]=Bate-papo ICQ2000
GenericName[ro]=Convorbiri ICQ2000
GenericName[ru]=Клиент ICQ2000
GenericName[se]=ICQ2000-čátta
GenericName[si]=ICQ2000 පිළිසඳර
GenericName[sk]=ICQ2000 chat
GenericName[sl]=Klepet ICQ2000
GenericName[sr]=Ћаскање на ајсикјуу 2000
GenericName[sr@latin]=Ćaskanje na ICQu 2000
GenericName[sv]=ICQ2000-chatt
GenericName[ta]=ICQ2000 அரட்டை
GenericName[te]=ఐసిక్యు2000 సంభాషణ
GenericName[tg]=Чатхонаи ICQ2000
GenericName[th]=ICQ2000 แชต
GenericName[tr]=ICQ2000
GenericName[uk]=Балачка ICQ2000
GenericName[uz]=ICQ2000 klienti
GenericName[uz@cyrillic]=ICQ2000 клиенти
GenericName[vi]=Trình trò chuyện ICQ2000
GenericName[wa]=Cliyint ICQ2000
GenericName[x-test]=xxICQ2000 Chatxx
GenericName[zh_CN]=ICQ2000 聊天
GenericName[zh_TW]=ICQ2000 Chat
Terminal=false
Type=Application
