[Desktop Entry]
Encoding=UTF-8
Exec=ickle
Icon=licq
Name=ickle
Name[hu]=Ickle
Name[ne]=इकल
Name[pa]=ਈਕਲੀ
Name[sv]=Ickle
Name[ta]=ஐசிகல்
Name[te]=ఇకిల్
Name[x-test]=xxicklexx
GenericName=ICQ2000 Chat
GenericName[af]=ICQ2000 Praat program
GenericName[bg]=ICQ2000 чат
GenericName[br]=Flapañ ICQ2000
GenericName[ca]=Xat ICQ2000
GenericName[cs]=ICQ2000 chat
GenericName[csb]=Klient ICQ2000
GenericName[da]=ICQ2000-chat
GenericName[de]=ICQ2000-Programm
GenericName[el]=Πελάτης συζήτησης ICQ2000
GenericName[eo]=ICQ2000-babilado
GenericName[es]=Cliente ICQ2000
GenericName[et]=ICQ2000 vestlus
GenericName[fa]=ICQ2000 گپ
GenericName[fi]=ICQ2000 Chat -keskusteluohjelma
GenericName[fr]=Discussion ICQ2000
GenericName[ga]=Comhrá ICQ2000
GenericName[gl]=Chat ICQ2000
GenericName[he]=שיחת ICQ2000
GenericName[hr]=ICQ2000 brbljanje
GenericName[hu]=ICQ2000-kliens
GenericName[is]=ICQ2000 spjall
GenericName[it]=Chat ICQ2000
GenericName[ja]=ICQ2000 クライアント
GenericName[ka]=ICQ2000 ჩეთი
GenericName[kk]=ICQ2000 клиенті
GenericName[km]=កម្មវិធី​ជជែកកំសាន្ត ICQ2000
GenericName[lt]=ICQ2000 pokalbiai
GenericName[ms]=Chat ICQ2000
GenericName[nb]=Prateprogrammet ICQ2000
GenericName[nds]=Client för ICQ2000
GenericName[ne]=ICQ२००० च्याट
GenericName[nl]=ICQ2000-chat
GenericName[nn]=Prateprogrammet ICQ2000
GenericName[pa]=ICQ2000 ਗੱਲਬਾਤ
GenericName[pl]=Klient ICQ2000
GenericName[pt]=Conversas ICQ2000
GenericName[pt_BR]=ICQ2000
GenericName[ro]=Convorbiri ICQ2000
GenericName[ru]=Клиент ICQ2000
GenericName[se]=ICQ2000-čátta
GenericName[sl]=Klepet ICQ2000
GenericName[sr]=ICQ2000 ћаскање
GenericName[sr@Latn]=ICQ2000 ćaskanje
GenericName[sv]=ICQ2000-chatt
GenericName[ta]=ICQ2000 அரட்டை
GenericName[te]=ఐసిక్యు2000 సంభాషణ
GenericName[tg]=Чат ICQ2000
GenericName[tr]=ICQ2000
GenericName[uk]=Балачка ICQ2000
GenericName[uz]=ICQ2000 клиенти
GenericName[x-test]=xxICQ2000 Chatxx
Terminal=false
Type=Application
