[Desktop Entry]
Exec=javaws
MimeType=application/x-java-jnlp-file
Name=Java Web Start
Name[da]=Java webstart
Name[el]=Αναζήτηση στο διαδίκτυο περί Java
Name[eo]=Ĵava Ret-Lanĉo
Name[es]=Web Start Java
Name[fa]=آغاز وب جاوا
Name[ga]=Tosú Gréasáin Java
Name[he]=דף כניסה של Java
Name[ka]=Java ვებ დასაწყისი
Name[km]=ការ​ចាប់ផ្តើម Java Web
Name[ne]= जाभा वेब सुरुआत
Name[pa]=ਜਾਵਾ ਵੈੱਬ ਸ਼ੁਰੂ
Name[ro]=Pornire Java Web
Name[ru]=Запуск приложений Java из сети
Name[sr]=Java веб покретање
Name[sr@Latn]=Java veb pokretanje
Name[sv]=Java webbstart
Name[ta]=ஜாவா வலை துவக்கம்
Name[te]=జావా వెబ్ మొదలు
Name[tg]=Оғози Java Web
Name[tr]=Jawa Web Start
Name[uk]=Запуск програм Java з мережі
Name[x-test]=xxJava Web Startxx
ServiceTypes=
Terminal=false
Type=Application
Encoding=UTF-8
