[Desktop Entry]
Exec=javaws
MimeType=application/x-java-jnlp-file;
Name=Java Web Start
Name[af]=Java Web Start
Name[ar]=تصفح مواقع java
Name[as]=Java Web Start
Name[be]=Java Web Start
Name[be@latin]=Java Web Start
Name[bg]=Java Web Start
Name[bn]=জাভা ওয়েব স্টার্ট
Name[bn_IN]=Java Web Start
Name[ca]=Java Web Start
Name[ca@valencia]=Java Web Start
Name[cs]=Java Web Start
Name[csb]=Java Web Start
Name[da]=Java webstart
Name[de]=Java Web Start
Name[el]=Αναζήτηση στο διαδίκτυο περί Java
Name[en_GB]=Java Web Start
Name[eo]=Java Web Start
Name[es]=Web Start Java
Name[et]=Java Web Start
Name[eu]=Java Web Start
Name[fa]=آغاز وب جاوا
Name[fi]=Java Web Start
Name[fr]=Java Web Start
Name[fy]=Java Web Start
Name[ga]=Tosú Gréasáin Java
Name[gl]=Java Web Start
Name[gu]=જાવા વેબ શરૂઆત
Name[he]=דף הפתיחה של Java
Name[hi]=जावा वेब प्रारंभ
Name[hne]=जावा वेब सुरू
Name[hr]=Java Web Start
Name[hsb]=Java Web Start
Name[hu]=Java Web Start
Name[is]=Java Web Start
Name[it]=Java Web Start
Name[ja]=Java Web Start
Name[ka]=Java ვებ დასაწყისი
Name[kk]=Java Web Start
Name[km]=រ​​ចាប់ផ្តើម​ Java Web
Name[kn]=ಜಾವಾ ಜಾಲ ಪ್ರಾರಂಭ
Name[ko]=Java Web Start
Name[ku]=Java Web Start
Name[lt]=Java Web Start
Name[lv]=Java Web Start
Name[mai]=जावा वेब प्रारंभ
Name[mk]=Java Web Start
Name[ml]=ജാവ വെബ് സ്റ്റാര്‍ട്ട്
Name[mr]=जावा वेब प्रारंभ
Name[ms]=Java Web Start
Name[nb]=Java nettstart
Name[nds]=Java Web Start
Name[ne]=जाभा वेब सुरुआत
Name[nl]=Java Web Start
Name[nn]=Java Web Start
Name[or]=Java Web Start
Name[pa]=ਜਾਵਾ ਵੈੱਬ ਸ਼ੁਰੂ
Name[pl]=Java Web Start
Name[pt]=Java Web Start
Name[pt_BR]=Java Web Start
Name[ro]=Pornire Java Web
Name[ru]=Запуск приложений Java из сети
Name[se]=Java Web Start
Name[si]=Java Web Start
Name[sk]=Java Web Start
Name[sl]=Java Web Start
Name[sr]=Јавин веб‑почетак
Name[sr@latin]=Javin veb‑početak
Name[sv]=Java webbstart
Name[ta]=ஜாவா இணைய துவக்கம்
Name[te]=జావా వెబ్ మొదలు
Name[tg]=Кушодани барномаҳои Java аз Интернет
Name[th]=Java Web Start
Name[tr]=Jawa Web Start
Name[uk]=Запуск програм Java з мережі
Name[vi]=Sở khởi Mạng Java
Name[wa]=Enondaedje waibe Java
Name[x-test]=xxJava Web Startxx
Name[zh_CN]=Java Web Start
Name[zh_TW]=Java Web Start
X-KDE-ServiceTypes=
Terminal=false
Type=Application
