[Desktop Entry]
Name=KNews
Name[af]=K-nuus
Name[ar]=اخبار k
Name[as]=KNews
Name[be]=KNews
Name[be@latin]=KNews
Name[bg]=KNews
Name[bn]=কে-নিউস
Name[bn_IN]=KNews
Name[br]=KNews
Name[ca]=KNews
Name[ca@valencia]=KNews
Name[cs]=KNews
Name[csb]=KNews
Name[cy]=KNewyddion
Name[da]=KNews
Name[de]=KNews
Name[el]=KNews
Name[en_GB]=KNews
Name[eo]=KNews
Name[es]=KNews
Name[et]=KNews
Name[eu]=KNews
Name[fi]=KNews
Name[fr]=KNews
Name[fy]=KNews
Name[ga]=KNews
Name[gl]=KNews
Name[gu]=KNews
Name[he]=KNews
Name[hi]=केन्यूज़
Name[hne]=केन्यूज
Name[hr]=KNews
Name[hsb]=KNews
Name[hu]=KNews
Name[is]=KNews
Name[it]=KNews
Name[ja]=KNews
Name[ka]=KNews
Name[kk]=KNews
Name[km]=KNews
Name[kn]=ಕೆನ್ಯೂಸ್
Name[ko]=KNews
Name[ku]=KNews
Name[lt]=KNews
Name[lv]=KNews
Name[mai]=केन्यूज
Name[mk]=КВести
Name[ml]=കെന്യൂസ്
Name[mr]=केन्यूज
Name[ms]=KNews
Name[nb]=KNews
Name[nds]=KNews
Name[ne]=केडीई समाचार
Name[nl]=KNews
Name[nn]=KNews
Name[oc]=KNews
Name[or]=KNews
Name[pa]=ਕੇ-ਖਬਰਾਂ
Name[pl]=KNews
Name[pt]=KNews
Name[pt_BR]=KNews
Name[ro]=KNews
Name[ru]=KNews
Name[se]=KNews
Name[si]=KNews
Name[sk]=KNews
Name[sl]=KNews
Name[sr]=К‑вести
Name[sr@latin]=K‑vesti
Name[sv]=Knews
Name[ta]=Kசெய்திகள்
Name[te]=కెవార్తలు
Name[tg]=KNews
Name[th]=KNews
Name[tr]=KNews
Name[uk]=KNews
Name[uz]=KNews
Name[uz@cyrillic]=KNews
Name[vi]=Tin tức K
Name[wa]=Noveles di KDE
Name[xh]=KNews
Name[x-test]=xxKNewsxx
Name[zh_CN]=KNews
Name[zh_TW]=KNews
GenericName=Usenet News Reader
GenericName[af]=Usenet Nuusleser
GenericName[ar]=قارئ أخبار يوزنت
GenericName[as]=Usenet News Reader
GenericName[be]=Кліент навінаў Usenet
GenericName[be@latin]=Prahrama dla čytańnia navinaŭ ź sietki „Usenet”
GenericName[bg]=Новинарски групи
GenericName[bn]=ইউসনেট সংবাদ পাঠক
GenericName[bn_IN]=Usenet বার্তা পাঠ ব্যবস্থা
GenericName[br]=Lenner keleier Usenet
GenericName[ca]=Lector de grups de notícies Usenet
GenericName[ca@valencia]=Lector de grups de notícies Usenet
GenericName[cs]=Klient pro čtení diskusních skupin
GenericName[csb]=Czëtôrz diskùsjowëch karnów
GenericName[cy]=Darllenydd Newyddion Usenet
GenericName[da]=Usenet-nyhedslæser
GenericName[de]=Usenet-News lesen und schreiben
GenericName[el]=Αναγνώστης νέων Usenet
GenericName[en_GB]=Usenet News Reader
GenericName[eo]=Programo por legi kaj afiŝi en diskutforumoj
GenericName[es]=Lector de noticias de Usenet
GenericName[et]=Uudisegruppide lugemine
GenericName[eu]=Usenet berri irakurgailua
GenericName[fa]=خوانندۀ اخبار یوزنت
GenericName[fi]=Uutisryhmien lukuohjelma
GenericName[fr]=Lecteur de forums Usenet
GenericName[fy]=Usenet-nijslêzer
GenericName[ga]=Léitheoir Nuachta Usenet
GenericName[gl]=Lector de novas da Usenet
GenericName[gu]=Usenet સમાચાર વાંચક
GenericName[he]=קורא חדשות Usenet
GenericName[hi]=यूजनेट समाचार वाचक
GenericName[hne]=यूजनेट समाचार वाचक
GenericName[hr]=Čitač grupa novosti
GenericName[hsb]=Usenet News Reader
GenericName[hu]=Hírolvasó
GenericName[is]=Tól til að lesa Usenet ráðstefnur
GenericName[it]=Lettore news Usenet
GenericName[ja]=Usenet ニュースリーダー
GenericName[ka]=ახალიამბების საკითხავი პროგრამა
GenericName[kk]=Usenet жаңалықтарды оқу
GenericName[km]=កម្មវិធី​អាន​ព័ត៌មាន Usenet
GenericName[kn]=ಯೂಸ್ನೆಟ್ ವಾರ್ತೆ ಓದುಗ
GenericName[ko]=유즈넷 뉴스 리더
GenericName[ku]=Xwînera Nûçeyên Usenet
GenericName[lt]=Usenet naujienų skaityklė
GenericName[lv]=Usenet ziņu lasītājs
GenericName[mai]=यूजनेट समाचार वाचक
GenericName[mk]=Читач на вести на Usenet
GenericName[ml]=യുസ്‌നെറ്റ് വാര്‍ത്തകള്‍ വായിയ്ക്കുവാന്‍
GenericName[mr]=यूजनेट समाचार वाचक
GenericName[ms]=Pembaca Berita Usenet
GenericName[nb]=Temagruppeleser
GenericName[nds]=Kieker för Usenet-Narichten
GenericName[ne]=युजनेट समाचार वाचक
GenericName[nl]=Usenet-nieuwslezer
GenericName[nn]=Temagruppelesar
GenericName[or]=Usenet ଖବର ପାଠକ
GenericName[pa]=Usenet ਨਿਊਜ਼ ਰੀਡਰ
GenericName[pl]=Czytnik grup dyskusyjnych
GenericName[pt]=Leitor de Notícias da Usenet
GenericName[pt_BR]=Leitor de notícias Usenet
GenericName[ro]=Cititor de știri USENET
GenericName[ru]=Программа для чтения новостей
GenericName[se]=Sáhkajoavkologan
GenericName[si]=Usenet ප්‍රවෘත්ති කියවන්නා
GenericName[sk]=Klient pre News
GenericName[sl]=Bralnik novičarskih skupin Usenet
GenericName[sr]=Читач јузнета
GenericName[sr@latin]=Čitač Useneta
GenericName[sv]=Diskussionsgruppsläsare
GenericName[ta]=யுஸ்நெட் செய்தி வாசிப்பான்
GenericName[te]=యూజ్ నెట్ వార్తలను చదివే కార్యక్రమం
GenericName[tg]=Барномаи ахборот
GenericName[th]=โปรแกรมอ่านข่าวผ่าน Usenet
GenericName[tr]=Usenet Haber Okuyucu
GenericName[uk]=Програма перегляду новин Usenet
GenericName[uz]=Usenet yangiliklarini oʻqish dasturi
GenericName[uz@cyrillic]=Usenet янгиликларини ўқиш дастури
GenericName[vi]=Trình đọc Tin USENET
GenericName[wa]=Lijheu d' copinreyes (usenet)
GenericName[xh]=Umfundi Weendaba we Usenet
GenericName[x-test]=xxUsenet News Readerxx
GenericName[zh_CN]=新闻组阅读程序
GenericName[zh_TW]=新聞群組閱讀程式
Exec=knews
Terminal=false
Icon=xpm
Type=Application
