[Desktop Entry]
Name=KNews
Name[af]=K-nuus
Name[bn]=কে-নিউস
Name[cy]=KNewyddion
Name[hi]=केन्यूज़
Name[mk]=КВести
Name[ne]=केडीई समाचार
Name[pa]=ਕੇ-ਖਬਰਾਂ
Name[sl]=K-novice
Name[sr]=К-вести
Name[sr@latin]=К-vesti
Name[sv]=Knews
Name[ta]=Kசெய்திகள்
Name[te]=కెవార్తలు
Name[tg]=Ахбори-K
Name[vi]=Tin tức K
Name[wa]=Noveles di KDE
Name[x-test]=xxKNewsxx
GenericName=Usenet News Reader
GenericName[af]=Usenet Nuus Leser
GenericName[be]=Кліент навінаў Usenet
GenericName[bg]=Новинарски групи
GenericName[bn]=ইউসনেট সংবাদ পাঠক
GenericName[br]=Lenner keleier Usenet
GenericName[ca]=Lector de grups de notícies Usenet
GenericName[cs]=Klient pro čtení diskusních skupin
GenericName[csb]=Czëtôrz diskùsjowëch karnów
GenericName[cy]=Darllenydd Newyddion Usenet
GenericName[da]=Usenet-nyhedslæser
GenericName[de]=Usenet-News lesen und schreiben
GenericName[el]=Αναγνώστης νέων Usenet
GenericName[eo]=Programo por legi kaj afiŝi en diskutforumoj
GenericName[es]=Lector de noticias de Usenet
GenericName[et]=Uudisegruppide lugemine
GenericName[eu]=Usenet berri irakurgailua
GenericName[fa]=خوانندۀ اخبار یوزنت
GenericName[fi]=Uutisryhmien lukuohjelma
GenericName[fr]=Lecteur de forums Usenet
GenericName[fy]=Usenet-nijslêzer
GenericName[ga]=Léitheoir Nuachta Usenet
GenericName[gl]=Leotor de novas da Usenet
GenericName[he]=קורא חדשות Usenet
GenericName[hi]=यूजनेट समाचार वाचक
GenericName[hr]=Čitač grupa novosti
GenericName[hu]=Hírolvasó
GenericName[is]=Tól til að lesa Usenet ráðstefnur
GenericName[it]=Lettore news Usenet
GenericName[ja]=Usenet ニュースリーダー
GenericName[ka]=ახალიამბების საკითხავი პროგრამა
GenericName[kk]=Usenet жаңалықтарды оқу
GenericName[km]=កម្មវិធី​អាន​ព័ត៌មាន Usenet
GenericName[ko]=유즈넷 뉴스 리더
GenericName[lt]=Usenet naujienų skaityklė
GenericName[lv]=Usenet ziņu lasītājs
GenericName[mk]=Читач на вести на Usenet
GenericName[ms]=Pembaca Berita Usenet
GenericName[nb]=Diskusjonsgruppeleser
GenericName[nds]=Kieker för Usenet-Narichten
GenericName[ne]=युजनेट समाचार वाचक
GenericName[nl]=Usenet-nieuwslezer
GenericName[nn]=Diskusjonsgruppelesar
GenericName[pa]=Usenet ਖ਼ਬਰੀ
GenericName[pl]=Czytnik grup dyskusyjnych
GenericName[pt]=Leitor de Notícias da Usenet
GenericName[pt_BR]=Leitor de Notícias Usenet
GenericName[ro]=Cititor de ştiri USENET
GenericName[ru]=Программа для чтения новостей
GenericName[se]=Sáhkajoavkologan
GenericName[sk]=Klient pre News
GenericName[sl]=Bralnik novic Usenet
GenericName[sr]=Читач јузнета
GenericName[sr@latin]=Čitač Useneta
GenericName[sv]=Diskussionsgruppsläsare
GenericName[ta]=வலைஉபயோகி செய்திகள் படிப்பவர்
GenericName[te]=యూజ్ నెట్ వార్తలను చదివే కార్యక్రమం
GenericName[tg]=Хонандаи ахбори usenet
GenericName[th]=โปรแกรมอ่านข่าวของ Usenet
GenericName[tr]=Usenet Haber Okuyucu
GenericName[uk]=Програма перегляду новин Usenet
GenericName[uz]=Usenet янгиликларини ўқиш дастури
GenericName[vi]=Trình đọc Tin USENET
GenericName[wa]=Lijheu d' copinreyes (usenet)
GenericName[x-test]=xxUsenet News Readerxx
GenericName[xh]=Umfundi Weendaba we Usenet
GenericName[zh_CN]=新闻组阅读程序
GenericName[zh_TW]=新聞群組閱讀程式
Exec=knews
Terminal=false
Icon=xpm
Type=Application
