[Desktop Entry]
Encoding=UTF-8
Exec=licq
Icon=licq
Name=Licq
Name[eo]=LICQ
Name[pa]=ਲੀਕਿਉ
Name[te]=ఎల్ ఐసిక్యూ
Name[x-test]=xxLicqxx
GenericName=ICQ Messenger
GenericName[af]=ICQ Boodskapper
GenericName[ar]=مراسل ICQ
GenericName[br]=Kemennader ICQ
GenericName[ca]=Missatgeria ICQ
GenericName[cs]=ICQ komunikátor
GenericName[csb]=Kùriera ICQ
GenericName[da]=ICQ-Messenger
GenericName[de]=ICQ-Messenger
GenericName[el]=ICQ αποστολέας
GenericName[eo]=ICQ Rapidmesaĝilo
GenericName[es]=Mensajería instantánea ICQ
GenericName[eu]=ICQ mezularitza
GenericName[fa]=ICQ پیام‌رسان
GenericName[fi]=ICQ-pikaviestintäohjelma
GenericName[fr]=Messagerie ICQ
GenericName[fy]=ICQ-messenger
GenericName[ga]=Teachtaire ICQ
GenericName[he]=תוכנית מסרים מיידים של ICQ
GenericName[hr]=ICQ trenutne poruke
GenericName[hu]=ICQ üzenetküldő
GenericName[is]=ICQ spjallforrit
GenericName[it]=Messaggistica ICQ
GenericName[ja]=ICQ メッセンジャー
GenericName[ka]=ICQ შემმტყობინებელი
GenericName[kk]=ICQ клиенті
GenericName[km]=កម្មវិធី​ផ្ញើសារ ICQ
GenericName[lt]=ICQ žinučių klientas
GenericName[nb]=Prateprogrammet ICQ
GenericName[nds]=ICQ-Narichtenmaker
GenericName[ne]=ICQ म्यासेन्जर
GenericName[nl]=ICQ-messenger
GenericName[nn]=Prateprogrammet ICQ
GenericName[pa]=ICQ ਸੁਨੇਹਾਕਾਰ
GenericName[pl]=Komunikator ICQ
GenericName[pt]=Mensageiro ICQ
GenericName[pt_BR]=ICQ
GenericName[ro]=Mesaje instantanee ICQ
GenericName[ru]=Клиент ICQ
GenericName[se]=ICQ-šleađgadiehti
GenericName[sl]=Sporočilnik ICQ
GenericName[sr]=ICQ гласник
GenericName[sr@latin]=ICQ glasnik
GenericName[sv]=ICQ-meddelandeklient
GenericName[ta]=ICQ செய்தியாளர்
GenericName[te]=ICQ మెసేంజర్
GenericName[tg]=Хабаргузории ICQ
GenericName[tr]=ICQ Hızlı Mesajlaşma Programı
GenericName[uk]=Кур'єр (messenger) ICQ
GenericName[uz]=ICQ хабар алмашиш воситаси
GenericName[x-test]=xxICQ Messengerxx
GenericName[zh_TW]=ICQ 即時通訊
Path=
Terminal=false
Type=Application
