[Desktop Entry]
Encoding=UTF-8
Exec=mldonkey_gui
Icon=xapp
Name=MLDonkey GTK+ Core Controller
Name[af]=MLDonkey GTK+ Beheerder
Name[be]=Кіраўнік ядра MLDonkey для GTK+
Name[ca]=MLDonkey GTK+ Nucli controlador
Name[csb]=Kòntroléra MLDonkey (interfejs GTK+)
Name[cy]=Rheolydd Craidd MLDonkey GTK+
Name[de]=Controller für MLDonkey/GTK+
Name[eo]=MLDonkey GTK+ Kernadaptilo
Name[es]=Controlador central MLDonkey GTK+
Name[eu]=MLDonkey GTK+ gune kontrolatzailea
Name[fa]=MLDonkey GTK+ کنترل‌کنندۀ هسته
Name[fr]=Contrôleur principal MLDonkey en GTK+
Name[gl]=Controlador de MLDonkey GTK+
Name[he]=בקר ליבת GTK+ MLDonkey
Name[hr]=MLDonkey GTK+ središnji kontroler
Name[hu]=MLDonkey GTK+ vezérlőprogram
Name[it]=Controllo GTK+ di MLDonkey
Name[ja]=MLDonkey GTK+ コアコントローラ
Name[ka]=MLDonkey GTK+ ბირთვის კონტროლერი
Name[kk]=MLDonkey GTK+ негізгі контроллері
Name[lt]=MLDonkey GTK+ pagrindinis kontroleris
Name[lv]=MLDonkey GTK+ kodola kontrolieris
Name[ms]=Pengawal Utama GTK+ MLDonkey
Name[nds]=Karn-Kuntrull för MLDonkey/GTK+
Name[ne]=MLDonkey GTK+ कोर नियन्त्रक
Name[pa]=MLDonkey GTK+ ਕੇਂਦਰੀ ਕੰਟਰੋਲਰ
Name[pl]=Kontroler MLDonkey (interfejs GTK+)
Name[pt]=Controlador de Base em GTK+ do MLDonkey
Name[pt_BR]=Controlador Principal do MLDonkey GTK+
Name[ro]=Controlor central GTK+ MLDonkey
Name[ru]=Основной контроллер MLDonkey GTK+
Name[se]=MLDonkey GTK+ guovddášstivrejeaddji
Name[sl]=Krmilnik jedra MLDonkey GTK+
Name[sv]=MLDonkey GTK+ kärnhantering
Name[ta]=eடாங்கி2000 GTK+ கட்டுப்பாட்டாளர்
Name[te]=ఎంఎల్ డాంకి జిటికె+ మూల కెంద్రం
Name[tg]=MLDonkey GTK+ Контрол кунандаи аслӣ
Name[tr]=MLDonkey GTK+ Denetleyicisi
Name[x-test]=xxMLDonkey GTK+ Core Controllerxx
Name[zh_TW]=MLDonkey GTK+ 核心控制器
GenericName=MLDonkey GUI
GenericName[be]=Графічны кліент MLDonkey
GenericName[ca]=IGU per a MLDonkey
GenericName[csb]=Graficzny interfejs dlô MLDonkey
GenericName[de]=MLDonkey-Oberfläche
GenericName[et]=MLDonkey kasutajaliides
GenericName[fa]=ونک MLDonkey
GenericName[fi]=MLDonkey-käyttöliittymä
GenericName[fr]=Interface graphique pou MLDonkey
GenericName[ga]=Comhéadan Grafach MLDonkey
GenericName[gl]= GUI MLDonkey
GenericName[he]=ממשק גרפי ל־MLDonkey
GenericName[hr]=MLDonkey grafičko sučelje
GenericName[hu]=MLDonkey-felület
GenericName[is]=MLDonkey viðmót
GenericName[it]=GUI di MLDonkey
GenericName[ka]=გრაფიკული ინტერფეისი MLDonkey
GenericName[kk]=MLDonkey грфикалық интерфейсі
GenericName[lt]=MLDonkey grafinė naudotojo sąsaja
GenericName[ms]=GUI MLDonkey
GenericName[nb]=MLDonkey-grensesnitt
GenericName[nds]=Graafsche Böversiet för MLDonkey
GenericName[nn]=MLDonkey-grensesnitt
GenericName[pl]=Interfejs graficzny dla MLDonkey
GenericName[pt]=Interface do MLDonkey
GenericName[pt_BR]=Interface do MLDonkey
GenericName[ro]=Interfaţă grafică MLDonkey
GenericName[ru]=Графический интерфейс MLDonkey
GenericName[se]=MLDonkey-lakta
GenericName[sv]=MLDonkey grafiskt gränssnitt
GenericName[ta]=MLடாங்கி2000 ஜியுஐ
GenericName[te]=ఎంఎల్ డాంకి జియుఐ
GenericName[tg]=Робитаи графикии корбари MLDonkey
GenericName[tr]=MLDonkey Arayüzü
GenericName[uk]=Інтерфейс для MLDonkey
GenericName[uz]=MLDonkey учун график интерфейс
GenericName[wa]=Eterface grafike po MLDonkey
GenericName[x-test]=xxMLDonkey GUIxx
GenericName[zh_TW]=MLDonkey 圖型使用者介面
Terminal=false
Type=Application
