[Desktop Entry]
Encoding=UTF-8
Exec=thunderbird
Icon=thunderbird
Type=Application
Name=Thunderbird
Name[el]=Mozilla Thunderbird 
Name[eo]=Mozilo Tondrobirdo
Name[fa]=تاندربرد
Name[fi]=Mozilla Thunderbird
Name[km]=មយូរា
Name[ne]=थन्डरबर्ड
Name[pa]=ਥੰਡਰਬਰਡ
Name[te]=థండర్ బర్డ్
Name[x-test]=xxThunderbirdxx
Name[zh_TW]=Thunderbird 雷鳥
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=زبون البريد
GenericName[be]=Паштовы кліент
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[he]=תוכנית דואר
GenericName[hr]=Klijent e-pošte
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за електронска пошта
GenericName[ms]=Klien Mel
GenericName[nb]=Lesing og sending av e-post
GenericName[nds]=Nettpostprogramm
GenericName[ne]=पत्र ग्राहक
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[pa]=ਪੱਤਰ ਕਲਾਂਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[sl]=Program za e-pošto
GenericName[sr]=Програм за e-пошту
GenericName[sr@latin]=Program za e-poštu
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் உறுப்பினர்
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Коргири почтаи эллектроникӣ
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Хат-хабар клиенти
GenericName[wa]=Cliyint d' emilaedje
GenericName[x-test]=xxMail Clientxx
GenericName[xh]=Umxhasi Weposi
GenericName[zh_TW]=郵件處理程式
X-KDE-StartupNotify=true
