[Desktop Entry]
Exec=netscape6 %u
Icon=netscape
Type=Application
Name=Netscape 6
Name[ar]=نيتسكيب 6
Name[as]=Netscape 6
Name[be@latin]=Netscape 6
Name[bg]=Netscape 6
Name[bn]=নেটস্কেপ ৬
Name[bn_IN]=Netscape 6
Name[ca]=Netscape 6
Name[ca@valencia]=Netscape 6
Name[cs]=Netscape 6
Name[csb]=Netscape 6
Name[da]=Netscape 6
Name[de]=Netscape 6
Name[el]=Netscape 6
Name[en_GB]=Netscape 6
Name[es]=Netscape 6
Name[et]=Netscape 6
Name[eu]=Netscape 6
Name[fi]=Netscape 6
Name[fr]=Netscape 6
Name[fy]=Netscape 6
Name[ga]=Netscape 6
Name[gl]=Netscape 6
Name[gu]=નેટસ્કેપ ૬
Name[he]=Netscape 6
Name[hi]=नेटस्केप 6
Name[hne]=नेटस्केप 6
Name[hr]=Netscape 6
Name[hsb]=Netscape 6
Name[hu]=Netscape 6
Name[is]=Netscape 6
Name[it]=Netscape 6
Name[ja]=Netscape 6
Name[kk]=Netscape 6
Name[km]=Netscape 6
Name[kn]=ನೆಟ್ಸ್ಕೇಪ್೬
Name[ko]=Netscape 6
Name[ku]=Netscape 6
Name[lt]=Netscape 6
Name[lv]=Netscape 6
Name[mai]=Netscape 6
Name[mk]=Netscape 6
Name[ml]=നെറ്റ്സ്കേപ് 6
Name[mr]=Netscape 6
Name[nb]=Netscape 6
Name[nds]=Netscape 6
Name[nl]=Netscape 6
Name[nn]=Netscape 6
Name[or]=Netscape 6
Name[pa]=ਨੈਟਸਕੇਪ 6 
Name[pl]=Netscape 6
Name[pt]=Netscape 6
Name[pt_BR]=Netscape 6
Name[ro]=Netscape 6
Name[ru]=Netscape 6
Name[se]=Netscape 6
Name[si]=Netscape 6
Name[sk]=Netscape 6
Name[sl]=Netscape 6
Name[sr]=Нетскејп 6
Name[sr@latin]=Netscape 6
Name[sv]=Netscape 6
Name[ta]=நெட்ஸ்கேப் 6
Name[tg]=Netscape 6
Name[th]=เน็ตสเคป 6
Name[tr]=Netscape 6
Name[uk]=Netscape 6
Name[wa]=Netscape 6
Name[x-test]=xxNetscape 6xx
Name[zh_CN]=Netscape 6
Name[zh_TW]=Netscape 6
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
MimeType=text/html;
X-KDE-StartupNotify=true
