[Desktop Entry]
Exec=netscape %u
Icon=netscape
Type=Application
Name=Netscape
Name[af]=Netscape
Name[ar]=نيتسكيب
Name[as]=Netscape
Name[be]=Netscape
Name[be@latin]=Netscape
Name[bg]=Netscape
Name[bn]=নেটস্কেপ
Name[bn_IN]=Netscape
Name[br]=Netscape
Name[ca]=Netscape
Name[ca@valencia]=Netscape
Name[cs]=Netscape
Name[csb]=Netscape
Name[cy]=Netscape
Name[da]=Netscape
Name[de]=Netscape
Name[el]=Netscape
Name[en_GB]=Netscape
Name[eo]=Netskapo
Name[es]=Netscape
Name[et]=Netscape
Name[eu]=Netscape
Name[fa]=نت‌اسکیپ
Name[fi]=Netscape
Name[fr]=Netscape
Name[fy]=Netscape
Name[ga]=Netscape
Name[gl]=Netscape
Name[gu]=નેટસ્કેપ
Name[he]=Netscape
Name[hi]=नेटस्केप
Name[hne]=नेटस्केप
Name[hr]=Netscape
Name[hsb]=Netscape
Name[hu]=Netscape
Name[is]=Netscape
Name[it]=Netscape
Name[ja]=Netscape
Name[ka]=Netscape
Name[kk]=Netscape
Name[km]=Netscape
Name[kn]=ನೆಟ್ಸ್ಕೇಪ್
Name[ko]=Netscape
Name[ku]=Netscape
Name[lt]=Netscape
Name[lv]=Netscape
Name[mai]=नेटस्केप
Name[mk]=Netscape
Name[ml]=നെറ്റ്സ്കേപ്പ്
Name[mr]=Netscape
Name[ms]=Netscape
Name[nb]=Netscape
Name[nds]=Netscape
Name[ne]=नेटस्केप
Name[nl]=Netscape
Name[nn]=Netscape
Name[oc]=Netscape
Name[or]=Netscape
Name[pa]=ਨੈਟਸਕੇਪ
Name[pl]=Netscape
Name[pt]=Netscape
Name[pt_BR]=Netscape
Name[ro]=Netscape
Name[ru]=Netscape
Name[se]=Netscape
Name[si]=Netscape
Name[sk]=Netscape
Name[sl]=Netscape
Name[sr]=Нетскејп
Name[sr@latin]=Netscape
Name[sv]=Netscape
Name[ta]=நெட்ஸ்கேப்
Name[te]=నెట్ స్కేప్
Name[tg]=Netscape
Name[th]=เน็ตสเคป
Name[tr]=Netscape
Name[uk]=Netscape
Name[uz]=Netscape
Name[uz@cyrillic]=Netscape
Name[vi]=Netscape
Name[wa]=Netscape
Name[xh]=Netscape
Name[x-test]=xxNetscapexx
Name[zh_CN]=Netscape
Name[zh_TW]=Netscape
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
MimeType=text/html;
X-KDE-StartupNotify=true
