[Desktop Entry]
Name=Netscape Messenger
Name[af]=Netscape Boodskapper
Name[ar]=مرسال نيتسكيب
Name[as]=Netscape Messenger
Name[be]=Netscape Messenger
Name[be@latin]=Netscape Messenger
Name[bg]=Netscape Messenger
Name[bn]=নেটস্কেপ মেসেঞ্জার
Name[bn_IN]=Netscape Messenger
Name[br]=Kemennader Netscape
Name[ca]=Netscape Messenger
Name[ca@valencia]=Netscape Messenger
Name[cs]=Netscape Messenger
Name[csb]=Netscape Messenger (kùriera pòcztë)
Name[cy]=Negesydd Netscape
Name[da]=Netscape Messenger
Name[de]=Netscape Messenger
Name[el]=Netscape Messenger
Name[en_GB]=Netscape Messenger
Name[eo]=Netskapa mesaĝilo
Name[es]=Netscape Messenger
Name[et]=Netscape Messenger
Name[eu]=Netscape Messenger
Name[fa]=پیام‌رسان نت‌اسکیپ
Name[fi]=Netscape Messenger
Name[fr]=Netscape Messenger
Name[fy]=Netscape Messenger
Name[ga]=Netscape Messenger
Name[gl]=Netscape Messenger
Name[gu]=નેટસ્કેપ મેસેન્જર
Name[he]=Netscape Messenger
Name[hi]=नेटस्केप मैसेंजर
Name[hne]=नेटस्केप मैसेंजर
Name[hr]=Netscape Messenger
Name[hsb]=Netscape Messenger
Name[hu]=Netscape Messenger
Name[is]=Netscape spjallrás
Name[it]=Netscape Messenger
Name[ja]=Netscape メッセンジャー
Name[ka]=Netscape შემმტყობინებელი
Name[kk]=Netscape Messenger
Name[km]=កម្មវិធី​ផ្ញើសារ Netscape
Name[kn]=ನೆಟ್ಸ್ಕೇಪ್ ಓಲೆಕಾರ
Name[ko]=넷스케이프 메신저
Name[ku]=Peyamnerê Netscape
Name[lt]=Netscape Messenger
Name[lv]=Netscape ziņotājs
Name[mai]=नेटस्केप मैसेंजर
Name[mk]=Netscape Messenger
Name[ml]=നെറ്റ്സ്കേപ് മെസഞ്ചര്‍
Name[mr]=Netscape मैसेंजर
Name[ms]=Netscape Messenger
Name[nb]=Netscape Messenger
Name[nds]=Netscape Messenger
Name[ne]=नेटस्केप मेसेन्जर
Name[nl]=Netscape Messenger
Name[nn]=Netscape Messenger
Name[oc]=Netscape Messenger
Name[or]=Netscape ଦୂତ
Name[pa]=ਨੈੱਟਸਕੇਪ ਮੈਸੈਂਜ਼ਰ
Name[pl]=Netscape
Name[pt]=Netscape Messenger
Name[pt_BR]=Netscape Messenger
Name[ro]=Mesager Netscape
Name[ru]=Netscape Messenger
Name[se]=Netscape Messenger
Name[si]=Netscape පණිවිඩකරු
Name[sk]=Netscape Messenger
Name[sl]=Netscape Messenger
Name[sr]=Нетскејпов Гласник
Name[sr@latin]=Netscapeov Glasnik
Name[sv]=Netscape Messenger
Name[ta]=நெட்ஸ்கேப் உரையாடி
Name[te]=నెట్ స్కేప్ మెసేంజర్
Name[tg]=Паёмнависии Netscape
Name[th]=Netscape Messenger
Name[tr]=Netscape Messenger
Name[uk]=Netscape Messenger
Name[uz]=Netscape Messenger
Name[uz@cyrillic]=Netscape Messenger
Name[vi]=Nhắn tin nhanh Netscape
Name[wa]=Netscape Messenger
Name[xh]=Umthunywa we Netscape
Name[x-test]=xxNetscape Messengerxx
Name[zh_CN]=Netscape Messenger
Name[zh_TW]=網景傳訊者
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=عميل البريد
GenericName[as]=ডাক ব্যৱস্থাৰ গ্ৰাহক
GenericName[be]=Паштовы кліент
GenericName[be@latin]=Paštar
GenericName[bg]=Клиент за е-поща
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[bn_IN]=মেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[ca@valencia]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝta kliento
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ક્લાયન્ટ
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hne]=डाकिया
GenericName[hr]=Klijent e-pošte
GenericName[hsb]=emejlowy program
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[kn]=ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=메일 클라이언트
GenericName[ku]=Daxwazkara Mailan
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Програма за електронска пошта
GenericName[ml]=മെയില്‍ ക്ലയന്റ്
GenericName[mr]=मेल क्लाऐंट
GenericName[ms]=Klien Mel
GenericName[nb]=E-postprogram
GenericName[nds]=Nettpostprogramm
GenericName[ne]=मेल क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Logicial de messatjariá
GenericName[or]=ମେଲ କ୍ଲାଏଣ୍ଟ
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Program de poștă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[si]=තැපැල් සහායක
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Клијент е‑поште
GenericName[sr@latin]=Klijent e‑pošte
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் வாங்கி
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Мизоҷи почта
GenericName[th]=โปรแกรมรับส่งอีเมล
GenericName[tr]=E-posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=电子邮件客户端
GenericName[zh_TW]=郵件處理程式
Exec=netscape -messenger
Terminal=false
Icon=communicator_mail
Type=Application
