[Desktop Entry]
Name=Nmapfe
Name[af]=Nmapfe
Name[ar]=Nmapfe
Name[as]=Nmapfe
Name[be]=Nmapfe
Name[be@latin]=Nmapfe
Name[bg]=Nmapfe
Name[bn]=Nmapfe
Name[bn_IN]=Nmapfe
Name[br]=Nmapfe
Name[ca]=Nmapfe
Name[ca@valencia]=Nmapfe
Name[cs]=Nmapfe
Name[csb]=Nmapfe
Name[cy]=Nmapfe
Name[da]=Nmapfe
Name[de]=Nmapfe
Name[el]=Nmapfe
Name[en_GB]=Nmapfe
Name[eo]=Nmapfe
Name[es]=Nmapfe
Name[et]=Nmapfe
Name[eu]=Nmapfe
Name[fi]=Nmapfe
Name[fr]=Nmapfe
Name[fy]=Nmapfe
Name[ga]=Nmapfe
Name[gl]=Nmapfe
Name[gu]=Nmapfe
Name[he]=Nmapfe
Name[hi]=एन-मैफे
Name[hne]=एन-मैफे
Name[hr]=Nmapfe
Name[hsb]=Nmapfe
Name[hu]=Nmapfe
Name[is]=Nmapfe
Name[it]=Nmapfe
Name[ja]=Nmapfe
Name[ka]=Nmapfe
Name[kk]=Nmapfe
Name[km]=Nmapfe
Name[kn]=ನ್ಮಾಪ್ಫೇ
Name[ko]=Nmapfe
Name[ku]=Nmapfe
Name[lt]=Nmapfe
Name[lv]=Nmapfe
Name[mai]=एन-मैफे
Name[mk]=Nmapfe
Name[ml]=എന്‍മാപ്എഫ്ഇ
Name[mr]=Nmapfe
Name[ms]=Nmapfe
Name[nb]=Nmapfe
Name[nds]=Nmapfe
Name[ne]=Nmapfe
Name[nl]=Nmapfe
Name[nn]=Nmapfe
Name[or]=Nmapfe
Name[pa]=Nmapfe
Name[pl]=Nmapfe
Name[pt]=Nmapfe
Name[pt_BR]=Nmapfe
Name[ro]=Nmapfe
Name[ru]=Nmapfe
Name[se]=Nmapfe
Name[si]=Nmapfe
Name[sk]=Nmapfe
Name[sl]=Nmapfe
Name[sr]=Нмапфе
Name[sr@latin]=Nmapfe
Name[sv]=Nmapfe
Name[ta]=நமாப்பே
Name[te]=ఎన్ మాప్ఎఫ్ఇ
Name[tg]=Nmapfe
Name[th]=Nmapfe
Name[tr]=Nmapfe
Name[uk]=Nmapfe
Name[uz]=Nmapfe
Name[uz@cyrillic]=Nmapfe
Name[vi]=Nmapfe
Name[wa]=Nmapfe
Name[xh]=Nmapfe
Name[x-test]=xxNmapfexx
Name[zh_CN]=Nmapfe
Name[zh_TW]=Nmapfe
GenericName=Port Scanner
GenericName[af]=Poortskandeerder
GenericName[ar]=ماسح المنافذ
GenericName[as]=Port Scanner
GenericName[be]=Сканер партоў
GenericName[be@latin]=Prahrama dla skanavańnia partoŭ
GenericName[bg]=Скенер за отворени портове
GenericName[bn]=পোর্ট স্ক্যানার
GenericName[bn_IN]=পোর্ট স্ক্যানার
GenericName[ca]=Escanegador de ports
GenericName[ca@valencia]=Escanegador de ports
GenericName[cs]=Skener portů
GenericName[csb]=Skaner pòrtów
GenericName[cy]=Sganiwr Pyrth
GenericName[da]=Portscanner
GenericName[de]=Ports überprüfen
GenericName[el]=Σαρωτής θυρών
GenericName[en_GB]=Port Scanner
GenericName[eo]=Porda kontrolilo
GenericName[es]=Explorador de puertos
GenericName[et]=Portskänner
GenericName[eu]=Ataka eskanerra
GenericName[fa]=پویشگر درگاه
GenericName[fi]=Porttiskanneri
GenericName[fr]=Analyseur de ports
GenericName[fy]=Poarteskenner
GenericName[ga]=Scanóir Port
GenericName[gl]=Escáner de portos
GenericName[gu]=પોર્ટ ચકાસનાર
GenericName[he]=סורק יציאות
GenericName[hi]=पोर्ट स्कैनर
GenericName[hne]=पोर्ट स्कैनर
GenericName[hr]=Pretraživač portova
GenericName[hsb]=Port Scanner
GenericName[hu]=Portscanner
GenericName[is]=Gáttarskanni
GenericName[it]=Port scanner
GenericName[ja]=ポートスキャナ
GenericName[ka]=პორტების სკანერი
GenericName[kk]=Порт сканері
GenericName[km]=កម្មវិធី​ស្កេន​ច្រក
GenericName[kn]=ಸಂಪರ್ಕ ಕಿಂಡಿ (ಪೋರ್ಟ್) ಕ್ರಮವೀಕ್ಷಕ (ಸ್ಕಾನರ್)
GenericName[ko]=포트 스캐너
GenericName[ku]=Skenkera Portan
GenericName[lt]=Prievadų skeneris
GenericName[lv]=Portu skeneris
GenericName[mai]=पोर्ट स्कैनर
GenericName[mk]=Скенер на порти
GenericName[ml]=പോര്‍ട്ട് സ്കാനര്‍
GenericName[mr]=पोर्ट स्कैनर
GenericName[ms]=Pengesan Port
GenericName[nb]=Portskanner
GenericName[nds]=Porten-Aftaster
GenericName[ne]=पोर्ट स्क्यानर
GenericName[nl]=Poortscanner
GenericName[nn]=Portskannar
GenericName[or]=ସଂଯୋଗିକୀ କ୍ରମବୀକ୍ଷକ
GenericName[pa]=ਪੋਰਟ ਸਕੈਨਰ
GenericName[pl]=Skaner portów
GenericName[pt]=Varrimento de Portos
GenericName[pt_BR]=Scanner de portas
GenericName[ro]=Scanează porturi
GenericName[ru]=Сканер портов
GenericName[se]=Verrátskánnejeaddji
GenericName[si]=පොර්ට් පිරික්සකය
GenericName[sk]=Skener portov
GenericName[sl]=Pregledovalnik vrat
GenericName[sr]=Скенер портова
GenericName[sr@latin]=Skener portova
GenericName[sv]=Portavsökare
GenericName[ta]=துறை வருடி
GenericName[te]=పొర్ట్ స్కెనర్
GenericName[tg]=Порти сканер
GenericName[th]=โปรแกรมสแกนพอร์ต
GenericName[tr]=Port Tarayıcı
GenericName[uk]=Сканер портів
GenericName[uz]=Port skanner
GenericName[uz@cyrillic]=Порт сканнер
GenericName[vi]=Quét Cổng
GenericName[wa]=Sicanrece di pôrt
GenericName[xh]=Umshicileli Wofako
GenericName[x-test]=xxPort Scannerxx
GenericName[zh_CN]=端口扫描器
GenericName[zh_TW]=連接埠掃描程式
Exec=nmapfe
Terminal=false
Icon=nmap
Type=Application
