[Desktop Entry]
Name=Nmapfe
Name[hi]=एन-मैफे
Name[kn]=ನ್ಮಾಪ್ಫೇ
Name[ml]=എന്‍മാപ്എഫ്ഇ
Name[sr]=Нмапфе
Name[ta]=நமாப்பே
Name[te]=ఎన్ మాప్ఎఫ్ఇ
Name[x-test]=xxNmapfexx
GenericName=Port Scanner
GenericName[af]=Poortskandeerder
GenericName[ar]=ماسح المنافذ
GenericName[be]=Сканер партоў
GenericName[bg]=Скенер за отворени портове
GenericName[bn]=পোর্ট স্ক্যানার
GenericName[bn_IN]=পোর্ট স্ক্যানার
GenericName[ca]=Escanegador de ports
GenericName[cs]=Skener portů
GenericName[csb]=Skaner pòrtów
GenericName[cy]=Sganiwr Pyrth
GenericName[da]=Portskanner
GenericName[de]=Ports überprüfen
GenericName[el]=Σαρωτής θυρών
GenericName[eo]=Porda kontrolilo
GenericName[es]=Explorador de puertos
GenericName[et]=Portskänner
GenericName[eu]=Ataka eskanerra
GenericName[fa]=پویشگر درگاه
GenericName[fi]=Porttiskanneri
GenericName[fr]=Analyseur de ports
GenericName[fy]=Poarteskenner
GenericName[ga]=Scanóir Poirt
GenericName[gl]=Rastrexador de portos
GenericName[gu]=પોર્ટ ચકાસનાર
GenericName[he]=סורק יציאות
GenericName[hi]=पोर्ट स्कैनर
GenericName[hr]=Pretraživač portova
GenericName[hu]=Portscanner
GenericName[is]=Gáttarskanni
GenericName[it]=Port scanner
GenericName[ja]=ポートスキャナ
GenericName[ka]=პორტების სკანერი
GenericName[kk]=Порт сканері
GenericName[km]=កម្មវិធី​ស្កេន​ច្រក
GenericName[kn]=ಸಂಪರ್ಕ ಕಿಂಡಿ (ಪೋರ್ಟ್) ಕ್ರಮವೀಕ್ಷಕ (ಸ್ಕಾನರ್)
GenericName[ko]=포트 스캐너
GenericName[ku]=Skenkera Portan
GenericName[lt]=Prievadų skeneris
GenericName[lv]=Portu skeneris
GenericName[mk]=Скенер на порти
GenericName[ml]=പോര്‍ട്ട് സ്കാനര്‍
GenericName[ms]=Pengesan Port
GenericName[nb]=Portskanner
GenericName[nds]=Porten-Aftaster
GenericName[ne]=पोर्ट स्क्यानर
GenericName[nl]=Poortscanner
GenericName[nn]=Portskannar
GenericName[pa]=ਪੋਰਟ ਸਕੈਨਰ
GenericName[pl]=Skaner portów
GenericName[pt]=Varrimento de Portos
GenericName[pt_BR]=Scanner de Portas
GenericName[ro]=Scanează porturi
GenericName[ru]=Сканер портов
GenericName[se]=Verrátskánnejeaddji
GenericName[sk]=Skener portov
GenericName[sl]=Pregledovalnik vrat
GenericName[sr]=Скенер портова
GenericName[sr@latin]=Skener portova
GenericName[sv]=Portavsökare
GenericName[ta]=துறை வருடி
GenericName[te]=పొర్ట్ స్కెనర్
GenericName[tg]=Порти сканер
GenericName[th]=โปรแกรมสแกนพอร์ต
GenericName[tr]=Port Tarayıcı
GenericName[uk]=Сканер портів
GenericName[uz]=Port skanner
GenericName[uz@cyrillic]=Порт сканнер
GenericName[vi]=Quét Cổng
GenericName[wa]=Sicanrece di pôrt
GenericName[x-test]=xxPort Scannerxx
GenericName[xh]=Umshicileli Wofako
GenericName[zh_CN]=端口扫描器
GenericName[zh_TW]=連接埠掃描程式
Exec=nmapfe
Terminal=false
Icon=nmap
Type=Application
