[Desktop Entry]
Encoding=UTF-8
Name=Nmapfe
Name[eo]=Pordesplorilo
Name[te]=ఎన్ మాప్ఎఫ్ఇ
Name[x-test]=xxNmapfexx
GenericName=Port Scanner
GenericName[af]=Poort Skandeerder
GenericName[ar]=أداة مسح المنافذ
GenericName[be]=Сканер партоў
GenericName[ca]=Escanegador de ports
GenericName[cs]=Skener portů
GenericName[csb]=Skaner pòrtów
GenericName[cy]=Sganiwr Pyrth
GenericName[da]=Portskanner
GenericName[de]=Ports überprüfen
GenericName[el]=Σαρωτής θυρών
GenericName[eo]=Programo por eltrovi malfermitajn pordojn de komputilo
GenericName[es]=Explorador de puertos
GenericName[et]=Portskänner
GenericName[eu]=Ataka eskanerra
GenericName[fa]=پویشگر درگاه
GenericName[fi]=Porttiskanneri
GenericName[fr]=Analyseur de port
GenericName[fy]=Poarteskenner
GenericName[ga]=Scanóir Poirt
GenericName[gl]=Escaneador de Portos
GenericName[he]=סורק יציאות
GenericName[hr]=Pretraživač portova
GenericName[hu]=Portscanner
GenericName[is]=Gáttarskanni
GenericName[it]=Port scanner
GenericName[ja]=ポートスキャナ
GenericName[ka]=პორტების სკანერი
GenericName[kk]=Порт сканері
GenericName[km]=កម្មវិធី​ស្កេន​ច្រក
GenericName[ko]=포트 훑어보기
GenericName[lt]=Prievadų skeneris
GenericName[lv]=Portu Skaneris
GenericName[mk]=Скенер на порти
GenericName[ms]=Pengesan Port
GenericName[nb]=Portskanner
GenericName[nds]=Porten-Aftaster
GenericName[ne]=पोर्ट स्क्यानर
GenericName[nl]=Poortscanner
GenericName[nn]=Portskannar
GenericName[pa]=ਪੋਰਟ ਸਕੈਨਰ
GenericName[pl]=Skaner portów
GenericName[pt_BR]=Scanner de Portas
GenericName[ro]=Scanează calculatoare
GenericName[ru]=Сканер портов
GenericName[se]=Verrátskánnejeaddji
GenericName[sl]=Pregledovalnik vrat
GenericName[sr]=Порт скенер
GenericName[sr@latin]=Port skener
GenericName[sv]=Portavsökare
GenericName[ta]=முனைய வருடி
GenericName[te]=పొర్ట్ స్కెనర్
GenericName[tg]=Даргоҳи сканер
GenericName[tr]=Port Tarayıcı
GenericName[uk]=Сканер портів
GenericName[uz]=Порт сканнер
GenericName[x-test]=xxPort Scannerxx
GenericName[xh]=Umshicileli Wofako
GenericName[zh_TW]=連接埠掃描程式
Exec=nmapfe
Terminal=false
Icon=nmap
Type=Application
