[Desktop Entry]
Name=Opera
Name[af]=Opera
Name[ar]=أوبرا
Name[as]=Opera
Name[be]=Opera
Name[be@latin]=Opera
Name[bg]=Opera
Name[bn]=অপেরা
Name[bn_IN]=Opera
Name[br]=Opera
Name[ca]=Opera
Name[ca@valencia]=Opera
Name[cs]=Opera
Name[csb]=Opera
Name[cy]=Opera
Name[da]=Opera
Name[de]=Opera
Name[el]=Opera
Name[en_GB]=Opera
Name[eo]=Opero
Name[es]=Opera
Name[et]=Opera
Name[eu]=Opera
Name[fa]=اپرا
Name[fi]=Opera
Name[fr]=Opera
Name[fy]=Opera
Name[ga]=Opera
Name[gl]=Opera
Name[gu]=ઓપેરા
Name[he]=Opera
Name[hi]=ऑपेरा
Name[hne]=ओपेरा
Name[hr]=Opera
Name[hsb]=Opera
Name[hu]=Opera
Name[is]=Opera
Name[it]=Opera
Name[ja]=Opera
Name[ka]=Opera
Name[kk]=Opera
Name[km]=Opera
Name[kn]=ಓಪರಾ
Name[ko]=Opera
Name[ku]=Opera
Name[lt]=Opera
Name[lv]=Opera
Name[mai]=Opera
Name[mk]=Опера
Name[ml]=ഓപെറ
Name[mr]=Opera
Name[ms]=Opera
Name[nb]=Opera
Name[nds]=Opera
Name[ne]=ओपेरा
Name[nl]=Opera
Name[nn]=Opera
Name[oc]=Opcions
Name[or]=Opera
Name[pa]=ਓਪੇਰਾ
Name[pl]=Opera
Name[pt]=Opera
Name[pt_BR]=Opera
Name[ro]=Opera
Name[ru]=Opera
Name[se]=Opera
Name[si]=Opera
Name[sk]=Opera
Name[sl]=Opera
Name[sr]=Опера
Name[sr@latin]=Opera
Name[sv]=Opera
Name[ta]=ஓபேரா
Name[te]=ఓపెరా
Name[tg]=Opera
Name[th]=โอเปรา
Name[tr]=Opera
Name[uk]=Opera
Name[uz]=Opera
Name[uz@cyrillic]=Opera
Name[vi]=Opera
Name[wa]=Opera
Name[xh]=Opera
Name[x-test]=xxOperaxx
Name[zh_CN]=Opera
Name[zh_TW]=Opera
GenericName=Web Browser
GenericName[af]=Webblaaier
GenericName[ar]=متصفح الشبكة
GenericName[as]=ৱেব চৰক
GenericName[be]=Вандроўнік па Сеціве
GenericName[be@latin]=Hartač sieciva
GenericName[bg]=Уеб браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[eo]=TTT-foliumilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hne]=वेब ब्राउजर
GenericName[hr]=Web preglednik
GenericName[hsb]=Web Browser
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउजर
GenericName[mk]=Прелистувач на Интернет
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigador web
GenericName[or]=ୱେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[si]=වෙබ් ගවේශකය
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Намоишгари Интернет
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[uz]=Veb-brauzer
GenericName[uz@cyrillic]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Exec=opera %u
Terminal=false
Icon=opera
Type=Application
MimeType=text/html;
