[Desktop Entry]
Name=Pan
Name[af]=Pan
Name[ar]=Pan
Name[as]=Pan
Name[be]=Pan
Name[be@latin]=Pan
Name[bg]=Pan
Name[bn]=প্যান
Name[bn_IN]=Pan
Name[br]=Pan
Name[ca]=Pan
Name[ca@valencia]=Pan
Name[cs]=Pan
Name[csb]=Pan
Name[cy]=Pan
Name[da]=Pan
Name[de]=Pan
Name[el]=Pan
Name[en_GB]=Pan
Name[eo]=Pan
Name[es]=Pan
Name[et]=Pan
Name[eu]=Pan
Name[fi]=Pan
Name[fr]=Pan
Name[fy]=Pan
Name[ga]=Pan
Name[gl]=Pan
Name[gu]=પેન
Name[he]=Pan
Name[hi]=पीएएन
Name[hne]=पीएएन
Name[hr]=Pan
Name[hsb]=Pan
Name[hu]=Pan
Name[is]=Pan
Name[it]=Pan
Name[ja]=Pan
Name[ka]=Pan
Name[kk]=Pan
Name[km]=បន្ទះ
Name[kn]=ಪಾನ್
Name[ko]=Pan
Name[ku]=Pan
Name[lt]=Pan
Name[lv]=Pan
Name[mai]=पीएएन
Name[mk]=Pan
Name[ml]=പാന്‍
Name[mr]=पॅन
Name[ms]=Pan
Name[nb]=Pan
Name[nds]=Pan
Name[ne]=प्यान
Name[nl]=Pan
Name[nn]=Pan
Name[oc]=Pan
Name[or]=ପାନ
Name[pa]=ਪੈਂਨ
Name[pl]=Pan
Name[pt]=Pan
Name[pt_BR]=Pan
Name[ro]=Pan
Name[ru]=Pan
Name[se]=Pan
Name[si]=Pan
Name[sk]=Pan
Name[sl]=Pan
Name[sr]=Пан
Name[sr@latin]=Pan
Name[sv]=Pan
Name[ta]=பான்
Name[te]=పాన్
Name[tg]=Pan
Name[th]=Pan
Name[tr]=Pan
Name[uk]=Pan
Name[uz]=Pan
Name[uz@cyrillic]=Pan
Name[vi]=Pan
Name[wa]=Pan
Name[xh]=Pan
Name[x-test]=xxPanxx
Name[zh_CN]=Pan
Name[zh_TW]=Pan
GenericName=Usenet News Reader
GenericName[af]=Usenet Nuusleser
GenericName[ar]=قارئ أخبار يوزنت
GenericName[as]=Usenet News Reader
GenericName[be]=Кліент навінаў Usenet
GenericName[be@latin]=Prahrama dla čytańnia navinaŭ ź sietki „Usenet”
GenericName[bg]=Новинарски групи
GenericName[bn]=ইউসনেট সংবাদ পাঠক
GenericName[bn_IN]=Usenet বার্তা পাঠ ব্যবস্থা
GenericName[br]=Lenner keleier Usenet
GenericName[ca]=Lector de grups de notícies Usenet
GenericName[ca@valencia]=Lector de grups de notícies Usenet
GenericName[cs]=Klient pro čtení diskusních skupin
GenericName[csb]=Czëtôrz diskùsjowëch karnów
GenericName[cy]=Darllenydd Newyddion Usenet
GenericName[da]=Usenet-nyhedslæser
GenericName[de]=Usenet-News lesen und schreiben
GenericName[el]=Αναγνώστης νέων Usenet
GenericName[en_GB]=Usenet News Reader
GenericName[eo]=Programo por legi kaj afiŝi en diskutforumoj
GenericName[es]=Lector de noticias de Usenet
GenericName[et]=Uudisegruppide lugemine
GenericName[eu]=Usenet berri irakurgailua
GenericName[fa]=خوانندۀ اخبار یوزنت
GenericName[fi]=Uutisryhmien lukuohjelma
GenericName[fr]=Lecteur de forums Usenet
GenericName[fy]=Usenet-nijslêzer
GenericName[ga]=Léitheoir Nuachta Usenet
GenericName[gl]=Lector de novas da Usenet
GenericName[gu]=Usenet સમાચાર વાંચક
GenericName[he]=קורא חדשות Usenet
GenericName[hi]=यूजनेट समाचार वाचक
GenericName[hne]=यूजनेट समाचार वाचक
GenericName[hr]=Čitač grupa novosti
GenericName[hsb]=Usenet News Reader
GenericName[hu]=Hírolvasó
GenericName[is]=Tól til að lesa Usenet ráðstefnur
GenericName[it]=Lettore news Usenet
GenericName[ja]=Usenet ニュースリーダー
GenericName[ka]=ახალიამბების საკითხავი პროგრამა
GenericName[kk]=Usenet жаңалықтарды оқу
GenericName[km]=កម្មវិធី​អាន​ព័ត៌មាន Usenet
GenericName[kn]=ಯೂಸ್ನೆಟ್ ವಾರ್ತೆ ಓದುಗ
GenericName[ko]=유즈넷 뉴스 리더
GenericName[ku]=Xwînera Nûçeyên Usenet
GenericName[lt]=Usenet naujienų skaityklė
GenericName[lv]=Usenet ziņu lasītājs
GenericName[mai]=यूजनेट समाचार वाचक
GenericName[mk]=Читач на вести на Usenet
GenericName[ml]=യുസ്‌നെറ്റ് വാര്‍ത്തകള്‍ വായിയ്ക്കുവാന്‍
GenericName[mr]=यूजनेट समाचार वाचक
GenericName[ms]=Pembaca Berita Usenet
GenericName[nb]=Temagruppeleser
GenericName[nds]=Kieker för Usenet-Narichten
GenericName[ne]=युजनेट समाचार वाचक
GenericName[nl]=Usenet-nieuwslezer
GenericName[nn]=Temagruppelesar
GenericName[or]=Usenet ଖବର ପାଠକ
GenericName[pa]=Usenet ਨਿਊਜ਼ ਰੀਡਰ
GenericName[pl]=Czytnik grup dyskusyjnych
GenericName[pt]=Leitor de Notícias da Usenet
GenericName[pt_BR]=Leitor de notícias Usenet
GenericName[ro]=Cititor de știri USENET
GenericName[ru]=Программа для чтения новостей
GenericName[se]=Sáhkajoavkologan
GenericName[si]=Usenet ප්‍රවෘත්ති කියවන්නා
GenericName[sk]=Klient pre News
GenericName[sl]=Bralnik novičarskih skupin Usenet
GenericName[sr]=Читач јузнета
GenericName[sr@latin]=Čitač Useneta
GenericName[sv]=Diskussionsgruppsläsare
GenericName[ta]=யுஸ்நெட் செய்தி வாசிப்பான்
GenericName[te]=యూజ్ నెట్ వార్తలను చదివే కార్యక్రమం
GenericName[tg]=Барномаи ахборот
GenericName[th]=โปรแกรมอ่านข่าวผ่าน Usenet
GenericName[tr]=Usenet Haber Okuyucu
GenericName[uk]=Програма перегляду новин Usenet
GenericName[uz]=Usenet yangiliklarini oʻqish dasturi
GenericName[uz@cyrillic]=Usenet янгиликларини ўқиш дастури
GenericName[vi]=Trình đọc Tin USENET
GenericName[wa]=Lijheu d' copinreyes (usenet)
GenericName[xh]=Umfundi Weendaba we Usenet
GenericName[x-test]=xxUsenet News Readerxx
GenericName[zh_CN]=新闻组阅读程序
GenericName[zh_TW]=新聞群組閱讀程式
Exec=pan
Terminal=false
Icon=pan
Type=Application
