[Desktop Entry]
Name=Sylpheed
Name[af]=Sylpheed
Name[ar]=Sylpheed
Name[as]=Sylpheed
Name[be]=Sylpheed
Name[be@latin]=Sylpheed
Name[bg]=Sylpheed
Name[bn]=Sylpheed
Name[bn_IN]=Sylpheed
Name[br]=Sylpheed
Name[ca]=Sylpheed
Name[ca@valencia]=Sylpheed
Name[cs]=Sylpheed
Name[csb]=Sylpheed
Name[cy]=Sylpheed
Name[da]=Sylpheed
Name[de]=Sylpheed
Name[el]=Sylpheed
Name[en_GB]=Sylpheed
Name[eo]=Sylpheed
Name[es]=Sylpheed
Name[et]=Sylpheed
Name[eu]=Sylpheed
Name[fi]=Sylpheed
Name[fr]=Sylpheed
Name[fy]=Sylpheed
Name[ga]=Sylpheed
Name[gl]=Sylpheed
Name[gu]=સ્લાફિડ
Name[he]=Sylpheed
Name[hi]=सिलफीड
Name[hne]=सिलफीड
Name[hr]=Sylpheed
Name[hsb]=Sylpheed
Name[hu]=Sylpheed
Name[is]=Sylpheed
Name[it]=Sylpheed
Name[ja]=Sylpheed
Name[ka]=Sylpheed
Name[kk]=Sylpheed
Name[km]=Sylpheed
Name[kn]=ಸಿಲ್ಫೀಡ್
Name[ko]=Sylpheed
Name[ku]=Sylpheed
Name[lt]=Sylpheed
Name[lv]=Sylpheed
Name[mai]=सिल्फीड
Name[mk]=Sylpheed
Name[ml]=സില്‍ഫീഡ്
Name[mr]=सिल्फीड
Name[ms]=Sylpheed
Name[nb]=Sylpheed
Name[nds]=Sylpheed
Name[ne]=साइलफिड
Name[nl]=Sylpheed
Name[nn]=Sylpheed
Name[oc]=Sylpheed
Name[or]=Sylpheed
Name[pa]=ਸ਼ੀਲਫੀਡ
Name[pl]=Sylpheed
Name[pt]=Sylpheed
Name[pt_BR]=Sylpheed
Name[ro]=Sylpheed
Name[ru]=Sylpheed
Name[se]=Sylpheed
Name[si]=Sylpheed
Name[sk]=Sylpheed
Name[sl]=Sylpheed
Name[sr]=Силфид
Name[sr@latin]=Sylpheed
Name[sv]=Sylpheed
Name[ta]=சைல்பீட்
Name[te]=సిల్ఫీడ్
Name[tg]=Sylpheed
Name[th]=Sylpheed
Name[tr]=Sylpheed
Name[uk]=Sylpheed
Name[uz]=Sylpheed
Name[uz@cyrillic]=Sylpheed
Name[vi]=Sylpheed
Name[wa]=Sylpheed
Name[xh]=Sylpheed
Name[x-test]=xxSylpheedxx
Name[zh_CN]=Sylpheed
Name[zh_TW]=Sylpheed
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=عميل البريد
GenericName[as]=ডাক ব্যৱস্থাৰ গ্ৰাহক
GenericName[be]=Паштовы кліент
GenericName[be@latin]=Paštar
GenericName[bg]=Клиент за е-поща
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[bn_IN]=মেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[ca]=Client de correu electrònic
GenericName[ca@valencia]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[csb]=Pòcztowô programa
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝta kliento
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارساز نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ક્લાયન્ટ
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hne]=डाकिया
GenericName[hr]=Klijent e-pošte
GenericName[hsb]=emejlowy program
GenericName[hu]=Levelezőprogram
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[kn]=ಅಂಚೆ ಸೇವನಾರ್ಥಿ (ಕ್ಲಯಂಟ್)
GenericName[ko]=메일 클라이언트
GenericName[ku]=Daxwazkara Mailan
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Програма за електронска пошта
GenericName[ml]=മെയില്‍ ക്ലയന്റ്
GenericName[mr]=मेल क्लाऐंट
GenericName[ms]=Klien Mel
GenericName[nb]=E-postprogram
GenericName[nds]=Nettpostprogramm
GenericName[ne]=मेल क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Logicial de messatjariá
GenericName[or]=ମେଲ କ୍ଲାଏଣ୍ଟ
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Program de poștă electronică
GenericName[ru]=Клиент электронной почты
GenericName[se]=Boastaprográmma
GenericName[si]=තැපැල් සහායක
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Клијент е‑поште
GenericName[sr@latin]=Klijent e‑pošte
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் வாங்கி
GenericName[te]=మెయిల్ క్లైంట్
GenericName[tg]=Мизоҷи почта
GenericName[th]=โปรแกรมรับส่งอีเมล
GenericName[tr]=E-posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=电子邮件客户端
GenericName[zh_TW]=郵件處理程式
Exec=sylpheed
Terminal=false
Icon=sylpheed
Type=Application
