[Desktop Entry]
Name=Wireshark
Name[bn]=ওয়ায়ার-শার্ক
Name[gu]=વાયરશાર્ક
Name[hi]=वायरशार्क
Name[kn]=ವೈರ್ಶಾರ್ಕ್
Name[ml]=വയര്‍ഷാര്‍ക്ക്
Name[ne]=वायरसार्क
Name[pa]=ਵਾਇਰਸ਼ਾਰਕ
Name[sr]=Вајершарк
Name[ta]=வயர்ஷார்க்
Name[te]=వైర్ షార్క్
Name[x-test]=xxWiresharkxx
GenericName=Network Analyzer
GenericName[af]=Netwerk Analiseerder
GenericName[ar]=محلل الشبكة
GenericName[be]=Аналізатар сеткі
GenericName[bg]=Мрежов анализатор
GenericName[bn]=নেটওয়ার্ক বিশ্লেষণকারী
GenericName[ca]=Analitzador de xarxes
GenericName[cs]=Analyzátor sítě
GenericName[csb]=Analizatora séce
GenericName[cy]=Dadansoddwr Rhwydwaith
GenericName[da]=Netværksanalyse
GenericName[de]=Programm für die Netzwerkanalyse
GenericName[el]=Αναλυτής δικτύων
GenericName[en_GB]=Network Analyser
GenericName[eo]=Retanalizilo
GenericName[es]=Analizador de redes
GenericName[et]=Võrguliikluse analüsaator
GenericName[eu]=Sare aztertzailea
GenericName[fa]=تحلیل‌کنندۀ شبکه
GenericName[fi]=Verkkoanalysaattori
GenericName[fr]=Analyseur réseau
GenericName[fy]=Netwurkanalyze
GenericName[ga]=Anailíseoir Líonra
GenericName[gl]=Analisador da rede
GenericName[gu]=નેટવર્ક એનલાઇઝર
GenericName[he]=מאבחן רשת
GenericName[hi]=नेटवर्क एनॉलाइज़र
GenericName[hr]=Analizator mreže
GenericName[hu]=Hálózatanalizáló
GenericName[is]=Netskoðunartól
GenericName[it]=Analizzatore di rete
GenericName[ja]=ネットワークアナライザ
GenericName[ka]=ქსელის ანალიზატორი
GenericName[kk]=Желіні талдаушы
GenericName[km]=កម្មវិធី​វិភាគ​បណ្ដាញ
GenericName[kn]=ಜಾಲಬಂಧ ವಿಶ್ಲೇಷಕ
GenericName[ko]=네트워크 분석기
GenericName[ku]=Analîzkara Torê
GenericName[lt]=Tinklo analizatorius
GenericName[lv]=Tīkla analizators
GenericName[mk]=Анализатор на мрежи
GenericName[ml]=ശൃംഖല വിശകലനം ചെയ്യാന്‍
GenericName[ms]=Penganalisis Rangkaian
GenericName[nb]=Nettverksanalyse
GenericName[nds]=Ünnersöcht dat Nettwark
GenericName[ne]=सञ्जाल विश्लेषक
GenericName[nl]=Netwerkanalyse
GenericName[nn]=Nettverksanalyse
GenericName[oc]=Analizaire de ret
GenericName[pa]=ਨੈੱਟਵਰਕ ਜਾਂਚਕਾਰ
GenericName[pl]=Analizator sieci
GenericName[pt]=Analisador de Redes
GenericName[pt_BR]=Analisador de rede
GenericName[ro]=Analizor de rețea
GenericName[ru]=Анализатор сетевого трафика
GenericName[se]=Fierbmeanalysa
GenericName[sk]=Analyzátor siete
GenericName[sl]=Analizator omrežij
GenericName[sr]=Анализатор мреже
GenericName[sr@latin]=Analizator mreže
GenericName[sv]=Nätverksanalyserare
GenericName[ta]=பிணைய ஆய்வர்
GenericName[te]=నెట్వర్క్ ను పరిశీలించె కార్యక్రమం
GenericName[tg]=Таҳлилгари шабака
GenericName[th]=เครื่องมือวิเคราะห์เครือข่าย
GenericName[tr]=Ağ Analiz Programı
GenericName[uk]=Аналізатор мережі
GenericName[uz]=Tarmoqni tahlil qilish vositasi
GenericName[uz@cyrillic]=Тармоқни таҳлил қилиш воситаси
GenericName[vi]=Bộ phân tích mạng
GenericName[wa]=Analijheu rantoele
GenericName[x-test]=xxNetwork Analyzerxx
GenericName[xh]=Umcukucezi Womsebenzi womnatha
GenericName[zh_CN]=网络分析程序
GenericName[zh_TW]=網路分析程式
Exec=ethereal
Type=Application
MimeType=
Icon=xmag
Terminal=false
