[Desktop Entry]
Encoding=UTF-8
Name=Wireshark
Name[ne]=वायरसार्क
Name[pa]=ਵਾਇਰਸ਼ਾਰਕ
Name[te]=వైర్ షార్క్
Name[x-test]=xxWiresharkxx
GenericName=Network Analyzer
GenericName[af]=Netwerk Analiseerder
GenericName[ar]=محلل الشبكة
GenericName[be]=Аналізатар сеткі
GenericName[ca]=Analitzador de xarxes
GenericName[cs]=Analyzátor sítě
GenericName[csb]=Analizatora séce
GenericName[cy]=Dadansoddwr Rhwydwaith
GenericName[da]=Netværksanalyse
GenericName[de]=Programm für die Netzwerkanalyse
GenericName[el]=Αναλυτής δικτύων
GenericName[en_GB]=Network Analyser
GenericName[eo]=Retanalizilo
GenericName[es]=Analizador de redes
GenericName[et]=Võrguliikluse analüsaator
GenericName[eu]=Sare aztertzailea
GenericName[fa]=تحلیل‌کنندۀ شبکه
GenericName[fi]=Verkkoanalysaattori
GenericName[fr]=Analyseur réseau
GenericName[fy]=Netwurkanalyze
GenericName[ga]=Anailíseoir Líonra
GenericName[gl]=Análisador da Rede
GenericName[he]=מאבחן רשת
GenericName[hr]=Analizator mreže
GenericName[hu]=Hálózatanalizáló
GenericName[is]=Netskoðunartól
GenericName[it]=Analizzatore di rete
GenericName[ja]=ネットワークアナライザ
GenericName[ka]=ქსელის ანალიზატორი
GenericName[kk]=Желіні талдаушы
GenericName[km]=កម្មវិធី​វិភាគ​បណ្ដាញ
GenericName[ko]=네트웍 분석기
GenericName[lt]=Tinklo analizatorius
GenericName[lv]=Tīkla Analizators
GenericName[mk]=Анализатор на мрежи
GenericName[ms]=Penganalisis Rangkaian
GenericName[nb]=Nettverksanalyse
GenericName[nds]=Ünnersöcht dat Nettwark
GenericName[ne]=सञ्जाल विश्लेषक
GenericName[nl]=Netwerkanalyse
GenericName[nn]=Nettverksanalyse
GenericName[pa]=ਨੈੱਟਵਰਕ ਜਾਂਚਕਾਰ
GenericName[pl]=Analizator sieci
GenericName[pt_BR]=Analisador de rede
GenericName[ro]=Analizor de reţea
GenericName[ru]=Анализатор сетевого трафика
GenericName[se]=Fierbmeanalysa
GenericName[sl]=Analizator omrežij
GenericName[sr]=Анализатрор мреже
GenericName[sr@latin]=Analizatror mreže
GenericName[sv]=Nätverksanalyserare
GenericName[ta]=நெட்வொர்க் அனலைசர்
GenericName[te]=నెట్వర్క్ ను పరిశీలించె కార్యక్రమం
GenericName[tg]=Таҳлилгари шабака
GenericName[tr]=Ağ Analiz Programı
GenericName[uk]=Аналізатор мережі
GenericName[uz]=Тармоқни таҳлил қилиш воситаси
GenericName[wa]=Analijheu rantoele
GenericName[x-test]=xxNetwork Analyzerxx
GenericName[xh]=Umcukucezi Womsebenzi womnatha
GenericName[zh_TW]=網路分析程式
Exec=ethereal
Type=Application
MimeType=
Icon=xmag
Terminal=false
Path=
