[Desktop Entry]
Name=Wireshark
Name[af]=Wireshark
Name[ar]=Wireshark
Name[as]=Wireshark
Name[be]=Wireshark
Name[be@latin]=Wireshark
Name[bg]=Wireshark
Name[bn]=ওয়ায়ার-শার্ক
Name[bn_IN]=Wireshark
Name[ca]=Wireshark
Name[ca@valencia]=Wireshark
Name[cs]=Wireshark
Name[csb]=Wireshark
Name[da]=Wireshark
Name[de]=Wireshark
Name[el]=Wireshark
Name[en_GB]=Wireshark
Name[eo]=Wireshark
Name[es]=Wireshark
Name[et]=Wireshark
Name[eu]=Wireshark
Name[fi]=Wireshark
Name[fr]=Wireshark
Name[fy]=Wireshark
Name[ga]=Wireshark
Name[gl]=Wireshark
Name[gu]=વાયરશાર્ક
Name[he]=Wireshark
Name[hi]=वायरशार्क
Name[hne]=वायरसार्क
Name[hr]=Wireshark
Name[hsb]=Wireshark
Name[hu]=Wireshark
Name[is]=Wireshark
Name[it]=Wireshark
Name[ja]=Wireshark
Name[kk]=Wireshark
Name[km]=Wireshark
Name[kn]=ವೈರ್ಶಾರ್ಕ್
Name[ko]=Wireshark
Name[ku]=Wireshark
Name[lt]=Wireshark
Name[lv]=Wireshark
Name[mai]=वायरशार्क
Name[mk]=Wireshark
Name[ml]=വയര്‍ഷാര്‍ക്ക്
Name[mr]=वायरशार्क
Name[ms]=Wireshark
Name[nb]=Wireshark
Name[nds]=Wireshark
Name[ne]=वायरसार्क
Name[nl]=Wireshark
Name[nn]=Wireshark
Name[oc]=Wireshark
Name[or]=Wireshark
Name[pa]=ਵਾਇਰਸ਼ਾਰਕ
Name[pl]=Wireshark
Name[pt]=Wireshark
Name[pt_BR]=Wireshark
Name[ro]=Wireshark
Name[ru]=Wireshark
Name[se]=Wireshark
Name[si]=Wireshark
Name[sk]=Wireshark
Name[sl]=Wireshark
Name[sr]=Вајершарк
Name[sr@latin]=Wireshark
Name[sv]=Wireshark
Name[ta]=வயர்ஷார்க்
Name[te]=వైర్ షార్క్
Name[tg]=Wireshark
Name[th]=Wireshark
Name[tr]=Wireshark
Name[uk]=Wireshark
Name[uz]=Wireshark
Name[uz@cyrillic]=Wireshark
Name[vi]=Wireshark
Name[wa]=Wireshark
Name[x-test]=xxWiresharkxx
Name[zh_CN]=Wireshark
Name[zh_TW]=Wireshark
GenericName=Network Analyzer
GenericName[af]=Netwerk Analiseerder
GenericName[ar]=محلل الشبكة
GenericName[as]=নে'টৱৰ্ক বিশ্লেষণ ব্যৱস্থা
GenericName[be]=Аналізатар сеткі
GenericName[be@latin]=Analizatar sietki
GenericName[bg]=Мрежов анализатор
GenericName[bn]=নেটওয়ার্ক বিশ্লেষণকারী
GenericName[bn_IN]=নেটওয়ার্ক বিশ্লেষণ ব্যবস্থা
GenericName[ca]=Analitzador de xarxes
GenericName[ca@valencia]=Analitzador de xarxes
GenericName[cs]=Analyzátor sítě
GenericName[csb]=Analizatora séce
GenericName[cy]=Dadansoddwr Rhwydwaith
GenericName[da]=Netværksanalyse
GenericName[de]=Programm für die Netzwerkanalyse
GenericName[el]=Αναλυτής δικτύων
GenericName[en_GB]=Network Analyser
GenericName[eo]=Retanalizilo
GenericName[es]=Analizador de redes
GenericName[et]=Võrguliikluse analüsaator
GenericName[eu]=Sare aztertzailea
GenericName[fa]=تحلیل‌کنندۀ شبکه
GenericName[fi]=Verkkoanalysaattori
GenericName[fr]=Analyseur réseau
GenericName[fy]=Netwurkanalyze
GenericName[ga]=Anailíseoir Líonra
GenericName[gl]=Analizador da rede
GenericName[gu]=નેટવર્ક એનલાઇઝર
GenericName[he]=מאבחן רשת
GenericName[hi]=नेटवर्क एनॉलाइज़र
GenericName[hne]=नेटवर्क एनालाइजर
GenericName[hr]=Analizator mreže
GenericName[hsb]=Syćowa analyza
GenericName[hu]=Hálózatanalizáló
GenericName[is]=Netskoðunartól
GenericName[it]=Analizzatore di rete
GenericName[ja]=ネットワークアナライザ
GenericName[ka]=ქსელის ანალიზატორი
GenericName[kk]=Желіні талдаушы
GenericName[km]=កម្មវិធី​វិភាគ​បណ្ដាញ
GenericName[kn]=ಜಾಲಬಂಧ ವಿಶ್ಲೇಷಕ
GenericName[ko]=네트워크 분석기
GenericName[ku]=Analîzkara Torê
GenericName[lt]=Tinklo analizatorius
GenericName[lv]=Tīkla analizators
GenericName[mai]=नेटवर्क एनालाइजर
GenericName[mk]=Анализатор на мрежи
GenericName[ml]=ശൃംഖല വിശകലനസഹായി
GenericName[mr]=संजाळ एनॉलाइजर
GenericName[ms]=Penganalisis Rangkaian
GenericName[nb]=Nettverksanalyse
GenericName[nds]=Ünnersöcht dat Nettwark
GenericName[ne]=सञ्जाल विश्लेषक
GenericName[nl]=Netwerkanalyse
GenericName[nn]=Nettverksanalyse
GenericName[oc]=Analizaire de ret
GenericName[or]=ନେଟୱର୍କ ବିଶ୍ଳେଷକ
GenericName[pa]=ਨੈੱਟਵਰਕ ਜਾਂਚਕਾਰ
GenericName[pl]=Analizator sieci
GenericName[pt]=Analisador de Redes
GenericName[pt_BR]=Analisador de rede
GenericName[ro]=Analizor de rețea
GenericName[ru]=Анализатор сетевого трафика
GenericName[se]=Fierbmeanalysa
GenericName[si]=ජාල විශ්ලේෂකය
GenericName[sk]=Analyzátor siete
GenericName[sl]=Analizator omrežij
GenericName[sr]=Анализатор мреже
GenericName[sr@latin]=Analizator mreže
GenericName[sv]=Nätverksanalyserare
GenericName[ta]=பிணைய ஆய்வர்
GenericName[te]=నెట్వర్క్ ను పరిశీలించె కార్యక్రమం
GenericName[tg]=Таҳлилгари шабакаи Интернет
GenericName[th]=เครื่องมือวิเคราะห์เครือข่าย
GenericName[tr]=Ağ Analiz Programı
GenericName[uk]=Аналізатор мережі
GenericName[uz]=Tarmoqni tahlil qilish vositasi
GenericName[uz@cyrillic]=Тармоқни таҳлил қилиш воситаси
GenericName[vi]=Bộ phân tích mạng
GenericName[wa]=Analijheu rantoele
GenericName[xh]=Umcukucezi Womsebenzi womnatha
GenericName[x-test]=xxNetwork Analyzerxx
GenericName[zh_CN]=网络分析程序
GenericName[zh_TW]=網路分析程式
Exec=ethereal
Type=Application
MimeType=
Icon=xmag
Terminal=false
