[Desktop Entry]
SwallowExec=xbiff
SwallowTitle=X Biff
SwallowTitle[pl]=X Biff
SwallowTitle[no]=X Biff
Name=X Biff
Name[af]=X Biff
Name[ar]=منبه البريد X Biff
Name[as]=X Biff
Name[be]=X Biff
Name[be@latin]=X Biff
Name[bg]=X Biff
Name[bn]=এক্স বিফ
Name[bn_IN]=X Biff
Name[br]=X Biff
Name[ca]=X Biff
Name[ca@valencia]=X Biff
Name[cs]=X Biff
Name[csb]=X Biff
Name[cy]=X Biff
Name[da]=X Biff
Name[de]=X-Biff
Name[el]=X Biff
Name[en_GB]=X Biff
Name[eo]=X-Bifo
Name[es]=Biff para X
Name[et]=X Biff
Name[eu]=X Biff
Name[fi]=X Biff
Name[fr]=XBiff
Name[fy]=X Biff
Name[ga]=X Biff
Name[gl]=X Biff
Name[gu]=X Biff
Name[he]=X Biff
Name[hi]=एक्स बिफ़
Name[hne]=एक्स बिफ
Name[hr]=X Biff
Name[hsb]=X Biff
Name[hu]=X Biff
Name[is]=X Biff
Name[it]=X Biff
Name[ja]=X Biff
Name[ka]=X Biff
Name[kk]=X Biff
Name[km]=X Biff
Name[kn]=ಕ್ಸ ಬಿಫ್
Name[ko]=X Biff
Name[ku]=X Biff
Name[lt]=X Biff
Name[lv]=X Biff
Name[mai]=एक्स बिफ
Name[mk]=X Biff
Name[ml]=എക്സ് ബിഫ്
Name[mr]=एक्स बिफ
Name[ms]=X Biff
Name[nb]=X Biff
Name[nds]=X-Biff
Name[ne]=X बिफ
Name[nl]=X Biff
Name[nn]=X Biff
Name[oc]=X Biff
Name[or]=X Biff
Name[pa]=X Biff
Name[pl]=X Biff
Name[pt]=X Biff
Name[pt_BR]=X Biff
Name[ro]=X Biff
Name[ru]=X Biff
Name[se]=X Biff
Name[si]=X Biff
Name[sk]=X Biff
Name[sl]=X Biff
Name[sr]=Икс‑биф
Name[sr@latin]=XBiff
Name[sv]=X biff
Name[ta]=X பிஃப்
Name[te]=ఎక్స్ బిఫ్
Name[tg]=X Biff
Name[th]=X Biff
Name[tr]=X Biff
Name[uk]=X-Biff
Name[uz]=X Biff
Name[uz@cyrillic]=X Biff
Name[vi]=X Biff
Name[wa]=X Biff
Name[xh]=X Biff
Name[x-test]=xxX Biffxx
Name[zh_CN]=X Biff
Name[zh_TW]=X Biff
GenericName=Mail Alert
GenericName[af]=Pos Waarskuwing
GenericName[ar]=منبه البريد
GenericName[as]=ডাকৰ সূচনা
GenericName[be]=Абвяшчэнне пра новую пошту
GenericName[be@latin]=Prahrama, jakaja infarmuje pra źjaŭleńnie novych listoŭ
GenericName[bg]=Аларма за поща
GenericName[bn]=চিঠি এসেছে
GenericName[bn_IN]=মেইল সংক্রান্ত সূচনা
GenericName[ca]=Alerta per al correu
GenericName[ca@valencia]=Alerta per al correu
GenericName[cs]=Upozornění na poštu
GenericName[csb]=Wiadło o pòczce
GenericName[cy]=Rhybudd Ebost
GenericName[da]=Postadvarsel
GenericName[de]=E-Mail-Benachrichtigung
GenericName[el]=Ειδοποίηση για mail
GenericName[en_GB]=Mail Alert
GenericName[eo]=Retpoŝta atentigilo
GenericName[es]=Alerta de correo
GenericName[et]=Kirjade jälgija
GenericName[eu]=Mail jakinarazpena
GenericName[fa]=هشدار نامه
GenericName[fi]=Sähköpostivaroitus
GenericName[fr]=Surveillance du courrier électronique
GenericName[fy]=E-postnotifikaasje
GenericName[ga]=Fógairt Ríomhphoist
GenericName[gl]=Alerta de correo
GenericName[gu]=મેઇલ ચેતવણી
GenericName[he]=הודעה לגבי דואר
GenericName[hi]=डाक सतर्क
GenericName[hne]=डाक सतर्क
GenericName[hr]=Upozoravanje o novom e-pismu
GenericName[hsb]=Skedźbnjenje na póštu
GenericName[hu]=Levélfigyelő
GenericName[is]=Fylgist með pósti
GenericName[it]=Programma per controllare la posta
GenericName[ja]=メールの通知
GenericName[ka]=ფოსტის განგაში
GenericName[kk]=Келген пошта туралы хабарлау
GenericName[km]=ការ​ជូន​ដំណឹង​អំពី​សំបុត្រ
GenericName[kn]=ಅಂಚೆ ಎಚ್ಚರಕ
GenericName[ko]=메일 알림이
GenericName[ku]=Hişyarkara Mailan
GenericName[lt]=Pašto pranešėjas
GenericName[lv]=Pasta brīdinājums
GenericName[mai]=डाक सतर्क
GenericName[mk]=Известувач за е-пошта
GenericName[ml]=മെയില്‍ അറിയിപ്പു്
GenericName[mr]=मेल सतर्क
GenericName[ms]=Amaran Mel
GenericName[nb]=E-postvarsel
GenericName[nds]=Nettpost-Alarm
GenericName[ne]=मेल सावधानी
GenericName[nl]=E-mailnotificatie
GenericName[nn]=E-postvarsel
GenericName[or]=ମେଲ ସତର୍କ ସୂଚନା
GenericName[pa]=ਮੇਲ ਚੇਤਾਵਨੀ
GenericName[pl]=Powiadamianie o poczcie
GenericName[pt]=Alerta de E-mail
GenericName[pt_BR]=Alerta de e-mail
GenericName[ro]=Alertă email nou
GenericName[ru]=Извещение о новой почте
GenericName[se]=E-boastaávaštus
GenericName[si]=තැපැල් ඇගවීම්
GenericName[sk]=Upozornenie na poštu
GenericName[sl]=Obvestilo o pošti
GenericName[sr]=Поштански аларм
GenericName[sr@latin]=Poštanski alarm
GenericName[sv]=E-postunderrättare
GenericName[ta]=அஞ்சல் அறிவி
GenericName[te]=మెయిల్ ఎచ్చరిక
GenericName[tg]=Огоҳии почта
GenericName[th]=แจ้งเตือนจดหมาย
GenericName[tr]=Posta Uyarısı
GenericName[uk]=Повідомлення пошти
GenericName[uz]=Yangi xat haqida xabar beruvchi
GenericName[uz@cyrillic]=Янги хат ҳақида хабар берувчи
GenericName[vi]=Thông báo có thư
GenericName[wa]=Abranle pa emile
GenericName[xh]=Ulumkiso Lweposi 
GenericName[x-test]=xxMail Alertxx
GenericName[zh_CN]=电子邮件提示程序
GenericName[zh_TW]=郵件提示
Icon=email
Type=Application
Terminal=false
