[Desktop Entry]
SwallowExec=xbiff
SwallowTitle=X Biff
SwallowTitle[pl]=X Biff
SwallowTitle[no]=X Biff
Name=X Biff
Name[bn]=এক্স বিফ
Name[de]=X-Biff
Name[es]=Biff para X
Name[fr]=XBiff
Name[hi]=एक्स बिफ़
Name[nds]=X-Biff
Name[ne]=X बिफ
Name[sr]=Икс‑биф
Name[sr@latin]=XBiff
Name[sv]=X biff
Name[ta]=X பிஃப்
Name[te]=ఎక్స్ బిఫ్
Name[uk]=X-Biff
Name[x-test]=xxX Biffxx
GenericName=Mail Alert
GenericName[af]=Pos Waarskuwing
GenericName[ar]=منبه البريد
GenericName[be]=Абвяшчэнне пра новую пошту
GenericName[bg]=Аларма за поща
GenericName[bn]=চিঠি এসেছে
GenericName[ca]=Alerta per al correu
GenericName[cs]=Upozornění na poštu
GenericName[csb]=Wiadło o pòczce
GenericName[cy]=Rhybudd Ebost
GenericName[da]=Postadvarsel
GenericName[de]=E-Mail-Benachrichtigung
GenericName[el]=Ειδοποίηση για mail
GenericName[es]=Alerta de correo
GenericName[et]=Kirjade jälgija
GenericName[eu]=Mail jakinarazpena
GenericName[fa]=هشدار نامه
GenericName[fi]=Sähköpostivaroitus
GenericName[fr]=Surveillance du courrier électronique
GenericName[fy]=E-postnotifikaasje
GenericName[ga]=Fógairt Ríomhphoist
GenericName[gl]=Alerta de correo
GenericName[he]=הודעה לגבי דואר
GenericName[hi]=डाक सतर्क
GenericName[hr]=Upozoravanje o novom e-pismu
GenericName[hu]=Levélfigyelő
GenericName[is]=Fylgist með pósti
GenericName[it]=Programma per controllare la posta
GenericName[ja]=メールの通知
GenericName[ka]=ფოსტის განგაში
GenericName[kk]=Келген пошта туралы хабарлау
GenericName[km]=ការ​ជូន​ដំណឹង​អំពី​សំបុត្រ
GenericName[ko]=메일 알림이
GenericName[ku]=Hişyarkara Mailan
GenericName[lt]=Pašto pranešėjas
GenericName[lv]=Pasta brīdinājums
GenericName[mk]=Известувач за е-пошта
GenericName[ms]=Amaran Mel
GenericName[nb]=E-postvarsel
GenericName[nds]=Nettpost-Alarm
GenericName[ne]=मेल सावधानी
GenericName[nl]=E-mailnotificatie
GenericName[nn]=E-postvarsel
GenericName[pa]=ਮੇਲ ਚੇਤਾਵਨੀ
GenericName[pl]=Powiadamianie o poczcie
GenericName[pt]=Alerta de E-mail
GenericName[pt_BR]=Alerta de E-mail
GenericName[ro]=Alertare la email nou
GenericName[ru]=Извещения о новой почте
GenericName[se]=E-boastaávaštus
GenericName[sk]=Upozornenie na poštu
GenericName[sl]=Obvestilo o pošti
GenericName[sr]=Поштански аларм
GenericName[sr@latin]=Poštanski alarm
GenericName[sv]=E-postunderrättare
GenericName[ta]=அஞ்சல் எச்சரிக்கை
GenericName[tg]=Маълумот диҳии почтаи электроникӣ
GenericName[th]=แจ้งเตือนจดหมาย
GenericName[tr]=Posta Uyarısı
GenericName[uk]=Повідомлення пошти
GenericName[uz]=Янги хат ҳақида хабар берувчи
GenericName[vi]=Thông báo có thư
GenericName[wa]=Abranle pa emile
GenericName[x-test]=xxMail Alertxx
GenericName[xh]=Ulumkiso Lweposi 
GenericName[zh_CN]=电子邮件提示程序
GenericName[zh_TW]=郵件提示
Icon=email
Type=Application
Terminal=false
