[Desktop Entry]
Exec=xchat
Icon=xchat
Type=Application
Name=XChat
Name[af]=XChat
Name[ar]=XChat
Name[as]=XChat
Name[be]=XChat
Name[be@latin]=XChat
Name[bg]=XChat
Name[bn]=এক্স-চ্যাট
Name[bn_IN]=XChat
Name[br]=XChat
Name[ca]=XChat
Name[ca@valencia]=XChat
Name[cs]=XChat
Name[csb]=XChat
Name[cy]=XChat
Name[da]=XChat
Name[de]=XChat
Name[el]=XChat
Name[en_GB]=XChat
Name[eo]=X-Ĉato
Name[es]=XChat
Name[et]=XChat
Name[eu]=XChat
Name[fi]=XChat
Name[fr]=XChat
Name[fy]=XChat
Name[ga]=XChat
Name[gl]=XChat
Name[gu]=XChat
Name[he]=XChat
Name[hi]=एक्स चैट
Name[hne]=एक्स चैट
Name[hr]=XChat
Name[hsb]=XChat
Name[hu]=XChat
Name[is]=XChat
Name[it]=XChat
Name[ja]=XChat
Name[ka]=XChat
Name[kk]=XChat
Name[km]=XChat
Name[kn]=ಕ್ಸಚಾಟ್
Name[ko]=XChat
Name[ku]=XChat
Name[lt]=XChat
Name[lv]=XChat
Name[mai]=एक्स चैट
Name[mk]=XChat
Name[ml]=എക്സ്ചാറ്റ്
Name[mr]=एक्स चैट
Name[ms]=XChat
Name[nb]=XChat
Name[nds]=XChat
Name[ne]=X कुराकानी
Name[nl]=XChat
Name[nn]=XChat
Name[oc]=XChat
Name[or]=XChat
Name[pa]=XChat
Name[pl]=XChat
Name[pt]=XChat
Name[pt_BR]=XChat
Name[ro]=XChat
Name[ru]=XChat
Name[se]=XChat
Name[si]=XChat
Name[sk]=XChat
Name[sl]=XChat
Name[sr]=Икс‑ћаскање
Name[sr@latin]=X‑ćaskanje
Name[sv]=Xchat
Name[ta]=Xஅரட்டை
Name[te]=ఎక్స్ చాట్
Name[tg]=XChat
Name[th]=XChat
Name[tr]=XChart
Name[uk]=XChat
Name[uz]=XChat
Name[uz@cyrillic]=XChat
Name[vi]=XChat
Name[wa]=XChat
Name[xh]=XChat
Name[x-test]=xxXChatxx
Name[zh_CN]=XChat
Name[zh_TW]=XChat
GenericName=IRC Chat
GenericName[af]=IRC Kliënt
GenericName[ar]=IRC دردشة
GenericName[as]=IRC Chat
GenericName[be]=IRC чат
GenericName[be@latin]=Kamunikatar dla IRC
GenericName[bg]=Разговори по IRC
GenericName[bn]=আই-আর-সি আড্ডা
GenericName[bn_IN]=IRC চ্যাট
GenericName[br]=Flapañ IRC
GenericName[ca]=Xat IRC
GenericName[ca@valencia]=Xat IRC
GenericName[cs]=IRC chat
GenericName[csb]=IRC Chat
GenericName[da]=IRC-chat
GenericName[de]=IRC-Chat
GenericName[el]=Πελάτης συζήτησης IRC
GenericName[en_GB]=IRC Chat
GenericName[eo]=IRC-kliento
GenericName[es]=Cliente IRC
GenericName[et]=IRC vestlus
GenericName[eu]=IRC Chat
GenericName[fa]=گپ IRC
GenericName[fi]=IRC-asiakasohjelma
GenericName[fr]=Discussion IRC
GenericName[fy]=IRC Chat
GenericName[ga]=Comhrá IRC
GenericName[gl]=Cliente de IRC
GenericName[gu]=IRC વાતચીત
GenericName[he]=שיחות ב־IRC
GenericName[hi]=आईआरसी गपशप
GenericName[hne]=आईआरसी गपसप
GenericName[hr]=IRC brbljanje
GenericName[hsb]=IRC Chat
GenericName[hu]=IRC-kliens
GenericName[is]=IRC spjall
GenericName[it]=Chat IRC
GenericName[ja]=IRC チャット
GenericName[ka]=IRC ჩეთი
GenericName[kk]=IRC клиенті
GenericName[km]=កម្មវិធី​ជជែក​កម្សាន្ដ IRC
GenericName[kn]=IRC ಸಂಭಾಷಣೆ
GenericName[ko]=IRC 클라이언트
GenericName[ku]=Sohbeta IRC
GenericName[lt]=IRC pokalbiai
GenericName[lv]=IRC tērzēšana
GenericName[mai]=आईआरसी गपशप
GenericName[mk]=Разговори на IRC
GenericName[ml]=ഐആര്‍സി സല്ലാപം
GenericName[mr]=IRC संभाषण
GenericName[ms]=Chat IRC
GenericName[nb]=IRC prateprogram
GenericName[nds]=IRC-Klönen
GenericName[ne]=आईआरसी कुराकानी
GenericName[nl]=IRC-chat
GenericName[nn]=IRC-prateprogram
GenericName[or]=IRC ଆଳାପ
GenericName[pa]=IRC ਗੱਲਬਾਤ
GenericName[pl]=Klient IRC
GenericName[pt]=Conversas de IRC
GenericName[pt_BR]=Bate-papo IRC
GenericName[ro]=Convorbiri IRC
GenericName[ru]=Клиент IRC
GenericName[se]=IRC-čátta
GenericName[si]=IRC පිළිසඳර
GenericName[sk]=IRC chat
GenericName[sl]=Klepet IRC
GenericName[sr]=Ћаскање на ИРЦ‑у
GenericName[sr@latin]=Ćaskanje na IRC‑u
GenericName[sv]=IRC-chatt
GenericName[ta]=IRC அரட்டை
GenericName[te]=ఐఆర్ సి సంభాషణ
GenericName[tg]=Чатхонаи IRC
GenericName[th]=IRC Chat
GenericName[tr]=IRC Programı
GenericName[uk]=Балачка IRC
GenericName[uz]=IRC klienti
GenericName[uz@cyrillic]=IRC клиенти
GenericName[vi]=Nhắn tin nhanh IRC
GenericName[wa]=Cliyint IRC
GenericName[x-test]=xxIRC Chatxx
GenericName[zh_CN]=IRC 聊天
GenericName[zh_TW]=IRC Chat

