[Desktop Entry]
Exec=xchat
Icon=xchat
Type=Application
Name=XChat
Name[eo]=X-Ĉato
Name[ne]=X कुराकानी
Name[sr]=Икс-ћаскање
Name[sr@latin]=X-ćaskanje
Name[sv]=Xchat
Name[ta]=Xஅரட்டை
Name[te]=ఎక్స్ చాట్
Name[tr]=XChart
Name[x-test]=xxXChatxx
GenericName=IRC Chat
GenericName[af]=IRC Kliënt
GenericName[ar]=IRC دردشة
GenericName[be]=IRC чат
GenericName[bg]=Разговори по IRC
GenericName[br]=Flapañ IRC
GenericName[ca]=Xat IRC
GenericName[cs]=IRC chat
GenericName[da]=IRC-chat
GenericName[de]=IRC-Chat
GenericName[el]=Πελάτης συζήτησης IRC
GenericName[eo]=IRC-kliento
GenericName[es]=Cliente IRC
GenericName[et]=IRC vestlus
GenericName[fa]=گپ IRC
GenericName[fi]=IRC-asiakasohjelma
GenericName[fr]=Discussion IRC
GenericName[ga]=Comhrá IRC
GenericName[gl]=Cliente de IRC
GenericName[he]=שיחות ב־IRC
GenericName[hr]=IRC brbljanje
GenericName[hu]=IRC-kliens
GenericName[is]=IRC spjall
GenericName[it]=Chat IRC
GenericName[ja]=IRC チャット
GenericName[ka]=IRC ჩეთი
GenericName[kk]=IRC клиенті
GenericName[km]=កម្មវិធី​ជជែក​កម្សាន្ដ IRC
GenericName[ko]=IRC 클라이언트
GenericName[lt]=IRC pokalbiai
GenericName[lv]=IRC tērzēšana
GenericName[mk]=Разговори на IRC
GenericName[ms]=Chat IRC
GenericName[nb]=Prateprogram
GenericName[nds]=IRC-Klönen
GenericName[ne]=आईआरसी कुराकानी
GenericName[nl]=IRC-chat
GenericName[nn]=IRC-prateprogram
GenericName[pa]=IRC ਗੱਲਬਾਤ
GenericName[pl]=Klient IRC
GenericName[pt]=Conversas de IRC
GenericName[pt_BR]=Chat IRC
GenericName[ro]=Convorbiri IRC
GenericName[ru]=Клиент IRC
GenericName[se]=IRC-čátta
GenericName[sl]=Klepet IRC
GenericName[sr]=Ћаскање на ИРЦ-у
GenericName[sr@latin]=Ćaskanje na IRC-u
GenericName[sv]=IRC-chatt
GenericName[ta]=IRC அரட்டை
GenericName[te]=ఐఆర్ సి సంభాషణ
GenericName[tg]=IRC Чат
GenericName[th]=โปรแกรมคุยแบบ IRC
GenericName[tr]=IRC Programı
GenericName[uk]=Балачка IRC
GenericName[uz]=IRC клиенти
GenericName[vi]=Nhắn tin nhanh IRC
GenericName[wa]=Cliyint IRC
GenericName[x-test]=xxIRC Chatxx
GenericName[zh_CN]=IRC 聊天

