[Desktop Entry]
Encoding=UTF-8
Exec=xchat
Icon=xchat
Type=Application
Name=XChat
Name[eo]=XKlaĉilo
Name[ko]=엑스쳇
Name[ne]=X च्याट
Name[sv]=Xchat
Name[ta]=Xஅரட்டை
Name[te]=ఎక్స్ చాట్
Name[tr]=XChart
Name[x-test]=xxXChatxx
GenericName=IRC Chat
GenericName[af]=IRC Kliënt
GenericName[bg]=Разговори по IRC
GenericName[br]=Flapañ IRC
GenericName[ca]=Xat IRC
GenericName[cs]=IRC chat
GenericName[da]=IRC-chat
GenericName[de]=IRC-Chat
GenericName[el]=Πελάτης συζήτησης IRC
GenericName[eo]=IRC-kliento
GenericName[es]=Cliente IRC
GenericName[et]=IRC vestlus
GenericName[fa]=گپ IRC
GenericName[fi]=IRC-asiakasohjelma
GenericName[fr]=Discussion IRC
GenericName[ga]=Comhrá IRC
GenericName[gl]=Cliente de IRC
GenericName[he]=שיחת IRC
GenericName[hr]=IRC brbljanje
GenericName[hu]=IRC-kliens
GenericName[is]=IRC spjall
GenericName[it]=Chat IRC
GenericName[ja]=IRC チャット
GenericName[ka]=IRC ჩეთი
GenericName[kk]=IRC клиенті
GenericName[km]=កម្មវិធី​ជជែក​កំសាន្ត IRC
GenericName[lt]=IRC pokalbiai
GenericName[mk]=Разговори на IRC
GenericName[ms]=Chat IRC
GenericName[nb]=Prateprogram
GenericName[nds]=IRC-Klönen
GenericName[ne]=IRC च्याट
GenericName[nl]=IRC-chat
GenericName[nn]=IRC-prateprogram
GenericName[pa]=IRC ਗੱਲਬਾਤ
GenericName[pl]=Klient IRC
GenericName[pt]=Conversas de IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ro]=Convorbiri IRC
GenericName[ru]=Клиент IRC
GenericName[se]=IRC-čátta
GenericName[sl]=Klepet IRC
GenericName[sr]=IRC ћаскање
GenericName[sr@Latn]=IRC ćaskanje
GenericName[sv]=IRC-chatt
GenericName[ta]=IRC அரட்டை
GenericName[te]=ఐఆర్ సి సంభాషణ
GenericName[tg]=IRC Чат
GenericName[tr]=IRC Programı
GenericName[uk]=Балачка IRC
GenericName[uz]=IRC клиенти
GenericName[x-test]=xxIRC Chatxx

