[Desktop Entry]
Name=X FTP
Name[af]=X FTP
Name[ar]=X FTP
Name[as]=X FTP
Name[be]=X FTP
Name[be@latin]=X FTP
Name[bg]=X FTP
Name[bn]=এক্স এফ-টি-পি
Name[bn_IN]=X FTP
Name[br]=X FTP
Name[ca]=X FTP
Name[ca@valencia]=X FTP
Name[cs]=X FTP
Name[csb]=X FTP
Name[cy]=X FTP
Name[da]=X FTP
Name[de]=X-FTP
Name[el]=X FTP
Name[en_GB]=X FTP
Name[eo]=X-FTP
Name[es]=FTP para X
Name[et]=X FTP
Name[eu]=X FTP
Name[fi]=X FTP
Name[fr]=XFTP
Name[fy]=X FTP
Name[ga]=X FTP
Name[gl]=X FTP
Name[gu]=X FTP
Name[he]=X FTP
Name[hi]=एक्स एफटीपी
Name[hne]=एक्स एफटीपी
Name[hr]=X FTP
Name[hsb]=X FTP
Name[hu]=X FTP
Name[is]=X FTP
Name[it]=X FTP
Name[ja]=X FTP
Name[ka]=X FTP
Name[kk]=X FTP
Name[km]=X FTP
Name[kn]=ಕ್ಸ FTP
Name[ko]=X FTP
Name[ku]=X FTP
Name[lt]=X FTP
Name[lv]=X FTP
Name[mai]=एक्स एफटीपी
Name[mk]=X FTP
Name[ml]=എക്സ് എഫ്‌ടിപി
Name[mr]=एक्स FTP
Name[ms]=X FTP
Name[nb]=X FTP
Name[nds]=X-FTP
Name[ne]=X FTP
Name[nl]=X FTP
Name[nn]=X-FTP
Name[oc]=X FTP
Name[or]=X FTP
Name[pa]=X FTP
Name[pl]=X FTP
Name[pt]=X FTP
Name[pt_BR]=X FTP
Name[ro]=X FTP
Name[ru]=X FTP
Name[se]=X-FTP
Name[si]=X FTP
Name[sk]=X FTP
Name[sl]=X FTP
Name[sr]=ИксФТП
Name[sr@latin]=XFTP
Name[sv]=X FTP
Name[ta]=X FTP
Name[te]=ఎక్స్ ఎఫ్ టి పి
Name[tg]=X FTP
Name[th]=X FTP
Name[tr]=X FTP
Name[uk]=X-FTP
Name[uz]=X FTP
Name[uz@cyrillic]=X FTP
Name[vi]=X FTP
Name[wa]=X FTP
Name[xh]=X FTP
Name[x-test]=xxX FTPxx
Name[zh_CN]=X FTP
Name[zh_TW]=X FTP
MimeType=
GenericName=FTP Browser
GenericName[af]=FTP Blaaier
GenericName[ar]=FTP متصفح
GenericName[as]=FTP চৰক
GenericName[be]=Кліент FTP
GenericName[be@latin]=Prahladnik FTP
GenericName[bg]=FTP браузър
GenericName[bn]=এফ-টি-পি ব্রাউজার
GenericName[bn_IN]=FTP ব্রাউজার
GenericName[br]=Furcher FTP
GenericName[ca]=Navegador FTP
GenericName[ca@valencia]=Navegador FTP
GenericName[cs]=FTP prohlížeč
GenericName[csb]=Przezérnik FTP
GenericName[da]=FTP-Browser
GenericName[de]=FTP-Browser
GenericName[el]=Περιηγητής FTP
GenericName[en_GB]=FTP Browser
GenericName[eo]=FTP-Foliumilo
GenericName[es]=Navegador FTP
GenericName[et]=FTP lehitseja
GenericName[eu]=FTP arakatzailea
GenericName[fa]=مرورگر قاپ‌
GenericName[fi]=FTP-selain
GenericName[fr]=Navigateur FTP
GenericName[fy]=FTP-blêder
GenericName[ga]=Brabhsálaí FTP
GenericName[gl]=Navegador FTP
GenericName[gu]=FTP બ્રાઉઝર
GenericName[he]=דפדפן FTP
GenericName[hi]=एफटीपी ब्राउज़र
GenericName[hne]=एफटीपी ब्राउजर
GenericName[hr]=FTP preglednik
GenericName[hsb]=FTP-přelistowar
GenericName[hu]=FTP-böngésző
GenericName[is]=FTP vafri
GenericName[it]=Browser FTP
GenericName[ja]=FTP ブラウザ
GenericName[ka]=FTP-ბრაუზერი
GenericName[kk]=FTP браузері
GenericName[km]=កម្មវិធី​រុករក FTP
GenericName[kn]=FTP ವೀಕ್ಷಕ
GenericName[ko]=FTP 탐색기
GenericName[ku]=Geroka FTP
GenericName[lt]=FTP naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=एफटीपी ब्राउजर
GenericName[mk]=FTP-прелистувач
GenericName[ml]=FTP ബ്രൌസര്‍
GenericName[mr]=FTP ब्राउजर
GenericName[ms]=Pelayar FTP
GenericName[nb]=FTP-leser
GenericName[nds]=FTP-Nettkieker
GenericName[ne]=एफटीपी ब्राउजर
GenericName[nl]=FTP-browser
GenericName[nn]=FTP-lesar
GenericName[or]=FTP ବ୍ରାଉଜର
GenericName[pa]=FTP ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka FTP
GenericName[pt]=Navegador de FTP
GenericName[pt_BR]=Navegador FTP
GenericName[ro]=Navigator FTP
GenericName[ru]=FTP-браузер
GenericName[se]=FTP-logan
GenericName[si]=FTP ගවේශකය
GenericName[sk]=FTP prehliadač
GenericName[sl]=Brskalnik po FTP
GenericName[sr]=Прегледач ФТП‑а
GenericName[sr@latin]=Pregledač FTP‑a
GenericName[sv]=FTP-bläddrare
GenericName[ta]=எப்டிபி உலாவி
GenericName[te]=ఎఫ్ టి పి బ్రౌజర్
GenericName[tg]=Намоишгари FTP
GenericName[th]=โปรแกรม FTP เบราว์เซอร์
GenericName[tr]=FTP Tarayıcı
GenericName[uk]=Навігатор FTP
GenericName[uz]=FTP-brauzer
GenericName[uz@cyrillic]=FTP-браузер
GenericName[vi]=Bộ duyệt FTP
GenericName[wa]=Betchteu FTP
GenericName[x-test]=xxFTP Browserxx
GenericName[zh_CN]=FTP 浏览器
GenericName[zh_TW]=FTP 瀏覽器
Exec=xftp
Icon=xapp
Type=Application
Terminal=false
