[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=KFind
Name[ca]=KFind
Name[it]=KFind
Name[nl]=KFind
Name[uk]=KFind
Name[x-test]=xxKFindxx
GenericName=Find Files/Folders
GenericName[ca]=Cerca fitxers i carpetes
GenericName[it]=Trova file/cartelle
GenericName[nl]=Bestanden/mappen zoeken
GenericName[uk]=Пошук файлів та тек
GenericName[x-test]=xxFind Files/Foldersxx
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.kfind
