[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=KFind
GenericName=Find Files/Folders
GenericName[af]=Soek Lêers/Gidse
GenericName[ar]=إبحث عن ملفات/مجلّدات
GenericName[as]=নথিপত্ৰ/পঞ্জিকা বিচাৰক
GenericName[be]=Пошук файлаў і тэчак
GenericName[be@latin]=Pošuk fajłaŭ i katalohaŭ
GenericName[bg]=Търсене на файлове
GenericName[bn]=ফাইল/ফোল্ডার অনুসন্ধান
GenericName[bn_IN]=ফাইল/ফোল্ডার অনুসন্ধান
GenericName[br]=Klask restroù/renkelloù
GenericName[bs]=Traženje datoteka i fascikli
GenericName[ca]=Cerca fitxers i carpetes
GenericName[ca@valencia]=Cerca fitxers i carpetes
GenericName[cs]=Najít soubory/složky
GenericName[csb]=Szëkba lopków/katalogów
GenericName[da]=Find filer/mapper
GenericName[de]=Dateien/Ordner suchen
GenericName[el]=Αναζήτηση αρχείων/φακέλων
GenericName[en_GB]=Find Files/Folders
GenericName[eo]=Trovi dosierojn/dosierujojn
GenericName[es]=Buscar archivos/carpetas
GenericName[et]=Failide/kataloogide otsimine
GenericName[eu]=Bilatu fitxategiak/karpetak
GenericName[fa]=یافتن پرونده‌ها/پوشه‌ها
GenericName[fi]=Etsi tiedostoja ja kansioita
GenericName[fr]=Trouver des fichiers ou dossiers
GenericName[fy]=Triemmen/mappen sykje
GenericName[ga]=Aimsigh Comhaid/Comhadlanna
GenericName[gl]=Buscar ficheiros/cartafoles
GenericName[gu]=ફાઇલો/ફોલ્ડરો શોધો
GenericName[he]=חיפוש קבצים ותיקיות
GenericName[hi]=फ़ाइलें/फोल्डर ढूंढें
GenericName[hne]=फाइल मन ल/फोल्डर मन ल खोजव
GenericName[hr]=Traži datoteke/mape
GenericName[hsb]=Dataje/zapiski namakać
GenericName[hu]=Fájlkereső
GenericName[ia]=Trova files/dossieres
GenericName[id]=Cari Berkas/Folder
GenericName[is]=Finna skrár/möppur
GenericName[it]=Trova file/cartelle
GenericName[ja]=ファイル/フォルダを検索
GenericName[ka]=ფაილთა და საქაღალდეთა ძიება
GenericName[kk]=Файлды не қапшықты табу
GenericName[km]=រក​ឯកសារ/ថត
GenericName[kn]=ಕಡತಗಳನ್ನು/ಕಡತಕೋಶಗಳನ್ನು ಹುಡುಕು
GenericName[ko]=파일/폴더 찾기
GenericName[ku]=Pelan/peldankan Bibîne
GenericName[lt]=Rasti failus/aplankus
GenericName[lv]=Meklēt failus/mapes
GenericName[mai]=फाइलसभ/फोल्डरसभ ढूँढू
GenericName[mk]=Пронајди датотеки/папки
GenericName[ml]=രേഖകളും കൂടകളും തിരയുക
GenericName[mr]=फाईल्स/संचयीका शोधा
GenericName[ms]=Cari Fail/Folder
GenericName[nb]=Finn filer/mapper
GenericName[nds]=Dateien un Ornern söken
GenericName[ne]=फाइल/फोल्डर फेला पार्नुहोस्
GenericName[nl]=Bestanden/mappen zoeken
GenericName[nn]=Finn filer/mapper
GenericName[or]=ଫାଇଲ/ଫୋଲଡର ଖୋଜନ୍ତୁ
GenericName[pa]=ਫਾਇਲ/ਫੋਲਡਰ ਖੋਜ
GenericName[pl]=Wyszukiwanie plików/katalogów
GenericName[pt]=Procurar nos Ficheiros/Pastas
GenericName[pt_BR]=Procurar arquivos/pastas
GenericName[ro]=Caută fișiere/dosare
GenericName[ru]=Поиск файлов и папок
GenericName[se]=Oza fiillaid dahje máhpaid
GenericName[si]=ගොනු/බහලුම් සොයන්න
GenericName[sk]=Nájsť súbory/priečinky
GenericName[sl]=Najdi datoteke in mape
GenericName[sr]=Тражење фајлова и фасцикли
GenericName[sr@ijekavian]=Тражење фајлова и фасцикли
GenericName[sr@ijekavianlatin]=Traženje fajlova i fascikli
GenericName[sr@latin]=Traženje fajlova i fascikli
GenericName[sv]=Hitta filer eller kataloger
GenericName[ta]=கோப்புகள்/அடைவுகளைக் கண்டுபிடி
GenericName[te]=దస్త్రాలు/ఫొల్డర్లను వెతుకు
GenericName[tg]=Ҷустуҷӯи файлҳо/феҳристҳо
GenericName[th]=ค้นหาแฟ้ม/โฟลเดอร์
GenericName[tr]=Dosya / Dizin Bul
GenericName[ug]=ھۆججەت/قىسقۇچ ئىزدە
GenericName[uk]=Пошук файлів та тек
GenericName[uz]=Fayl/jildlarni qidirish
GenericName[uz@cyrillic]=Файл/жилдларни қидириш
GenericName[vi]=Tìm Tập tin/Thư mục
GenericName[wa]=Trover des fitchîs/ridants
GenericName[x-test]=xxFind Files/Foldersxx
GenericName[zh_CN]=查找文件/文件夹
GenericName[zh_TW]=尋找檔案/資料夾
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.kfind
