[Desktop Entry]
Name=AbiWord
Name[af]=AbiWord
Name[ar]=AbiWord
Name[as]=AbiWord
Name[be]=AbiWord
Name[be@latin]=AbiWord
Name[bg]=AbiWord
Name[bn]=এবি-ওয়ার্ড
Name[bn_IN]=AbiWord
Name[br]=AbiWord
Name[ca]=AbiWord
Name[ca@valencia]=AbiWord
Name[cs]=AbiWord
Name[csb]=AbiWord
Name[cy]=AbiWord
Name[da]=AbiWord
Name[de]=AbiWord
Name[el]=AbiWord
Name[en_GB]=AbiWord
Name[eo]=AbiWord
Name[es]=AbiWord
Name[et]=AbiWord
Name[eu]=AbiWord
Name[fi]=AbiWord
Name[fr]=AbiWord
Name[fy]=AbiWord
Name[ga]=AbiWord
Name[gl]=AbiWord
Name[gu]=અબીવર્ડ
Name[he]=AbiWord
Name[hi]=एबीवर्ड
Name[hne]=एबीवर्ड
Name[hr]=AbiWord
Name[hsb]=AbiWord
Name[hu]=AbiWord
Name[is]=AbiWord
Name[it]=AbiWord
Name[ja]=AbiWord
Name[ka]=AbiWord
Name[kk]=AbiWord
Name[km]=AbiWord
Name[kn]=ಅಬಿವರ್ಡ್
Name[ko]=AbiWord
Name[ku]=AbiWord
Name[lt]=AbiWord
Name[lv]=AbiWord
Name[mai]=एबीवर्ड
Name[mk]=AbiWord
Name[ml]=അബിവേര്‍ഡ്
Name[mr]=एबीवर्ड
Name[ms]=AbiWord
Name[nb]=AbiWord
Name[nds]=AbiWord
Name[ne]=एबीआई वर्ड
Name[nl]=AbiWord
Name[nn]=AbiWord
Name[oc]=AbiWord
Name[or]=AbiWord
Name[pa]=ਅਬੀਵਰਡ
Name[pl]=AbiWord
Name[pt]=AbiWord
Name[pt_BR]=AbiWord
Name[ro]=AbiWord
Name[ru]=AbiWord
Name[se]=AbiWord
Name[si]=AbiWord
Name[sk]=AbiWord
Name[sl]=AbiWord
Name[sr]=Абиворд
Name[sr@latin]=Abiword
Name[sv]=Abiword
Name[ta]=அபிவேர்ட்
Name[te]=అభివర్డ్
Name[tg]=AbiWord
Name[th]=AbiWord
Name[tr]=AbiWord
Name[uk]=AbiWord
Name[uz]=AbiWord
Name[uz@cyrillic]=AbiWord
Name[vi]=AbiWord
Name[wa]=AbiWord
Name[xh]=AbiWord
Name[x-test]=xxAbiWordxx
Name[zh_CN]=AbiWord
Name[zh_TW]=AbiWord
GenericName=Word Processor
GenericName[af]=Woordverwerker
GenericName[ar]=معالج نصوص
GenericName[as]=Word Processor
GenericName[be]=Тэкставы працэсар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстообработваща програма
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[bn_IN]=ওয়ার্ড প্রসেসর
GenericName[br]=Skridtreterezh
GenericName[ca]=Processador Word
GenericName[ca@valencia]=Processador Word
GenericName[cs]=Textový procesor
GenericName[csb]=Procesora tekstu
GenericName[cy]=Prosesydd Geiriau
GenericName[da]=Tekstbehandling
GenericName[de]=Textverarbeitung
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Word Processor
GenericName[eo]=Verkilo
GenericName[es]=Procesador de textos
GenericName[et]=Tekstitöötlus
GenericName[eu]=Testu prozesatzailea
GenericName[fa]=واژه‌پرداز
GenericName[fi]=Tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte
GenericName[fy]=Tekstferwurker
GenericName[ga]=Próiseálaí Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hi]=वर्ड प्रोसेसर
GenericName[hne]=वर्ड प्रोसेसर
GenericName[hr]=Program za obrada teksta
GenericName[hsb]=Předźěłar dokumentow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Videoscrittura
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტური პროცესორი
GenericName[kk]=Мәтін өңдеуші
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[kn]=ಪದ ಸಂಸ್ಕಾರಕ
GenericName[ko]=워드 프로세서
GenericName[ku]=Kiryarkara Peyvê
GenericName[lt]=Tekstų apdorotojas
GenericName[lv]=Tekstapstrādes programma
GenericName[mai]=वर्ड प्रोसेसर
GenericName[mk]=Програма за обработка на текст
GenericName[ml]=വേര്‍ഡ് പ്രൊസസ്സര്‍
GenericName[mr]=वर्ड प्रोसेसर
GenericName[ms]=Pemproses Kata
GenericName[nb]=Tekstbehandler
GenericName[nds]=Textprogramm
GenericName[ne]=वर्ड प्रोसेसर
GenericName[nl]=Tekstverwerker
GenericName[nn]=Teksthandsamar
GenericName[oc]=Tractament de tèxt
GenericName[or]=ଶବ୍ଦ ସଞ୍ଚାଳକ
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de texto
GenericName[ro]=Procesor de text
GenericName[ru]=Текстовый процессор
GenericName[se]=Teakstagieđahalli
GenericName[si]=Word Processor
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedila
GenericName[sr]=Обрађивач текста
GenericName[sr@latin]=Obrađivač teksta
GenericName[sv]=Ordbehandlare
GenericName[ta]=வேர்ட் பிராசசர்
GenericName[te]=వర్‍డ్ ప్రోసెసర్
GenericName[tg]=Барномаи Word
GenericName[th]=โปรแกรมประมวลผลคำ
GenericName[tr]=Kelime İşlemci
GenericName[uk]=Текстовий процесор
GenericName[uz]=Matn protsessori
GenericName[uz@cyrillic]=Матн процессори
GenericName[vi]=Bộ xử lý văn bản
GenericName[wa]=Aspougneu d' mot
GenericName[xh]=Word Processor
GenericName[x-test]=xxWord Processorxx
GenericName[zh_CN]=字处理程序
GenericName[zh_TW]=文書處理程式
Exec=abiword
Terminal=false
Icon=abiword
Type=Application
