[Desktop Entry]
Name=Dia
Name[bn]=ডায়া
Name[gu]=ડાયા
Name[hi]=डाया
Name[ml]=ഡയ
Name[ne]=डाय
Name[pa]=ਡਾਈ
Name[sr]=Дија
Name[ta]=டையா
Name[te]=డైయ
Name[x-test]=xxDiaxx
GenericName=Program for Diagrams
GenericName[af]=Program vir Diagramme
GenericName[ar]=برنامج تخطيط
GenericName[be]=Праграма для працы з дыяграмамі
GenericName[bg]=Диаграми
GenericName[bn]=ডায়াগ্রাম আঁকার প্রোগ্রাম
GenericName[br]=Program evit skeudennoù
GenericName[ca]=Programa per a fer diagrames
GenericName[cs]=Program pro diagramy
GenericName[csb]=Programa do diagramów
GenericName[cy]=Rhaglen Diagramau
GenericName[da]=Program for diagrammer
GenericName[de]=Programm für Diagramme
GenericName[el]=Πρόγραμμα για διαγράμματα
GenericName[eo]=Programo por fari diagramojn
GenericName[es]=Generador de diagramas
GenericName[et]=Skeemide joonistamine
GenericName[eu]=Diagrametarako programa
GenericName[fa]=برنامه برای نمودارها
GenericName[fi]=Kaavioidenpiirto-ohjelma
GenericName[fr]=Logiciel de conception de diagrammes
GenericName[fy]=Programma foar diagrammen
GenericName[ga]=Clár Deartha Léaráidí
GenericName[gl]=Programa para diagramas
GenericName[gu]=ડાયાગ્રામ માટેનો કાર્યક્રમ
GenericName[he]=תוכנית תרשימים
GenericName[hi]=डायग्राम के लिए प्रोग्राम
GenericName[hr]=Program za crtanje dijagrama
GenericName[hu]=Diagramkészítő
GenericName[is]=Teikniforrit fyrir skipurit og ferli
GenericName[it]=Programma per i diagrammi
GenericName[ja]=ダイアグラム作成プログラム
GenericName[ka]=დიაგრამებთან სამუშაო პროგრამა
GenericName[kk]=Диаграмма құру бағдарламасы
GenericName[km]=កម្មវិធី​សម្រាប់​ដ្យាក្រាម
GenericName[ko]=다이어그램 프로그램
GenericName[ku]=Bernameya Diyagraman
GenericName[lt]=Programos diagramoms
GenericName[lv]=Programma diagrammām
GenericName[mk]=Програма за дијаграми
GenericName[ml]=ഡയഗ്രാമുകള്‍ക്കുള്ള പ്രോഗ്രാം
GenericName[ms]=Program untuk Diagram
GenericName[nb]=Diagramprogram
GenericName[nds]=Programm för Diagrammen
GenericName[ne]=चित्रका लागि कार्यक्रम
GenericName[nl]=Programma voor diagrammen
GenericName[nn]=Diagramprogram
GenericName[pa]=ਸ਼ਕਲਾਂ (ਡਾਈਗਰਾਮ) ਲਈ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do tworzenia diagramów
GenericName[pt]=Programa de Diagramas
GenericName[pt_BR]=Programa para Diagramas
GenericName[ro]=Program de desenat diagrame
GenericName[ru]=Работа с диаграммами
GenericName[se]=Diagrámmaprográmma
GenericName[sk]=Diagramy
GenericName[sl]=Program za diagrame
GenericName[sr]=Програм за дијаграме
GenericName[sr@latin]=Program za dijagrame
GenericName[sv]=Program för diagram
GenericName[ta]=வரைபடங்களுக்கான நிரல்
GenericName[tg]=Барномаҳои диаграмма
GenericName[th]=โปรแกรมสำหรับการทำไดอะแกรม
GenericName[tr]=Şema Yazılımı
GenericName[uk]=Програма створення діаграм
GenericName[uz]=Daigrammalar bilan ishlash uchun dastur
GenericName[uz@cyrillic]=Даиграммалар билан ишлаш учун дастур
GenericName[vi]=Chương trình tạo biểu đồ
GenericName[wa]=Programe di diyagrames
GenericName[x-test]=xxProgram for Diagramsxx
GenericName[xh]=Inkqubo Yemizobo
GenericName[zh_CN]=图表绘制程序
GenericName[zh_TW]=圖表製作程式
Exec=dia
Terminal=false
Icon=dia
Type=Application
