[Desktop Entry]
Name=GNOME-Card
Name[ar]=كرت جنوم
Name[bn]=গনোম-কার্ড
Name[br]=GNOME-Kartenn
Name[csb]=Gnome karta
Name[de]=GNOME Card
Name[eo]=Gnoma kontaktilo
Name[fa]=کارت گنوم
Name[fr]=GnomeCard
Name[hi]=ग्नोम-कार्ड
Name[kk]=GNOME-картотекасы
Name[ko]=그놈-카드
Name[lt]=GNOME-korta
Name[mk]=GNOME-Картичка
Name[ne]=जिनोम-कार्ड
Name[pa]=ਗਨੋਮ-ਕਾਰਡ
Name[pl]=Gnome Karta
Name[ru]=Картотека GNOME
Name[sl]=Gnome-Card
Name[sr]=Гном‑кард
Name[sr@latin]=Gnome‑Card
Name[sv]=Gnome-card
Name[ta]=GNOME-அட்டை
Name[te]=గ్నొమ్-కార్డ్
Name[tg]=Корти-GNOME
Name[th]=นามบัตรของ GNOME
Name[vi]=Thiệp GNOME
Name[wa]=GNOME-Cwårdjeu
Name[x-test]=xxGNOME-Cardxx
Name[xh]=Ikhadi le-GNOME
Name[zh_TW]=GNOME 名片管理
GenericName=Contact Manager
GenericName[af]=Kontak Bestuurder
GenericName[ar]=مدير الاتصال
GenericName[be]=Кіраўнік кантактаў
GenericName[bg]=Контакти
GenericName[bn]=কনট্যাক্ট ম্যানেজার
GenericName[br]=Merour an darempredoù
GenericName[ca]=Gestor de contactes
GenericName[cs]=Správce kontaktů
GenericName[csb]=Menadżer łączbów
GenericName[cy]=Rheolydd Cysylltiad
GenericName[da]=Kontakthåndtering
GenericName[de]=Kontakteverwaltung
GenericName[el]=Διαχειριστής επαφών
GenericName[eo]=Kontakta administrilo
GenericName[es]=Gestor de contactos
GenericName[et]=Aadressiraamat
GenericName[eu]=Kontaktu kudeatzailea
GenericName[fa]=مدیر تماس
GenericName[fi]=Kontaktienhallinta
GenericName[fr]=Gestionnaire de contacts
GenericName[fy]=kontaktenbehear
GenericName[ga]=Bainisteoir na dTeagmhálacha
GenericName[gl]=Xestor de contactos
GenericName[he]=מנהל אנשי קשר
GenericName[hi]=सम्पर्क प्रबंधक
GenericName[hr]=Rokovnik
GenericName[hu]=Névjegykezelő
GenericName[is]=Samskipta mappa
GenericName[it]=Gestione contatti
GenericName[ja]=連絡先マネージャ
GenericName[ka]=კონტაქტების მენეჯერი
GenericName[kk]=Контакт менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ទំនាក់​ទំនង
GenericName[ko]=연락처 관리자
GenericName[ku]=Rêveberiya Têkiliyan
GenericName[lt]=Adresų tvarkyklė
GenericName[lv]=Kontaktu pārvaldnieks
GenericName[mk]=Менаџер на контакти
GenericName[ms]=Hubung Pengurus
GenericName[nb]=Kontaktbehandler
GenericName[nds]=Pleeg vun Kontakten
GenericName[ne]=सम्पर्क प्रबन्धक
GenericName[nl]=Contactenbeheer
GenericName[nn]=Kontakthandsamar
GenericName[pa]=ਸੰਪਰਕ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer kontaktów
GenericName[pt]=Gestor de Contactos
GenericName[pt_BR]=Gerenciador de Contatos
GenericName[ro]=Manager contacte
GenericName[ru]=Карточки и контакты
GenericName[se]=Oktavuohtagieđahalli
GenericName[sk]=Správca kontaktov
GenericName[sl]=Upravitelj stikov
GenericName[sr]=Менаџер контаката
GenericName[sr@latin]=Menadžer kontakata
GenericName[sv]=Kontakthanterare
GenericName[ta]=தொடர்பு மேலாளர்
GenericName[tg]=Мудири иртиботӣ
GenericName[th]=เครื่องมือจัดการนามบัตร
GenericName[tr]=İlişki Yöneticisi
GenericName[uk]=Менеджер контактів
GenericName[uz]=Алоқа бошқарувчиси
GenericName[vi]=Bộ quản lý liên lạc
GenericName[wa]=Manaedjeu di calpin d' adresses
GenericName[x-test]=xxContact Managerxx
GenericName[xh]=Umphathi Wokuxhumanisa
GenericName[zh_CN]=联系人管理程序
GenericName[zh_TW]=名片管理程式
Exec=gnomecard
Terminal=false
Icon=gnome-card
Type=Application
