[Desktop Entry]
Name=GNOME Time Tracker
Name[af]=GNOME Tyd-boekhouer
Name[ar]=متتبع وقت جنوم
Name[as]=GNOME Time Tracker
Name[be]=Назіральнік за часам GNOME
Name[be@latin]=GNOME Time Tracker
Name[bg]=GNOME Time Tracker
Name[bn]=গনোম টাইম ট্র্যাকার
Name[bn_IN]=GNOME Time Tracker
Name[ca]=Time Tracker del GNOME
Name[ca@valencia]=Time Tracker del GNOME
Name[cs]=Gnome Time Tracker
Name[csb]=Gnome Czasomierz
Name[cy]=GNOME Time Tracker
Name[da]=GNOME Time Tracker
Name[de]=GNOME-Zeiterfassung
Name[el]=Καταγραφέας χρόνου GNOME
Name[en_GB]=GNOME Time Tracker
Name[eo]=Gnoma labortempomezurilo
Name[es]=GNOME Time Tracker
Name[et]=GNOME Time Tracker
Name[eu]=GNOME denbora kudeatzailea
Name[fa]=ردیاب زمان گنوم
Name[fi]=GNOME Time Tracker
Name[fr]=Gnome TimeTracker
Name[fy]=GNOME Time Tracker
Name[ga]=Lorgaire Ama GNOME
Name[gl]=Administrador horario de GNOME
Name[gu]=જીનોમ ટાઇમ ટ્રેકર
Name[he]=GNOME Time Tracker
Name[hi]=ग्नोम टाइम ट्रेकर
Name[hne]=ग्नोम टाइम ट्रेकर
Name[hr]=GNOME mjerač vremena
Name[hsb]=GNOME Time Tracker
Name[hu]=GNOME időkövető
Name[is]=GNOME Time Tracker
Name[it]=Segnatempo di GNOME
Name[ja]=GNOME Time Tracker
Name[ka]=GNOME Time Tracker
Name[kk]=GNOME уақыт қадағалағышы
Name[km]=ឧបករណ៍​តាមដាន​ពេលវេលា​របស់ GNOME
Name[kn]=ಗ್ನೋಮ್ ಸಮಯಾನುಸಾರಕ
Name[ko]=그놈 시간 추적기
Name[ku]=Temaşekara Demê ya GNOME'ê
Name[lt]=GNOME laiko sekėjas
Name[lv]=GNOME laika plānotājs
Name[mai]=ग्नोम टाइम ट्रेकर
Name[mk]=Следач на време во GNOME
Name[ml]=ഗ്നോം സമയലേഖകന്‍
Name[mr]=GNOME टाइम ट्रेकर
Name[ms]=Penjejak Masa GNOME
Name[nb]=GNOME Time Tracker
Name[nds]=GNOME Time Tracker
Name[ne]=जिनोम टाइम ट्र्याकर
Name[nl]=GNOME Time Tracker
Name[nn]=GNOME Time Tracker
Name[or]=GNOME ସମୟ ଅନୁସରଣକାରୀ
Name[pa]=ਗਨੋਮ ਸਮਾਂ ਜਾਣਕਾਰੀ
Name[pl]=Gnome Osobisty Czasomierz
Name[pt]=Gestor de Tempo do GNOME
Name[pt_BR]=Contador de tempo do GNOME
Name[ro]=GNOME Time Tracker
Name[ru]=GNOME Time Tracker
Name[se]=GNOME Time Tracker
Name[si]=GNOME Time Tracker
Name[sk]=GNOME Time Tracker
Name[sl]=GNOME Time Tracker
Name[sr]=Гномов пратилац времена
Name[sr@latin]=Gnomeov pratilac vremena
Name[sv]=Tidmätare för Gnome
Name[ta]=GNOME நேர நோட்டி
Name[te]=GNOME సమయ పాలకి
Name[tg]=Вақтсанҷи GNOME
Name[th]=GNOME Time Tracker
Name[tr]=GNOME Zaman İzleyici
Name[uk]=Лічильник часу GNOME
Name[vi]=Bộ theo dõi thời gian GNOME
Name[wa]=Shuveu d' tins (time tracker) di Gnome
Name[xh]=GNOME Umfundi Wexesha
Name[x-test]=xxGNOME Time Trackerxx
Name[zh_CN]=GNOME 时间跟踪程序
Name[zh_TW]=個人時程記錄
Exec=gtt
Terminal=false
Icon=gnome-cromagnon
Type=Application
