[Desktop Entry]
Name=GNOME-Cal
Name[ar]=حاسبة جنوم
Name[be]=Каляндар GNOME
Name[bn]=গনোম-ক্যাল
Name[csb]=Gnome kalãdôrz
Name[de]=GNOME Cal
Name[eo]=Gnoma kalendaro
Name[fr]=GnomeCal
Name[gu]=જીનોમ-કેલ
Name[hi]=ग्नोम-केल
Name[hu]=GNOME Cal
Name[kk]=GNOME-күнтізбесі
Name[ko]=그놈-달력
Name[ku]=Bernameya Hesabkirinê ya GNOME'ê
Name[ml]=ഗ്നോം-Cal
Name[mr]=GNOME-केल
Name[ne]=जिनोम-क्याल
Name[pa]=ਗਨੋਮ-ਕੈਲ
Name[pl]=Gnome Kalendarz
Name[ru]=Календарь GNOME
Name[sl]=Gnome-Cal
Name[sr]=Гном‑кал
Name[sr@latin]=Gnome‑Cal
Name[sv]=Gnome-Cal
Name[ta]=GNOME-கால்குலேட்டர்
Name[te]=గ్నొమ్-కెల్
Name[th]=ปฏิทินของ GNOME
Name[x-test]=xxGNOME-Calxx
Name[zh_TW]=GNOME 行事曆
GenericName=Personal Calendar
GenericName[af]=Persoonlike Kalender
GenericName[ar]=تقويم شخصي
GenericName[be]=Персанальны каляндар
GenericName[bg]=Личен календар
GenericName[bn]=ব্যক্তিগত ক্যালেণ্ডার
GenericName[bn_IN]=ব্যক্তিগত বর্ষপঞ্জি
GenericName[br]=Deiziadur deoc'h
GenericName[ca]=Calendari personal
GenericName[cs]=Osobní kalendář
GenericName[csb]=Swój kalãdôrz
GenericName[cy]=Dyddiadur Personol
GenericName[da]=Personlig kalender
GenericName[de]=Persönlicher Kalender
GenericName[el]=Προσωπικό ημερολόγιο
GenericName[eo]=Persona kalendaro
GenericName[es]=Calendario personal
GenericName[et]=Isiklik kalender
GenericName[eu]=Egutegi pertsonala
GenericName[fa]=تقویم شخصی
GenericName[fi]=Henkilökohtainen kalenteri
GenericName[fr]=Agenda personnel
GenericName[fy]=Persoanlike aginda
GenericName[ga]=Féilire Pearsanta
GenericName[gl]=Calendario persoal
GenericName[gu]=અંગત કેલેન્ડર
GenericName[he]=לוח שנה אישי
GenericName[hi]=निजी कैलेन्डर
GenericName[hr]=Osobni kalendar
GenericName[hu]=Naptárkezelő
GenericName[is]=Persónuleg dagbók
GenericName[it]=Calendario personale
GenericName[ja]=個人のカレンダー
GenericName[ka]=პერსონალური კალენდარი
GenericName[kk]=Дербес күнтізбе
GenericName[km]=ប្រតិទិន​ផ្ទាល់​ខ្លួន
GenericName[ko]=개인용 달력
GenericName[ku]=Salnameya takekesî
GenericName[lt]=Asmeninis kalendorius
GenericName[lv]=Personīgais kalendārs
GenericName[mk]=Личен календар
GenericName[ml]=സ്വകാര്യ കലണ്ടര്‍
GenericName[mr]=खाजगी कैलेन्डर
GenericName[ms]=Kalendar Peribadi
GenericName[nb]=Personlig kalender
GenericName[nds]=En persöönlich Kalenner
GenericName[ne]=व्यक्तिगत पात्रो
GenericName[nl]=Persoonlijke agenda
GenericName[nn]=Personleg kalender
GenericName[oc]=Calendièr personal
GenericName[pa]=ਨਿੱਜੀ ਕੈਲੰਡਰ
GenericName[pl]=Osobisty kalendarz
GenericName[pt]=Calendário Pessoal
GenericName[pt_BR]=Calendário Pessoal
GenericName[ro]=Program de calendar personal
GenericName[ru]=Личный календарь
GenericName[se]=Persovnnalaš kaleandar
GenericName[sk]=Osobný kalendár
GenericName[sl]=Osebni koledar
GenericName[sr]=Лични календар
GenericName[sr@latin]=Lični kalendar
GenericName[sv]=Personlig kalender
GenericName[ta]=தனிப்பட்ட நாட்காட்டி
GenericName[te]=వక్తిగత కెలెండర్
GenericName[tg]=Тақвими шахсӣ
GenericName[th]=ปฏิทินส่วนตัว
GenericName[tr]=Kişisel Takvim
GenericName[uk]=Особистий календар
GenericName[uz]=Shaxsiy kalendar
GenericName[uz@cyrillic]=Шахсий календар
GenericName[vi]=Lịch cá nhân
GenericName[wa]=Calindrî da vosse
GenericName[x-test]=xxPersonal Calendarxx
GenericName[xh]=Ikhalenda Yobuqu
GenericName[zh_CN]=个人日程表
GenericName[zh_TW]=個人行事曆
Exec=gnomecal
Terminal=false
Icon=gnomecal
Type=Application
