[Desktop Entry]
Name=GNOME Time Tracker
Name[af]=Gnome Tyd Volger
Name[be]=Назіральнік за часам GNOME
Name[cs]=Gnome Time Tracker
Name[csb]=Gnome Czasomierz
Name[el]=Καταγραφέας χρόνου GNOME
Name[eo]=Gnoma labortempomezurilo
Name[eu]=GNOME denbora kudeatzailea
Name[fa]=ردیاب زمان گنوم
Name[fr]=Gnome TimeTracker
Name[ga]=Lorgaire Ama GNOME
Name[gl]=Administrador Horario de GNOME
Name[hr]=GNOME mjerač vremena
Name[hu]=GNOME időkövető
Name[it]=Segnatempo di GNOME
Name[kk]=GNOME уақыт қадағалағышы
Name[km]=ឧបករណ៍​តាមដាន​ពេលវេលា​របស់ GNOME
Name[ko]=그놈 시간 추적기
Name[lt]=GNOME laiko sekėjas
Name[lv]=GNOME Laika Atsekotājs
Name[mk]=Следач на време во GNOME
Name[ms]=Penjejak Masa GNOME
Name[ne]=जिनोम टाइम ट्र्याकर
Name[pa]=ਗਨੋਮ ਸਮਾਂ ਜਾਣਕਾਰੀ
Name[pl]=Gnome Osobisty Czasomierz
Name[pt]=Gestor de Tempo do GNOME
Name[pt_BR]=Contador de Tempo do GNOME
Name[ru]=Учёт времени GNOME
Name[sl]=Gnome Time Tracker
Name[sr]=Гномов пратилац времена
Name[sr@latin]=Gnomeov pratilac vremena
Name[sv]=Tidmätare för Gnome
Name[ta]=GNOME நேர பின் தொடர்ச்சி
Name[tg]=Вақтсанҷи GNOME
Name[tr]=GNOME Saat İzleyici
Name[uk]=Лічильник часу GNOME
Name[vi]=Bộ theo dõi thời gian GNOME
Name[x-test]=xxGNOME Time Trackerxx
Name[xh]=GNOME Umfundi Wexesha
Name[zh_CN]=GNOME 时间跟踪程序
Name[zh_TW]=個人時程記錄
Exec=gtt
Terminal=false
Icon=gnome-cromagnon
Type=Application
