[Desktop Entry]
Name=GnuCash
Name[af]=GnuCash
Name[ar]=GnuCash
Name[as]=GnuCash
Name[be]=GnuCash
Name[be@latin]=GnuCash
Name[bg]=GnuCash
Name[bn]=গনিউ-ক্যাশ
Name[bn_IN]=GnuCash
Name[br]=GnuCash
Name[ca]=GnuCash
Name[ca@valencia]=GnuCash
Name[cs]=GnuCash
Name[csb]=Gnu - dëtczi
Name[cy]=GnuCash
Name[da]=GnuCash
Name[de]=GnuCash
Name[el]=GnuCash
Name[en_GB]=GnuCash
Name[eo]=GnuCash
Name[es]=GnuCash
Name[et]=GnuCash
Name[eu]=GnuCash
Name[fi]=GnuCash
Name[fr]=GnuCash
Name[fy]=GnuCash
Name[ga]=GnuCash
Name[gl]=GnuCash
Name[gu]=ગ્નુકેશ
Name[he]=GnuCash
Name[hi]=ग्नूकैश
Name[hne]=ग्नूकैस
Name[hr]=GnuCash
Name[hsb]=GnuCash
Name[hu]=GnuCash
Name[is]=GnuCash
Name[it]=GnuCash
Name[ja]=GnuCash
Name[ka]=GnuCash
Name[kk]=GnuCash
Name[km]=GnuCash
Name[kn]=ಗ್ನೂಕ್ಯಾಷ್
Name[ko]=GnuCash
Name[ku]=GnuCash
Name[lt]=GnuCash
Name[lv]=GnuCash
Name[mai]=ग्नूकैश
Name[mk]=GnuCash
Name[ml]=ഗ്നുകാഷ്
Name[mr]=GNUकैश
Name[ms]=GnuCash
Name[nb]=GnuCash
Name[nds]=GnuCash
Name[ne]=जीएनयू क्यास
Name[nl]=GnuCash
Name[nn]=GnuCash
Name[oc]=GnuCash
Name[or]=GnuCash
Name[pa]=ਗਨੂਕੈਸ਼
Name[pl]=Gnu - Pieniądze
Name[pt]=GnuCash
Name[pt_BR]=GnuCash
Name[ro]=GnuCash
Name[ru]=GnuCash
Name[se]=GnuCash
Name[si]=GnuCash
Name[sk]=GnuCash
Name[sl]=GnuCash
Name[sr]=Гну‑кеш
Name[sr@latin]=GnuCash
Name[sv]=GnuCash
Name[ta]=குனுகாசு
Name[te]=గ్నుకేష్
Name[tg]=GnuCash
Name[th]=GnuCash
Name[tr]=GnuCash
Name[uk]=GnuCash
Name[uz]=GnuCash
Name[uz@cyrillic]=GnuCash
Name[vi]=GnuCash
Name[wa]=GnuCash
Name[xh]=GnuCash
Name[x-test]=xxGnuCashxx
Name[zh_CN]=GnuCash
Name[zh_TW]=GnuCash
Exec=gnucash
Type=Application
X-DocPath=
GenericName=Finance Manager
GenericName[af]=Finansiële Bestuurder
GenericName[ar]=مدير المالية
GenericName[as]=Finance Manager
GenericName[be]=Кіраўнік фінансаў
GenericName[be@latin]=Kiraŭnik dla hrošaj
GenericName[bg]=Финансов мениджър
GenericName[bn]=ফাইনান্স ম্যানেজার
GenericName[br]=Merour arc'hant
GenericName[ca]=Gestor de finances
GenericName[ca@valencia]=Gestor de finances
GenericName[cs]=Správce financí
GenericName[csb]= Finansowi menadżera
GenericName[cy]=Rheolydd Cyllid
GenericName[da]=Finance Manager
GenericName[de]=Finanzverwaltung
GenericName[el]=Διαχειριστής οικονομικών
GenericName[en_GB]=Finance Manager
GenericName[eo]=Financadministrilo
GenericName[es]=Gestor de finanzas
GenericName[et]=Isiklike finantside haldamine
GenericName[eu]=Finantzia kudeatzailea
GenericName[fa]=مدیر مالی
GenericName[fi]=Rahanhallinta
GenericName[fr]=Gestionnaire de finances
GenericName[fy]=Finansjeel behear
GenericName[ga]=Bainisteoir Airgeadais
GenericName[gl]=Xestor de finanzas
GenericName[gu]=નાણાં વ્યવસ્થાપક
GenericName[he]=מנהל כספים
GenericName[hi]=वित्तीय प्रबंधक
GenericName[hne]=वित्तीय प्रबंधक
GenericName[hr]=Rukovoditelj financija
GenericName[hsb]=Financy
GenericName[hu]=Pénzügyi menedzser
GenericName[is]=Bókhaldið
GenericName[it]=Gestione finanze
GenericName[ja]=ファイナンスマネージャ
GenericName[ka]=Finance Manager
GenericName[kk]=Қаржы менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ហិរញ្ញវត្ថុ
GenericName[kn]=ಹಣಕಾಸು ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=재정 관리자
GenericName[ku]=Bernameya Hesabkirinê
GenericName[lt]=Finansų tvarkyklė
GenericName[lv]=Finanšu pārvaldnieks
GenericName[mai]=वित्तीय प्रबंधक
GenericName[mk]=Финансиски менаџер
GenericName[ml]=ധനകാര്യ നടത്തിപ്പുകാരന്‍
GenericName[mr]=वित्तीय प्रबंधक
GenericName[ms]=Pengurus Kewangan
GenericName[nb]=Finansprogram
GenericName[nds]=Geldsaken plegen
GenericName[ne]=वित्त प्रबन्धक
GenericName[nl]=Financieel beheer
GenericName[nn]=Finanshandsamar
GenericName[or]=ଅର୍ଥ ବ୍ୟବସ୍ଥା ପରିଚାଳକ
GenericName[pa]=ਵਿੱਤ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer finansowy
GenericName[pt]=Gestor de Finanças
GenericName[pt_BR]=Gerenciador de finanças
GenericName[ro]=Planificator de finanțe
GenericName[ru]=Учёт финансов
GenericName[se]=Finánsagieđahalli
GenericName[si]=මූල්‍ය කළමණාකරු
GenericName[sk]=Správca financií
GenericName[sl]=Finančni upravitelj
GenericName[sr]=Менаџер финансија
GenericName[sr@latin]=Menadžer finansija
GenericName[sv]=Budgetprogram
GenericName[ta]=நிதி மேலாளர்
GenericName[te]=ఆర్థిక నిర్వాహకి
GenericName[tg]=Сармуҳосиб
GenericName[th]=เครื่องมือจัดการการเงิน
GenericName[tr]=Muhasebe Yazılımı
GenericName[uk]=Менеджер фінансів
GenericName[uz]=Moliya boshqaruvchisi
GenericName[uz@cyrillic]=Молия бошқарувчиси
GenericName[vi]=Bộ quản lý tài chính
GenericName[wa]=Manaedjeu des cwårs
GenericName[xh]=Umphathi Wezimali
GenericName[x-test]=xxFinance Managerxx
GenericName[zh_CN]=理财工具
GenericName[zh_TW]=財務管理程式
Terminal=false
Icon=gnucash
X-KDE-StartupNotify=false
