[Desktop Entry]
Encoding=UTF-8
Name=GnuCash
Name[csb]=Gnu - dëtczi
Name[ne]=जीएनयू क्यास
Name[pa]=ਗਨੂਕੈਸ਼
Name[pl]=Gnu - Pieniądze
Name[ta]=gபணம்
Name[tg]=Пули Gnu
Name[x-test]=xxGnuCashxx
Exec=gnucash
Type=Application
DocPath=
GenericName=Finance Manager
GenericName[af]=Finansiële Bestuurder
GenericName[be]=Кіраўнік фінансаў
GenericName[bg]=Финансов мениджър
GenericName[br]=Merour arc'hant
GenericName[ca]=Gestor de finances
GenericName[cs]=Správce financí
GenericName[csb]= Finansowi menadżer
GenericName[cy]=Rheolydd Cyllid
GenericName[de]=Finanzverwaltung
GenericName[el]=Διαχειριστής οικονομικών
GenericName[eo]=Financadministrilo
GenericName[es]=Gestor de finanzas
GenericName[et]=Isiklike finantside haldamine
GenericName[eu]=Finantzia kudeatzailea
GenericName[fa]=مدیر مالی
GenericName[fi]=Rahanhallinta
GenericName[fr]=Gestionnaire de finances
GenericName[fy]=Finansjeel behear
GenericName[ga]=Bainisteoir Airgeadais
GenericName[gl]=Xestor de Finanzas
GenericName[he]=מנהל כספים
GenericName[hr]=Rukovoditelj financija
GenericName[hu]=Pénzügyi menedzser
GenericName[is]=Bókhaldið
GenericName[it]=Gestione finanze
GenericName[ja]=ファイナンスマネージャ
GenericName[kk]=Қаржы менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ហិរញ្ញវត្ថុ
GenericName[lt]=Finansų tvarkyklė
GenericName[lv]=Finanšu Menedžeris
GenericName[mk]=Финансиски менаџер
GenericName[ms]=Pengurus Kewangan
GenericName[nb]=Finansprogram
GenericName[nds]=Geldsaken plegen
GenericName[ne]=वित्त व्यस्थापक
GenericName[nl]=Financieel beheer
GenericName[nn]=Finanshandsamar
GenericName[pa]=ਵਿੱਤ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer finansowy
GenericName[pt]=Gestor de Finanças
GenericName[pt_BR]=Gerenciador de Finanças
GenericName[ro]=Planificator de finanţe
GenericName[ru]=Менеджер финансов
GenericName[se]=Finánsagieđahalli
GenericName[sl]=Finančni upravitelj
GenericName[sr]=Менаџер финансија
GenericName[sr@latin]=Menadžer finansija
GenericName[sv]=Budgetprogram
GenericName[ta]=நிதி மேலாளர்
GenericName[tg]=Мудири Молия
GenericName[th]=เครื่องมือจัดการการเงิน
GenericName[tr]=Muhasebe Yazılımı
GenericName[uk]=Менеджер фінансів
GenericName[uz]=Молия бошқарувчиси
GenericName[x-test]=xxFinance Managerxx
GenericName[xh]=Umphathi Wezimali
GenericName[zh_TW]=財務管理程式
Terminal=false
Icon=gnucash
X-KDE-StartupNotify=false
