[Desktop Entry]
Name=Gnumeric
Name[af]=Gnumeric
Name[ar]=Gnumeric
Name[as]=Gnumeric
Name[be]=Gnumeric
Name[be@latin]=Gnumeric
Name[bg]=Gnumeric
Name[bn]=গনিউমেরিক
Name[bn_IN]=Gnumeric
Name[br]=Gnumeric
Name[ca]=Gnumeric
Name[ca@valencia]=Gnumeric
Name[cs]=Gnumeric
Name[csb]=Gnumeric
Name[cy]=Gnumeric
Name[da]=Gnumeric
Name[de]=Gnumeric
Name[el]=Gnumeric
Name[en_GB]=Gnumeric
Name[eo]=Gnumeric
Name[es]=Gnumeric
Name[et]=Gnumeric
Name[eu]=Gnumeric
Name[fi]=Gnumeric
Name[fr]=Gnumeric
Name[fy]=Gnumeric
Name[ga]=Gnumeric
Name[gl]=Gnumeric
Name[gu]=જીન્યુમેરિક
Name[he]=Gnumeric
Name[hi]=जीन्यूमेरिक
Name[hne]=जीन्यूमेरिक
Name[hr]=Gnumeric
Name[hsb]=Gnumeric
Name[hu]=Gnumeric
Name[is]=Gnumeric
Name[it]=Gnumeric
Name[ja]=Gnumeric
Name[ka]=Gnumeric
Name[kk]=Gnumeric
Name[km]=Gnumeric
Name[kn]=ಜಿನ್ಯೂಮರಿಕ್
Name[ko]=Gnumeric
Name[ku]=Gnumeric
Name[lt]=Gnumeric
Name[lv]=Gnumeric
Name[mai]=जीन्यूमेरिक
Name[mk]=Gnumeric
Name[ml]=ഗ്നുമെറിക്
Name[mr]=जीन्यूमेरिक
Name[ms]=Gnumeric
Name[nb]=Gnumeric
Name[nds]=Gnumeric
Name[ne]=जिन्युमेरिक
Name[nl]=Gnumeric
Name[nn]=Gnumeric
Name[oc]=Gnumeric
Name[or]=Gnumeric
Name[pa]=ਜੀ-ਸਾਰਣੀਕਾਰ
Name[pl]=Gnumeric
Name[pt]=Gnumeric
Name[pt_BR]=Gnumeric
Name[ro]=Gnumeric
Name[ru]=Gnumeric
Name[se]=Gnumeric
Name[si]=Gnumeric
Name[sk]=Gnumeric
Name[sl]=Gnumeric
Name[sr]=Гнумерик
Name[sr@latin]=Gnumeric
Name[sv]=Gnumeric
Name[ta]=குநூமரிக்
Name[te]=జిన్యుమెరిక్
Name[tg]=Gnumeric
Name[th]=Gnumeric
Name[tr]=Gnumeric
Name[uk]=Gnumeric
Name[uz]=Gnumeric
Name[uz@cyrillic]=Gnumeric
Name[vi]=Gnumeric
Name[wa]=Gnumeric
Name[xh]=Gnumeric
Name[x-test]=xxGnumericxx
Name[zh_CN]=Gnumeric
Name[zh_TW]=Gnumeric
GenericName=Spread Sheet
GenericName[af]=Sigblad
GenericName[ar]=ورقة حسابات
GenericName[as]=Spread Sheet
GenericName[be]=Электронныя табліцы
GenericName[be@latin]=Prahrama dla stvareńnia raźlikovych arkušoŭ
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেড-শিট
GenericName[bn_IN]=স্প্রেড-শিট
GenericName[br]=Loger
GenericName[ca]=Full de càlcul
GenericName[ca@valencia]=Full de càlcul
GenericName[cs]=Tabulkový procesor
GenericName[csb]=Kalkùlacëjny lëst
GenericName[cy]=Taenlen
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[el]=Λογιστικό φύλλο
GenericName[en_GB]=Spread Sheet
GenericName[eo]=Tabelkalkulilo
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[eu]=Kalkulu orria
GenericName[fa]=صفحه گسترده
GenericName[fi]=Taulukkolaskentaohjelma
GenericName[fr]=Tableur
GenericName[fy]=Rekkenblêd
GenericName[ga]=Scarbhileog
GenericName[gl]=Folla de cálculo
GenericName[gu]=સ્પ્રેડ શીટ
GenericName[he]=גיליון אלקטרוני
GenericName[hi]=स्प्रेड शीट
GenericName[hne]=स्प्रेड सीट
GenericName[hr]=Proračunska tablica
GenericName[hsb]=Tabelowa kalkulacija
GenericName[hu]=Táblázatkezelő
GenericName[is]=Töflureiknir
GenericName[it]=Foglio elettronico
GenericName[ja]=表計算
GenericName[ka]=ელექტრონული ცხრილი
GenericName[kk]=Электрондық кесте
GenericName[km]=សៀវភៅ​បញ្ជី
GenericName[kn]=ಹಾಸು ಹಾಳೆ (ಸ್ಪ್ರೆಡ್ ಶೀಟ್)
GenericName[ko]=스프레드시트
GenericName[ku]=Belavbûna Pelgî
GenericName[lt]=Elektroninė lentelė
GenericName[lv]=Izklājlapas
GenericName[mai]=स्प्रेड शीट
GenericName[mk]=Програма за табеларни пресметки
GenericName[ml]=സ്പ്രെഡ് ഷീറ്റ്
GenericName[mr]=स्प्रेड शीट
GenericName[ms]=Lembaran Hamparan
GenericName[nb]=Regneark
GenericName[nds]=Tabellreken
GenericName[ne]=स्प्रेडसिट
GenericName[nl]=Rekenblad
GenericName[nn]=Rekneark
GenericName[or]=ସ୍ପ୍ରେଡ଼ ସୀଟ
GenericName[pa]=ਸਪਰੈੱਡਸ਼ੀਟ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de cálculo
GenericName[pt_BR]=Planilha de cálculo
GenericName[ro]=Program de calcul tabelar
GenericName[ru]=Электронная таблица
GenericName[se]=Rehketárka
GenericName[si]=පැතුරුම්පත්
GenericName[sk]=Tabuľkový procesor
GenericName[sl]=Preglednica
GenericName[sr]=Табеларни прорачуни
GenericName[sr@latin]=Tabelarni proračuni
GenericName[sv]=Kalkylprogram
GenericName[ta]=விரிதாள்
GenericName[te]=స్ప్రెడ్ షీట్
GenericName[tg]=Ҷадвалҳои электронӣ
GenericName[th]=กระดาษคำนวณ
GenericName[tr]=Hesap Çizelgesi
GenericName[uk]=Електронна таблиця
GenericName[uz]=Elektron jadval
GenericName[uz@cyrillic]=Электрон жадвал
GenericName[vi]=Bộ tính bảng
GenericName[wa]=Tåvleu
GenericName[xh]=Spread Sheet
GenericName[x-test]=xxSpread Sheetxx
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
Exec=gnumeric
Terminal=false
Icon=gnumeric
Type=Application
