[Desktop Entry]
Name=Guppi
Name[bn]=গাপ্পি
Name[gu]=ગુપ્પી
Name[hi]=गुप्पी
Name[hne]=गुप्पी
Name[kn]=ಗುಪ್ಪಿ
Name[mai]=गुप्पी
Name[ml]=ഗുപ്പി
Name[mr]=गुप्पी
Name[ne]=गुप्पी
Name[pa]=ਜੂਪੀ
Name[sr]=Гапи
Name[ta]=குப்பி
Name[te]=గప్పి
Name[x-test]=xxGuppixx
GenericName=Program for Diagrams
GenericName[af]=Program vir Diagramme
GenericName[ar]=برنامج تخطيط
GenericName[as]=Diagrams ৰ কাৰণে কাৰ্য্যক্ৰম
GenericName[be]=Праграма для працы з дыяграмамі
GenericName[be@latin]=Prahrama dla stvareńnia dyjahramaŭ
GenericName[bg]=Диаграми
GenericName[bn]=ডায়াগ্রাম আঁকার প্রোগ্রাম
GenericName[bn_IN]=ডায়গ্রাম নির্মাণের প্রোগ্রাম
GenericName[br]=Program evit skeudennoù
GenericName[ca]=Programa per a fer diagrames
GenericName[cs]=Program pro diagramy
GenericName[csb]=Programa do diagramów
GenericName[cy]=Rhaglen Diagramau
GenericName[da]=Program for diagrammer
GenericName[de]=Programm für Diagramme
GenericName[el]=Πρόγραμμα για διαγράμματα
GenericName[eo]=Programo por fari diagramojn
GenericName[es]=Generador de diagramas
GenericName[et]=Skeemide joonistamine
GenericName[eu]=Diagrametarako programa
GenericName[fa]=برنامه برای نمودارها
GenericName[fi]=Kaavioidenpiirto-ohjelma
GenericName[fr]=Logiciel de conception de diagrammes
GenericName[fy]=Programma foar diagrammen
GenericName[ga]=Clár Deartha Léaráidí
GenericName[gl]=Programa de diagramas
GenericName[gu]=ડાયાગ્રામ માટેનો કાર્યક્રમ
GenericName[he]=תוכנית תרשימים
GenericName[hi]=डायग्राम के लिए प्रोग्राम
GenericName[hne]=डायग्राम बर प्रोग्राम
GenericName[hr]=Program za crtanje dijagrama
GenericName[hsb]=Program za diagramy
GenericName[hu]=Diagramkészítő
GenericName[is]=Teikniforrit fyrir skipurit og ferli
GenericName[it]=Programma per i diagrammi
GenericName[ja]=ダイアグラム作成プログラム
GenericName[ka]=დიაგრამებთან სამუშაო პროგრამა
GenericName[kk]=Диаграмма құру бағдарламасы
GenericName[km]=កម្មវិធី​សម្រាប់​ដ្យាក្រាម
GenericName[kn]=ರೇಖಾಚಿತ್ರಗಳನ್ನು ರಚಿಸಲು ಒಂದು ಕ್ರಮವಿಧಿ (ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=다이어그램 프로그램
GenericName[ku]=Bernameya Diyagraman
GenericName[lt]=Programos diagramoms
GenericName[lv]=Programma diagrammām
GenericName[mai]=डायग्राम क' लेल प्रोग्राम
GenericName[mk]=Програма за дијаграми
GenericName[ml]=ഡയഗ്രാമുകള്‍ക്കുള്ള പ്രോഗ്രാം
GenericName[mr]=डायग्राम करीता प्रोग्राम
GenericName[ms]=Program untuk Diagram
GenericName[nb]=Diagramprogram
GenericName[nds]=Programm för Diagrammen
GenericName[ne]=चित्रका लागि कार्यक्रम
GenericName[nl]=Programma voor diagrammen
GenericName[nn]=Diagramprogram
GenericName[or]=ନକ୍ସାଗୁଡ଼ିକ ପାଇଁ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਸ਼ਕਲਾਂ (ਡਾਈਗਰਾਮ) ਲਈ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do tworzenia diagramów
GenericName[pt]=Programa de Diagramas
GenericName[pt_BR]=Programa para diagramas
GenericName[ro]=Program de desenat diagrame
GenericName[ru]=Работа с диаграммами
GenericName[se]=Diagrámmaprográmma
GenericName[sk]=Diagramy
GenericName[sl]=Program za diagrame
GenericName[sr]=Програм за дијаграме
GenericName[sr@latin]=Program za dijagrame
GenericName[sv]=Program för diagram
GenericName[ta]=வரைபடங்களுக்கான நிரல்
GenericName[te]=చిత్రముల కొరకు కార్యక్రమం
GenericName[tg]=Барномаҳои диаграмма
GenericName[th]=โปรแกรมสำหรับการทำไดอะแกรม
GenericName[tr]=Şema Yazılımı
GenericName[uk]=Програма створення діаграм
GenericName[uz]=Daigrammalar bilan ishlash uchun dastur
GenericName[uz@cyrillic]=Даиграммалар билан ишлаш учун дастур
GenericName[vi]=Chương trình tạo biểu đồ
GenericName[wa]=Programe di diyagrames
GenericName[xh]=Inkqubo Yemizobo
GenericName[x-test]=xxProgram for Diagramsxx
GenericName[zh_CN]=图表绘制程序
GenericName[zh_TW]=圖表製作程式
Exec=guppi
Terminal=false
Icon=Guppi
Type=Application
