[Desktop Entry]
Name=Guppi
Name[af]=Guppi
Name[ar]=Guppi
Name[as]=Guppi
Name[be]=Guppi
Name[be@latin]=Guppi
Name[bg]=Guppi
Name[bn]=গাপ্পি
Name[bn_IN]=Guppi
Name[br]=Guppi
Name[ca]=Guppi
Name[ca@valencia]=Guppi
Name[cs]=Guppi
Name[csb]=Guppi
Name[cy]=Guppi
Name[da]=Guppi
Name[de]=Guppi
Name[el]=Guppi
Name[en_GB]=Guppi
Name[eo]=Guppi
Name[es]=Guppi
Name[et]=Guppi
Name[eu]=Guppi
Name[fi]=Guppi
Name[fr]=Guppi
Name[fy]=Guppi
Name[ga]=Guppi
Name[gl]=Guppi
Name[gu]=ગુપ્પી
Name[he]=Guppi
Name[hi]=गुप्पी
Name[hne]=गुप्पी
Name[hr]=Guppi
Name[hsb]=Guppi
Name[hu]=Guppi
Name[is]=Guppi
Name[it]=Guppi
Name[ja]=Guppi
Name[ka]=Guppi
Name[kk]=Guppi
Name[km]=Guppi
Name[kn]=ಗುಪ್ಪಿ
Name[ko]=Guppi
Name[ku]=Guppi
Name[lt]=Guppi
Name[lv]=Guppi
Name[mai]=गुप्पी
Name[mk]=Guppi
Name[ml]=ഗുപ്പി
Name[mr]=गुप्पी
Name[ms]=Guppi
Name[nb]=Guppi
Name[nds]=Guppi
Name[ne]=गुप्पी
Name[nl]=Guppi
Name[nn]=Guppi
Name[oc]=Guppi
Name[or]=Guppi
Name[pa]=ਜੂਪੀ
Name[pl]=Guppi
Name[pt]=Guppi
Name[pt_BR]=Guppi
Name[ro]=Guppi
Name[ru]=Guppi
Name[se]=Guppi
Name[si]=Guppi
Name[sk]=Guppi
Name[sl]=Guppi
Name[sr]=Гапи
Name[sr@latin]=Guppi
Name[sv]=Guppi
Name[ta]=குப்பி
Name[te]=గప్పి
Name[tg]=Guppi
Name[th]=Guppi
Name[tr]=Guppi
Name[uk]=Guppi
Name[uz]=Guppi
Name[uz@cyrillic]=Guppi
Name[vi]=Guppi
Name[wa]=Guppi
Name[xh]=Guppi
Name[x-test]=xxGuppixx
Name[zh_CN]=Guppi
Name[zh_TW]=Guppi
GenericName=Program for Diagrams
GenericName[af]=Program vir Diagramme
GenericName[ar]=برنامج تخطيط
GenericName[as]=Diagrams ৰ কাৰণে কাৰ্য্যক্ৰম
GenericName[be]=Праграма для працы з дыяграмамі
GenericName[be@latin]=Prahrama dla stvareńnia dyjahramaŭ
GenericName[bg]=Диаграми
GenericName[bn]=ডায়াগ্রাম আঁকার প্রোগ্রাম
GenericName[bn_IN]=ডায়গ্রাম নির্মাণের প্রোগ্রাম
GenericName[br]=Program evit skeudennoù
GenericName[ca]=Programa per a fer diagrames
GenericName[ca@valencia]=Programa per a fer diagrames
GenericName[cs]=Program pro diagramy
GenericName[csb]=Programa do diagramów
GenericName[cy]=Rhaglen Diagramau
GenericName[da]=Program for diagrammer
GenericName[de]=Programm für Diagramme
GenericName[el]=Πρόγραμμα για διαγράμματα
GenericName[en_GB]=Program for Diagrams
GenericName[eo]=Programo por fari diagramojn
GenericName[es]=Generador de diagramas
GenericName[et]=Skeemide joonistamine
GenericName[eu]=Diagrametarako programa
GenericName[fa]=برنامه برای نمودارها
GenericName[fi]=Kaavioidenpiirto-ohjelma
GenericName[fr]=Logiciel de conception de diagrammes
GenericName[fy]=Programma foar diagrammen
GenericName[ga]=Clár Deartha Léaráidí
GenericName[gl]=Programa de diagramas
GenericName[gu]=ડાયાગ્રામ માટેનો કાર્યક્રમ
GenericName[he]=תוכנית תרשימים
GenericName[hi]=डायग्राम के लिए प्रोग्राम
GenericName[hne]=डायग्राम बर प्रोग्राम
GenericName[hr]=Program za crtanje dijagrama
GenericName[hsb]=Program za diagramy
GenericName[hu]=Diagramkészítő
GenericName[is]=Teikniforrit fyrir skipurit og ferli
GenericName[it]=Programma per i diagrammi
GenericName[ja]=ダイアグラム作成プログラム
GenericName[ka]=დიაგრამებთან სამუშაო პროგრამა
GenericName[kk]=Диаграмма құру бағдарламасы
GenericName[km]=កម្មវិធី​សម្រាប់​ដ្យាក្រាម
GenericName[kn]=ರೇಖಾಚಿತ್ರಗಳನ್ನು ರಚಿಸಲು ಒಂದು ಕ್ರಮವಿಧಿ (ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=다이어그램 프로그램
GenericName[ku]=Bernameya Diyagraman
GenericName[lt]=Programos diagramoms
GenericName[lv]=Programma diagrammām
GenericName[mai]=डायग्राम क' लेल प्रोग्राम
GenericName[mk]=Програма за дијаграми
GenericName[ml]=ഡയഗ്രാമുകള്‍ക്കുള്ള പ്രോഗ്രാം
GenericName[mr]=डायग्राम करीता प्रोग्राम
GenericName[ms]=Program untuk Diagram
GenericName[nb]=Diagramprogram
GenericName[nds]=Programm för Diagrammen
GenericName[ne]=चित्रका लागि कार्यक्रम
GenericName[nl]=Programma voor diagrammen
GenericName[nn]=Diagramprogram
GenericName[or]=ନକ୍ସାଗୁଡ଼ିକ ପାଇଁ ପ୍ରଗ୍ରାମ
GenericName[pa]=ਸ਼ਕਲਾਂ (ਡਾਈਗਰਾਮ) ਲਈ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do tworzenia diagramów
GenericName[pt]=Programa de Diagramas
GenericName[pt_BR]=Programa para diagramas
GenericName[ro]=Program de desenat diagrame
GenericName[ru]=Работа с диаграммами
GenericName[se]=Diagrámmaprográmma
GenericName[si]=රූප සටහන් සඳහා වැඩසටහන
GenericName[sk]=Diagramy
GenericName[sl]=Program za diagrame
GenericName[sr]=Програм за дијаграме
GenericName[sr@latin]=Program za dijagrame
GenericName[sv]=Program för diagram
GenericName[ta]=வரைபடங்களுக்கான நிரல்
GenericName[te]=చిత్రముల కొరకు కార్యక్రమం
GenericName[tg]=Барномаҳои диаграмма
GenericName[th]=โปรแกรมสำหรับการทำไดอะแกรม
GenericName[tr]=Şema Yazılımı
GenericName[uk]=Програма створення діаграм
GenericName[uz]=Daigrammalar bilan ishlash uchun dastur
GenericName[uz@cyrillic]=Даиграммалар билан ишлаш учун дастур
GenericName[vi]=Chương trình tạo biểu đồ
GenericName[wa]=Programe di diyagrames
GenericName[xh]=Inkqubo Yemizobo
GenericName[x-test]=xxProgram for Diagramsxx
GenericName[zh_CN]=图表绘制程序
GenericName[zh_TW]=圖表製作程式
Exec=guppi
Terminal=false
Icon=Guppi
Type=Application
