[Desktop Entry]
Name=Ical
Name[af]=Ical
Name[ar]=Ical
Name[as]=Ical
Name[be]=Ical
Name[be@latin]=Ical
Name[bg]=Ical
Name[bn]=আই-ক্যাল
Name[bn_IN]=Ical
Name[br]=Ical
Name[ca]=Ical
Name[ca@valencia]=Ical
Name[cs]=Ical
Name[csb]=Ical
Name[cy]=Ical
Name[da]=Ical
Name[de]=Ical
Name[el]=Ical
Name[en_GB]=Ical
Name[eo]=Ical
Name[es]=Ical
Name[et]=Ical
Name[eu]=Ical
Name[fi]=Ical
Name[fr]=iCal
Name[fy]=Ical
Name[ga]=Ical
Name[gl]=Ical
Name[gu]=Ical
Name[he]=Ical
Name[hi]=आईकेल
Name[hne]=आईकेल
Name[hr]=Ical
Name[hsb]=Ical
Name[hu]=Ical
Name[is]=Ical
Name[it]=Ical
Name[ja]=Ical
Name[ka]=Ical
Name[kk]=Ical
Name[km]=Ical
Name[kn]=ಎಲ್ ಕ್ಯಾಲ್
Name[ko]=Ical
Name[ku]=Ical
Name[lt]=Ical
Name[lv]=Ical
Name[mai]=आईकेल
Name[mk]=Ical
Name[ml]=ഐകാല്‍
Name[mr]=Ical
Name[ms]=Ical
Name[nb]=Ical
Name[nds]=Ical
Name[ne]=आई क्याल
Name[nl]=Ical
Name[nn]=Ical
Name[oc]=Ical
Name[or]=Ical
Name[pa]=Ical
Name[pl]=Ical
Name[pt]=Ical
Name[pt_BR]=Ical
Name[ro]=Ical
Name[ru]=Ical
Name[se]=Ical
Name[si]=Ical
Name[sk]=Ical
Name[sl]=Ical
Name[sr]=Икал
Name[sr@latin]=Ical
Name[sv]=Ical
Name[ta]=Ical
Name[te]=ఐకెల్
Name[tg]=Ical
Name[th]=Ical
Name[tr]=Ical
Name[uk]=Ical
Name[uz]=Ical
Name[uz@cyrillic]=Ical
Name[vi]=Ical
Name[wa]=Ical
Name[xh]=Ical
Name[x-test]=xxIcalxx
Name[zh_CN]=Ical
Name[zh_TW]=Ical
GenericName=Calendar Program
GenericName[af]=Kalenderprogram
GenericName[ar]=برنامج تقويم
GenericName[as]=বৰ্ষপঞ্জিকাৰ কাৰ্য্যক্ৰম
GenericName[be]=Каляндар
GenericName[be@latin]=Prahrama-kalandar
GenericName[bg]=Календар
GenericName[bn]=ক্যালেণ্ডার প্রোগ্রাম
GenericName[bn_IN]=বর্ষপঞ্জির প্রোগ্রাম
GenericName[br]=Goulev deiziadur
GenericName[ca]=Programa de calendari
GenericName[ca@valencia]=Programa de calendari
GenericName[cs]=Kalendářový program
GenericName[csb]=Kalãdôrz
GenericName[cy]=Rhaglen Dyddiadur
GenericName[da]=Kalenderprogram
GenericName[de]=Kalenderprogramm
GenericName[el]=Πρόγραμμα ημερολογίου
GenericName[en_GB]=Calendar Program
GenericName[eo]=Kalendara programo
GenericName[es]=Programa de calendarios
GenericName[et]=Kalender
GenericName[eu]=Egutegi programa
GenericName[fa]=برنامۀ تقویم
GenericName[fi]=Kalenteriohjelma
GenericName[fr]=Agenda
GenericName[fy]=Agindaprogramma
GenericName[ga]=Clár féilire
GenericName[gl]=Programa de calendario
GenericName[gu]=કેલેન્ડર કાર્યક્રમ
GenericName[he]=תוכנית לוח שנה
GenericName[hi]=कैलेन्डर प्रोग्राम
GenericName[hne]=कलेन्डर प्रोग्राम
GenericName[hr]=Kalendar
GenericName[hsb]=Protyka
GenericName[hu]=Naptárkezelő
GenericName[is]=Viðbót við dagbók (Calendar)
GenericName[it]=Programma calendario
GenericName[ja]=カレンダープログラム
GenericName[ka]=კალენდარი
GenericName[kk]=Күнтізбе
GenericName[km]=កម្មវិធី​ប្រតិទិន
GenericName[kn]=ದಿನದರ್ಶಿ ಕ್ರಮವಿಧಿ (ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=달력 프로그램
GenericName[ku]=Bernameya Salnameyê
GenericName[lt]=Kalendoriaus programa
GenericName[lv]=Kalendāra programma
GenericName[mai]=पञ्चाङ्ग प्रोग्राम
GenericName[mk]=Програма за календар
GenericName[ml]=കലണ്ടര്‍ പ്രയോഗം
GenericName[mr]=कैलेन्डर प्रोग्राम
GenericName[ms]=Program Kalendar
GenericName[nb]=Kalenderprogram
GenericName[nds]=Kalenner
GenericName[ne]=पात्रो कार्यक्रम
GenericName[nl]=Agendaprogramma
GenericName[nn]=Kalenderprogram
GenericName[or]=କ୍ୟାଲେଣ୍ଡର ପ୍ରଗ୍ରାମ
GenericName[pa]=ਕੈਲੰਡਰ ਪਰੋਗਰਾਮ
GenericName[pl]=Kalendarz
GenericName[pt]=Programa de Calendário
GenericName[pt_BR]=Programa de calendário
GenericName[ro]=Program de calendar
GenericName[ru]=Календарь
GenericName[se]=Kaleandarprográmma
GenericName[si]=දිනදර්ශන වැඩසටහන
GenericName[sk]=Kalendár
GenericName[sl]=Koledarski program
GenericName[sr]=Програм за календар
GenericName[sr@latin]=Program za kalendar
GenericName[sv]=Kalenderprogram
GenericName[ta]=நாட்காட்டி நிரல்
GenericName[te]=కెలండర్ కార్యక్రమం
GenericName[tg]=Тақвим
GenericName[th]=โปรแกรมปฏิทิน
GenericName[tr]=Takvim Programı
GenericName[uk]=Програма календаря
GenericName[uz]=Kalendar dasturi
GenericName[uz@cyrillic]=Календар дастури
GenericName[vi]=Trình lịch
GenericName[wa]=Programe calindrî
GenericName[xh]=Inkqubo ye Calendar
GenericName[x-test]=xxCalendar Programxx
GenericName[zh_CN]=日程管理程序
GenericName[zh_TW]=行事曆程式
Exec=ical
Terminal=false
Icon=ical
Type=Application
