[Desktop Entry]
Name=Ical
Name[bn]=আই-ক্যাল
Name[fr]=iCal
Name[hi]=आईकेल
Name[ne]=आई क्याल
Name[sr]=Икал
Name[x-test]=xxIcalxx
GenericName=Calendar Program
GenericName[af]=Kalender Program
GenericName[ar]=برنامج تقويم
GenericName[be]=Каляндар
GenericName[bg]=Календар
GenericName[bn]=ক্যালেণ্ডার প্রোগ্রাম
GenericName[br]=Goulev deiziadur
GenericName[ca]=Programa de calendari
GenericName[cs]=Kalendářový program
GenericName[csb]=Kalãdôrz
GenericName[cy]=Rhaglen Dyddiadur
GenericName[da]=Kalenderprogram
GenericName[de]=Kalenderprogramm
GenericName[el]=Πρόγραμμα ημερολογίου
GenericName[eo]=Kalendara programo
GenericName[es]=Programa de calendarios
GenericName[et]=Kalender
GenericName[eu]=Egutegi programa
GenericName[fa]=برنامۀ تقویم
GenericName[fi]=Kalenteriohjelma
GenericName[fr]=Agenda
GenericName[fy]=Agindaprogramma
GenericName[ga]=Clár féilire
GenericName[gl]=Programa de calendario
GenericName[gu]=કેલેન્ડર કાર્યક્રમ
GenericName[he]=תוכנית לוח שנה
GenericName[hi]=कैलेन्डर प्रोग्राम
GenericName[hr]=Kalendar
GenericName[hu]=Naptárkezelő
GenericName[is]=Viðbót við dagbók (Calendar)
GenericName[it]=Programma calendario
GenericName[ja]=カレンダープログラム
GenericName[ka]=კალენდარი
GenericName[kk]=Күнтізбе
GenericName[km]=កម្មវិធី​ប្រតិទិន
GenericName[ko]=달력 프로그램
GenericName[ku]=Bernameya Salnameyê
GenericName[lt]=Kalendoriaus programa
GenericName[lv]=Kalendāra programma
GenericName[mk]=Програма за календар
GenericName[ms]=Program Kalendar
GenericName[nb]=Kalenderprogram
GenericName[nds]=Kalenner
GenericName[ne]=पात्रो कार्यक्रम
GenericName[nl]=Agendaprogramma
GenericName[nn]=Kalenderprogram
GenericName[pa]=ਕੈਲੰਡਰ ਪਰੋਗਰਾਮ
GenericName[pl]=Kalendarz
GenericName[pt]=Programa de Calendário
GenericName[pt_BR]=Programa de Calendário
GenericName[ro]=Program de calendar
GenericName[ru]=Календарь
GenericName[se]=Kaleandarprográmma
GenericName[sk]=Kalendár
GenericName[sl]=Koledarski program
GenericName[sr]=Програм за календар
GenericName[sr@latin]=Program za kalendar
GenericName[sv]=Kalenderprogram
GenericName[ta]=நாள்காட்டி நிரலி
GenericName[tg]=Тақвим
GenericName[th]=โปรแกรมปฏิทิน
GenericName[tr]=Takvim Programı
GenericName[uk]=Програма календаря
GenericName[uz]=Календар дастури
GenericName[vi]=Trình lịch
GenericName[wa]=Programe calindrî
GenericName[x-test]=xxCalendar Programxx
GenericName[xh]=Inkqubo ye Calendar
GenericName[zh_CN]=日程管理程序
GenericName[zh_TW]=行事曆程式
Exec=ical
Terminal=false
Icon=ical
Type=Application
