[Desktop Entry]
Name=LyX
Name[bn]=লাইক্স
Name[hi]=एलवायएक्स
Name[hr]=Lyx
Name[sr]=Ликс
Name[sv]=Lyx
Name[x-test]=xxLyXxx
GenericName=Word Processor
GenericName[af]=Woord Verwerker
GenericName[ar]=معالج نصوص
GenericName[be]=Тэкставы працэсар
GenericName[bg]=Текстообработваща програма
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[br]=Skridtreterezh
GenericName[ca]=Processador Word
GenericName[cs]=Textový procesor
GenericName[csb]=Procesora tekstu
GenericName[cy]=Prosesydd Geiriau
GenericName[da]=Tekstbehandling
GenericName[de]=Textverarbeitung
GenericName[el]=Επεξεργαστής κειμένου
GenericName[eo]=Verkilo
GenericName[es]=Procesador de textos
GenericName[et]=Tekstitöötlus
GenericName[eu]=Testu prozesatzailea
GenericName[fa]=واژه‌پرداز
GenericName[fi]=Tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte
GenericName[fy]=Tekstferwurker
GenericName[ga]=Próiseálaí Focal
GenericName[gl]=Procesador de textos
GenericName[he]=מעבד תמלילים
GenericName[hi]=वर्ड प्रोसेसर
GenericName[hr]=Program za obrada teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Videoscrittura
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტური პროცესორი
GenericName[kk]=Мәтін өңдеуші
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[ko]=워드 프로세서
GenericName[lt]=Tekstų apdorotojas
GenericName[lv]=Tekstapstrādes programma
GenericName[mk]=Програма за обработка на текст
GenericName[ms]=Pemproses Kata
GenericName[nb]=Tekstbehandler
GenericName[nds]=Textprogramm
GenericName[ne]=वर्ड प्रोसेसर
GenericName[nl]=Tekstverwerker
GenericName[nn]=Teksthandsamar
GenericName[oc]=Tractament de tèxt
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de Texto
GenericName[ro]=Procesor de text
GenericName[ru]=Текстовый процессор
GenericName[se]=Teakstagieđahalli
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedila
GenericName[sr]=Обрађивач текста
GenericName[sr@latin]=Obrađivač teksta
GenericName[sv]=Ordbehandlare
GenericName[ta]=வேர்ட் ப்ரஸ்ஸஸார்
GenericName[tg]=Протсессори матн
GenericName[th]=โปรแกรมประมวลผลคำ
GenericName[tr]=Kelime İşlemci
GenericName[uk]=Pemproses Kata
GenericName[uz]=Матн процессори
GenericName[vi]=Bộ xử lý văn bản
GenericName[wa]=Aspougneu d' mot
GenericName[x-test]=xxWord Processorxx
GenericName[zh_CN]=字处理程序
GenericName[zh_TW]=文書處理程式
Exec=lyx
Terminal=false
Icon=lyx
MimeType=application/x-lyx;
Type=Application
