[Desktop Entry]
Name=LyX
Name[af]=LyX
Name[ar]=LyX
Name[as]=LyX
Name[be]=LyX
Name[be@latin]=LyX
Name[bg]=LyX
Name[bn]=লাইক্স
Name[bn_IN]=LyX
Name[br]=LyX
Name[ca]=LyX
Name[ca@valencia]=LyX
Name[cs]=LyX
Name[csb]=LyX
Name[cy]=LyX
Name[da]=LyX
Name[de]=LyX
Name[el]=LyX
Name[en_GB]=LyX
Name[eo]=LyX
Name[es]=LyX
Name[et]=LyX
Name[eu]=LyX
Name[fi]=LyX
Name[fr]=LyX
Name[fy]=LyX
Name[ga]=LyX
Name[gl]=LyX
Name[gu]=LyX
Name[he]=LyX
Name[hi]=एलवायएक्स
Name[hne]=एलवायएक्स
Name[hr]=Lyx
Name[hsb]=LyX
Name[hu]=LyX
Name[is]=LyX
Name[it]=LyX
Name[ja]=LyX
Name[ka]=LyX
Name[kk]=LyX
Name[km]=LyX
Name[kn]=ಲಿಕ್ಸ್
Name[ko]=LyX
Name[ku]=LyX
Name[lt]=LyX
Name[lv]=LyX
Name[mai]=एलवायएक्स
Name[mk]=LyX
Name[ml]=ലിക്സ്
Name[mr]=LyX
Name[ms]=LyX
Name[nb]=LyX
Name[nds]=LyX
Name[ne]=LyX
Name[nl]=LyX
Name[nn]=LyX
Name[oc]=LyX
Name[or]=LyX
Name[pa]=LyX
Name[pl]=LyX
Name[pt]=LyX
Name[pt_BR]=LyX
Name[ro]=LyX
Name[ru]=LyX
Name[se]=LyX
Name[si]=LyX
Name[sk]=LyX
Name[sl]=LyX
Name[sr]=Ликс
Name[sr@latin]=LyX
Name[sv]=Lyx
Name[ta]=LyX
Name[te]=లిక్స్
Name[tg]=LyX
Name[th]=LyX
Name[tr]=LyX
Name[uk]=LyX
Name[uz]=LyX
Name[uz@cyrillic]=LyX
Name[vi]=LyX
Name[wa]=LyX
Name[xh]=LyX
Name[x-test]=xxLyXxx
Name[zh_CN]=LyX
Name[zh_TW]=LyX
GenericName=Word Processor
GenericName[af]=Woordverwerker
GenericName[ar]=معالج نصوص
GenericName[as]=Word Processor
GenericName[be]=Тэкставы працэсар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстообработваща програма
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[bn_IN]=ওয়ার্ড প্রসেসর
GenericName[br]=Skridtreterezh
GenericName[ca]=Processador Word
GenericName[ca@valencia]=Processador Word
GenericName[cs]=Textový procesor
GenericName[csb]=Procesora tekstu
GenericName[cy]=Prosesydd Geiriau
GenericName[da]=Tekstbehandling
GenericName[de]=Textverarbeitung
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Word Processor
GenericName[eo]=Verkilo
GenericName[es]=Procesador de textos
GenericName[et]=Tekstitöötlus
GenericName[eu]=Testu prozesatzailea
GenericName[fa]=واژه‌پرداز
GenericName[fi]=Tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte
GenericName[fy]=Tekstferwurker
GenericName[ga]=Próiseálaí Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hi]=वर्ड प्रोसेसर
GenericName[hne]=वर्ड प्रोसेसर
GenericName[hr]=Program za obrada teksta
GenericName[hsb]=Předźěłar dokumentow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Videoscrittura
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტური პროცესორი
GenericName[kk]=Мәтін өңдеуші
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[kn]=ಪದ ಸಂಸ್ಕಾರಕ
GenericName[ko]=워드 프로세서
GenericName[ku]=Kiryarkara Peyvê
GenericName[lt]=Tekstų apdorotojas
GenericName[lv]=Tekstapstrādes programma
GenericName[mai]=वर्ड प्रोसेसर
GenericName[mk]=Програма за обработка на текст
GenericName[ml]=വേര്‍ഡ് പ്രൊസസ്സര്‍
GenericName[mr]=वर्ड प्रोसेसर
GenericName[ms]=Pemproses Kata
GenericName[nb]=Tekstbehandler
GenericName[nds]=Textprogramm
GenericName[ne]=वर्ड प्रोसेसर
GenericName[nl]=Tekstverwerker
GenericName[nn]=Teksthandsamar
GenericName[oc]=Tractament de tèxt
GenericName[or]=ଶବ୍ଦ ସଞ୍ଚାଳକ
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de texto
GenericName[ro]=Procesor de text
GenericName[ru]=Текстовый процессор
GenericName[se]=Teakstagieđahalli
GenericName[si]=Word Processor
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedila
GenericName[sr]=Обрађивач текста
GenericName[sr@latin]=Obrađivač teksta
GenericName[sv]=Ordbehandlare
GenericName[ta]=வேர்ட் பிராசசர்
GenericName[te]=వర్‍డ్ ప్రోసెసర్
GenericName[tg]=Барномаи Word
GenericName[th]=โปรแกรมประมวลผลคำ
GenericName[tr]=Kelime İşlemci
GenericName[uk]=Текстовий процесор
GenericName[uz]=Matn protsessori
GenericName[uz@cyrillic]=Матн процессори
GenericName[vi]=Bộ xử lý văn bản
GenericName[wa]=Aspougneu d' mot
GenericName[xh]=Word Processor
GenericName[x-test]=xxWord Processorxx
GenericName[zh_CN]=字处理程序
GenericName[zh_TW]=文書處理程式
Exec=lyx
Terminal=false
Icon=lyx
MimeType=application/x-lyx;
Type=Application
