[Desktop Entry]
Name=MrProject
Name[bn]=মিস্টার-প্রোজেক্ট
Name[cy]=MrProsiect
Name[gu]=મી.પ્રોજેક્ટ
Name[hi]=एमआर-प्रोजेक्ट
Name[hu]=MrProjekt
Name[ml]=മിസ്റ്റര്‍പ്രൊജക്റ്റ്
Name[ne]=एमआर परियोजना
Name[sr]=Мр‑пројект
Name[ta]=Mrதிட்டம்
Name[te]=మి. ప్రాజెక్ట్
Name[vi]=Ngài Dự án
Name[x-test]=xxMrProjectxx
Exec=mrproject
Type=Application
X-DocPath=
GenericName=Project Manager
GenericName[af]=Projek Bestuurder
GenericName[ar]=مدير المشروع
GenericName[be]=Кіраўнік праектаў
GenericName[bg]=Управление на проекти
GenericName[bn]=প্রোজেক্ট ম্যানেজার
GenericName[br]=Merour ar raktres
GenericName[ca]=Gestor de projectes
GenericName[cs]=Správce projektů
GenericName[csb]=Menadżer ùdbów
GenericName[cy]=Rheolydd Prosiect
GenericName[da]=Projekt manager
GenericName[de]=Projektverwaltung
GenericName[el]=Διαχειριστής έργου
GenericName[eo]=Projektadministrilo
GenericName[es]=Gestor de proyectos
GenericName[et]=Projektihaldur
GenericName[eu]=Proiektu kudeatzaliea
GenericName[fa]=مدیر پروژه
GenericName[fi]=Projektinhallinta
GenericName[fr]=Gestionnaire de projets
GenericName[fy]=Projektenbehear
GenericName[ga]=Bainisteoir Tionscadail
GenericName[gl]=Xestor de proxectos
GenericName[gu]=પ્રોજેક્ટ વ્યવસ્થાપક
GenericName[he]=מנהל פרויקטים
GenericName[hi]=परियोजना प्रबंधक
GenericName[hr]=Rukovoditelj financija
GenericName[hu]=Projektkezelő
GenericName[is]=Verkefnastjóri
GenericName[it]=Gestione progetti
GenericName[ja]=プロジェクトマネージャ
GenericName[kk]=Жобалар менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​គម្រោង
GenericName[ko]=프로젝트 관리자
GenericName[ku]=Rêvebera Projeyan
GenericName[lt]=Projektų tvarkyklė
GenericName[lv]=Projektu pārvaldnieks
GenericName[mk]=Менаџер на проекти
GenericName[ms]=Pengurus Projek
GenericName[nb]=Prosjektbehandler
GenericName[nds]=Projektpleger
GenericName[ne]=परियोजना प्रबन्धक
GenericName[nl]=Projectenbeheer
GenericName[nn]=Prosjekthandsamar
GenericName[pa]=ਪਰੋਜੈਕਟ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer projektów
GenericName[pt]=Gestor de Projectos
GenericName[pt_BR]=Gerenciador de Projetos
GenericName[ro]=Administrator de proiecte
GenericName[ru]=Менеджер проектов
GenericName[se]=Prošeaktagieđahalli
GenericName[sk]=Správca projektov
GenericName[sl]=Projektni upravitelj
GenericName[sr]=Менаџер пројеката
GenericName[sr@latin]=Menadžer projekata
GenericName[sv]=Projekthantering
GenericName[ta]=திட்ட மேலாளர்
GenericName[tg]=Мудири лоиҳа
GenericName[th]=โปรแกรมจัดการโครงการ
GenericName[tr]=Proje Yöneticisi
GenericName[uk]=Менеджер проектів
GenericName[uz]=Loyiha boshqaruvchisi
GenericName[uz@cyrillic]=Лойиҳа бошқарувчиси
GenericName[vi]=Bộ quản lý dự án
GenericName[wa]=Manaedjeu di pordjets
GenericName[x-test]=xxProject Managerxx
GenericName[xh]=Umphathi Wephulo
GenericName[zh_CN]=项目管理
GenericName[zh_TW]=計劃管理程式
Terminal=false
Icon=planner
X-KDE-StartupNotify=false
