[Desktop Entry]
Name=MrProject
Name[af]=MrProject
Name[ar]=MrProject
Name[as]=MrProject
Name[be]=MrProject
Name[be@latin]=MrProject
Name[bg]=MrProject
Name[bn]=মিস্টার-প্রোজেক্ট
Name[bn_IN]=MrProject
Name[br]=MrProject
Name[ca]=MrProject
Name[ca@valencia]=MrProject
Name[cs]=MrProject
Name[csb]=MrProject
Name[cy]=MrProsiect
Name[da]=MrProject
Name[de]=MrProject
Name[el]=MrProject
Name[en_GB]=MrProject
Name[eo]=MrProject
Name[es]=MrProject
Name[et]=MrProject
Name[eu]=MrProject
Name[fi]=MrProject
Name[fr]=MrProject
Name[fy]=MrProject
Name[ga]=MrProject
Name[gl]=MrProject
Name[gu]=મી.પ્રોજેક્ટ
Name[he]=MrProject
Name[hi]=एमआर-प्रोजेक्ट
Name[hne]=एमआर-प्रोजेक्ट
Name[hr]=MrProject
Name[hsb]=MrProject
Name[hu]=MrProject
Name[is]=MrProject
Name[it]=MrProject
Name[ja]=MrProject
Name[ka]=MrProject
Name[kk]=MrProject
Name[km]=MrProject
Name[kn]=ಮಿಪ್ರಾಜೆಕ್ಟ್
Name[ko]=MrProject
Name[ku]=MrProject
Name[lt]=MrProject
Name[lv]=MrProject
Name[mai]=एमआर-प्रोजेक्ट
Name[mk]=MrProject
Name[ml]=മിസ്റ്റര്‍പ്രൊജക്റ്റ്
Name[mr]=MrProject
Name[ms]=MrProject
Name[nb]=MrProject
Name[nds]=MrProject
Name[ne]=एमआर परियोजना
Name[nl]=MrProject
Name[nn]=MrProject
Name[oc]=MrProject
Name[or]=MrProject
Name[pa]=MrProject
Name[pl]=MrProject
Name[pt]=MrProject
Name[pt_BR]=MrProject
Name[ro]=MrProject
Name[ru]=MrProject
Name[se]=MrProject
Name[si]=MrProject
Name[sk]=MrProject
Name[sl]=MrProject
Name[sr]=Мр‑пројект
Name[sr@latin]=MrProject
Name[sv]=MrProject
Name[ta]=Mrதிட்டம்
Name[te]=మి. ప్రాజెక్ట్
Name[tg]=MrProject
Name[th]=MrProject
Name[tr]=MrProject
Name[uk]=MrProject
Name[uz]=MrProject
Name[uz@cyrillic]=MrProject
Name[vi]=Ngài Dự án
Name[wa]=MrProject
Name[xh]=MrProject
Name[x-test]=xxMrProjectxx
Name[zh_CN]=MrProject
Name[zh_TW]=MrProject
Exec=mrproject
Type=Application
X-DocPath=
GenericName=Project Manager
GenericName[af]=Projek Bestuurder
GenericName[ar]=مدير المشروع
GenericName[as]=প্ৰকল্পৰ পৰিচালক
GenericName[be]=Кіраўнік праектаў
GenericName[be@latin]=Kiraŭnik dla prajektaŭ
GenericName[bg]=Управление на проекти
GenericName[bn]=প্রোজেক্ট ম্যানেজার
GenericName[bn_IN]=প্রজেক্ট পরিচালনব্যবস্থা
GenericName[br]=Merour ar raktres
GenericName[ca]=Gestor de projectes
GenericName[ca@valencia]=Gestor de projectes
GenericName[cs]=Správce projektů
GenericName[csb]=Menadżera ùdbów
GenericName[cy]=Rheolydd Prosiect
GenericName[da]=Projekt manager
GenericName[de]=Projektverwaltung
GenericName[el]=Διαχειριστής έργου
GenericName[en_GB]=Project Manager
GenericName[eo]=Projektadministrilo
GenericName[es]=Gestor de proyectos
GenericName[et]=Projektihaldur
GenericName[eu]=Proiektu kudeatzaliea
GenericName[fa]=مدیر پروژه
GenericName[fi]=Projektinhallinta
GenericName[fr]=Gestionnaire de projets
GenericName[fy]=Projektenbehear
GenericName[ga]=Bainisteoir Tionscadail
GenericName[gl]=Xestor de proxectos
GenericName[gu]=પ્રોજેક્ટ વ્યવસ્થાપક
GenericName[he]=מנהל פרויקטים
GenericName[hi]=परियोजना प्रबंधक
GenericName[hne]=परियोजना प्रबंधक
GenericName[hr]=Rukovoditelj financija
GenericName[hsb]=Projekty
GenericName[hu]=Projektkezelő
GenericName[is]=Verkefnastjóri
GenericName[it]=Gestione progetti
GenericName[ja]=プロジェクトマネージャ
GenericName[ka]=Project Manager
GenericName[kk]=Жобалар менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​គម្រោង
GenericName[kn]=ಯೋಜನಾ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=프로젝트 관리자
GenericName[ku]=Rêvebera Projeyan
GenericName[lt]=Projektų tvarkyklė
GenericName[lv]=Projektu pārvaldnieks
GenericName[mai]=परियोजना प्रबंधक
GenericName[mk]=Менаџер на проекти
GenericName[ml]=സംരംഭത്തിന്റെ നടത്തിപ്പുകാരന്‍
GenericName[mr]=प्रकल्प प्रबंधक
GenericName[ms]=Pengurus Projek
GenericName[nb]=Prosjektbehandler
GenericName[nds]=Projektpleger
GenericName[ne]=परियोजना प्रबन्धक
GenericName[nl]=Projectenbeheer
GenericName[nn]=Prosjekthandsamar
GenericName[or]=ପ୍ରକଳ୍ପ ପରିଚାଳକ
GenericName[pa]=ਪਰੋਜੈਕਟ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer projektów
GenericName[pt]=Gestor de Projectos
GenericName[pt_BR]=Gerenciador de projetos
GenericName[ro]=Administrator de proiecte
GenericName[ru]=Управление проектами
GenericName[se]=Prošeaktagieđahalli
GenericName[si]=වපෘති කළමණාකරු
GenericName[sk]=Správca projektov
GenericName[sl]=Projektni upravitelj
GenericName[sr]=Менаџер пројеката
GenericName[sr@latin]=Menadžer projekata
GenericName[sv]=Projekthantering
GenericName[ta]=திட்ட மேலாளர்
GenericName[te]=ప్రోజెక్ట్‍ నిర్వాహకి
GenericName[tg]=Мудири лоиҳа
GenericName[th]=โปรแกรมจัดการโครงการ
GenericName[tr]=Proje Yöneticisi
GenericName[uk]=Менеджер проектів
GenericName[uz]=Loyiha boshqaruvchisi
GenericName[uz@cyrillic]=Лойиҳа бошқарувчиси
GenericName[vi]=Bộ quản lý dự án
GenericName[wa]=Manaedjeu di pordjets
GenericName[xh]=Umphathi Wephulo
GenericName[x-test]=xxProject Managerxx
GenericName[zh_CN]=项目管理
GenericName[zh_TW]=計劃管理程式
Terminal=false
Icon=planner
X-KDE-StartupNotify=false
