[Desktop Entry]
Encoding=UTF-8
Name=MrProject
Name[cy]=MrProsiect
Name[hu]=MrProjekt
Name[ne]=Mr परियोजना
Name[ta]=Mrதிட்ட அறிக்கை
Name[x-test]=xxMrProjectxx
Exec=mrproject
Type=Application
DocPath=
GenericName=Project Manager
GenericName[af]=Projek Bestuurder
GenericName[be]=Кіраўнік праектаў
GenericName[bg]=Управление на проекти
GenericName[br]=Merour ar raktres
GenericName[ca]=Gestor de projectes
GenericName[cs]=Správce projektů
GenericName[csb]=Menadżer ùdbów
GenericName[cy]=Rheolydd Prosiect
GenericName[da]=Projekt manager
GenericName[de]=Projektverwaltung
GenericName[el]=Διαχειριστής έργου
GenericName[eo]=Projektadministrilo
GenericName[es]=Gestor de proyectos
GenericName[et]=Projektihaldur
GenericName[eu]=Proiektu kudeatzaliea
GenericName[fa]=مدیر پروژه
GenericName[fi]=Projektinhallinta
GenericName[fr]=Gestionnaire de projets
GenericName[fy]=Projektenbehear
GenericName[ga]=Bainisteoir Tionscadail
GenericName[gl]=Xestor de Proxectos
GenericName[he]=מנהל פרויקטים
GenericName[hr]=Rukovoditelj financija
GenericName[hu]=Projektkezelő
GenericName[is]=Verkefnastjóri
GenericName[it]=Gestione progetti
GenericName[ja]=プロジェクトマネージャ
GenericName[kk]=Жобалар менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​គម្រោង
GenericName[lt]=Projektų tvarkyklė
GenericName[lv]=Projektu Menedžeris
GenericName[mk]=Менаџер на проекти
GenericName[ms]=Pengurus Projek
GenericName[nb]=Prosjektbehandler
GenericName[nds]=Projektpleger
GenericName[ne]=परियोजना प्रबन्धक
GenericName[nl]=Projectenbeheer
GenericName[nn]=Prosjekthandsamar
GenericName[pa]=ਪਰੋਜੈਕਟ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer projektów
GenericName[pt]=Gestor de Projectos
GenericName[pt_BR]=Gerenciador de Projetos
GenericName[ro]=Manager de proiecte
GenericName[ru]=Менеджер проектов
GenericName[se]=Prošeaktagieđahalli
GenericName[sl]=Projektni upravitelj
GenericName[sr]=Менаџер пројеката
GenericName[sr@latin]=Menadžer projekata
GenericName[sv]=Projekthantering
GenericName[ta]=திட்ட அறிக்கை மேலாளர்
GenericName[tg]=Мудири Нақша
GenericName[tr]=Proje Yöneticisi
GenericName[uk]=Менеджер проектів
GenericName[uz]=Лойиҳа бошқарувчиси
GenericName[x-test]=xxProject Managerxx
GenericName[xh]=Umphathi Wephulo
GenericName[zh_TW]=計劃管理程式
Terminal=false
Icon=planner
X-KDE-StartupNotify=false
