[Desktop Entry]
Name=Netscape Address Book
Name[ar]=دفتر عناوين نيتسكيب
Name[bg]=Адресник на Netscape
Name[ca]=Llibreta d'adreces de Netscape
Name[cs]=Kniha adres Netscape
Name[csb]=Adresowô ksążka Netscape
Name[da]=Netscape-adressebog
Name[de]=Netscape-Adressbuch
Name[el]=Βιβλίο διευθύνσεων Netscape
Name[en_GB]=Netscape Address Book
Name[eo]=Netskapa adresaro
Name[es]=Libreta de direcciones de Netscape
Name[et]=Netscape'i aadressiraamat
Name[eu]=Netscape-ren helbide-liburua
Name[fi]=Netscapen osoitekirja
Name[fr]=Carnet d'adresses Netscape
Name[fy]=Netscape Adresboek
Name[gl]=Caderno de enderezos de Netscape
Name[gu]=નેટવર્ક સરનામાં પુસ્તિકા
Name[he]=ספר כתובות Netscape
Name[hr]=Netscape adresar
Name[hu]=Netscape címjegyzék
Name[id]=Netscape Address Book
Name[is]=Netscape netfangaskrá
Name[it]=Rubrica degli indirizzi di Netscape
Name[ja]=Netscape アドレス帳
Name[kk]=Netscape адрес кітапшасы
Name[km]=សៀវភៅ​អាសយដ្ឋាន​របស់ Netscape
Name[kn]=ನೆಟ್‌ಸ್ಕೇಪ್ ವಿಳಾಸ ಪುಸ್ತಕ
Name[ko]=Netscape 주소록
Name[lt]=Netscape adresų knyga
Name[lv]=Netscape adresu grāmata
Name[mai]=नेटस्केप पता पुस्तिका
Name[mk]=Адресар за Netscape
Name[ml]=നെറ്റ്സ്കേപ്പ് വിലാസ പുസ്തകം
Name[ms]=Buku Alamat Netscape
Name[nb]=Netscape adressebok
Name[nds]=Netscape-Adressbook
Name[nl]=Netscape adresboek
Name[nn]=Netscape-adressebok
Name[pl]=Książka adresowa Netscape
Name[pt]=Livro de Endereços do Netscape
Name[pt_BR]=Livro de endereços do Netscape
Name[ro]=Carte de adrese Netscape
Name[ru]=Адресная книга Netscape
Name[sk]=Kniha adries Netscape
Name[sl]=Netscape Address Book
Name[sr]=Нетскејпов адресар
Name[sr@latin]=Netscapeov adresar
Name[sv]=Netscape adressbok
Name[tg]=Журнали суроғаҳои Netscape
Name[tr]=Netscape Adres Defteri
Name[uk]=Адресна книга Nescape
Name[wa]=Calpin d' adresses di Netscape
Name[x-test]=xxNetscape Address Bookxx
Name[zh_CN]=Netscape 地址簿
Name[zh_TW]=Netscape 通訊錄
Exec=netscape +addresses
Terminal=false
Icon=kab
Type=Application
