[Desktop Entry]
Name=Netscape Address Book
Name[bg]=Адресник на Netscape
Name[ca]=Llibreta d'adreces de Netscape
Name[ca@valencia]=Llibreta d'adreces de Netscape
Name[csb]=Adresowô ksążka Netscape
Name[da]=Netscape-adressebog
Name[de]=Netscape-Adressbuch
Name[el]=Βιβλίο διευθύνσεων Netscape
Name[et]=Netscape'i aadressiraamat
Name[fi]=Netscapen osoitekirja
Name[gu]=નેટવર્ક સરનામાં પુસ્તિકા
Name[is]=Netscape netfangaskrá
Name[km]=សៀវភៅ​អាសយដ្ឋាន​របស់ Netscape
Name[ko]=Netscape 주소록
Name[lv]=Netscape adresu grāmata
Name[mai]=नेटस्केप पता पुस्तिका
Name[ml]=നെറ്റ്സ്കേപ്പ് അഡ്രസ്സ്ബുക്ക്
Name[nb]=Netscape adressebok
Name[nds]=Netscape-Adressbook
Name[pt]=Livro de Endereços do Netscape
Name[pt_BR]=Livro de endereços do Netscape
Name[ro]=Carte de adrese Netscape
Name[sl]=Netscape adresar
Name[sv]=Netscape adressbok
Name[tr]=Netscape Adres Defteri
Name[uk]=Адресна книга Nescape
Name[wa]=Calpin d' adresses di Netscape
Name[x-test]=xxNetscape Address Bookxx
Name[zh_CN]=Netscape 地址簿
Name[zh_TW]=Netscape 通訊錄
Exec=netscape +addresses
Terminal=false
Icon=kab
Type=Application
