[Desktop Entry]
Name=Plan
Name[af]=Plan
Name[ar]=Plan
Name[as]=Plan
Name[be]=Plan
Name[be@latin]=Plan
Name[bg]=План
Name[bn]=প্ল্যান
Name[bn_IN]=Plan
Name[br]=Plan
Name[ca]=Plan
Name[ca@valencia]=Plan
Name[cs]=Plan
Name[csb]=Plan
Name[cy]=Plan
Name[da]=Plan
Name[de]=Plan
Name[el]=Plan
Name[en_GB]=Plan
Name[eo]=Plan
Name[es]=Plan
Name[et]=Plan
Name[eu]=Plan
Name[fa]=نقشه
Name[fi]=Plan
Name[fr]=Plan
Name[fy]=Plan
Name[ga]=Plean
Name[gl]=Plan
Name[gu]=પ્લાન
Name[he]=Plan
Name[hi]=प्लान
Name[hne]=प्लान
Name[hr]=Plan
Name[hsb]=Plan
Name[hu]=Plan
Name[is]=Plan
Name[it]=Plan
Name[ja]=Plan
Name[ka]=Plan
Name[kk]=Plan
Name[km]=គម្រោង
Name[kn]=ಯೋಜನೆ
Name[ko]=Plan
Name[ku]=Plan
Name[lt]=Planas
Name[lv]=Plan
Name[mai]=योजना
Name[mk]=Plan
Name[ml]=പ്ലാന്‍
Name[mr]=योजना
Name[ms]=Plan
Name[nb]=Plan
Name[nds]=Plaan
Name[ne]=योजना
Name[nl]=Plan
Name[nn]=Plan
Name[or]=ଯୋଜନା
Name[pa]=ਪਲੈਨ
Name[pl]=Plan
Name[pt]=Plan
Name[pt_BR]=Plan
Name[ro]=Plan
Name[ru]=Plan
Name[se]=Plan
Name[si]=Plan
Name[sk]=Plan
Name[sl]=Plan
Name[sr]=План
Name[sr@latin]=Plan
Name[sv]=Plan
Name[ta]=திட்டம்
Name[te]=ప్లాన్
Name[tg]=Plan
Name[th]=Plan
Name[tr]=Plan
Name[uk]=Plan
Name[uz]=Plan
Name[uz@cyrillic]=Plan
Name[vi]=Plan
Name[wa]=Plan
Name[xh]=Icebo
Name[x-test]=xxPlanxx
Name[zh_CN]=Plan
Name[zh_TW]=Plan
MimeType=
Exec=plan
Icon=plan
X-DocPath=
Type=Application
Terminal=false
GenericName=Calendar Manager
GenericName[af]=Kalender Bestuurder
GenericName[ar]=مدير التقويم
GenericName[as]=বৰ্ষপঞ্জিকাৰ পৰিচালক
GenericName[be]=Кіраўнік календароў
GenericName[be@latin]=Kiraŭnik dla kalendara
GenericName[bg]=Управление на календара
GenericName[bn]=ক্যালেণ্ডার ম্যানেজার
GenericName[bn_IN]=বর্ষপঞ্জি পরিচালন ব্যবস্থা
GenericName[br]=Merour deiziadur
GenericName[ca]=Gestor de calendari
GenericName[ca@valencia]=Gestor de calendari
GenericName[cs]=Plánovací kalendář
GenericName[csb]=Kalãdôrz
GenericName[cy]=Rheolydd Dyddiadur
GenericName[da]=Kalenderhåndtering
GenericName[de]=Kalenderverwaltung
GenericName[el]=Διαχειριστής ημερολογίου
GenericName[en_GB]=Calendar Manager
GenericName[eo]=Kalendara programo
GenericName[es]=Gestor de calendarios
GenericName[et]=Kalendrihaldur
GenericName[eu]=Egutegi kudeatzailea
GenericName[fa]=مدیر تقویم
GenericName[fi]=Kalenteriohjelma
GenericName[fr]=Gestionnaire d'agenda
GenericName[fy]=Agindabehear
GenericName[ga]=Bainisteoir Féilire
GenericName[gl]=Xestor de calendario
GenericName[gu]=કેલેન્ડર વ્યવસ્થાપક
GenericName[he]=מנהל לוחות שנה
GenericName[hi]=कैलेन्डर प्रबंधक
GenericName[hne]=कलेन्डर प्रबंधक
GenericName[hr]=Rokovnik
GenericName[hsb]=Protyka
GenericName[hu]=Naptárkezelő
GenericName[is]=Dagatalsstjóri
GenericName[it]=Gestione del calendario
GenericName[ja]=カレンダーマネージャ
GenericName[ka]=კალენდარის მენეჯერი
GenericName[kk]=Күнтізбе
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ប្រតិទិន
GenericName[kn]=ದಿನದರ್ಶಿ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=달력 관리자
GenericName[ku]=Rêvebera Salnameyê
GenericName[lt]=Kalendoriaus tvarkyklė
GenericName[lv]=Kalendāra pārvaldnieks
GenericName[mai]=पञ्चाङ्ग प्रबंधक
GenericName[mk]=Менаџер на календари
GenericName[ml]=കലണ്ടര്‍ മാനേജര്‍
GenericName[mr]=कैलेन्डर प्रबंधक
GenericName[ms]=Pengurus Kalendar
GenericName[nb]=Kalenderbehandler
GenericName[nds]=Kalennerpleger
GenericName[ne]=पात्रो प्रबन्धक
GenericName[nl]=Agendabeheer
GenericName[nn]=Kalenderhandsamar
GenericName[or]=କ୍ୟାଲେଣ୍ଡର ପରିଚାଳକ
GenericName[pa]=ਕੈਲੰਡਰ ਮੈਨੇਜਰ
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Gerenciador de calendário
GenericName[ro]=Administrator de calendar
GenericName[ru]=Календарь
GenericName[se]=Kaleandargieđahalli
GenericName[si]=දිනදර්ශන කළමනාකරු
GenericName[sk]=Plánovací kalendár
GenericName[sl]=Upravitelj koledarja
GenericName[sr]=Менаџер календара
GenericName[sr@latin]=Menadžer kalendara
GenericName[sv]=Kalenderhanterare
GenericName[ta]=நாட்காட்டி மேலாளர்
GenericName[te]=క్యాలెండర్ నిర్వాహకి
GenericName[tg]=Мудири тақвим
GenericName[th]=จัดการปฏิทิน
GenericName[tr]=Takvim Yöneticisi
GenericName[uk]=Менеджер календаря
GenericName[uz]=Kalendar boshqaruvchisi
GenericName[uz@cyrillic]=Календар бошқарувчиси
GenericName[vi]=Bộ quản lý lịch
GenericName[wa]=Manaedjeu di calindrîs
GenericName[xh]=Umphathi we Khalenda
GenericName[x-test]=xxCalendar Managerxx
GenericName[zh_CN]=日程管理程序
GenericName[zh_TW]=行事曆管理程式
X-KDE-StartupNotify=false
