[Desktop Entry]
Name=Plan
Name[bn]=প্ল্যান
Name[fa]=نقشه
Name[ga]=Plean
Name[hi]=प्लान
Name[km]=គម្រោង
Name[lt]=Planas
Name[nds]=Plaan
Name[ne]=योजना
Name[pa]=ਪਲੈਨ
Name[sl]=Planer
Name[sr]=План
Name[ta]=திட்டம்
Name[te]=ప్లాన్
Name[tg]=Нақша
Name[x-test]=xxPlanxx
Name[xh]=Icebo
MimeType=
Exec=plan
Icon=plan
X-DocPath=
Type=Application
Terminal=false
GenericName=Calendar Manager
GenericName[af]=Kalender Bestuurder
GenericName[ar]=مدير التقويم
GenericName[be]=Кіраўнік календароў
GenericName[bg]=Календар
GenericName[bn]=ক্যালেণ্ডার ম্যানেজার
GenericName[br]=Merour deiziadur
GenericName[ca]=Gestor de calendari
GenericName[cs]=Plánovací kalendář
GenericName[csb]=Kalãdôrz
GenericName[cy]=Rheolydd Dyddiadur
GenericName[da]=Kalenderhåndtering
GenericName[de]=Kalenderverwaltung
GenericName[el]=Διαχειριστής ημερολογίου
GenericName[eo]=Kalendara programo
GenericName[es]=Gestor de calendarios
GenericName[et]=Kalendrihaldur
GenericName[eu]=Egutegi kudeatzailea
GenericName[fa]=مدیر تقویم
GenericName[fi]=Kalenteriohjelma
GenericName[fr]=Gestionnaire d'agenda
GenericName[fy]=Agindabehear
GenericName[ga]=Bainisteoir Féilire
GenericName[gl]=Xestor de calendario
GenericName[he]=מנהל לוחות שנה
GenericName[hi]=कैलेन्डर प्रबंधक
GenericName[hr]=Rokovnik
GenericName[hu]=Naptárkezelő
GenericName[is]=Dagatalsstjóri
GenericName[it]=Gestione del calendario
GenericName[ja]=カレンダーマネージャ
GenericName[ka]=კალენდარის მენეჯერი
GenericName[kk]=Күнтізбе
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ប្រតិទិន
GenericName[ko]=달력 관리자
GenericName[lt]=Kalendoriaus tvarkyklė
GenericName[lv]=Kalendāra pārvaldnieks
GenericName[mk]=Менаџер на календари
GenericName[ms]=Pengurus Kalendar
GenericName[nb]=Kalenderbehandler
GenericName[nds]=Kalennerpleger
GenericName[ne]=पात्रो प्रबन्धक
GenericName[nl]=Agendabeheer
GenericName[nn]=Kalenderhandsamar
GenericName[pa]=ਕੈਲੰਡਰ ਮੈਨੇਜਰ
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Gerenciador de Calendário
GenericName[ro]=Manager de calendar
GenericName[ru]=Календарь
GenericName[se]=Kaleandargieđahalli
GenericName[sk]=Plánovací kalendár
GenericName[sl]=Koledar obveznosti
GenericName[sr]=Менаџер календара
GenericName[sr@latin]=Menadžer kalendara
GenericName[sv]=Kalenderhanterare
GenericName[ta]=நாள்காட்டி மேலாளர்
GenericName[tg]=Мудири Тақвим
GenericName[th]=ตัวจัดการปฏิทิน
GenericName[tr]=Takvim Yöneticisi
GenericName[uk]=Менеджер календаря
GenericName[uz]=Календар бошқарувчиси
GenericName[vi]=Bộ quản lý lịch
GenericName[wa]=Manaedjeu di calindrîs
GenericName[x-test]=xxCalendar Managerxx
GenericName[xh]=Umphathi we Khalenda
GenericName[zh_CN]=日程管理程序
GenericName[zh_TW]=行事曆管理程式
X-KDE-StartupNotify=false
