[Desktop Entry]
Encoding=UTF-8
GenericName=Bibliographic Database
GenericName[af]=Bibliografiese Databasis
GenericName[be]=Бібліяграфічная база дадзеных
GenericName[bg]=Библиографични данни
GenericName[br]=Stlennvon levrlennadur
GenericName[ca]=Base de dades bibliogràfica
GenericName[cs]=Bibliografická databáze
GenericName[csb]=Bibliograficznô baza dostónków
GenericName[cy]=Cronfeydd Llyfryddiaethol
GenericName[da]=Bibliografisk database
GenericName[de]=Bibliographische Datenbank
GenericName[el]=Βιβλιογραφική βάση δεδομένων
GenericName[eo]=Bibliografia datumbazo
GenericName[es]=Base de datos bibliográfica
GenericName[et]=Bibliograafia andmebaas
GenericName[eu]=Datu-base bibliogafikoa
GenericName[fa]=دادگان کتاب‌شناسی
GenericName[fi]=Kirjastotietokanta
GenericName[fr]=Base de données bibliographiques
GenericName[fy]=Bibliografyske databank
GenericName[ga]=Bunachar Sonraí Bibleagrafaíocha
GenericName[gl]=Base de Datos Bibliográfica
GenericName[he]=מסד נתונים ביבליוגרפי
GenericName[hr]=Bibliografska baza podataka
GenericName[hu]=Bibliográfiai adatbázis
GenericName[is]=Gagnasafn heimildaskráa
GenericName[it]=Database bibliografico
GenericName[ja]=書誌データベース
GenericName[ka]=ბიბლიოგრაფიული მონაცემთა ბაზა
GenericName[kk]=Библиографиялық деректер қоры
GenericName[km]=មូលដ្ឋាន​ទិន្នន័យ​គន្ថនិទ្ទេស 
GenericName[ko]=서지학 자료틀
GenericName[lt]=Bibliografijos duomenų bazė
GenericName[lv]=Bibliogrāfiska Datubāze
GenericName[mk]=Библиографска база на податоци
GenericName[ms]=Pangkalan Data Bibliografik
GenericName[nb]=Bibliografisk database
GenericName[nds]=Bibliograafsche Datenbank
GenericName[ne]=सन्दर्भ सूची डेटाबेस
GenericName[nl]=Bibliografische database
GenericName[nn]=Bibliografisk database
GenericName[pa]=ਪੁਸਤਕ-ਸੂਚੀ ਡਾਟਾਬੇਸ
GenericName[pl]=Baza danych bibliograficznych
GenericName[pt]=Base de Dados Bibliográfica
GenericName[pt_BR]=Banco de Dados Bibliográficos
GenericName[ro]=Bază de date bibliografică
GenericName[ru]=Библиографическая база данных
GenericName[se]=Bibliográfalaš diehtovuođđu
GenericName[sl]=Bibliografska zbirka podatkov
GenericName[sr]=Библиографска база
GenericName[sr@latin]=Bibliografska baza
GenericName[sv]=Referensdatabas
GenericName[ta]=நூலடைவு தகவல்தளம்
GenericName[tg]=Бонки иттилооти китобшиносӣ
GenericName[tr]=Bibliografik VeriTabanı
GenericName[uk]=Бібліографічна база даних
GenericName[uz]=Библиографик маълумот базаси
GenericName[x-test]=xxBibliographic Databasexx
GenericName[xh]=Isiseko sedata Esiluluhlu lweencwadi zombhali nawuphi na
GenericName[zh_TW]=書目資料庫
Exec=pybliographic
Icon=pybliographic
InitialPreference=2
MimeType=text/x-bibtex
Name=Pybliographic
Name[af]=Pybliografie
Name[cy]=Pybliograffeg
Name[eo]=Bibliografiilo
Name[lt]=Bibliografija
Name[lv]=Pybliogrāfisks
Name[ne]=पाइब्लिओग्राफिक
Name[pa]=ਫੀਬਬਲੀਓਗਰਾਫ
Name[tg]=Иттилооти китобшиноси P
Name[x-test]=xxPybliographicxx
Path=
ServiceTypes=
Terminal=false
Type=Application
