[Desktop Entry]
GenericName=Bibliographic Database
GenericName[af]=Bibliografiese Databasis
GenericName[ar]=قاعدة بيانات Bibliographic 
GenericName[as]=Bibliographic Database
GenericName[be]=Бібліяграфічная база дадзеных
GenericName[be@latin]=Biblijahrafičnaja baza źviestak
GenericName[bg]=Библиографски данни
GenericName[bn]=গ্রন্থতালিকা
GenericName[br]=Stlennvon levrlennadur
GenericName[ca]=Base de dades bibliogràfica
GenericName[ca@valencia]=Base de dades bibliogràfica
GenericName[cs]=Bibliografická databáze
GenericName[csb]=Bibliograficznô baza dostónków
GenericName[cy]=Cronfeydd Llyfryddiaethol
GenericName[da]=Bibliografisk database
GenericName[de]=Bibliografische Datenbank
GenericName[el]=Βιβλιογραφική βάση δεδομένων
GenericName[en_GB]=Bibliographic Database
GenericName[eo]=Bibliografia datumbazo
GenericName[es]=Base de datos bibliográfica
GenericName[et]=Bibliograafia andmebaas
GenericName[eu]=Datu-base bibliogafikoa
GenericName[fa]=دادگان کتاب‌شناسی
GenericName[fi]=Kirjastotietokanta
GenericName[fr]=Base de données bibliographiques
GenericName[fy]=Bibliografyske databank
GenericName[ga]=Bunachar Sonraí Bibleagrafaíochta
GenericName[gl]=Base de datos bibliográfica
GenericName[gu]=બિબિલોગ્રાફિક ડેટાબેઝ
GenericName[he]=מסד נתונים ביבליוגרפי
GenericName[hi]=बिबिलोग्राफिक डाटाबेस
GenericName[hne]=बिबिलोग्राफिक डाटाबेस
GenericName[hr]=Bibliografska baza podataka
GenericName[hsb]=Bibliografija
GenericName[hu]=Bibliográfiai adatbázis
GenericName[is]=Gagnasafn heimildaskráa
GenericName[it]=Database bibliografico
GenericName[ja]=書誌データベース
GenericName[ka]=ბიბლიოგრაფიული მონაცემთა ბაზა
GenericName[kk]=Библиографиялық деректер қоры
GenericName[km]=មូលដ្ឋាន​ទិន្នន័យ​គន្ថនិទ្ទេស
GenericName[kn]=ಗ್ರಂಥಸೂಚಿ ದತ್ತಸಂಚಯ
GenericName[ko]=참고 문헌 데이터베이스
GenericName[ku]=Danegeha Bîbliyografîk
GenericName[lt]=Bibliografijos duomenų bazė
GenericName[lv]=Bibliogrāfiska datubāze
GenericName[mai]=पोथीसूची डाटाबेस
GenericName[mk]=Библиографска база на податоци
GenericName[ml]=ബിബ്ലിയോഗ്രാഫിക് ഡാറ്റാബേസ്
GenericName[mr]=बिबिलोग्राफिक डाटाबेस
GenericName[ms]=Pangkalan Data Bibliografik
GenericName[nb]=Bibliografisk database
GenericName[nds]=Bibliograafsche Datenbank
GenericName[ne]=सन्दर्भसूची डाटाबेस
GenericName[nl]=Bibliografische database
GenericName[nn]=Bibliografisk database
GenericName[or]=ବିବଲିଓଗ୍ରାଫିକ ତଥ୍ୟାବଳୀ
GenericName[pa]=ਪੁਸਤਕ-ਸੂਚੀ ਡਾਟਾਬੇਸ
GenericName[pl]=Baza danych bibliograficznych
GenericName[pt]=Base de Dados Bibliográfica
GenericName[pt_BR]=Banco de dados bibliográficos
GenericName[ro]=Bază de date bibliografică
GenericName[ru]=Библиографическая база данных
GenericName[se]=Bibliográfalaš diehtovuođđu
GenericName[si]=ග්‍රන්ථනාමාවලී දත්ත ගබඩාව
GenericName[sk]=Bibliografická databáza
GenericName[sl]=Bibliografska zbirka podatkov
GenericName[sr]=Библиографска база
GenericName[sr@latin]=Bibliografska baza
GenericName[sv]=Referensdatabas
GenericName[ta]=கிரம தரவுக்களன்
GenericName[te]=బిబ్లోగ్రఫిక్ డాటాబేస్
GenericName[tg]=Базаи маълумоти китобшиносӣ
GenericName[th]=ฐานข้อมูลบรรณานุกรม
GenericName[tr]=Bibliyografik Veritabanı
GenericName[uk]=Бібліографічна база даних
GenericName[uz]=Bibliografik maʼlumot bazasi
GenericName[uz@cyrillic]=Библиографик маълумот базаси
GenericName[vi]=Cơ sở dữ liệu Thư tịch
GenericName[wa]=Båze di dnêyes bibiografike
GenericName[xh]=Isiseko sedata Esiluluhlu lweencwadi zombhali nawuphi na
GenericName[x-test]=xxBibliographic Databasexx
GenericName[zh_CN]=书目数据库
GenericName[zh_TW]=書目資料庫
Exec=pybliographic
Icon=pybliographic
InitialPreference=2
MimeType=text/x-bibtex;
Name=Pybliographic
Name[af]=Pybliografie
Name[ar]=Pybliographic
Name[as]=Pybliographic
Name[be]=Pybliographic
Name[be@latin]=Pybliographic
Name[bg]=Pybliographic
Name[bn]=Pybliographic
Name[bn_IN]=Pybliographic
Name[br]=Pybliographic
Name[ca]=Pybliographic
Name[ca@valencia]=Pybliographic
Name[cs]=Pybliographic
Name[csb]=Pybliographic
Name[cy]=Pybliograffeg
Name[da]=Pybliographic
Name[de]=Pybliographic
Name[el]=Pybliographic
Name[en_GB]=Pybliographic
Name[eo]=Bibliografiilo
Name[es]=Pybliographic
Name[et]=Pybliographic
Name[eu]=Pybliographic
Name[fi]=Pybliographic
Name[fr]=Pybliographic
Name[fy]=Pybliographic
Name[ga]=Pybliographic
Name[gl]=Pybliographic
Name[gu]=Pybliographic
Name[he]=Pybliographic
Name[hi]=पिबिलोग्राफिक
Name[hne]=पिबिलोग्राफिक
Name[hr]=Pybliographic
Name[hsb]=Pybliographic
Name[hu]=Pybliographic
Name[is]=Pybliographic
Name[it]=Pybliographic
Name[ja]=Pybliographic
Name[ka]=Pybliographic
Name[kk]=Pybliographic
Name[km]=Pybliographic
Name[kn]=ಪಿವೈಬಿಬ್ಲಿಯೋಗ್ರಾಫಿಕ್
Name[ko]=Pybliographic
Name[ku]=Pybliographic
Name[lt]=Bibliografija
Name[lv]=Pybliographic
Name[mai]=पिबिलोग्राफिक
Name[mk]=Pybliographic
Name[ml]=പൈബ്ലിയോഗ്രാഫിക്സ്
Name[mr]=पिबिलोग्राफिक
Name[ms]=Pybliographic
Name[nb]=Pybliographic
Name[nds]=Pybliographic
Name[ne]=पाइब्लिओग्राफिक
Name[nl]=Pybliographic
Name[nn]=Pybliographic
Name[or]=Pybliographic
Name[pa]=ਫੀਬਬਲੀਓਗਰਾਫ
Name[pl]=Pybliographic
Name[pt]=Pybliographic
Name[pt_BR]=Pybliographic
Name[ro]=Pybliographic
Name[ru]=Pybliographic
Name[se]=Pybliographic
Name[si]=Pybliographic
Name[sk]=Pybliographic
Name[sl]=Pybliographic
Name[sr]=Пиблиографик
Name[sr@latin]=Pybliographic
Name[sv]=Pybliographic
Name[ta]=பைபிலோகிராபிக்
Name[te]=Pybliographic
Name[tg]=Китобшиносӣ
Name[th]=Pybliographic
Name[tr]=Pybliographic
Name[uk]=Pybliographic
Name[uz]=Pybliographic
Name[uz@cyrillic]=Pybliographic
Name[vi]=Pybliographic
Name[wa]=Pybliographic
Name[xh]=Pybliographic
Name[x-test]=xxPybliographicxx
Name[zh_CN]=Pybliographic
Name[zh_TW]=Pybliographic
X-KDE-ServiceTypes=
Terminal=false
Type=Application
