[Desktop Entry]
Name=Scribus
Name[bn]=স্ক্রাইবাস
Name[gu]=સ્ક્રિબસ
Name[hi]=स्क्रिबस
Name[ml]=സ്ക്രൈബസ്
Name[ne]=स्क्रिबस
Name[sr]=Скрибус
Name[ta]=ஸ்கிரைபஸ்
Name[te]=స్క్రిబస్
Name[x-test]=xxScribusxx
GenericName=Desktop Publishing
GenericName[af]=Werkskerm Publisering
GenericName[ar]=نشر عبر سطح المكتب
GenericName[be]=Публікацыя
GenericName[bg]=Издателска програма
GenericName[bn]=ডেস্কটপ প্রকাশনা
GenericName[ca]=Publicació d'escriptori
GenericName[cs]=Publikování na desktopu
GenericName[cy]=Cyhoeddi Penbwrdd
GenericName[da]=Dtp
GenericName[el]=Επιτραπέζια τυπογραφία
GenericName[eo]=DTP-programo
GenericName[es]=Maquetación
GenericName[et]=Küljendusrakendus
GenericName[fa]=نشر رومیزی
GenericName[fi]=Julkaisuohjelma
GenericName[fr]=Publication de bureau
GenericName[ga]=Foilsiú Deisce
GenericName[gl]=Maquetador de publicacións
GenericName[gu]=ડેસ્કટોપ પબ્લિશિંગ
GenericName[he]=הוצאה לאור שולחנית
GenericName[hi]=डेस्कटॉप प्रकाशन
GenericName[hr]=Stolno izdavaštvo
GenericName[hu]=Kiadványszerkesztő
GenericName[is]=Umbrotsforrit
GenericName[it]=Pubblicazioni
GenericName[ja]=デスクトップパブリッシング
GenericName[ka]=სამაგიდო გამომცემლობა
GenericName[kk]=Үстел баспасы
GenericName[km]=ការ​បោះពុម្ព​ផ្ទៃតុ
GenericName[ko]=데스크톱 출판
GenericName[ku]=Weşandina Sermaseyê
GenericName[lt]=Darbastalio leidykla
GenericName[lv]=Datorizdevniecība
GenericName[ms]=Penerbitan Desktop
GenericName[nb]=Datatrykkeprogram
GenericName[ne]=डेस्कटप प्रकाशन
GenericName[nn]=Datatrykk
GenericName[pa]=ਡਿਸਕਟਾਪ ਪਰਕਾਸ਼ਨ
GenericName[pt]=Publicação no Ecrã
GenericName[pt_BR]=Editoração Eletrônica
GenericName[ru]=Настольное издательство
GenericName[se]=Dáhtaprentenprográmma
GenericName[sl]=Namizno založništvo
GenericName[sr]=Стоно издаваштво
GenericName[sr@latin]=Stono izdavaštvo
GenericName[ta]=திரைமேசை பதிப்பித்தல்
GenericName[tg]=Нашриёт
GenericName[th]=โปรแกรมจัดหน้าสิ่งพิมพ์
GenericName[tr]=Masaüstü Yayıncılık
GenericName[uk]=Видавнича система
GenericName[uz]=Kichik nashriyot
GenericName[uz@cyrillic]=Кичик нашриёт
GenericName[vi]=Xuất bản trên máy cá nhân
GenericName[wa]=Metaedje e pådje
GenericName[x-test]=xxDesktop Publishingxx
GenericName[xh]=Upapasho lwe Desktop
GenericName[zh_CN]=桌面出版
GenericName[zh_TW]=桌面出版
Exec=scribus
Terminal=false
Icon=scribus
Type=Application
X-StandardInstall=false
