[Desktop Entry]
Name=Scribus
Name[ne]=स्क्रिबस
Name[sr]=Скрибус
Name[ta]=ஸ்கிரிபஸ்
Name[x-test]=xxScribusxx
GenericName=Desktop Publishing
GenericName[af]=Werkskerm Publisering
GenericName[ar]=نشر عبر سطح المكتب
GenericName[be]=Публікацыя
GenericName[bg]=Издателска програма
GenericName[ca]=Publicació d'escriptori
GenericName[cs]=Publikování na desktopu
GenericName[cy]=Cyhoeddi Penbwrdd
GenericName[da]=Dtp
GenericName[el]=Επιτραπέζια τυπογραφία
GenericName[eo]=DTP-programo
GenericName[es]=Maquetación
GenericName[et]=Küljendusrakendus
GenericName[fa]=نشر رومیزی
GenericName[fi]=Julkaisuohjelma
GenericName[fr]=Publication de bureau
GenericName[ga]=Foilsiú Deisce
GenericName[gl]=Publicación de Escritório
GenericName[he]=הוצאה לאור שולחנית
GenericName[hr]=Stolno izdavaštvo
GenericName[hu]=Kiadványszerkesztő
GenericName[is]=Umbrotsforrit
GenericName[it]=Pubblicazioni
GenericName[ja]=デスクトップパブリッシング
GenericName[ka]=სამაგიდო გამომცემლობა
GenericName[kk]=Үстел баспасы
GenericName[km]=ការ​បោះពុម្ព​ផ្ទៃតុ
GenericName[ko]=데스크톱 출판
GenericName[lt]=Darbastalio leidykla
GenericName[lv]=Datorizdevniecība
GenericName[ms]=Penerbitan Desktop
GenericName[nb]=Datatrykkeprogram
GenericName[ne]=डेस्कटप प्रकाशन
GenericName[nn]=Datatrykk
GenericName[pa]=ਡਿਸਕਟਾਮ ਪਰਕਾਸ਼ਨ
GenericName[pt]=Publicação no Ecrã
GenericName[pt_BR]=Editoração Eletrônica
GenericName[ru]=Настольное издательство
GenericName[se]=Dáhtaprentenprográmma
GenericName[sl]=Namizno založništvo
GenericName[sr]=Стоно издаваштво
GenericName[sr@latin]=Stono izdavaštvo
GenericName[ta]=மேல்மேசை வெளியீடு
GenericName[tg]=Нашри мизи корӣ
GenericName[th]=โปรแกรมจัดหน้าสิ่งพิมพ์
GenericName[tr]=Desktop Yayıncılık
GenericName[uk]=Видавнича система
GenericName[uz]=Кичик нашриёт
GenericName[vi]=Xuất bản trên máy cá nhân
GenericName[wa]=Metaedje e pådje
GenericName[x-test]=xxDesktop Publishingxx
GenericName[xh]=Upapasho lwe Desktop
GenericName[zh_CN]=桌面出版
GenericName[zh_TW]=桌面出版
Exec=scribus
Terminal=false
Icon=scribus
Type=Application
X-StandardInstall=false
