[Desktop Entry]
Name=Scribus
Name[af]=Scribus
Name[ar]=سكربت
Name[as]=Scribus
Name[be]=Scribus
Name[be@latin]=Scribus
Name[bg]=Scribus
Name[bn]=স্ক্রাইবাস
Name[bn_IN]=Scribus
Name[br]=Scribus
Name[ca]=Scribus
Name[ca@valencia]=Scribus
Name[cs]=Scribus
Name[csb]=Scribus
Name[cy]=Scribus
Name[da]=Scribus
Name[de]=Scribus
Name[el]=Scribus
Name[en_GB]=Scribus
Name[eo]=Scribus
Name[es]=Scribus
Name[et]=Scribus
Name[eu]=Scribus
Name[fi]=Scribus
Name[fr]=Scribus
Name[fy]=Scribus
Name[ga]=Scribus
Name[gl]=Scribus
Name[gu]=સ્ક્રિબસ
Name[he]=Scribus
Name[hi]=स्क्रिबस
Name[hne]=स्क्रिबस
Name[hr]=Scribus
Name[hsb]=Scribus
Name[hu]=Scribus
Name[is]=Scribus
Name[it]=Scribus
Name[ja]=Scribus
Name[ka]=Scribus
Name[kk]=Scribus
Name[km]=Scribus
Name[kn]=ಸ್ಕ್ರೈಬಸ್
Name[ko]=Scribus
Name[ku]=Scribus
Name[lt]=Scribus
Name[lv]=Scribus
Name[mai]=स्क्रिबस
Name[mk]=Scribus
Name[ml]=സ്ക്രൈബസ്
Name[mr]=स्क्रायबस
Name[ms]=Scribus
Name[nb]=Scribus
Name[nds]=Scribus
Name[ne]=स्क्रिबस
Name[nl]=Scribus
Name[nn]=Scribus
Name[oc]=Scribus
Name[or]=Scribus
Name[pa]=Scribus
Name[pl]=Scribus
Name[pt]=Scribus
Name[pt_BR]=Scribus
Name[ro]=Scribus
Name[ru]=Scribus
Name[se]=Scribus
Name[si]=Scribus
Name[sk]=Scribus
Name[sl]=Scribus
Name[sr]=Скрибус
Name[sr@latin]=Scribus
Name[sv]=Scribus
Name[ta]=ஸ்கிரைபஸ்
Name[te]=స్క్రిబస్
Name[tg]=Scribus
Name[th]=Scribus
Name[tr]=Scribus
Name[uk]=Scribus
Name[uz]=Scribus
Name[uz@cyrillic]=Scribus
Name[vi]=Scribus
Name[wa]=Scribus
Name[xh]=Scribus
Name[x-test]=xxScribusxx
Name[zh_CN]=Scribus
Name[zh_TW]=Scribus
GenericName=Desktop Publishing
GenericName[af]=Werkskerm Publisering
GenericName[ar]=نشر عبر سطح المكتب
GenericName[as]=ডেষ্কট'প প্ৰকাশন
GenericName[be]=Публікацыя
GenericName[be@latin]=Publikacyja
GenericName[bg]=Издателска програма
GenericName[bn]=ডেস্কটপ প্রকাশনা
GenericName[bn_IN]=ডেস্কটপ প্রকাশনা
GenericName[ca]=Publicació d'escriptori
GenericName[ca@valencia]=Publicació d'escriptori
GenericName[cs]=Publikování na desktopu
GenericName[csb]=Desktop Publishing
GenericName[cy]=Cyhoeddi Penbwrdd
GenericName[da]=Dtp
GenericName[de]=Desktop Publishing
GenericName[el]=Επιτραπέζια τυπογραφία
GenericName[en_GB]=Desktop Publishing
GenericName[eo]=DTP-programo
GenericName[es]=Maquetación
GenericName[et]=Küljendusrakendus
GenericName[eu]=Desktop Publishing
GenericName[fa]=نشر رومیزی
GenericName[fi]=Julkaisuohjelma
GenericName[fr]=Publication assistée par ordinateur
GenericName[fy]=Desktop Publishing
GenericName[ga]=Foilsiú Deisce
GenericName[gl]=Maquetador de publicacións
GenericName[gu]=ડેસ્કટોપ પબ્લિશિંગ
GenericName[he]=הוצאה לאור שולחנית
GenericName[hi]=डेस्कटॉप प्रकाशन
GenericName[hne]=डेस्कटाप प्रकासन
GenericName[hr]=Stolno izdavaštvo
GenericName[hsb]=DTP
GenericName[hu]=Kiadványszerkesztő
GenericName[is]=Umbrotsforrit
GenericName[it]=Pubblicazioni
GenericName[ja]=デスクトップパブリッシング
GenericName[ka]=სამაგიდო გამომცემლობა
GenericName[kk]=Үстел баспасы
GenericName[km]=ការ​បោះពុម្ព​ផ្ទៃតុ
GenericName[kn]=ಗಣಕತೆರೆ  ಪ್ರಕಾಶನ
GenericName[ko]=데스크톱 출판
GenericName[ku]=Weşandina Sermaseyê
GenericName[lt]=Darbastalio leidykla
GenericName[lv]=Datorizdevniecība
GenericName[mai]=डेस्कटाप प्रकाशन
GenericName[mk]=Desktop Publishing
GenericName[ml]=ഡെസ്ക്ടോപ്പ് പബ്ലിഷിങ്ങ്
GenericName[mr]=डेस्कटॉप प्रकाशन
GenericName[ms]=Penerbitan Desktop
GenericName[nb]=Datatrykkeprogram
GenericName[nds]=Desktop Publishing
GenericName[ne]=डेस्कटप प्रकाशन
GenericName[nl]=Desktop Publishing
GenericName[nn]=Datatrykk
GenericName[or]=ଡ଼େସ୍କଟପ ପ୍ରକାଶନ
GenericName[pa]=ਡਿਸਕਟਾਪ ਪਰਕਾਸ਼ਨ
GenericName[pl]=Desktop Publishing
GenericName[pt]=Publicação no Ecrã
GenericName[pt_BR]=Editoração eletrônica
GenericName[ro]=Editare de birou
GenericName[ru]=Издательская система
GenericName[se]=Dáhtaprentenprográmma
GenericName[sk]=Desktop Publishing
GenericName[sl]=Namizno založništvo
GenericName[sr]=Стоно издаваштво
GenericName[sr@latin]=Stono izdavaštvo
GenericName[sv]=Desktop Publishing
GenericName[ta]=திரைமேசை பதிப்பித்தல்
GenericName[te]=రంగస్థలం ప్రచురణ
GenericName[tg]=Нашриёт
GenericName[th]=โปรแกรมจัดหน้าสิ่งพิมพ์
GenericName[tr]=Masaüstü Yayıncılık
GenericName[uk]=Видавнича система
GenericName[uz]=Kichik nashriyot
GenericName[uz@cyrillic]=Кичик нашриёт
GenericName[vi]=Xuất bản trên máy cá nhân
GenericName[wa]=Metaedje e pådje
GenericName[xh]=Upapasho lwe Desktop
GenericName[x-test]=xxDesktop Publishingxx
GenericName[zh_CN]=桌面出版
GenericName[zh_TW]=桌面出版
Exec=scribus
Terminal=false
Icon=scribus
Type=Application
X-StandardInstall=false
