[Desktop Entry]
Name=WordPerfect 2000
Name[af]=Wordperfect 2000
Name[ar]=WordPerfect 2000
Name[as]=WordPerfect 2000
Name[be]=WordPerfect 2000
Name[be@latin]=WordPerfect 2000
Name[bg]=WordPerfect 2000
Name[bn]=ওয়ার্ড-পারফেক্ট ২০০০
Name[bn_IN]=WordPerfect 2000
Name[br]=WordPerfect 2000
Name[ca]=WordPerfect 2000
Name[ca@valencia]=WordPerfect 2000
Name[cs]=WordPerfect 2000
Name[csb]=WordPerfect 2000
Name[cy]=WordPerfect 2000
Name[da]=WordPerfect 2000
Name[de]=WordPerfect 2000
Name[el]=WordPerfect 2000
Name[en_GB]=WordPerfect 2000
Name[eo]=WordPerfect 2000
Name[es]=WordPerfect 2000
Name[et]=WordPerfect 2000
Name[eu]=WordPerfect 2000
Name[fi]=WordPerfect 2000
Name[fr]=WordPerfect 2000
Name[fy]=WordPerfect 2000
Name[ga]=WordPerfect 2000
Name[gl]=WordPerfect 2000
Name[gu]=વર્ડપરફેક્ટ ૨૦૦૦
Name[he]=WordPerfect 2000
Name[hi]=वर्डपरफेक्ट 2000
Name[hne]=वर्डपरफेक्ट 2000
Name[hr]=Wordperfect 2000
Name[hsb]=WordPerfect 2000
Name[hu]=WordPerfect 2000
Name[is]=WordPerfect 2000
Name[it]=WordPerfect 2000
Name[ja]=WordPerfect 2000
Name[ka]=WordPerfect 2000
Name[kk]=WordPerfect 2000
Name[km]=WordPerfect ២០០០
Name[kn]=ವರ್ಡ್ ಪರ್ಫೆಕ್ಟ್ ೨೦೦೦
Name[ko]=WordPerfect 2000
Name[ku]=WordPerfect 2000
Name[lt]=WordPerfect 2000
Name[lv]=WordPerfect 2000
Name[mai]=वर्डपरफेक्ट 2000
Name[mk]=WordPerfect 2000
Name[ml]=വേര്‍ഡ് പെര്‍ഫക്റ്റ് 2000
Name[mr]=वर्डपरफेक्ट 2000
Name[ms]=WordPerfect 2000
Name[nb]=WordPerfect 2000
Name[nds]=WordPerfect 2000
Name[ne]=वर्ड पर्फेक्ट २०००
Name[nl]=WordPerfect 2000
Name[nn]=Word Perfect 2000
Name[oc]=WordPerfect 2000
Name[or]=WordPerfect 2000
Name[pa]=WordPerfect 2000
Name[pl]=WordPerfect 2000
Name[pt]=WordPerfect 2000
Name[pt_BR]=WordPerfect 2000
Name[ro]=WordPerfect 2000
Name[ru]=WordPerfect 2000
Name[se]=Word Perfect 2000
Name[si]=WordPerfect 2000
Name[sk]=WordPerfect 2000
Name[sl]=WordPerfect 2000
Name[sr]=Вордперфект 2000
Name[sr@latin]=WordPerfect 2000
Name[sv]=Wordperfect 2000
Name[ta]=வேர்ட்பர்பெக்ட் 2000
Name[te]=వర్డ్ పెర్ఫెక్ట్ 2000
Name[tg]=WordPerfect 2000
Name[th]=WordPerfect 2000
Name[tr]=WordPerfect 2000
Name[uk]=WordPerfect 2000
Name[uz]=WordPerfect 2000
Name[uz@cyrillic]=WordPerfect 2000
Name[vi]=WordPerfect 2000
Name[wa]=WordPerfect 2000
Name[xh]=WordPerfect 2000
Name[x-test]=xxWordPerfect 2000xx
Name[zh_CN]=WordPerfect 2000
Name[zh_TW]=WordPerfect 2000
MimeType=application/vnd.wordperfect;application/msword;application/x-winword97;
Exec=wordperfect
Icon=wp
X-DocPath=
Type=Application
Terminal=false
GenericName=Word Processor
GenericName[af]=Woordverwerker
GenericName[ar]=معالج نصوص
GenericName[as]=Word Processor
GenericName[be]=Тэкставы працэсар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстообработваща програма
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[bn_IN]=ওয়ার্ড প্রসেসর
GenericName[br]=Skridtreterezh
GenericName[ca]=Processador Word
GenericName[ca@valencia]=Processador Word
GenericName[cs]=Textový procesor
GenericName[csb]=Procesora tekstu
GenericName[cy]=Prosesydd Geiriau
GenericName[da]=Tekstbehandling
GenericName[de]=Textverarbeitung
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Word Processor
GenericName[eo]=Verkilo
GenericName[es]=Procesador de textos
GenericName[et]=Tekstitöötlus
GenericName[eu]=Testu prozesatzailea
GenericName[fa]=واژه‌پرداز
GenericName[fi]=Tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte
GenericName[fy]=Tekstferwurker
GenericName[ga]=Próiseálaí Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hi]=वर्ड प्रोसेसर
GenericName[hne]=वर्ड प्रोसेसर
GenericName[hr]=Program za obrada teksta
GenericName[hsb]=Předźěłar dokumentow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Videoscrittura
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტური პროცესორი
GenericName[kk]=Мәтін өңдеуші
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[kn]=ಪದ ಸಂಸ್ಕಾರಕ
GenericName[ko]=워드 프로세서
GenericName[ku]=Kiryarkara Peyvê
GenericName[lt]=Tekstų apdorotojas
GenericName[lv]=Tekstapstrādes programma
GenericName[mai]=वर्ड प्रोसेसर
GenericName[mk]=Програма за обработка на текст
GenericName[ml]=വേര്‍ഡ് പ്രൊസസ്സര്‍
GenericName[mr]=वर्ड प्रोसेसर
GenericName[ms]=Pemproses Kata
GenericName[nb]=Tekstbehandler
GenericName[nds]=Textprogramm
GenericName[ne]=वर्ड प्रोसेसर
GenericName[nl]=Tekstverwerker
GenericName[nn]=Teksthandsamar
GenericName[oc]=Tractament de tèxt
GenericName[or]=ଶବ୍ଦ ସଞ୍ଚାଳକ
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de texto
GenericName[ro]=Procesor de text
GenericName[ru]=Текстовый процессор
GenericName[se]=Teakstagieđahalli
GenericName[si]=Word Processor
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedila
GenericName[sr]=Обрађивач текста
GenericName[sr@latin]=Obrađivač teksta
GenericName[sv]=Ordbehandlare
GenericName[ta]=வேர்ட் பிராசசர்
GenericName[te]=వర్‍డ్ ప్రోసెసర్
GenericName[tg]=Барномаи Word
GenericName[th]=โปรแกรมประมวลผลคำ
GenericName[tr]=Kelime İşlemci
GenericName[uk]=Текстовий процесор
GenericName[uz]=Matn protsessori
GenericName[uz@cyrillic]=Матн процессори
GenericName[vi]=Bộ xử lý văn bản
GenericName[wa]=Aspougneu d' mot
GenericName[xh]=Word Processor
GenericName[x-test]=xxWord Processorxx
GenericName[zh_CN]=字处理程序
GenericName[zh_TW]=文書處理程式
X-KDE-StartupNotify=false
