[Desktop Entry]
Encoding=UTF-8
Name=xacc
Name[es]=Xacc
Name[fr]=XAcc
Name[sv]=Xacc
Name[x-test]=xxxaccxx
MimeType=
Exec=xacc
Icon=xapp
Path=
DocPath=
Type=Application
Terminal=false
GenericName=Personal Accounting Tool
GenericName[af]=Persoonlike Rekeninge Program
GenericName[be]=Персанальная бухгалтэрыя
GenericName[bg]=Водене на сметки
GenericName[ca]=Gestor personal de comptes
GenericName[cs]=Osobní účetnictví
GenericName[csb]=Swòje kònta
GenericName[cy]=Erfyn Cyfrifio Personol
GenericName[da]=Personligt bogholderiværktøj
GenericName[de]=Persönliches Buchhaltungsprogramm
GenericName[el]=Εργαλείο προσωπικών οικονομικών
GenericName[eo]=Persona kontilo
GenericName[es]=Herramienta de contabilidad personal
GenericName[et]=Isiklik finantsarvestus
GenericName[eu]=Kontu kudeatzaile pertsonala
GenericName[fa]=ابزار حسابداری شخصی
GenericName[fi]=Henkilökohtainen kirjanpitotyökalu
GenericName[fr]=Logiciel de comptabilité personnelle
GenericName[fy]=Privéboekhâlding
GenericName[ga]=Uirlis Chuntasaíochta Phearsanta
GenericName[gl]=Ferramenta de Contabilidade Persoal
GenericName[he]=כלי הנהלת חשבונות אישי
GenericName[hr]=Alat za osobne financije 
GenericName[hu]=Határidőnapló
GenericName[is]=Heimabókhaldið
GenericName[it]=Programma per la contabilità personale
GenericName[ja]=個人向け会計ツール
GenericName[ka]=პერსონალური ბუღალტერიის ხელსაწყო 
GenericName[kk]=Дербес есеп-қисап
GenericName[km]=ឧបករណ៍​គណនី​ផ្ទាល់​ខ្លួន
GenericName[lt]=Asmeninės sąskaitybos įrankis
GenericName[lv]=Personālās Uzskaites Rīks
GenericName[mk]=Алатка за лично сметководство
GenericName[ms]=Alat Perakaunan Peribadi
GenericName[nb]=Personlig kontoverktøy
GenericName[nds]=Programm för dat Plegen vun'n Konto
GenericName[ne]=व्यक्तिगत खाता उपकरण
GenericName[nl]=Privéboekhouding
GenericName[nn]=Personleg kontoverktøy
GenericName[pa]=ਨਿੱਜੀ ਵਹੀ-ਖਾਤਾ ਸੰਦ
GenericName[pl]=Konta osobiste
GenericName[pt]=Ferramenta de Contabilidade Pessoal
GenericName[pt_BR]=Ferramenta de Contabilidade Pessoal
GenericName[ro]=Program de contabilitate personal
GenericName[ru]=Личная бухгалтерия
GenericName[se]=Persovnnalaš kontoreaidu
GenericName[sl]=Orodje za osebno evidenco
GenericName[sr]=Алат за лично рачуноводство
GenericName[sr@latin]=Alat za lično računovodstvo
GenericName[sv]=Personligt redovisningsverktyg
GenericName[ta]=தனிப்பட்ட கணக்கிடும் கருவி
GenericName[tg]=Обзори ҳисобдори шахсӣ
GenericName[tr]=Kişisel Muhasebe Aracı
GenericName[uk]=Засіб ведення особистих рахунків
GenericName[uz]=Шахсий ҳисоб-китоб воситаси
GenericName[x-test]=xxPersonal Accounting Toolxx
GenericName[zh_TW]=個人會計程式
X-KDE-StartupNotify=false
