[Desktop Entry]
Name=xacc
Name[af]=xacc
Name[ar]=xacc
Name[as]=xacc
Name[be]=xacc
Name[be@latin]=xacc
Name[bg]=xacc
Name[bn]=xacc
Name[bn_IN]=xacc
Name[br]=xacc
Name[ca]=xacc
Name[ca@valencia]=xacc
Name[cs]=xacc
Name[csb]=xacc
Name[cy]=xacc
Name[da]=xacc
Name[de]=xacc
Name[el]=xacc
Name[en_GB]=xacc
Name[eo]=xacc
Name[es]=Xacc
Name[et]=xacc
Name[eu]=xacc
Name[fi]=xacc
Name[fr]=XAcc
Name[fy]=xacc
Name[ga]=xacc
Name[gl]=xacc
Name[gu]=xacc
Name[he]=xacc
Name[hi]=एक्सएसीसी
Name[hne]=एक्सएसीसी
Name[hr]=xacc
Name[hsb]=xacc
Name[hu]=xacc
Name[is]=xacc
Name[it]=xacc
Name[ja]=xacc
Name[ka]=xacc
Name[kk]=xacc
Name[km]=xacc
Name[kn]=ಕ್ಸಾಕ್
Name[ko]=xacc
Name[ku]=xacc
Name[lt]=xacc
Name[lv]=xacc
Name[mai]=एक्सएसीसी
Name[mk]=xacc
Name[ml]=എക്സ്എസിസി
Name[mr]=एक्सएसीसी
Name[ms]=xacc
Name[nb]=xacc
Name[nds]=xacc
Name[ne]=xacc
Name[nl]=xacc
Name[nn]=xacc
Name[oc]=xacc
Name[or]=xacc
Name[pa]=xacc
Name[pl]=xacc
Name[pt]=xacc
Name[pt_BR]=xacc
Name[ro]=xacc
Name[ru]=xacc
Name[se]=xacc
Name[si]=xacc
Name[sk]=xacc
Name[sl]=xacc
Name[sr]=Икс‑ац
Name[sr@latin]=xacc
Name[sv]=Xacc
Name[ta]=xacc
Name[te]=xacc
Name[tg]=xacc
Name[th]=xacc
Name[tr]=xacc
Name[uk]=xacc
Name[uz]=xacc
Name[uz@cyrillic]=xacc
Name[vi]=xacc
Name[wa]=xacc
Name[xh]=xacc
Name[x-test]=xxxaccxx
Name[zh_CN]=xacc
Name[zh_TW]=xacc
MimeType=
Exec=xacc
Icon=xapp
X-DocPath=
Type=Application
Terminal=false
GenericName=Personal Accounting Tool
GenericName[af]=Persoonlike Boekhou-program
GenericName[ar]=أداة الحسابات الشخصية
GenericName[as]=ব্যক্তিগত হিচাপ ৰখাৰ সৰঞ্জাম
GenericName[be]=Персанальная бухгалтэрыя
GenericName[be@latin]=Pryłada dla ŭliku ŭłasnych hrošaj
GenericName[bg]=Водене на сметки
GenericName[bn]=ব্যক্তিগত হিসাবরক্ষা টুল
GenericName[ca]=Gestor personal de comptes
GenericName[ca@valencia]=Gestor personal de comptes
GenericName[cs]=Osobní účetnictví
GenericName[csb]=Swòje kònta
GenericName[cy]=Erfyn Cyfrifio Personol
GenericName[da]=Personligt bogholderiværktøj
GenericName[de]=Persönliches Buchhaltungsprogramm
GenericName[el]=Εργαλείο προσωπικών οικονομικών
GenericName[en_GB]=Personal Accounting Tool
GenericName[eo]=Persona kontilo
GenericName[es]=Herramienta de contabilidad personal
GenericName[et]=Isiklik finantsarvestus
GenericName[eu]=Kontu kudeatzaile pertsonala
GenericName[fa]=ابزار حسابداری شخصی
GenericName[fi]=Henkilökohtainen kirjanpitotyökalu
GenericName[fr]=Logiciel de comptabilité personnelle
GenericName[fy]=Privéboekhâlding
GenericName[ga]=Uirlis Chuntasaíochta Phearsanta
GenericName[gl]=Xestor de finanzas persoais
GenericName[gu]=અંગત નામાંનું સાધન
GenericName[he]=כלי הנהלת חשבונות אישי
GenericName[hi]=निजी एकाउन्टिंग औज़ार
GenericName[hne]=निजी एकाउन्टिंग औजार
GenericName[hr]=Alat za osobne financije 
GenericName[hsb]=Knihiwjednistwo
GenericName[hu]=Határidőnapló
GenericName[is]=Heimabókhaldið
GenericName[it]=Programma per la contabilità personale
GenericName[ja]=個人向け会計ツール
GenericName[ka]=პერსონალური ბუღალტერიის ხელსაწყო 
GenericName[kk]=Дербес есеп-қисап
GenericName[km]=កម្មវិធី​គណនី​​ផ្ទាល់​ខ្លួន
GenericName[kn]=ವೈಯಕ್ತಿಕ  ಕರಣಿಕ (ಅಕೌಂಟಿಂಗ್) ಸಲಕರಣೆ
GenericName[ko]=개인 재무 도구
GenericName[ku]=Amûra Hesabkirinê a Takekesî
GenericName[lt]=Asmeninės sąskaitybos įrankis
GenericName[lv]=Personīgais uzskaites rīks
GenericName[mai]=निज एकाउन्टिंग अओजार
GenericName[mk]=Алатка за лично сметководство
GenericName[ml]=സ്വകാര്യ വരവുചെലവു ഗണനി
GenericName[mr]=खाजगी एकाउन्टिंग साधन
GenericName[ms]=Alat Perakaunan Peribadi
GenericName[nb]=Personlig kontoverktøy
GenericName[nds]=Programm för dat Plegen vun'n Konto
GenericName[ne]=व्यक्तिगत खाता उपकरण
GenericName[nl]=Privéboekhouding
GenericName[nn]=Personleg kontoverktøy
GenericName[or]=ବ୍ୟକ୍ତିଗତ ହିସାବ ସାଧନ
GenericName[pa]=ਨਿੱਜੀ ਵਹੀ-ਖਾਤਾ ਟੂਲ
GenericName[pl]=Konta osobiste
GenericName[pt]=Ferramenta de Contabilidade Pessoal
GenericName[pt_BR]=Ferramenta de contabilidade pessoal
GenericName[ro]=Program de contabilitate personală
GenericName[ru]=Личная бухгалтерия
GenericName[se]=Persovnnalaš kontoreaidu
GenericName[si]=පෞද්ගලික ගිණිම්කරණ මෙවලම
GenericName[sk]=Osobné účtovníctvo
GenericName[sl]=Orodje za osebno evidenco
GenericName[sr]=Алатка за лично рачуновођство
GenericName[sr@latin]=Alatka za lično računovođstvo
GenericName[sv]=Personligt redovisningsverktyg
GenericName[ta]=தனிப்பட்ட கணக்கிடும் கருவி
GenericName[te]=వ్యక్తిగత జమాలెక్కల సాధనం
GenericName[tg]=Барномаи ҳисоботи шахсӣ
GenericName[th]=เครื่องมือทำบัญชีส่วนตัว
GenericName[tr]=Kişisel Muhasebe Aracı
GenericName[uk]=Засіб ведення особистих рахунків
GenericName[uz]=Shaxsiy hisob-kitob vositasi
GenericName[uz@cyrillic]=Шахсий ҳисоб-китоб воситаси
GenericName[vi]=Công cụ Kế toán Cá nhân
GenericName[wa]=Usteye po les contes da vosse
GenericName[xh]=Personal Accounting Tool
GenericName[x-test]=xxPersonal Accounting Toolxx
GenericName[zh_CN]=个人记账工具
GenericName[zh_TW]=個人會計程式
X-KDE-StartupNotify=false
