[Desktop Entry]
Name=xacc
Name[es]=Xacc
Name[fr]=XAcc
Name[hi]=एक्सएसीसी
Name[sr]=Икс‑ац
Name[sv]=Xacc
Name[x-test]=xxxaccxx
MimeType=
Exec=xacc
Icon=xapp
X-DocPath=
Type=Application
Terminal=false
GenericName=Personal Accounting Tool
GenericName[af]=Persoonlike Rekeninge Program
GenericName[ar]=أداة الحسابات الشخصية
GenericName[be]=Персанальная бухгалтэрыя
GenericName[bg]=Водене на сметки
GenericName[bn]=ব্যক্তিগত হিসাবরক্ষা টুল
GenericName[ca]=Gestor personal de comptes
GenericName[cs]=Osobní účetnictví
GenericName[csb]=Swòje kònta
GenericName[cy]=Erfyn Cyfrifio Personol
GenericName[da]=Personligt bogholderiværktøj
GenericName[de]=Persönliches Buchhaltungsprogramm
GenericName[el]=Εργαλείο προσωπικών οικονομικών
GenericName[eo]=Persona kontilo
GenericName[es]=Herramienta de contabilidad personal
GenericName[et]=Isiklik finantsarvestus
GenericName[eu]=Kontu kudeatzaile pertsonala
GenericName[fa]=ابزار حسابداری شخصی
GenericName[fi]=Henkilökohtainen kirjanpitotyökalu
GenericName[fr]=Logiciel de comptabilité personnelle
GenericName[fy]=Privéboekhâlding
GenericName[ga]=Uirlis Chuntasaíochta Phearsanta
GenericName[gl]=Xestor financeiro persoal
GenericName[he]=כלי הנהלת חשבונות אישי
GenericName[hi]=निजी एकाउन्टिंग औज़ार
GenericName[hr]=Alat za osobne financije 
GenericName[hu]=Határidőnapló
GenericName[is]=Heimabókhaldið
GenericName[it]=Programma per la contabilità personale
GenericName[ja]=個人向け会計ツール
GenericName[ka]=პერსონალური ბუღალტერიის ხელსაწყო 
GenericName[kk]=Дербес есеп-қисап
GenericName[km]=កម្មវិធី​គណនី​​ផ្ទាល់​ខ្លួន
GenericName[ko]=개인 재무 도구
GenericName[ku]=Amûra Hesabkirinê a Takekesî
GenericName[lt]=Asmeninės sąskaitybos įrankis
GenericName[lv]=Personīgais uzskaites rīks
GenericName[mk]=Алатка за лично сметководство
GenericName[ms]=Alat Perakaunan Peribadi
GenericName[nb]=Personlig kontoverktøy
GenericName[nds]=Programm för dat Plegen vun'n Konto
GenericName[ne]=व्यक्तिगत खाता उपकरण
GenericName[nl]=Privéboekhouding
GenericName[nn]=Personleg kontoverktøy
GenericName[pa]=ਨਿੱਜੀ ਵਹੀ-ਖਾਤਾ ਟੂਲ
GenericName[pl]=Konta osobiste
GenericName[pt]=Ferramenta de Contabilidade Pessoal
GenericName[pt_BR]=Ferramenta de Contabilidade Pessoal
GenericName[ro]=Program de contabilitate personală
GenericName[ru]=Личная бухгалтерия
GenericName[se]=Persovnnalaš kontoreaidu
GenericName[sk]=Osobné účtovníctvo
GenericName[sl]=Orodje za osebno evidenco
GenericName[sr]=Алатка за лично рачуновођство
GenericName[sr@latin]=Alatka za lično računovođstvo
GenericName[sv]=Personligt redovisningsverktyg
GenericName[ta]=தனிப்பட்ட கணக்கிடும் கருவி
GenericName[tg]=Обзори ҳисобдори шахсӣ
GenericName[th]=เครื่องมือทำบัญชีส่วนตัว
GenericName[tr]=Kişisel Muhasebe Aracı
GenericName[uk]=Засіб ведення особистих рахунків
GenericName[uz]=Шахсий ҳисоб-китоб воситаси
GenericName[vi]=Công cụ Kế toán Cá nhân
GenericName[wa]=Usteye po les contes da vosse
GenericName[x-test]=xxPersonal Accounting Toolxx
GenericName[zh_CN]=个人记账工具
GenericName[zh_TW]=個人會計程式
X-KDE-StartupNotify=false
