[Desktop Entry]
Encoding=UTF-8
Name=X PDF
Name[de]=X-PDF
Name[eo]=XPDF
Name[es]=PDF para X
Name[fr]=XPDF
Name[nds]=X-PDF
Name[te]=ఎక్స్ పిడిఎఫ్
Name[x-test]=xxX PDFxx
MimeType=application/pdf;
GenericName=PDF Viewer
GenericName[af]=Pdf Aansig
GenericName[ar]=PDF عارض ملفات
GenericName[be]=Праглядальнік PDF
GenericName[bg]=Преглед на PDF документи
GenericName[br]=Gweler PDF
GenericName[ca]=Visor PDF
GenericName[cs]=Prohlížeč PDF souborů
GenericName[csb]=Przezérnik PDF
GenericName[cy]=Gwelydd PDF
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[el]=Προβολέας PDF
GenericName[eo]=PDF-rigardilo
GenericName[es]=Visor de documentos PDF
GenericName[et]=PDF-failide näitaja
GenericName[eu]=PDF ikustailua
GenericName[fa]=مشاهده‌گر PDF
GenericName[fi]=PDF-näytin
GenericName[fr]=Afficheur PDF
GenericName[fy]=PDF-werjefteprogramma
GenericName[ga]=Amharcán PDF
GenericName[gl]=Visualizador de PDF
GenericName[he]=מציג קבצי PDF
GenericName[hr]=Preglednik PDF dokumenata
GenericName[hu]=PDF-nézegető
GenericName[is]=PDF-sjá
GenericName[it]=Visore PDF
GenericName[ja]=PDF ビューア
GenericName[ka]=PDF დოკუმენტების სანახავი პროგრამა
GenericName[kk]=PDF қарау құралы
GenericName[km]=កម្មវិធី​មើល PDF
GenericName[ko]=PDF 뷰어
GenericName[lt]=PDF Žiūriklis
GenericName[lv]=PDF Skatītājs
GenericName[mk]=Прегледувач на PDF
GenericName[ms]=Pemapar PDF
GenericName[nb]=PDF-leser
GenericName[nds]=Kieker för PDF-Dateien
GenericName[ne]=पीडीएफ दर्शक
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[pa]=PDF ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików PDF
GenericName[pt]=Visualizador de PDFs
GenericName[pt_BR]=Visualizador de PDF
GenericName[ro]=Vizualizor de documente PDF
GenericName[ru]=Программа просмотра документов PDF
GenericName[se]=PDF-logan
GenericName[sl]=Pregledovalnik datotek PDF
GenericName[sr]=PDF приказивач
GenericName[sr@latin]=PDF prikazivač
GenericName[sv]=PDF-visare
GenericName[ta]=PDF காட்சி
GenericName[tg]=Намоишгари PDF
GenericName[th]=ตัวแสดงผล PDF
GenericName[tr]=PDF Görüntüleyici
GenericName[uk]=Переглядач PDF
GenericName[uz]=PDF кўрувчи
GenericName[vi]=Trình xem PDF
GenericName[wa]=Håyneu di documints PDF
GenericName[x-test]=xxPDF Viewerxx
GenericName[zh_CN]=PDF 查看器
GenericName[zh_TW]=PDF 檢視程式
Exec=xpdf
Icon=gv
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
