[Desktop Entry]
Name=XsLite
Name[af]=XsLite
Name[ar]=XsLite
Name[as]=XsLite
Name[be]=XsLite
Name[be@latin]=XsLite
Name[bg]=XsLite
Name[bn]=XsLite
Name[bn_IN]=XsLite
Name[br]=XsLite
Name[ca]=XsLite
Name[ca@valencia]=XsLite
Name[cs]=XsLite
Name[csb]=XsLite
Name[cy]=XsYsgafn
Name[da]=XsLite
Name[de]=XsLite
Name[el]=XsLite
Name[en_GB]=XsLite
Name[eo]=XsLite
Name[es]=XsLite
Name[et]=XsLite
Name[eu]=XsLite
Name[fi]=XsLite
Name[fr]=XsLite
Name[fy]=XsLite
Name[ga]=XsLite
Name[gl]=XsLite
Name[gu]=XsLite
Name[he]=XsLite
Name[hi]=एक्सएस-लाइट
Name[hne]=एक्सएस-लाइट
Name[hr]=XsLite
Name[hsb]=XsLite
Name[hu]=XsLite
Name[is]=XsLite
Name[it]=XsLite
Name[ja]=XsLite
Name[ka]=XsLite
Name[kk]=XsLite
Name[km]=XsLite
Name[kn]=ಕ್ಸಸಲೈಟ್
Name[ko]=XsLite
Name[ku]=XsLite
Name[lt]=XsLite
Name[lv]=XsLite
Name[mai]=एक्सएस-लाइट
Name[mk]=XsLite
Name[ml]=എക്സ്എസ് ലൈറ്റ്
Name[mr]=एक्सएस-लाइट
Name[ms]=XsLite
Name[nb]=XsLite
Name[nds]=XsLite
Name[ne]=XsLite
Name[nl]=XsLite
Name[nn]=XsLite
Name[or]=XsLite
Name[pa]=XsLite
Name[pl]=XsLite
Name[pt]=XsLite
Name[pt_BR]=XsLite
Name[ro]=XsLite
Name[ru]=XsLite
Name[se]=XsLite
Name[si]=XsLite
Name[sk]=XsLite
Name[sl]=XsLite
Name[sr]=Ексес‑лајт
Name[sr@latin]=XsLite
Name[sv]=Xslite
Name[ta]=Xsலைட்
Name[te]=XsLite
Name[tg]=XsLite
Name[th]=XsLite
Name[tr]=XsLite
Name[uk]=XsLite
Name[uz]=XsLite
Name[uz@cyrillic]=XsLite
Name[vi]=XsLite
Name[wa]=XsLite
Name[xh]=XsLite
Name[x-test]=xxXsLitexx
Name[zh_CN]=XsLite
Name[zh_TW]=XsLite
MimeType=
Exec=xslite
Icon=xapp
X-DocPath=
Type=Application
Terminal=false
GenericName=Spread Sheet
GenericName[af]=Sigblad
GenericName[ar]=ورقة حسابات
GenericName[as]=Spread Sheet
GenericName[be]=Электронныя табліцы
GenericName[be@latin]=Prahrama dla stvareńnia raźlikovych arkušoŭ
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেড-শিট
GenericName[bn_IN]=স্প্রেড-শিট
GenericName[br]=Loger
GenericName[ca]=Full de càlcul
GenericName[ca@valencia]=Full de càlcul
GenericName[cs]=Tabulkový procesor
GenericName[csb]=Kalkùlacëjny lëst
GenericName[cy]=Taenlen
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[el]=Λογιστικό φύλλο
GenericName[en_GB]=Spread Sheet
GenericName[eo]=Tabelkalkulilo
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[eu]=Kalkulu orria
GenericName[fa]=صفحه گسترده
GenericName[fi]=Taulukkolaskentaohjelma
GenericName[fr]=Tableur
GenericName[fy]=Rekkenblêd
GenericName[ga]=Scarbhileog
GenericName[gl]=Folla de cálculo
GenericName[gu]=સ્પ્રેડ શીટ
GenericName[he]=גיליון אלקטרוני
GenericName[hi]=स्प्रेड शीट
GenericName[hne]=स्प्रेड सीट
GenericName[hr]=Proračunska tablica
GenericName[hsb]=Tabelowa kalkulacija
GenericName[hu]=Táblázatkezelő
GenericName[is]=Töflureiknir
GenericName[it]=Foglio elettronico
GenericName[ja]=表計算
GenericName[ka]=ელექტრონული ცხრილი
GenericName[kk]=Электрондық кесте
GenericName[km]=សៀវភៅ​បញ្ជី
GenericName[kn]=ಹಾಸು ಹಾಳೆ (ಸ್ಪ್ರೆಡ್ ಶೀಟ್)
GenericName[ko]=스프레드시트
GenericName[ku]=Belavbûna Pelgî
GenericName[lt]=Elektroninė lentelė
GenericName[lv]=Izklājlapas
GenericName[mai]=स्प्रेड शीट
GenericName[mk]=Програма за табеларни пресметки
GenericName[ml]=സ്പ്രെഡ് ഷീറ്റ്
GenericName[mr]=स्प्रेड शीट
GenericName[ms]=Lembaran Hamparan
GenericName[nb]=Regneark
GenericName[nds]=Tabellreken
GenericName[ne]=स्प्रेडसिट
GenericName[nl]=Rekenblad
GenericName[nn]=Rekneark
GenericName[or]=ସ୍ପ୍ରେଡ଼ ସୀଟ
GenericName[pa]=ਸਪਰੈੱਡਸ਼ੀਟ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de cálculo
GenericName[pt_BR]=Planilha de cálculo
GenericName[ro]=Program de calcul tabelar
GenericName[ru]=Электронная таблица
GenericName[se]=Rehketárka
GenericName[si]=පැතුරුම්පත්
GenericName[sk]=Tabuľkový procesor
GenericName[sl]=Preglednica
GenericName[sr]=Табеларни прорачуни
GenericName[sr@latin]=Tabelarni proračuni
GenericName[sv]=Kalkylprogram
GenericName[ta]=விரிதாள்
GenericName[te]=స్ప్రెడ్ షీట్
GenericName[tg]=Ҷадвалҳои электронӣ
GenericName[th]=กระดาษคำนวณ
GenericName[tr]=Hesap Çizelgesi
GenericName[uk]=Електронна таблиця
GenericName[uz]=Elektron jadval
GenericName[uz@cyrillic]=Электрон жадвал
GenericName[vi]=Bộ tính bảng
GenericName[wa]=Tåvleu
GenericName[xh]=Spread Sheet
GenericName[x-test]=xxSpread Sheetxx
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
X-KDE-StartupNotify=false
