[Desktop Entry]
GenericName=VideoText Viewer
GenericName[af]=Video Teks Aansig
GenericName[ar]=عارض نص مرئي
GenericName[be]=Праглядальнік VideoText
GenericName[bg]=Преглед на видео текст
GenericName[bn]=ভিডিও-টেক্সট প্রদর্শক
GenericName[br]=Ur gweler VideoText
GenericName[ca]=Un visor de videotext
GenericName[cs]=Prohlížeč videotextu
GenericName[csb]=Przezérnik telegazétë
GenericName[cy]=Gwelydd TestunFideo
GenericName[da]=VideoTekst-fremviser
GenericName[de]=VideoText-Betrachter
GenericName[el]=Προβολέας VideoText
GenericName[eo]=Videotekstrigardilo
GenericName[es]=Visor de teletexto
GenericName[et]=Videoteksti näitamine
GenericName[eu]=Bideotestu ikustailua
GenericName[fa]=مشاهده‌گر متن ویدیو
GenericName[fi]=VideoText-näytin
GenericName[fr]=Afficheur vidéotexte
GenericName[fy]=Teletekst-werjefteprogramma
GenericName[ga]=Amharcán FísTéacs
GenericName[gl]=Visor de VideoText
GenericName[gu]=વિડીઓટેકસ્ટ દર્શક
GenericName[he]=מציג VideoText
GenericName[hi]=वीडियो पाठ प्रदर्शक
GenericName[hr]=Preglednik videoteksta
GenericName[hu]=Videószöveg-nézegető
GenericName[is]=VideoText birtir
GenericName[it]=Visore televideo
GenericName[ja]=ビデオテキストビューア
GenericName[ka]=პროგრამა VideoText–ის სანახავად
GenericName[kk]=VideoText қарап-шығу бағдарламасы
GenericName[km]=កម្មវិធី​មើល​អត្ថបទ​វីដេអូ
GenericName[ko]=VideoText 뷰어
GenericName[ku]=Nîşandêra VideoText
GenericName[lt]=videoteksto žiūriklis
GenericName[lv]=VideoTeksta skatītājs
GenericName[mk]=Прегледувач на видеотекст
GenericName[ms]=Pelihat VideoText
GenericName[nb]=VideoText-framviser
GenericName[nds]=Kieker för VideoText
GenericName[ne]=भिडियो पाठ दर्शक
GenericName[nl]=Teletekst-weergaveprogramma
GenericName[nn]=VideoText-visar
GenericName[pa]=ਵੀਡਿਓ ਟੈਕਸਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka telegazety
GenericName[pt]=Visualizador de Vídeo-Texto
GenericName[pt_BR]=Visualizador de Vídeo-Texto
GenericName[ro]=Vizualizor VideoText
GenericName[ru]=Программа просмотра VideoText
GenericName[se]=VideoText-čájeheaddji
GenericName[sk]=Zobrazovač VideoTextu
GenericName[sl]=Pregledovalnik videoteksta
GenericName[sr]=Приказивач видео текста
GenericName[sr@latin]=Prikazivač video teksta
GenericName[sv]=Videotext-visare
GenericName[ta]=திரைவடிவ உரை காட்சி
GenericName[te]=విడియొ వచన వీక్షిణి
GenericName[tg]=Барномаи намоиши VideoText
GenericName[th]=โปรแกรมดูข้อความวิดีโอ
GenericName[tr]=VideoText Gösterici
GenericName[uk]=Переглядач відеотекстів
GenericName[uz]=VideoText кўрувчи
GenericName[vi]=Bộ xem văn bản ảnh động
GenericName[wa]=Håyneu di pådjes VideoText
GenericName[x-test]=xxVideoText Viewerxx
GenericName[xh]=Umboniseli Wokubhaliweyo we Video
GenericName[zh_CN]=VideoText 查看程序
GenericName[zh_TW]=VideoText 檢視器
Exec=alevt
Icon=alevt
Name=AleVT
Name[af]=Alevt
Name[hi]=एएलईवीटी
Name[sr]=АлеВТ
Name[te]=ఎలెవిటి
Name[x-test]=xxAleVTxx
Type=Application
