[Desktop Entry]
Encoding=UTF-8
Exec=alsamixergui
Icon=mixer
Name=AlsaMixerGui
Name[da]=AlsaMikserGui
Name[de]=AlsaMixer-Oberfläche
Name[eo]=GUI de sonora miksilo
Name[fr]=Console de mixage Alsa
Name[gl]=Mesturador Alsa
Name[it]=GuiMixerAlsa
Name[lt]=AlsaMixer grafinė naudotojo sąsaja
Name[nb]=AlsaMixer-grensesnitt
Name[nds]=ALSAMixer-Böversiet
Name[pa]=ਅਲੀਸਾ ਮਿਕਸਰ
Name[pt_BR]=Alsa Mixer
Name[sv]=Grafiskt gränssnitt till Alsa-mixer
Name[te]=ఆల్సామిక్సర్ జియుఐ
Name[uk]=Аудіомікшер для ALSA
Name[wa]=Eterface grafike do maxheu d' son Alsa
Name[x-test]=xxAlsaMixerGuixx
GenericName=Alsa Mixer Frontend
GenericName[af]=Alsa Menger Voorkant
GenericName[be]=Праграма для міксера Alsa
GenericName[ca]=Frontal pel mesclador Alsa
GenericName[cs]=Zvukový směšovač pro Alsu
GenericName[csb]=Interfejs dlô miksera Alsa
GenericName[cy]=Blaen-wyneb Cymysgydd Alsa
GenericName[da]=Alsa-mikser forende
GenericName[de]=AudioMixer-Oberfläche
GenericName[el]=Ρύθμιση μίκτη Alsa
GenericName[eo]=Miksilo por sonoroj
GenericName[es]=Entorno de mezclador de Alsa
GenericName[et]=Alsa mikser
GenericName[eu]=Alsa Mixer ingurunea
GenericName[fa]=پیشانۀ مخطوط‌کن Alsa
GenericName[fi]=Alsa-mikserin käyttöliittymä
GenericName[fr]=Interface graphique de la console de mixage d'Alsa
GenericName[fy]=Alsa Mikser-programma
GenericName[ga]=Comhéadan Meascthóra Alsa
GenericName[gl]=Interface do Mesturador Alsa
GenericName[he]=ממשק גרפי עבור מערבל ALSA
GenericName[hr]=Sučelje za Alsa mikser
GenericName[hu]=Hangkeverő
GenericName[is]=Alsa hljóðblöndun
GenericName[it]=Interfaccia mixer di Alsa
GenericName[ja]=Alsa ミキサーフロントエンド
GenericName[ka]=Alsa მიქსერის ინტერფეისი
GenericName[kk]=Alsa микшердің интерфейсі
GenericName[ko]=웨이브(WAV) 오디오
GenericName[lt]=Alsa Mixer naudotojo sąsaja
GenericName[mk]=Аудио миксета од Alsa
GenericName[ms]=Frontend Pengadun Alsa
GenericName[nb]=Brukergrensesnitt for Alsa-mikser
GenericName[nds]=Graafsche Böversiet för den ALSA-Mischer
GenericName[ne]=एल्सा मिक्सअर फ्रन्टेन्ड
GenericName[nl]=Alsa Mixer-programma
GenericName[nn]=Brukarflate for Alsa-miksar
GenericName[pa]=ਆਲੀਸਾ ਮਿਕਸਰ ਸ਼ਕਲ
GenericName[pl]=Interfejs dla miksera Alsa
GenericName[pt]=Mesa de Mistura do ALSA
GenericName[pt_BR]=Interface do Alsa Mixer
GenericName[ro]=Interfaţă mixer Alsa
GenericName[ru]=Интерфейс к микшеру Alsa
GenericName[se]=Alsa-miksera geavaheaddjelakta
GenericName[sl]=Vmesnik mešalnika Alsa
GenericName[sr]=Сучеље за Alsa миксер
GenericName[sr@latin]=Sučelje za Alsa mikser
GenericName[sv]=Gränssnitt till Alsa-mixer
GenericName[ta]=Alsa கலவை முண்முணை
GenericName[te]=ఆల్సా మిక్సర్ యొక్క ఫ్రంటెండ్
GenericName[tg]=Интерфейс ба микшери Alsa
GenericName[tr]=Alsa Ses Karıştırıcı Önyüzü
GenericName[uk]=Інтерфейс до аудіомікшеру для ALSA
GenericName[uz]=ALSA миксери учун график интерфейс
GenericName[wa]=Eterface do maxheu d' son Alsa
GenericName[x-test]=xxAlsa Mixer Frontendxx
GenericName[zh_TW]=Alsa 混音程式
StartupNotify=false
Type=Application
Categories=AudioVideo;
