[Desktop Entry]
Encoding=UTF-8
Exec=ams
Icon=
Name=ams
Name[sv]=AMS
Name[x-test]=xxamsxx
GenericName=Alsa Modular Synthesizer
GenericName[bg]=Модулен синтезатор на ALSA
GenericName[br]=Kenaozer Alsa gant molladoù
GenericName[ca]=Sintetitzador modular ALSA
GenericName[cs]=Modulární syntezátor Alsa
GenericName[cy]=Syntheseisydd Modiwlaidd Alsa
GenericName[de]=Modularer Alsa-Synthesizer
GenericName[el]=Αρθρωτός συνθέτης Alsa
GenericName[en_GB]=Alsa Modular Synthesiser
GenericName[es]=Sintetizador modular de Alsa
GenericName[et]=Alsa modulaarne süntesaator
GenericName[eu]=Alsa sistetizatzaile modularra
GenericName[fa]=ترکیب‌گر پیمانه‌ای Alsa
GenericName[fi]=Alsan modulaarinen syntetisaattori
GenericName[fr]=Synthétiseur modulaire Alsa
GenericName[ga]=Sintéiseoir Modúlach Alsa
GenericName[gl]=Sintetizador Modular Alsa
GenericName[he]=הסינטיסייזר המודולרי של Alsa
GenericName[hu]=Szintetizátor
GenericName[is]=Alsa eininga-hljóðgerfill
GenericName[it]=Sintetizzatore modulare di Alsa
GenericName[ja]=ALSA モジュラーシンセサイザ
GenericName[kk]=Alsa модульді синтезатор
GenericName[lt]=Alsa modulinis sintezatorius
GenericName[mk]=Модуларен синтисајзер на Alsa
GenericName[nds]=Alsa-Klangteler mit Modulen
GenericName[ne]=एल्सा मोड्युलर सिन्थेसाइजर
GenericName[nl]=Alsa modulaire synthesizer
GenericName[pl]=Modularny Syntezytator Alsa
GenericName[pt]=Sintetizador Modular do Alsa
GenericName[pt_BR]=Sintetizador Modular do Alsa
GenericName[ro]=Sintetizator modular Alsa
GenericName[ru]=Модульный синтезатор ALSA
GenericName[sl]=Modularni sintetizator Alsa
GenericName[sr]=Модуларни Alsa-ин синтетизатор
GenericName[sr@latin]=Modularni Alsa-in sintetizator
GenericName[sv]=Alsa modulär synthesizer
GenericName[ta]=அல்சா ஏற்ற இறக்க தொகுப்பான்
GenericName[tg]=Ҳамзамонсози Alsa Modular
GenericName[tr]=Alsa Sentezleyici
GenericName[uk]=Модульний синтезатор ALSA
GenericName[x-test]=xxAlsa Modular Synthesizerxx
GenericName[zh_HK]=Alsa 模組式合成器
GenericName[zh_TW]=Alsa 模組合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
