[Desktop Entry]
Exec=ams
Icon=
Name=ams
Name[af]=ams
Name[ar]=ams متحكم الصوت Alsa
Name[as]=ams
Name[be]=ams
Name[be@latin]=ams
Name[bg]=ams
Name[bn]=ams
Name[bn_IN]=ams
Name[ca]=ams
Name[ca@valencia]=ams
Name[cs]=ams
Name[csb]=ams
Name[da]=ams
Name[de]=ams
Name[el]=ams
Name[en_GB]=ams
Name[eo]=ams
Name[es]=ams
Name[et]=ams
Name[eu]=ams
Name[fi]=ams
Name[fr]=ams
Name[fy]=ams
Name[ga]=ams
Name[gl]=ams
Name[gu]=ams
Name[he]=ams
Name[hi]=एएमएस
Name[hne]=एएमएस
Name[hr]=ams
Name[hsb]=ams
Name[hu]=ams
Name[is]=ams
Name[it]=ams
Name[ja]=ams
Name[kk]=ams
Name[km]=ams
Name[kn]=ಎಎಮ್ಎಸ್
Name[ko]=ams
Name[ku]=Lîstik
Name[lt]=ams
Name[lv]=ams
Name[mai]=एएमएस
Name[mk]=ams
Name[ml]=എഎംഎസ്
Name[mr]=ams
Name[nb]=ams
Name[nds]=ams
Name[ne]=ams
Name[nl]=ams
Name[nn]=ams
Name[or]=ams
Name[pa]=ams
Name[pl]=ams
Name[pt]=ams
Name[pt_BR]=ams
Name[ro]=ams
Name[ru]=ams
Name[se]=ams
Name[si]=ams
Name[sk]=ams
Name[sl]=ams
Name[sr]=Амс
Name[sr@latin]=ams
Name[sv]=AMS
Name[ta]=ams
Name[te]=ఎఎంఎస్
Name[tg]=ams
Name[th]=ams
Name[tr]=ams
Name[uk]=ams
Name[wa]=ams
Name[x-test]=xxamsxx
Name[zh_CN]=ams
Name[zh_TW]=ams
GenericName=Alsa Modular Synthesizer
GenericName[af]=ALSA modulêre sintetiseerder
GenericName[ar]=التحكم المرن بالصوت
GenericName[as]=Alsa Modular Synthesizer
GenericName[be@latin]=Modulny syntezatar dla systemy „ALSA”
GenericName[bg]=Alsa Modular Synthesizer
GenericName[bn]=আলসা মডুলার সিন্থেসাইজার
GenericName[bn_IN]=Alsa মডুলার সিন্থেসাইজার
GenericName[ca]=Sintetitzador modular Alsa
GenericName[ca@valencia]=Sintetitzador modular Alsa
GenericName[cs]=Modulární syntetizátor pro ALSA
GenericName[csb]=Mòdułowi systezatora Alsa
GenericName[da]=Modulær Alsa-synthesizer
GenericName[de]=Modularer Alsa-Synthesizer
GenericName[el]=Αρθρωτός συνθέτης Alsa
GenericName[en_GB]=Alsa Modular Synthesiser
GenericName[eo]=Alsa-sintezilo
GenericName[es]=Sintetizador Modular Alsa
GenericName[et]=Alsa modulaarsüntesaator
GenericName[eu]=Alsa sintetizadore modularra
GenericName[fi]=Alsa Modular Synthesizer
GenericName[fr]=Synthétiseur modulaire Alsa
GenericName[fy]=Alsa Modular Synthesizer
GenericName[ga]=Sintéiseoir Modúlach Alsa
GenericName[gl]=Sintetizador modular da Alsa
GenericName[gu]=અલ્સા મોડ્યુલર સિન્થેસાઇઝર
GenericName[he]=סינתסייזר מודולרי ל־ALSA
GenericName[hi]=आल्सा मॉड्यूलर सिंथेसाइज़र
GenericName[hne]=आल्सा माड्यूलर सिंथेसाइजर
GenericName[hr]=Modularni sintetizator Alsa
GenericName[hsb]=Alsa modularny synthesizer
GenericName[hu]=ALSA moduláris szintetizátor
GenericName[is]=Alsa hljóðgerfill
GenericName[it]=Sintetizzatore modulare Alsa
GenericName[ja]=ALSA モジュラーシンセサイザー
GenericName[kk]=Alsa модульді синтезаторы
GenericName[km]=កម្មវិធី​សង្គ្រោះ Alsa Modular
GenericName[kn]=ಆಲ್ಸಾ ಘಟಕಾತ್ಮಕ ಸಂಶ್ಲೇಷಕ (modular synthesizer)
GenericName[ko]=Alsa 모듈러 신디사이저
GenericName[ku]=Yekkirina Alsa Modular
GenericName[lt]=Alsa modulinis sintezatorius
GenericName[lv]=Alsa moldulārs sintezators
GenericName[mai]=आल्सा मोड्यूलर सिंथेसाइजर
GenericName[mk]=Модуларен синтисајзер за Alsa
GenericName[ml]=അല്‍സ മോഡ്യുളാര്‍ സിന്തസൈസര്‍
GenericName[mr]=आल्सा विभागर सिंथेसाइजर
GenericName[nb]=Alsa modulær synth
GenericName[nds]=Moduulklangteler Alsa
GenericName[ne]=अल्सा मोड्युलर शंष्लेषक
GenericName[nl]=Alsa Modulaire Synthesizer
GenericName[nn]=Alsa modulærsynt
GenericName[or]=Alsa Modular Synthesizer
GenericName[pa]=ਅਲੀਸਾ ਮੋਡੂਲਰ ਸੈਨਥੇਸਾਈਜ਼ਰ
GenericName[pl]=Modularny syntetyzator Alsy
GenericName[pt]=Sintetizador Modular Alsa
GenericName[pt_BR]=Sintetizador modular Alsa
GenericName[ro]=Sintetizator Modular Alsa
GenericName[ru]=Модульный синтезатор ALSA
GenericName[se]=Alsa modulearsynta
GenericName[si]=Alsa Modular Synthesizer
GenericName[sk]=Alsa modulárny syntetizátor
GenericName[sl]=Modularni sintetizator Alsa
GenericName[sr]=Модуларни синтисајзер за Алсу
GenericName[sr@latin]=Modularni sintisajzer za Alsu
GenericName[sv]=ALSA modulär synt
GenericName[ta]=Alsa Modular Synthesizer
GenericName[te]=Alsa మాడ్యులర్ సింథసైజర్
GenericName[tg]=Синтезатори идоракунии Alsa
GenericName[th]=โปรแกรมสังเคราะห์เสียงของ ALSA
GenericName[tr]=Alsa Modüler Sentezleyici
GenericName[uk]=Модульний синтезатор Alsa
GenericName[wa]=Sintetijheu modulaire d' Alsa
GenericName[x-test]=xxAlsa Modular Synthesizerxx
GenericName[zh_CN]=Alsa 模块合成器
GenericName[zh_TW]=Alsa 模組合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
