[Desktop Entry]
Exec=ams
Icon=
Name=ams
Name[hi]=एएमएस
Name[ku]=Lîstik
Name[ml]=എഎംഎസ്
Name[sr]=Амс
Name[sv]=AMS
Name[te]=ఎఎంఎస్
Name[x-test]=xxamsxx
GenericName=Alsa Modular Synthesizer
GenericName[af]=ALSA modulêre sintetiseerder
GenericName[ca]=Sintetitzador modular Alsa
GenericName[csb]=Mòdułowi systezatora Alsa
GenericName[da]=Modulær Alsa-synthesizer
GenericName[de]=Modularer Alsa-Synthesizer
GenericName[el]=Αρθρωτός συνθέτης Alsa
GenericName[en_GB]=Alsa Modular Synthesiser
GenericName[eo]=Alsa-sintezilo
GenericName[es]=Sintetizador Modular Alsa
GenericName[et]=Alsa modulaarsüntesaator
GenericName[eu]=Alsa sintetizadore modularra
GenericName[fr]=Synthétiseur modulaire Alsa
GenericName[ga]=Sintéiseoir Modúlach Alsa
GenericName[gl]=Sintetisador modular de Alsa
GenericName[gu]=અલ્સા મોડ્યુલર સિન્થેસાઇઝર
GenericName[he]=סינתסייזר מודולרי ל־ALSA
GenericName[hi]=आल्सा मॉड्यूलर सिंथेसाइज़र
GenericName[hu]=ALSA moduláris szintetizátor
GenericName[is]=Alsa hljóðgerfill
GenericName[ja]=ALSA モジュラーシンセサイザ
GenericName[kk]=Alsa модульді синтезаторы
GenericName[km]=កម្មវិធី​សង្គ្រោះ Alsa Modular
GenericName[ko]=Alsa 모듈러 신디사이저
GenericName[ku]=Yekkirina Alsa Modular
GenericName[lt]=Alsa modulinis sintezatorius
GenericName[lv]=Alsa moldulārs sintezators
GenericName[nb]=Alsa modulær synth
GenericName[nds]=Moduulklangteler Alsa
GenericName[ne]=अल्सा मोड्युलर शंष्लेषक
GenericName[nl]=Alsa Modulaire Synthesizer
GenericName[nn]=Alsa modulærsynt
GenericName[pa]=ਅਲੀਸਾ ਮੋਡੂਲਰ ਸੈਨਥੇਸਾਈਜ਼ਰ
GenericName[pl]=Modularny synetyzator Alsy
GenericName[pt]=Sintetizador Modular Alsa
GenericName[pt_BR]=Sintetizador Modular Alsa
GenericName[ro]=Sintetizator Modular Alsa
GenericName[ru]=Модульный синтерзатор Alsa
GenericName[se]=Alsa modulearsynta
GenericName[sl]=Modularni sintetizator Alsa
GenericName[sr]=Модуларни синтисајзер за Алсу
GenericName[sr@latin]=Modularni sintisajzer za Alsu
GenericName[sv]=ALSA modulär synt
GenericName[tg]=Синтезатори идоракунии Alsa
GenericName[th]=โปรแกรมสังเคราะห์เสียงของ ALSA
GenericName[tr]=Alsa Modüler Sentezleyici
GenericName[uk]=Модульний синтезатор Alsa
GenericName[wa]=Sintetijheu modulaire d' Alsa
GenericName[x-test]=xxAlsa Modular Synthesizerxx
GenericName[zh_CN]=Alsa 模块合成器
GenericName[zh_TW]=Alsa 模組合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
