[Desktop Entry]
Exec=amSynth
Icon=
Name=amSynth
Name[hi]=एएमसिंथ
Name[sr]=Амсинт
Name[sv]=Amsynth
Name[x-test]=xxamSynthxx
GenericName=Retro Analog - Modeling Softsynth
GenericName[ca]=Retro analògic - Sintetitzador de modelat
GenericName[csb]=Retro-Analog - Mòdelowanié Softsynth
GenericName[de]=Retro-Analog - Softsynth-Modellierung
GenericName[el]=Αναλογικό ρετρό - Σύνθεση Softsynth
GenericName[eo]=Retro analog - modeliga sintezilo
GenericName[ga]=Analóg Shiarghabhálach - Sintéiseoir Bogearraí
GenericName[gl]=Analóxico retro - Modelando Softsynth
GenericName[hi]=रीट्रो एनॉलाक - मॉडलिंग सॉफ़्टसिंथ
GenericName[hu]=Analóg szoftveres szintetizátor
GenericName[is]=Retró-Hliðrænn - Modeling Softsynth
GenericName[ja]=レトロアナログ - モデリングソフトシンセ
GenericName[kk]=Ретро аналогты - модельдеу бағдарлама синтезаторы
GenericName[km]=អាណាឡូក​ខាង​ក្រោយ - ធ្វើ​គំរូ​តាម Softsynth
GenericName[lv]=Retro analogs - imitē Softsynth
GenericName[nb]=God gammel analog Softsynth
GenericName[nds]=Analoogmodell-Softwareklangteler as in ole Daag
GenericName[ne]=रेट्रो ऐनालग - मोडेलिङ्ग सफ्टसिन्थ
GenericName[nn]=Retro Analog – Modeling Softsynth
GenericName[pl]=Programowy syntetyzator analogowy retro
GenericName[pt]=Sintetizador Retro Analógico por Modelação
GenericName[pt_BR]=Sintetizador de Modulação Analógico Retrô
GenericName[se]=Retro Analog – Modeling Softsynth
GenericName[sl]=Retro Analog - modelirni programski sintetizator
GenericName[sr]=Ретро аналог — моделира Софтсинт
GenericName[sr@latin]=Retro analog — modelira Softsynth
GenericName[sv]=Mjukvarusynt med retro analogmodellering
GenericName[th]=โปรแกรมสังเคราะห์เสียงแบบ Retro Analog - Modeling
GenericName[uk]=Програмний синтезатор - старі аналогові схеми
GenericName[x-test]=xxRetro Analog - Modeling Softsynthxx
GenericName[zh_CN]=反向模拟 - 模型软件合成器
GenericName[zh_TW]=反向類比─軟體合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
