[Desktop Entry]
Encoding=UTF-8
Exec=amSynth
Icon=
Name=amSynth
Name[sv]=Amsynth
GenericName=Retro Analog - Modeling Softsynth
GenericName[de]=Retro-Analog - Softsynth-Modellierung
GenericName[el]=Αναλογικό ρετρό - Σύνθεση Softsynth
GenericName[ja]=レトロアナログ - モデリングソフトシンセ
GenericName[kk]=Ретро аналогты - модельдеу бағдарлама синтезаторы
GenericName[km]=អាណាឡូក​ខាង​ក្រោយ - ធ្វើ​គំរូ​តាម Softsynth
GenericName[nb]=God gammel analog Softsynth
GenericName[nds]=Analoogmodell-Softwareklangteler as in ole Daag
GenericName[pt]=Sintetizador Retro Analógico por Modelação
GenericName[pt_BR]=Sintetizador de Modulação Analógico Retrô
GenericName[sv]=Mjukvarusynt med retro analogmodellering
GenericName[th]=โปรแกรมสังเคราะห์เสียงแบบ Retro Analog - Modeling
GenericName[zh_TW]=反向類比─軟體合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
