[Desktop Entry]
Encoding=UTF-8
Exec=amSynth
Icon=
Name=amSynth
Name[bg]=QSynth
Name[pt_BR]=Sint. do Alsa Mixer
Name[sv]=Amsynt
Name[ta]=ஆம்சின்த்
Name[x-test]=xxamSynthxx
GenericName=Retro Analog - Modeling Softsynth
GenericName[bg]=Аналогов синтезатор
GenericName[cs]=Retro analogový softwarový syntetizátor
GenericName[cy]=Synth Meddal Modelu Analog Retro
GenericName[da]=En retro-analog - modelerende softsynth
GenericName[de]=Ein retro-analoger Software-Synthesizer
GenericName[el]=Αναλογικό ρετρό - Σύνθεση Softsynth
GenericName[en_GB]=Retro Analogue - Modelling Softsynth
GenericName[es]=Sintetizador analógico retro por software
GenericName[et]=Retro analoog tarkvaraline süntesaator
GenericName[eu]=Analogiko zaharra - Softsynth modelizazioa
GenericName[fa]=قیاسی Retro - ترکیب‌دهندۀ نرم‌افزاری طرح‌سازی
GenericName[fi]=Retro Analog - Mallioppiva pehmeä synteesi
GenericName[hu]=Egy retró stílusú, analóg-modellű szoftveres szintetizátor
GenericName[is]=Gamaldags hliðrænn - mjúkur hljóðgervill
GenericName[it]=Sintetizzatore software analogico
GenericName[ja]=レトロアナログ - モデリングソフトシンセ
GenericName[kk]=Ретро аналог - бағдарламалық синтезаторы
GenericName[nds]=En ooltbacksch, analoog Software-Klangteler
GenericName[ne]=रेट्रो एनालग - नमूना सफ्टसिन्थ
GenericName[nl]=Retro Analog - modelleringsoftwaresynthesizer
GenericName[pl]=Retro Analog - naśladujący Softsynth
GenericName[pt]=Retro Analógico - Sintetizador por Software
GenericName[pt_BR]=Retro Analog - sintetização de software de modelagem
GenericName[ru]=Ретро - программный синтезатор
GenericName[sl]=Retro Analog - Modelirni Softsynth
GenericName[sr]=Ретро аналогно моделирање софтверског синтетизатора
GenericName[sr@latin]=Retro analogno modeliranje softverskog sintetizatora
GenericName[sv]=Programvarusynt med gammaldags analogmodellering
GenericName[ta]=ரெட்ரோ அனலாக் -  மாடலிங் சாஃப்ட்சின்த்
GenericName[uk]=Програмний синтезатор - старі аналогові схеми
GenericName[x-test]=xxRetro Analog - Modeling Softsynthxx
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
