[Desktop Entry]
Exec=ardour
Icon=
Name=Ardour
Name[af]=Ardour
Name[ar]=Ardour
Name[as]=Ardour
Name[be]=Ardour
Name[be@latin]=Ardour
Name[bg]=Ardour
Name[bn]=আর্ডর
Name[bn_IN]=Ardour
Name[ca]=Ardour
Name[ca@valencia]=Ardour
Name[cs]=Ardour
Name[csb]=Ardour
Name[da]=Ardour
Name[de]=Ardour
Name[el]=Ardour
Name[en_GB]=Ardour
Name[eo]=Ardour
Name[es]=Ardour
Name[et]=Ardour
Name[eu]=Ardour
Name[fi]=Ardour
Name[fr]=Ardour
Name[fy]=Ardour
Name[ga]=Ardour
Name[gl]=Ardour
Name[gu]=અર્ડોઉર
Name[he]=Ardour
Name[hi]=ऑरडर
Name[hne]=ओरडर
Name[hr]=Ardour
Name[hsb]=Ardour
Name[hu]=Ardour
Name[is]=Ardour
Name[it]=Ardour
Name[ja]=Ardour
Name[kk]=Ardour
Name[km]=Ardour
Name[kn]=ಆರ್ಡೂರ್
Name[ko]=Ardour
Name[ku]=Ardour
Name[lt]=Ardour
Name[lv]=Ardour
Name[mai]=आरडर
Name[mk]=Ardour
Name[ml]=ആര്‍ഡൊര്‍
Name[mr]=ऑरडर
Name[nb]=Ardour
Name[nds]=Ardour
Name[ne]=उत्सुक
Name[nl]=Ardour
Name[nn]=Ardour
Name[or]=Ardour
Name[pa]=ਅਰਡੁਰ
Name[pl]=Ardour
Name[pt]=Ardour
Name[pt_BR]=Ardour
Name[ro]=Ardour
Name[ru]=Ardour
Name[se]=Ardour
Name[si]=Ardour
Name[sk]=Ardour
Name[sl]=Ardour
Name[sr]=Ардур
Name[sr@latin]=Ardour
Name[sv]=Ardour
Name[ta]=அர்டோர்
Name[te]=అర్డర్
Name[tg]=Ardour
Name[th]=Ardour
Name[tr]=Ardour
Name[uk]=Ardour
Name[uz]=Ardour
Name[uz@cyrillic]=Ardour
Name[wa]=Ardour
Name[x-test]=xxArdourxx
Name[zh_CN]=Ardour
Name[zh_TW]=Ardour
GenericName=Multitrack Audio Studio
GenericName[af]=Multisnit Oudio Studio
GenericName[ar]=استوديو المسارات المتعددة
GenericName[as]=Multitrack Audio Studio
GenericName[be@latin]=Hukavaja studyja dla niekalkich ściežak
GenericName[bg]=Многопистово звуково студио
GenericName[bn]=মাল্টিট্র্যাক অডিও স্টুডিও
GenericName[bn_IN]=মাল্টি-ট্র্যাক অডিও স্টুডিও
GenericName[ca]=Estudi d'àudio multipista
GenericName[ca@valencia]=Estudi d'àudio multipista
GenericName[cs]=Vícestopé zvukové studio
GenericName[csb]=Wielostegnowé Aùdio Studio
GenericName[da]=Flersporet lydstudie
GenericName[de]=Mehrspur-Audio-Studio
GenericName[el]=Στούντιο ήχου πολλαπλών κομματιών
GenericName[en_GB]=Multitrack Audio Studio
GenericName[eo]=Plurtraka sonstudio
GenericName[es]=Estudio de sonido multipista
GenericName[et]=Mitmerealine helistuudio
GenericName[eu]=Multitrack Audio Studio
GenericName[fi]=Monikanavainen äänistudio
GenericName[fr]=Studio audio multi pistes
GenericName[fy]=Multyspoor Audio Studio
GenericName[ga]=Stiúideo Fuaime Ilrian
GenericName[gl]=Estudio de son multipista
GenericName[gu]=મલ્ટિટ્રેક ઓડિઓ સ્ટુડિઓ
GenericName[he]=סטודיו שמע מרובה רצועות
GenericName[hi]=मल्टीट्रैक ऑडियो स्टूडियो
GenericName[hne]=मल्टीट्रैक आडियो स्टूडियो
GenericName[hr]=Višetračni audio studio
GenericName[hsb]=Multitrack Audio Studio
GenericName[hu]=Többsávos hangstúdió
GenericName[is]=Fjölrása hljóðver
GenericName[it]=Studio audio multitraccia
GenericName[ja]=マルチトラックオーディオスタジオ
GenericName[kk]=Көпжолсызықты аудио студиясы
GenericName[km]=ស្ទូឌីយោ​អូឌីយ៉ូ​ច្រើន​បទ​
GenericName[kn]=ಬಹುಪಥ (multitrack) ಶ್ರವ್ಯಾಂಶ  ಕಲಾಗಾರ
GenericName[ko]=다중 트랙 오디오 스튜디오
GenericName[ku]=Stûdiyoya Aûdio a Multitrack
GenericName[lt]=Daugelio takelių audio studija
GenericName[lv]=Daudzceliņu audio studija
GenericName[mai]=मल्टीट्रैक आडियो स्टूडियो
GenericName[mk]=Повеќеканално аудиостудио
GenericName[ml]=മള്‍ട്ടി ട്രാക്ക് ഓഡിയോ സ്റ്റുഡിയോ
GenericName[mr]=मल्टीट्रैक ऑडियो स्टूडियो
GenericName[nb]=Flerspors lydstudio
GenericName[nds]=Klangsmeed för mehr Sporen
GenericName[ne]=मल्टिट्रयाक अडियो स्टुडियो
GenericName[nl]=Multitrack Audiostudio
GenericName[nn]=Fleirspors lydstudio
GenericName[or]=Multitrack Audio Studio
GenericName[pa]=ਮਲਟੀਟਰੈਕ ਆਡੀਓ ਸਟੂਡਿਓ
GenericName[pl]=Wielościeżkowe studio audio
GenericName[pt]=Estúdio Áudio Multi-Faixas
GenericName[pt_BR]=Estúdio de áudio multi-faixas
GenericName[ro]=Studio Audio Multi-pistă
GenericName[ru]=Звуковая студия
GenericName[si]=Multitrack Audio Studio
GenericName[sk]=Multitrack Audio Studio
GenericName[sl]=Večstezni zvočni studio
GenericName[sr]=Вишестазни аудио студио
GenericName[sr@latin]=Višestazni audio studio
GenericName[sv]=Ljudstudio med flera spår
GenericName[ta]=பல டிராக்குள்ள பதிவொலி ஸ்டூடியோ
GenericName[te]=మల్టీట్రాక్ ఆడియో స్టూడియో
GenericName[tg]=Multitrack Audio Studio
GenericName[th]=โปรแกรมห้องอัดเสียงแบบหลายแทร็ก
GenericName[tr]=Çoklu İz İşleyebilen Ses Stüdyosu
GenericName[uk]=Аудіостудія з багатьма доріжками
GenericName[wa]=Situdio d' son a sacwantès bindes
GenericName[x-test]=xxMultitrack Audio Studioxx
GenericName[zh_CN]=多音轨音频工作室
GenericName[zh_TW]=多音軌音效工作軟體
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
