[Desktop Entry]
Encoding=UTF-8
Exec=ardour
Icon=
Name=Ardour
Name[ne]=आर्डउर
Name[ta]=ஆர்டோர்
Name[x-test]=xxArdourxx
GenericName=Multitrack Audio Studio
GenericName[bg]=Аудио студио
GenericName[ca]=Estudi d'àudio multipista
GenericName[cs]=Multitrack audio studio
GenericName[cy]=Stiwdio Sain Aml-drac
GenericName[da]=Multispor lydstudie
GenericName[de]=Mehrspur-Aufnahme-Studio
GenericName[el]=Στούντιο ήχου πολλαπλών κομματιών
GenericName[es]=Estudio de audio multipista
GenericName[et]=Mitmerealine audiostuudio
GenericName[eu]=Pista anitzeko audio estudioa
GenericName[fa]=استودیو صوتی چندشیاری
GenericName[fi]=Moniräkkinen äänistudio
GenericName[fr]=Studio audio multipiste
GenericName[ga]=Stiúideo Fuaime Ilrian
GenericName[he]=אולפן שמע רב־ערוצי
GenericName[hu]=többsávos hangstúdió
GenericName[is]=Multitrack hljóðstúdíó
GenericName[it]=Studio audio multitraccia
GenericName[ja]=マルチトラックオーディオスタジオ
GenericName[kk]=Аудио студиясы
GenericName[km]=ស្ទូឌីយោ​អូឌីយ៉ូ​ច្រើន​បទ
GenericName[lt]=Daugelio takelių audio studija
GenericName[mk]=Повеќеканално аудиостудио
GenericName[nb]=Flerspors lydstudio
GenericName[nds]=Mehrspoor-Klangstudio
GenericName[ne]=बहु ट्रयाक अडियो स्टुडियो
GenericName[nl]=Multitrack geluidsstudio
GenericName[nn]=Fleirspors lydstudio
GenericName[pl]=Wielościeżkowe studio audio
GenericName[pt]=Estúdio Áudio Multi-faixa
GenericName[pt_BR]=Estúdio de Áudio Multitrack 
GenericName[ru]=Аудиостудия
GenericName[sl]=Večstezni zvočni studio
GenericName[sr]=Вишетрачни аудио студио
GenericName[sr@latin]=Višetračni audio studio
GenericName[sv]=Flerspårs ljudstudio
GenericName[ta]=பலவிதபாதையடைய கேட்பொலி ஸ்டுடியோ
GenericName[tg]=Студияи Садоии Бисёршиора
GenericName[tr]=Multitrack Sers Stüdyosu
GenericName[uk]=Аудіостудія з багатьма доріжками
GenericName[x-test]=xxMultitrack Audio Studioxx
GenericName[zh_HK]=多音軌音訊製作程式
GenericName[zh_TW]=多音軌音效工作室
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
