[Desktop Entry]
Encoding=UTF-8
Exec=ardour
Icon=
Name=Ardour
GenericName=Multitrack Audio Studio
GenericName[ga]=Stiúideo Fuaime Ilrian
GenericName[nds]=Klangsmeed för mehr Sporen
GenericName[pt]=Estúdio Áudio Multi-Faixas
GenericName[pt_BR]=Estúdio Áudio Multi-Faixas
GenericName[zh_TW]=多音軌音效工作軟體
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
