[Desktop Entry]
Exec=audacity
Icon=
Name=Audacity
Name[bn]=অডাসিটি
Name[gu]=ઓડાસિટી
Name[hi]=आउडासिटी
Name[ml]=ഒഡാസിറ്റി
Name[ne]=धृष्टता
Name[pa]=ਆਡੀਕਿਉਟੀ
Name[sr]=Одасити
Name[te]=అడెసిటి
Name[x-test]=xxAudacityxx
GenericName=Audio Editor
GenericName[af]=Klank Redigeerder
GenericName[ar]=محرّر أصوات
GenericName[be]=Гукавы рэдактар
GenericName[bg]=Аудио редактор
GenericName[bn]=অডিও সম্পাদক
GenericName[br]=Un Aozer Klevet
GenericName[ca]=Editor d'àudio
GenericName[cs]=Audio editor
GenericName[csb]=Editora zwãkòwëch lopków
GenericName[cy]=Golygydd Sain
GenericName[da]=Lyd-editor
GenericName[de]=Audio-Editor
GenericName[el]=Επεξεργαστής ήχου
GenericName[eo]=Sona redaktilo
GenericName[es]=Editor de audio
GenericName[et]=Heliredaktor
GenericName[eu]=Audio editorea
GenericName[fa]=ویرایشگر صوتی
GenericName[fi]=Äänieditori
GenericName[fr]=Éditeur audio
GenericName[fy]=lûdsbewurker
GenericName[ga]=Eagarthóir Fuaime
GenericName[gl]=Editor de son
GenericName[gu]=ઓડિઓ સંપાદક
GenericName[he]=עורך שמע
GenericName[hi]=ऑडियो संपादक
GenericName[hr]=Uređivač zvuka
GenericName[hu]=Hangszerkesztő
GenericName[is]=Hljóðritillinn
GenericName[it]=Editor audio
GenericName[ja]=オーディオエディタ
GenericName[ka]=აუდიო რედაქტორი
GenericName[kk]=Дыбыс өшдегіші
GenericName[km]=កម្មវិធី​និពន្ធ​អូឌីយ៉ូ​
GenericName[ko]=소리 편집기
GenericName[ku]=Serastkara Deng
GenericName[lt]=Audio redaktorius
GenericName[lv]=Audio redaktors
GenericName[mk]=Аудиоуредувач
GenericName[ml]=ശബ്ദസംയോജകന്‍
GenericName[ms]=Penyunting Audio
GenericName[nb]=Lydredigering
GenericName[nds]=Audio-Editor
GenericName[ne]=अडियो सम्पादक
GenericName[nl]=Geluidsbewerker
GenericName[nn]=Lydredigering
GenericName[pa]=ਆਡੀਓ ਐਡੀਟਰ
GenericName[pl]=Edytor plików dźwiękowych
GenericName[pt]=Editor de Áudio
GenericName[pt_BR]=Editor de Áudio
GenericName[ro]=Editor audio
GenericName[ru]=Звуковой редактор
GenericName[se]=Jietnadoaimmaheaddji
GenericName[sk]=Zvukový editor
GenericName[sl]=Urejevalnik zvoka
GenericName[sr]=Аудио уређивач
GenericName[sr@latin]=Audio uređivač
GenericName[sv]=Ljudeditor
GenericName[ta]=ஒலி திருத்தி
GenericName[te]=శబ్డ ఎడిటర్
GenericName[tg]=Муҳаррири садо
GenericName[th]=โปรแกรมแก้ไขแฟ้มเสียง
GenericName[tr]=Ses Düzenleyicisi
GenericName[uk]=Редактор аудіо записів
GenericName[uz]=Аудио таҳрирчи
GenericName[vi]=Bộ sửa âm thanh
GenericName[wa]=Aspougneu d' sons
GenericName[x-test]=xxAudio Editorxx
GenericName[zh_CN]=音频编辑器
GenericName[zh_TW]=音效編輯器
StartupNotify=true
Type=Application
Categories=AudioVideo;
