[Desktop Entry]
Exec=audacity
Icon=
Name=Audacity
Name[af]=Audacity
Name[ar]=Audacity
Name[as]=Audacity
Name[be]=Audacity
Name[be@latin]=Audacity
Name[bg]=Audacity
Name[bn]=অডাসিটি
Name[bn_IN]=Audacity
Name[br]=Audacity
Name[ca]=Audacity
Name[ca@valencia]=Audacity
Name[cs]=Audacity
Name[csb]=Audacity
Name[cy]=Audacity
Name[da]=Audacity
Name[de]=Audacity
Name[el]=Audacity
Name[en_GB]=Audacity
Name[eo]=Audacity
Name[es]=Audacity
Name[et]=Audacity
Name[eu]=Audacity
Name[fi]=Audacity
Name[fr]=Audacity
Name[fy]=Audacity
Name[ga]=Audacity
Name[gl]=Audacity
Name[gu]=ઓડાસિટી
Name[he]=Audacity
Name[hi]=आउडासिटी
Name[hne]=आउडासिटी
Name[hr]=Audacity
Name[hsb]=Audacity
Name[hu]=Audacity
Name[is]=Audacity
Name[it]=Audacity
Name[ja]=Audacity
Name[ka]=Audacity
Name[kk]=Audacity
Name[km]=Audacity
Name[kn]=ಆಡಾಸಿಟಿ
Name[ko]=Audacity
Name[ku]=Audacity
Name[lt]=Audacity
Name[lv]=Audacity
Name[mai]=आउडासिटी
Name[mk]=Audacity
Name[ml]=ഒഡാസിറ്റി
Name[mr]=आउडासिटी
Name[ms]=Audacity
Name[nb]=Audacity
Name[nds]=Audacity
Name[ne]=धृष्टता
Name[nl]=Audacity
Name[nn]=Audacity
Name[oc]=Audacity
Name[or]=Audacity
Name[pa]=ਆਡੀਕਿਉਟੀ
Name[pl]=Audacity
Name[pt]=Audacity
Name[pt_BR]=Audacity
Name[ro]=Audacity
Name[ru]=Audacity
Name[se]=Audacity
Name[si]=Audacity
Name[sk]=Audacity
Name[sl]=Audacity
Name[sr]=Одасити
Name[sr@latin]=Audacity
Name[sv]=Audacity
Name[ta]=அடாசிடி
Name[te]=అడెసిటి
Name[tg]=Audacity
Name[th]=Audacity
Name[tr]=Audacity
Name[uk]=Audacity
Name[uz]=Audacity
Name[uz@cyrillic]=Audacity
Name[vi]=Audacity
Name[wa]=Audacity
Name[x-test]=xxAudacityxx
Name[zh_CN]=Audacity
Name[zh_TW]=Audacity
GenericName=Audio Editor
GenericName[af]=Klankredigeerder
GenericName[ar]=محرّر أصوات
GenericName[as]=অ'ডিঅ' সম্পাদক
GenericName[be]=Гукавы рэдактар
GenericName[be@latin]=Redaktar huku
GenericName[bg]=Аудио редактор
GenericName[bn]=অডিও সম্পাদক
GenericName[bn_IN]=অডিও এডিটর
GenericName[br]=Un Aozer Klevet
GenericName[ca]=Editor d'àudio
GenericName[ca@valencia]=Editor d'àudio
GenericName[cs]=Audio editor
GenericName[csb]=Editora zwãkòwëch lopków
GenericName[cy]=Golygydd Sain
GenericName[da]=Lyd-editor
GenericName[de]=Audio-Editor
GenericName[el]=Επεξεργαστής ήχου
GenericName[en_GB]=Audio Editor
GenericName[eo]=Sona redaktilo
GenericName[es]=Editor de audio
GenericName[et]=Heliredaktor
GenericName[eu]=Audio editorea
GenericName[fa]=ویرایشگر صوتی
GenericName[fi]=Äänieditori
GenericName[fr]=Éditeur audio
GenericName[fy]=lûdsbewurker
GenericName[ga]=Eagarthóir Fuaime
GenericName[gl]=Editor de son
GenericName[gu]=ઓડિઓ સંપાદક
GenericName[he]=עורך שמע
GenericName[hi]=ऑडियो संपादक
GenericName[hne]=आडियो संपादक
GenericName[hr]=Uređivač zvuka
GenericName[hsb]=Audijowy wobdźěłar
GenericName[hu]=Hangszerkesztő
GenericName[is]=Hljóðritillinn
GenericName[it]=Editor audio
GenericName[ja]=オーディオエディタ
GenericName[ka]=აუდიო რედაქტორი
GenericName[kk]=Дыбыс өшдегіші
GenericName[km]=កម្មវិធី​និពន្ធ​អូឌីយ៉ូ​
GenericName[kn]=ಶ್ರವ್ಯಾಂಶ/ಧ್ವನಿ (ಆಡಿಯೋ) ಸಂಪಾದಕ
GenericName[ko]=소리 편집기
GenericName[ku]=Serastkara Deng
GenericName[lt]=Audio redaktorius
GenericName[lv]=Audio redaktors
GenericName[mai]=आडियो संपादक
GenericName[mk]=Аудиоуредувач
GenericName[ml]=ശബ്ദസംയോജകന്‍
GenericName[mr]=ऑडियो संपादक
GenericName[ms]=Penyunting Audio
GenericName[nb]=Lydredigering
GenericName[nds]=Audio-Editor
GenericName[ne]=अडियो सम्पादक
GenericName[nl]=Geluidsbewerker
GenericName[nn]=Lydredigering
GenericName[or]=ଧ୍ୱନି ସମ୍ପାଦକ
GenericName[pa]=ਆਡੀਓ ਐਡੀਟਰ
GenericName[pl]=Edytor plików dźwiękowych
GenericName[pt]=Editor de Áudio
GenericName[pt_BR]=Editor de áudio
GenericName[ro]=Editor audio
GenericName[ru]=Звуковой редактор
GenericName[se]=Jietnadoaimmaheaddji
GenericName[si]=ශ්‍රව්‍ය සකසනය
GenericName[sk]=Zvukový editor
GenericName[sl]=Urejevalnik zvoka
GenericName[sr]=Аудио уређивач
GenericName[sr@latin]=Audio uređivač
GenericName[sv]=Ljudeditor
GenericName[ta]=பதிவொலி திருத்தி
GenericName[te]=శబ్డ ఎడిటర్
GenericName[tg]=Таҳриргари аудио
GenericName[th]=โปรแกรมแก้ไขแฟ้มเสียง
GenericName[tr]=Ses Düzenleyicisi
GenericName[uk]=Редактор аудіо записів
GenericName[uz]=Audio tahrirchi
GenericName[uz@cyrillic]=Аудио таҳрирчи
GenericName[vi]=Bộ sửa âm thanh
GenericName[wa]=Aspougneu d' sons
GenericName[x-test]=xxAudio Editorxx
GenericName[zh_CN]=音频编辑器
GenericName[zh_TW]=音效編輯器
StartupNotify=true
Type=Application
Categories=AudioVideo;
