[Desktop Entry]
Encoding=UTF-8
Name=Aumix
Name[ne]=अउमिक्स
Name[pa]=ਊਮਿਕਸ
Name[te]=ఎయూమిక్స్
Name[x-test]=xxAumixxx
GenericName=Audio Mixer
GenericName[af]=Klank Menger
GenericName[ar]=مازج الصوت
GenericName[be]=Настаўленні гучнасці
GenericName[bg]=Аудио миксер
GenericName[br]=Mesker klevet
GenericName[ca]=Mesclador de so
GenericName[cs]=Zvukový směšovač
GenericName[csb]=Mikser audio
GenericName[cy]=Cymysgydd Sain
GenericName[da]=Lydmikser
GenericName[el]=Μείκτης ήχου
GenericName[eo]=Miksilo por sonoroj
GenericName[es]=Mezclador audio
GenericName[et]=Helimikser
GenericName[eu]=Audio nahasgailua
GenericName[fa]=مخلوط‌کن خودکار
GenericName[fi]=Äänimikseri
GenericName[fr]=Console de mixage
GenericName[fy]=Audiomikser
GenericName[ga]=Meascthóir fuaime
GenericName[gl]=Mesturador de Son
GenericName[he]=מערבל שמע
GenericName[hr]=Audio mikser
GenericName[hu]=Hangkeverő
GenericName[is]=Hljóðblöndun
GenericName[it]=Mixer
GenericName[ja]=オーディオミキサー
GenericName[ka]=აუდიო მიქსერი
GenericName[kk]=Дыбыс микшері
GenericName[km]=ឧបករណ៍​លាយ​អូឌីយ៉ូ
GenericName[ko]=소리 믹서
GenericName[lt]=Audio mikšeris
GenericName[lv]=Audio Mikseris
GenericName[mk]=Аудио миксета
GenericName[ms]=Pengadun Audio
GenericName[nb]=Lydmikser
GenericName[nds]=Audio-Mischer
GenericName[ne]=अडियो मिश्रक
GenericName[nl]=Audiomixer
GenericName[nn]=Lydmiksar
GenericName[pa]=ਆਡੀਓ ਮਿਕਸਰ
GenericName[pl]=Mikser audio
GenericName[pt]=Mesa de Mistura
GenericName[pt_BR]=Mixer de Áudio
GenericName[ro]=Mixer audio
GenericName[ru]=Аудио микшер
GenericName[se]=Jietnaseagoheaddji
GenericName[sl]=Mešalnik zvoka
GenericName[sr]=Аудио миксер
GenericName[sr@latin]=Audio mikser
GenericName[sv]=Ljudmixer
GenericName[ta]=ஒலி கலப்பான்
GenericName[te]=శబ్దాలను కలిపే కార్యక్రమం
GenericName[tg]=Аудио микшер
GenericName[th]=ปรับแต่งระบบเสียง
GenericName[tr]=Ses Karıştırıcısı
GenericName[uk]=Аудіомікшер
GenericName[uz]=Аудио миксер
GenericName[vi]=Bộ hoà âm
GenericName[wa]=Maxheu d' son
GenericName[x-test]=xxAudio Mixerxx
GenericName[xh]=Umxubi Wokuvakalayo
GenericName[zh_CN]=混音器
GenericName[zh_TW]=混音程式
Exec=aumix
Terminal=false
Icon=aumix
Type=Application
