[Desktop Entry]
Name=Aumix
Name[af]=Aumix
Name[ar]=برنامج الصوت Aumix
Name[as]=Aumix
Name[be]=Aumix
Name[be@latin]=Aumix
Name[bg]=Aumix
Name[bn]=অমিক্স
Name[bn_IN]=Aumix
Name[br]=Aumix
Name[ca]=Aumix
Name[ca@valencia]=Aumix
Name[cs]=Aumix
Name[csb]=Aumix
Name[cy]=Aumix
Name[da]=Aumix
Name[de]=Aumix
Name[el]=Aumix
Name[en_GB]=Aumix
Name[eo]=Aumix
Name[es]=Aumix
Name[et]=Aumix
Name[eu]=Aumix
Name[fi]=Aumix
Name[fr]=Aumix
Name[fy]=Aumix
Name[ga]=Aumix
Name[gl]=Aumix
Name[gu]=Aumix
Name[he]=Aumix
Name[hi]=ऑमिक्स
Name[hne]=ओमिक्स
Name[hr]=Aumix
Name[hsb]=Aumix
Name[hu]=Aumix
Name[is]=Aumix
Name[it]=Aumix
Name[ja]=Aumix
Name[ka]=Aumix
Name[kk]=Aumix
Name[km]=Aumix
Name[kn]=ಔಮಿಕ್ಸ್
Name[ko]=Aumix
Name[ku]=Aumix
Name[lt]=Aumix
Name[lv]=Aumix
Name[mai]=आमिक्स
Name[mk]=Aumix
Name[ml]=ഓമിക്സ്
Name[mr]=ऑमिक्स
Name[ms]=Aumix
Name[nb]=Aumix
Name[nds]=Aumix
Name[ne]=अउमिक्स
Name[nl]=Aumix
Name[nn]=Aumix
Name[or]=Aumix
Name[pa]=ਊਮਿਕਸ
Name[pl]=Aumix
Name[pt]=Aumix
Name[pt_BR]=Aumix
Name[ro]=Aumix
Name[ru]=Aumix
Name[se]=Aumix
Name[si]=Aumix
Name[sk]=Aumix
Name[sl]=Aumix
Name[sr]=Аумикс
Name[sr@latin]=Aumix
Name[sv]=Aumix
Name[ta]=Aumix
Name[te]=ఎయూమిక్స్
Name[tg]=Aumix
Name[th]=Aumix
Name[tr]=Aumix
Name[uk]=Aumix
Name[uz]=Aumix
Name[uz@cyrillic]=Aumix
Name[vi]=Aumix
Name[wa]=Aumix
Name[xh]=Aumix
Name[x-test]=xxAumixxx
Name[zh_CN]=Aumix
Name[zh_TW]=Aumix
GenericName=Audio Mixer
GenericName[af]=Klankmenger
GenericName[ar]=مازج الصوت
GenericName[as]=Audio Mixer
GenericName[be]=Настаўленні гучнасці
GenericName[be@latin]=Mikser hukavoj systemy
GenericName[bg]=Аудио миксер
GenericName[bn]=অডিও মিক্সার
GenericName[bn_IN]=অডিও মিক্সার
GenericName[br]=Mesker klevet
GenericName[ca]=Mesclador de so
GenericName[ca@valencia]=Mesclador de so
GenericName[cs]=Zvukový směšovač
GenericName[csb]=Mikser audio
GenericName[cy]=Cymysgydd Sain
GenericName[da]=Lydmikser
GenericName[de]=Audio Mixer
GenericName[el]=Μείκτης ήχου
GenericName[en_GB]=Audio Mixer
GenericName[eo]=Sonmiksilo
GenericName[es]=Mezclador audio
GenericName[et]=Helimikser
GenericName[eu]=Audio nahasgailua
GenericName[fa]=مخلوط‌کن خودکار
GenericName[fi]=Äänimikseri
GenericName[fr]=Console de mixage
GenericName[fy]=Audiomikser
GenericName[ga]=Meascthóir fuaime
GenericName[gl]=Mesturador de son
GenericName[gu]=ધ્વનિ મિક્સર
GenericName[he]=מערבל שמע
GenericName[hi]=ऑडियो मिक्सर
GenericName[hne]=आडियो मिक्सर
GenericName[hr]=Audio mikser
GenericName[hsb]=Awdijowy měšak
GenericName[hu]=Hangkeverő
GenericName[is]=Hljóðblöndun
GenericName[it]=Mixer
GenericName[ja]=オーディオミキサー
GenericName[ka]=აუდიო მიქსერი
GenericName[kk]=Дыбыс микшері
GenericName[km]=ឧបករណ៍​លាយ​អូឌីយ៉ូ
GenericName[kn]=ಧ್ವನಿ ಮಿಶ್ರಕ (ಮಿಕ್ಸರ್)
GenericName[ko]=소리 믹서
GenericName[ku]=Audio Mixer
GenericName[lt]=Audio mikšeris
GenericName[lv]=Audio mikseris
GenericName[mai]=आडियो मिक्सर
GenericName[mk]=Аудио миксета
GenericName[ml]=ശബ്ദക്രമീകാരി
GenericName[mr]=ऑडियो मिक्सर
GenericName[ms]=Pengadun Audio
GenericName[nb]=Lydmikser
GenericName[nds]=Audio-Mischer
GenericName[ne]=अडियो मिश्रक
GenericName[nl]=Audiomixer
GenericName[nn]=Lydmiksar
GenericName[or]=ଧ୍ୱନି ମିଶ୍ରକ
GenericName[pa]=ਆਡੀਓ ਮਿਕਸਰ
GenericName[pl]=Mikser audio
GenericName[pt]=Mesa de Mistura
GenericName[pt_BR]=Mixer de áudio
GenericName[ro]=Mixer audio
GenericName[ru]=Звуковой микшер
GenericName[se]=Jietnaseagoheaddji
GenericName[si]=ශ්‍රව්‍ය මිශ්‍රකය
GenericName[sk]=Zvukový mixér
GenericName[sl]=Mešalnik zvoka
GenericName[sr]=Аудио миксер
GenericName[sr@latin]=Audio mikser
GenericName[sv]=Ljudmixer
GenericName[ta]=ஒலி கலப்பான்
GenericName[te]=శబ్దాలను కలిపే కార్యక్రమం
GenericName[tg]=Идоракунии овоз
GenericName[th]=ปรับแต่งระบบเสียง
GenericName[tr]=Ses Karıştırıcısı
GenericName[uk]=Аудіомікшер
GenericName[uz]=Audio mikser
GenericName[uz@cyrillic]=Аудио миксер
GenericName[vi]=Bộ hoà âm
GenericName[wa]=Maxheu d' son
GenericName[xh]=Umxubi Wokuvakalayo
GenericName[x-test]=xxAudio Mixerxx
GenericName[zh_CN]=混音器
GenericName[zh_TW]=混音程式
Exec=aumix
Terminal=false
Icon=aumix
Type=Application
