[Desktop Entry]
Encoding=UTF-8
GenericName=AVI Video Player
GenericName[af]=AVI Video Speler
GenericName[ar]=قارئ مرئيات AVI
GenericName[br]=Ur c'hoarier Video AVI
GenericName[ca]=Reproductor de vídeo AVI
GenericName[cs]=Přehrávač AVI videa
GenericName[csb]=Grôcz AVI Video
GenericName[cy]=Chwaraewr Fideo AVI
GenericName[da]=AVI-videoafspiller
GenericName[de]=Videos abspielen
GenericName[el]=Αναπαραγωγέας βίντεο AVI
GenericName[eo]=Ludilo por AVI-videofilmoj
GenericName[es]=Reproductor de vídeo AVI
GenericName[et]=AVI videofailide mängimine
GenericName[eu]=AVI bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیویی AVI
GenericName[fi]=AVI-videosoitin
GenericName[fr]=Un lecteur de vidéos au format AVI
GenericName[fy]=AVI-fideospiler
GenericName[ga]=Fístaispeántóir AVI
GenericName[gl]=Reprodutor de Vídeo AVI
GenericName[he]=נגן וידאו AVI
GenericName[hr]=Video program za AVI datoteke
GenericName[hu]=AVI-videólejátszó
GenericName[is]=Forrit til að spila AVI kvikmyndir
GenericName[it]=Lettore di video AVI
GenericName[ja]=AVI ビデオプレーヤ
GenericName[kk]=AVI бейнеплейері
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ AVI
GenericName[ko]=비디오 연주기
GenericName[lt]=AVI video grotuvas
GenericName[lv]=AVI Video Atskaņotājs
GenericName[mk]=AVI видеоплеер
GenericName[ms]=Pemain Video AVI
GenericName[nb]=AVI Videospiller
GenericName[nds]=Afspeler för AVI-Videos
GenericName[ne]=ए भी आई भिडियो प्लेएर
GenericName[nl]=AVI-videospeler
GenericName[nn]=AVI-videospelar
GenericName[pa]=AVI ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz AVI Video
GenericName[pt]=Leitor de Vídeos AVI
GenericName[pt_BR]=Reprodutor de vídeos AVI
GenericName[ro]=Redare fişiere video AVI
GenericName[ru]=Видеопроигрыватель AVI
GenericName[se]=AVI-videočuojan
GenericName[sl]=Predvajalnik videov AVI
GenericName[sr]=AVI видео приказивач
GenericName[sr@latin]=AVI video prikazivač
GenericName[sv]=Avi-filmspelare
GenericName[ta]=AVI திரைவடிவ சாதனம்
GenericName[te]=ఎవిఐ విడియొ ప్లెయర్
GenericName[tg]=Видео-плейери AVI
GenericName[tr]=AVI Görüntü Oynatıcı
GenericName[uk]=Програвач відеофайлів AVI
GenericName[uz]=AVI видео плейер
GenericName[wa]=Djouweu di videyos AVI
GenericName[x-test]=xxAVI Video Playerxx
GenericName[xh]=Umdlali we Video AVI
GenericName[zh_TW]=AVI 視訊播放程式
Exec=aviplay %f
Icon=video
MimeType=video/x-ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo
Name=Aviplay
Name[eo]=AVI-ludilo
Name[ja]=AviPlay
Name[ko]=Avi 재생기
Name[ne]=ए भी आई प्ले
Name[te]=ఎవిఐప్లె
Name[x-test]=xxAviplayxx
Name[xh]=Umdlalo we Avi
ServiceTypes=
Type=Application

