[Desktop Entry]
GenericName=AVI Video Player
GenericName[af]=AVI Video Speler
GenericName[ar]=AVI قارئ مرئيات
GenericName[as]=AVI ভিডিঅ' বজোৱা ব্যৱস্থা
GenericName[be]=Прайгравальнік відэафайлаў у фармаце AVI
GenericName[be@latin]=Prajhravańnik videa ŭ farmacie AVI
GenericName[bg]=Видео плеър за AVI
GenericName[bn]=এ.ভি.আই ভিডিও প্রদর্শক
GenericName[bn_IN]=AVI ভিডিও বাদন ব্যবস্থা
GenericName[br]=Ur c'hoarier Video AVI
GenericName[ca]=Reproductor de vídeo AVI
GenericName[ca@valencia]=Reproductor de vídeo AVI
GenericName[cs]=Přehrávač AVI videa
GenericName[csb]=Grôcz AVI Video
GenericName[cy]=Chwaraewr Fideo AVI
GenericName[da]=AVI-videoafspiller
GenericName[de]=Videos abspielen
GenericName[el]=Αναπαραγωγέας βίντεο AVI
GenericName[en_GB]=AVI Video Player
GenericName[eo]=Legilo por AVI-videofilmoj
GenericName[es]=Reproductor de vídeo AVI
GenericName[et]=AVI videofailide mängija
GenericName[eu]=AVI bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیویی AVI
GenericName[fi]=AVI-videosoitin
GenericName[fr]=Un lecteur de vidéos au format AVI
GenericName[fy]=AVI-fideospiler
GenericName[ga]=Seinnteoir Físe AVI
GenericName[gl]=Reprodutor de vídeo AVI
GenericName[gu]=AVI વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו AVI
GenericName[hi]=एवीआई वीडियो प्लेयर
GenericName[hne]=एवीआई वीडियो प्लेयर
GenericName[hr]=Video program za AVI datoteke
GenericName[hsb]=AVI widejowy wothrawak
GenericName[hu]=AVI-videólejátszó
GenericName[is]=Forrit til að spila AVI kvikmyndir
GenericName[it]=Lettore di video AVI
GenericName[ja]=AVI 動画プレーヤー
GenericName[ka]=AVI Video Player
GenericName[kk]=AVI бейнеплейері
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ AVI
GenericName[kn]=AVI ದೃಶ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=AVI 비디오 재생기
GenericName[ku]=lêdera Vîdeoyên AVI
GenericName[lt]=AVI video grotuvas
GenericName[lv]=AVI video atskaņotājs
GenericName[mai]=एवीआई वीडियो प्लेयर
GenericName[mk]=AVI видеоплеер
GenericName[ml]=ആവി വീഡിയോ പ്ലെയര്‍
GenericName[mr]=एवीआई वीडियो प्लेयर
GenericName[ms]=Pemain Video AVI
GenericName[nb]=AVI Videospiller
GenericName[nds]=Afspeler för AVI-Videos
GenericName[ne]=एभीआई भिडियो प्लेयर
GenericName[nl]=AVI-videospeler
GenericName[nn]=AVI-videospelar
GenericName[or]=AVI ଭିଡ଼ିଓ ଚାଳକ
GenericName[pa]=AVI ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz AVI Video
GenericName[pt]=Leitor de Vídeos AVI
GenericName[pt_BR]=Reprodutor de vídeos AVI
GenericName[ro]=Redare fișiere video AVI
GenericName[ru]=Проигрыватель AVI
GenericName[se]=AVI-videočuojan
GenericName[si]=AVI ද්‍රශ්‍ය වාදකය
GenericName[sk]=Video prehrávač AVI
GenericName[sl]=Predvajalnik videov AVI
GenericName[sr]=Плејер АВИ видеа
GenericName[sr@latin]=Plejer AVI videa
GenericName[sv]=Avi-filmspelare
GenericName[ta]=AVI பதிவொளி இயக்கி
GenericName[te]=ఎవిఐ విడియొ ప్లెయర్
GenericName[tg]=Плеери видеои AVI
GenericName[th]=โปรแกรมเล่นวิดีโอแบบ AVI
GenericName[tr]=AVI Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів AVI
GenericName[uz]=AVI video pleyer
GenericName[uz@cyrillic]=AVI видео плейер
GenericName[vi]=Bộ xem ảnh động AVI
GenericName[wa]=Djouweu di videyos AVI
GenericName[xh]=Umdlali we Video AVI
GenericName[x-test]=xxAVI Video Playerxx
GenericName[zh_CN]=AVI 视频播放器
GenericName[zh_TW]=AVI 視訊播放程式
Exec=aviplay %f
Icon=video
MimeType=video/x-ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo;
Name=Aviplay
Name[af]=Aviplay
Name[ar]=مشغل افلام Avi
Name[as]=Aviplay
Name[be]=Aviplay
Name[be@latin]=Aviplay
Name[bg]=Aviplay
Name[bn]=এ.ভি.আই-প্লে
Name[bn_IN]=Aviplay
Name[br]=Aviplay
Name[ca]=Aviplay
Name[ca@valencia]=Aviplay
Name[cs]=Aviplay
Name[csb]=Aviplay
Name[cy]=Aviplay
Name[da]=Aviplay
Name[de]=Aviplay
Name[el]=Aviplay
Name[en_GB]=Aviplay
Name[eo]=AVI-legilo
Name[es]=Aviplay
Name[et]=Aviplay
Name[eu]=Aviplay
Name[fi]=Aviplay
Name[fr]=Aviplay
Name[fy]=Aviplay
Name[ga]=Aviplay
Name[gl]=Aviplay
Name[gu]=Aviplay
Name[he]=Aviplay
Name[hi]=एवीआईप्ले
Name[hne]=एवीआईप्ले
Name[hr]=Aviplay
Name[hsb]=Aviplay
Name[hu]=Aviplay
Name[is]=Aviplay
Name[it]=Aviplay
Name[ja]=AviPlay
Name[ka]=Aviplay
Name[kk]=Aviplay
Name[km]=Aviplay
Name[kn]=ಎವಿಐಪ್ಲೇ
Name[ko]=Aviplay
Name[ku]=Aviplay
Name[lt]=Aviplay
Name[lv]=Aviplay
Name[mai]=एवीआईप्ले
Name[mk]=Aviplay
Name[ml]=ആവിപ്ലേ
Name[mr]=एवीआईप्ले
Name[ms]=Aviplay
Name[nb]=Aviplay
Name[nds]=Aviplay
Name[ne]=एभीआई प्ले
Name[nl]=Aviplay
Name[nn]=Aviplay
Name[or]=Aviplay
Name[pa]=Aviplay
Name[pl]=Aviplay
Name[pt]=Aviplay
Name[pt_BR]=Aviplay
Name[ro]=Aviplay
Name[ru]=Aviplay
Name[se]=Aviplay
Name[si]=Aviplay
Name[sk]=Aviplay
Name[sl]=Aviplay
Name[sr]=Авиплеј
Name[sr@latin]=Aviplay
Name[sv]=Aviplay
Name[ta]=Aviplay
Name[te]=ఎవిఐప్లె
Name[tg]=Aviplay
Name[th]=Aviplay
Name[tr]=Aviplay
Name[uk]=Aviplay
Name[uz]=Aviplay
Name[uz@cyrillic]=Aviplay
Name[vi]=Chơi AVI
Name[wa]=Aviplay
Name[xh]=Umdlalo we Avi
Name[x-test]=xxAviplayxx
Name[zh_CN]=Aviplay
Name[zh_TW]=Aviplay
X-KDE-ServiceTypes=
Type=Application

