[Desktop Entry]
GenericName=AVI Video Player
GenericName[af]=AVI Video Speler
GenericName[ar]=AVI قارئ مرئيات
GenericName[be]=Прайгравальнік відэафайлаў у фармаце AVI
GenericName[bg]=Видео плеър за AVI
GenericName[bn]=এ.ভি.আই ভিডিও প্রদর্শক
GenericName[br]=Ur c'hoarier Video AVI
GenericName[ca]=Reproductor de vídeo AVI
GenericName[cs]=Přehrávač AVI videa
GenericName[csb]=Grôcz AVI Video
GenericName[cy]=Chwaraewr Fideo AVI
GenericName[da]=AVI-videoafspiller
GenericName[de]=Videos abspielen
GenericName[el]=Αναπαραγωγέας βίντεο AVI
GenericName[es]=Reproductor de vídeo AVI
GenericName[et]=AVI videofailide mängija
GenericName[eu]=AVI bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیویی AVI
GenericName[fi]=AVI-videosoitin
GenericName[fr]=Un lecteur de vidéos au format AVI
GenericName[fy]=AVI-fideospiler
GenericName[ga]=Fístaispeántóir AVI
GenericName[gl]=Reprodutor de vídeo AVI
GenericName[he]=נגן וידאו AVI
GenericName[hi]=एवीआई वीडियो प्लेयर
GenericName[hr]=Video program za AVI datoteke
GenericName[hu]=AVI-videólejátszó
GenericName[is]=Forrit til að spila AVI kvikmyndir
GenericName[it]=Lettore di video AVI
GenericName[ja]=AVI ビデオプレーヤ
GenericName[kk]=AVI бейнеплейері
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ AVI
GenericName[ko]=AVI 비디오 재생기
GenericName[ku]=lêdera Vîdeoyên AVI
GenericName[lt]=AVI video grotuvas
GenericName[lv]=AVI video atskaņotājs
GenericName[mk]=AVI видеоплеер
GenericName[ms]=Pemain Video AVI
GenericName[nb]=AVI Videospiller
GenericName[nds]=Afspeler för AVI-Videos
GenericName[ne]=एभीआई भिडियो प्लेयर
GenericName[nl]=AVI-videospeler
GenericName[nn]=AVI-videospelar
GenericName[pa]=AVI ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz AVI Video
GenericName[pt]=Leitor de Vídeos AVI
GenericName[pt_BR]=Reprodutor de Vídeos AVI
GenericName[ro]=Redare fişiere video AVI
GenericName[ru]=Видеопроигрыватель AVI
GenericName[se]=AVI-videočuojan
GenericName[sk]=Video prehrávač AVI
GenericName[sl]=Predvajalnik videov AVI
GenericName[sr]=Плејер АВИ видеа
GenericName[sr@latin]=Plejer AVI videa
GenericName[sv]=Avi-filmspelare
GenericName[ta]=AVI திரைவடிவ சாதனம்
GenericName[te]=ఎవిఐ విడియొ ప్లెయర్
GenericName[tg]=Видео-плейери AVI
GenericName[th]=โปรแกรมเล่นวิดีโอแบบ AVI
GenericName[tr]=AVI Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів AVI
GenericName[uz]=AVI видео плейер
GenericName[vi]=Bộ xem ảnh động AVI
GenericName[wa]=Djouweu di videyos AVI
GenericName[x-test]=xxAVI Video Playerxx
GenericName[xh]=Umdlali we Video AVI
GenericName[zh_CN]=AVI 视频播放器
GenericName[zh_TW]=AVI 視訊播放程式
Exec=aviplay %f
Icon=video
MimeType=video/x-ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo;
Name=Aviplay
Name[bn]=এ.ভি.আই-প্লে
Name[hi]=एवीआईप्ले
Name[ja]=AviPlay
Name[ne]=एभीआई प्ले
Name[sr]=Авиплеј
Name[te]=ఎవిఐప్లె
Name[vi]=Chơi AVI
Name[x-test]=xxAviplayxx
Name[xh]=Umdlalo we Avi
X-KDE-ServiceTypes=
Type=Application

