[Desktop Entry]
Encoding=UTF-8
Name=Broadcast 2000
Name[eo]=Dissendo 2000
Name[fa]=پخش ۲۰۰۰
Name[ne]=ब्रोडकास्ट २०००
Name[pa]=ਬਰਾਂਡਕਾਸਟ 2000
Name[ta]=ஒலிபரப்பு 2000
Name[te]=బ్రాడ్ కెస్ట్ 2000
Name[x-test]=xxBroadcast 2000xx
Name[xh]=Usasazo 2000
Name[zh_TW]=廣撥 2000
GenericName=Audio and Video IDE
GenericName[af]=Audio en Video geïntegreerde ontwikkeling omgewing
GenericName[ca]=IDE d'àudio i vídeo
GenericName[cs]=Audio a video IDE
GenericName[csb]=Òkrãżé programistów dlô audio ë wideo
GenericName[cy]=IDE Fideo a Sain
GenericName[da]=Audio- og video-IDE
GenericName[de]=Audio/Video-Oberfläche
GenericName[el]=IDE Ήχου και Βίντεο
GenericName[eo]=Redaktilo por sonoro kaj filmo
GenericName[es]=IDE de audio y video
GenericName[et]=Audio ja video arenduskeskkond
GenericName[eu]=Audio eta bideo IDEa
GenericName[fa]=آی دی ای صوتی و ویدیویی
GenericName[fi]=Ääni ja Video IDE
GenericName[fr]=Environnement de création audio et vidéo
GenericName[fy]=Audio-en fideostudio
GenericName[ga]=IDE Fuaim agus Fís
GenericName[gl]= IDE para Audio e Vídeo
GenericName[he]=סביבת פיתוח משולבת לשמע ולווידאו
GenericName[hr]=Audio i Video IDE
GenericName[hu]=Hang- és videófeldolgozó
GenericName[is]=Hljóð og vídeó þróunarumhverfi
GenericName[it]=Ambiente di sviluppo per audio e video
GenericName[ja]=オーディオ/ビデオの IDE
GenericName[ka]=აუიდიო და ვიდეო IDE
GenericName[kk]=Дыбыс және бейне IDE
GenericName[km]=IDE សម្លេង និង វីដេអូ
GenericName[ko]=소리와 영상 통합 개발 환경
GenericName[lt]=Audio ir video IDE
GenericName[lv]=Audio un Video IDE
GenericName[mk]=Аудио и Видео IDE
GenericName[ms]=IDE Audio dan Video
GenericName[nb]=Lyd og video IDE
GenericName[nds]=Integreert Bewerkenümgeven för Audio un Video
GenericName[ne]=अडियो र भिडियो IDE
GenericName[nl]=Audio-en videostudio
GenericName[nn]=Lyd- og video-IDE
GenericName[pa]=ਆਡੀਓ ਅਤੇ ਵੀਡਿਓ IDE
GenericName[pl]=Środowisko programistyczne dla audio and wideo
GenericName[pt]=IDE de Áudio e Vídeo
GenericName[pt_BR]=IDE para Áudio e Vídeo
GenericName[ro]=Mediu IDE audio şi video
GenericName[ru]=Интегрированная среда обработки аудио и видео
GenericName[se]=Jietna- ja video-IDE
GenericName[sl]=IDE za avdio in video
GenericName[sr]=Аудио и видео IDE
GenericName[sr@latin]=Audio i video IDE
GenericName[sv]=IDE för ljud och video
GenericName[ta]=ஒலிவடிவ மற்றும் திரைவடிவ IDE
GenericName[te]=శబ్డం మరయు విడియొ ఐడిఈ
GenericName[tg]=Муҳити интегралии коркарди аудио ва видео
GenericName[tr]=Ses ve görüntü için tümleşik geliştirme ortamı(IDE)
GenericName[uk]=Середовище розробки аудіо- та відеоматеріал
GenericName[uz]=Аудио ва видео IDE
GenericName[x-test]=xxAudio and Video IDExx
GenericName[xh]=Isandi neVideo yeIDE
GenericName[zh_TW]=影音整合開發環境
Exec=bcast
Terminal=false
Icon=bcast
Type=Application
