[Desktop Entry]
Exec=djplay
Icon=
Name=DJPlay
Name[nb]=DJ-spiller
Name[ne]=डीजे प्ले
Name[sr]=Диџејплеј
Name[sv]=Djplay
Name[x-test]=xxDJPlayxx
GenericName=DJ-Mixer and Player
GenericName[be]=DJ-міксер і прайгравальнік
GenericName[bg]=DJ-миксер и плеър
GenericName[ca]=Mesclador per a DJ i reproductor
GenericName[csb]=DJ - Mikser ë grôcz
GenericName[de]=DJ-Mixer und -Wiedergabe
GenericName[el]=Μείκτης DJ και αναπαραγωγέας
GenericName[eo]=DJ-miksilo kaj legilo
GenericName[es]=Reproductor y mezclador de DJ
GenericName[et]=DJ mikser ja mängija
GenericName[eu]=DJ nahasgailu eta erreproduzigailua
GenericName[fa]=ترکیب‌کننده و پخش‌کننده DJ
GenericName[fi]=DJ-mikseri ja soitin
GenericName[ga]=Meascthóir DJ agus Seinnteoir
GenericName[he]=מערבל ונגן
GenericName[hu]=DJ-stílusú hangkeverő és lejátszó
GenericName[it]=Riproduttore e Mixer per DJ
GenericName[ja]=DJ ミキサー/プレーヤ
GenericName[kk]=DJ-микшер және плейер
GenericName[km]=ឧបករណ៍​លាយ និង​កម្មវិធី​ចាក់ DJ
GenericName[ko]=DJ 믹서와 플레이어
GenericName[lv]=DJ miskeris un atskaņotājs
GenericName[nb]=DJ-mikser og spiller
GenericName[nds]=DJ-Mischer un -Afspeler
GenericName[ne]=डीजे-मिश्रक र प्लेयर
GenericName[nl]=DJ-mixer en -speler
GenericName[nn]=DJ-miksar og -spelar
GenericName[pa]=DJ-ਮਿਕਸਰ ਅਤੇ ਪਲੇਅਰ
GenericName[pl]=Mikser i odtwarzacz
GenericName[pt]=Leitor e Mistura de DJs
GenericName[pt_BR]=Reprodutor e DJ-Mixer
GenericName[sr]=Диџеј-миксета и плејер
GenericName[sr@latin]=Didžej-mikseta i plejer
GenericName[sv]=DJ-mixer och spelare
GenericName[th]=โปรแกรมเล่นและผสมเสียงแบบดีเจ
GenericName[wa]=Comaxheu eyet djouweu po DJ
GenericName[x-test]=xxDJ-Mixer and Playerxx
GenericName[zh_CN]=DJ 混音播放程序
GenericName[zh_TW]=DJ 混音播放程式
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
