[Desktop Entry]
Exec=djplay
Icon=
Name=DJPlay
Name[af]=DJPlay
Name[ar]=DJPlay
Name[as]=DJPlay
Name[be]=DJPlay
Name[be@latin]=DJPlay
Name[bg]=DJPlay
Name[bn]=ডি-জে-প্লে
Name[bn_IN]=DJPlay
Name[ca]=DJPlay
Name[ca@valencia]=DJPlay
Name[cs]=DJPlay
Name[csb]=DJPlay
Name[da]=DJPlay
Name[de]=DJPlay
Name[el]=DJPlay
Name[en_GB]=DJPlay
Name[eo]=DJPlay
Name[es]=DJPlay
Name[et]=DJPlay
Name[eu]=DJPlay
Name[fi]=DJPlay
Name[fr]=DJPlay
Name[fy]=DJPlay
Name[ga]=DJPlay
Name[gl]=DJPlay
Name[gu]=DJPlay
Name[he]=DJPlay
Name[hi]=डीजीप्ले
Name[hne]=डीजीप्ले
Name[hr]=DJPlay
Name[hsb]=DJPlay
Name[hu]=DJPlay
Name[is]=DJPlay
Name[it]=DJPlay
Name[ja]=DJPlay
Name[kk]=DJPlay
Name[km]=DJPlay
Name[kn]=ಡಿಜೆಪ್ಲೇ
Name[ko]=DJPlay
Name[ku]=DJPlay
Name[lt]=DJPlay
Name[lv]=DJPlay
Name[mai]=डीजीप्ले
Name[mk]=DJPlay
Name[ml]=ഡിജെപ്ലേ
Name[mr]=डीजेप्ले
Name[nb]=DJ-spiller
Name[nds]=DJPlay
Name[ne]=डीजे प्ले
Name[nl]=DJPlay
Name[nn]=DJPlay
Name[oc]=DJPlay
Name[or]=DJPlay
Name[pa]=DJPlay
Name[pl]=DJPlay
Name[pt]=DJPlay
Name[pt_BR]=DJPlay
Name[ro]=Redare DVD (DJPlay)
Name[ru]=DJPlay
Name[se]=DJPlay
Name[si]=DJPlay
Name[sk]=DJPlay
Name[sl]=DJPlay
Name[sr]=Диџејплеј
Name[sr@latin]=DJPlay
Name[sv]=Djplay
Name[ta]=DJPlay
Name[te]=డిజె ప్లె
Name[tg]=DJPlay
Name[th]=DJPlay
Name[tr]=DJPlay
Name[uk]=DJPlay
Name[uz]=DJPlay
Name[uz@cyrillic]=DJPlay
Name[wa]=DJPlay
Name[x-test]=xxDJPlayxx
Name[zh_CN]=DJPlay
Name[zh_TW]=DJPlay
GenericName=DJ-Mixer and Player
GenericName[af]=DJ-Menger en speler
GenericName[ar]=المازج و مشغل DJ
GenericName[as]=DJ-Mixer আৰু Player
GenericName[be]=DJ-міксер і прайгравальнік
GenericName[be@latin]=Mikser i prajhravańnik dla DJ
GenericName[bg]=DJ-миксер и плеър
GenericName[bn]=ডি-জে মিক্সার এবং প্লেয়ার
GenericName[bn_IN]=DJ-মিক্সার ও প্লেয়ার
GenericName[ca]=Mesclador per a DJ i reproductor
GenericName[ca@valencia]=Mesclador per a DJ i reproductor
GenericName[cs]=DJ směšovač a přehrávač
GenericName[csb]=DJ - Mikser ë grôcz
GenericName[da]=DJ-mikser og -afspiller
GenericName[de]=DJ-Mixer und -Wiedergabe
GenericName[el]=Μείκτης DJ και αναπαραγωγέας
GenericName[en_GB]=DJ-Mixer and Player
GenericName[eo]=DJ-miksilo kaj legilo
GenericName[es]=Reproductor y mezclador de DJ
GenericName[et]=DJ mikser ja mängija
GenericName[eu]=DJ nahasgailu eta erreproduzigailua
GenericName[fa]=ترکیب‌کننده و پخش‌کننده DJ
GenericName[fi]=DJ-mikseri ja soitin
GenericName[fr]=Mixeur DJ et lecteur
GenericName[fy]=DJ-Mikser en ôfspiler
GenericName[ga]=Meascthóir DJ agus Seinnteoir
GenericName[gl]=Reprodutor e misturador para DJ
GenericName[gu]=DJ-મિક્સર અને પ્લેયર
GenericName[he]=מערבל ונגן
GenericName[hi]=डीजे-मिक्सर एंड प्लेयर
GenericName[hne]=डीजे-मिक्सर अउ प्लेयर
GenericName[hr]=DJ mikseta i multimedijski program
GenericName[hsb]=DJ-Měšak a wothrawak
GenericName[hu]=DJ-stílusú hangkeverő és lejátszó
GenericName[is]=Hljóðblandari og margmiðlunarspilari
GenericName[it]=Riproduttore e Mixer per DJ
GenericName[ja]=DJ ミキサー/プレーヤー
GenericName[kk]=DJ-микшер және плейер
GenericName[km]=ឧបករណ៍​លាយ និង​កម្មវិធី​ចាក់ DJ
GenericName[kn]=ಡಿಜೆ ಮಿಶ್ರಕ ಮತ್ತು ನಿರೂಪಕ
GenericName[ko]=DJ 믹서와 플레이어
GenericName[ku]=Tevlihevker û Lêdera DJ
GenericName[lt]=DJ maišytuvas ir grotuvas
GenericName[lv]=DJ miskeris un atskaņotājs
GenericName[mai]=डीजे-मिक्सर एंड प्लेयर
GenericName[mk]=Диџеј-миксета и плеер
GenericName[ml]=ഡിജെ-മിക്സറും പ്ലെയറും
GenericName[mr]=डीजे-मिक्सर व प्लेयर
GenericName[nb]=DJ-mikser og spiller
GenericName[nds]=DJ-Mischer un -Afspeler
GenericName[ne]=डीजे-मिश्रक र प्लेयर
GenericName[nl]=DJ-mixer en -speler
GenericName[nn]=DJ-miksar og -spelar
GenericName[or]=DJ-ମିଶ୍ରକ ଏବଂ ଚାଳକ
GenericName[pa]=DJ-ਮਿਕਸਰ ਅਤੇ ਪਲੇਅਰ
GenericName[pl]=Mikser i odtwarzacz
GenericName[pt]=Leitor e Mistura de DJs
GenericName[pt_BR]=Reprodutor e DJ-Mixer
GenericName[ro]=DJ-Mixer și Player
GenericName[ru]=Диджейский пульт
GenericName[se]=DJ-mikser ja -čuojan
GenericName[si]=DJ-Mixer සහ වාදකය
GenericName[sk]=DJ-Mixér a Prehrávač
GenericName[sl]=DJ-mešalnik in predvajalnik
GenericName[sr]=Диџеј-миксета и плејер
GenericName[sr@latin]=Didžej-mikseta i plejer
GenericName[sv]=DJ-mixer och spelare
GenericName[ta]=DJ-Mixer and Player
GenericName[te]=DJ-Mixer మరియు ప్లేయర్
GenericName[tg]=Плеери DJ-Mixer
GenericName[th]=โปรแกรมเล่นและผสมเสียงแบบดีเจ
GenericName[tr]=DJ-Karıştırıcı ve Oynatıcı
GenericName[uk]=Мікшер та програвач DJ
GenericName[wa]=Comaxheu eyet djouweu po DJ
GenericName[x-test]=xxDJ-Mixer and Playerxx
GenericName[zh_CN]=DJ 混音播放程序
GenericName[zh_TW]=DJ 混音播放程式
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
