[Desktop Entry]
Encoding=UTF-8
Exec=djplay
Icon=
Name=DJPlay
Name[sv]=Djplay
GenericName=DJ-Mixer and Player
GenericName[be]=DJ-міксер і прайгравальнік
GenericName[fa]=ترکیب‌کننده و پخش‌کننده DJ
GenericName[ga]=Meascthóir DJ agus Seinnteoir
GenericName[nds]=DJ-Mischer un -Afspeler
GenericName[pa]=DJ-ਮਿਕਸਰ ਅਤੇ ਪਲੇਅਰ
GenericName[pt]=Leitor e Mistura de DJs
GenericName[pt_BR]=Reprodutor e DJ-Mixer
GenericName[sv]=DJ-mixer och spelare
GenericName[zh_TW]=DJ 混音播放程式
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
