[Desktop Entry]
Encoding=UTF-8
Exec=ecamegapedal
Icon=
Name=EcaMegaPedal
GenericName=Ecasound Effektrack
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
