[Desktop Entry]
Exec=ecamegapedal
Icon=
Name=EcaMegaPedal
Name[af]=EcaMegaPedal
Name[ar]=EcaMegaPedal
Name[as]=EcaMegaPedal
Name[be@latin]=EcaMegaPedal
Name[bg]=EcaMegaPedal
Name[bn]=EcaMegaPedal
Name[bn_IN]=EcaMegaPedal
Name[ca]=EcaMegaPedal
Name[ca@valencia]=EcaMegaPedal
Name[cs]=EcaMegaPedal
Name[csb]=EcaMegaPedal
Name[da]=EcaMegaPedal
Name[de]=EcaMegaPedal
Name[el]=EcaMegaPedal
Name[en_GB]=EcaMegaPedal
Name[eo]=EcaMegaPedal
Name[es]=EcaMegaPedal
Name[et]=EcaMegaPedal
Name[eu]=EcaMegaPedal
Name[fi]=EcaMegaPedal
Name[fr]=EcaMegaPedal
Name[fy]=EcaMegaPedal
Name[ga]=EcaMegaPedal
Name[gl]=EcaMegaPedal
Name[gu]=EcaMegaPedal
Name[he]=EcaMegaPedal
Name[hi]=ईका-मेगा-पेडल
Name[hne]=ईका-मेगा-पेडल
Name[hr]=EcaMegaPedal
Name[hsb]=EcaMegaPedal
Name[hu]=EcaMegaPedal
Name[is]=EcaMegaPedal
Name[it]=EcaMegaPedal
Name[ja]=EcaMegaPedal
Name[kk]=EcaMegaPedal
Name[km]=EcaMegaPedal
Name[kn]=ಎಕಾಮೆಗಾಪೆಡಲ್
Name[ko]=EcaMegaPedal
Name[ku]=EcaMegaPedal
Name[lt]=EcaMegaPedal
Name[lv]=EcaMegaPedal
Name[mai]=ईका-मेगा-पेडल
Name[mk]=EcaMegaPedal
Name[ml]=എക്കാമെഗാപെഡല്‍
Name[mr]=ईकामेगापेडल
Name[nb]=EcaMegaPedal
Name[nds]=EcaMegaPedal
Name[ne]=एकामेगापेडल
Name[nl]=EcaMegaPedal
Name[nn]=EcaMegaPedal
Name[or]=EcaMegaPedal
Name[pa]=EcaMegaPedal
Name[pl]=EcaMegaPedal
Name[pt]=EcaMegaPedal
Name[pt_BR]=EcaMegaPedal
Name[ro]=EcaMegaPedal
Name[ru]=EcaMegaPedal
Name[se]=EcaMegaPedal
Name[si]=EcaMegaPedal
Name[sk]=EcaMegaPedal
Name[sl]=EcaMegaPedal
Name[sr]=Екамегапедал
Name[sr@latin]=EcaMegaPedal
Name[sv]=Ecamegapedal
Name[ta]=EcaMegaPedal
Name[te]=EcaMegaPedal
Name[tg]=EcaMegaPedal
Name[th]=EcaMegaPedal
Name[tr]=EcaMegaPedal
Name[uk]=EcaMegaPedal
Name[wa]=EcaMegaPedal
Name[x-test]=xxEcaMegaPedalxx
Name[zh_CN]=EcaMegaPedal
Name[zh_TW]=EcaMegaPedal
GenericName=Ecasound Effektrack
GenericName[af]=Ecasound Effektrack
GenericName[ar]=Ecasound  مؤثرات
GenericName[as]=Ecasound Effektrack
GenericName[be@latin]=Efekt-mašyna „Ecasound”
GenericName[bg]=Ecasound Effektrack
GenericName[bn]=Ecasound Effektrack
GenericName[bn_IN]=Ecasound Effektrack
GenericName[ca]=Ecasound Effektrack
GenericName[ca@valencia]=Ecasound Effektrack
GenericName[cs]=Efekty Ecasound
GenericName[csb]=Ecasound-Effektrack
GenericName[da]=Ecasound Effektrack
GenericName[de]=Ecasound-Effektrack
GenericName[el]=Ecasound Effektrack
GenericName[en_GB]=Ecasound Effektrack
GenericName[eo]=Ecasound efektotrakilo
GenericName[es]=Ecasound Effektrack
GenericName[et]=Ecasound Effektrack
GenericName[eu]=Ecasound Effektrack
GenericName[fi]=Ecasound Effektrack
GenericName[fr]=Ecasound Effektrack
GenericName[fy]=Ecasound Effektrack
GenericName[ga]=Ecasound Effektrack
GenericName[gl]=Pista de efectos Ecasound
GenericName[gu]=Ecasound Effektrack
GenericName[he]=Ecasound Effektrack
GenericName[hi]=ईकासाउंड इफ़ैक्टट्रैक
GenericName[hne]=ईकासाउंड इफैक्टट्रैक
GenericName[hr]=Ecasound Effektrack
GenericName[hsb]=Ecasound Effektrack
GenericName[hu]=Ecasound effektusok
GenericName[is]=Ecasound Effektrack
GenericName[it]=Effetti per Ecasound
GenericName[ja]=Ecasound Effektrack
GenericName[kk]=Ecasound Effektrack
GenericName[km]=Ecasound Effektrack
GenericName[kn]=ಎಕಾ ಸೌಂಡ್ ಎಫೆಕ್ಟ್ರಾಕ್
GenericName[ko]=Ecasound Effektrack
GenericName[ku]=Effekttracka Ecasound
GenericName[lt]=Ecasound Effektrack
GenericName[lv]=Ecasound efektu panelis
GenericName[mai]=ईकासाउंड इफैक्टट्रैक
GenericName[mk]=Ecasound Effektrack
GenericName[ml]=എക്കാസൌണ്ട് എഫക്ട്രാക്
GenericName[mr]=ईकासाउंड इफैक्टट्रैक
GenericName[nb]=Ecasound Effektspor
GenericName[nds]=Ecasound-Effektstellaasch
GenericName[ne]=एकासाउन्ड एफाकट्रयाक
GenericName[nl]=Ecasound Effektrack
GenericName[nn]=Ecasound Effektrack
GenericName[or]=Ecasound Effektrack
GenericName[pl]=Ecasound Effektrack
GenericName[pt]=Ecasound Effektrack
GenericName[pt_BR]=Efeitos de faixas do Ecasound
GenericName[ro]=Ecasound Effektrack
GenericName[ru]=Ecasound Effektrack
GenericName[se]=Ecasound effeaktamašiidna
GenericName[si]=Ecasound Effektrack
GenericName[sk]=Ecasound Effektrack
GenericName[sl]=Ecasound Effektrack
GenericName[sr]=Ефетрак за Екасаунд
GenericName[sr@latin]=Efetrak za Ecasound
GenericName[sv]=Ecasound-effektspår
GenericName[ta]=Ecasound Effektrack
GenericName[te]=Ecasound Effektrack
GenericName[tg]=Ecasound Effektrack
GenericName[th]=Ecasound Effektrack
GenericName[tr]=Ecasound Effektrack
GenericName[uk]=Ecasound Effektrack
GenericName[wa]=Ecasound Effektrack
GenericName[x-test]=xxEcasound Effektrackxx
GenericName[zh_CN]=Ecasound 音效轨道
GenericName[zh_TW]=Ecasound 音效
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
