[Desktop Entry]
Encoding=UTF-8
Exec=ecamegapedal
Icon=
Name=EcaMegaPedal
Name[sv]=Ecamegapedal
Name[ta]=எகாமெகாபெடல்
Name[x-test]=xxEcaMegaPedalxx
GenericName=Ecasound Effektrack
GenericName[cs]=Ecasound effektrack
GenericName[et]=Ecasound efektiräkk
GenericName[hu]=Ecasound effektező
GenericName[it]=Effetto rack Ecasound
GenericName[nb]=Ecasound-effektspor
GenericName[nds]=Ecasound-Effektboord
GenericName[ne]=एकासाउन्ड इफेक्ट्रयाक
GenericName[nn]=Ecasound-effektspor
GenericName[pt_BR]=Faixas de Efeito do Ecasound
GenericName[sr]=Ecasound трака са ефектима
GenericName[sr@latin]=Ecasound traka sa efektima
GenericName[sv]=Ecasound-effektspår
GenericName[ta]=எகாஒலி எபெஸ்பாதை
GenericName[x-test]=xxEcasound Effektrackxx
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
