[Desktop Entry]
Name=EnjoyMPEG
Name[af]=EnjoyMPEG
Name[ar]=استمتع مع MPEG
Name[as]=EnjoyMPEG
Name[be]=EnjoyMPEG
Name[be@latin]=EnjoyMPEG
Name[bg]=EnjoyMPEG
Name[bn]=এনজয়-এমপেগ
Name[bn_IN]=EnjoyMPEG
Name[br]=EnjoyMPEG
Name[ca]=EnjoyMPEG
Name[ca@valencia]=EnjoyMPEG
Name[cs]=EnjoyMPEG
Name[csb]=Ùceszë sã MPEG
Name[cy]=EnjoyMPEG
Name[da]=EnjoyMPEG
Name[de]=EnjoyMPEG
Name[el]=EnjoyMPEG
Name[en_GB]=EnjoyMPEG
Name[eo]=EnjoyMPEG
Name[es]=EnjoyMPEG
Name[et]=EnjoyMPEG
Name[eu]=EnjoyMPEG
Name[fi]=EnjoyMPEG
Name[fr]=EnjoyMPEG
Name[fy]=EnjoyMPEG
Name[ga]=EnjoyMPEG
Name[gl]=EnjoyMPEG
Name[gu]=EnjoyMPEG
Name[he]=EnjoyMPEG
Name[hi]=एन्जॉयएमपीईजी
Name[hne]=एन्जायएमपीईजी
Name[hr]=EnjoyMPEG
Name[hsb]=EnjoyMPEG
Name[hu]=EnjoyMPEG
Name[is]=EnjoyMPEG
Name[it]=EnjoyMPEG
Name[ja]=EnjoyMPEG
Name[ka]=EnjoyMPEG
Name[kk]=EnjoyMPEG
Name[km]=EnjoyMPEG
Name[kn]=ಎಂಜಾಯ್ಎಂಪೆಗ್
Name[ko]=EnjoyMPEG
Name[ku]=EnjoyMPEG
Name[lt]=EnjoyMPEG
Name[lv]=EnjoyMPEG
Name[mai]=एन्जायएमपीईजी
Name[mk]=EnjoyMPEG
Name[ml]=എന്‍ജോയ്എംപെഗ്
Name[mr]=एन्जॉयएमपीईजी
Name[ms]=EnjoyMPEG
Name[nb]=EnjoyMPEG
Name[nds]=EnjoyMPEG
Name[ne]=MPEG रमाउनुहोस्
Name[nl]=EnjoyMPEG
Name[nn]=EnjoyMPEG
Name[or]=EnjoyMPEG
Name[pa]=EnjoyMPEG
Name[pl]=Ciesz się MPEG
Name[pt]=EnjoyMPEG
Name[pt_BR]=EnjoyMPEG
Name[ro]=EnjoyMPEG
Name[ru]=EnjoyMPEG
Name[se]=EnjoyMPEG
Name[si]=EnjoyMPEG
Name[sk]=EnjoyMPEG
Name[sl]=EnjoyMPEG
Name[sr]=ЕнџојМПЕГ
Name[sr@latin]=EnjoyMPEG
Name[sv]=EnjoyMPEG
Name[ta]=EnjoyMPEG
Name[te]=ఎంజాయ్ ఎంపిఈజి
Name[tg]=EnjoyMPEG
Name[th]=EnjoyMPEG
Name[tr]=EnjoyMPEG
Name[uk]=EnjoyMPEG
Name[uz]=EnjoyMPEG
Name[uz@cyrillic]=EnjoyMPEG
Name[vi]=EnjoyMPEG
Name[wa]=EnjoyMPEG
Name[xh]=EnjoyMPEG
Name[x-test]=xxEnjoyMPEGxx
Name[zh_CN]=EnjoyMPEG
Name[zh_TW]=EnjoyMPEG
GenericName=MPEG Player
GenericName[af]=MPEG Speler
GenericName[ar]=MPEG قارئ
GenericName[as]=MPEG Player
GenericName[be]=Прайгравальнік MPEG
GenericName[be@latin]=Prahravańnik dla MPEG
GenericName[bg]=Плеър за MPEG
GenericName[bn]=এমপেগ প্রদর্শক
GenericName[bn_IN]=MPEG প্লেয়ার
GenericName[br]=Soner MPEG
GenericName[ca]=Reproductor MPEG
GenericName[ca@valencia]=Reproductor MPEG
GenericName[cs]=Přehrávač MPEGů
GenericName[csb]=Grôcz MPEG
GenericName[cy]=Chwaraewr MPEG
GenericName[da]=MPEG-afspiller
GenericName[de]=MPEG-Wiedergabe
GenericName[el]=Αναπαραγωγέας MPEG
GenericName[en_GB]=MPEG Player
GenericName[eo]=MPEG legilo
GenericName[es]=Reproductor MPEG
GenericName[et]=MPEG videofailide mängija
GenericName[eu]=MPEG erreproduzigailua
GenericName[fa]=پخش‌کنندۀ MPEG
GenericName[fi]=MPEG-soitin
GenericName[fr]=Lecteur Mpeg
GenericName[fy]=MPEG-spiler
GenericName[ga]=Seinnteoir MPEG
GenericName[gl]=Reprodutor MPEG
GenericName[gu]=MPEG પ્લેયર
GenericName[he]=נגן MPEG
GenericName[hi]=एमपीईजी प्लेयर
GenericName[hne]=एमपीईजी प्लेयर
GenericName[hr]=MPEG program
GenericName[hsb]=MPEG wothrawak
GenericName[hu]=MPEG-lejátszó
GenericName[is]=MPEG spilari
GenericName[it]=Lettore MPEG
GenericName[ja]=MPEG プレーヤー
GenericName[ka]=MPEG დამკვრელი
GenericName[kk]=MPEG плейер
GenericName[km]=កម្មវិធី​ចាក់ MPEG
GenericName[kn]=ಎಂಪೆಗ್ ನಿರೂಪಕ
GenericName[ko]=MPEG 재생기
GenericName[ku]=Lêdera MPEG
GenericName[lt]=MPEG grotuvas
GenericName[lv]=MPEG atskaņotājs
GenericName[mai]=एमपीईजी प्लेयर
GenericName[mk]=MPEG-плеер
GenericName[ml]=എംപെഗ് പ്ലെയര്‍
GenericName[mr]=एमपीईजी प्लेयर
GenericName[ms]=Pemain MPEG
GenericName[nb]=MPEG-spiller
GenericName[nds]=MPEG-Afspeler
GenericName[ne]=MPEG प्लेयर
GenericName[nl]=MPEG-speler
GenericName[nn]=MPEG-spelar
GenericName[or]=MPEG ଚାଳକ
GenericName[pa]=MPEG ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz MPEG
GenericName[pt]=Leitor de MPEG
GenericName[pt_BR]=Reprodutor de MPEG
GenericName[ro]=Player MPEG
GenericName[ru]=Проигрыватель MPEG
GenericName[se]=MPEG-čuojan
GenericName[si]=MPEG වාදකය
GenericName[sk]=Prehrávač MPEG
GenericName[sl]=Predvajalnik MPEG
GenericName[sr]=Плејер МПЕГ‑а
GenericName[sr@latin]=Plejer MPEG‑a
GenericName[sv]=MPEG-spelare
GenericName[ta]=MPEG இயக்கி
GenericName[te]=ఎంపిఈజి ప్లెయర్
GenericName[tg]=Плеери MPEG
GenericName[th]=โปรแกรมเล่น MPEG
GenericName[tr]=MPEG Çalıcı
GenericName[uk]=Програвач MPEG
GenericName[uz]=MPEG pleyer
GenericName[uz@cyrillic]=MPEG плейер
GenericName[vi]=Bộ xem tập tin MPEG
GenericName[wa]=Djouweu di videyos MPEG
GenericName[xh]=Umdlali we MPEG
GenericName[x-test]=xxMPEG Playerxx
GenericName[zh_CN]=MPEG 播放器
GenericName[zh_TW]=MPEG 播放程式
Exec=enjoympeg
Terminal=false
Icon=xpm
Type=Application
