[Desktop Entry]
Name=EnjoyMPEG
Name[bn]=এনজয়-এমপেগ
Name[csb]=Ùceszë sã MPEG
Name[hi]=एन्जॉयएमपीईजी
Name[ne]=MPEG रमाउनुहोस्
Name[pl]=Ciesz się MPEG
Name[sr]=ЕнџојМПЕГ
Name[te]=ఎంజాయ్ ఎంపిఈజి
Name[x-test]=xxEnjoyMPEGxx
GenericName=MPEG Player
GenericName[af]=MPEG Speler
GenericName[ar]=MPEG قارئ
GenericName[be]=Прайгравальнік MPEG
GenericName[bg]=Плеър за MPEG
GenericName[bn]=এমপেগ প্রদর্শক
GenericName[br]=Soner MPEG
GenericName[ca]=Reproductor MPEG
GenericName[cs]=Přehrávač MPEGů
GenericName[csb]=Grôcz MPEG
GenericName[cy]=Chwaraewr MPEG
GenericName[da]=MPEG-afspiller
GenericName[de]=MPEG-Wiedergabe
GenericName[el]=Αναπαραγωγέας MPEG
GenericName[eo]=MPEG legilo
GenericName[es]=Reproductor MPEG
GenericName[et]=MPEG videofailide mängija
GenericName[eu]=MPEG erreproduzigailua
GenericName[fa]=پخش‌کنندۀ MPEG
GenericName[fi]=MPEG-soitin
GenericName[fr]=Lecteur Mpeg
GenericName[fy]=MPEG-spiler
GenericName[ga]=Seinnteoir MPEG
GenericName[gl]=Reprodutor MPEG
GenericName[he]=נגן MPEG
GenericName[hi]=एमपीईजी प्लेयर
GenericName[hr]=MPEG program
GenericName[hu]=MPEG-lejátszó
GenericName[is]=MPEG spilari
GenericName[it]=Lettore MPEG
GenericName[ja]=MPEG プレーヤ
GenericName[ka]=MPEG დამკვრელი
GenericName[kk]=MPEG плейер
GenericName[km]=កម្មវិធី​ចាក់ MPEG
GenericName[ko]=MPEG 재생기
GenericName[ku]=Lêdera MPEG
GenericName[lt]=MPEG grotuvas
GenericName[lv]=MPEG atskaņotājs
GenericName[mk]=MPEG-плеер
GenericName[ms]=Pemain MPEG
GenericName[nb]=MPEG-spiller
GenericName[nds]=MPEG-Afspeler
GenericName[ne]=MPEG प्लेयर
GenericName[nl]=MPEG-speler
GenericName[nn]=MPEG-spelar
GenericName[pa]=MPEG ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz MPEG
GenericName[pt]=Leitor de MPEG
GenericName[pt_BR]=Reprodutor de MPEG
GenericName[ro]=Redare fişiere video MPEG
GenericName[ru]=Проигрыватель MPEG
GenericName[se]=MPEG-čuojan
GenericName[sk]=Prehrávač MPEG
GenericName[sl]=Predvajalnik MPEG
GenericName[sr]=Плејер МПЕГ‑а
GenericName[sr@latin]=Plejer MPEG‑a
GenericName[sv]=MPEG-spelare
GenericName[ta]=MPEG சாதனம்
GenericName[te]=ఎంపిఈజి ప్లెయర్
GenericName[tg]=Плейери MPEG
GenericName[th]=โปรแกรมเล่น MPEG
GenericName[tr]=MPEG Çalıcı
GenericName[uk]=Програвач MPEG
GenericName[uz]=MPEG плейер
GenericName[vi]=Bộ xem tập tin MPEG
GenericName[wa]=Djouweu di videyos MPEG
GenericName[x-test]=xxMPEG Playerxx
GenericName[xh]=Umdlali we MPEG
GenericName[zh_CN]=MPEG 播放器
GenericName[zh_TW]=MPEG 播放程式
Exec=enjoympeg
Terminal=false
Icon=xpm
Type=Application
