[Desktop Entry]
Encoding=UTF-8
Exec=freebirth
Icon=
Name=FreeBirth
Name[km]=FreeDB
Name[sv]=Freebirth
Name[x-test]=xxFreeBirthxx
GenericName=Drum Machine
GenericName[bg]=Барабани
GenericName[de]=Rythmus-Synthesizer
GenericName[el]=Μηχανή κρουστών
GenericName[ga]=Meaisín Drumadóireachta
GenericName[he]=מכונת תופים
GenericName[ja]=ドラムマシン
GenericName[kk]=Дауылпаз машинасы
GenericName[km]=ម៉ាស៊ីន​ Drum
GenericName[ko]=드럼 머신
GenericName[nb]=Trommemaskin
GenericName[nds]=Trummelmaschien
GenericName[nl]=Drumcomputer
GenericName[nn]=Trommemaskin
GenericName[pt]=Máquina de Percussão
GenericName[pt_BR]=Máquina de Percussão
GenericName[sv]=Trummaskin
GenericName[th]=โปรแกรมสร้างจังหวะและเสียงกลอง
GenericName[x-test]=xxDrum Machinexx
GenericName[zh_CN]=打鼓机
GenericName[zh_TW]=打鼓機
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
