[Desktop Entry]
Exec=freebirth
Icon=
Name=FreeBirth
Name[hi]=फ्री-बर्थ
Name[km]=FreeDB
Name[ne]=फ्रि बर्थ
Name[sr]=Фрибирт
Name[sv]=Freebirth
Name[x-test]=xxFreeBirthxx
GenericName=Drum Machine
GenericName[bg]=Барабани
GenericName[ca]=Màquina de percussió
GenericName[csb]=Syntezatora ritmù
GenericName[da]=Trommemaskine
GenericName[de]=Rythmus-Synthesizer
GenericName[el]=Μηχανή κρουστών
GenericName[es]=Batería
GenericName[et]=Trummimasin
GenericName[eu]=Bateria
GenericName[fi]=Rumpukone
GenericName[fr]=Batterie
GenericName[fy]=Drum masine
GenericName[ga]=Meaisín Drumadóireachta
GenericName[gl]=Caixa de ritmos
GenericName[he]=מכונת תופים
GenericName[hi]=ड्रम मशीन
GenericName[hu]=Dobgép
GenericName[is]=Trommuheili
GenericName[ja]=ドラムマシン
GenericName[kk]=Дауылпаз машинасы
GenericName[km]=ម៉ាស៊ីន​ Drum
GenericName[ko]=드럼 머신
GenericName[lt]=Bugnų mašina
GenericName[lv]=Bungu mašīna
GenericName[nb]=Trommemaskin
GenericName[nds]=Trummelmaschien
GenericName[ne]=ड्रम मेशिन
GenericName[nl]=Drumcomputer
GenericName[nn]=Trommemaskin
GenericName[pa]=ਡਰੰਮ ਮਸ਼ੀਨ
GenericName[pl]=Automat perkusyjny
GenericName[pt]=Máquina de Percussão
GenericName[pt_BR]=Máquina de Percussão
GenericName[se]=Rumbomašiidna
GenericName[sl]=Ritem mašina
GenericName[sr]=Ритам машина
GenericName[sr@latin]=Ritam mašina
GenericName[sv]=Trummaskin
GenericName[th]=โปรแกรมสร้างจังหวะและเสียงกลอง
GenericName[tr]=Davul Makinesi
GenericName[uk]=Ударна установка
GenericName[wa]=Boesse a rite
GenericName[x-test]=xxDrum Machinexx
GenericName[zh_CN]=打鼓机
GenericName[zh_TW]=打鼓機
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
