[Desktop Entry]
Encoding=UTF-8
Exec=freebirth
Icon=
Name=FreeBirth
Name[sv]=Freebirth
GenericName=Drum Machine
GenericName[ga]=Meaisín Drumadóireachta
GenericName[nds]=Trummelmaschien
GenericName[pt]=Máquina de Percussão
GenericName[pt_BR]=Máquina de Percussão
GenericName[sv]=Trummaskin
GenericName[zh_TW]=打鼓機
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
