[Desktop Entry]
Encoding=UTF-8
Exec=freqtweak
Icon=
Name=FreqTweak
GenericName=Effects for Jack
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
