[Desktop Entry]
Encoding=UTF-8
Exec=freqtweak
Icon=
Name=FreqTweak
Name[sv]=Freqtweak
Name[ta]=பர்க்டீவீக்
Name[x-test]=xxFreqTweakxx
GenericName=Effects for Jack
GenericName[bg]=Визуални ефекти за Jack
GenericName[ca]=Efectes del Jack
GenericName[cs]=Efekty pro Jack
GenericName[cy]=Effeithiau ar gyfer Jack
GenericName[da]=Effekter for jack
GenericName[de]=Effekte für Jack
GenericName[el]=Εφέ για το Jack
GenericName[es]=Efectos para Jack
GenericName[et]=Jacki efektid
GenericName[eu]=Jack-erako efektuak
GenericName[fa]=تأثیرات برای Jack
GenericName[fr]=Effects pour Jack
GenericName[ga]=Maisíochtaí le haghaidh Jack
GenericName[gl]=Efectos para Jack
GenericName[he]=אפקטים עבור Jack
GenericName[hu]=Effektező a JACK-hez
GenericName[is]=Brellur fyrir Jack
GenericName[it]=Effetti per Jack
GenericName[ja]=Jack のエフェクト
GenericName[kk]=Jack эффекттері
GenericName[km]=បែបផែន​សម្រាប់ Jack
GenericName[mk]=Ефекти за Jack
GenericName[nb]=Effektar for Jack
GenericName[nds]=Effekten för Jack
GenericName[ne]=ज्याकका लाग प्रभाव
GenericName[nl]=Effecten voor Jack
GenericName[nn]=Effektar for Jack
GenericName[pa]=ਜੈਕ ਦਾ ਪ੍ਰਭਾਵ
GenericName[pl]=Efekty dla Jacka
GenericName[pt]=Efeitos para o Jack
GenericName[pt_BR]=Efeitos para o Jack
GenericName[ro]=Efecte pentru Jack
GenericName[ru]=Эффекты для Jack
GenericName[sl]=Učinki za Jack
GenericName[sr]=Ефекти за Jack
GenericName[sr@latin]=Efekti za Jack
GenericName[sv]=Effekter för Jack
GenericName[ta]=ஜாக்குக்கான ஒலி அமைப்புகள
GenericName[tg]=Натиҷаҳо барои Jack
GenericName[tr]=Jack için Efektler
GenericName[uk]=Ефекти для Jack
GenericName[x-test]=xxEffects for Jackxx
GenericName[zh_HK]=用於 Jack 的效果
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
