[Desktop Entry]
Exec=freqtweak
Icon=
Name=FreqTweak
Name[ne]=फ्रेक्टविक
Name[sr]=Фректвик
Name[sv]=Freqtweak
Name[x-test]=xxFreqTweakxx
GenericName=Effects for Jack
GenericName[be]=Эфенты для Jack
GenericName[bg]=Ефекти за Jack
GenericName[ca]=Efectes pel Jack
GenericName[de]=Effekte für Jack
GenericName[el]=Εφέ για το Jack
GenericName[eo]=Efektoj por Jack
GenericName[es]=Efectos para Jack
GenericName[et]=JACKi efektid
GenericName[ga]=Maisíochtaí Jack
GenericName[hu]=Effektusok a Jackhez
GenericName[it]=Effetti per Jack
GenericName[ja]=Jack のエフェクト
GenericName[kk]=Jack-тың эффектері
GenericName[km]=បែបផែន​សម្រាប់ Jack​
GenericName[ko]=Jack 효과
GenericName[lt]=Kištuko efektai
GenericName[lv]=Efekti priekš Jack
GenericName[nb]=Effekter til Jack
GenericName[nds]=Effekten för Jack
GenericName[ne]=ज्याकका लागि प्रभावहरू
GenericName[nl]=Effecten voor Jack
GenericName[nn]=Effektar til Jack
GenericName[pt]=Efeitos para o Jack
GenericName[pt_BR]=Efeitos para o Jack
GenericName[ru]=Эффекты для Jack
GenericName[sl]=Učinki za Jack
GenericName[sr]=Ефекти за Џек
GenericName[sr@latin]=Efekti za Jack
GenericName[sv]=Effekter för Jack
GenericName[th]=เอฟเฟคต์สำหรับ Jack
GenericName[x-test]=xxEffects for Jackxx
GenericName[zh_CN]=Jack 音效
GenericName[zh_TW]=Jack 音效
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
