[Desktop Entry]
Encoding=UTF-8
Exec=galan
Icon=
Name=gAlan
Name[sv]=Galan
Name[x-test]=xxgAlanxx
GenericName=Modular Synth
GenericName[bg]=Модулен синтезатор
GenericName[ca]=Sintetitzador modular
GenericName[cs]=Modulární syntéza
GenericName[cy]=Syntheseisydd  Modiwlaidd
GenericName[de]=Modularer Synthesizer
GenericName[el]=Αρθρωτός συνθέτης
GenericName[es]=Sintetizador modular
GenericName[et]=Modulaarne süntesaator
GenericName[eu]=Sintetizatzaile modularra
GenericName[fa]=ترکیب‌دهندۀ پیمانه‌ای
GenericName[fi]=Modulaarinen synteesi
GenericName[fr]=Synthétiseur modulaire
GenericName[ga]=Sintéiseoir Modúlach
GenericName[gl]=Sintetizador Modular
GenericName[he]=סינטיסייזר מודולרי
GenericName[hu]=Moduláris szintetizátor
GenericName[is]=Hljóðgerfilseining
GenericName[it]=Sintetizzatore modulare
GenericName[ja]=モジュラーシンセ
GenericName[kk]=Модульді синтезатор
GenericName[mk]=Модуларен синтисајзер
GenericName[nb]=Modulær synt
GenericName[nds]=Klangteler mit Modulen
GenericName[ne]=मोड्युलर सिन्थ
GenericName[nl]=Modulaire Synthesizer
GenericName[nn]=Modulær synt
GenericName[pl]=Syntezator modularny
GenericName[pt]=Sintetizador Modular
GenericName[pt_BR]=Sintetizador Modular
GenericName[ro]=Sintetizator modular
GenericName[ru]=Синтезатор
GenericName[sl]=Modularni Synth
GenericName[sr]=Модуларни синтетизатор
GenericName[sr@latin]=Modularni sintetizator
GenericName[sv]=Modulär synthesizer
GenericName[ta]= மாடுலர் சிந்த்
GenericName[tg]=Ҳамзамонсози Модулӣ
GenericName[uk]=Модульний синтезатор
GenericName[x-test]=xxModular Synthxx
GenericName[zh_HK]=模組式合成器
GenericName[zh_TW]=模組合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
