[Desktop Entry]
Encoding=UTF-8
Exec=galan
Icon=
Name=gAlan
GenericName=Modular Synth
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
