[Desktop Entry]
Encoding=UTF-8
Exec=galan
Icon=
Name=gAlan
Name[sv]=Galan
Name[x-test]=xxgAlanxx
GenericName=Modular Synth
GenericName[de]=Modularer Synthesizer
GenericName[el]=Αρθρωτός συνθέτης
GenericName[es]=Sintetizador modular
GenericName[ga]=Sintéiseoir Modúlach
GenericName[ja]=モジュラーシンセ
GenericName[kk]=Модульді синтезаторы
GenericName[ko]=모듈러 합성
GenericName[nb]=Modulær synth
GenericName[nds]=Moduul-Klangteler
GenericName[nl]=Modulaire synthesizer
GenericName[pt]=Sintetizador Modular
GenericName[pt_BR]=Sintetizador Modular
GenericName[sv]=Modulär synt
GenericName[th]=โปรแกรมสังเคราะห์เสียงแบบโมดูล
GenericName[x-test]=xxModular Synthxx
GenericName[zh_TW]=模組合成器
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
