[Desktop Entry]
Name=Grip
Name[bn]=গ্রিপ
Name[fa]=چنگ زدن
Name[fr]=GRip
Name[hi]=ग्रिप
Name[kn]=ಗ್ರಿಪ್
Name[ml]=ഗ്രിപ്
Name[ne]=ग्रिप
Name[pa]=ਗਰਿੱਪ
Name[sr]=Грип
Name[ta]=கிர்ப்
Name[te]=గ్రిప్
Name[x-test]=xxGripxx
GenericName=CD Player/Ripper
GenericName[af]=Cd Speler/Ripper
GenericName[be]=Прайгравальнік/выціскальнік гуку для CD
GenericName[bg]=CD плеър/Записвачка
GenericName[bn]=সিডি প্লেয়ার/রিপার
GenericName[br]=Ur c'hoarier/eztenner CD
GenericName[ca]=Reproductor/gravador de CD
GenericName[cs]=CD přehrávač/ripper
GenericName[csb]=Grôcz ë wypôlôrz CD
GenericName[cy]=Rhwygwr/Chwaraewr CD
GenericName[da]=Cd-afspiller/ripper
GenericName[de]=CDs wiedergeben und auslesen
GenericName[el]=Αναπαραγωγέας CD/Ripper
GenericName[eo]=Lumdiska legilo/ekstraktilo
GenericName[es]=Reproductor/Extractor de CD
GenericName[et]=CD mängija/rippija
GenericName[eu]=CD jolea/ripper-a
GenericName[fa]=پخش‌کننده/چاک‌دهنده دیسک فشرده
GenericName[fi]=CD-soitin/lukija
GenericName[fr]=Lecteur / extracteur de CD audio
GenericName[fy]=cd-spiler/ripper
GenericName[ga]=Seinnteoir/Sracaire Dlúthdhioscaí
GenericName[gl]=Reprodutor/Extractor de CD
GenericName[gu]=સીડી પ્લેયર/રીપર
GenericName[he]=נגן/ממיר (Ripper) לתקליטורים
GenericName[hi]=सीडी प्लेयर/रिप्पर
GenericName[hr]=CD svirač/skidač
GenericName[hu]=CD-lejátszó és -másoló
GenericName[is]=CD spilari/afritari
GenericName[it]=Lettore/ripper CD
GenericName[ja]=CD プレーヤ/リッパー
GenericName[kk]=CD плейер/риппер
GenericName[km]=កម្មវិធី​ចាក់/​កម្មវិធី​ច្រៀក​ស៊ីឌី
GenericName[kn]=ಅಡಕಮುದ್ರಿಕೆ ವ್ಯಕ್ತಕ (ತೋರುಗ)/ಸೀಳುಗ (ರಿಪರ್)
GenericName[ko]=CD 재생기/추출기
GenericName[ku]=Lêder/Veguhêra CD'yan
GenericName[lt]=CD grotuvas/riperis
GenericName[lv]=CD atskaņotājs/ripotājs
GenericName[ml]=സിഡി പ്ലെയര്‍/റിപ്പര്‍
GenericName[ms]=Pemain/Pengekstrak CD
GenericName[nb]=CD-spiller/opptaker
GenericName[nds]=CD-Afspeler/-Ripper
GenericName[ne]=सीडी प्लेयर/रिपर
GenericName[nl]=cd-speler/ripper
GenericName[nn]=CD-spelar/-opptakar
GenericName[pa]=CD ਪਲੇਅਰ/ਰਿਪਰ
GenericName[pl]=Odtwarzacz i wypalacz CD
GenericName[pt]=Leitor/Extractor de CDs
GenericName[pt_BR]=Reprodutor/Ripador de CDs
GenericName[ro]=Redare/extragere CD
GenericName[ru]=CD плейер/риппер
GenericName[se]=CD-čuojan/-báddejeaddji
GenericName[sk]=CD prehrávač
GenericName[sl]=Predvajalnik/zajemalnik CD-jev
GenericName[sr]=Плејер и рипер ЦД‑ова
GenericName[sr@latin]=Plejer i riper CD‑ova
GenericName[sv]=Cd-spelare/avläsare
GenericName[ta]=வட்டு இயக்கி/பிரித்தி
GenericName[te]=సిడి ప్లెయర్/రిప్పర్
GenericName[tg]=CD плейер/риппер
GenericName[th]=โปรแกรมเล่นซีดี/บันทึกเพลงจากซีดี
GenericName[tr]=CD Çalıcı/Aktarıcı
GenericName[uk]=Програвач/записувач КД
GenericName[uz]=Компакт-диск плейер/риппер
GenericName[vi]=Bộ phát/thu đĩa CD
GenericName[wa]=Djouweu/copieu di plakes lazer
GenericName[x-test]=xxCD Player/Ripperxx
GenericName[xh]=Umdlali we CD/Umsiki
GenericName[zh_CN]=CD 播放/抓取程序
GenericName[zh_TW]=CD 播放程式/音軌擷取程式
Exec=grip
Terminal=false
Icon=grip
Type=Application
