[Desktop Entry]
Encoding=UTF-8
Name=Grip
Name[eo]=Gripo
Name[fa]=چنگ زدن
Name[fr]=GRip
Name[ne]=ग्रिप
Name[pa]=ਗਰਿੱਪ
Name[ta]=கிர்ப்
Name[te]=గ్రిప్
Name[tr]=CD Çalıcı ve Aktarıcı
Name[x-test]=xxGripxx
GenericName=CD Player/Ripper
GenericName[af]=Cd Speler/Ripper
GenericName[be]=Прайгравальнік/выціскальнік гуку для CD
GenericName[bg]=CD плеър/Записвачка
GenericName[br]=Ur c'hoarier/eztenner CD
GenericName[ca]=Reproductor/grabador de CD
GenericName[cs]=CD přehrávač/ripper
GenericName[csb]=Grôcz ë wypôlôrz CD
GenericName[cy]=Rhwygwr/Chwaraewr CD
GenericName[da]=Cd-afspiller/ripper
GenericName[de]=CDs wiedergeben und auslesen
GenericName[el]=Αναπαραγωγέας CD/Ripper
GenericName[eo]=Ludilo kaj ellegilo por muzikaj lumdiskoj
GenericName[es]=Reproductor/Extractor de CD
GenericName[et]=CD mängija/rippija
GenericName[eu]=CD jolea/ripper-a
GenericName[fa]=پخش‌کننده/چاک‌دهنده دیسک فشرده
GenericName[fi]=CD-soitin/lukija
GenericName[fr]=Lecteur / extracteur de CD audio
GenericName[fy]=cd-spiler/ripper
GenericName[ga]=Seinnteoir/Sracaire Dlúthdhioscaí
GenericName[gl]=Reprodutor de CD/Extractor
GenericName[he]=נגן/ממיר (Ripper) לתקליטורים
GenericName[hr]=CD svirač/skidač
GenericName[hu]=CD-lejátszó és -másoló
GenericName[is]=CD spilari/afritari
GenericName[it]=Lettore/ripper CD
GenericName[ja]=CD プレーヤ/リッパー
GenericName[kk]=CD плейер/риппер
GenericName[km]=កម្មវិធី​ចាក់​ស៊ីឌី/កម្មវិធី​ច្រៀក
GenericName[lt]=CD grotuvas/riperis
GenericName[lv]=CD Atskaņotājs/Rippers
GenericName[ms]=Pemain/Pengekstrak CD
GenericName[nb]=CD-spiller/opptaker
GenericName[nds]=CD-Afspeler/-Ripper
GenericName[ne]=सीडी प्लेयर/रिपर
GenericName[nl]=cd-speler/ripper
GenericName[nn]=CD-spelar/-opptakar
GenericName[pa]=CD ਪਲੇਅਰ/ਰਿਪਰ
GenericName[pl]=Odtwarzacz i wypalacz CD
GenericName[pt]=Leitor/Extractor de CDs
GenericName[pt_BR]=Reprodutor/Ripador de CDs
GenericName[ro]=Redare/scriere CD
GenericName[ru]=CD плейер/риппер
GenericName[se]=CD-čuojan/-báddejeaddji
GenericName[sl]=Predvajalnik/zajemalnik CD-jev
GenericName[sr]=CD пуштач/рипер
GenericName[sr@latin]=CD puštač/riper
GenericName[sv]=Cd-spelare/avläsare
GenericName[ta]=சிடி சாதனம்/ரிப்பர்
GenericName[te]=సిడి ప్లెయర్/రిప్పర్
GenericName[tg]=CD плейер/риппер
GenericName[th]=โปรแกรมเล่นซีดี/บันทึกเพลงจากซีดี
GenericName[tr]=CD Çalıcı/Aktarıcı
GenericName[uk]=Програвач/записувач КД
GenericName[uz]=Компакт-диск плейер/риппер
GenericName[vi]=Bộ phát/thu đĩa CD
GenericName[wa]=Djouweu/copieu di plakes lazer
GenericName[x-test]=xxCD Player/Ripperxx
GenericName[xh]=Umdlali we CD/Umsiki
GenericName[zh_TW]=CD 播放程式/音軌擷取程式
Exec=grip
Terminal=false
Icon=grip
Type=Application
