[Desktop Entry]
Name=Grip
Name[af]=Grip
Name[ar]=القبضه
Name[as]=Grip
Name[be]=Grip
Name[be@latin]=Grip
Name[bg]=Grip
Name[bn]=গ্রিপ
Name[bn_IN]=Grip
Name[br]=Grip
Name[ca]=Grip
Name[ca@valencia]=Grip
Name[cs]=Grip
Name[csb]=Grip
Name[cy]=Grip
Name[da]=Grip
Name[de]=Grip
Name[el]=Grip
Name[en_GB]=Grip
Name[eo]=Grip
Name[es]=Grip
Name[et]=Grip
Name[eu]=Grip
Name[fa]=چنگ زدن
Name[fi]=Grip
Name[fr]=GRip
Name[fy]=Grip
Name[ga]=Grip
Name[gl]=Grip
Name[gu]=Grip
Name[he]=Grip
Name[hi]=ग्रिप
Name[hne]=ग्रिप
Name[hr]=Grip
Name[hsb]=Grip
Name[hu]=Grip
Name[is]=Grip
Name[it]=Grip
Name[ja]=Grip
Name[ka]=Grip
Name[kk]=Grip
Name[km]=Grip
Name[kn]=ಗ್ರಿಪ್
Name[ko]=Grip
Name[ku]=Grip
Name[lt]=Grip
Name[lv]=Grip
Name[mai]=ग्रिप
Name[mk]=Grip
Name[ml]=ഗ്രിപ്
Name[mr]=ग्रिप
Name[ms]=Grip
Name[nb]=Grip
Name[nds]=Grip
Name[ne]=ग्रिप
Name[nl]=Grip
Name[nn]=Grip
Name[oc]=Grip
Name[or]=Grip
Name[pa]=ਗਰਿੱਪ
Name[pl]=Grip
Name[pt]=Grip
Name[pt_BR]=Grip
Name[ro]=Grip
Name[ru]=Grip
Name[se]=Grip
Name[si]=Grip
Name[sk]=Grip
Name[sl]=Grip
Name[sr]=Грип
Name[sr@latin]=Grip
Name[sv]=Grip
Name[ta]=கிர்ப்
Name[te]=గ్రిప్
Name[tg]=Grip
Name[th]=Grip
Name[tr]=Grip
Name[uk]=Grip
Name[uz]=Grip
Name[uz@cyrillic]=Grip
Name[vi]=Grip
Name[wa]=Grip
Name[xh]=Grip
Name[x-test]=xxGripxx
Name[zh_CN]=Grip
Name[zh_TW]=Grip
GenericName=CD Player/Ripper
GenericName[af]=CD Speler/Ripper
GenericName[ar]=قارئ القرص المدمج
GenericName[as]=CD Player/Ripper
GenericName[be]=Прайгравальнік/выціскальнік гуку для CD
GenericName[be@latin]=Prajhravańnik i kapijavańnik dla CD-dyskaŭ
GenericName[bg]=CD плеър/кодиране
GenericName[bn]=সিডি প্লেয়ার/রিপার
GenericName[bn_IN]=CD বাদন/রিপার ব্যবস্থা
GenericName[br]=Ur c'hoarier/eztenner CD
GenericName[ca]=Reproductor/gravador de CD
GenericName[ca@valencia]=Reproductor/gravador de CD
GenericName[cs]=CD přehrávač/ripper
GenericName[csb]=Grôcz ë wypôlôrz CD
GenericName[cy]=Rhwygwr/Chwaraewr CD
GenericName[da]=Cd-afspiller/ripper
GenericName[de]=CDs wiedergeben und auslesen
GenericName[el]=Αναπαραγωγέας CD/Ripper
GenericName[en_GB]=CD Player/Ripper
GenericName[eo]=Lumdiska legilo/ekstraktilo
GenericName[es]=Reproductor/Extractor de CD
GenericName[et]=CD mängija/rippija
GenericName[eu]=CD jolea/ripper-a
GenericName[fa]=پخش‌کننده/چاک‌دهنده دیسک فشرده
GenericName[fi]=CD-soitin/lukija
GenericName[fr]=Lecteur / extracteur de CD audio
GenericName[fy]=cd-spiler/ripper
GenericName[ga]=Seinnteoir/Sracaire Dlúthdhioscaí
GenericName[gl]=Reprodutor/Extractor de CD
GenericName[gu]=સીડી પ્લેયર/રીપર
GenericName[he]=נגן/ממיר (Ripper) לתקליטורים
GenericName[hi]=सीडी प्लेयर/रिप्पर
GenericName[hne]=सीडी प्लेयर/रिप्पर
GenericName[hr]=CD svirač/skidač
GenericName[hsb]=CD-wothrawak/ripper
GenericName[hu]=CD-lejátszó és -másoló
GenericName[is]=CD spilari/afritari
GenericName[it]=Lettore/ripper CD
GenericName[ja]=CD プレーヤー/リッパー
GenericName[ka]=CD Player/Ripper
GenericName[kk]=CD плейер/риппер
GenericName[km]=កម្មវិធី​ចាក់/​កម្មវិធី​ច្រៀក​ស៊ីឌី
GenericName[kn]=ಅಡಕಮುದ್ರಿಕೆ ಸೀಳುಗ (ರಿಪರ್)
GenericName[ko]=CD 재생기/추출기
GenericName[ku]=Lêder/Veguhêra CD'yan
GenericName[lt]=CD grotuvas/riperis
GenericName[lv]=CD atskaņotājs/ripotājs
GenericName[mai]=सीडी प्लेयर/रिप्पर
GenericName[mk]=CD Player/Ripper
GenericName[ml]=സിഡി പ്ലെയര്‍/റിപ്പര്‍
GenericName[mr]=सीडी प्लेयर/रिप्पर
GenericName[ms]=Pemain/Pengekstrak CD
GenericName[nb]=CD-spiller/opptaker
GenericName[nds]=CD-Afspeler/-Ripper
GenericName[ne]=सीडी प्लेयर/रिपर
GenericName[nl]=cd-speler/ripper
GenericName[nn]=CD-spelar/-opptakar
GenericName[or]=CD ଚାଳକ/ରିପର
GenericName[pa]=CD ਪਲੇਅਰ/ਰਿਪਰ
GenericName[pl]=Odtwarzacz i wypalacz CD
GenericName[pt]=Leitor/Extractor de CDs
GenericName[pt_BR]=Reprodutor/ripador de CDs
GenericName[ro]=Redare/extragere CD
GenericName[ru]=Проигрывание и копирование CD
GenericName[se]=CD-čuojan/-báddejeaddji
GenericName[si]=CD වාදකය
GenericName[sk]=CD prehrávač
GenericName[sl]=Predvajalnik/zajemalnik CD-jev
GenericName[sr]=Плејер и рипер ЦД‑ова
GenericName[sr@latin]=Plejer i riper CD‑ova
GenericName[sv]=Cd-spelare/avläsare
GenericName[ta]=வட்டு இயக்கி/பிரித்தி
GenericName[te]=సిడి ప్లెయర్/రిప్పర్
GenericName[tg]=Плеери нусхабардории CD
GenericName[th]=โปรแกรมเล่นซีดี/บันทึกเพลงจากซีดี
GenericName[tr]=CD Çalıcı/Aktarıcı
GenericName[uk]=Програвач/записувач КД
GenericName[uz]=Kompakt-disk pleyer/ripper
GenericName[uz@cyrillic]=Компакт-диск плейер/риппер
GenericName[vi]=Bộ phát/thu đĩa CD
GenericName[wa]=Djouweu/copieu di plakes lazer
GenericName[xh]=Umdlali we CD/Umsiki
GenericName[x-test]=xxCD Player/Ripperxx
GenericName[zh_CN]=CD 播放/抓取程序
GenericName[zh_TW]=CD 播放程式/音軌擷取程式
Exec=grip
Terminal=false
Icon=grip
Type=Application
