[Desktop Entry]
GenericName=MPEG Player
GenericName[af]=MPEG Speler
GenericName[ar]=MPEG قارئ
GenericName[as]=MPEG Player
GenericName[be]=Прайгравальнік MPEG
GenericName[be@latin]=Prahravańnik dla MPEG
GenericName[bg]=Плеър за MPEG
GenericName[bn]=এমপেগ প্রদর্শক
GenericName[bn_IN]=MPEG প্লেয়ার
GenericName[br]=Soner MPEG
GenericName[ca]=Reproductor MPEG
GenericName[ca@valencia]=Reproductor MPEG
GenericName[cs]=Přehrávač MPEGů
GenericName[csb]=Grôcz MPEG
GenericName[cy]=Chwaraewr MPEG
GenericName[da]=MPEG-afspiller
GenericName[de]=MPEG-Wiedergabe
GenericName[el]=Αναπαραγωγέας MPEG
GenericName[en_GB]=MPEG Player
GenericName[eo]=MPEG legilo
GenericName[es]=Reproductor MPEG
GenericName[et]=MPEG videofailide mängija
GenericName[eu]=MPEG erreproduzigailua
GenericName[fa]=پخش‌کنندۀ MPEG
GenericName[fi]=MPEG-soitin
GenericName[fr]=Lecteur Mpeg
GenericName[fy]=MPEG-spiler
GenericName[ga]=Seinnteoir MPEG
GenericName[gl]=Reprodutor MPEG
GenericName[gu]=MPEG પ્લેયર
GenericName[he]=נגן MPEG
GenericName[hi]=एमपीईजी प्लेयर
GenericName[hne]=एमपीईजी प्लेयर
GenericName[hr]=MPEG program
GenericName[hsb]=MPEG wothrawak
GenericName[hu]=MPEG-lejátszó
GenericName[is]=MPEG spilari
GenericName[it]=Lettore MPEG
GenericName[ja]=MPEG プレーヤー
GenericName[ka]=MPEG დამკვრელი
GenericName[kk]=MPEG плейер
GenericName[km]=កម្មវិធី​ចាក់ MPEG
GenericName[kn]=ಎಂಪೆಗ್ ನಿರೂಪಕ
GenericName[ko]=MPEG 재생기
GenericName[ku]=Lêdera MPEG
GenericName[lt]=MPEG grotuvas
GenericName[lv]=MPEG atskaņotājs
GenericName[mai]=एमपीईजी प्लेयर
GenericName[mk]=MPEG-плеер
GenericName[ml]=എംപെഗ് പ്ലെയര്‍
GenericName[mr]=एमपीईजी प्लेयर
GenericName[ms]=Pemain MPEG
GenericName[nb]=MPEG-spiller
GenericName[nds]=MPEG-Afspeler
GenericName[ne]=MPEG प्लेयर
GenericName[nl]=MPEG-speler
GenericName[nn]=MPEG-spelar
GenericName[or]=MPEG ଚାଳକ
GenericName[pa]=MPEG ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz MPEG
GenericName[pt]=Leitor de MPEG
GenericName[pt_BR]=Reprodutor de MPEG
GenericName[ro]=Player MPEG
GenericName[ru]=Проигрыватель MPEG
GenericName[se]=MPEG-čuojan
GenericName[si]=MPEG වාදකය
GenericName[sk]=Prehrávač MPEG
GenericName[sl]=Predvajalnik MPEG
GenericName[sr]=Плејер МПЕГ‑а
GenericName[sr@latin]=Plejer MPEG‑a
GenericName[sv]=MPEG-spelare
GenericName[ta]=MPEG இயக்கி
GenericName[te]=ఎంపిఈజి ప్లెయర్
GenericName[tg]=Плеери MPEG
GenericName[th]=โปรแกรมเล่น MPEG
GenericName[tr]=MPEG Çalıcı
GenericName[uk]=Програвач MPEG
GenericName[uz]=MPEG pleyer
GenericName[uz@cyrillic]=MPEG плейер
GenericName[vi]=Bộ xem tập tin MPEG
GenericName[wa]=Djouweu di videyos MPEG
GenericName[xh]=Umdlali we MPEG
GenericName[x-test]=xxMPEG Playerxx
GenericName[zh_CN]=MPEG 播放器
GenericName[zh_TW]=MPEG 播放程式
Exec=gtv
Icon=video
MimeType=video/mpeg;
Name=GTV
Name[af]=GTV
Name[ar]=GTV
Name[as]=GTV
Name[be]=GTV
Name[be@latin]=GTV
Name[bg]=GTV
Name[bn]=জিটিভি
Name[bn_IN]=GTV
Name[br]=GTV
Name[ca]=GTV
Name[ca@valencia]=GTV
Name[cs]=GTV
Name[csb]=GTV
Name[cy]=GTV
Name[da]=GTV
Name[de]=GTV
Name[el]=GTV
Name[en_GB]=GTV
Name[eo]=GTV
Name[es]=GTV
Name[et]=GTV
Name[eu]=GTV
Name[fi]=GTV
Name[fr]=GTV
Name[fy]=GTV
Name[ga]=GTV
Name[gl]=GTV
Name[gu]=GTV
Name[he]=GTV
Name[hi]=जीटीवी
Name[hne]=जीटीवी
Name[hr]=GTV
Name[hsb]=GTV
Name[hu]=GTV
Name[is]=GTV
Name[it]=GTV
Name[ja]=GTV
Name[ka]=GTV
Name[kk]=GTV
Name[km]=GTV
Name[kn]=ಜಿಟಿವಿ
Name[ko]=GTV
Name[ku]=GTV
Name[lt]=GTV
Name[lv]=GTV
Name[mai]=जीटीवी
Name[mk]=GTV
Name[ml]=ജിടിവി
Name[mr]=जीटीवी
Name[ms]=GTV
Name[nb]=GTV
Name[nds]=GTV
Name[ne]=GTV
Name[nl]=GTV
Name[nn]=GTV
Name[oc]=GTV
Name[or]=GTV
Name[pa]=GTV
Name[pl]=GTV
Name[pt]=GTV
Name[pt_BR]=GTV
Name[ro]=GTV
Name[ru]=GTV
Name[se]=GTV
Name[si]=GTV
Name[sk]=GTV
Name[sl]=GTV
Name[sr]=ГТВ
Name[sr@latin]=GTV
Name[sv]=GTV
Name[ta]=GTV
Name[te]=జిటివి
Name[tg]=GTV
Name[th]=GTV
Name[tr]=GTV
Name[uk]=GTV
Name[uz]=GTV
Name[uz@cyrillic]=GTV
Name[vi]=GTV
Name[wa]=GTV
Name[xh]=GTV
Name[x-test]=xxGTVxx
Name[zh_CN]=GTV
Name[zh_TW]=GTV
X-KDE-ServiceTypes=
Type=Application
