[Desktop Entry]
Encoding=UTF-8
Exec=hydrogen
Icon=
Name=Hydrogen
Name[fa]=هیدروژن
Name[fr]=Hydrogène
Name[ga]=Hidrigin
Name[ne]=हाइड्रोजन
Name[pa]=ਹਾਈਡਰੋਜਨ
Name[ta]=ஹைட்ரோஜன்
Name[tg]=Гидроген
Name[x-test]=xxHydrogenxx
GenericName=Drum Machine
GenericName[bg]=Барабан
GenericName[ca]=Bateria
GenericName[cs]=Bubny
GenericName[cy]=Peiriant Drymiau
GenericName[da]=Trommemaskine
GenericName[de]=Schlagzeugcomputer
GenericName[el]=Μηχανή κρουστών
GenericName[es]=Caja de ritmos
GenericName[et]=Trummimasin
GenericName[eu]=Tanbor-makina
GenericName[fa]=ماشین طبله
GenericName[fi]=Rumpukone
GenericName[fr]=Boîte à rythmes
GenericName[ga]=Meaisín Drumadóireachta
GenericName[gl]=Máquina de Percusión
GenericName[he]=מכונת תופים
GenericName[hu]=Dobgép
GenericName[is]=Trommuheili
GenericName[ja]=ドラムマシーン
GenericName[kk]=Дауылпаз машинасы
GenericName[km]=ម៉ាស៊ីន​ស្គរ
GenericName[lt]=Būgnų mašina
GenericName[mk]=Ритам-машина
GenericName[nb]=Trommemaskin
GenericName[nds]=Trummel-Maschien
GenericName[ne]=ड्रम मेसिन
GenericName[nl]=Drummachine
GenericName[nn]=Trommemaskin
GenericName[pa]=ਡਰੰਮ ਮਸ਼ੀਨ
GenericName[pl]=Maszyna perkusyjna
GenericName[pt]=Máquina de Percussão
GenericName[pt_BR]=Bateria
GenericName[ro]=Maşină de tobe
GenericName[sl]=Ritem mašina
GenericName[sr]=Бубањ машина
GenericName[sr@latin]=Bubanj mašina
GenericName[sv]=Trummaskin
GenericName[ta]=டிரம் இயந்திரம்
GenericName[tg]=Мошинаи Таблак
GenericName[tr]=Davul Makinası
GenericName[uk]=Барабани
GenericName[x-test]=xxDrum Machinexx
GenericName[zh_HK]=打鼓機
GenericName[zh_TW]=打鼓機器
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
