[Desktop Entry]
Encoding=UTF-8
Exec=hydrogen
Icon=
Name=Hydrogen
GenericName=Drum Machine
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
