[Desktop Entry]
Exec=jack-rack
Icon=
Name=Jack-Rack
Name[gu]=જેક-રેક
Name[hi]=जैक-रेक
Name[is]=Jack-Stæða
Name[ml]=ജാക്ക്-റാക്ക്
Name[ne]=ज्याक-र्याक
Name[pa]=ਜੈਕ-ਰੈਕ
Name[pl]=Wtyczki do Jacka (Jack-Rack)
Name[sr]=Џек‑рек
Name[sr@latin]=Jack‑Rack
Name[te]=జాక్-రెక్
Name[x-test]=xxJack-Rackxx
GenericName=Jack Effectrack
GenericName[csb]=Jack-Effectrack
GenericName[de]=Jack-Effektrack
GenericName[eo]=Jack efektotrakilo
GenericName[ga]=Rian Maisíochta Jack
GenericName[gl]=Pista de efeitos de Jack
GenericName[gu]=જેક ઇફેક્ટટ્રેક
GenericName[hi]=जैक इफैक्ट्रैक
GenericName[hu]=Effektusok a Jackhez
GenericName[is]=Jack Effektastæða
GenericName[it]=Effetti per Jack
GenericName[ko]=Jack 효과 트랙
GenericName[ku]=Efekttraka Jakê
GenericName[lv]=Jack efektu panelis
GenericName[nb]=Jack effektspor
GenericName[nds]=Jack-Effektstellaasch
GenericName[ne]=ज्याक प्रभाव ट्रयाक
GenericName[nn]=Jack-effektspor
GenericName[pa]=ਜੈਕ ਪਰਭਾਵ-ਟਰੈਕ
GenericName[pl]=Kontrola efektów dla Jacka
GenericName[pt_BR]=Efeitos de Faixas do Jack
GenericName[se]=Jack-effeaktamašiidna
GenericName[sl]=Stolp z efekti za Jack
GenericName[sr]=Ефетрак за Џек
GenericName[sr@latin]=Efetrak za Jack
GenericName[sv]=Jack-effektspår
GenericName[tg]=Барномаи Jack Effectrack
GenericName[uk]=Доріжка ефектів Jack
GenericName[wa]=Binde d' efets po Jack
GenericName[x-test]=xxJack Effectrackxx
GenericName[zh_CN]=Jack 音效轨道
GenericName[zh_TW]=Jack 音效
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
