[Desktop Entry]
Exec=jack-rack
Icon=
Name=Jack-Rack
Name[af]=Jack-Rack
Name[ar]=Jack-Rack
Name[as]=Jack-Rack
Name[be@latin]=Jack-Rack
Name[bg]=Jack-Rack
Name[bn]=জ্যাক-র্‌যাক
Name[bn_IN]=Jack-Rack
Name[ca]=Jack-Rack
Name[ca@valencia]=Jack-Rack
Name[cs]=Jack-Rack
Name[csb]=Jack-Rack
Name[da]=Jack-Rack
Name[de]=JACK-Rack
Name[el]=Jack-Rack
Name[en_GB]=Jack-Rack
Name[eo]=Jack-Rack
Name[es]=Jack-Rack
Name[et]=Jack-Rack
Name[eu]=Jack-Rack
Name[fi]=Jack-Rack
Name[fr]=Jack-Rack
Name[fy]=Jack-Rack
Name[ga]=Jack-Rack
Name[gl]=Jack-Rack
Name[gu]=જેક-રેક
Name[he]=Jack-Rack
Name[hi]=जैक-रेक
Name[hne]=जैक-रेक
Name[hr]=Jack-Rack
Name[hsb]=Jack-Rack
Name[hu]=Jack-Rack
Name[is]=Jack-Stæða
Name[it]=Jack-Rack
Name[ja]=Jack-Rack
Name[kk]=Jack-Rack
Name[km]=Jack-Rack
Name[kn]=ಜಾಕ್-ರಾಕ್
Name[ko]=Jack-Rack
Name[ku]=Jack-Rack
Name[lt]=Jack-Rack
Name[lv]=Jack-Rack
Name[mai]=जैक-रेक
Name[mk]=Jack-Rack
Name[ml]=ജാക്ക്-റാക്ക്
Name[mr]=जैक-रेक
Name[nb]=Jack-Rack
Name[nds]=Jack-Rack
Name[ne]=ज्याक-र्याक
Name[nl]=Jack-Rack
Name[nn]=Jack-Rack
Name[or]=Jack-Rack
Name[pa]=ਜੈਕ-ਰੈਕ
Name[pl]=Wtyczki do Jacka (Jack-Rack)
Name[pt]=Jack-Rack
Name[pt_BR]=Jack-Rack
Name[ro]=Jack-Rack
Name[ru]=Jack-Rack
Name[se]=Jack-Rack
Name[si]=Jack-Rack
Name[sk]=Jack-Rack
Name[sl]=Jack-Rack
Name[sr]=Џек‑рек
Name[sr@latin]=Jack‑Rack
Name[sv]=Jack-Rack
Name[ta]=Jack-Rack
Name[te]=జాక్-రెక్
Name[tg]=Jack-Rack
Name[th]=Jack-Rack
Name[tr]=Jack-Rack
Name[uk]=Jack-Rack
Name[wa]=Jack-Rack
Name[x-test]=xxJack-Rackxx
Name[zh_CN]=Jack-Rack
Name[zh_TW]=Jack-Rack
GenericName=Jack Effectrack
GenericName[af]=Jack Effectrack
GenericName[ar]=مؤثرات جاك
GenericName[as]=Jack Effectrack
GenericName[be@latin]=Efekt-mašyna „Jack”
GenericName[bg]=Звукови ефекти за Jack
GenericName[bn]=জ্যাক এফেক্ট-ট্র্যাক
GenericName[bn_IN]=Jack Effectrack
GenericName[ca]=Jack Effectrack
GenericName[ca@valencia]=Jack Effectrack
GenericName[cs]=Jack Effectrack
GenericName[csb]=Jack-Effectrack
GenericName[da]=Jack Effectrack
GenericName[de]=JACK-Effektrack
GenericName[el]=Jack Effectrack
GenericName[en_GB]=Jack Effectrack
GenericName[eo]=Jack efektotrakilo
GenericName[es]=Jack Effectrack
GenericName[et]=Jack Effectrack
GenericName[eu]=Jack Effectrack
GenericName[fi]=Jack Effectrack
GenericName[fr]=Jack Effectrack
GenericName[fy]=Jack Effectrack
GenericName[ga]=Rian Maisíochta Jack
GenericName[gl]=Pista de efectos de Jack
GenericName[gu]=જેક ઇફેક્ટટ્રેક
GenericName[hi]=जैक इफैक्ट्रैक
GenericName[hne]=जैक इफैक्ट्रैक
GenericName[hr]=Jack Effectrack
GenericName[hsb]=Jack Effectrack
GenericName[hu]=Effektusok a Jackhez
GenericName[is]=Jack Effektastæða
GenericName[it]=Effetti per Jack
GenericName[ja]=Jack Effectrack
GenericName[kk]=Jack Effectrack
GenericName[km]=Jack Effectrack
GenericName[kn]=ಜಾಕ್ ಎಫ್ಫೆಕ್ಟ್ರಾಕ್
GenericName[ko]=Jack 효과 트랙
GenericName[ku]=Efekttraka Jakê
GenericName[lt]=Jack Effectrack
GenericName[lv]=Jack efektu panelis
GenericName[mai]=जैक इफैक्ट्रैक
GenericName[mk]=Jack Effectrack
GenericName[ml]=ജാക്ക് എഫെക്ട്രാക്ക്
GenericName[mr]=जैक इफैक्ट्रैक
GenericName[nb]=Jack effektspor
GenericName[nds]=Jack-Effektstellaasch
GenericName[ne]=ज्याक प्रभाव ट्रयाक
GenericName[nl]=Jack Effectrack
GenericName[nn]=Jack-effektspor
GenericName[or]=Jack Effectrack
GenericName[pa]=ਜੈਕ ਪਰਭਾਵ-ਟਰੈਕ
GenericName[pl]=Kontrola efektów dla Jacka
GenericName[pt]=Jack Effectrack
GenericName[pt_BR]=Efeitos de faixas do Jack
GenericName[ro]=Jack Effectrack
GenericName[ru]=Jack Effectrack
GenericName[se]=Jack-effeaktamašiidna
GenericName[si]=Jack Effectrack
GenericName[sk]=Jack Effectrack
GenericName[sl]=Stolp z efekti za Jack
GenericName[sr]=Ефетрак за Џек
GenericName[sr@latin]=Efetrak za Jack
GenericName[sv]=Jack-effektspår
GenericName[ta]=Jack Effectrack
GenericName[te]=Jack Effectrack
GenericName[tg]=Барномаи Jack Effectrack
GenericName[th]=Jack Effectrack
GenericName[tr]=Jack Effectrack
GenericName[uk]=Доріжка ефектів Jack
GenericName[wa]=Binde d' efets po Jack
GenericName[x-test]=xxJack Effectrackxx
GenericName[zh_CN]=Jack 音效轨道
GenericName[zh_TW]=Jack 音效
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
