[Desktop Entry]
Encoding=UTF-8
Exec=jack-rack
Icon=
Name=Jack-Rack
GenericName=Jack Effectrack
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
