[Desktop Entry]
Exec=jamin
Icon=
Name=Jamin
Name[hi]=जामिन
Name[ku]=Jamaîka
Name[ne]=जामिन
Name[pa]=ਜੈਮਿਕਾ
Name[sr]=Џемин
Name[ta]=ஜமீன்ய்க்கா
Name[tg]=Ҷамин
Name[x-test]=xxJaminxx
GenericName=Jack Mastering Tool
GenericName[be]=Начынне Jack Mastering
GenericName[ca]=Eina de masterització pel Jack
GenericName[csb]=Przédné nôrzãdze Jacka
GenericName[de]=Jack-Audio-Bearbeitung
GenericName[el]=Εργαλείο εγγραφής Jack
GenericName[eo]=Jack stirilo
GenericName[es]=Herramienta de Jack Mastering
GenericName[eu]=Jack Mastering Tresna
GenericName[fr]=Outil Jack
GenericName[fy]=Jack Mastering Ark
GenericName[ga]=Uirlis Mháistirchóipeála Jack
GenericName[gl]=Ferramenta de maquetación de Jack
GenericName[hi]=जैक मास्टरिंग औज़ार
GenericName[hu]=Jack mestereszköz
GenericName[is]=Jack tónlistarforritið
GenericName[it]=Strumento di masterizzazione di Jack
GenericName[ja]=Jack マスタリングツール
GenericName[kk]=Jack шеберлік құралы
GenericName[km]=ឧបករណ៍​គ្រប់គ្រង Jack
GenericName[ko]=Jack 마스터링 도구
GenericName[ku]=Amûra Pêşdebirina Pêşekan
GenericName[lt]=Jack valdymo įrankis
GenericName[lv]=Jack apgūšanas rīks
GenericName[nb]=Mastering-verktøy for Jack
GenericName[nds]=Pleger för Jack
GenericName[ne]=ज्याक मास्टरिङ उपकरण
GenericName[nl]=Jack Masteringprogramma
GenericName[nn]=Mastering-verktøy for Jack
GenericName[pa]=ਜੈਕ ਮਾਸਟਰਿੰਗ ਟੂਲ
GenericName[pl]=Narzędzie do masteringu dla Jacka
GenericName[pt]=Ferramenta de Aprendizagem do Jack
GenericName[pt_BR]=Ferramenta de Masterização do Jack
GenericName[ro]=Utilitar Mastering pentru Jack
GenericName[se]=Jack mastering-reaidu
GenericName[sl]=Orodje za mastering za Jack
GenericName[sr]=Алатка за мастеровање за Џек
GenericName[sr@latin]=Alatka za masterovanje za Jack
GenericName[sv]=Jack-verktyg för framtagning av master
GenericName[ta]=ஜக் மாஸ்டரிங் கருவி
GenericName[tg]=Асбоби Ҷек
GenericName[th]=เครื่องมือทำต้นฉบับสำหรับ Jack
GenericName[wa]=Usteye d' amidraedje di Jack
GenericName[x-test]=xxJack Mastering Toolxx
GenericName[zh_CN]=Jack 控制工具
GenericName[zh_TW]=Jack 專家工具
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
