[Desktop Entry]
Encoding=UTF-8
Exec=jamin
Icon=
Name=Jamin
GenericName=Jack Mastering Tool
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
