[Desktop Entry]
Encoding=UTF-8
Exec=jamin
Icon=
Name=Jamin
Name[fa]=جامین
Name[ne]=जामिन
Name[ta]=ஜாமின்
Name[x-test]=xxJaminxx
GenericName=Jack Mastering Tool
GenericName[bg]=Управление на Jack
GenericName[ca]=Eina de codificació Jack
GenericName[cs]=Jack mastering
GenericName[cy]=Erfyn meistroli Jack
GenericName[da]=Jack master-værktøj
GenericName[de]=Werkzeug zur Audio-Endbearbeitung
GenericName[el]=Εργαλείο εγγραφής Jack
GenericName[es]=Herramienta de masterización de JACK
GenericName[et]=Jacki masterdamise rakendus
GenericName[eu]=Jack erabiltzeko tresna
GenericName[fa]=ابزار اصلی جک
GenericName[fi]=Jack-masterointityökalu
GenericName[fr]=Outil de mastering Jack
GenericName[ga]=Uirlis Mháistirchóipeála Jack
GenericName[gl]=Ferramenta de Mastering de Jack
GenericName[hu]=JACK-kezelő
GenericName[is]=Hljóðblöndunartól Jack
GenericName[it]=Strumento di masterizzazione Jack
GenericName[ja]=Jack マスタリングツール
GenericName[kk]=Jack меңгеру құралы
GenericName[km]=ឧបករណ៍​ជំនាញ​របស់ Jack
GenericName[mk]=Алатка за мастеринг за Jack
GenericName[nb]=Jack-opptaksverktøy
GenericName[nds]=Ennbewerk-Warktüüch för Jack
GenericName[ne]=ज्याक मास्टरिङ उपकरण
GenericName[nl]=Jack Mastering-hulpprogramma
GenericName[nn]=Jack-opptaksverktøy
GenericName[pa]=ਜੈਕ ਮਾਸਟਿੰਗ ਸੰਦ
GenericName[pl]=Narzędzie kontroli Jacka
GenericName[pt]=Ferramenta de Masterização do Jack
GenericName[pt_BR]=Ferramenta de masterização Jack 
GenericName[ru]=Утилита мастеринга Jack
GenericName[sl]=Orodje za Jack Mastering
GenericName[sr]=Jack-ов алат за мастеровање
GenericName[sr@latin]=Jack-ov alat za masterovanje
GenericName[sv]=Jack-inspelningsverktyg
GenericName[tr]=Jack Yönetim Aracı 
GenericName[uk]=Засіб керування Jack
GenericName[x-test]=xxJack Mastering Toolxx
GenericName[zh_HK]=Jack 錄製工具
StartupNotify=true
Type=Application
Categories=Music;AudioVideo;
