[Desktop Entry]
Name=Jazz
Name[af]=Jazz
Name[ar]=Jazz
Name[as]=Jazz
Name[be]=Джаз
Name[be@latin]=Jazz
Name[bg]=Jazz
Name[bn]=Jazz
Name[bn_IN]=Jazz
Name[br]=Jazz
Name[ca]=Jazz
Name[ca@valencia]=Jazz
Name[cs]=Jazz
Name[csb]=Jazz
Name[cy]=Jazz
Name[da]=Jazz
Name[de]=Jazz
Name[el]=Jazz
Name[en_GB]=Jazz
Name[eo]=Jazz
Name[es]=Jazz
Name[et]=Jazz
Name[eu]=Jazz
Name[fa]=جاز
Name[fi]=Jazz
Name[fr]=Jazz
Name[fy]=Jazz
Name[ga]=Jazz
Name[gl]=Jazz
Name[gu]=જાઝ
Name[he]=Jazz
Name[hi]=ज़ैज
Name[hne]=जैज
Name[hr]=Jazz
Name[hsb]=Jazz
Name[hu]=Jazz
Name[is]=Jazz
Name[it]=Jazz
Name[ja]=Jazz
Name[ka]=ჯაზი
Name[kk]=Jazz
Name[km]=Jazz
Name[kn]=ಜಾಜ್
Name[ko]=Jazz
Name[ku]=Jazz
Name[lt]=Jazz
Name[lv]=Jazz
Name[mai]=जैज
Name[mk]=Jazz
Name[ml]=ജാസ്സ്
Name[mr]=जॅझ
Name[ms]=Jazz
Name[nb]=Jazz
Name[nds]=Jazz
Name[ne]=ज्याज
Name[nl]=Jazz
Name[nn]=Jazz
Name[oc]=Jazz
Name[or]=Jazz
Name[pa]=Jazz
Name[pl]=Jazz
Name[pt]=Jazz
Name[pt_BR]=Jazz
Name[ro]=Jazz
Name[ru]=Jazz
Name[se]=Jazz
Name[si]=Jazz
Name[sk]=Jazz
Name[sl]=Jazz
Name[sr]=Џез
Name[sr@latin]=Jazz
Name[sv]=Jazz
Name[ta]=ஜாஸ்
Name[te]=జాజ్
Name[tg]=Ҷаз
Name[th]=Jazz
Name[tr]=Jazz
Name[uk]=Jazz
Name[uz]=Jazz
Name[uz@cyrillic]=Jazz
Name[vi]=Jazz
Name[wa]=Jazz
Name[xh]=Jazz
Name[x-test]=xxJazzxx
Name[zh_CN]=Jazz
Name[zh_TW]=Jazz
GenericName=Sound Processor
GenericName[af]=Klank Verwerker
GenericName[ar]=معالج الصوت
GenericName[as]=ধ্বনি সংসাধক
GenericName[be]=Апрацоўка гуку
GenericName[be@latin]=Hukavy pracesar
GenericName[bg]=Обработка на звук
GenericName[bn]=সাউণ্ড প্রসেসর
GenericName[bn_IN]=সাউন্ড প্রসেসর
GenericName[ca]=Processador de so
GenericName[ca@valencia]=Processador de so
GenericName[cs]=Zpracování zvuku
GenericName[csb]=Przerôbianié zwãkù
GenericName[cy]=Prosesydd Sain
GenericName[da]=Lydbehandling
GenericName[de]=Soundprozessor
GenericName[el]=Επεξεργαστής ήχου
GenericName[en_GB]=Sound Processor
GenericName[eo]=Sonprocezilo
GenericName[es]=Procesador de sonidos
GenericName[et]=Helitöötlus
GenericName[eu]=Soinu prozesatzailea
GenericName[fa]=پردازندۀ صدا
GenericName[fi]=Äänenkäsittelijä
GenericName[fr]=Outil de traitement du son
GenericName[fy]=lûdsstudio
GenericName[ga]=Próiseálaí Fuaime
GenericName[gl]=Procesador de son
GenericName[gu]=સાઉન્ડ પ્રોસેસર
GenericName[he]=מעבד צליל
GenericName[hi]=ध्वनि प्रोसेसर
GenericName[hne]=अवाज प्रोसेसर
GenericName[hr]=Procesor zvuka
GenericName[hsb]=Předźěłanje zwukow
GenericName[hu]=Hangfeldolgozó
GenericName[is]=Hljóðvinnsla
GenericName[it]=Elaborazione suoni
GenericName[ja]=サウンドプロセッサ
GenericName[ka]=ხმის პროცესორი
GenericName[kk]=Дыбыс процесоры
GenericName[km]=ប្រព័ន្ធ​ដំណើរការ​សំឡេង​
GenericName[kn]=ಧ್ವನಿ ಸಂಸ್ಕಾರಕ 
GenericName[ko]=소리 처리기
GenericName[ku]=Kiryarkara Dengî
GenericName[lt]=Garsų apdorotojas
GenericName[lv]=Skaņu apstrādātājs
GenericName[mai]=ध्वनि प्रोसेसर
GenericName[mk]=Процесор на звук
GenericName[ml]=ശബ്ദ പ്രൊസസ്സര്‍
GenericName[mr]=ध्वनि प्रोसेसर
GenericName[ms]=Pemproses Bunyi
GenericName[nb]=Lydbehandler
GenericName[nds]=Klangperzesser
GenericName[ne]=ध्वनि प्रोसेसर
GenericName[nl]=Geluidsstudio
GenericName[nn]=Lydhandsamar
GenericName[or]=ଧ୍ୱନି ସଞ୍ଚାଳକ
GenericName[pa]=ਸਾਊਂਡ ਪਰੋਸੈਸਰ
GenericName[pl]=Przetwarzanie dźwięku
GenericName[pt]=Processador de Som
GenericName[pt_BR]=Processador de som
GenericName[ro]=Procesor de sunet
GenericName[ru]=Звуковой процессор
GenericName[se]=Jietnagieđahalli
GenericName[si]=ශබ්ද සකසනය
GenericName[sk]=Zvukový procesor
GenericName[sl]=Obdelovalnik zvoka
GenericName[sr]=Обрађивач звука
GenericName[sr@latin]=Obrađivač zvuka
GenericName[sv]=Ljudprocessor
GenericName[ta]=ஒலி செயல்படுத்தி
GenericName[te]=శబ్ద ప్రాసెసర్
GenericName[tg]=Барномаи ҷараёни овоз
GenericName[th]=ตัวประมวลผลเสียง
GenericName[tr]=Ses İşleyici
GenericName[uk]=Звуковий процесор
GenericName[uz]=Tovush protsessori
GenericName[uz@cyrillic]=Товуш процессори
GenericName[vi]=Bộ xử lý âm thanh
GenericName[wa]=Aspougneu d' son
GenericName[xh]=Umlugisi Wesandi
GenericName[x-test]=xxSound Processorxx
GenericName[zh_CN]=声音处理程序
GenericName[zh_TW]=音效處理程式
Exec=jazz
Terminal=false
Icon=xpm
Type=Application
