[Desktop Entry]
Name=Jazz
Name[be]=Джаз
Name[eo]=Ĵazo
Name[fa]=جاز
Name[ka]=ჯაზი
Name[lv]=Džezs
Name[ne]=ज्याज
Name[sr]=Џез
Name[ta]=ஜாஸ்
Name[te]=జాజ్
Name[x-test]=xxJazzxx
GenericName=Sound Processor
GenericName[af]=Klank Verwerker
GenericName[ar]=معالج الصوت
GenericName[be]=Апрацоўка гуку
GenericName[bg]=Обработка на звук
GenericName[ca]=Processador de so
GenericName[cs]=Zpracování zvuku
GenericName[csb]=Przerôbianié zwãkù
GenericName[cy]=Prosesydd Sain
GenericName[da]=Lydbehandling
GenericName[de]=Soundprozessor
GenericName[el]=Επεξεργαστής ήχου
GenericName[eo]=Sonorprocezilo
GenericName[es]=Procesador de sonidos
GenericName[et]=Helitöötlus
GenericName[eu]=Soinu prozesatzailea
GenericName[fa]=پردازندۀ صدا
GenericName[fi]=Äänenkäsittelijä
GenericName[fr]=Outil de traitement du son
GenericName[fy]=lûdsstudio
GenericName[ga]=Próiseálaí Fuaime
GenericName[gl]=Procesador de Son
GenericName[he]=מעבד צליל
GenericName[hr]=Procesor zvuka
GenericName[hu]=Hangfeldolgozó
GenericName[is]=Hljóðvinnsla
GenericName[it]=Elaborazione suoni
GenericName[ja]=サウンドプロセッサ
GenericName[ka]=ხმის პროცესორი
GenericName[kk]=Дыбыс процесоры
GenericName[km]=ប្រព័ន្ធ​ដំណើរការ​សំឡេង​
GenericName[ko]=소리 처리기
GenericName[lt]=Garsų apdorotojas
GenericName[lv]=Skaņu Procesors
GenericName[mk]=Процесор на звук
GenericName[ms]=Pemproses Bunyi
GenericName[nb]=Lydbehandler
GenericName[nds]=Klangperzesser
GenericName[ne]=ध्वनि प्रोसेसर
GenericName[nl]=Geluidsstudio
GenericName[nn]=Lydhandsamar
GenericName[pa]=ਧੁਨੀ ਪਰੋਸੈਸਰ
GenericName[pl]=Przetwarzanie dźwięku
GenericName[pt]=Processador de Som
GenericName[pt_BR]=Processador de Som
GenericName[ro]=Procesor de sunet
GenericName[ru]=Звуковой процессор
GenericName[se]=Jietnagieđahalli
GenericName[sl]=Obdelovalnik zvoka
GenericName[sr]=Обрађивач звука
GenericName[sr@latin]=Obrađivač zvuka
GenericName[sv]=Ljudprocessor
GenericName[ta]=ஒலி செயல்படுத்தி
GenericName[te]=శబ్ద ప్రాసెసర్
GenericName[tg]=Протсессори садо
GenericName[th]=ตัวประมวลผลเสียง
GenericName[tr]=Ses İşleyici
GenericName[uk]=Звуковий процесор
GenericName[uz]=Товуш процессори
GenericName[vi]=Bộ xử lý âm thanh
GenericName[x-test]=xxSound Processorxx
GenericName[xh]=Umlugisi Wesandi
GenericName[zh_CN]=声音处理程序
GenericName[zh_TW]=音效處理程式
Exec=jazz
Terminal=false
Icon=xpm
Type=Application
