[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=meterbridge -t vu in_1 in_2
Icon=
Path=
X-DocPath=
Terminal=false
GenericName=Dual Channel VU-Meter
GenericName[bg]=Двуканален VU-метър
GenericName[de]=Zweikanal VU-Meter
GenericName[el]=VU-Meter δύο καναλιών
GenericName[ga]=Méadar VU le dhá chainéal
GenericName[ja]=デュアルチャンネル VU メーター
GenericName[kk]=Қос арналы деңгей индикаторы
GenericName[km]=ឆានែល​ច្រើន VU-Meter
GenericName[ko]=듀얼 채널 VU 미터
GenericName[nds]=Tweekanaal-VU-Klock
GenericName[nl]=Dual-kanaal VU-meter
GenericName[pt]=Medidor VU de Dois Canais
GenericName[pt_BR]=Medidor VU de Dois Canais
GenericName[sv]=VU-mätare med dubbla kanaler
GenericName[th]=VU มิเตอร์แบบช่องคู่
GenericName[zh_TW]=雙頻道 VU 量尺
Name=Meterbridge
X-KDE-StartupNotify=false
X-DBUS-StartupType=Multi
Categories=Music;AudioVideo;
