[Desktop Entry]
Type=Application
Exec=meterbridge -t vu in_1 in_2
Icon=
X-DocPath=
Terminal=false
GenericName=Dual Channel VU-Meter
GenericName[bg]=Двуканален VU-метър
GenericName[ca]=Comptador VU de dos canals
GenericName[csb]=Dwakanałowi miernik UV
GenericName[de]=Zweikanal VU-Meter
GenericName[el]=VU-Meter δύο καναλιών
GenericName[eo]=Dukanala VU-mezurilo
GenericName[es]=Medidor VU de doble canal
GenericName[et]=Kahekanaline VU-meeter
GenericName[eu]=Bi kanaleko VU-Meter
GenericName[fi]=Kahden kanavan VU-mittari
GenericName[fy]=Dual kanaal VU-Meter
GenericName[ga]=Méadar VU le dhá chainéal
GenericName[hu]=Kétcsatornás VU-kijelző
GenericName[ja]=デュアルチャンネル VU メーター
GenericName[kk]=Қос арналы деңгей индикаторы
GenericName[km]=ឆានែល​ច្រើន VU-Meter
GenericName[ko]=듀얼 채널 VU 미터
GenericName[lt]=Dviejų kanalų VU-metras
GenericName[lv]=Divkanālu VU attēlotājs
GenericName[nb]=Tokanals VU-meter
GenericName[nds]=Tweekanaal-VU-Klock
GenericName[ne]=दोहोरो च्यानल भीयू-मिटर
GenericName[nl]=Dual-kanaal VU-meter
GenericName[nn]=Tokanals VU-meter
GenericName[pt]=Medidor VU de Dois Canais
GenericName[pt_BR]=Medidor VU de Dois Canais
GenericName[se]=Guovttekanálat VU-mihttár
GenericName[sr]=Двоканални ВУ-метар
GenericName[sr@latin]=Dvokanalni VU-metar
GenericName[sv]=VU-mätare med dubbla kanaler
GenericName[th]=VU มิเตอร์แบบช่องคู่
GenericName[wa]=VU-mete a deus canås
GenericName[x-test]=xxDual Channel VU-Meterxx
GenericName[zh_CN]=双轨道 VU 仪表
GenericName[zh_TW]=雙頻道 VU 量尺
Name=Meterbridge
Name[ne]=मिटरब्रिज
Name[sr]=Метербриџ
Name[x-test]=xxMeterbridgexx
X-KDE-StartupNotify=false
X-DBUS-StartupType=Multi
Categories=Music;AudioVideo;
