[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=meterbridge -t vu in_1 in_2
Icon=
Path=
DocPath=
Terminal=false
GenericName=Dual Channel VU-Meter
GenericName[ca]=Mesurador VU de canal dual
GenericName[cs]=Dvoukanálový VU Meter
GenericName[cy]=VU-Meter Sianel Dwbl
GenericName[de]=Zweikanal VU-Meter
GenericName[el]=VU-Meter δύο καναλιών
GenericName[es]=Contadores VU de dos canales
GenericName[et]=Kahe kanaliga nivooindikaator
GenericName[eu]=Kanal bikoitzeko VU-Meter-a
GenericName[fa]=VU-Meter دو مجرایی
GenericName[fi]=Kaksikanava VU-mittari
GenericName[fr]=VU-mètre deux canaux
GenericName[ga]=Méadar VU le dhá chainéal
GenericName[gl]=Medidor VU de Canle Dual
GenericName[he]=מודד VU דו־ערוצי
GenericName[hu]=Kétcsatornás kijelző
GenericName[is]=Tvírása VU-mælir
GenericName[it]=VU-Meter a doppio canale
GenericName[ja]=デュアルチャンネル VU メーター
GenericName[kk]=Қос арналы деңгей өлшегіші
GenericName[km]=ឧបករណ៍​វាស់ VU ឆានែល​ក្បាល​ពីរ
GenericName[mk]=Двоканален VU-метар
GenericName[nb]=Tokanals VU-måler
GenericName[nds]=Tweekanaal VU-Klock
GenericName[ne]=दोहोरो च्यानल VU-मिटर
GenericName[nl]=Tweekanaals VU-meter
GenericName[nn]=Tokanals VU-målar
GenericName[pa]=ਦੁਹਰਾ ਚੈਨਲ VU-ਮੀਟਰ
GenericName[pl]=Dwukanałowy VU-Meter
GenericName[pt]=Medidor VU de Dois Canais
GenericName[pt_BR]=Vu-Meter de Canal duplo
GenericName[ro]=VU-metru pe două canale
GenericName[ru]=Двухканальный измеритель уровня
GenericName[sl]=Dvokanalni prikazovalnik glasnosti
GenericName[sr]=Двоканални VU метар
GenericName[sr@latin]=Dvokanalni VU metar
GenericName[sv]=VU-mätare med två kanaler
GenericName[ta]=இரட்டை அலை இடை வெளிப்பகுதி VU-அளவுக்கருவி
GenericName[tg]=Маҷрои Дучанди VU-Meter
GenericName[tr]=İki Kanallı Ses Göstergesi
GenericName[uk]=Двоканальний VU-лічильник
GenericName[x-test]=xxDual Channel VU-Meterxx
GenericName[zh_HK]=雙聲道 VU-Meter
GenericName[zh_TW]=雙聲道 VU 量尺
Name=Meterbridge
Name[ne]=मिटरब्रिज
Name[nl]=Meterbrug
Name[pt]=Ponte de Medida
Name[ta]=மீட்டர்பிரிட்ஜ்
Name[x-test]=xxMeterbridgexx
X-KDE-StartupNotify=false
X-DBUS-StartupType=Multi
Categories=Music;AudioVideo;
