[Desktop Entry]
Encoding=UTF-8
Exec=mixxx
Icon=
Name=Mixxx
Name[ta]=மிக்ஸ்
Name[x-test]=xxMixxxxx
GenericName=DJ-Mixer and Player
GenericName[bg]=Диско миксер и плеър
GenericName[br]=Ur mesker DJ ha soner
GenericName[ca]=DJ-Mesclador i reproductor
GenericName[cs]=DJ směšovač a přehrávač
GenericName[cy]=Chwaraeydd a Chymysgydd DJ
GenericName[da]=DJ-Mikser og afspiller
GenericName[de]=DJ-Mixer und Abspieler
GenericName[el]=Μείκτης DJ και Αναπαραγωγέας
GenericName[es]=Mezclador y reproductor para DJs
GenericName[et]=DJ mikser ja mängija
GenericName[eu]=DJ-nahastaile eta erreproduzigailua
GenericName[fa]=پخش‌کننده و مخلوط‌کن DJ
GenericName[fi]=DJ-mikseri ja -soitin
GenericName[fr]=Mixeur et lecteur DJ
GenericName[gl]=Mesturador DJ e Reproductor
GenericName[he]=DJ ונגן מערבל
GenericName[hu]=DJ-keverő és -lejátszó
GenericName[is]=Plötusnúðshljóðblandari og spilari
GenericName[it]=Mixer e Lettore da DJ
GenericName[ja]=DJ ミキサーとプレーヤ
GenericName[kk]=DJ-микшер мен ойнатқышы
GenericName[km]=កម្មវិធី​ចាក់ និង លាយ​សម្លេង​សម្រាប់​ឌីជេ
GenericName[lt]=DJ-maišytuvas ir plejeris
GenericName[mk]=DJ-миксета и изведувач
GenericName[nb]=DJ-mikser og -spiller
GenericName[nds]=DJ-Mischer un Afspeler
GenericName[ne]=DJ-मिक्सर र प्लेयर
GenericName[nl]=DJ-mixer en speler
GenericName[nn]=DJ-miksar og -spelar
GenericName[pa]=DJ-ਮਿਕਸਰ ਤੇ ਪਲੇਅਰ
GenericName[pl]=DJ-Mikser i odtwarzacz
GenericName[pt]=Leitor e Mistura para DJs
GenericName[pt_BR]=Reprodutor e Mixer
GenericName[ru]=DJ-Mixer и проигрыватель
GenericName[sl]=DJ-mešalnik in predvajalnik
GenericName[sr]=DJ-Mixer и плејер
GenericName[sr@latin]=DJ-Mixer i plejer
GenericName[sv]=DJ-mixer och ljudspelare
GenericName[ta]=டிஜே-ஒன்றுசேர்த்து இயக்கும்
GenericName[tg]=DJ-Омехтакунак ва Бозингар
GenericName[tr]=DJ-Karıştırıcı ve Çalıcı
GenericName[uk]=Мікшер та програвач DJ
GenericName[x-test]=xxDJ-Mixer and Playerxx
GenericName[zh_HK]=DJ-混音器及播放器
GenericName[zh_TW]=DJ 混音器與播放器
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
