[Desktop Entry]
Encoding=UTF-8
Exec=mixxx
Icon=
Name=Mixxx
GenericName=DJ-Mixer and Player
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
