[Desktop Entry]
Exec=mixxx
Icon=
Name=Mixxx
Name[af]=Mixxx
Name[ar]=Mixxx
Name[as]=Mixxx
Name[be]=Mixxx
Name[be@latin]=Mixxx
Name[bg]=Mixxx
Name[bn]=Mixxx
Name[bn_IN]=Mixxx
Name[ca]=Mixxx
Name[ca@valencia]=Mixxx
Name[cs]=Mixxx
Name[csb]=Mixxx
Name[da]=Mixxx
Name[de]=Mixxx
Name[el]=Mixxx
Name[en_GB]=Mixxx
Name[eo]=Mixxx
Name[es]=Mixxx
Name[et]=Mixxx
Name[eu]=Mixxx
Name[fi]=Mixxx
Name[fr]=Mixxx
Name[fy]=Mixxx
Name[ga]=Mixxx
Name[gl]=Mixxx
Name[gu]=Mixxx
Name[he]=Mixxx
Name[hi]=मिक्स
Name[hne]=मिक्स
Name[hr]=Mixxx
Name[hsb]=Mixxx
Name[hu]=Mixxx
Name[is]=Mixxx
Name[it]=Mixxx
Name[ja]=Mixxx
Name[kk]=Mixxx
Name[km]=Mixxx
Name[kn]=ಮಿಕ್ಸ್
Name[ko]=Mixxx
Name[ku]=Mixxx
Name[lt]=Mixxx
Name[lv]=Mixxx
Name[mai]=मिक्स
Name[mk]=Mixxx
Name[ml]=മിക്സ്ക്സ്
Name[mr]=मिक्स
Name[nb]=Mixxx
Name[nds]=Mixxx
Name[ne]=Mixxx
Name[nl]=Mixxx
Name[nn]=Mixxx
Name[or]=Mixxx
Name[pa]=Mixxx
Name[pl]=Mixxx
Name[pt]=Mixxx
Name[pt_BR]=Mixxx
Name[ro]=Mixxx
Name[ru]=Mixxx
Name[se]=Mixxx
Name[si]=Mixxx
Name[sk]=Mixxx
Name[sl]=Mixxx
Name[sr]=Миксикс
Name[sr@latin]=Mixxx
Name[sv]=Mixxx
Name[ta]=Mixxx
Name[te]=మిక్స్
Name[tg]=Mixxx
Name[th]=Mixxx
Name[tr]=Mixxx
Name[uk]=Mixxx
Name[wa]=Mixxx
Name[x-test]=xxMixxxxx
Name[zh_CN]=Mixxx
Name[zh_TW]=Mixxx
GenericName=DJ-Mixer and Player
GenericName[af]=DJ-Menger en speler
GenericName[ar]=المازج و مشغل DJ
GenericName[as]=DJ-Mixer আৰু Player
GenericName[be]=DJ-міксер і прайгравальнік
GenericName[be@latin]=Mikser i prajhravańnik dla DJ
GenericName[bg]=DJ-миксер и плеър
GenericName[bn]=ডি-জে মিক্সার এবং প্লেয়ার
GenericName[bn_IN]=DJ-মিক্সার ও প্লেয়ার
GenericName[ca]=Mesclador per a DJ i reproductor
GenericName[ca@valencia]=Mesclador per a DJ i reproductor
GenericName[cs]=DJ směšovač a přehrávač
GenericName[csb]=DJ - Mikser ë grôcz
GenericName[da]=DJ-mikser og -afspiller
GenericName[de]=DJ-Mixer und -Wiedergabe
GenericName[el]=Μείκτης DJ και αναπαραγωγέας
GenericName[en_GB]=DJ-Mixer and Player
GenericName[eo]=DJ-miksilo kaj legilo
GenericName[es]=Reproductor y mezclador de DJ
GenericName[et]=DJ mikser ja mängija
GenericName[eu]=DJ nahasgailu eta erreproduzigailua
GenericName[fa]=ترکیب‌کننده و پخش‌کننده DJ
GenericName[fi]=DJ-mikseri ja soitin
GenericName[fr]=Mixeur DJ et lecteur
GenericName[fy]=DJ-Mikser en ôfspiler
GenericName[ga]=Meascthóir DJ agus Seinnteoir
GenericName[gl]=Reprodutor e misturador para DJ
GenericName[gu]=DJ-મિક્સર અને પ્લેયર
GenericName[he]=מערבל ונגן
GenericName[hi]=डीजे-मिक्सर एंड प्लेयर
GenericName[hne]=डीजे-मिक्सर अउ प्लेयर
GenericName[hr]=DJ mikseta i multimedijski program
GenericName[hsb]=DJ-Měšak a wothrawak
GenericName[hu]=DJ-stílusú hangkeverő és lejátszó
GenericName[is]=Hljóðblandari og margmiðlunarspilari
GenericName[it]=Riproduttore e Mixer per DJ
GenericName[ja]=DJ ミキサー/プレーヤー
GenericName[kk]=DJ-микшер және плейер
GenericName[km]=ឧបករណ៍​លាយ និង​កម្មវិធី​ចាក់ DJ
GenericName[kn]=ಡಿಜೆ ಮಿಶ್ರಕ ಮತ್ತು ನಿರೂಪಕ
GenericName[ko]=DJ 믹서와 플레이어
GenericName[ku]=Tevlihevker û Lêdera DJ
GenericName[lt]=DJ maišytuvas ir grotuvas
GenericName[lv]=DJ miskeris un atskaņotājs
GenericName[mai]=डीजे-मिक्सर एंड प्लेयर
GenericName[mk]=Диџеј-миксета и плеер
GenericName[ml]=ഡിജെ-മിക്സറും പ്ലെയറും
GenericName[mr]=डीजे-मिक्सर व प्लेयर
GenericName[nb]=DJ-mikser og spiller
GenericName[nds]=DJ-Mischer un -Afspeler
GenericName[ne]=डीजे-मिश्रक र प्लेयर
GenericName[nl]=DJ-mixer en -speler
GenericName[nn]=DJ-miksar og -spelar
GenericName[or]=DJ-ମିଶ୍ରକ ଏବଂ ଚାଳକ
GenericName[pa]=DJ-ਮਿਕਸਰ ਅਤੇ ਪਲੇਅਰ
GenericName[pl]=Mikser i odtwarzacz
GenericName[pt]=Leitor e Mistura de DJs
GenericName[pt_BR]=Reprodutor e DJ-Mixer
GenericName[ro]=DJ-Mixer și Player
GenericName[ru]=Диджейский пульт
GenericName[se]=DJ-mikser ja -čuojan
GenericName[si]=DJ-Mixer සහ වාදකය
GenericName[sk]=DJ-Mixér a Prehrávač
GenericName[sl]=DJ-mešalnik in predvajalnik
GenericName[sr]=Диџеј-миксета и плејер
GenericName[sr@latin]=Didžej-mikseta i plejer
GenericName[sv]=DJ-mixer och spelare
GenericName[ta]=DJ-Mixer and Player
GenericName[te]=DJ-Mixer మరియు ప్లేయర్
GenericName[tg]=Плеери DJ-Mixer
GenericName[th]=โปรแกรมเล่นและผสมเสียงแบบดีเจ
GenericName[tr]=DJ-Karıştırıcı ve Oynatıcı
GenericName[uk]=Мікшер та програвач DJ
GenericName[wa]=Comaxheu eyet djouweu po DJ
GenericName[x-test]=xxDJ-Mixer and Playerxx
GenericName[zh_CN]=DJ 混音播放程序
GenericName[zh_TW]=DJ 混音播放程式
StartupNotify=true
Type=Application
Categories=Qt;Music;AudioVideo;
