[Desktop Entry]
GenericName=Video Player
GenericName[af]=Video Speler
GenericName[ar]=مشغل الفيديو
GenericName[as]=Video Player
GenericName[be]=Відэапрайгравальнік
GenericName[be@latin]=Prajhravańnik videa
GenericName[bg]=Видео плеър
GenericName[bn]=ভিডিও প্রদর্শক
GenericName[bn_IN]=ভিডিও বাদন
GenericName[br]=Ur soner Video
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[csb]=Grôcz Video
GenericName[cy]=Chwaraewr Fideo
GenericName[da]=Videoafspiller
GenericName[de]=Ein Abspielprogramm für Videos
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[eo]=Legilo por videofilmoj
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیو
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[fy]=Fideospiler
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[gu]=વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו
GenericName[hi]=वीडियो प्लेयर
GenericName[hne]=वीडियो प्लेयर
GenericName[hr]=Video program
GenericName[hsb]=Widejowy wothrawak
GenericName[hu]=Videólejátszó
GenericName[is]=Forrit til að spila kvikmyndir
GenericName[it]=Lettore di video
GenericName[ja]=動画プレーヤー
GenericName[ka]=Видео Player
GenericName[kk]=Бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyan
GenericName[lt]=Vaizdo grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[mk]=Видеоплеер
GenericName[ml]=ചലച്ചിത്രദര്‍ശിനി
GenericName[mr]=वीडियो प्लेयर
GenericName[ms]=Pemain Video
GenericName[nb]=Videospiller
GenericName[nds]=Video-Afspeler
GenericName[ne]=भिडियो प्लेयर
GenericName[nl]=Videospeler
GenericName[nn]=Videospelar
GenericName[oc]=Video Player
GenericName[or]=ଭିଡ଼ଓ ଚାଳକ
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz Video
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Проигрыватель видео
GenericName[se]=Videočuojan
GenericName[si]=දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Filmspelare
GenericName[ta]=பதிவொலி சாதனம்
GenericName[te]=విడియొ ప్లెయర్
GenericName[tg]=Плеери видео
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів
GenericName[uz]=Video pleyer
GenericName[uz@cyrillic]=Видео плейер
GenericName[vi]=Bộ phát ảnh động
GenericName[wa]=Djouweu di fitchîs videyo
GenericName[xh]=Umdlali we Video
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=視像檔播放程式
Exec=gmplayer %U
Icon=video
MimeType=video/x-ms-asf;video/mpeg;video/quicktime;video/x-flic;video/x-msvideo;
Name=MPlayer
Name[af]=MPlayer
Name[ar]=MPlayer
Name[as]=MPlayer
Name[be]=MPlayer
Name[be@latin]=MPlayer
Name[bg]=MPlayer
Name[bn]=এম-প্লেয়ার
Name[bn_IN]=MPlayer
Name[br]=MPlayer
Name[ca]=MPlayer
Name[ca@valencia]=MPlayer
Name[cs]=MPlayer
Name[csb]=MPlayer
Name[cy]=MPlayer
Name[da]=MPlayer
Name[de]=MPlayer
Name[el]=MPlayer
Name[en_GB]=MPlayer
Name[eo]=MPlayer
Name[es]=MPlayer
Name[et]=MPlayer
Name[eu]=MPlayer
Name[fi]=MPlayer
Name[fr]=MPlayer
Name[fy]=MPlayer
Name[ga]=MPlayer
Name[gl]=MPlayer
Name[gu]=MPlayer
Name[he]=MPlayer
Name[hi]=एम-प्लेयर
Name[hne]=एम-प्लेयर
Name[hr]=MPlayer
Name[hsb]=MPlayer
Name[hu]=MPlayer
Name[is]=MPlayer
Name[it]=MPlayer
Name[ja]=MPlayer
Name[ka]=MPlayer
Name[kk]=MPlayer
Name[km]=MPlayer
Name[kn]=ಎಂಪ್ಲೇಯರ್
Name[ko]=MPlayer
Name[ku]=MPlayer
Name[lt]=MPlayer
Name[lv]=MPlayer
Name[mai]=एम-प्लेयर
Name[mk]=MPlayer
Name[ml]=എംപ്ലെയര്‍
Name[mr]=एम-प्लेयर
Name[ms]=MPlayer
Name[nb]=MPlayer
Name[nds]=MPlayer
Name[ne]=एम प्लेयर
Name[nl]=MPlayer
Name[nn]=MPlayer
Name[oc]=MPlayer
Name[or]=MPlayer
Name[pa]=M-ਪਲੇਅਰ
Name[pl]=MPlayer
Name[pt]=MPlayer
Name[pt_BR]=MPlayer
Name[ro]=MPlayer
Name[ru]=MPlayer
Name[se]=MPlayer
Name[si]=MPlayer
Name[sk]=MPlayer
Name[sl]=MPlayer
Name[sr]=М‑плејер
Name[sr@latin]=MPlayer
Name[sv]=Mplayer
Name[ta]=எம்பிளேயர்
Name[te]=ఎంప్లెయర్
Name[tg]=MPlayer
Name[th]=MPlayer
Name[tr]=MPlayer
Name[uk]=MPlayer
Name[uz]=MPlayer
Name[uz@cyrillic]=MPlayer
Name[vi]=MPlayer
Name[wa]=MPlayer
Name[xh]=MPlayer
Name[x-test]=xxMPlayerxx
Name[zh_CN]=MPlayer
Name[zh_TW]=MPlayer
X-KDE-ServiceTypes=
Type=Application
X-KDE-Protocols=http

