[Desktop Entry]
GenericName=Video Player
GenericName[af]=Video Speler
GenericName[ar]=مشغل الفيديو
GenericName[as]=Video Player
GenericName[be]=Відэапрайгравальнік
GenericName[be@latin]=Prajhravańnik videa
GenericName[bg]=Видео плеър
GenericName[bn]=ভিডিও প্রদর্শক
GenericName[bn_IN]=ভিডিও বাদন
GenericName[br]=Ur soner Video
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[csb]=Grôcz Video
GenericName[cy]=Chwaraewr Fideo
GenericName[da]=Videoafspiller
GenericName[de]=Ein Abspielprogramm für Videos
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[eo]=Legilo por videofilmoj
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیو
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[fy]=Fideospiler
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[gu]=વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו
GenericName[hi]=वीडियो प्लेयर
GenericName[hne]=वीडियो प्लेयर
GenericName[hr]=Video program
GenericName[hsb]=Widejowy wothrawak
GenericName[hu]=Videólejátszó
GenericName[is]=Forrit til að spila kvikmyndir
GenericName[it]=Lettore di video
GenericName[ja]=動画プレーヤー
GenericName[ka]=Видео Player
GenericName[kk]=Бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyan
GenericName[lt]=Vaizdo grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[mk]=Видеоплеер
GenericName[ml]=ചലച്ചിത്രദര്‍ശിനി
GenericName[mr]=वीडियो प्लेयर
GenericName[ms]=Pemain Video
GenericName[nb]=Videospiller
GenericName[nds]=Video-Afspeler
GenericName[ne]=भिडियो प्लेयर
GenericName[nl]=Videospeler
GenericName[nn]=Videospelar
GenericName[oc]=Video Player
GenericName[or]=ଭିଡ଼ଓ ଚାଳକ
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz Video
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Проигрыватель видео
GenericName[se]=Videočuojan
GenericName[si]=දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Filmspelare
GenericName[ta]=பதிவொலி சாதனம்
GenericName[te]=విడియొ ప్లెయర్
GenericName[tg]=Плеери видео
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів
GenericName[uz]=Video pleyer
GenericName[uz@cyrillic]=Видео плейер
GenericName[vi]=Bộ phát ảnh động
GenericName[wa]=Djouweu di fitchîs videyo
GenericName[xh]=Umdlali we Video
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=視像檔播放程式
Exec=mtv
Icon=video
Name=MpegTV
Name[af]=Mpegtv
Name[ar]=MpegTV
Name[as]=MpegTV
Name[be]=MpegTV
Name[be@latin]=MpegTV
Name[bg]=MpegTV
Name[bn]=এমপেগ-টিভি
Name[bn_IN]=MpegTV
Name[br]=MpegTV
Name[ca]=MpegTV
Name[ca@valencia]=MpegTV
Name[cs]=MpegTV
Name[csb]=MpegTV
Name[cy]=MpegTV
Name[da]=MpegTV
Name[de]=MpegTV
Name[el]=MpegTV
Name[en_GB]=MpegTV
Name[eo]=MpegTV
Name[es]=MpegTV
Name[et]=MpegTV
Name[eu]=MpegTV
Name[fi]=MpegTV
Name[fr]=MpegTV
Name[fy]=MpegTV
Name[ga]=MpegTV
Name[gl]=MpegTV
Name[gu]=MpegTV
Name[he]=MpegTV
Name[hi]=एमपीईजी-टीवी
Name[hne]=एमपीईजी-टीवी
Name[hr]=MpegTV
Name[hsb]=MpegTV
Name[hu]=MpegTV
Name[is]=MpegTV spilari
Name[it]=MpegTV
Name[ja]=MpegTV
Name[ka]=MpegTV
Name[kk]=MpegTV
Name[km]=MpegTV
Name[kn]=ಎಂಪೆಗ್ ಟಿವಿ
Name[ko]=MpegTV
Name[ku]=MpegTV
Name[lt]=MpegTV
Name[lv]=MpegTV
Name[mai]=एमपीईजी-टीवी
Name[mk]=MpegTV
Name[ml]=എംപെഗ്ടിവി
Name[mr]=एमपीईजी-टीवी
Name[ms]=MpegTV
Name[nb]=MpegTV
Name[nds]=MpegTV
Name[ne]=MpegTV
Name[nl]=MpegTV
Name[nn]=MpegTV
Name[or]=MpegTV
Name[pa]=MpegTV
Name[pl]=MpegTV
Name[pt]=MpegTV
Name[pt_BR]=MpegTV
Name[ro]=MpegTV
Name[ru]=MpegTV
Name[se]=MpegTV
Name[si]=MpegTV
Name[sk]=MpegTV
Name[sl]=MpegTV
Name[sr]=МпегТВ
Name[sr@latin]=MpegTV
Name[sv]=MpegTV
Name[ta]=MpegTV
Name[te]=ఎంపిఈజి టివి
Name[tg]=MpegTV
Name[th]=MpegTV
Name[tr]=MpegTV
Name[uk]=MpegTV
Name[uz]=MpegTV
Name[uz@cyrillic]=MpegTV
Name[vi]=MpegTV
Name[wa]=MpegTV
Name[xh]=MpegTV
Name[x-test]=xxMpegTVxx
Name[zh_CN]=MpegTV
Name[zh_TW]=MpegTV
Type=Application
MimeType=video/mpeg;
