[Desktop Entry]
Exec=muse
Name=MusE
Name[af]=MusE
Name[ar]=MusE
Name[as]=MusE
Name[be]=MusE
Name[be@latin]=MusE
Name[bg]=MusE
Name[bn]=MusE
Name[bn_IN]=MusE
Name[ca]=MusE
Name[ca@valencia]=MusE
Name[cs]=MusE
Name[csb]=MusE
Name[da]=MusE
Name[de]=MusE
Name[el]=MusE
Name[en_GB]=MusE
Name[eo]=MusE
Name[es]=MusE
Name[et]=MusE
Name[eu]=MusE
Name[fi]=MusE
Name[fr]=MusE
Name[fy]=MusE
Name[ga]=MusE
Name[gl]=MusE
Name[gu]=MusE
Name[he]=MusE
Name[hi]=म्यूज़
Name[hne]=म्यूज
Name[hr]=MusE
Name[hsb]=MusE
Name[hu]=MusE
Name[is]=MusE
Name[it]=MusE
Name[ja]=MusE
Name[kk]=MusE
Name[km]=Mures
Name[kn]=ಮ್ಯೂಸ್
Name[ko]=MusE
Name[ku]=MusE
Name[lt]=MusE
Name[lv]=MusE
Name[mai]=म्यूज
Name[mk]=MusE
Name[ml]=മ്യൂസ്
Name[mr]=म्यूज
Name[nb]=MusE
Name[nds]=MusE
Name[ne]=MusE
Name[nl]=MusE
Name[nn]=MusE
Name[oc]=MusE
Name[or]=MusE
Name[pa]=MusE
Name[pl]=MusE
Name[pt]=MusE
Name[pt_BR]=MusE
Name[ro]=MusE
Name[ru]=MusE
Name[se]=MusE
Name[si]=MusE
Name[sk]=MusE
Name[sl]=MusE
Name[sr]=Мјуз
Name[sr@latin]=MusE
Name[sv]=Muse
Name[ta]=MusE
Name[te]=ముస్
Name[tg]=MusE
Name[th]=MusE
Name[tr]=MusE
Name[uk]=MusE
Name[uz]=MusE
Name[uz@cyrillic]=MusE
Name[wa]=MusE
Name[x-test]=xxMusExx
Name[zh_CN]=Mures
Name[zh_TW]=MusE
Icon=
GenericName=Music Sequencer
GenericName[af]=Musiekreeksbouer (sequencer)
GenericName[ar]=مرتّبات الموسيقى
GenericName[as]=Music Sequencer
GenericName[be]=Музычны рэдактар
GenericName[be@latin]=Muzyčny sekvenser
GenericName[bg]=Music Sequencer
GenericName[bn]=মিউজিক সিকুয়েন্সার
GenericName[bn_IN]=মিউজিক সিকোয়েন্সার
GenericName[ca]=Seqüenciador musical
GenericName[ca@valencia]=Seqüenciador musical
GenericName[cs]=Hudební sekvencer
GenericName[csb]=Musik-Sequencer
GenericName[da]=Musik-sequencer
GenericName[de]=Musik-Sequencer
GenericName[el]=Sequencer μουσικής
GenericName[en_GB]=Music Sequencer
GenericName[eo]=Muzika sekvencilo
GenericName[es]=Secuenciador de música
GenericName[et]=Muusika sekventsija
GenericName[eu]=Music Sequencer
GenericName[fa]=ترتیب‌سنج موسیقی
GenericName[fi]=Sekvensseri
GenericName[fr]=Séquenceur de musique
GenericName[fy]=Musyk Sekwuencer
GenericName[ga]=Seicheamhóir Ceoil
GenericName[gl]=Secuenciador de música
GenericName[gu]=મ્યુઝિક સિક્વન્સસર
GenericName[hi]=संगीत सीक्वेंसर
GenericName[hne]=संगीत सीक्वेंसर
GenericName[hr]=Uređivač glazbe
GenericName[hsb]=Music Sequencer
GenericName[hu]=Zeneszekvencer
GenericName[is]=Tónlistarrunutól
GenericName[it]=Sequencer musicale
GenericName[ja]=ミュージックシーケンサー
GenericName[kk]=Музыка секвенсоры
GenericName[km]=កម្មវិធី​​​ដាក់​តន្ត្រី​​​ជា​លំដាប់
GenericName[kn]=ಸಂಗೀತ ಸರಣಿಗಾರ (sequencer)
GenericName[ko]=음악 시퀀서
GenericName[ku]=Destpêkara Bilez
GenericName[lv]=Mūzikas sekvenceris
GenericName[mai]=संगीत सीक्वेंसर
GenericName[mk]=Музички секвенцер
GenericName[ml]=മ്യൂസിക് സീക്വന്‍സര്‍
GenericName[mr]=संगीत सीक्वेंसर
GenericName[nb]=Musikksequencer
GenericName[nds]=Klangsequenzer
GenericName[ne]=संगित अनुक्रमक
GenericName[nl]=Muzieksequencer
GenericName[nn]=Musikkomponering
GenericName[or]=ସଂଗୀତ ଅନୁକ୍ରମକ
GenericName[pl]=Sekwencer muzyczny
GenericName[pt]=Sequenciador de Música
GenericName[pt_BR]=Sequenciador de música
GenericName[ro]=Music Sequencer
GenericName[ru]=Музыкальный секвенсер
GenericName[se]=Musihkkaráhkadeapmi
GenericName[si]=සංගීත පිළිවෙළ
GenericName[sk]=Virtuálne štúdio
GenericName[sl]=Glasbeni sekvenčnik
GenericName[sr]=Музички секвенцер
GenericName[sr@latin]=Muzički sekvencer
GenericName[sv]=Musikspelare
GenericName[ta]=Music Sequencer
GenericName[te]=సంగీత అనుకారిణి
GenericName[tg]=Синтезатори мусиқӣ
GenericName[th]=โปรแกรมเรียบเรียงดนตรี
GenericName[tr]=Müzik Ardışımlayıcı
GenericName[uk]=Програвач музики
GenericName[wa]=Secwinceu d' muzike
GenericName[x-test]=xxMusic Sequencerxx
GenericName[zh_CN]=音乐音序器
GenericName[zh_TW]=音樂序列器
Type=Application
Categories=Music;AudioVideo;
