[Desktop Entry]
Encoding=UTF-8
Exec=muse
Name=MusE
Icon=
GenericName=Music Sequencer
GenericName[ga]=Seicheamhóir Ceoil
GenericName[nds]=Klangsequenzer
GenericName[pt]=Sequenciador de Música
GenericName[pt_BR]=Sequenciador de Música
GenericName[zh_TW]=音樂序列器
Type=Application
Categories=Music;AudioVideo;
