[Desktop Entry]
Encoding=UTF-8
Exec=muse
Name=MusE
Name[km]=Mures
Name[sv]=Muse
Icon=
GenericName=Music Sequencer
GenericName[be]=Музычны рэдактар
GenericName[es]=Secuenciador de música
GenericName[fa]=ترتیب‌سنج موسیقی
GenericName[ga]=Seicheamhóir Ceoil
GenericName[ja]=ミュージックシーケンサ
GenericName[km]=កម្មវិធីលំដាប់​តន្ត្រី​​
GenericName[nds]=Klangsequenzer
GenericName[pt]=Sequenciador de Música
GenericName[pt_BR]=Sequenciador de Música
GenericName[sl]=Glasbeni sekvenčnik
GenericName[sv]=Musikspelare
GenericName[th]=โปรแกรมเรียบเรียงดนตรี
GenericName[zh_TW]=音樂序列器
Type=Application
Categories=Music;AudioVideo;
