[Desktop Entry]
Encoding=UTF-8
GenericName=DVD Player
GenericName[af]=DVD Speler
GenericName[ar]=مشغل DVD
GenericName[br]=Soner DVD
GenericName[ca]=Reproductor de DVD
GenericName[cs]=DVD přehrávač
GenericName[csb]=Grôcz DVD
GenericName[cy]=Chwaraewr DVD
GenericName[da]=Dvd-afspiller
GenericName[de]=DVD-Wiedergabe
GenericName[el]=Αναπαραγωγέας DVD
GenericName[eo]=Ludilo por muzikaj lumdiskoj
GenericName[es]=Reproductor de DVDs
GenericName[et]=DVD mängija
GenericName[eu]=DVD erreproduzigailua
GenericName[fa]=پخش‌کنندۀ DVD
GenericName[fi]=DVD-soitin
GenericName[fr]=Lecteur de DVD
GenericName[fy]=DVD-spiler
GenericName[ga]=Seinnteoir DVD
GenericName[gl]=Reprodutor de DVD
GenericName[he]=נגן DVD
GenericName[hr]=DVD program
GenericName[hu]=DVD-lejátszó
GenericName[is]=DVD spilari
GenericName[it]=Lettore DVD
GenericName[ja]=DVD プレーヤ
GenericName[ka]=DVD დამკვრელი
GenericName[kk]=DVD плейер
GenericName[km]=កម្មវិធី​ចាក់​ឌីវីឌី
GenericName[ko]=DVD 연주기
GenericName[lt]=DVD grotuvas
GenericName[lv]=DVD Atskaņotājs
GenericName[mk]=DVD плеер
GenericName[ms]=Pemain DVD
GenericName[nb]=DVD-Spiller
GenericName[nds]=DVD-Afspeler
GenericName[ne]=डी भी डी प्लेएर
GenericName[nl]=DVD-speler
GenericName[nn]=DVD-spelar
GenericName[pa]=DVD ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz DVD
GenericName[pt]=Leitor de DVDs
GenericName[pt_BR]=Reprodutor de DVD
GenericName[ro]=Program de redare DVD
GenericName[ru]=Проигрыватель DVD
GenericName[se]=DVD-čuojan
GenericName[sl]=Predvajalnik DVD-jev
GenericName[sr]=DVD приказивач
GenericName[sr@latin]=DVD prikazivač
GenericName[sv]=Dvd-spelare
GenericName[ta]=DVD சாதனம்
GenericName[te]=డివిడి ప్లెయర్
GenericName[tg]=Плейери DVD
GenericName[tr]=DVD Oynatıcı
GenericName[uk]=Програвач DVD
GenericName[uz]=DVD плейер
GenericName[wa]=Djouweu di plakes lazer DVD
GenericName[x-test]=xxDVD Playerxx
GenericName[xh]=Umdlali we DVD
GenericName[zh_TW]=DVD 播放器
Exec=ogle %f
Icon=video
MimeType=inode/chardevice;inode/directory
Name=Ogle
Name[ne]=अग्ली
Name[ta]=ஓகல்
Name[te]=ఒగిల్
Name[x-test]=xxOglexx
ServiceTypes=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
