[Desktop Entry]
GenericName=DVD Player
GenericName[af]=DVD Speler
GenericName[ar]=DVD قارئ
GenericName[be]=Прайгравальнік DVD
GenericName[bg]=DVD плеър
GenericName[bn]=ডিভিডি প্রদর্শক
GenericName[br]=Soner DVD
GenericName[ca]=Reproductor de DVD
GenericName[cs]=DVD přehrávač
GenericName[csb]=Grôcz DVD
GenericName[cy]=Chwaraewr DVD
GenericName[da]=Dvd-afspiller
GenericName[de]=DVD-Wiedergabe
GenericName[el]=Αναπαραγωγέας DVD
GenericName[es]=Reproductor de DVD
GenericName[et]=DVD mängija
GenericName[eu]=DVD erreproduzigailua
GenericName[fa]=پخش‌کنندۀ DVD
GenericName[fi]=DVD-soitin
GenericName[fr]=Lecteur de DVD
GenericName[fy]=DVD-spiler
GenericName[ga]=Seinnteoir DVD
GenericName[gl]=Reprodutor de DVD
GenericName[he]=נגן DVD
GenericName[hi]=डीवीडी प्लेयर
GenericName[hr]=DVD program
GenericName[hu]=DVD-lejátszó
GenericName[is]=DVD spilari
GenericName[it]=Lettore DVD
GenericName[ja]=DVD プレーヤ
GenericName[ka]=DVD დამკვრელი
GenericName[kk]=DVD плейер
GenericName[km]=កម្មវិធី​ចាក់​ឌីវីឌី
GenericName[ko]=DVD 재생기
GenericName[ku]=Lêdera DVD'yan
GenericName[lt]=DVD grotuvas
GenericName[lv]=DVD atskaņotājs
GenericName[mk]=DVD плеер
GenericName[ms]=Pemain DVD
GenericName[nb]=DVD-Spiller
GenericName[nds]=DVD-Afspeler
GenericName[ne]=डीभीडी प्लेयर
GenericName[nl]=DVD-speler
GenericName[nn]=DVD-spelar
GenericName[oc]=Legidor de DVD
GenericName[pa]=DVD ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz DVD
GenericName[pt]=Leitor de DVDs
GenericName[pt_BR]=Reprodutor de DVD
GenericName[ro]=Program de redare DVD
GenericName[ru]=Проигрыватель DVD
GenericName[se]=DVD-čuojan
GenericName[sk]=DVD prehrávač
GenericName[sl]=Predvajalnik DVD-jev
GenericName[sr]=Плејер ДВД‑ова
GenericName[sr@latin]=Plejer DVD‑ova
GenericName[sv]=Dvd-spelare
GenericName[ta]=DVD சாதனம்
GenericName[te]=డివిడి ప్లెయర్
GenericName[tg]=Плейери DVD
GenericName[th]=โปรแกรมเล่นดีวีดี
GenericName[tr]=DVD Oynatıcı
GenericName[uk]=Програвач DVD
GenericName[uz]=DVD плейер
GenericName[vi]=Bộ phát DVD
GenericName[wa]=Djouweu di plakes lazer DVD
GenericName[x-test]=xxDVD Playerxx
GenericName[xh]=Umdlali we DVD
GenericName[zh_CN]=DVD 播放器
GenericName[zh_TW]=DVD 播放器
Exec=ogle %f
Icon=video
MimeType=inode/chardevice;inode/directory;
Name=Ogle
Name[bn]=ওগল
Name[hi]=ऑगल
Name[ne]=अग्ले
Name[sr]=Огл
Name[ta]=ஓகல்
Name[te]=ఒగిల్
Name[th]=Ogel
Name[x-test]=xxOglexx
X-KDE-ServiceTypes=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
