[Desktop Entry]
GenericName=DVD Player
GenericName[af]=DVD Speler
GenericName[ar]=DVD قارئ
GenericName[as]=DVD Player
GenericName[be]=Прайгравальнік DVD
GenericName[be@latin]=Prajhravańnik dla DVD
GenericName[bg]=DVD плеър
GenericName[bn]=ডিভিডি প্রদর্শক
GenericName[bn_IN]=DVD প্লেয়ার
GenericName[br]=Soner DVD
GenericName[ca]=Reproductor de DVD
GenericName[ca@valencia]=Reproductor de DVD
GenericName[cs]=DVD přehrávač
GenericName[csb]=Grôcz DVD
GenericName[cy]=Chwaraewr DVD
GenericName[da]=Dvd-afspiller
GenericName[de]=DVD-Wiedergabe
GenericName[el]=Αναπαραγωγέας DVD
GenericName[en_GB]=DVD Player
GenericName[eo]=Legilo por muzikaj lumdiskoj
GenericName[es]=Reproductor de DVD
GenericName[et]=DVD mängija
GenericName[eu]=DVD erreproduzigailua
GenericName[fa]=پخش‌کنندۀ DVD
GenericName[fi]=DVD-soitin
GenericName[fr]=Lecteur de DVD
GenericName[fy]=DVD-spiler
GenericName[ga]=Seinnteoir DVD
GenericName[gl]=Reprodutor de DVD
GenericName[gu]=DVD પ્લેયર
GenericName[he]=נגן DVD
GenericName[hi]=डीवीडी प्लेयर
GenericName[hne]=डीवीडी प्लेयर
GenericName[hr]=DVD program
GenericName[hsb]=DVD-wothrawak
GenericName[hu]=DVD-lejátszó
GenericName[is]=DVD spilari
GenericName[it]=Lettore DVD
GenericName[ja]=DVD プレーヤー
GenericName[ka]=DVD დამკვრელი
GenericName[kk]=DVD плейер
GenericName[km]=កម្មវិធី​ចាក់​ឌីវីឌី
GenericName[kn]=ಡಿವಿಡಿ ನಿರೂಪಕ
GenericName[ko]=DVD 재생기
GenericName[ku]=Lêdera DVD'yan
GenericName[lt]=DVD grotuvas
GenericName[lv]=DVD atskaņotājs
GenericName[mai]=डीवीडी प्लेयर
GenericName[mk]=DVD плеер
GenericName[ml]=ഡിവിഡി പ്ലേയര്‍
GenericName[mr]=डीवीडी प्लेयर
GenericName[ms]=Pemain DVD
GenericName[nb]=DVD-Spiller
GenericName[nds]=DVD-Afspeler
GenericName[ne]=डीभीडी प्लेयर
GenericName[nl]=DVD-speler
GenericName[nn]=DVD-spelar
GenericName[oc]=Legidor de DVD
GenericName[or]=DVD ଚାଳକ
GenericName[pa]=DVD ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz DVD
GenericName[pt]=Leitor de DVDs
GenericName[pt_BR]=Reprodutor de DVD
GenericName[ro]=Player DVD
GenericName[ru]=Проигрыватель DVD
GenericName[se]=DVD-čuojan
GenericName[si]=DVD වාදකය
GenericName[sk]=DVD prehrávač
GenericName[sl]=Predvajalnik DVD-jev
GenericName[sr]=Плејер ДВД‑ова
GenericName[sr@latin]=Plejer DVD‑ova
GenericName[sv]=Dvd-spelare
GenericName[ta]=DVD இயக்கி
GenericName[te]=డివిడి ప్లెయర్
GenericName[tg]=Плеери DVD
GenericName[th]=โปรแกรมเล่นดีวีดี
GenericName[tr]=DVD Oynatıcı
GenericName[uk]=Програвач DVD
GenericName[uz]=DVD pleyer
GenericName[uz@cyrillic]=DVD плейер
GenericName[vi]=Bộ phát DVD
GenericName[wa]=Djouweu di plakes lazer DVD
GenericName[xh]=Umdlali we DVD
GenericName[x-test]=xxDVD Playerxx
GenericName[zh_CN]=DVD 播放器
GenericName[zh_TW]=DVD 播放器
Exec=ogle %f
Icon=video
MimeType=inode/chardevice;inode/directory;
Name=Ogle
Name[af]=Ogle
Name[ar]=Ogle
Name[as]=Ogle
Name[be]=Ogle
Name[be@latin]=Ogle
Name[bg]=Ogle
Name[bn]=ওগল
Name[bn_IN]=Ogle
Name[br]=Ogle
Name[ca]=Ogle
Name[ca@valencia]=Ogle
Name[cs]=Ogle
Name[csb]=Ogle
Name[cy]=Ogle
Name[da]=Ogle
Name[de]=Ogle
Name[el]=Ogle
Name[en_GB]=Ogle
Name[eo]=Ogle
Name[es]=Ogle
Name[et]=Ogle
Name[eu]=Ogle
Name[fi]=Ogle
Name[fr]=Ogle
Name[fy]=Ogle
Name[ga]=Ogle
Name[gl]=Ogle
Name[gu]=Ogle
Name[he]=Ogle
Name[hi]=ऑगल
Name[hne]=ओगल
Name[hr]=Ogle
Name[hsb]=Ogle
Name[hu]=Ogle
Name[is]=Ogle
Name[it]=Ogle
Name[ja]=Ogle
Name[ka]=Ogle
Name[kk]=Ogle
Name[km]=Ogle
Name[kn]=ಓಗಲ್
Name[ko]=Ogle
Name[ku]=Ogle
Name[lt]=Ogle
Name[lv]=Ogle
Name[mai]=आगल
Name[mk]=Ogle
Name[ml]=ഓഗിള്‍
Name[mr]=ऑगल
Name[ms]=Ogle
Name[nb]=Ogle
Name[nds]=Ogle
Name[ne]=अग्ले
Name[nl]=Ogle
Name[nn]=Ogle
Name[or]=Ogle
Name[pa]=Ogle
Name[pl]=Ogle
Name[pt]=Ogle
Name[pt_BR]=Ogle
Name[ro]=Ogle
Name[ru]=Ogle
Name[se]=Ogle
Name[si]=Ogle
Name[sk]=Ogle
Name[sl]=Ogle
Name[sr]=Огл
Name[sr@latin]=Ogle
Name[sv]=Ogle
Name[ta]=ஓகல்
Name[te]=ఒగిల్
Name[tg]=Ogle
Name[th]=Ogel
Name[tr]=Ogle
Name[uk]=Ogle
Name[uz]=Ogle
Name[uz@cyrillic]=Ogle
Name[vi]=Ogle
Name[wa]=Ogle
Name[xh]=Ogle
Name[x-test]=xxOglexx
Name[zh_CN]=Ogle
Name[zh_TW]=Ogle
X-KDE-ServiceTypes=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
