[Desktop Entry]
GenericName=MOV Video Player
GenericName[af]=MOV Video Speler
GenericName[ar]=MOV قارئ مرئيات
GenericName[be]=Прайгравальнік відэафайлаў у фармаце MOV
GenericName[bg]=Видео плеър за AVI
GenericName[bn]=MOV ভিডিও প্রদর্শক
GenericName[bn_IN]=MOV ভিডিও প্লেয়ার
GenericName[br]=Ur soner video MOV
GenericName[ca]=Reproductor de vídeo MOV
GenericName[cs]=Přehrávač MOV videa
GenericName[csb]=Grôcz MOV Video
GenericName[cy]=Chwaraewr Fideo MOV
GenericName[da]=MOV Video-afspiller
GenericName[de]=MOV-Video-Abspieler
GenericName[el]=Αναπαραγωγέας βίντεο MOV
GenericName[eo]=Legilo por MOV-videofilmoj
GenericName[es]=Reproductor de vídeo MOV
GenericName[et]=MOV videofailide mängija
GenericName[eu]=MOV bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیویی MOV
GenericName[fi]=MOV-videosoitin
GenericName[fr]=Un lecteur de vidéos au format MOV
GenericName[fy]=MOV-fideospiler
GenericName[ga]=Fístaispeántóir MOV
GenericName[gl]=Reprodutor de vídeo MOV
GenericName[gu]=MOV વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו MOV
GenericName[hi]=एमओवी वीडियो प्लेयर
GenericName[hr]=Video program za MOV datoteke
GenericName[hu]=MOV-videólejátszó
GenericName[is]=Forrit til að spila MOV kvikmyndir
GenericName[it]=Lettore di video MOV
GenericName[ja]=MOV ビデオプレーヤー
GenericName[ka]=MOV ვიდეო დამკვრელი
GenericName[kk]=MOV бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ MOV
GenericName[ko]=비디오 재생기
GenericName[ku]=Lêdera Vîdeoyên MOV
GenericName[lt]=MOV video grotuvas
GenericName[lv]=MOV video atskaņotājs
GenericName[mk]=MOV Видеоплеер
GenericName[ml]=എംഒവി ചലച്ചിത്ര പ്ലെയര്‍
GenericName[mr]=एमओवी वीडियो प्लेयर
GenericName[ms]=Pemain Video MOV
GenericName[nb]=MOV Videospiller
GenericName[nds]=Afspeler för MOV-Videos
GenericName[ne]=MOV भिडियो प्लेयर
GenericName[nl]=MOV-videospeler
GenericName[nn]=MOV-videospelar
GenericName[pa]=MOV ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz MOV Video
GenericName[pt]=Leitor de Vídeos MOV
GenericName[pt_BR]=Reprodutor de Vídeos MOV
GenericName[ro]=Player fișiere video MOV
GenericName[ru]=Видеопроигрыватель MOV
GenericName[se]=MOV-videočuojan
GenericName[sk]=Video prehrávač MOV
GenericName[sl]=Predvajalnik videov MOV
GenericName[sr]=Плејер МОВ видеа
GenericName[sr@latin]=Plejer MOV videa
GenericName[sv]=MOV-filmspelare
GenericName[ta]=MOV பதிவொளி இயக்கி
GenericName[te]=ఎంఒవి విడియొ ప్లెయర్
GenericName[tg]=Плеери видеои MOV
GenericName[th]=โปรแกรมเล่นแฟ้มวิดีโอแบบ MOV
GenericName[tr]=MOV Video Yürütücü
GenericName[uk]=Програвач відеофайлів MOV
GenericName[uz]=MOV video pleyer
GenericName[uz@cyrillic]=MOV видео плейер
GenericName[vi]=Bộ phát ảnh động kiểu MOV
GenericName[wa]=Djouweu di videyos MOV
GenericName[x-test]=xxMOV Video Playerxx
GenericName[xh]=Umdlali we Video MOV
GenericName[zh_CN]=MOV 视频播放器
GenericName[zh_TW]=MOV 視訊播放程式
Exec=oqtplayer %f
Icon=video
MimeType=video/quicktime;
Name=OQTPlayer
Name[csb]=Grôcz OQT
Name[de]=OQT-Abspieler
Name[fr]=Lecteur OQTP
Name[hi]=ओक्यूटी-प्लेयर
Name[ml]=ഓക്യൂട്ടിപ്ലേയര്‍
Name[mr]=ओQt-प्लेयर
Name[ne]=OQT प्लेयर
Name[sr]=ОКуТ‑плејер
Name[sv]=OQTplayer
Name[ta]=OQTஇயக்கி
Name[te]=ఒక్యుటి ప్లెయర్
Name[x-test]=xxOQTPlayerxx
Name[xh]=Umdlali we OQT
Name[zh_TW]=OQT 播放器
X-KDE-ServiceTypes=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

