[Desktop Entry]
GenericName=MOV Video Player
GenericName[af]=MOV Video Speler
GenericName[ar]=MOV قارئ مرئيات
GenericName[as]=MOV Video Player
GenericName[be]=Прайгравальнік відэафайлаў у фармаце MOV
GenericName[be@latin]=Prajhravańnik videa ŭ farmacie MOV
GenericName[bg]=Видео плеър за AVI
GenericName[bn]=MOV ভিডিও প্রদর্শক
GenericName[bn_IN]=MOV ভিডিও প্লেয়ার
GenericName[br]=Ur soner video MOV
GenericName[ca]=Reproductor de vídeo MOV
GenericName[ca@valencia]=Reproductor de vídeo MOV
GenericName[cs]=Přehrávač MOV videa
GenericName[csb]=Grôcz MOV Video
GenericName[cy]=Chwaraewr Fideo MOV
GenericName[da]=MOV Video-afspiller
GenericName[de]=MOV-Video-Abspieler
GenericName[el]=Αναπαραγωγέας βίντεο MOV
GenericName[en_GB]=MOV Video Player
GenericName[eo]=Legilo por MOV-videofilmoj
GenericName[es]=Reproductor de vídeo MOV
GenericName[et]=MOV videofailide mängija
GenericName[eu]=MOV bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیویی MOV
GenericName[fi]=MOV-videosoitin
GenericName[fr]=Un lecteur de vidéos au format MOV
GenericName[fy]=MOV-fideospiler
GenericName[ga]=Seinnteoir Físe MOV
GenericName[gl]=Reprodutor de vídeo MOV
GenericName[gu]=MOV વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו MOV
GenericName[hi]=एमओवी वीडियो प्लेयर
GenericName[hne]=एमओवी वीडियो प्लेयर
GenericName[hr]=Video program za MOV datoteke
GenericName[hsb]=Wothrawak za wideja MOV
GenericName[hu]=MOV-videólejátszó
GenericName[is]=Forrit til að spila MOV kvikmyndir
GenericName[it]=Lettore di video MOV
GenericName[ja]=MOV 動画プレーヤー
GenericName[ka]=MOV ვიდეო დამკვრელი
GenericName[kk]=MOV бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ MOV
GenericName[kn]=ಎಮ್ಓವಿ ದೃಶ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=비디오 재생기
GenericName[ku]=Lêdera Vîdeoyên MOV
GenericName[lt]=MOV video grotuvas
GenericName[lv]=MOV video atskaņotājs
GenericName[mai]=एमओवी वीडियो प्लेयर
GenericName[mk]=MOV Видеоплеер
GenericName[ml]=എംഒവി ചലച്ചിത്ര പ്ലെയര്‍
GenericName[mr]=एमओवी वीडियो प्लेयर
GenericName[ms]=Pemain Video MOV
GenericName[nb]=MOV Videospiller
GenericName[nds]=Afspeler för MOV-Videos
GenericName[ne]=MOV भिडियो प्लेयर
GenericName[nl]=MOV-videospeler
GenericName[nn]=MOV-videospelar
GenericName[or]=MOV ଭିଡ଼ିଓ ଚାଳକ
GenericName[pa]=MOV ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz MOV Video
GenericName[pt]=Leitor de Vídeos MOV
GenericName[pt_BR]=Reprodutor de vídeos MOV
GenericName[ro]=Player fișiere video MOV
GenericName[ru]=Проигрыватель MOV
GenericName[se]=MOV-videočuojan
GenericName[si]=MOV දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač MOV
GenericName[sl]=Predvajalnik videov MOV
GenericName[sr]=Плејер МОВ видеа
GenericName[sr@latin]=Plejer MOV videa
GenericName[sv]=MOV-filmspelare
GenericName[ta]=MOV பதிவொளி இயக்கி
GenericName[te]=ఎంఒవి విడియొ ప్లెయర్
GenericName[tg]=Плеери видеои MOV
GenericName[th]=โปรแกรมเล่นแฟ้มวิดีโอแบบ MOV
GenericName[tr]=MOV Video Yürütücü
GenericName[uk]=Програвач відеофайлів MOV
GenericName[uz]=MOV video pleyer
GenericName[uz@cyrillic]=MOV видео плейер
GenericName[vi]=Bộ phát ảnh động kiểu MOV
GenericName[wa]=Djouweu di videyos MOV
GenericName[xh]=Umdlali we Video MOV
GenericName[x-test]=xxMOV Video Playerxx
GenericName[zh_CN]=MOV 视频播放器
GenericName[zh_TW]=MOV 視訊播放程式
Exec=oqtplayer %f
Icon=video
MimeType=video/quicktime;
Name=OQTPlayer
Name[af]=OQTPlayer
Name[ar]=OQTPlayer
Name[as]=OQTPlayer
Name[be]=OQTPlayer
Name[be@latin]=OQTPlayer
Name[bg]=OQTPlayer
Name[bn]=OQTPlayer
Name[bn_IN]=OQTPlayer
Name[br]=OQTPlayer
Name[ca]=OQTPlayer
Name[ca@valencia]=OQTPlayer
Name[cs]=OQTPlayer
Name[csb]=Grôcz OQT
Name[cy]=OQTPlayer
Name[da]=OQTPlayer
Name[de]=OQTPlayer
Name[el]=OQTPlayer
Name[en_GB]=OQTPlayer
Name[eo]=OQTPlayer
Name[es]=OQTPlayer
Name[et]=OQTPlayer
Name[eu]=OQTPlayer
Name[fi]=OQTPlayer
Name[fr]=Lecteur OQTP
Name[fy]=OQTPlayer
Name[ga]=OQTPlayer
Name[gl]=OQTPlayer
Name[gu]=OQTPlayer
Name[he]=OQTPlayer
Name[hi]=ओक्यूटी-प्लेयर
Name[hne]=ओक्यूटी-प्लेयर
Name[hr]=OQTPlayer
Name[hsb]=OQTPlayer
Name[hu]=OQTPlayer
Name[is]=OQTPlayer
Name[it]=OQTPlayer
Name[ja]=OQTPlayer
Name[ka]=OQTPlayer
Name[kk]=OQTPlayer
Name[km]=OQTPlayer
Name[kn]=ಓಕ್ಯೂಟಿ ನಿರೂಪಕ
Name[ko]=OQTPlayer
Name[ku]=OQTPlayer
Name[lt]=OQTPlayer
Name[lv]=OQTPlayer
Name[mai]=ओक्यूटी-प्लेयर
Name[mk]=OQTPlayer
Name[ml]=ഓക്യൂട്ടിപ്ലേയര്‍
Name[mr]=ओQt-प्लेयर
Name[ms]=OQTPlayer
Name[nb]=OQTPlayer
Name[nds]=OQTPlayer
Name[ne]=OQT प्लेयर
Name[nl]=OQTPlayer
Name[nn]=OQTPlayer
Name[oc]=OQTPlayer
Name[or]=OQTPlayer
Name[pa]=OQTPlayer
Name[pl]=OQTPlayer
Name[pt]=OQTPlayer
Name[pt_BR]=OQTPlayer
Name[ro]=OQTPlayer
Name[ru]=OQTPlayer
Name[se]=OQTPlayer
Name[si]=OQTPlayer
Name[sk]=OQTPlayer
Name[sl]=OQTPlayer
Name[sr]=ОКуТ‑плејер
Name[sr@latin]=OQTPlayer
Name[sv]=OQTplayer
Name[ta]=OQTஇயக்கி
Name[te]=ఒక్యుటి ప్లెయర్
Name[tg]=OQTPlayer
Name[th]=OQTPlayer
Name[tr]=OQTPlayer
Name[uk]=OQTPlayer
Name[uz]=OQTPlayer
Name[uz@cyrillic]=OQTPlayer
Name[vi]=OQTPlayer
Name[wa]=OQTPlayer
Name[xh]=Umdlali we OQT
Name[x-test]=xxOQTPlayerxx
Name[zh_CN]=OQTPlayer
Name[zh_TW]=OQT 播放器
X-KDE-ServiceTypes=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

