[Desktop Entry]
Encoding=UTF-8
Exec=qjackctl
Icon=qjackctl
Name=QJackCtl
GenericName=Control for Jack
Type=Application
Categories=Qt;Music;AudioVideo;
