[Desktop Entry]
Encoding=UTF-8
Exec=qjackctl
Icon=qjackctl
Name=QJackCtl
GenericName=Control for Jack
GenericName[ga]=Rialtán le haghaidh Jack
GenericName[nds]=Kuntrullprogramm för Jack
GenericName[pt]=Controlo para o Jack
GenericName[pt_BR]=Controlo para o Jack
GenericName[zh_TW]=Jack 控制
Type=Application
Categories=Qt;Music;AudioVideo;
