[Desktop Entry]
Exec=qjackctl
Icon=qjackctl
Name=QJackCtl
Name[hi]=क्यूजैककंट्रोल
Name[ml]=ക്യുജാക്ക്കണ്ട്രോള്‍
Name[sr]=КуЏекЦтл
Name[sv]=Qjackctl
Name[te]=క్యుజాక్ సిటిఎల్
Name[x-test]=xxQJackCtlxx
GenericName=Control for Jack
GenericName[bg]=Jack контрол
GenericName[ca]=Control pel Jack
GenericName[csb]=Sprôwianié Jackã
GenericName[da]=Kontrol til Jack
GenericName[de]=Steuerung für Jack
GenericName[el]=Έλεγχος για το Jack
GenericName[eo]=Kontrolo de Jack
GenericName[es]=Control de Jack
GenericName[et]=JACKi juhtimine
GenericName[eu]=Jack-endako kontrola
GenericName[fi]=Jack-kontrolli
GenericName[fr]=Contrôle pour Jack
GenericName[fy]=Kontrôle foar Jack
GenericName[ga]=Rialtán Jack
GenericName[gl]=Control para Jack
GenericName[gu]=જેક માટે નિયંત્રણ
GenericName[hi]=जैक के लिये नियंत्रक
GenericName[hu]=Vezérlő a Jackhez
GenericName[is]=Stillingar Jack
GenericName[it]=Controllo per Jack
GenericName[ja]=Jack のコントロール
GenericName[kk]=Jack басқаруы
GenericName[km]=វត្ថុ​បញ្ជា​សម្រាប់ Jack
GenericName[ko]=Jack 컨트롤
GenericName[ku]=Kontrolkirina Jack
GenericName[lt]=Jack valdymas
GenericName[lv]=Vadīkla priekš Jack
GenericName[nb]=Styring for Jack
GenericName[nds]=Kuntrullprogramm för Jack
GenericName[ne]=ज्याक लागि नियन्त्रण
GenericName[nl]=Bediening voor Jack
GenericName[nn]=Jack-kontroll
GenericName[pa]=ਜੈਕ ਲਈ ਕੰਟਰੋਲ
GenericName[pl]=Kontrola Jacka
GenericName[pt]=Controlo para o Jack
GenericName[pt_BR]=Controle para o Jack
GenericName[ro]=Control pentru Jack
GenericName[se]=Jack-stivrran
GenericName[sl]=Nadzor za Jack
GenericName[sr]=Контрола за Џек
GenericName[sr@latin]=Kontrola za Jack
GenericName[sv]=Styrning av Jack
GenericName[tg]=Идоракунии Ҷек
GenericName[th]=โปรแกรมควบคุมสำหรับ Jack
GenericName[tr]=Jack Denetimi
GenericName[uk]=Керування для Jack
GenericName[wa]=Contrôle po Jack
GenericName[x-test]=xxControl for Jackxx
GenericName[zh_CN]=Jack 控制
GenericName[zh_TW]=Jack 控制
Type=Application
Categories=Qt;Music;AudioVideo;
