[Desktop Entry]
Encoding=UTF-8
Exec=qsynth
Icon=qsynth
Name=QSynth
GenericName=Control for FluidSynth
Type=Application
Categories=Qt;Music;AudioVideo;
