[Desktop Entry]
Encoding=UTF-8
Exec=qsynth
Icon=qsynth
Name=QSynth
Name[sv]=Qsynth
GenericName=Control for FluidSynth
GenericName[bg]=FluidSynth контрол
GenericName[de]=Steuerung für FluidSynth
GenericName[el]=Έλεγχος για το FluidSynth
GenericName[es]=Control de FluidSynth
GenericName[ga]=Rialtán le haghaidh FluidSynth
GenericName[ja]=FluidSynth のコントロール
GenericName[kk]=FluidSynth-ты басқару
GenericName[km]=វត្ថុ​បញ្ជា​សម្រាប់ FluidSynth
GenericName[ko]=FluidSynth 컨트롤
GenericName[nb]=Styring for FluidSynth
GenericName[nds]=Kuntrullprogramm för FluidSynth
GenericName[nl]=Bediening voor FluidSynth
GenericName[pt]=Controlo para o FluidSynth
GenericName[pt_BR]=Controle para o FluidSynth
GenericName[sv]=Styrning av Fluidsynth
GenericName[th]=โปรแกรมควบคุมสำหรับ FluidSynth
GenericName[zh_TW]=FluidSynth 控制
Type=Application
Categories=Qt;Music;AudioVideo;
