[Desktop Entry]
GenericName=Video Player
GenericName[af]=Video Speler
GenericName[ar]=مشغل الفيديو
GenericName[as]=Video Player
GenericName[be]=Відэапрайгравальнік
GenericName[be@latin]=Prajhravańnik videa
GenericName[bg]=Видео плеър
GenericName[bn]=ভিডিও প্রদর্শক
GenericName[bn_IN]=ভিডিও বাদন
GenericName[br]=Ur soner Video
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[csb]=Grôcz Video
GenericName[cy]=Chwaraewr Fideo
GenericName[da]=Videoafspiller
GenericName[de]=Ein Abspielprogramm für Videos
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[eo]=Legilo por videofilmoj
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیو
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[fy]=Fideospiler
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[gu]=વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו
GenericName[hi]=वीडियो प्लेयर
GenericName[hne]=वीडियो प्लेयर
GenericName[hr]=Video program
GenericName[hsb]=Widejowy wothrawak
GenericName[hu]=Videólejátszó
GenericName[is]=Forrit til að spila kvikmyndir
GenericName[it]=Lettore di video
GenericName[ja]=動画プレーヤー
GenericName[ka]=Видео Player
GenericName[kk]=Бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyan
GenericName[lt]=Vaizdo grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[mk]=Видеоплеер
GenericName[ml]=ചലച്ചിത്രദര്‍ശിനി
GenericName[mr]=वीडियो प्लेयर
GenericName[ms]=Pemain Video
GenericName[nb]=Videospiller
GenericName[nds]=Video-Afspeler
GenericName[ne]=भिडियो प्लेयर
GenericName[nl]=Videospeler
GenericName[nn]=Videospelar
GenericName[oc]=Video Player
GenericName[or]=ଭିଡ଼ଓ ଚାଳକ
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz Video
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Проигрыватель видео
GenericName[se]=Videočuojan
GenericName[si]=දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Filmspelare
GenericName[ta]=பதிவொலி சாதனம்
GenericName[te]=విడియొ ప్లెయర్
GenericName[tg]=Плеери видео
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів
GenericName[uz]=Video pleyer
GenericName[uz@cyrillic]=Видео плейер
GenericName[vi]=Bộ phát ảnh động
GenericName[wa]=Djouweu di fitchîs videyo
GenericName[xh]=Umdlali we Video
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=視像檔播放程式
Exec=realplay %u
Icon=realplayer
MimeType=audio/vnd.rn-realaudio;audio/vnd.rn-realaudio;application/vnd.rn-realmedia.desktop;video/vnd.rn-realvideo;
Name=RealPlayer
Name[af]=RealPlayer
Name[ar]=RealPlayer
Name[as]=RealPlayer
Name[be]=RealPlayer
Name[be@latin]=RealPlayer
Name[bg]=RealPlayer
Name[bn]=রিয়েল-প্লেয়ার
Name[bn_IN]=RealPlayer
Name[br]=RealPlayer
Name[ca]=RealPlayer
Name[ca@valencia]=RealPlayer
Name[cs]=RealPlayer
Name[csb]=RealPlayer
Name[cy]=RealPlayer
Name[da]=RealPlayer
Name[de]=RealPlayer
Name[el]=RealPlayer
Name[en_GB]=RealPlayer
Name[eo]=RealPlayer
Name[es]=RealPlayer
Name[et]=RealPlayer
Name[eu]=RealPlayer
Name[fi]=RealPlayer
Name[fr]=RealPlayer
Name[fy]=RealPlayer
Name[ga]=RealPlayer
Name[gl]=RealPlayer
Name[gu]=રીઅલપ્લેયર
Name[he]=RealPlayer
Name[hi]=रीयल प्लेयर
Name[hne]=रीयल प्लेयर
Name[hr]=RealPlayer
Name[hsb]=RealPlayer
Name[hu]=RealPlayer
Name[is]=RealPlayer
Name[it]=RealPlayer
Name[ja]=RealPlayer
Name[ka]=RealPlayer
Name[kk]=RealPlayer
Name[km]=RealPlayer
Name[kn]=ರಿಯಲ್ ಪ್ಲೇಯರ್
Name[ko]=RealPlayer
Name[ku]=RealPlayer
Name[lt]=RealPlayer
Name[lv]=RealPlayer
Name[mai]=रीयल प्लेयर
Name[mk]=RealPlayer
Name[ml]=റിയല്‍പ്ലേയര്‍
Name[mr]=रीयल प्लेयर
Name[ms]=RealPlayer
Name[nb]=RealPlayer
Name[nds]=RealPlayer
Name[ne]=रियल प्लेयर
Name[nl]=RealPlayer
Name[nn]=RealPlayer
Name[oc]=RealPlayer
Name[or]=RealPlayer
Name[pa]=ਰੀਅਲ ਪਲੇਅਰ
Name[pl]=RealPlayer
Name[pt]=RealPlayer
Name[pt_BR]=RealPlayer
Name[ro]=RealPlayer
Name[ru]=RealPlayer
Name[se]=RealPlayer
Name[si]=RealPlayer
Name[sk]=RealPlayer
Name[sl]=RealPlayer
Name[sr]=Рилплејер
Name[sr@latin]=RealPlayer
Name[sv]=RealPlayer
Name[ta]=ரியல்ப்ளேயர்
Name[te]=రియల్ ప్లెయర్
Name[tg]=RealPlayer
Name[th]=RealPlayer
Name[tr]=RealPlayer
Name[uk]=RealPlayer
Name[uz]=RealPlayer
Name[uz@cyrillic]=RealPlayer
Name[vi]=RealPlayer
Name[wa]=RealPlayer
Name[xh]=RealPlayer
Name[x-test]=xxRealPlayerxx
Name[zh_CN]=RealPlayer
Name[zh_TW]=RealPlayer
Terminal=false
Type=Application


X-KDE-StartupNotify=false
X-KDE-Protocols=http

