[Desktop Entry]
Name=Slab
Name[af]=Slab
Name[ar]=Slab
Name[as]=Slab
Name[be]=Slab
Name[be@latin]=Slab
Name[bg]=Slab
Name[bn]=স্ল্যাব
Name[bn_IN]=Slab
Name[br]=Slab
Name[ca]=Slab
Name[ca@valencia]=Slab
Name[cs]=Slab
Name[csb]=Slab
Name[cy]=Slab
Name[da]=Slab
Name[de]=Slab
Name[el]=Slab
Name[en_GB]=Slab
Name[eo]=Slab
Name[es]=Slab
Name[et]=Slab
Name[eu]=Slab
Name[fi]=Slab
Name[fr]=Slab
Name[fy]=Slab
Name[ga]=Slab
Name[gl]=Slab
Name[gu]=સ્લાબ
Name[he]=Slab
Name[hi]=स्लैब
Name[hne]=स्लैब
Name[hr]=Slab
Name[hsb]=Slab
Name[hu]=Slab
Name[is]=Slab
Name[it]=Slab
Name[ja]=Slab
Name[ka]=Slab
Name[kk]=Slab
Name[km]=Slab
Name[kn]=ಸ್ಲಾಬ್
Name[ko]=Slab
Name[ku]=Slab
Name[lt]=Slab
Name[lv]=Slab
Name[mai]=स्लैब
Name[mk]=Slab
Name[ml]=സ്ലാബ്
Name[mr]=स्लैब
Name[ms]=Slab
Name[nb]=Slab
Name[nds]=Slab
Name[ne]=स्ल्याब
Name[nl]=Slab
Name[nn]=Slab
Name[or]=Slab
Name[pa]=Slab
Name[pl]=Slab
Name[pt]=Slab
Name[pt_BR]=Slab
Name[ro]=Slab
Name[ru]=Slab
Name[se]=Slab
Name[si]=Slab
Name[sk]=Slab
Name[sl]=Slab
Name[sr]=Слаб
Name[sr@latin]=Slab
Name[sv]=Slab
Name[ta]=ஸ்லாப்
Name[te]=స్లాబ్
Name[tg]=Slab
Name[th]=Slab
Name[tr]=Slab
Name[uk]=Slab
Name[uz]=Slab
Name[uz@cyrillic]=Slab
Name[vi]=Slab
Name[wa]=Slab
Name[xh]=Slab
Name[x-test]=xxSlabxx
Name[zh_CN]=Slab
Name[zh_TW]=Slab
GenericName=Audio Recorder
GenericName[af]=Klank Opnemer
GenericName[ar]=مسجل الصوت
GenericName[as]=Audio Recorder
GenericName[be]=Запіс гуку
GenericName[be@latin]=Prahrama dla zapisu huku
GenericName[bg]=Запис на звук
GenericName[bn]=অডিও রেকর্ডার
GenericName[bn_IN]=অডিও রেকর্ডার
GenericName[ca]=Enregistrador d'àudio
GenericName[ca@valencia]=Enregistrador d'àudio
GenericName[cs]=Zvukový rekordér
GenericName[csb]=Nagrëwôrz audio
GenericName[cy]=Recordydd Sain
GenericName[da]=Lydoptager
GenericName[de]=Audio-Wiedergabe
GenericName[el]=Εγγραφέας ήχου
GenericName[en_GB]=Audio Recorder
GenericName[eo]=Sonregistrilo
GenericName[es]=Grabador de audio
GenericName[et]=Helisalvestus
GenericName[eu]=Soinu grabatzailea
GenericName[fa]=ضبط‌کنندۀ صوتی
GenericName[fi]=Äänitysohjelma
GenericName[fr]=Enregistreur audio
GenericName[fy]=lûdsrekorder
GenericName[ga]=Taifeadán Fuaime
GenericName[gl]=Gravador de son
GenericName[gu]=ઓડિઓ રેકોર્ડર
GenericName[he]=רשמקול
GenericName[hi]=ऑडियो रेकॉर्डर
GenericName[hne]=आडियो रेकार्डर
GenericName[hr]=Snimač zvuka
GenericName[hsb]=Awdijowy nahrawak
GenericName[hu]=Hangrögzítő
GenericName[is]=Hljóðupptaka
GenericName[it]=Registratore audio
GenericName[ja]=オーディオレコーダー
GenericName[ka]=ხმის ჩამწერი
GenericName[kk]=Дыбыс жазушы
GenericName[km]=កម្មវិធី​ថត​អូឌីយ៉ូ
GenericName[kn]=ಧ್ವನಿ  ಗ್ರಾಹಕ
GenericName[ko]=소리 녹음기
GenericName[ku]=Tomarkerê Deng
GenericName[lt]=Audio įrašinėtojas
GenericName[lv]=Audio ierakstītājs
GenericName[mai]=आडियो रेकार्डर
GenericName[mk]=Аудиорекордер
GenericName[ml]=ശബ്ദലേഖകന്‍
GenericName[mr]=ऑडियो रेकॉर्डर
GenericName[ms]=Perakam Audio
GenericName[nb]=Lydopptaker
GenericName[nds]=Audio-Opnehmer
GenericName[ne]=अडियो रेकर्डर
GenericName[nl]=Geluidsrecorder
GenericName[nn]=Lydopptakar
GenericName[or]=ଧ୍ୱନି ଲେଖକ
GenericName[pa]=ਆਡੀਓ ਰਿਕਾਰਡਰ
GenericName[pl]=Nagrywarka audio
GenericName[pt]=Gravador de Áudio
GenericName[pt_BR]=Gravador de áudio
GenericName[ro]=Înregistrare audio
GenericName[ru]=Запись звука
GenericName[se]=Jietnabáddejeaddji
GenericName[si]=ශ්‍රව්‍ය පටිගත කිරීම්
GenericName[sk]=Nahrávanie zvukov
GenericName[sl]=Snemalnik zvoka
GenericName[sr]=Аудио рикордер
GenericName[sr@latin]=Audio rikorder
GenericName[sv]=Ljudinspelare
GenericName[ta]=ஒலிப்பதிவாளர்
GenericName[te]=శబ్దాలను రికార్డ్ చెసె కార్యక్రమం
GenericName[tg]=Сабти овоз
GenericName[th]=โปรแกรมอัดเสียง
GenericName[tr]=Ses Kaydedici
GenericName[uk]=Аудіозаписувач
GenericName[uz]=Audio yozuvchi
GenericName[uz@cyrillic]=Аудио ёзувчи
GenericName[vi]=Bộ thu âm
GenericName[wa]=Eredjistreu d' son
GenericName[xh]=Umxubi Wokuvakalayo
GenericName[x-test]=xxAudio Recorderxx
GenericName[zh_CN]=录音程序
GenericName[zh_TW]=錄音程式
Exec=slab
Terminal=false
Icon=xpm
Type=Application
