[Desktop Entry]
Name=Slab
Name[bn]=স্ল্যাব
Name[gu]=સ્લાબ
Name[hi]=स्लैब
Name[ml]=സ്ലാബ്
Name[ne]=स्ल्याब
Name[sr]=Слаб
Name[ta]=ஸ்லாப்
Name[te]=స్లాబ్
Name[x-test]=xxSlabxx
GenericName=Audio Recorder
GenericName[af]=Klank Opnemer
GenericName[ar]=مسجل الصوت
GenericName[be]=Запіс гуку
GenericName[bg]=Запис на звук
GenericName[bn]=অডিও রেকর্ডার
GenericName[ca]=Enregistrador d'àudio
GenericName[cs]=Zvukový rekordér
GenericName[csb]=Nagrëwôrz audio
GenericName[cy]=Recordydd Sain
GenericName[da]=Lydoptager
GenericName[de]=Audio-Wiedergabe
GenericName[el]=Εγγραφέας ήχου
GenericName[eo]=Sonregistrilo
GenericName[es]=Grabador de audio
GenericName[et]=Helisalvestus
GenericName[eu]=Soinu grabatzailea
GenericName[fa]=ضبط‌کنندۀ صوتی
GenericName[fi]=Äänitysohjelma
GenericName[fr]=Enregistreur audio
GenericName[fy]=lûdsrekorder
GenericName[ga]=Taifeadán Fuaime
GenericName[gl]=Gravador de son
GenericName[gu]=ઓડિઓ રેકોર્ડર
GenericName[he]=רשמקול
GenericName[hi]=ऑडियो रेकॉर्डर
GenericName[hr]=Snimač zvuka
GenericName[hu]=Hangrögzítő
GenericName[is]=Hljóðupptaka
GenericName[it]=Registratore audio
GenericName[ja]=オーディオレコーダ
GenericName[ka]=ხმის ჩამწერი
GenericName[kk]=Дыбыс жазушы
GenericName[km]=កម្មវិធី​ថត​អូឌីយ៉ូ
GenericName[ko]=소리 녹음기
GenericName[ku]=Tomarkerê Deng
GenericName[lt]=Audio įrašinėtojas
GenericName[lv]=Audio ierakstītājs
GenericName[mk]=Аудиорекордер
GenericName[ms]=Perakam Audio
GenericName[nb]=Lydopptaker
GenericName[nds]=Audio-Opnehmer
GenericName[ne]=अडियो रेकर्डर
GenericName[nl]=Geluidsrecorder
GenericName[nn]=Lydopptakar
GenericName[pa]=ਆਡੀਓ ਰਿਕਾਰਡਰ
GenericName[pl]=Nagrywarka audio
GenericName[pt]=Gravador de Áudio
GenericName[pt_BR]=Gravador de Áudio
GenericName[ro]=Înregistrare audio
GenericName[ru]=Запись звука
GenericName[se]=Jietnabáddejeaddji
GenericName[sk]=Nahrávanie zvukov
GenericName[sl]=Snemalnik zvoka
GenericName[sr]=Аудио рикордер
GenericName[sr@latin]=Audio rikorder
GenericName[sv]=Ljudinspelare
GenericName[ta]=ஒலிப்பதிவாளர்
GenericName[te]=శబ్దాలను రికార్డ్ చెసె కార్యక్రమం
GenericName[tg]=Сабти овоз
GenericName[th]=โปรแกรมอัดเสียง
GenericName[tr]=Ses Kaydedici
GenericName[uk]=Аудіозаписувач
GenericName[uz]=Audio yozuvchi
GenericName[uz@cyrillic]=Аудио ёзувчи
GenericName[vi]=Bộ thu âm
GenericName[wa]=Eredjistreu d' son
GenericName[x-test]=xxAudio Recorderxx
GenericName[xh]=Umxubi Wokuvakalayo
GenericName[zh_CN]=录音程序
GenericName[zh_TW]=錄音程式
Exec=slab
Terminal=false
Icon=xpm
Type=Application
