[Desktop Entry]
Encoding=UTF-8
Exec=vkeybd
Icon=
Name=vkeybd
GenericName=Virtual MIDI Keyboard
StartupNotify=false
Type=Application
Categories=Music;AudioVideo;
