[Desktop Entry]
Exec=vkeybd
Icon=
Name=vkeybd
Name[hi]=वीकीबोर्ड
Name[ml]=വികീബിഡി
Name[sr]=Вкибд
Name[sv]=Vkeybd
Name[x-test]=xxvkeybdxx
GenericName=Virtual MIDI Keyboard
GenericName[bg]=Виртуални MIDI клавиши
GenericName[ca]=Teclat virtual MIDI
GenericName[csb]=Wirtualnô klawiatura MIDI
GenericName[da]=Virtuelt MIDI-keyboard
GenericName[de]=Virtuelle MIDI-Klaviatur
GenericName[el]=Εικονικό πληκτρολόγιο MIDI
GenericName[eo]=Virtuala MIDI klavaro
GenericName[es]=Teclado MIDI virtual
GenericName[et]=Virtuaalne MIDI klaviatuur
GenericName[eu]=MIDI teklatu birtuala
GenericName[fi]=Virtuaalinen MIDI-koskettimisto
GenericName[fr]=Clavier virtuel MIDI
GenericName[fy]=Firtueel MIDI Keyboard
GenericName[ga]=Méarchlár Fíorúil MIDI
GenericName[gl]=Teclado MIDI virtual
GenericName[gu]=વર્ચ્યુઅલ મીડી કીબોર્ડ
GenericName[hi]=आभासी मिडी कुंजीपट
GenericName[hu]=Virtuális MIDI billentyűzet
GenericName[is]=Sýndar MIDI lyklaborð
GenericName[it]=Tastiera MIDI virtuale
GenericName[ja]=仮想 MIDI キーボード
GenericName[kk]=Виртуалды MIDI пернетақтасы
GenericName[km]=ក្ដារចុច​ MIDI និម្មិត
GenericName[ko]=가상 MIDI 키보드
GenericName[lt]=Virtuali MIDI klaviatūra
GenericName[lv]=Virtuāla MIDI klaviatūra
GenericName[nb]=Virtuelt MIDI-klaviatur
GenericName[nds]=Namaakt MIDI-Tastatuur
GenericName[ne]=वास्तविक मिडि किबोर्ड
GenericName[nl]=Virtueel MIDI-keyboard
GenericName[nn]=Virtuelt MIDI-klaviatur
GenericName[pa]=ਵੁਰਚੁਅਲ MIDI ਕੀਬੋਰਡ
GenericName[pl]=Wirtualna klawiatura MIDI
GenericName[pt]=Teclado MIDI Virtual
GenericName[pt_BR]=Teclado MIDI Virtual
GenericName[ro]=Tastatură MIDI virtuală
GenericName[se]=Virtuella MIDI-synta
GenericName[sl]=Navidezna klaviatura MIDI
GenericName[sr]=Виртуелна МИДИ тастатура
GenericName[sr@latin]=Virtuelna MIDI tastatura
GenericName[sv]=Virtuellt MIDI-keyboard
GenericName[tg]=Клавиатураи виртуалии MIDI
GenericName[th]=คีย์บอร์ด MIDI เสมือน
GenericName[tr]=Sanal MIDI Klavyesi
GenericName[uk]=Віртуальна клавіатура MIDI
GenericName[wa]=Forveyou piano MIDI
GenericName[x-test]=xxVirtual MIDI Keyboardxx
GenericName[zh_CN]=虚拟 MIDI 键盘
GenericName[zh_TW]=虛擬 MIDI 鍵盤
StartupNotify=false
Type=Application
Categories=Music;AudioVideo;
