[Desktop Entry]
Encoding=UTF-8
Exec=vkeybd
Icon=
Name=vkeybd
Name[sv]=Vkeybd
Name[x-test]=xxvkeybdxx
GenericName=Virtual MIDI Keyboard
GenericName[bg]=Виртуални MIDI клавиши
GenericName[de]=Virtuelle MIDI-Klaviatur
GenericName[el]=Εικονικό πληκτρολόγιο MIDI
GenericName[es]=Teclado MIDI virtual
GenericName[et]=Virtuaalne MIDI klaviatuur
GenericName[ga]=Méarchlár Fíorúil MIDI
GenericName[hu]=Virtuális MIDI billentyűzet
GenericName[it]=Tastiera MIDI virtuale
GenericName[ja]=仮想 MIDI キーボード
GenericName[kk]=Виртуалды MIDI пернетақтасы
GenericName[km]=ក្ដារចុច​ MIDI និម្មិត
GenericName[ko]=가상 MIDI 키보드
GenericName[lt]=Virtuali MIDI klaviatūra
GenericName[nb]=Virtuelt MIDI-klaviatur
GenericName[nds]=Namaakt MIDI-Tastatuur
GenericName[ne]=वास्तविक मिडि किबोर्ड
GenericName[nl]=Virtueel MIDI-keyboard
GenericName[nn]=Virtuelt MIDI-klaviatur
GenericName[pt]=Teclado MIDI Virtual
GenericName[pt_BR]=Teclado MIDI Virtual
GenericName[sl]=Navidezna klaviatura MIDI
GenericName[sv]=Virtuellt MIDI-keyboard
GenericName[th]=คีย์บอร์ด MIDI เสมือน
GenericName[x-test]=xxVirtual MIDI Keyboardxx
GenericName[zh_CN]=虚拟 MIDI 键盘
GenericName[zh_TW]=虛擬 MIDI 鍵盤
StartupNotify=false
Type=Application
Categories=Music;AudioVideo;
