[Desktop Entry]
GenericName=Watch TV!
GenericName[af]=Kyk TV!
GenericName[ar]=شاهد التلفاز !
GenericName[as]=TV চাওক!
GenericName[be]=Глядзі ТБ!
GenericName[be@latin]=Prahrama dla prahladu televizii
GenericName[bg]=Телевизия
GenericName[bn]=টিভি দেখুন!
GenericName[bn_IN]=TV দেখুন!
GenericName[br]=Sell ouzh ar skinwell !
GenericName[ca]=Veure la TV!
GenericName[ca@valencia]=Vore la TV!
GenericName[cs]=Sledujte televizi!
GenericName[csb]=Òbzéranié TV!
GenericName[cy]=Gwyliwch Teledu! 
GenericName[da]=Se tv!
GenericName[de]=Fernsehen mit dem Computer
GenericName[el]=Δείτε TV!
GenericName[en_GB]=Watch TV!
GenericName[eo]=Televidprogramo!
GenericName[es]=¡Vea la televisión!
GenericName[et]=Televiisor!
GenericName[eu]=Ikusi telebista!
GenericName[fa]=تماشای تلویزیون!
GenericName[fi]=Katso televisiota!
GenericName[fr]=Regardez la télévision !
GenericName[fy]=TV sjen!
GenericName[ga]=Féach ar an teilifís!
GenericName[gl]=Ver a TV!
GenericName[gu]=ટીવી જુઓ!
GenericName[he]=צפייה בטלוויזיה
GenericName[hi]=टीवी देखें!
GenericName[hne]=टीवी देखव!
GenericName[hr]=Watch TV!
GenericName[hsb]=Watch TV!
GenericName[hu]=Tv-néző
GenericName[is]=Horfðu á sjónvarp!
GenericName[it]=Guarda la TV!
GenericName[ja]=テレビを見る
GenericName[ka]=Watch TV!
GenericName[kk]=Watch TV!
GenericName[km]=មើល​ទូរទស្សន៍ !
GenericName[kn]=ವಾಚ್ ಟಿವಿ!
GenericName[ko]=TV를 보자!
GenericName[ku]=Li TV'ê Temaşe Bike
GenericName[lt]=Watch TV!
GenericName[lv]=Skaties TV!
GenericName[mai]=टीवी देखू!
GenericName[mk]=Гледајте телевизија!
GenericName[ml]=ടിവി കാണുക!
GenericName[mr]=टीवी पहा!
GenericName[ms]=Tonton TV!
GenericName[nb]=Se TV!
GenericName[nds]=Kiek feern!
GenericName[ne]=टीभी हेर्नुहोस् !
GenericName[nl]=TV kijken!
GenericName[nn]=Sjå TV!
GenericName[or]=TV ଦେଖନ୍ତୁ!
GenericName[pa]=TV ਵੇਖੋ!
GenericName[pl]=Oglądanie TV!
GenericName[pt]=Veja Televisão!
GenericName[pt_BR]=Assista TV!
GenericName[ro]=Vizionează TV!
GenericName[ru]=Просмотр TV
GenericName[se]=Geahčča TV!
GenericName[si]=Watch TV!
GenericName[sk]=Pozerajte sa na TV!
GenericName[sl]=Glejte televizijo!
GenericName[sr]=Гледајте телевизију!
GenericName[sr@latin]=Gledajte televiziju!
GenericName[sv]=Titta på TV
GenericName[ta]=தொலைக்காட்சி பார்!
GenericName[te]=టివి చూడండి!
GenericName[tg]=Телевизор
GenericName[th]=Watch TV!
GenericName[tr]=TV İzle!
GenericName[uk]=Дивитися ТБ!
GenericName[uz]=TV koʻrish
GenericName[uz@cyrillic]=ТВ кўриш
GenericName[vi]=Xem TV!
GenericName[wa]=Waitîz l' televuzion so vosse copiutrece
GenericName[xh]=Bukela Umabona-kude!
GenericName[x-test]=xxWatch TV!xx
GenericName[zh_CN]=看电视！
GenericName[zh_TW]=看電視！
Exec=xawtv
Icon=xawtv
Name=XawTV
Name[af]=XawTV
Name[ar]=XawTV
Name[as]=XawTV
Name[be]=XawTV
Name[be@latin]=XawTV
Name[bg]=XawTV
Name[bn]=XawTV
Name[bn_IN]=XawTV
Name[br]=XawTV
Name[ca]=XawTV
Name[ca@valencia]=XawTV
Name[cs]=XawTV
Name[csb]=XawTV
Name[cy]=XawTV
Name[da]=XawTV
Name[de]=XawTV
Name[el]=XawTV
Name[en_GB]=XawTV
Name[eo]=XawTV
Name[es]=XawTV
Name[et]=XawTV
Name[eu]=XawTV
Name[fi]=XawTV
Name[fr]=XawTV
Name[fy]=XawTV
Name[ga]=XawTV
Name[gl]=XawTV
Name[gu]=XawTV
Name[he]=XawTV
Name[hi]=एक्सॉ-टीवी
Name[hne]=एक्सा-टीवी
Name[hr]=XawTV
Name[hsb]=XawTV
Name[hu]=XawTV
Name[is]=XawTV
Name[it]=XawTV
Name[ja]=XawTV
Name[ka]=XawTV
Name[kk]=XawTV
Name[km]=XawTV
Name[kn]=ಕ್ಸಟಿವಿ
Name[ko]=XawTV
Name[ku]=XawTV
Name[lt]=XawTV
Name[lv]=XawTV
Name[mai]=एक्सा-टीवी
Name[mk]=XawTV
Name[ml]=സോടിവി
Name[mr]=एक्सॉ-टीवी
Name[ms]=XawTV
Name[nb]=XawTV
Name[nds]=XawTV
Name[ne]=Xaw टी भी
Name[nl]=XawTV
Name[nn]=XawTV
Name[oc]=XawTV
Name[or]=XawTV
Name[pa]=XawTV
Name[pl]=XawTV
Name[pt]=XawTV
Name[pt_BR]=XawTV
Name[ro]=XawTV
Name[ru]=XawTV
Name[se]=XawTV
Name[si]=XawTV
Name[sk]=XawTV
Name[sl]=XawTV
Name[sr]=КсавТВ
Name[sr@latin]=XawTV
Name[sv]=XawTV
Name[ta]=Xawடிவி
Name[te]=గ్జాటివి
Name[tg]=XawTV
Name[th]=XawTV
Name[tr]=XawXV
Name[uk]=XawXV
Name[uz]=XawTV
Name[uz@cyrillic]=XawTV
Name[vi]=XawTV
Name[wa]=XawTV
Name[xh]=XawTV
Name[x-test]=xxXawTVxx
Name[zh_CN]=XawTV
Name[zh_TW]=XawTV
Terminal=false
Type=Application
