[Desktop Entry]
GenericName=Watch TV!
GenericName[af]=Kyk TV!
GenericName[ar]=شاهد التلفاز !
GenericName[be]=Глядзі ТБ!
GenericName[bg]=Телевизия
GenericName[bn]=টিভি দেখুন!
GenericName[br]=Sell ouzh ar skinwell !
GenericName[ca]=Veure la TV!
GenericName[cs]=Sledujte televizi!
GenericName[csb]=Òbzéranié TV!
GenericName[cy]=Gwyliwch Teledu! 
GenericName[da]=Se tv!
GenericName[de]=Fernsehen mit dem Computer
GenericName[el]=Δείτε TV!
GenericName[es]=¡Vea la televisión!
GenericName[et]=Televiisor!
GenericName[eu]=Ikusi telebista!
GenericName[fa]=تماشای تلویزیون!
GenericName[fi]=Katso televisiota!
GenericName[fr]=Regardez la télévision !
GenericName[fy]=TV sjen!
GenericName[ga]=Féach ar an teilifís!
GenericName[gl]=Ver a TV!
GenericName[he]=צפייה בטלוויזיה
GenericName[hi]=टीवी देखें!
GenericName[hu]=TV-néző
GenericName[is]=Horfðu á sjónvarp!
GenericName[it]=Guarda la TV!
GenericName[ja]=テレビを見る
GenericName[kk]=Теледидар
GenericName[km]=មើល​ទូរទស្សន៍ !
GenericName[ko]=TV를 보자!
GenericName[ku]=Li TV'ê Temaşe Bike
GenericName[lv]=Skaties TV!
GenericName[mk]=Гледајте телевизија!
GenericName[ms]=Tonton TV!
GenericName[nb]=Se TV!
GenericName[nds]=Kiek feern!
GenericName[ne]=टीभी हेर्नुहोस् !
GenericName[nl]=TV kijken
GenericName[nn]=Sjå TV!
GenericName[pa]=TV ਵੇਖੋ!
GenericName[pl]=Oglądanie TV!
GenericName[pt]=Veja Televisão!
GenericName[pt_BR]=Assista TV!
GenericName[ro]=Vizionează TV!
GenericName[ru]=Телевизор
GenericName[se]=Geahčča TV!
GenericName[sk]=Pozerajte sa na TV!
GenericName[sl]=Glejte televizijo!
GenericName[sr]=Гледајте телевизију!
GenericName[sr@latin]=Gledajte televiziju!
GenericName[sv]=Titta på TV
GenericName[ta]=தொலைக்காட்சியை கவனி!
GenericName[te]=టివి చూడండి!
GenericName[tg]=Телевизор
GenericName[tr]=TV İzle!
GenericName[uk]=Дивитися ТБ!
GenericName[uz]=ТВ кўриш
GenericName[vi]=Xem TV!
GenericName[wa]=Waitîz l' televuzion so vosse copiutrece
GenericName[x-test]=xxWatch TV!xx
GenericName[xh]=Bukela Umabona-kude!
GenericName[zh_CN]=看电视！
GenericName[zh_TW]=看電視！
Exec=xawtv
Icon=xawtv
Name=XawTV
Name[hi]=एक्सॉ-टीवी
Name[ne]=Xaw टी भी
Name[sr]=КсавТВ
Name[ta]=Xawடிவி
Name[te]=గ్జాటివి
Name[tr]=XawXV
Name[uk]=XawXV
Name[x-test]=xxXawTVxx
Terminal=false
Type=Application
