[Desktop Entry]
Encoding=UTF-8
Name=XCam
Name[eo]=X-Fotilo
Name[ne]=X क्याम
Name[sv]=Xcam
Name[te]=ఎక్స్ కెమ్
Name[x-test]=xxXCamxx
GenericName=Camera Program
GenericName[af]=Kamera Program
GenericName[ar]=برنامج الكاميرا
GenericName[be]=Праграма працы з камерай
GenericName[bg]=Програма за фотоапарати
GenericName[br]=Goulev kamera
GenericName[ca]=Un programa per a càmeres
GenericName[cs]=Kamera
GenericName[csb]=Programa dlô kamerë
GenericName[cy]=Rhaglen Camera
GenericName[da]=Kameraprogram
GenericName[de]=Kameraprogramm
GenericName[el]=Πρόγραμμα για κάμερες
GenericName[eo]=Fotilo-programo
GenericName[es]=Programa de cámara
GenericName[et]=Kaamera rakendus
GenericName[eu]=Kamara programa
GenericName[fa]=برنامۀ دوربین
GenericName[fi]=Kameraohjelma
GenericName[fr]=Logiciel pour les caméras
GenericName[fy]=Kameraprogramma
GenericName[ga]=Clár Ceamara
GenericName[gl]=Programa de Cámara
GenericName[he]=תוכנית מצלמה
GenericName[hr]=Program za kameru
GenericName[hu]=Videokamera-kezelő
GenericName[is]=Myndavélaforrit
GenericName[it]=Programma per macchine fotografiche
GenericName[ja]=カメラプログラム
GenericName[ka]=კამერის პროგრამა
GenericName[kk]=Фотокамера
GenericName[km]=កម្មវិធី​ម៉ាស៊ីន​ថត
GenericName[ko]=카메라 프로그램
GenericName[lt]=Kameros valdymo programa
GenericName[lv]=Kameras Programma
GenericName[mk]=Програма за камери
GenericName[ms]=Program Kamera
GenericName[nb]=Kameraprogram
GenericName[nds]=Kameraprogramm
GenericName[ne]=क्यामेरा कार्यक्रम
GenericName[nl]=Cameraprogramma
GenericName[nn]=Kameraprogram
GenericName[pa]=ਕੈਮਰਾ ਕਾਰਜ
GenericName[pl]=Program do obsługi kamery
GenericName[pt]=Programa de Câmaras
GenericName[pt_BR]=Programa para Câmera
GenericName[ro]=Program pentru WebCam
GenericName[ru]=Камера
GenericName[se]=Govvenaperáhttaprográmma
GenericName[sl]=Program za kamero
GenericName[sr]=Програм за камеру
GenericName[sr@latin]=Program za kameru
GenericName[sv]=Kameraprogram
GenericName[ta]=காமிரா நிரலி
GenericName[te]=కెమెరా కార్యక్రమం
GenericName[tg]=Камера
GenericName[th]=โปรแกรมกล้อง
GenericName[tr]=Kamera Programı
GenericName[uk]=Програма фотоапарата
GenericName[uz]=Фотоапарат учун дастур
GenericName[vi]=Chương trình máy ảnh
GenericName[x-test]=xxCamera Programxx
GenericName[xh]=Inkqubo yeKhamera
GenericName[zh_CN]=摄像头程序
GenericName[zh_TW]=Camera 程式
Exec=xcam
Terminal=false
Type=Application
