[Desktop Entry]
Name=XCam
Name[af]=XCam
Name[ar]=XCam
Name[as]=XCam
Name[be]=XCam
Name[be@latin]=XCam
Name[bg]=XCam
Name[bn]=এক্স-ক্যাম
Name[bn_IN]=XCam
Name[br]=XCam
Name[ca]=XCam
Name[ca@valencia]=XCam
Name[cs]=XCam
Name[csb]=XCam
Name[cy]=XCam
Name[da]=XCam
Name[de]=XCam
Name[el]=XCam
Name[en_GB]=XCam
Name[eo]=XCam
Name[es]=XCam
Name[et]=XCam
Name[eu]=XCam
Name[fi]=XCam
Name[fr]=XCam
Name[fy]=XCam
Name[ga]=XCam
Name[gl]=XCam
Name[gu]=XCam
Name[he]=XCam
Name[hi]=एक्सकैम
Name[hne]=एक्सकैम
Name[hr]=XCam
Name[hsb]=XCam
Name[hu]=XCam
Name[is]=XCam
Name[it]=XCam
Name[ja]=XCam
Name[ka]=XCam
Name[kk]=XCam
Name[km]=XCam
Name[kn]=ಕ್ಸಕ್ಯಾಮ್
Name[ko]=XCam
Name[ku]=XCam
Name[lt]=XCam
Name[lv]=XCam
Name[mai]=एक्सकैम
Name[mk]=XCam
Name[ml]=എക്സ്കാം
Name[mr]=एक्सकैम
Name[ms]=XCam
Name[nb]=XCam
Name[nds]=XCam
Name[ne]=X क्याम
Name[nl]=XCam
Name[nn]=XCam
Name[oc]=XCam
Name[or]=XCam
Name[pa]=XCam
Name[pl]=XCam
Name[pt]=XCam
Name[pt_BR]=XCam
Name[ro]=XCam
Name[ru]=XCam
Name[se]=XCam
Name[si]=XCam
Name[sk]=XCam
Name[sl]=XCam
Name[sr]=Икс‑камера
Name[sr@latin]=X‑kamera
Name[sv]=Xcam
Name[ta]=XCam
Name[te]=ఎక్స్ కెమ్
Name[tg]=XCam
Name[th]=XCam
Name[tr]=XCam
Name[uk]=XCam
Name[uz]=XCam
Name[uz@cyrillic]=XCam
Name[vi]=XCam
Name[wa]=XCam
Name[xh]=XCam
Name[x-test]=xxXCamxx
Name[zh_CN]=XCam
Name[zh_TW]=XCam
GenericName=Camera Program
GenericName[af]=Kamera Program
GenericName[ar]=برنامج الكاميرا
GenericName[as]=কেমেৰাৰ অনুপ্ৰয়োগ
GenericName[be]=Праграма працы з камерай
GenericName[be@latin]=Prahrama, jakaja absłuhoŭvaje ličbavyja kamery
GenericName[bg]=Програма за фотоапарати
GenericName[bn]=ক্যামেরা প্রোগ্রাম
GenericName[bn_IN]=ক্যামেরা প্রোগ্রাম
GenericName[br]=Goulev kamera
GenericName[ca]=Un programa per a càmeres
GenericName[ca@valencia]=Un programa per a càmeres
GenericName[cs]=Kamera
GenericName[csb]=Programa dlô kamerë
GenericName[cy]=Rhaglen Camera
GenericName[da]=Kameraprogram
GenericName[de]=Kameraprogramm
GenericName[el]=Πρόγραμμα για κάμερες
GenericName[en_GB]=Camera Program
GenericName[eo]=Fotilo-programo
GenericName[es]=Programa de cámara
GenericName[et]=Kaamera rakendus
GenericName[eu]=Kamara programa
GenericName[fa]=برنامۀ دوربین
GenericName[fi]=Kameraohjelma
GenericName[fr]=Logiciel pour les appareils photo
GenericName[fy]=Kameraprogramma
GenericName[ga]=Clár Ceamara
GenericName[gl]=Programa de cámara
GenericName[gu]=કેમેરા કાર્યક્રમ
GenericName[he]=תוכנית מצלמה
GenericName[hi]=कैमरा प्रोग्राम
GenericName[hne]=कैमरा प्रोग्राम
GenericName[hr]=Program za kameru
GenericName[hsb]=Kamerowy program
GenericName[hu]=Videokamera-kezelő
GenericName[is]=Myndavélaforrit
GenericName[it]=Programma per macchine fotografiche
GenericName[ja]=カメラプログラム
GenericName[ka]=კამერის პროგრამა
GenericName[kk]=Фотокамера
GenericName[km]=កម្មវិធី​ម៉ាស៊ីន​ថត
GenericName[kn]=ಚಿತ್ರಗ್ರಾಹಿ ಕ್ರಮವಿಧಿ (ಕ್ಯಾಮೆರಾ ಪ್ರೋಗ್ರಾಂ)
GenericName[ko]=카메라 프로그램
GenericName[ku]=Bernameya Kamerayê
GenericName[lt]=Kameros programa
GenericName[lv]=Kameras programma
GenericName[mai]=कैमरा प्रोग्राम
GenericName[mk]=Програма за камери
GenericName[ml]=ഡിജിറ്റല്‍ ക്യാമറയ്ക്കുള്ള പ്രോഗ്രാം
GenericName[mr]=कॅमेरा प्रोग्राम
GenericName[ms]=Program Kamera
GenericName[nb]=Kameraprogram
GenericName[nds]=Kameraprogramm
GenericName[ne]=क्यामेरा कार्यक्रम
GenericName[nl]=Cameraprogramma
GenericName[nn]=Kameraprogram
GenericName[or]=କ୍ୟାମେରା ପ୍ରଗ୍ରାମ
GenericName[pa]=ਕੈਮਰਾ ਪਰੋਗਰਾਮ
GenericName[pl]=Program do obsługi kamery
GenericName[pt]=Programa de Câmaras
GenericName[pt_BR]=Programa para câmera
GenericName[ro]=Program pentru WebCam
GenericName[ru]=Программа для работы с камерой
GenericName[se]=Govvenaperáhttaprográmma
GenericName[si]=කැමරා වැඩසටහන
GenericName[sk]=Kamera
GenericName[sl]=Program za fotoaparat
GenericName[sr]=Програм за камеру
GenericName[sr@latin]=Program za kameru
GenericName[sv]=Kameraprogram
GenericName[ta]=பதிவொலி நிரல்
GenericName[te]=కెమెరా కార్యక్రమం
GenericName[tg]=Барномаи камера
GenericName[th]=โปรแกรมกล้อง
GenericName[tr]=Kamera Programı
GenericName[uk]=Програма фотоапарата
GenericName[uz]=Fotoaparat uchun dastur
GenericName[uz@cyrillic]=Фотоапарат учун дастур
GenericName[vi]=Chương trình máy ảnh
GenericName[wa]=Programe d' aparey foto
GenericName[xh]=Inkqubo yeKhamera
GenericName[x-test]=xxCamera Programxx
GenericName[zh_CN]=摄像头程序
GenericName[zh_TW]=Camera 程式
Exec=xcam
Terminal=false
Type=Application
