[Desktop Entry]
GenericName=Video Player
GenericName[af]=Video Speler
GenericName[ar]=مشغل الفيديو
GenericName[as]=Video Player
GenericName[be]=Відэапрайгравальнік
GenericName[be@latin]=Prajhravańnik videa
GenericName[bg]=Видео плеър
GenericName[bn]=ভিডিও প্রদর্শক
GenericName[bn_IN]=ভিডিও বাদন
GenericName[br]=Ur soner Video
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[csb]=Grôcz Video
GenericName[cy]=Chwaraewr Fideo
GenericName[da]=Videoafspiller
GenericName[de]=Ein Abspielprogramm für Videos
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[eo]=Legilo por videofilmoj
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیو
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[fy]=Fideospiler
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[gu]=વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו
GenericName[hi]=वीडियो प्लेयर
GenericName[hne]=वीडियो प्लेयर
GenericName[hr]=Video program
GenericName[hsb]=Widejowy wothrawak
GenericName[hu]=Videólejátszó
GenericName[is]=Forrit til að spila kvikmyndir
GenericName[it]=Lettore di video
GenericName[ja]=動画プレーヤー
GenericName[ka]=Видео Player
GenericName[kk]=Бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyan
GenericName[lt]=Vaizdo grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[mk]=Видеоплеер
GenericName[ml]=ചലച്ചിത്രദര്‍ശിനി
GenericName[mr]=वीडियो प्लेयर
GenericName[ms]=Pemain Video
GenericName[nb]=Videospiller
GenericName[nds]=Video-Afspeler
GenericName[ne]=भिडियो प्लेयर
GenericName[nl]=Videospeler
GenericName[nn]=Videospelar
GenericName[oc]=Video Player
GenericName[or]=ଭିଡ଼ଓ ଚାଳକ
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz Video
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Проигрыватель видео
GenericName[se]=Videočuojan
GenericName[si]=දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Filmspelare
GenericName[ta]=பதிவொலி சாதனம்
GenericName[te]=విడియొ ప్లెయర్
GenericName[tg]=Плеери видео
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів
GenericName[uz]=Video pleyer
GenericName[uz@cyrillic]=Видео плейер
GenericName[vi]=Bộ phát ảnh động
GenericName[wa]=Djouweu di fitchîs videyo
GenericName[xh]=Umdlali we Video
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=視像檔播放程式
Exec=xine %f
Icon=video
MimeType=video/mpeg;video/quicktime;video/x-flic;video/x-msvideo;video/x-ogm+ogg;video/x-theora+ogg;video/mp4;
Name=Xine
Name[af]=Xine
Name[ar]=Xine
Name[as]=Xine
Name[be]=Xine
Name[be@latin]=Xine
Name[bg]=Xine
Name[bn]=Xine
Name[bn_IN]=Xine
Name[br]=Xine
Name[ca]=Xine
Name[ca@valencia]=Xine
Name[cs]=Xine
Name[csb]=Xine
Name[cy]=Xine
Name[da]=Xine
Name[de]=Xine
Name[el]=Xine
Name[en_GB]=Xine
Name[eo]=Xine
Name[es]=Xine
Name[et]=Xine
Name[eu]=Xine
Name[fi]=Xine
Name[fr]=Xine
Name[fy]=Xine
Name[ga]=Xine
Name[gl]=Xine
Name[gu]=Xine
Name[he]=Xine
Name[hi]=एक्साइन
Name[hne]=एक्साइन
Name[hr]=Xine
Name[hsb]=Xine
Name[hu]=Xine
Name[is]=Xine
Name[it]=Xine
Name[ja]=Xine
Name[ka]=Xine
Name[kk]=Xine
Name[km]=Xine
Name[kn]=ಕ್ಸೈನ್
Name[ko]=Xine
Name[ku]=Xine
Name[lt]=Xine
Name[lv]=Xine
Name[mai]=एक्साइन
Name[mk]=Xine
Name[ml]=സൈന്‍
Name[mr]=एक्साइन
Name[ms]=Xine
Name[nb]=Xine
Name[nds]=Xine
Name[ne]=जाइन
Name[nl]=Xine
Name[nn]=Xine
Name[oc]=Xine
Name[or]=Xine
Name[pa]=Xine
Name[pl]=Xine
Name[pt]=Xine
Name[pt_BR]=Xine
Name[ro]=Xine
Name[ru]=Xine
Name[se]=Xine
Name[si]=Xine
Name[sk]=Xine
Name[sl]=Xine
Name[sr]=Ксине
Name[sr@latin]=Xine
Name[sv]=Xine
Name[ta]=சைன்
Name[te]=క్సైన్
Name[tg]=Xine
Name[th]=Xine
Name[tr]=Xine
Name[uk]=Xine
Name[uz]=Xine
Name[uz@cyrillic]=Xine
Name[vi]=Xine
Name[wa]=Xine
Name[xh]=Xine
Name[x-test]=xxXinexx
Name[zh_CN]=Xine
Name[zh_TW]=Xine
X-KDE-ServiceTypes=
Type=Application

