[Desktop Entry]
GenericName=Multimedia Player
GenericName[af]=Multimedia Speler
GenericName[ar]=مشغل الوسائط المتعددة
GenericName[as]=Multimedia Player
GenericName[be]=Мультымедыйны прайгравальнік
GenericName[be@latin]=Prajravańnik dla multymedyjaŭ
GenericName[bg]=Мултимедиен плеър
GenericName[bn]=মাল্টিমিডিয়া প্লেয়ার
GenericName[bn_IN]=মাল্টি-মিডিয়া প্লেয়ার
GenericName[br]=Ur c'hoarier liesvedia
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Přehrávač multimédií
GenericName[csb]=Mùltimedialny grôcz
GenericName[cy]=Chwaraewr Amlgyfrwng
GenericName[da]=Multimedieafspiller
GenericName[de]=Multimediawiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[en_GB]=Multimedia Player
GenericName[eo]=Aŭdvida legilo
GenericName[es]=Reproductor multimedia
GenericName[et]=Multimeedia mängija
GenericName[eu]=Multimedia erreproduzigailua
GenericName[fa]=پخش‌کنندۀ چند رسانه‌ای
GenericName[fi]=Multimediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[fy]=Multimediaspiler
GenericName[ga]=Seinnteoir Ilmheán
GenericName[gl]=Reprodutor multimedia
GenericName[gu]=મલ્ટિમીડિઆ પ્લેયર
GenericName[he]=נגן מולטימדיה
GenericName[hi]=मल्टीमीडिया प्लेयर
GenericName[hne]=मल्टीमीडिया प्लेयर
GenericName[hr]=Multimedijski program
GenericName[hsb]=Multimedijowy wothrawak
GenericName[hu]=Médialejátszó
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[ka]=მულტიმედია ცენტრი
GenericName[kk]=Мультимедиа плейері
GenericName[km]=កម្មវិធី​ចាក់​ពហុព័ត៌មាន​
GenericName[kn]=ಬಹುಮಾಧ್ಯಮ ನಿರೂಪಕ
GenericName[ko]=멀티미디어 재생기
GenericName[ku]=Lêdera Multîmedyayê
GenericName[lt]=Multimedijos grotuvas
GenericName[lv]=Multivides atskaņotājs
GenericName[mai]=मल्टीमीडिया प्लेयर
GenericName[mk]=Мултимедија-плеер
GenericName[ml]=മള്‍ട്ടിമീഡിയ പ്ലെയര്‍
GenericName[mr]=मल्टीमीडिया प्लेयर
GenericName[ms]=Pemain Multimedia
GenericName[nb]=Multimediespiller
GenericName[nds]=Multimedia-Afspeler
GenericName[ne]=मल्टिमिडिया प्लेयर
GenericName[nl]=Multimediaspeler
GenericName[nn]=Multimediespelar
GenericName[or]=ବହୁମାଧ୍ଯମ ଚାଳକ
GenericName[pa]=ਮਲਟੀਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor multimídia
GenericName[ro]=Player multimedia
GenericName[ru]=Мультимедийный проигрыватель
GenericName[se]=Multimediačuojan
GenericName[si]=බහුමාධ්‍ය වාදකය
GenericName[sk]=Multimediálny prehrávač
GenericName[sl]=Večpredstavnostni predvajalnik
GenericName[sr]=Мултимедијални плејер
GenericName[sr@latin]=Multimedijalni plejer
GenericName[sv]=Multimediaspelare
GenericName[ta]=பல்ஊடக இயக்கி
GenericName[te]=బహుళమాధ్యమ ప్లేయర్
GenericName[tg]=Плеери мултимедиа
GenericName[th]=โปรแกรมเล่นมัลติมีเดีย
GenericName[tr]=Çoklu Ortam Yürütücüsü
GenericName[uk]=Програвач файлів мультимедіа
GenericName[uz]=Multimedia pleyer
GenericName[uz@cyrillic]=Мултимедиа плейер
GenericName[vi]=Bộ phát nhạc/ảnh
GenericName[wa]=Djouweu multimedia
GenericName[xh]=Umdlali we Multimedia
GenericName[x-test]=xxMultimedia Playerxx
GenericName[zh_CN]=多媒体播放器
GenericName[zh_TW]=多媒體播放程式
Exec=xmms %U
Icon=xmms
MimeType=audio/mpeg;audio/x-mod;audio/x-wav;audio/x-flac;audio/x-mpegurl;audio/x-scpls;audio/x-vorbis+ogg;
Name=XMMS
Name[af]=XMMS
Name[ar]=XMMS
Name[as]=XMMS
Name[be]=XMMS
Name[be@latin]=XMMS
Name[bg]=XMMS
Name[bn]=XMMS
Name[bn_IN]=XMMS
Name[br]=XMMS
Name[ca]=XMMS
Name[ca@valencia]=XMMS
Name[cs]=XMMS
Name[csb]=XMMS
Name[cy]=XMMS
Name[da]=XMMS
Name[de]=XMMS
Name[el]=XMMS
Name[en_GB]=XMMS
Name[eo]=XMMS
Name[es]=XMMS
Name[et]=XMMS
Name[eu]=XMMS
Name[fi]=XMMS
Name[fr]=XMMS
Name[fy]=XMMS
Name[ga]=XMMS
Name[gl]=XMMS
Name[gu]=XMMS
Name[he]=XMMS
Name[hi]=एक्सएमएमएस
Name[hne]=एक्सएमएमएस
Name[hr]=XMMS
Name[hsb]=XMMS
Name[hu]=XMMS
Name[is]=XMMS
Name[it]=XMMS
Name[ja]=XMMS
Name[ka]=XMMS
Name[kk]=XMMS
Name[km]=XMMS
Name[kn]=ಕ್ಸಮಮಸ
Name[ko]=XMMS
Name[ku]=XMMS
Name[lt]=XMMS
Name[lv]=XMMS
Name[mai]=एक्सएमएमएस
Name[mk]=XMMS
Name[ml]=XMMS
Name[mr]=XMMS
Name[ms]=XMMS
Name[nb]=XMMS
Name[nds]=XMMS
Name[ne]=XMMS
Name[nl]=XMMS
Name[nn]=XMMS
Name[or]=XMMS
Name[pa]=XMMS
Name[pl]=XMMS
Name[pt]=XMMS
Name[pt_BR]=XMMS
Name[ro]=XMMS
Name[ru]=XMMS
Name[se]=XMMS
Name[si]=XMMS
Name[sk]=XMMS
Name[sl]=XMMS
Name[sr]=ИксММС
Name[sr@latin]=XMMS
Name[sv]=XMMS
Name[ta]=XMMS
Name[te]=ఎక్స్ ఎం ఎం ఎస్
Name[tg]=XMMS
Name[th]=XMMS
Name[tr]=XMMS
Name[uk]=XMMS
Name[uz]=XMMS
Name[uz@cyrillic]=XMMS
Name[vi]=XMMS
Name[wa]=XMMS
Name[xh]=XMMS
Name[x-test]=xxXMMSxx
Name[zh_CN]=XMMS
Name[zh_TW]=XMMS
Terminal=false
Type=Application
X-KDE-StartupNotify=false
X-KDE-Protocols=http
X-DBUS-StartupType=None
