[Desktop Entry]
GenericName=Multimedia Player
GenericName[af]=Multimedia Speler
GenericName[ar]=قارئ الوسائط المتعددة
GenericName[be]=Мультымедыйны прайгравальнік
GenericName[bg]=Мултимедиен плеър
GenericName[bn]=মাল্টিমিডিয়া প্লেয়ার
GenericName[bn_IN]=মাল্টি-মিডিয়া প্লেয়ার
GenericName[br]=Ur c'hoarier liesvedia
GenericName[ca]=Reproductor multimèdia
GenericName[cs]=Přehrávač multimédií
GenericName[csb]=Mùltimedialny grôcz
GenericName[cy]=Chwaraewr Amlgyfrwng
GenericName[da]=Multimedieafspiller
GenericName[de]=Multimediawiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[eo]=Aŭdvida legilo
GenericName[es]=Reproductor multimedia
GenericName[et]=Multimeedia mängija
GenericName[eu]=Multimedia erreproduzigailua
GenericName[fa]=پخش‌کنندۀ چند رسانه‌ای
GenericName[fi]=Multimediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[fy]=Multimediaspiler
GenericName[ga]=Seinnteoir Ilmheán
GenericName[gl]=Reprodutor multimedia
GenericName[gu]=મલ્ટિમીડિઆ પ્લેયર
GenericName[he]=נגן מולטימדיה
GenericName[hi]=मल्टीमीडिया प्लेयर
GenericName[hr]=Multimedijski program
GenericName[hu]=Médialejátszó
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[ka]=მულტიმედია ცენტრი
GenericName[kk]=Мультимедиа плейері
GenericName[km]=កម្មវិធី​ចាក់​ពហុព័ត៌មាន​
GenericName[ko]=멀티미디어 재생기
GenericName[ku]=Lêdera Multîmedyayê
GenericName[lt]=Multimedijos grotuvas
GenericName[lv]=Multivides atskaņotājs
GenericName[mk]=Мултимедија-плеер
GenericName[ml]=മള്‍ട്ടിമീഡിയ പ്ലെയര്‍
GenericName[ms]=Pemain Multimedia
GenericName[nb]=Multimediespiller
GenericName[nds]=Multimedia-Afspeler
GenericName[ne]=मल्टिमिडिया प्लेयर
GenericName[nl]=Multimediaspeler
GenericName[nn]=Multimediespelar
GenericName[pa]=ਮਲਟੀਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor Multimídia
GenericName[ro]=Player multimedia
GenericName[ru]=Мультимедийный проигрыватель
GenericName[se]=Multimediačuojan
GenericName[sk]=Multimediálny prehrávač
GenericName[sl]=Večpredstavnostni predvajalnik
GenericName[sr]=Мултимедијални плејер
GenericName[sr@latin]=Multimedijalni plejer
GenericName[sv]=Multimediaspelare
GenericName[ta]=பல்ஊடக இயக்கி
GenericName[tg]=Плеери мултимедиа
GenericName[th]=โปรแกรมเล่นมัลติมีเดีย
GenericName[tr]=Çoklu Ortam Yürütücüsü
GenericName[uk]=Програвач файлів мультимедіа
GenericName[uz]=Multimedia pleyer
GenericName[uz@cyrillic]=Мултимедиа плейер
GenericName[vi]=Bộ phát nhạc/ảnh
GenericName[wa]=Djouweu multimedia
GenericName[x-test]=xxMultimedia Playerxx
GenericName[xh]=Umdlali we Multimedia
GenericName[zh_CN]=多媒体播放器
GenericName[zh_TW]=多媒體播放程式
Exec=xmms %U
Icon=xmms
MimeType=audio/mpeg;audio/x-mod;audio/x-wav;audio/x-flac;audio/x-mpegurl;audio/x-scpls;audio/x-vorbis+ogg;
Name=XMMS
Name[hi]=एक्सएमएमएस
Name[ml]=എക്സ്എംഎംഎസ്
Name[sr]=ИксММС
Name[te]=ఎక్స్ ఎం ఎం ఎస్
Name[x-test]=xxXMMSxx
Terminal=false
Type=Application
X-KDE-StartupNotify=false
X-KDE-Protocols=http
X-DBUS-StartupType=None
