[Desktop Entry]
GenericName=Playlist Tool
GenericName[af]=Liedjie speel lys Program
GenericName[ar]=أداة قائمة التشغيل
GenericName[be]=Сродак працы са спісам прайгравання
GenericName[bg]=Инструмент за списъци за изпълнение
GenericName[bn]=গানের তালিকা টুল
GenericName[br]=Ostilh roll tonioù
GenericName[ca]=Eina per a llistes de reproducció
GenericName[cs]=Nástroj pro Playlistu
GenericName[csb]=Nôrzãdze edicëji lëstë graniô
GenericName[cy]=Erfyn Rhestr Chwarae
GenericName[da]=Spilleliste-værktøj
GenericName[de]=Abspiellisten bearbeiten
GenericName[el]=Εργαλείο λίστας αναπαραγωγής
GenericName[eo]=Ludlistilo
GenericName[es]=Herramienta de lista de reproducción
GenericName[et]=Esitusnimekirja haldur
GenericName[eu]=Erreproduzigailu-zerrenda tresna
GenericName[fa]=ابزار فهرست پخش
GenericName[fi]=Soittolistatyökalu
GenericName[fr]=Outil pour liste de lecture
GenericName[fy]=Ofspyllist-helprogramma
GenericName[ga]=Uirlis Seinmliosta
GenericName[gl]=Lista de temas
GenericName[he]=כלי רשימות השמעה
GenericName[hi]=गीत-सूची औज़ार
GenericName[hr]=Alat za upravljanje popisima pjesama
GenericName[hu]=Lejátszólista-kezelő
GenericName[is]=Lagalistatól
GenericName[it]=Strumento per le playlist
GenericName[ja]=プレイリストツール
GenericName[ka]=რეპერტუარის პულტი
GenericName[kk]=Орындау тізімі
GenericName[km]=ឧបករណ៍​បញ្ជី​ចាក់
GenericName[ko]=재생 목록 도구
GenericName[ku]=Amûra Lîsteya Lêdanê
GenericName[lt]=Gaidaraščio priemonė
GenericName[lv]=Atskaņošanas saraksta rīks
GenericName[mk]=Алатка за листи со нумери
GenericName[ms]=Alat Senarai Siar
GenericName[nb]=Spillelisteverktøy
GenericName[nds]=Afspeellist-Warktüüch
GenericName[ne]=बजाउने सूची उपकरण
GenericName[nl]=Afspeellijst-hulprogramma
GenericName[nn]=Spelelisteverktøy
GenericName[pa]=ਪਲੇਅਲਿਸਟ ਟੂਲ
GenericName[pl]=Narzędzie do edycji listy odtwarzania
GenericName[pt]=Gestor de Listas de Reprodução
GenericName[pt_BR]=Ferramenta de Lista de Reprodução
GenericName[ro]=Utilitar listă redare
GenericName[ru]=Список песен
GenericName[se]=Čuojahanlistoreaidu
GenericName[sk]=Nastroj pre Playlisty
GenericName[sl]=Orodje za predvajalni seznam
GenericName[sr]=Алатка за листе нумера
GenericName[sr@latin]=Alatka za liste numera
GenericName[sv]=Spellistverktyg
GenericName[ta]=விளையாட்டு பட்டியல் கருவி
GenericName[te]=ప్లెలిస్ట్ పనిముట్టు
GenericName[tg]=Рӯйхати сурудҳо
GenericName[th]=เครื่องมือรายการเล่น
GenericName[tr]=Çalma Listesi Aracı
GenericName[uk]=Alat Senarai Siar
GenericName[uz]=Қўшиқлар рўйхати учун восита
GenericName[vi]=Công cụ danh mục nhạc
GenericName[wa]=Usteye po djivêyes a djouwer
GenericName[x-test]=xxPlaylist Toolxx
GenericName[xh]=Isixhobo Soluhlu lokudlala
GenericName[zh_CN]=播放列表工具
GenericName[zh_TW]=播放列表工具
Exec=xmms -e %F
Icon=xmms
MimeType=audio/mpeg;audio/x-mod;audio/x-flac;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-vorbis+ogg;
Name=Enqueue in XMMS
Name[af]=Gooi in XMMS wagtou
Name[be]=Дадаць у чаргу XMMS
Name[br]=Lostañ e XMMS
Name[ca]=Posa a la cua de l'XMMS
Name[cs]=Zařazení skladby do XMMS
Name[csb]=Kòlejkòwanié XMMS
Name[cy]=Rhestru yn XMMS
Name[da]=Sæt i kø i XMMS
Name[de]=XMMS-Warteschlange
Name[el]=Στην ουρά του XMMS
Name[eo]=Envicigi en XMMS
Name[es]=Encolar en XMMS
Name[et]=XMMS Enqueue
Name[eu]=XMMSen sartu
Name[fr]=Mettre dans la liste de lecture XMMS
Name[fy]=Yn XMMS-spyllist pleatse
Name[ga]=Enqueue i XMMS
Name[gl]=Por en espera en XMMS
Name[he]=הוסף לרשימה ב־XMMS
Name[hi]=एक्सएमएमएस में लाइन से लगाएँ
Name[hr]=Dodaj na XMMS popis pjesama
Name[hu]=XMMS sorkezelő
Name[is]=Setja í biðröð í XMMS
Name[it]=Metti in coda in XMMS
Name[ja]=XMMS に登録
Name[ka]=XMMS რიგში ჩაყენება
Name[kk]=XMMS-ке кіріспе
Name[km]=លំដាប់​ក្នុង XMMS
Name[ko]=XMMS에 예약
Name[ku]=Di XMMS'ê de têxe rêzê
Name[lv]=Ierindot XMMS
Name[mk]=Во редица на XMMS листа
Name[nb]=Legg i køen til XMMS
Name[nds]=To de List vun XMMS tofögen
Name[ne]=XMMS मा लाम लगाउनुहोस्
Name[nl]=In XMMS-speellijst plaatsen
Name[nn]=Legg i XMMS-spelelista
Name[pa]=XMMS ਵਿੱਚ ਸ਼ਾਮਿਲ
Name[pl]=Kolejkowanie XMMS
Name[pt]=Pôr na lista do XMMS
Name[pt_BR]=Colocar na lista do XMMS
Name[ro]=Adaugă la lista XMMS
Name[ru]=Введение в XMMS
Name[se]=Lasit XMMS-čuojahanlistui
Name[sk]=Enqueue v XMMS
Name[sl]=Uvrsti v XMMS
Name[sr]=Додај у ИксММС
Name[sr@latin]=Dodaj u XMMS
Name[sv]=Köa i XMMS
Name[ta]=XMMSல் உள்ள வரிசைமுறைமை
Name[tg]=Муқаддимаи XMMS
Name[th]=ต่อคิวเล่นใน XMMS
Name[tr]=XMMS'de sıraya ekle
Name[vi]=Xếp vào hàng XMMS
Name[wa]=Ecawer dins XMMS
Name[x-test]=xxEnqueue in XMMSxx
Name[xh]=Folisa kwi XMMS
Name[zh_CN]=加入 XMMS 播放列表
Name[zh_TW]=加入 XMMS 播放列表
Terminal=false
Type=Application
NoDisplay=true
X-KDE-StartupNotify=false
