[Desktop Entry]
Encoding=UTF-8
GenericName=Playlist Tool
GenericName[af]=Liedjie speel lys Program
GenericName[br]=Ostilh roll tonioù
GenericName[ca]=Eina per a llistes de reproducció
GenericName[cs]=Nástroj pro Playlistu
GenericName[csb]=Nôrzãdze edicëji lëstë graniô
GenericName[cy]=Erfyn Rhestr Chwarae
GenericName[da]=Spilleliste-værktøj
GenericName[de]=Abspiellisten bearbeiten
GenericName[el]=Εργαλείο λίστας αναπαραγωγής
GenericName[eo]=Ludlisto-programo
GenericName[es]=Herramienta de lista de reproducción
GenericName[et]=Esitusnimekirja haldur
GenericName[eu]=Erreproduzigailu-zerrenda tresna
GenericName[fa]=ابزار فهرست پخش
GenericName[fi]=Soittolistatyökalu
GenericName[fr]=Outil pour liste de lecture
GenericName[fy]=Ofspyllist-helprogramma
GenericName[ga]=Uirlis Seinmliosta
GenericName[gl]=Lista de Reproducións
GenericName[he]=כלי רשימות ניגון
GenericName[hr]=Alat za upravljanje popisima pjesama
GenericName[hu]=Lejátszólista-kezelő
GenericName[is]=Lagalistatól
GenericName[it]=Strumento per le playlist
GenericName[ja]=プレイリストツール
GenericName[ka]=რეპერტუარის პულტი
GenericName[kk]=Орындау тізімі
GenericName[km]=ឧបករណ៍​បញ្ជី​ចាក់
GenericName[ko]=연주 목록 도구
GenericName[lt]=Grojaraščio sudarymo priemonė
GenericName[lv]=Atskaņošanas saraksta rīks
GenericName[mk]=Алатка за листи со нумери
GenericName[ms]=Alat Senarai Siar
GenericName[nb]=Spillelisteverktøy
GenericName[nds]=Afspeellist-Warktüüch
GenericName[ne]=प्ले सूची उपकरण
GenericName[nl]=Afspeellijst-hulprogramma
GenericName[nn]=Spelelisteverktøy
GenericName[pa]=ਸੰਗੀਤ ਸੂਚੀ ਸੰਦ
GenericName[pl]=Narzędzie do edycji listy odtwarzania
GenericName[pt]=Gestão de Listas de Reprodução
GenericName[pt_BR]=Lista de reprodução
GenericName[ro]=Utilitar listă redare
GenericName[ru]=Список песен
GenericName[se]=Čuojahanlistoreaidu
GenericName[sl]=Orodje za predvajalni seznam
GenericName[sr]=Алат за листе нумера
GenericName[sr@Latn]=Alat za liste numera
GenericName[sv]=Spellistverktyg
GenericName[ta]=விளையாட்டு பட்டியல் கருவி
GenericName[te]=ప్లెలిస్ట్ పనిముట్టు
GenericName[tg]=Рӯйхати сурудҳо
GenericName[tr]=Çalma Listesi Aracı
GenericName[uk]=Засіб списку композицій
GenericName[uz]=Қўшиқлар рўйхати учун восита
GenericName[x-test]=xxPlaylist Toolxx
GenericName[xh]=Isixhobo Soluhlu lokudlala
GenericName[zh_TW]=播放列表工具
Exec=xmms -e %F
Icon=xmms
MimeType=audio/mpeg;audio/x-mod;audio/x-flac;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-vorbis+ogg
Name=Enqueue in XMMS
Name[af]=Gooi in XMMS wagtou
Name[ar]=صف في صف إنتظار XMMS
Name[br]=Lostañ e XMMS
Name[ca]=Cua XMMS
Name[cs]=Zařazení skladby do XMMS
Name[csb]=Kòlejkòwanié XMMS
Name[cy]=Rhestru yn XMMS
Name[da]=Sæt i kø i XMMS
Name[de]=XMMS-Warteschlange
Name[el]=Στην ουρά του XMMS
Name[eo]=Enqueue en XMMS
Name[es]=Encolar en XMMS
Name[et]=XMMS Enqueue
Name[eu]=XMMSen sartu
Name[fr]=Mettre dans la liste de lecture XMMS
Name[fy]=Yn XMMS-spyllist pleatse
Name[ga]=Enqueue i XMMS
Name[gl]=Por á cola en XMMS
Name[hr]=Dodaj na XMMS popis pjesama
Name[hu]=XMMS sor
Name[is]=Setja í biðröð í XMMS
Name[it]=Metti in coda in XMMS
Name[ja]=XMMS に登録
Name[ka]=XMMS რიგში ჩაყენება
Name[kk]=XMMS-ке кіріспе
Name[km]=ដាក់​ជា​ជួរ​ក្នុង XMMS
Name[lv]=Ierindot XMMS
Name[mk]=Во редица на XMMS листа
Name[nb]=Legg i køen til XMMS
Name[nds]=To de List vun XMMS tofögen
Name[ne]=XMMS मा लाम लगाउनुहोस्
Name[nl]=In XMMS-speellijst plaatsen
Name[nn]=Legg i XMMS-spelelista
Name[pa]=XMMS ਵਿੱਚ ਸ਼ਾਮਿਲ
Name[pl]=Kolejkowanie XMMS
Name[pt]=Pôr na lista do XMMS
Name[pt_BR]=Colocar na lista do XMMS
Name[ro]=Adaugă la lista XMMS
Name[ru]=Введение в XMMS
Name[se]=Lasit XMMS-čuojahanlistui
Name[sl]=Uvrsti v XMMS
Name[sr]=Додај у XMMS
Name[sr@Latn]=Dodaj u XMMS
Name[sv]=Köa i XMMS
Name[ta]=XMMSல் உள்ள வரிசைமுறைமை
Name[tg]=Муқаддимаи XMMS
Name[tr]=XMMS'de sıraya ekle
Name[uk]=В чергу до XMMS
Name[x-test]=xxEnqueue in XMMSxx
Name[xh]=Folisa kwi XMMS
Name[zh_TW]=加入 XMMS 播放列表
Path=
Terminal=false
Type=Application
NoDisplay=true
X-KDE-StartupNotify=false
