[Desktop Entry]
Encoding=UTF-8
GenericName=Multimedia Player
GenericName[af]=Multimedia Speler
GenericName[ar]=قارئ الوسائط المتعددة
GenericName[be]=Мультымедыйны прайгравальнік
GenericName[bg]=Мултимедиен плеър
GenericName[br]=Ur c'hoarier liesvedia
GenericName[ca]=Reproductor multimèdia
GenericName[cs]=Přehrávač multimédií
GenericName[csb]=Mùltimedialny grôcz
GenericName[cy]=Chwaraewr Amlgyfrwng
GenericName[da]=Multimedieafspiller
GenericName[de]=Multimediawiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[eo]=Plurmedia ludilo
GenericName[es]=Reproductor multimedia
GenericName[et]=Multimeedia mängija
GenericName[eu]=Multimedia erreproduzigailua
GenericName[fa]=پخش‌کنندۀ چند رسانه‌ای
GenericName[fi]=Multimediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[fy]=Multimediaspiler
GenericName[ga]=Seinnteoir Ilmheán
GenericName[gl]=Reprodutor Multimédia
GenericName[he]=נגן מולטימדיה
GenericName[hr]=Multimedijski program
GenericName[hu]=Médialejátszó
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤ
GenericName[ka]=მულტიმედია ცენტრი
GenericName[kk]=Мультимедиа плейері
GenericName[km]=កម្មវិធី​ចាក់​ពហុ​ព័ត៌មាន​
GenericName[ko]=멀티미디어 재생기
GenericName[lt]=Multimedia grotuvas
GenericName[lv]=Multimēdiju Atskaņotājs
GenericName[mk]=Мултимедија-плеер
GenericName[ms]=Pemain Multimedia
GenericName[nb]=Multimediaspiller
GenericName[nds]=Multimedia-Afspeler
GenericName[ne]=मल्टिमिडिया प्लेयर
GenericName[nl]=Multimediaspeler
GenericName[nn]=Multimediespelar
GenericName[pa]=ਬਹੁਰੰਗ ਵਾਜਾ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor Multimídia
GenericName[ro]=Program de redare multimedia
GenericName[ru]=Мультимедийный проигрыватель
GenericName[se]=Multimediačuojan
GenericName[sl]=Večpredstavnostni predvajalnik
GenericName[sr]=Мултимедијални приказивач
GenericName[sr@latin]=Multimedijalni prikazivač
GenericName[sv]=Multimediaspelare
GenericName[ta]=பல்ஊடக சாதனம்
GenericName[tg]=Плейери мултимедиявӣ
GenericName[th]=โปรแกรมเล่นมัลติมีเดีย
GenericName[tr]=Çoklu Ortam Yürütücüsü
GenericName[uk]=Програвач файлів мультимедіа
GenericName[uz]=Мултимедиа плейер
GenericName[vi]=Bộ phát nhạc/ảnh
GenericName[wa]=Djouweu multimedia
GenericName[x-test]=xxMultimedia Playerxx
GenericName[xh]=Umdlali we Multimedia
GenericName[zh_CN]=多媒体播放器
GenericName[zh_TW]=多媒體播放程式
Exec=xmms %U
Icon=xmms
MimeType=audio/mpeg;audio/x-mod;audio/x-wav;audio/x-flac;audio/x-mpegurl;audio/x-scpls;audio/x-vorbis+ogg
Name=XMMS
Name[x-test]=xxXMMSxx
Path=
SwallowExec=
SwallowTitle=
Terminal=false
Type=Application
X-KDE-StartupNotify=false
X-KDE-Protocols=http
X-DBUS-StartupType=None
