[Desktop Entry]
Name=XMovie
Name[af]=XMovie
Name[ar]=أفلام x
Name[as]=XMovie
Name[be]=XMovie
Name[be@latin]=XMovie
Name[bg]=XMovie
Name[bn]=এক্স-মুভি
Name[bn_IN]=XMovie
Name[br]=XMovie
Name[ca]=XMovie
Name[ca@valencia]=XMovie
Name[cs]=XMovie
Name[csb]=XMovie
Name[cy]=XMovie
Name[da]=XMovie
Name[de]=XMovie
Name[el]=XMovie
Name[en_GB]=XMovie
Name[eo]=X-Movie
Name[es]=XMovie
Name[et]=XMovie
Name[eu]=XMovie
Name[fi]=XMovie
Name[fr]=XMovie
Name[fy]=XMovie
Name[ga]=XMovie
Name[gl]=XMovie
Name[gu]=XMovie
Name[he]=XMovie
Name[hi]=एक्समूवी
Name[hne]=एक्समूवी
Name[hr]=XMovie
Name[hsb]=XMovie
Name[hu]=XMovie
Name[is]=XMovie
Name[it]=XMovie
Name[ja]=XMovie
Name[ka]=XMovie
Name[kk]=XMovie
Name[km]=XMovie
Name[kn]=ಕ್ಸಚಲಚ್ಚಿತ್ರ
Name[ko]=XMovie
Name[ku]=XMovie
Name[lt]=XMovie
Name[lv]=XMovie
Name[mai]=एक्समूवी
Name[mk]=XMovie
Name[ml]=എക്സ്‌മൂവി
Name[mr]=XMovie
Name[ms]=XMovie
Name[nb]=XMovie
Name[nds]=XMovie
Name[ne]=X चलचित्र
Name[nl]=XMovie
Name[nn]=XMovie
Name[oc]=XMovie
Name[or]=XMovie
Name[pa]=XMovie
Name[pl]=XMovie
Name[pt]=XMovie
Name[pt_BR]=XMovie
Name[ro]=XMovie
Name[ru]=XMovie
Name[se]=XMovie
Name[si]=XMovie
Name[sk]=XMovie
Name[sl]=XMovie
Name[sr]=Икс‑филм
Name[sr@latin]=X‑film
Name[sv]=Xmovie
Name[ta]=Xபடம்
Name[te]=ఎక్స్ మూవి
Name[tg]=XMovie
Name[th]=XMovie
Name[tr]=XMovie
Name[uk]=XMovie
Name[uz]=XMovie
Name[uz@cyrillic]=XMovie
Name[vi]=Phim X
Name[wa]=XMovie
Name[xh]=XMovie
Name[x-test]=xxXMoviexx
Name[zh_CN]=XMovie
Name[zh_TW]=XMovie
GenericName=Video Player
GenericName[af]=Video Speler
GenericName[ar]=مشغل الفيديو
GenericName[as]=Video Player
GenericName[be]=Відэапрайгравальнік
GenericName[be@latin]=Prajhravańnik videa
GenericName[bg]=Видео плеър
GenericName[bn]=ভিডিও প্রদর্শক
GenericName[bn_IN]=ভিডিও বাদন
GenericName[br]=Ur soner Video
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[csb]=Grôcz Video
GenericName[cy]=Chwaraewr Fideo
GenericName[da]=Videoafspiller
GenericName[de]=Ein Abspielprogramm für Videos
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[eo]=Legilo por videofilmoj
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzigailua
GenericName[fa]=پخش‌کنندۀ ویدیو
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[fy]=Fideospiler
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[gu]=વિડીઓ પ્લેયર
GenericName[he]=נגן וידאו
GenericName[hi]=वीडियो प्लेयर
GenericName[hne]=वीडियो प्लेयर
GenericName[hr]=Video program
GenericName[hsb]=Widejowy wothrawak
GenericName[hu]=Videólejátszó
GenericName[is]=Forrit til að spila kvikmyndir
GenericName[it]=Lettore di video
GenericName[ja]=動画プレーヤー
GenericName[ka]=Видео Player
GenericName[kk]=Бейнеплейер
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[kn]=ದೃಷ್ಯಾಂಶ (ವಿಡಿಯೋ) ನಿರೂಪಕ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyan
GenericName[lt]=Vaizdo grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[mk]=Видеоплеер
GenericName[ml]=ചലച്ചിത്രദര്‍ശിനി
GenericName[mr]=वीडियो प्लेयर
GenericName[ms]=Pemain Video
GenericName[nb]=Videospiller
GenericName[nds]=Video-Afspeler
GenericName[ne]=भिडियो प्लेयर
GenericName[nl]=Videospeler
GenericName[nn]=Videospelar
GenericName[oc]=Video Player
GenericName[or]=ଭିଡ଼ଓ ଚାଳକ
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz Video
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Проигрыватель видео
GenericName[se]=Videočuojan
GenericName[si]=දෘශ්‍ය වාදකය
GenericName[sk]=Video prehrávač
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Filmspelare
GenericName[ta]=பதிவொலி சாதனம்
GenericName[te]=విడియొ ప్లెయర్
GenericName[tg]=Плеери видео
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Yürütücüsü
GenericName[uk]=Програвач відеофайлів
GenericName[uz]=Video pleyer
GenericName[uz@cyrillic]=Видео плейер
GenericName[vi]=Bộ phát ảnh động
GenericName[wa]=Djouweu di fitchîs videyo
GenericName[xh]=Umdlali we Video
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=視像檔播放程式
Exec=xmovie
Terminal=false
Icon=xmovie
MimeType=video/x-msvideo;video/quicktime;video/x-flic;video/mpeg;video/x-mpeg;
InitialPreference=10
Type=Application
