[Desktop Entry]
Exec=zynaddsubfx
Icon=
Name=ZynaddsubFX
Name[ar]=مازج ZynaddsubFX
Name[hi]=जैडनाडसबएफएक्स
Name[hne]=जैडनाडसबएफएक्स
Name[kn]=ಜೈನಾಡ್ ಸಬ್ ಫಕ್ಸ
Name[lt]=Cynosure
Name[mai]=जैडनाडसबएफएक्स
Name[mr]=जैडनाडसबएफएक्स
Name[sr]=Зинадсуб‑ФИкс
Name[sv]=Zynaddsubfx
Name[x-test]=xxZynaddsubFXxx
GenericName=Soft Synth
GenericName[ar]=منظم البرامج
GenericName[be@latin]=Prahramny syntezatar
GenericName[bn]=সফ্‌ট-সিন্থ
GenericName[bn_IN]=সফ্ট সিন্থ
GenericName[ca]=Programa sintetitzador
GenericName[ca@valencia]=Programa sintetitzador
GenericName[cs]=Softwérová syntéza
GenericName[csb]=Softwôra - syntezatora
GenericName[de]=Software-Synthesizer
GenericName[eo]=Programa sintezilo
GenericName[es]=Sintetizador por software
GenericName[fr]=Synthétiseur logiciel
GenericName[ga]=Sintéiseoir Bog
GenericName[gl]=Sintetizador por software
GenericName[gu]=સોફ્ટ સિન્થ
GenericName[he]=סינתסייזר רך
GenericName[hi]=सॉफ़्ट सिंथ
GenericName[hne]=साफ्ट सिंथ
GenericName[hu]=Szoftveres szintetizátor
GenericName[id]=Synth Lembut
GenericName[it]=Sintetizzatore software
GenericName[ja]=ソフトシンセ
GenericName[kk]=Бағдарламалық синтезатор
GenericName[kn]=ಮೆದು ಸಿಂಥ್
GenericName[ko]=소프트웨어 신디사이저
GenericName[lt]=Programinis sintezatorius
GenericName[lv]=Sintezatora programma
GenericName[mai]=साफ्ट सिंथ
GenericName[mk]=Софтверски синтисајзер
GenericName[ml]=സോഫ്റ്റ് സിന്ത്
GenericName[mr]=सॉफ्ट सिंथ
GenericName[nb]=Programsynth
GenericName[nds]=Software-Klangteler
GenericName[ne]=सफट सिन्थ
GenericName[nl]=Soft-synthesizer
GenericName[nn]=Programsynt
GenericName[pt]=Sintetizador por Software
GenericName[pt_BR]=Software sintetizador
GenericName[ru]=Программный синтезатор
GenericName[se]=Prográmmasynta
GenericName[sl]=Programski sintetizator
GenericName[sr]=Меки синт
GenericName[sr@latin]=Meki sint
GenericName[sv]=Mjukvarusynt
GenericName[te]=సాఫ్‍ట్ సింథ్
GenericName[th]=โปรแกรมสังเคราะห์เสียง
GenericName[tr]=Soft Sentezleyici
GenericName[uk]=Програмний синтезатор
GenericName[wa]=Doûs sintetijheu
GenericName[x-test]=xxSoft Synthxx
GenericName[zh_CN]=软件合成器
GenericName[zh_TW]=軟體合成器
StartupNotify=false
Type=Application
Categories=Music;AudioVideo;
