[Desktop Entry]
Encoding=UTF-8
Exec=zynaddsubfx
Icon=
Name=ZynaddsubFX
Name[sv]=Zynaddsubfx
Name[ta]=சயண்டன்சப்பெஸ்
Name[x-test]=xxZynaddsubFXxx
GenericName=Soft Synth
GenericName[bg]=Софтуерен синтезатор
GenericName[br]=Kenaozer a-veziant
GenericName[cs]=Softwarová syntéza
GenericName[cy]=Synth Meddal
GenericName[da]=Blød synth
GenericName[de]=Software-Synthesizer
GenericName[es]=Sintetizador por software
GenericName[et]=Tarkvaraline süntesaator
GenericName[fa]=ترکیب‌دهندۀ نرم‌افزاری
GenericName[fi]=Pehmeä synteesi
GenericName[fr]=Synthétiseur logiciel
GenericName[he]=סינטיסייזר רך
GenericName[hu]=Szoftveres szintetizátor
GenericName[is]=Mjúkur hljóðgervill
GenericName[it]=Sintetizzatore Software
GenericName[ja]=ソフトシンセ
GenericName[kk]=Бағдарламалық синтезатор
GenericName[km]=Synth ស្រទន់
GenericName[mk]=Софтверски синтисајзер
GenericName[nb]=Programvaresynt
GenericName[nds]=Software-Klangteler
GenericName[ne]=सफ्ट सिन्थ
GenericName[nl]=Software Synthesizer
GenericName[nn]=Programvaresynt
GenericName[pt]=Sintetizador por Software
GenericName[pt_BR]=Sintetizador de software
GenericName[ro]=Sintetizator software
GenericName[ru]=Программный синтезатор
GenericName[sl]=Mehki Synth
GenericName[sr]=Софтверски синтетизатор
GenericName[sr@latin]=Softverski sintetizator
GenericName[sv]=Programvarusynt
GenericName[ta]=மென்மையான சிந்த்
GenericName[tr]=Yumuşak Sentez
GenericName[uk]=Програмний синтезатор
GenericName[x-test]=xxSoft Synthxx
GenericName[zh_HK]=軟件合成器
GenericName[zh_TW]=軟體合成器
StartupNotify=false
Type=Application
Categories=Music;AudioVideo;
